<Card @label="Learn More" @src="assets/images/card/talks.jpg" @title="Our Talks">
  <p class="typography.body-text">
    We share our expertise and experience with others at conferences around the world.
  </p>
  <ArrowLink @href="/talks">
    View Talks
  </ArrowLink>
</Card>