@import 'helpers';

.about-main {
 padding-top: 50px;
 padding-bottom: 50px;

  h3 { text-align: left; }

  p { padding: 15px 15px 5px 15px; }

  a:hover { text-decoration: underline; }

  i.munich-ember-meetup {
    @include icon("/images/logos/munich-ember-meetup", "png", 84px, 90px);
  }

  i.bits-connect {
    @include icon("/images/logos/bits-connect", "png", 72px, 90px);
  }

  .associations {
    margin-top: 20px;
    text-align: center;

    a {
      border: none;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}


