---
---

@import 'typography';
@import 'color-scheme';
@import 'icons';
@import 'syntax';

#main-menu {
  margin-bottom: 0;

  li.page {
    width: 8%;
  }

  a {
    padding: 15px 0;
    display: inline-block;
    border-bottom: none;

    span {
      border-bottom: 1px solid transparent;
    }

    &:hover, &.active {
      span {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
  }

  img {
    width: 100px;
    height: 17px;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

}

#main-content {
  min-height: 100%;

  .content-section {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &.separated {
      &:after {
        margin-left: 15px;
        padding-top: 60px;
        width: calc(100% - 30px);
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &.split-section:last-child:after {
      border-bottom: none;
      padding-top: 0;
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

#main-section {
  margin: 60px auto;

  &.index {
    margin-top: 0;
  }

  & > .row {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h3 {
  margin: 0 0 40px 0;
}

h4, h5 {
  margin: 0 0 20px 0;
}

p, pre {
  margin: 0 0 20px 0;
}

ul {
  margin-left: 0;
  padding-left: 0;

  li {
    margin-left: 1em;
  }
}

.highlight {
  border: none;
  padding: 20px;
}

.custom-button {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  padding: 5px 50px 5px 50px;
}

.secondary-banner {
  width: 100%;
  padding: 20px 0;

  &.workshop-banner {
    background-image: none;

    a {
      display: inline-block;
    }
  }

  &.elixir-workshop-banner {
    margin-top: 60px;
  }

  .contact-button {
    margin-top: 4px;
  }

  h4 {
    margin: 10px 0;
  }
}

#footer {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;

  #footer-logo {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    border: none;

    .navbar-text {
      margin-left: 0;
    }

    i {
    	margin-top: 19px;
    }
  }
  
  ul {

    li {

      a {
        border: none;
      }
    }
  }
}

.primary-banner {
  padding: 20px 0;
  height: 180px;

  &.main-page {
    padding: 100px 0;
    height: auto;

    p {
      margin: 0 20px 0 20px;

      &:last-child {
        margin-top: 10px;
      }
    }
  }

  .row {
    padding: 20px 0;
  }

  h2 {
    margin: 0 auto 10px auto;
  }

  p {
    margin: 0;
    overflow: visible;
  }

  strong {
    padding: 3px;
  }
}

.primary-banner, .secondary-banner {
  background-image: url('../images/banner-background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300% 300%;
}

.content-teaser {
  p {
    padding-top: 10px;
    padding-bottom: 10px; 
  }
}

.client-logos {
  text-align: center;
  position: relative;
  padding-top: 60px;

  i {
    height: 80px;
  }
}

#main-section.index {
  .client-logos {
    i {
      opacity: 1;
      transition: opacity 0.15s ease-in-out;
    }

    a {
      position: absolute;
      display: block;
      width: 100%;
      top: calc(50% - 1em - 50px);
      z-index: 9999;
      padding: 50px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    &:hover {
      i {
        opacity: 0.15;
      }

      a {
        opacity: 1;
      }
    }
  }
}

.tools {
  .tool {
    text-align: center;

    i {
      height: 110px;
    }
  }
}

#map-canvas {
  height: 250px;
  margin: 0 0 10px;
}

.address > span {
  display: block;
  clear: both;
}

.articles {
  .custom-button {
    margin: 10px 0 0 0;
  }
}

.workshops {
  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

#main-content {
  .articles, .workshops {
    .separated:last-child:after {
      padding-top: 0;
      border-bottom: none;
    }
  }
}

.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.article {
  h4, h5 {
    margin-top: 40px;
  }

  p, ul {
    width: 83.33333333%;
    margin-right: auto;
    margin-left: auto;

    img {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  p {
    &:first-of-type {
      margin-bottom: 40px;
    }
  }

  .article-meta {
    margin: 0 0 20px 0;
  }
}

.author {
  span, i.author {
    display: block;
  }

  span.author {
    margin: 10px 0;
  }

  i.author {
    margin: 0 auto;
    filter: none;
    -webkit-filter: none;
  }
}

#comment-section {
  margin: 60px auto;
}

.workshop {
  h4 {
    text-align: left;
    margin-top: 10px;

    .number {
      display: none;
    }
  }

  p, ul {
    margin-right: auto;
    margin-left: auto;
  }

  .description {
    margin-bottom: 60px;

    p {
      width: 83.33333333%;
    }

    &:after {
      content: " ";
      clear: both;
      padding-top: 40px;
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: table;
      box-sizing: border-box;
    }

    &.split-section:after {
      width: calc(50% - 30px);
    }
  }

  .workshop-meta {
    margin: 0 0 20px 0;
  }

  .stage {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      margin: 0 0 20px 0;
    }

    .custom-button {
      cursor: pointer;
    }

    .number > div {
      position: relative;
      width: 100%;

      &:before{
      	content: "";
      	display: block;
      	padding-top: 100%;
      }

      .icon {
        background-image: url('../images/banner-background.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300% 300%;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: none;
        -webkit-filter: none;
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  .agenda-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    .agenda-item {
      margin: 0 0 40px 0;
      padding: 0 15px;

      &:last-child {
        margin-bottom: 60px;
      }

      h5 {
        margin: 10px 0;
      }

      .start-time{
        margin-top: 4px;
      }
    }
  }
}

#main-content {
  .content-section {
    &.workshop {
      margin-bottom: -60px;
    }
  }
}

.error-page {
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  #main-menu {
    .navbar-left {
      display: none !important;
    }

    li.page {
      width: 100%;
    }
  }

  #main-content {
    .content-section.separated.split-section:after {
      width: calc(100% - 30px);
    }

    .content-teaser {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .workshops {
      .icon {
        margin-bottom: 20px;
      }
    }

    .workshop {
      .stage {
        .number {
          display: none;
        }

        h4 {
          .number {
            display: inline;
          }
        }
      }
    }
  }

  .secondary-banner {
    .contact-button {
      float: none !important;
    }
  }
}
