---
---

@import 'typography';
@import 'colour-scheme';
@import 'blog-list-page';
@import 'cases-and-blog';
@import 'logos';

@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}

#main-menu {
  margin-bottom: 0;
  text-align: center;

  li.page {
    width: 12%;
  }

  a {
    padding: 15px;
    display: inline-block;
    border-bottom: none;

    span {
      border-bottom: 1px solid transparent;
    }

    &:hover, &.active {
      span {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
  }

  img {
    width: 100px;
    height: 18px;
    min-width: 100px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }

    .navbar-nav > li {
      float: none;
      display: inline-block;
      margin-top: 0;

      &.navbar-right {
        float: right;
      }
    }
  }

  .navbar-brand { width: 100%; }
  .navbar-brand:hover { border: none; }  
}

#main-content {
  min-height: 100%;

  .content-section {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &.separated {
      &:after {
        margin-left: 15px;
        padding-top: 60px;
        width: calc(100% - 15px);
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }

      &.split-section:after {
        width: calc(50% - 15px);
      }
    }

    &.split-section:last-child:after {
      border-bottom: none;
      padding-top: 0;
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

#main-section {
  margin: 60px auto;

  & > .row {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.custom-button {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  padding: 5px 50px 5px 50px;
}

.contact-banner {
  width: 100%;
  background-image: url('../images/contact-banner-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  color: #fff;

  .contact-button {
    margin-top: 4px;
  }
}

#footer {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;

  #footer-logo {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    border: none;
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    i {
    	margin-top: 19px;
    }
  }
  
  ul {

    li {

      a {
        border: none;
        text-align: center;
      }
    }
  }
}

.top-banner {
  text-align: center;
  background-image: url('../images/cases-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  height: 180px;

  &.main-page {
    padding: 100px 0;
    height: auto;
  }

  .row {
    padding: 20px 0;
  }

  h2 {
    margin: 0 auto 10px auto;
  }

  p {
    margin: 0;
    overflow: show;
  }

  strong {
    padding: 3px;
  }
}

.content-teaser {
  p {
    padding-top: 10px;
    padding-bottom: 10px; 
  }
}

.client-logos {
  a {
    display: block;
    width: 100%;
    text-align: center;

    i {
      height: 100px;
    }
  }
}

.tools {
  .main-tools {
    .row:first-child {
      margin-bottom: 60px;
    }

    i {
      width: 130px;
    }
  }

  .other-tools {
    a {
      display: block;
      width: 100%;
      text-align: center;

      i {
        height: 40px;
      }
    }
  }
}

#map-canvas {
  height: 250px;
  margin: 0 0 10px;
}

.address > span {
  display: block;
  clear: both;
}

.articles {
  .article-meta {
    font-size: 12px;
  }

  .custom-button {
    margin: 10px 0 0 0;
  }
}

#main-content {
  .articles {
    .separated:last-child:after {
      padding-top: 0;
      border-bottom: none;
    }
  }
}