---
---

@import 'helpers';
@import 'typography';
@import 'colour-scheme';
@import 'about-page';
@import 'blog-list-page';
@import 'cases-and-blog';
@import 'clients-page';
@import 'contact';
@import 'home-page';
@import 'process-page';
@import 'services-page';

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

#main-menu {
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;

  a {
    padding-bottom: 2px;
    display: inline-block;
  }

  a:hover, .active {
    padding-bottom: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid; 
  }

  img {
    width: 100px;
    height: 18px;
    min-width: 100px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }

    .navbar-nav > li {
      float: none;
      display: inline-block;
      margin-top: 0;
    }

    .navbar-nav > li.navbar-right { float: right; }
  }

  .navbar-brand { width: 100%; }
  .navbar-brand:hover { border: none; }  
}

#main-content {
  min-height: 100%;
}

.custom-button {
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding: 5px 50px 5px 50px;
}

#footer {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;

  #footer-logo {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
    border: none;
    text-align: left;

    @media screen and (max-width: 768px) { text-align: center; }

    i {
    	margin-top: 19px;
    	@include icon("/images/menu-logo-active", "png", 60px, 10.8px);
    }
  }
  
  ul {

    li {

      a {
        border: none;
        text-align: center;

        @media screen and (max-width: 768px) { text-align: center; }        
      }
    }
  }
}

.top-other-banner {
  height: 150px;
  width: 100%;
  text-align: center;
  background-image: url('../images/cases-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;


  div { @include vertical-align(); }
  p { padding: 3px;}
  span {  padding: 3px;}
}

.banner-small {
  height: 100px;
  background-image: url('../images/top-banner-small.png');
}

.contact-section {
  height: 100px;
  width: 100%;
  margin: 0 0 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100px;
  color: #fff;
  text-align: center;

  @media (min-width: 768px) {
    div {
      @include vertical-align();
    }
  }

  @media (max-width: 768px) {  padding-top: 15px;}
}

.other-contact-bg {
  background-image: url('../images/other-contact-banner.png');
}

.bottom-other-banner {
  height: 50px;
  width: 100%;
  text-align: center;
  background-image: url('../images/other-contact-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 50px;
}

.case-study {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px; 
  }

  .case-study-tags {
    padding-top: 20px;
    .case-study-tags-left { text-align: left;}
    .case-study-tags-right {  text-align: right;}
  }
}

.title-bottom-border {
  border-width: 0 0 1px 0;
  border-bottom-style: solid;
  margin-left: -20px;
}