---
---

@import 'helpers';

body {
  height: 100%;
  line-height: 1.7;
  font-weight: 300;
  letter-spacing: 1px;
  color: #676767;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

#main-menu {
  margin-bottom: 0;
  background-color: #fff;
  font-size: 12px;

  a {
    color: #000;
  }

  img {
    width: 100px;
    height: 18px;
    min-width: 100px;
  }

  @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;

    }

    .navbar-nav > li {
      float: none;
      display: inline-block;
      margin-top: 0;
    }

    .navbar-nav > li.navbar-right {
      float: right !important;
    }
  }
}

#main-content {
  min-height: 100%;
}

#content {
  
}

.blue-btn {
  border-color: #2b98de;
  border-style: solid;
  border-width: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  background-color: #fff;
  color: #2b98de;
  padding: 5px 50px 5px 50px;
}

.white-btn {
  border-color: #fff;
  border-style: solid;
  border-width: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  background-color: #2b98de;
  color: #fff;
  padding: 5px 50px 5px 50px;

}

#footer {
  margin-bottom: 0;
  bottom: 0;
  border-top: 1px solid #ccc;
  background-color: #fff;
  height: 50px;
  width: 100%;

  #footer-logo {
    font-size: 10.8px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;

    i {
    	margin-top: 19px;
    	@include icon("/images/menu-logo-active", "png", 60px, 10.8px);
    }
  }
  
  ul {
    width: 40%;

    li {
      width: 20%;

      a {
      	font-size: 11px;
        color: #000;
        background-color: #fff;
        border: none;

        &:hover, &.active {
          background-color: #fff;
          color: #0480c1;
        }
      }
    }
  }

}