h2 {
  margin-top: 0;

  a {
    background-color: #fff !important;

    &:hover {
      background-color: #fff;
      color: #0480c1;
    }
  }
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}

h4.date {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  border-bottom: 1px solid #ccc;

  a {
    background-color: transparent !important;

    &:hover {
      background-color: transparent;
      color: #0480c1;
    }
  }
}

blockquote {
  text-align: left;
  color: #888;
  margin: 0 30px 5px 30px;
}

.code {
  background-color: #f8f8ff;
  overflow-x: scroll;
  line-height: 120%;
  font-size: 120%;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 10px 0;

  pre {
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

#paging {
  div.links {
    border-top: 1px solid #ccc;
  }

  a {
    display: block;
    padding: 20px 0;
    background-color: #fff;

    &:hover {
      background-color: #fff;
      color: #0480c1;
    }

    &.previous {
      float: left;
    }

    &.next {
      float: right;
    }
  }
}

section {
  margin: 0 0 50px 0;

  &.post {
    ul {
      margin: 5px 0 10px 0;
    }
  }

  &.photo {
    text-align: center;

    a {
      padding: 0;
    }
  }

  &.caption {
    p {
      font-size: 12px;
      text-align: center;
    }
  }

  &.quote {
    text-align: center;

    .source {
      text-align: left;
      font-size: 12px;
      margin: 0 30px 0 30px;
    }
  }

  &.conversation {
    ul {
      list-style: none;
      margin: 5px 0 0 0;

      li span.label {
        background: #eee;
        padding: 2px;
      }
    }
  }

  &.video {
    text-align: center;

    .caption {
      font-size: 12px;
    }
  }

  &.link {
    .description {
      display: block;
      font-size: 12px;
    }
  }
}
