
@import 'helpers';

.blog-list {
 padding-top: 20px;
 padding-bottom: 40px;

 .blog-list-item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-width: 0 0 2px 0;
    border-bottom-style: solid;
  
    .blog-categories {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .blog-date-and-author {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    h3 {  margin-top: 0; }

    h4 {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: justify;
    }

  }
  
  .blog-navigate {
    margin-top: 20px;
  }
}

