h2 a {
  background-color: #fff;
}

h2 a:hover {
  background-color: #fff;
  color: #0480c1;
}

h3 a {
  display: block;
}

h4 {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 1.1em;
  border-bottom: 2px solid #eee;
}

section.post ul {
  list-style: none;
  margin: 5px 0 0 0;
}

section.photo {
  text-align: center;
}

section.photo img {
  border: solid 15px #eee;
}

section.caption p {
  font-size: .9em;
  text-align: center;
}

section.quote {
  text-align: center;
}

blockquote {
  text-align: left;
  color: #888;
  margin: 0 30px 5px 30px;
}

section.quote div.source {
  text-align: left;
  font-size: .9em;
  margin: 0 30px 0 30px;
}

section.conversation ul {
  list-style: none;
  margin: 5px 0 0 0;
}

section.conversation ul li span.label {
  background: #eee;
  padding: 2px;
}

section.video {
  text-align: center;
}

section.video div.caption {
  font-size: .9em;
}

section.link span.description {
  display: block;
  font-size: .9em;
}

div.code {
  background-color: #f8f8ff;
  overflow-x: scroll;
  line-height: 120%;
  font-size: 120%;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1em 0;
}
