h2 {
  margin-top: 0;
}

h2 a {
  background-color: #fff !important;
}

h2 a:hover {
  background-color: #fff;
  color: #0480c1;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}

h4.date {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

h4.date a {
  background-color: transparent !important;
}

h4.date a:hover {
  background-color: transparent;
  color: #0480c1;
}

#paging div.links {
  border-top: 1px solid #ccc;
}

#paging a {
  display: block;
  padding: 20px 0;
  background-color: #fff;
}

#paging a:hover {
  background-color: #fff;
  color: #0480c1;
}

#paging a.previous {
  float: left;
}

#paging a.next {
  float: right;
}

section {
  margin: 0 0 50px 0;
}

section.post ul {
  list-style: none;
  margin: 5px 0 10px 0;
}

section.photo {
  text-align: center;
}

section.photo a {
  padding: 0;
}

section.caption p {
  font-size: 12px;
  text-align: center;
}

section.quote {
  text-align: center;
}

blockquote {
  text-align: left;
  color: #888;
  margin: 0 30px 5px 30px;
}

section.quote div.source {
  text-align: left;
  font-size: 12px;
  margin: 0 30px 0 30px;
}

section.conversation ul {
  list-style: none;
  margin: 5px 0 0 0;
}

section.conversation ul li span.label {
  background: #eee;
  padding: 2px;
}

section.video {
  text-align: center;
}

section.video div.caption {
  font-size: 12px;
}

section.link span.description {
  display: block;
  font-size: 12px;
}

div.code {
  background-color: #f8f8ff;
  overflow-x: scroll;
  line-height: 120%;
  font-size: 120%;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 10px 0;
}

div.code pre {
  margin: 0;
  border: none;
  background-color: transparent;
}
