@import 'helpers';

.cases-and-blog-articles {
  padding: 10px;

  h1 {
    /*For title*/
    text-align: center;
    padding: 20px;
  }

  h2 {
    /*For Subtitle*/
    text-align: center;
    padding: 10px;
  }

  h3 {
    /*For sub-subtitle*/
    text-align: left;
    padding: 10px;
  }

  h4 {
    /*For description or excerpt*/
    text-align: center;
    padding: 0 20px 40px 20px;
  }

  h6 {
    /*For Categories*/
    text-align: center;
    padding-top: 30px;
  }

  p {
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
  }

  pre {
    white-space: nowrap;
    overflow-x: visible;
  }

  .embed-responsive-item{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 330px;
  }
  

  .author-and-date {
    padding: 20px;
    border-width: 2px 0 0px 0;
    border-top: 2px solid #efefef;
    text-align: right;

    i { margin-left: 10px; }
    i.ganesh {
      @include icon("/images/authors/ganesh-bala", "jpg", 125px, 125px);  
    }

    i.marco {
      @include icon("/images/authors/ganesh-bala", "jpg", 125px, 125px);
    }

    .author {
      margin-top: 0;
      margin-left: 10px;

    }

  }   
}
