---
---

@import 'helpers';

#cases-banner {
  height: 150px;
  width: 100%;
  color: #fff;
  text-align: center;
  background-image: url('../images/cases-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;


  .col-md-6 {
    @include vertical-align();
    font-size: 80%;
  }

  h2 {
    margin: 0 auto;
    text-transform: uppercase;
  }

  p { padding: 10px;}
  
  span {
    background-color: #000;
    padding: 3px;
  }
}

.banner-caption {
  color: #999999;
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}


.case {

  h1 {
    text-align: center;
    color: #2b98de;
    font-weight: 300;
    font-size: 32px;
    padding: 20px;
  }

  h2 {
    text-align: center;
    color: #2b98de;
    font-weight: 200;
    font-size: 24px;
    padding: 20px;
  }

  .case-description {
    text-align: center;
    color: #000;
    font-weight: 300;
    padding: 0 20px 40px 20px;
  }

  p {
    text-align: justify;
    color: #999999;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .embed-responsive-item{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 330px;
  }

  .media-subtitle {
    background-color: #fff;
    font-size: 12px;
    color: #999999;
    text-align: left;
    padding: 15px;
  }

  .code-snippet {
    padding: 10px;
    
    pre {
      padding: 30px;
      background-color: #f6f6f6;
      text-align: left;
      border: none;
      border-radius: 0;
      overflow: auto;
    }

    span {
      background-color: #fff;
      font-size: 12px;
      color: #999999;
      text-align: left;
    }
  }
}

.contact-section {
  height: 100px;
  width: 100%;
  margin: 0 0 0 0;
  background-image: url('../images/other-contact-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100px;

  div {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}
