
@import 'helpers';

.client-logos{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  i {
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }

  i:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }

  i.sauspiel {
    @include icon("/images/logos/sauspiel", "png", 125px, 55px);
  }

  i.skatstube {
    @include icon("/images/logos/skatstube", "png", 50px, 50px);
  }

  i.blackberry {
    @include icon("/images/logos/blackberry", "png", 100px, 20px);
  }

  i.elab {
    @include icon("/images/logos/elab", "png", 100px, 30px);
  }

  i.munich-re {
    @include icon("/images/logos/munich-re", "png", 85px, 21px);
  }

  i.pointoo {
    @include icon("/images/logos/pointoo", "png", 100px, 31px);
  }

  i.medikompass {
    @include icon("/images/logos/medikompass", "png", 100px, 20px);
  }

  i.generali {
    @include icon("/images/logos/generali", "png", 62px, 50px);
  }

  i.experteer {
    @include icon("/images/logos/experteer", "png", 130px, 25px);
  }

  i.bokowskylaymann {
    @include icon("/images/logos/bokowskylaymann", "png", 145px, 30px);
  }

  i.xbav {
    @include icon("/images/logos/xbav", "png", 54px, 30px);
  }

  i.campus {
    @include icon("/images/logos/campus", "png", 85px, 38px);
  }

  i.steria-mummert {
    @include icon("/images/logos/steria-mummert", "png", 90px, 40px);
  }

  i.scoreloop {
    @include icon("/images/logos/scoreloop", "png", 100px, 27px);
  }

  i.embedd {
    @include icon("/images/logos/embedd", "png", 75px, 15px);
  }

  i.terminapp {
    @include icon("/images/logos/terminapp", "png", 40px, 40px);
  }
}

