$primary-text-color: #676767;

$primary-background-color: #fff;
$secondary-background-color: #000;

$primary-highlight-color: #2b98de;
$secondary-highlight-color: #fff;

$border-color: #eee;

$code-background-color: #f5f6f7;
$code-text-color: #000;

$success-color: #5cb85c;
$error-color: #d9534f;

$table-border-color: #000;
$table-title-color: #000;
$table-background-color: #f5f6f7;

$ember-workshop-primary-background-color: #e7f2ef;
$ember-workshop-primary-text-color: #e04a31;

$elixir-workshop-primary-background-color: #6c2580;
$elixir-workshop-secondary-background-color: #e54e22;
$elixir-workshop-primary-text-color: #fff;

body {
  color: $primary-text-color;
}

a {
  color: $primary-highlight-color;
  transition: border-bottom-color ease-in-out .15s;

  &:hover, &:active, &:focus {
    color: $primary-highlight-color;
    border-bottom-color: $primary-highlight-color;
  };
}

h3, h4, h5 {
  color: $primary-highlight-color;
}

.highlight, code {
  background-color: $code-background-color;
}

code {
  color: $code-text-color;
}

form {
  input, textarea {
    border-bottom-color: $border-color;

    &:focus {
      border-bottom-color: $primary-highlight-color;
    }

    &::placeholder {
      color: lighten($primary-text-color, 25%);
    }
  }
}

table {
  thead {
    border-bottom-color: $table-border-color;
    color: $table-title-color;
  }

  tbody {
    tr {
      border-bottom: 1px solid $table-border-color;

      &:nth-child(odd) {
        background-color: $table-background-color;
      }
    }
  }

  td, th {
    padding: 5px 10px;
  }
}

#main-menu {
  a {
    transition: color ease-in-out .15s;

    span {
      transition: border-bottom-color ease-in-out .15s;
    }

    &:hover, &.active {
      span {
        border-bottom-color: $primary-highlight-color;
      }
    }
  }
}

.custom-button {
  border-color: $primary-highlight-color;
  transition: color ease-in-out .15s, background-color ease-in-out .15s;

  &:hover {
    background-color: $primary-highlight-color;
    color: $secondary-highlight-color;
  }

  &.contact-button {
    border-color: $secondary-highlight-color;

    &:hover {
      background-color: $secondary-highlight-color;
      color: $primary-highlight-color;
    }
  }

  &.cookie-button {
    border-color: $secondary-highlight-color;
    color: $secondary-highlight-color;

    &:hover {
      background-color: $secondary-highlight-color;
      color: #252e39;
    }
  }

  &.send-button {
    background-color: $secondary-highlight-color;
    color: $primary-highlight-color;

    &:hover {
      background-color: $primary-highlight-color;
      color: $secondary-highlight-color;
    }
  }
}

.custom-label {
  color: $secondary-highlight-color;
}

.custom-label.success {
  border-color: $success-color;
  background-color: $success-color;
}

.custom-label.error {
  border-color: $error-color;
  background-color: $error-color;
}

#main-menu {
  background-color: $primary-background-color;

  a {
    color: $primary-text-color;

    &:hover, &.active { 
      color: $primary-highlight-color;
      background-color: $primary-background-color;
      border-bottom-color: $primary-highlight-color;

      span {
        border-bottom-color: $primary-highlight-color;
      }
    }
  }
}

#footer {
  a {
    color: $primary-text-color;

    &:hover, &.active {
      background-color: $primary-background-color;
      color: $primary-text-color;
    }
  }
}

#main-content {
  .content-section.separated:after {
    border-bottom-color: $border-color;
  }
}

.secondary-banner {
  background-color: $primary-highlight-color;

  h4 {
    color: $secondary-highlight-color;
  }

  &.workshop-banner {
    a {
      span, small {
        transition: border-bottom-color ease-in-out .15s;
        border-bottom-color: transparent;
      }
    }

    &.ember-workshop-banner {
      background-color: $ember-workshop-primary-background-color;

      a {
        color: $ember-workshop-primary-text-color;

        &:hover {
          span, small {
            border-bottom-color: $ember-workshop-primary-text-color;
          }
        }
      }
    }

    &.elixir-workshop-banner {
      background: $elixir-workshop-primary-background-color;
      background: -webkit-linear-gradient(135deg,  $elixir-workshop-primary-background-color, $elixir-workshop-secondary-background-color);
      background: -o-linear-gradient(135deg, $elixir-workshop-primary-background-color, $elixir-workshop-secondary-background-color);
      background: -moz-linear-gradient(135deg, $elixir-workshop-primary-background-color, $elixir-workshop-secondary-background-color);
      background: linear-gradient(135deg, $elixir-workshop-primary-background-color, $elixir-workshop-secondary-background-color);

      a {
        color: $elixir-workshop-primary-text-color;

        &:hover {
          span, small {
            border-bottom-color: $elixir-workshop-primary-text-color;
          }
        }
      }
    }
  }
}

.contact-button {
  color: $secondary-highlight-color;
}

.primary-banner {
  color: $primary-background-color;
  background-color: $primary-highlight-color;

  strong {
    background-color: $secondary-background-color;
  }
}

.case {
  .secondary-banner {
    &.quote-banner {
      blockquote {
        color: $secondary-highlight-color;

        footer, footer:before, cite {
          color: $secondary-highlight-color;
        }
      }
    }
  }
}

.workshop {
  .description:after {
    border-bottom-color: $border-color;
  }
  .stage {
    .number > div {
      .icon {
        color: $secondary-highlight-color;
      }
    }
  }
  .agenda-item {
    .start-time {
      color: $primary-highlight-color;
    }
  }
}

@media screen and (max-width: 767px) {
  #main-menu {
    .navbar-nav {
      background: $primary-background-color;
    }
  }
}
