$primary-text-color: #676767;
$primary-background-color: #fff;
$primary-highlight-color: #2b98de;

$border-color: #eee;

body {
  color: $primary-text-color;
}

.custom-button {
  border-color: $primary-highlight-color;

  &:hover {
    background-color: $primary-highlight-color;
    color: $primary-background-color;
  }

  &.contact-button {
    border-color: $primary-background-color;

    &:hover {
      background-color: $primary-background-color;
      color: $primary-highlight-color;
    }
  }
}

#main-menu {
  background-color: $primary-background-color;

  a:hover, .active { 
    background-color: $primary-background-color;
    border-bottom-color: $primary-highlight-color;

    span {
      border-bottom-color: $primary-highlight-color;
    }
  }
}

#main-content {
  .content-section.split-section:after {
    border-bottom-color: $border-color;
  }
}

.tools {
  .other-tools:after {
    border-bottom-color: $border-color;
  }
}

#footer {
  background-color: #fff;

  ul {
    li {
      a {
        background-color: #fff;

        &:hover, &.active {
          background-color: #fff;
          color: #0480c1;
        }
      }
    }
  }
}

.top-banner {
  color: #fff;
  span {  background-color: #000; }
}

.bottom-other-banner { color: #fff; }

.case-study {
  h4 { color: #2b98de; }
  .case-study-tags {  color: #999999;}
}

.title-bottom-border {  border-color: #efefef; }

.about-main {
  h3 {  color: #2b98de; }
  a: hover { color: #2b98de; }
}

.blog-list {
  
  .blog-list-item {
    border-bottom-color: #efefef; 

    .blog-categories {  color: #2b98de;}
    h3 {  color: #2b98de; }
  }
}

.cases-and-blog-articles {
  
   h1 { color: #2b98de; }
   h2 { color: #2b98de; }
   h3 { color: #2b98de; }
   h4 { color: #000;}
   h6 { color: #999999; }
}

#contact-main-section {

  h3 {  color: #2b98de;}
}

#index-banner {
  color: #fff;
  span {  background-color: #000; }
}

.process-main {
  h3 {  color: #2b98de;}
  hr{  border-bottom-color: #efefef; }
}

.services-main {
  h3 {  color: #2b98de;}
}