$primary-text-color: #676767;

$primary-background-color: #fff;
$secondary-background-color: #000;

$primary-highlight-color: #2b98de;
$secondary-highlight-color: #fff;

$border-color: #eee;

$code-background-color: #f5f6f7;
$code-text-color: #000;

$success-color: #5cb85c;
$error-color: #d9534f;

$table-border-color: #000;
$table-title-color: #000;
$table-background-color: #f5f6f7;

body {
  color: $primary-text-color;
}

a {
  color: $primary-highlight-color;
  transition: border-bottom-color ease-in-out .15s;

  &:hover, &:active, &:focus {
    color: $primary-highlight-color;
    border-bottom-color: $primary-highlight-color;
  };
}

h3, h4, h5 {
  color: $primary-highlight-color;
}

.highlight, code {
  background-color: $code-background-color;
}

code {
  color: $code-text-color;
}

form {
  input, textarea {
    border-bottom-color: $border-color;

    &:focus {
      border-bottom-color: $primary-highlight-color;
    }

    &::placeholder {
      color: lighten($primary-text-color, 25%);
    }
  }
}

table {
  thead {
    border-bottom-color: $table-border-color;
    color: $table-title-color;
  }

  tbody {
    tr {
      border-bottom: 1px solid $table-border-color;

      &:nth-child(odd) {
        background-color: $table-background-color;
      }
    }
  }

  td, th {
    padding: 5px 10px;
  }
}

#main-menu {
  transition: background-color 0.25s linear;
  background-color: $primary-background-color;

  a {
    color: $primary-text-color;
    background-color: transparent;
    transition: color ease-in-out .15s;

    span {
      transition: border-bottom-color ease-in-out .15s;
    }

    &:hover, &.active {
      color: $primary-highlight-color;
      border-bottom-color: $primary-highlight-color;

      span {
        border-bottom-color: $primary-highlight-color;
      }
    }
  }

  li.page {
    .nav-hover {
      background-color: $primary-background-color;
    }
  }

  &.scrolled {
    background-color: $primary-highlight-color;

    a {
      color: $secondary-highlight-color;

      &:hover, &.active {
        span {
          border-bottom-color: $secondary-highlight-color;
        }
      }
    }

    li.page {
      .nav-hover {
        background-color: $primary-highlight-color;

        a {
          color: $secondary-highlight-color;

          &.active {
            span {
              border-bottom-color: $secondary-highlight-color;
            }
          }
        }
      }
    }
  }
}

.custom-button {
  border-color: $primary-highlight-color;
  transition: color ease-in-out .15s, background-color ease-in-out .15s;

  &:hover {
    background-color: $primary-highlight-color;
    color: $secondary-highlight-color;
  }

  &.contact-button {
    border-color: $secondary-highlight-color;

    &:hover {
      background-color: $secondary-highlight-color;
      color: $primary-highlight-color;
    }
  }

  &.send-button {
    background-color: $secondary-highlight-color;
    color: $primary-highlight-color;

    &:hover {
      background-color: $primary-highlight-color;
      color: $secondary-highlight-color;
    }
  }
}

.custom-label {
  color: $secondary-highlight-color;
}

.custom-label.success {
  border-color: $success-color;
  background-color: $success-color;
}

.custom-label.error {
  border-color: $error-color;
  background-color: $error-color;
}

#footer {
  a {
    color: $primary-text-color;

    &:hover, &.active {
      background-color: $primary-background-color;
      color: $primary-text-color;
    }
  }
}

#main-content {
  .content-section {
    &.separated:after {
      border-bottom-color: $border-color;
    }

    &.statement {
      h4 {
        color: $primary-text-color;
      }
    }
  }
}

.secondary-banner {
  background-color: $primary-highlight-color;

  h4 {
    color: $secondary-highlight-color;
  }
}

.contact-button {
  color: $secondary-highlight-color;
}

.primary-banner {
  color: $primary-background-color;
  background-color: $primary-highlight-color;

  strong {
    background-color: $secondary-background-color;
  }
}

.case {
  .secondary-banner {
    &.quote-banner {
      blockquote {
        color: $secondary-highlight-color;

        footer, footer:before, cite {
          color: $secondary-highlight-color;
        }
      }
    }
  }
}

.workshop {
  .description:after {
    border-bottom-color: $border-color;
  }
  .stage {
    .number > div {
      .icon {
        color: $secondary-highlight-color;
      }
    }
  }
  .agenda-item {
    .start-time {
      color: $primary-highlight-color;
    }
  }
}

@media screen and (max-width: 767px) {
  #main-menu {
    .navbar-nav {
      background: $primary-background-color;
    }
  }
}
