@import 'helpers';

#index-banner {
  height: 500px;
  width: 100%;
  margin-right: 0;
  text-align: center;
  background-image: url('../images/index-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;


  .col-md-6 {
    @include vertical-align();

    h2 {
      font-size: 34px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
    }
  }

  h2 {
    margin: 0 auto;
    text-transform: uppercase;
  }

  span {  padding: 3px; }
}

.main-section{
  width: 100%;
  text-align: left;
}

.home-contact-bg {
  background-image: url('../images/contact-banner-background.png');
}