@import 'helpers';

.top-banner {
  width: 100%;
  background-image: url('../images/index-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 0;

  .col-md-10 {

    h2 {
      font-size: 34px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
    }
  }

  h2 {
    margin: 0 auto;
    text-transform: uppercase;
  }

  span {  padding: 3px; }
}

.main-section{
  text-align: left;
}

.footer {
  width: 100%;
  background-image: url('../images/contact-banner-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
}