h1 {
  margin-bottom: 2rem;
}

strong {
  border-radius: .15rem;
}

#main-menu {
  position: fixed;
  transition: background-color ease-in-out .15s 0s, transform ease-in-out .3s 0s;

  a {
    span {
      padding: .1rem 0;
    }
  }

  &.scrollUp {
    transform: translateY(-10rem);
    transition-delay: 0s, .5s;
  }

  input[type=checkbox] {
    display: none;
  }

  .logo {
    height: 1rem;
  }

  .nav-item:last-child {
    a {
      padding-right: 0;
    }
  }

  .nav-hover {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-left: -.5rem;
    padding: .5rem 0 .5rem 0;
    border-radius: 0 0 .15rem .15rem;
    transform: translateY(-.75rem);
    transition: all .15s ease-in-out 0s, visibility 0s linear .15s;

    li {
      margin: 0 .5rem;

      a {
        padding: 0;
        margin: .125rem .5rem;
      }
    }
  }

  .nav-item:hover {
    .nav-hover {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s;
    }
  }
}

.primary-banner {
  padding: calc(#{$top-spacing} + 4rem) 0 4rem 0;

  h1 {
    margin: 4rem 0 1rem 0;
  }

  p {
    text-align: justify;
  }

  strong {
    padding: 2px 4px;
  }

  .icon {
    width: 25%;
  }
}

.content-section {
  padding: 4rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .teaser-image + *, .teaser-link + * {
    margin-top: 1.5rem;
  }

  &.quote {
    blockquote {
      position: relative;
      padding: 0 0 0 4rem;

      &:before {
        content: "\201d";
        position: absolute;
        left: 0;
        top: -1.3rem;
      }
    }
  }

  &.separated {
    &:after {
      content: '';
      display: block;
      margin: 4rem 0 -4rem 33.33333%;
      width: 33.33333%;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }

  &.subhead {
    margin-bottom: 0;

    h4 {
      position: relative;

      &:before, &:after {
        content: '';
        height: 1px;
        width: 1.5rem;
        position: absolute;
        top: 50%;
      }

      &:before {
        left: -2.5rem;
      }

      &:after {
        right: -2.5rem;
      }
    }
  }
}

.contact-banner {
  position: relative;
  transition: all ease-out .15s;
  padding: 2rem;
  margin-bottom: -2rem;
  z-index: 99;

  .container {
    background-color: $secondary-background-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    transition: all ease-out .15s;
    border-radius: .15rem;
    padding: 2rem;
  }

  a {
    display: block;

    &:hover {
      .container {
        background-color: darken($secondary-background-color, 5%);
        transform: translateY(-.1rem);
      }
    }
  }
}

.address, .contact {
  & > span {
    display: block;
    clear: both;
  }
}

#footer {
  padding-top: 5rem;

  .container {
    z-index: 99;
  }

  .navbar-text {
    padding-top: .2rem;
  }

  .nav-item {
    padding-bottom: .25rem;
  }

  .logo {
    height: .8rem;
  }

  .copyright {
    flex: 0 1 100%;
    text-align: right;
    margin-top: 3rem;
  }
}

#cookie-banner {
  p {
    margin: 0;
  }
}

@include media-breakpoint-down(sm) {
  .primary-banner {
    padding: calc(#{$top-spacing} + 4rem) 0 2rem 0;
  }

  .content-section {
    div.col-12 {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.separated {
      &:after {
        margin-left: 16.66666%;
        width: 66.66666%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &.subhead {
      h4 {
        &:before, &:after {
          display: none;
        }
      }
    }
  }

  .contact-banner {
    padding: 0;

    .container {
      border-radius: 0;
    }
  }

  #main-menu {
    &.scrollUp {
      transform: none;
    }

    .navbar-toggler {
      margin-bottom: 0;
    }

    .collapse {
      display: block;
      position: absolute;
      top: $top-spacing;
      left: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-.75rem);
      transition: all .15s ease-in-out 0s, visibility 0s linear .15s;
    }

    .nav-collapse-state:checked ~ .collapse {
      visibility: visible;
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s;
    }

    .nav-hover {
      display: none;
    }
  }

  #footer {
    .navbar-text {
      display: block;
    }

    .navbar-text, .nav-item, .navbar-brand {
      margin: 0;
    }

    .navbar-text, .navbar-brand, .navbar-nav {
      padding-bottom: 1rem;
    }

    .copyright {
      text-align: center;
    }
  }
}
