@import 'helpers';

i {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

i:hover {
  filter: none;
  -webkit-filter: none;
}

i.sauspiel {
  @include icon("/images/logos/sauspiel", "png", 125px, 55px);
}

i.skatstube {
  @include icon("/images/logos/skatstube", "png", 50px, 50px);
}

i.blackberry {
  @include icon("/images/logos/blackberry", "png", 100px, 20px);
}

i.elab {
  @include icon("/images/logos/elab", "png", 100px, 30px);
}

i.munich-re {
  @include icon("/images/logos/munich-re", "png", 85px, 21px);
}

i.pointoo {
  @include icon("/images/logos/pointoo", "png", 100px, 31px);
}

i.medikompass {
  @include icon("/images/logos/medikompass", "png", 100px, 20px);
}

i.generali {
  @include icon("/images/logos/generali", "png", 62px, 50px);
}

i.experteer {
  @include icon("/images/logos/experteer", "png", 130px, 25px);
}

i.bokowskylaymann {
  @include icon("/images/logos/bokowskylaymann", "png", 145px, 30px);
}

i.xbav {
  @include icon("/images/logos/xbav", "png", 54px, 30px);
}

i.campus {
  @include icon("/images/logos/campus", "png", 85px, 38px);
}

i.steria-mummert {
  @include icon("/images/logos/steria-mummert", "png", 90px, 40px);
}

i.scoreloop {
  @include icon("/images/logos/scoreloop", "png", 100px, 27px);
}

i.embedd {
  @include icon("/images/logos/embedd", "png", 75px, 15px);
}

i.terminapp {
  @include icon("/images/logos/terminapp", "png", 40px, 40px);
}

i.github {
  @include icon("/images/logos/github", "png", 75px, 20px);
}

i.jquery {
  @include icon("/images/logos/jquery", "png", 82px, 20px);
}

i.cocoapods {
  @include icon("/images/logos/cocoapods", "png", 93px, 20px);
}

i.goliath {
  @include icon("/images/logos/goliath", "png", 69px, 20px);
}

i.campfire {
  @include icon("/images/logos/campfire", "png", 25px, 20px);
}

i.travis {
  @include icon("/images/logos/travis", "png", 48px, 20px);
}

i.docker {
  @include icon("/images/logos/docker", "png", 84px, 20px);
}

i.sinatra {
  @include icon("/images/logos/sinatra", "png", 29px, 20px);
}

i.emberjs-logo {
  @include icon("/images/logos/emberjs", "png", 105px, 100px);
}

i.rails-logo {
  @include icon("/images/logos/ruby-on-rails", "png", 77px, 100px);
}

i.swift-logo {
  @include icon("/images/logos/swift", "png", 100px, 100px);
}

i.simplabs {
  @include icon("/images/menu-logo-active", "png", 60px, 10.8px);
}
