---
---

@import 'helpers';

body {
  line-height: 1.7;
  font-weight: 300;
  letter-spacing: 1px;
  color: #676767;
}

a, a:visited {
  color: #0480c1;
  border-bottom: 2px solid #eee;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a:hover {
  color: #676767;
  border-bottom: 2px solid #0480c1;
  -webkit-transition: all .25s;
  text-decoration: none;
}

p {
  text-align: justify;
}

strong {
  background-color: #fbfeda;
  font-weight: normal;
  padding: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #676767;
}

h1 {
  font-size: 26px;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
  margin-top: 30px;
}

#main-menu {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;

  ul {
    width: 100%;

    li {
      width: 20%;

      a {
        color: #333;
        white-space: nowrap;
        background-color: #fff;
        text-align: center;
        margin-bottom: 3px;
        border-bottom: none;
        -webkit-transition: border-bottom .25s;

        &.logo {
          text-align: left;
          @include background-image-retina("/images/menu-logo", "png", 100px, 18px);
          background-position: center left;
          background-repeat: no-repeat;
          -webkit-transition: background .25s;
          min-width: 100px;

          &:hover, &.active {
            @include background-image-retina("/images/menu-logo-active", "png", 100px, 18px);
            border-bottom: none;
            margin-bottom: 0;
          }
        }

        &:hover, &.active {
          margin-bottom: 0;
          border-bottom: solid 3px #0a9ad9;
          color: #000;
        }
      }
    }
  }
}

#footer {
  font-size: 12px;
  border-top: 1px solid #ccc;
  margin-bottom: 0;

  ul {
    width: 100%;

    li {
      width: 33%;
    }
  }

  a {
    color: #333;
    background-color: #fff;
    border: none;

    &:hover, &.active {
      background-color: #fff;
      color: #0480c1;
    }
  }
}

#main-content {
  padding: 50px 0;
}

#index {
  text-align: center;

  #main-logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 52px;
    @include background-image-retina("/images/logo", "png", 300px, 52px);
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 50px;
    line-height: 30px;

    a {
      color: #0480c1;
      background-color: #eee;
    }

    a:hover {
      color: #fff;
      background-color: #0480c1;
    }
  }
}

#who-we-are {
  .love:before {
    font-family: 'FontAwesome';
    content: "\f004";
    color: red;
    font-style: normal;
  }

  i.munich-ember-meetup {
    display: block;
    width: 84px;
    height: 90px;
    @include background-image-retina("/images/logos/munich-ember-meetup", "png", 84px, 90px);
  }

  a.inline {
    float: left;
    border: none;
  }
}

#what-we-use {
  .tools {
    margin: 20px;

    & > div {
      text-align: center;

      & > a {
        border: none;
      }

      p {
        text-align: center;
        font-style: italic;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    i {
      display: inline-block;
      height: 20px;

      &.github {
        width: 75px;
        @include background-image-retina("/images/logos/github", "png", 75px, 20px);
      }

      &.jquery {
        width: 82px;
        @include background-image-retina("/images/logos/jquery", "png", 82px, 20px);
      }

      &.cocoapods {
        width: 93px;
        @include background-image-retina("/images/logos/cocoapods", "png", 93px, 20px);
      }

      &.goliath {
        width: 69px;
        @include background-image-retina("/images/logos/goliath", "png", 69px, 20px);
      }

      &.campfire {
        width: 25px;
        @include background-image-retina("/images/logos/campfire", "png", 25px, 20px);
      }

      &.travis {
        width: 48px;
        @include background-image-retina("/images/logos/travis", "png", 48px, 20px);
      }

      &.docker {
        width: 84px;
        @include background-image-retina("/images/logos/docker", "png", 84px, 20px);
      }

      &.sinatra {
        width: 29px;
        @include background-image-retina("/images/logos/sinatra", "png", 29px, 20px);
      }
    }

    &:first-of-type {
      i {
        height: 100px;

        &.ruby-on-rails {
          width: 77px;
          @include background-image-retina("/images/logos/ruby-on-rails", "png", 77px, 100px);
        }

        &.emberjs {
          width: 105px;
          @include background-image-retina("/images/logos/emberjs", "png",105px, 100px);
        }

        &.swift {
          width: 100px;
          @include background-image-retina("/images/logos/swift", "png", 100px, 100px);
        }
      }
    }
  }
}

#contact {
  #gmap_canvas {
    height: 300px;
  }
}

#clients {
  ul {
    li {
      a {
        border: none;
      }
    }
  }
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 30px;
}

#main-content h2:first-child {
  margin-top: 0;
}

#main-content p:last-child {
  margin-bottom: 0;
}

#contact ul {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0;
}

#contact .email-link:before {
  font-family: 'FontAwesome';
  content: "\f0e0\00a0";
}

#contact .github-link:before {
  font-family: 'FontAwesome';
  content: "\f09b\00a0";
}

#contact .twitter-link:before {
  font-family: 'FontAwesome';
  content: "\f099\00a0";
}

#clients ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#clients ul li {
  display: inline-block;
  margin: 10px;
}

#clients a {
  display: inline-block;
  background-color: #fff;
}

#clients a.sauspiel {
  width: 200px;
  height: 88px;
  @include background-image-retina("/images/logos/sauspiel", "png", 200px, 88px);
}

#clients a.skatstube {
  width: 75px;
  height: 75px;
  @include background-image-retina("/images/logos/skatstube", "png", 75px, 75px);
}

#clients a.blackberry {
  width: 150px;
  height: 29px;
  @include background-image-retina("/images/logos/blackberry", "png", 150px, 29px);
}

#clients a.elab {
  width: 132px;
  height: 40px;
  @include background-image-retina("/images/logos/elab", "png", 132px, 40px);
}

#clients a.munich-re {
  width: 175px;
  height: 43px;
  @include background-image-retina("/images/logos/munich-re", "png", 175px, 43px);
}

#clients a.pointoo {
  width: 125px;
  height: 38px;
  @include background-image-retina("/images/logos/pointoo", "png", 125px, 38px);
}

#clients a.medikompass {
  width: 125px;
  height: 24px;
  @include background-image-retina("/images/logos/medikompass", "png", 125px, 24px);
}

#clients a.experteer {
  width: 259px;
  height: 50px;
  @include background-image-retina("/images/logos/experteer", "png", 259px, 50px);
}

#clients a.bokowskylaymann {
  width: 145px;
  height: 30px;
  @include background-image-retina("/images/logos/bokowskylaymann", "png", 145px, 30px);
}

#clients a.steria-mummert {
  width: 150px;
  height: 53px;
  @include background-image-retina("/images/logos/steria-mummert", "png", 150px, 53px);
}

#clients a.scoreloop {
  width: 200px;
  height: 54px;
  @include background-image-retina("/images/logos/scoreloop", "png", 200px, 54px);
}
