---
---

@import 'helpers';

body {
  line-height: 1.7;
  font-weight: 300;
  letter-spacing: 1px;
  color: #676767;
}

a, a:visited {
  color: #0480c1;
  border-bottom: 2px solid #eee;
  text-decoration: none;
  padding: 2px;
  transition: all .25s;
}

a:hover {
  color: #676767;
  border-bottom: 2px solid #0480c1;
  text-decoration: none;
}

a.super {
  color: #0480c1;
  background-color: #eee;
  border-radius: 2px;
}

a.super:hover {
  color: #fff;
  background-color: #0480c1;
}

p {
  text-align: justify;
}

strong {
  background-color: #fbfeda;
  font-weight: inherit;
  padding: 2px;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
  margin-top: 30px;
}

#main-content {
  padding: 50px 0;

  h2:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main-menu {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;

  ul {
    width: 100%;

    li {
      width: 20%;

      a {
        color: #333;
        white-space: nowrap;
        background-color: #fff;
        text-align: center;
        margin-bottom: 3px;
        border-bottom: none;
        transition: border-bottom .25s;

        &.logo {
          text-align: left;
          @include background-image-retina("/images/menu-logo", "png", 100px, 18px);
          background-position: center left;
          background-repeat: no-repeat;
          transition: background .25s;
          min-width: 100px;

          &:hover, &.active {
            @include background-image-retina("/images/menu-logo-active", "png", 100px, 18px);
            border-bottom: none;
            margin-bottom: 0;
          }
        }

        &:hover, &.active {
          margin-bottom: 0;
          border-bottom: solid 3px #0a9ad9;
          color: #000;
        }
      }
    }

    @media (max-width: 768px) {
      li {
        width: 100%;

        a {
          display: block;
          transition: none;
          margin-left: 30px;

          &.logo {
            margin-bottom: 0;
            background-position: center center;
          }
        }
      }
    }
  }
}

#footer {
  border-top: 1px solid #ccc;
  margin-bottom: 0;

  ul {
    width: 100%;

    li {
      width: 33%;

      a {
        color: #333;
        background-color: #fff;
        border: none;

        &:hover, &.active {
          background-color: #fff;
          color: #0480c1;
        }
      }
    }

    @media (max-width: 768px) {
      li {
        width: 100%;

        a {
          margin-left: 30px;
        }
      }
    }
  }
}

#index {
  text-align: center;

  #main-logo {
    display: block;
    margin: 0 auto;
    @include icon("/images/logo", "png", 300px, 52px);
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 50px;
    line-height: 30px;
  }
}

#who-we-are {
  .love:before {
    font-family: 'FontAwesome';
    content: "\f004";
    color: red;
    font-style: normal;
  }

  i.munich-ember-meetup {
    @include icon("/images/logos/munich-ember-meetup", "png", 84px, 90px);
  }

  i.bits-connect {
    @include icon("/images/logos/bits-connect", "png", 72px, 90px);
  }

  p.associations {
    text-align: center;

    a {
      border: none;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

#what-we-do {
  h2.contact {
    text-align: center;
  }
}

#what-we-use {
  .tools {
    margin: 20px;

    & > div {
      text-align: center;

      & > a {
        border: none;
      }

      p {
        text-align: center;
        font-style: italic;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    i.github {
      @include icon("/images/logos/github", "png", 75px, 20px);
    }

    i.jquery {
      @include icon("/images/logos/jquery", "png", 82px, 20px);
    }

    i.cocoapods {
      @include icon("/images/logos/cocoapods", "png", 93px, 20px);
    }

    i.goliath {
      @include icon("/images/logos/goliath", "png", 69px, 20px);
    }

    i.campfire {
      @include icon("/images/logos/campfire", "png", 25px, 20px);
    }

    i.travis {
      @include icon("/images/logos/travis", "png", 48px, 20px);
    }

    i.docker {
      @include icon("/images/logos/docker", "png", 84px, 20px);
    }

    i.sinatra {
      @include icon("/images/logos/sinatra", "png", 29px, 20px);
    }

    i.ruby-on-rails {
      @include icon("/images/logos/ruby-on-rails", "png", 77px, 100px);
    }

    i.emberjs {
      @include icon("/images/logos/emberjs", "png",105px, 100px);
    }

    i.swift {
      @include icon("/images/logos/swift", "png", 100px, 100px);
    }
  }
}

#contact {
  #map-canvas {
    height: 300px;
  }
}

#clients {
  ul {
    li {
      a {
        border: none;
      }
    }
  }
}

#contact {
  ul {
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
  }

  .email-link:before {
    font-family: 'FontAwesome';
    content: "\f0e0\00a0";
  }

  .twitter-link:before {
    font-family: 'FontAwesome';
    content: "\f099\00a0";
  }
}

#clients {
  ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 10px;
    }

    i.sauspiel {
      @include icon("/images/logos/sauspiel", "png", 200px, 88px);
    }

    i.skatstube {
      @include icon("/images/logos/skatstube", "png", 75px, 75px);
    }

    i.blackberry {
      @include icon("/images/logos/blackberry", "png", 150px, 29px);
    }

    i.elab {
      @include icon("/images/logos/elab", "png", 132px, 40px);
    }

    i.munich-re {
      @include icon("/images/logos/munich-re", "png", 175px, 43px);
    }

    i.pointoo {
      @include icon("/images/logos/pointoo", "png", 125px, 38px);
    }

    i.medikompass {
      @include icon("/images/logos/medikompass", "png", 125px, 24px);
    }

    i.experteer {
      @include icon("/images/logos/experteer", "png", 259px, 50px);
    }

    i.bokowskylaymann {
      @include icon("/images/logos/bokowskylaymann", "png", 145px, 30px);
    }

    i.steria-mummert {
      @include icon("/images/logos/steria-mummert", "png", 150px, 53px);
    }

    i.scoreloop {
      @include icon("/images/logos/scoreloop", "png", 200px, 54px);
    }

    i.embedd {
      @include icon("/images/logos/embedd", "png", 104px, 20px);
    }

    i.terminapp {
      @include icon("/images/logos/terminapp", "png", 60px, 60px);
    }
  }
}

#blog {
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
  }

  h4.date {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 11px;
    text-align: right;
    border-bottom: 1px solid #ccc;
  }

  blockquote {
    text-align: left;
    color: #888;
    margin: 0 30px 5px 30px;
  }

  pre {
    border: none;
    background-color: #f8f8ff;
    overflow-x: scroll;
    font-size: 14px;
    border-radius: 2px;
    margin: 10px 0;
    word-wrap: normal;

    code {
      white-space: pre;
    }
  }

  #footer {
    ul {
      li {
        width: 100%;
      }
    }
  }

  #paging {
    a {
      display: block;
      margin: 20px 0;

      &.previous {
        float: left;
      }

      &.next {
        float: right;
      }
    }
  }

  section {
    margin: 0 0 50px 0;

    &.post {
      ul {
        margin: 5px 0 10px 0;
      }
    }

    &.photo {
      text-align: center;

      a {
        padding: 0;
      }
    }

    &.caption {
      p {
        font-size: 12px;
        text-align: center;
      }
    }

    &.quote {
      text-align: center;

      .source {
        text-align: left;
        font-size: 12px;
        margin: 0 30px 0 30px;
      }
    }

    &.conversation {
      ul {
        list-style: none;
        margin: 5px 0 0 0;

        li span.label {
          background: #eee;
          padding: 2px;
        }
      }
    }

    &.video {
      text-align: center;

      .caption {
        font-size: 12px;
      }
    }

    &.link {
      .description {
        display: block;
        font-size: 12px;
      }
    }
  }
}
