---
---

@import 'helpers';

.process-main {
  padding: 20px 0 40px 0;
  text-align: center;

  h3 {
    color: #2b98de;
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 10px;
  }

  p {
    font-size: 12px;
    padding: 10px 20px 10px 20px;

    a {
      text-decoration: underline;
    }
  }

  i {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }

  i:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}

.tools-section {
  padding: 20px 0 20px 0;

  .tool-highlight {
    padding: 5px 30px 5px 30px;

    p {
      font-size: 11px;
    }

    i {
      min-height: 100px;
      min-width: 105px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;    
    }

    i.emberjs-logo { @include icon("/images/logos/emberjs", "png", 105px, 100px);}
    i.rails-logo { @include icon("/images/logos/ruby-on-rails", "png", 77px, 100px);}
    i.swift-logo { @include icon("/images/logos/swift", "png", 100px, 100px);}
  }

  .tools-other {
    padding: 10px;

    i {
      padding: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }

    i.github {
      @include icon("/images/logos/github", "png", 75px, 20px);
    }

    i.jquery {
      @include icon("/images/logos/jquery", "png", 82px, 20px);
    }

    i.cocoapods {
      @include icon("/images/logos/cocoapods", "png", 93px, 20px);
    }

    i.goliath {
      @include icon("/images/logos/goliath", "png", 69px, 20px);
    }

    i.campfire {
      @include icon("/images/logos/campfire", "png", 25px, 20px);
    }

    i.travis {
      @include icon("/images/logos/travis", "png", 48px, 20px);
    }

    i.docker {
      @include icon("/images/logos/docker", "png", 84px, 20px);
    }

    i.sinatra {
      @include icon("/images/logos/sinatra", "png", 29px, 20px);
    }
  }

  hr {
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #efefef;
  }
}