
body {
  height: 100%;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
}

h4 {
  font-size: 20px;
}

.custom-button {
  font-size: 12px;
  text-transform: uppercase;
}

.custom-button:hover {
  text-decoration: none;
}

.case-study-button {  color: #2b98de; }
.contact-button { color: #fff; }

#main-menu { 
  a { color: #000; }

  a:hover, .active {
    color: #2b98de;
    font-weight: bold;
  }
}

#footer {
  font-size: 12px;

  a {
    color: #000;
  }
}

.top-banner {
  h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }
}

.case-study {
  h4 {  font-weight: 300; }

  .case-study-tags {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.about-main {
  h3 {
    font-weight: lighter;
    font-size: 24px;
  }

  p { font-size: 12px; }

  .love:before {
  font-family: 'FontAwesome';
  content: "\f004";
  color: red;
  font-style: normal;
  }
}

.blog-list {
  
  .blog-list-item {

    .blog-categories {  font-weight: bold; }
    .blog-date-and-author { font-size: 12px; }
    h3 {  font-weight: lighter; }
    
    h4 {
      font-weight: lighter;
      font-size: 14px;
    }
  }
}

.cases-and-blog-articles {

  h1 {
    font-weight: 300;
    font-size: 32px;
  }

  h2 {
    font-weight: 200;
    font-size: 24px;
  }

  h3 {
    font-weight: 200;
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
    font-weight: 300;
  }

  h6 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  p { font-size: 14px;}
  blockquote {  font-weight: bold; }

  .author-and-date {

    .date {
      font-weight: bold;
      font-size: 12px;

    }

    i { background-color: #efefef; }

    .author {
      font-size: 18px;
      font-weight: bold;
    }
  }

}

#contact-main-section {
  h3 {
    font-weight: lighter;
    font-size: 24px;
  }

  p { font-size: 12px;}
}

.process-main {
  h3 {
    font-weight: lighter;
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }

}
.tools-section {
    p { font-size: 14px;}
}

.services-main {
  
  h3 {
    font-weight: lighter;
    font-size: 24px;
  }

  p { font-size: 14px;  }
}