<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <p class="typography.small-text">
          Services
        </p>
        <h1 class="typography.display">
          Training
        </h1>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-2">
                Raising confidence for increased productivity and quality
              </h2>
              <p class="typography.lead">
                Approaching new technologies can be overwhelming at times. Our technology experts can help teams
                identify the core concepts and ideas behind a particular technology, understand them well and apply them
                successfully for the long-term.
              </p>
              <p class="typography.lead">
                We are experts in a wide range of topics, from languages and frameworks to architecture and process best
                practices and share our expertise so others can grow from it.
              </p>
            </div>
          </div>
          <!--item-->
        </div>
        <!--main-block-content-->
        <div class="main-block.sidebar">
          <div class="card">
            <p class="typography.small-text">
              Let’s discuss your project
            </p>
            <h3 class="typography.headline-3">
              Partner with us to help lorem ipsum sit amet
            </h3>
            <form class="form">
              <div class="form.group">
                <label class="form.control-label">
                  Your Name
                </label>
                <input class="form.control" type="text" name="" />
              </div>
              <div class="form.group">
                <label class="form.control-label">
                  Your Email
                </label>
                <input class="form.control" type="text" name="" />
              </div>
              <div class="form.group">
                <label class="form.control-label">
                  Tell us about your project
                </label>
                <textarea class="form.textarea"></textarea>
              </div>
              <div class="form.group">
                <button class="button.button">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <FullStackService />
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-2">
                Architecture guidance
              </h2>
              <p class="typography.lead">
                Sometimes teams need someone to help kick-off a project and make sure the right decisions are made early
                on. Our technology experts have years of experience with various technology stacks and can help define
                an architecture, make technology decisions and setup a stable engineering process to get a project going
                and ensure its long term integrity.
              </p>
            </div>
            <div class="main-block.content-section">
              <div class="main-block.content-heading">
                <h2 class="typography.headline-2">
                  Reviews
                </h2>
                <p class="typography.lead">
                  Teams that have existing products and need to ensure they are set up for long-term success can benefit
                  from our code and architecture reviews. We will break down the application's architecture, identify
                  bad our outdated patterns and give guidance for the future. We deliver an extensive report with a list
                  of findings, explanations as well as suggested fixes and prioritisations.
                </p>
                <p class="typography.lead">
                  We have written and reviewed applications for various international clients in the past, covering
                  technology stacks from Ruby on Rails to Ember.js and Elixir/Phoenix.
                </p>
              </div>
            </div>
          </div>
          <!--item-->
        </div>
        <!--main-block-content-->
        <div class="main-block.sidebar offset-top">
          <p class="typography.small-text">
            How we work
          </p>
          <div class="card">
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/how-we-work-card.jpg" />
            </div>
            <h3 class="card.sub-heading">
              How we achieve instant productivity
            </h3>
            <p class="typography.body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <ArrowLink @href="#">
              Read our Playbook
            </ArrowLink>
          </div>
        </div>
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <div class="grid-block">
        <div class="grid-block.heading">
          <h2 class="typography.headline-2">
            We have a track record of successful projects for international clients
          </h2>
        </div>
        <div class="grid-block.section">
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/trainline.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <!--item-->
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/timify.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <!--item-->
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/cardstack.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <!--item-->
        </div>
      </div>
      <!--grid-block-->
    </div>
    <LeadingExperts />
    <WorkWithUs />
    <Footer />
  </div>
</div>