@block container from "../../styles/blocks/container.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: PageProductDevelopment;
  composes: 'layout';
}

.list {
  list-style: none;
}

.list-item ~ .list-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(201, 202, 208);
}

@export layout;
@export offset;
@export typography;
