<ShapeAcross @background="#222" @src="/assets/images/photos/team-meeting-2.jpg" @width="7813" @height="5211">
  <blockquote>
    <p>
      “It has been an absolute pleasure to work with simplabs. Their team of experienced JavaScript engineers quickly slotted in to our in-house development teams. Their expertise with modern, agile software development best practices and tools meant they were able to work with our processes to deliver fantastic customer experiences.”
    </p>
    <p class="typography.small">
      Mark Holt, Trainline CTO
    </p>
  </blockquote>
  <ArrowLink @href="/work">
    View Our Work
  </ArrowLink>
</ShapeAcross>