<div>
  <div layout:class="side" offset:class="after-12-atlarge">
    <blockquote>
      <p>
        “It has been an absolute pleasure to work with simplabs. Their team of experienced JavaScript engineers quickly
        slotted in to our in-house development teams. Their expertise with modern, agile software development best
        practices and tools meant they were able to work with our processes to deliver fantastic customer experiences.”
      </p>
      <p typography:class="small">
        Mark Holt, Trainline CTO
      </p>
    </blockquote>
    <ArrowLink @href="/work/">
      View Our Work
    </ArrowLink>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/team-meeting@900.jpg 900w, /assets/images/photos/team-meeting@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="{{this.key}}-across"
  />
</div>