<div>
  <div class="layout.side offset.after-12-atlarge">
    <blockquote>
      <p>
        “It has been an absolute pleasure to work with simplabs. Their team of experienced JavaScript engineers quickly slotted in to our in-house development teams. Their expertise with modern, agile software development best practices and tools meant they were able to work with our processes to deliver fantastic customer experiences.”
      </p>
      <p class="typography.small">
        Mark Holt, Trainline CTO
      </p>
    </blockquote>
    <ArrowLink @href="/work/">
      View Our Work
    </ArrowLink>
  </div>
  <ShapeAcross @background="#222" @src="/assets/images/photos/team-meeting.jpg" @key="{{this.key}}-across" />
</div>