@block layout from "../../styles/blocks/layout.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block button from "../../styles/blocks/button.block.css";
@block header-content from "../HeaderContent/stylesheet.css";

:scope {
  block-name: PageWorkshop;
  composes: 'layout';
}

.divider {
  color: var(--color-accent);
  display: resolve("typography.small");
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before, .divider::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid var(--color-accent);
}

.divider::before {
  margin-right: 1.5rem;
}
.divider::after {
  margin-left: 1.5rem;
}

.list-topics {
  list-style: none;
}

.list-topics-item {
  margin: 0;
  position: relative;
}

.list-topics-item + .list-topics-item {
  margin-top: 4rem;
}

.topic-title {
  margin: 0;
  line-height: var(--p-lh);
}

.topic-icon {
  position: absolute;
  top: 0;
  left: calc(-8rem - var(--col-gap));
  width: 8rem;
  height: 8rem;
}

@media (max-width: 887px) {
  .topic-icon {
    position: initial;
    display: block;
    margin: 0 auto 1.25rem auto;
  }
}

@export typography;
@export layout;
@export offset;
