<div>
  <Header @title="Workshop" @active="resources">
    <HeaderContent @headline="Digital product strategy workshop">
      <p typography:class="lead">
        In this two to three-day workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product’s design and development process.
      </p>
      <p typography:class="lead">
        Having a clear product strategy is essential to getting as much value as possible for your time and investment.
      </p>
    </HeaderContent>
  </Header>

  <div layout:class="content" offset:class="after-21">
    <h2 typography:class="h2">Before the workshop </h2>
    <p typography:class="p">Pellentesque eu suscipit sapien. Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit. Aliquam ipsum magna, tristique in dapibus sit amet, dapibus in sem. Integer velit nunc, accumsan et porttitor eu, vulputate pellentesque nulla. Mauris id ante sit amet ex viverra ullamcorper. Nulla non aliquam velit. Morbi fermentum consectetur dignissim. Nullam in semper odio. Aliquam erat volutpat. In feugiat, purus ac scelerisque fermentum, lectus eros tincidunt massa, vitae blandit orci sapien vel odio. Integer consequat libero odio, sed ornare turpis consequat nec. Nam in facilisis nunc.</p>
  </div>

  <Footer />
</div>