<div>
  <Header @title="Workshop" @active="resources">
    <HeaderContent @headline="Digital product strategy workshop">
      <p typography:class="lead">
        In this two to three-day workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product’s design and development process.
      </p>
      <p typography:class="lead">
        Having a clear product strategy is essential to getting as much value as possible for your time and investment.
      </p>
    </HeaderContent>
  </Header>

  <Footer />
</div>