<div>
  <Header @title="Workshop" @active="resources">
    <HeaderContent @headline="Digital product strategy workshop">
      <p typography:class="lead">
        In this two to three-day workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product’s design and development process.
      </p>
      <p typography:class="lead">
        Having a clear product strategy is essential to getting as much value as possible for your time and investment.
      </p>
    </HeaderContent>
  </Header>

  <div layout:class="content" offset:class="after-12">
    <h2 typography:class="h2">
      Before the workshop
    </h2>
    <p typography:class="p">
      Pellentesque eu suscipit sapien. Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit. Aliquam ipsum magna, tristique in dapibus sit amet, dapibus in sem. Integer velit nunc, accumsan et porttitor eu, vulputate pellentesque nulla. Mauris id ante sit amet ex viverra ullamcorper. Nulla non aliquam velit. Morbi fermentum consectetur dignissim. Nullam in semper odio. Aliquam erat volutpat. In feugiat, purus ac scelerisque fermentum, lectus eros tincidunt massa, vitae blandit orci sapien vel odio. Integer consequat libero odio, sed ornare turpis consequat nec. Nam in facilisis nunc.
    </p>
  </div>

  <div layout:class="full" offset:class="after-12">
    <Divider @text="Workshop overview" />
  </div>

  <div layout:class="content" offset:class="after-12">
    <ul block:class="list-topics" offset:class="after-5">
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
      <li block:class="list-topics-item">
        <img src="/assets/images/workshops/topic.svg" block:class="topic-icon" />
        <h3 typography:class="h5" block:class="topic-title">
          Aenean viverra nunc quis lacus hendrerit imperdiet
        </h3>
        <p typography:class="p">
          Ut nulla magna, commodo posuere tellus eget, malesuada dictum dolor. Donec congue est magna, quis lacinia dui accumsan vitae. Nulla in malesuada est, non laoreet neque.
        </p>
      </li>
    </ul>
  </div>

  <div layout:class="content" offset:class="after-12">
    <h2 typography:class="h2">
      Integer at vehicula
    </h2>
    <p typography:class="p">
      Pellentesque eu suscipit sapien. Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit. Aliquam ipsum magna, tristique in dapibus sit amet, dapibus in sem. Integer velit nunc, accumsan et porttitor eu, vulputate pellentesque nulla. Mauris id ante sit amet ex viverra ullamcorper. Nulla non aliquam velit. Morbi fermentum consectetur dignissim. Nullam in semper odio. Aliquam erat volutpat. In feugiat, purus ac scelerisque fermentum, lectus eros tincidunt massa, vitae blandit orci sapien vel odio. Integer consequat libero odio, sed ornare turpis consequat nec. Nam in facilisis nunc.
    </p>
    <p typography:class="p">
      Aliquam nec arcu et massa sodales pharetra eget ac tortor. Aenean et odio nibh. Mauris efficitur tellus orci, at rhoncus nisl ultricies eget. Donec bibendum ipsum non pharetra porta. Integer at vehicula turpis, quis semper massa. Aliquam imperdiet lectus et augue sodales, vel euismod arcu scelerisque. Aenean ex ipsum, viverra non neque eu, dictum facilisis lectus. Curabitur imperdiet odio nec risus maximus, tincidunt congue dui maximus. Maecenas vel nibh at justo consectetur suscipit. Nulla commodo nisi ac accumsan semper.
    </p>
    <h2 typography:class="h2">
      Maecenas vel nibh
    </h2>
    <p typography:class="p">
      Vivamus egestas tellus et vestibulum porta. Nam faucibus velit porttitor diam tempor maximus vitae non augue. Suspendisse luctus odio blandit tellus dictum molestie. Praesent vehicula nec lorem quis commodo. Ut quis felis quis elit gravida varius. Maecenas nisi tortor, congue ac neque non, suscipit consequat dolor. Etiam nisl eros, bibendum non leo id, vehicula feugiat augue. Sed laoreet enim dolor, sit amet mattis mauris suscipit ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet placerat nunc at placerat. Vivamus velit dui, imperdiet nec consectetur quis, tincidunt ac metus. Vestibulum luctus mattis mauris non maximus. Phasellus cursus elit nec commodo ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>
  </div>

  <div layout:class="content">
    <h2 typography:class="h2">
      Workshop leads
    </h2>
  </div>
  <div layout:scope block:class="workshop-lead" offset:class="after-5">
    <div block:class="workshop-lead-card">
      <img src="/assets/images/authors/marcoow.jpg" alt="" block:class="workshop-lead-card-image" />
      <h3 typography:class="h3" block:class="workshop-lead-card-name">
        Marco Otte-Witte
      </h3>
      <p typography:class="h5" block:class="workshop-lead-card-title">
        Founder and Managing Director of simplabs
      </p>
      <p typography:class="p" block:class="workshop-lead-card-p">
        Aliquam nec arcu et massa sodales pharetra eget ac tortor. Aenean et odio nibh. Mauris efficitur tellus orci, at rhoncus nisl ultricies eget. Donec bibendum ipsum non pharetra porta. Integer at vehicula turpis, quis semper massa.
      </p>
    </div>
  </div>
  <div layout:scope block:class="workshop-lead" offset:class="after-21">
    <div block:class="workshop-lead-card">
      <img src="/assets/images/authors/msmarhigh.jpg" alt="" block:class="workshop-lead-card-image" />
      <h3 typography:class="h3" block:class="workshop-lead-card-name">
        Mar High
      </h3>
      <p typography:class="h5" block:class="workshop-lead-card-title">
        Director of Product Design at simplabs
      </p>
      <p typography:class="p" block:class="workshop-lead-card-p">
        Aliquam nec arcu et massa sodales pharetra eget ac tortor. Aenean et odio nibh. Mauris efficitur tellus orci, at rhoncus nisl ultricies eget. Donec bibendum ipsum non pharetra porta. Integer at vehicula turpis, quis semper massa.
      </p>
    </div>
  </div>

  <div layout:class="full" offset:class="after-21">
    <CallToAction
      @title="We're planning a free open workshop!"
      @text="We are hosting a free digital product strategy workshop in 2021. Sign up to be notified when details are available."
      @label="Join this workshop"
    >
      <FormSignup @submit="Sign Up" />
    </CallToAction>
  </div>

  <ShapeFeaturePlaybookMax />

  <Footer />
</div>