@block typography from "../../styles/blocks/typography.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: Card;

  margin-bottom: 6rem;
}

.image {
  height: 75%;
}

.caption {
  margin-top: 3rem;
  font-size: inherit;
  line-height: inherit;
}

.headline {
  margin-bottom: 2rem;
}
