<div>
  <Header @title="The ultimate marketers guide to modern web apps and why users are demanding more">
    <p class="typography.lead">
      Want to know how forward looking marketing departments are taking advantage of modern web apps to capture new demand with incredible online experiences?
    </p>
  </Header>
  <div class="layout.main offset.after-21">
    <h2 class="typography.h3">
      Build incredible experiences for your users
    </h2>
    <p>
      The way that web apps are built has changed dramatically in recent years. Changes in devices, browsers and usage patterns have created a wave of innovation which is waiting to be used by forward looking marketing departments.
    </p>
    <p>
      After this webinar you will understand why these changes are occurring, how technology is responding to this shift and crucially, how you can use these technologies to build incredible experiences for your users.
    </p>
  </div>
  <div class="layout.side offset.after-21">
    <h2 class="typography.h3 offset.after-3">
      Save the date
    </h2>
    <p>
      <time datetime="2019-08-12 18:00+02:00">
        12. August 2019 at 6PM (UTC+2)
      </time>
    </p>
    <h2 class="typography.h3 offset.after-3">
      Save your place
    </h2>
    <FormSignup
      @action="https://simplabs.us13.list-manage.com/subscribe/post?u=50bd3378ab1da4988aa174d0b&id=0258a06c6d"
      @botcontrol="b_50bd3378ab1da4988aa174d0b_0258a06c6d"
      @submit="Join the wait list"
     />

  </div>
  <ShapeDecorative
    @color="#3475FF"
    @src="/assets/images/webinars/rings.svg"
    @bottomImage="/assets/images/webinars/devices.svg"
    @topImage="/assets/images/webinars/mobile.svg"
   />

  <div class="layout.main offset.after-21">
    <h3>
      About simplabs
    </h3>
    <p>
      simplabs build cutting edge web apps for clients around the world. Our team of experts speak internationally on all aspects of modern web development, from cutting edge design that delights new users to globally distributed infrastructure that keeps everything working when demand grows. We’re looking forward to sharing our research in this webinar and answering any questions you have.
    </p>
  </div>
  <ClientsGrid
    @title="Our clients projects show the success of progressive web applications"
    @only="trainline,qonto,cardstack"
   />

  <Footer />
</div>