@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left-md from "../../styles/blocks/shape/shape-left-md.block.css";
@block shape-right-lg from "../../styles/blocks/shape/shape-right-lg.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";

:scope {
  block-name: service;
  extends: screen;
}

:scope .display {
  margin-bottom: 1rem;
}

:scope .main-block {
}

.featured-right-background {
  background-color: resolve("shape-left-md.background");
  background-color: #007DF6;
}

.featured-left-background{
  background-color: resolve("shape-left-md.background");
  background-color: #007DF6;
}

.featured-center {
  justify-content: resolve('shape.shape-center');
  justify-content: flex-start;
}
