@block screen from "../../styles/blocks/screen.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";

:scope {
  block-name: ComponentC;
  extends: screen;
}

:scope .page-header {
}

:scope .display {
  margin-bottom: 1rem;
}

:scope .main-block {
}

:scope .shape-right-lg-bg {
  background: #007DF6;
}

:scope .shape-left-lg-bg {
  background-image: url('assets/images/working-photo.jpg');
}

:scope .shape-center {
  justify-content: flex-start;
}