<div>
  <div class="contents">
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">
          <img class="image-fluid" src="assets/images/neu.svg" />
        </div>
        <div class="navbar-nav">
          <div class="navbar-nav-item">
            <a href="#">
              Services
            </a>
          </div>
        </div>
      </div>
      <!--navbar-->
      <div class="header-block">
        <h1 class="display">
          Full-Stack Engineering
        </h1>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="heading">
                You do the disrupting, we do the engineering
              </h2>
              <p class="lead">
                Although software disrupts existing markets and creates new ones, not all businesses need to build up software engineering know-how internally. Poorly architected systems and slow development cycles can have dramatic negative consequences.
              </p>
              <p class="lead">
                Instead, focussing on their own core strengths while getting software engineering help from an experienced partner can make software an enabler for success rather than a liability.
              </p>
            </div>
          </div>
          <!--item-->
        </div>
        <!--main-block-content-->
        <div class="main-block.sidebar">
          <p>
            Let’s discuss your project
          </p>
          <div class="card">
            <div class="card-form">
              form
            </div>
          </div>
        </div>
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <div class="shape.wrap-md">
        <div class="shape-left-md">
          <div class="shape-left-md.background featured-left-background"></div>
          <!--shape--left-bg-->
        </div>
        <!--shape-left-->
        <div class="shape.shape-center featured-center">
          <div class="shape-center-content">
            <p class="typography.small-text">
              Featured Case Study
            </p>
            <h3 class="typography.sub-heading">
              Leveraging Trainline's full market potential
            </h3>
            <a class="block-link" href="#">
              Learn More
            </a>
          </div>
        </div>
        <div class="shape-right-lg">
          <div class="shape-right-lg-bg">
            <div class="shape-right-content">
              <div class="shape-content-text">
                <p class="body-text">
                  “simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.”
                </p>
                <a class="block-link" href="#">
                  Read Case Study
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--shape-block-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="heading">
                Why Simplabs?
              </h2>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  Instant Productivity
                </h3>
                <p class="body-text">
                  simplabs has an experienced team of technology experts that have worked together for years. Our clients benefit from the productivity of a smooth-running team from day one, avoiding the delay of ramping up a newfound in-house team over weeks and months.
                </p>
                <p class="body-text">
                  Our engineers are experts in the technologies that we use. We actively contribute to the tools and frameworks we build our projects with and thus have in-depth, internal knowledge, resulting in high productivity and quality.
                </p>
              </div>
            </div>
          </div>
          <!--item-->
        </div>
        <!--main-block-content-->
        <div class="main-block.sidebar">
          <p class="small-text">
            How we work
          </p>
          <div class="card">
            <div class="card-image">
              <img class="image-fluid" src="assets/images/playbook-image.png" />
            </div>
            <h3 class="card-sub-heading">
              How we achieve instant productivity
            </h3>
            <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="block-link" href="#">
              Read our Playbook
            </a>
          </div>
        </div>
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <div class="shape-block-lg">
        <div class="shape-left-lg">
          <div class="shape-left-lg-bg"></div>
          <!--shape--left-bg-->
        </div>
        <!--shape-left-->
        <div class="shape-right-lg">
          <div class="shape-right-lg-bg">
            <div class="shape-right-content">
              <div class="shape-content-text">
                <p class="small-text">
                  Expertise
                </p>
                <h3 class="shape-sub-heading">
                  We are Europe’s Leading Ember Experts
                </h3>
                <a class="block-link" href="#">
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--shape-block-->
      <WorkWithUs />
    </div>
    <!--container-->
    <div class="container">
      Footer
    </div>
  </div>
</div>