@block screen from "../../styles/blocks/screen.block.css";

:scope {
  block-name: Expertise;
  extends: screen;
}

:scope .shape-right-bg {
  background: #E15D44;
}

:scope .shape-left-bg {
  background: #E15D44;
}