<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="display">
          Europe's leading Ember experts
        </h1>
        <p class="lead">
          simplabs has been an active member of the Ember Ecosystem from the early days. We are the leading Ember consultancy in Europe and are involved in Ember.js core teams like Ember CLI and Ember Learning. We also maintain a number of widely adopted addons.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-heading">
            <h2 class="heading">
              We love open source
            </h2>
            <p class="lead">
              We have a passion for technology and value conventions-based tools. We like to move fast without breaking things and leverage extensive testing and constant reviews to ensure we deliver high quality results.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="assets/images/ember-auth-icon.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="sub-heading">
                Ember Simple Auth
              </h3>
              <p class="body-text">
                Authentication management for Ember.js applications.
              </p>
              <a class="arrow-link" href="#">
                View GitHub Project
              </a>
            </div>
          </div>
          <!--content-section-->
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="assets/images/ember-auth-icon.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="sub-heading">
                Ember Test Selectors
              </h3>
              <p class="body-text">
                Authentication management for Ember.js applications.
              </p>
              <a class="block-link" href="#">
                View GitHub Project
              </a>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="assets/images/ember-auth-icon.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="sub-heading">
                Ember Cookies
              </h3>
              <p class="body-text">
                Authentication management for Ember.js applications.
              </p>
              <a class="block-link" href="#">
                View GitHub Project
              </a>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="assets/images/ember-auth-icon.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="sub-heading">
                Qunit DOM
              </h3>
              <p class="body-text">
                Authentication management for Ember.js applications.
              </p>
              <a class="arrow-link" href="#">
                View GitHub Project
              </a>
            </div>
          </div>
        </div>
        <div class="main-block.sidebar">
          <p class="small-text">
            Upcoming Events
          </p>
          <div class="card">
            <h3 class="card-sub-heading">
              Meet Us at EmberConf 2019
            </h3>
            <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="block-link" href="#">
              View Our Calendar
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <EmberDocumentaryThumb />
    </div>
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-heading">
            <h2 class="heading">
              We share our expertise
            </h2>
            <p class="lead">
              Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences and meetups and on our blog.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="sub-heading">
                Conference Talks
              </h3>
              <p class="body-text">
                Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences and meetups and on our blog.
              </p>
            </div>
            <!--item-->
          </div>
        </div>
        <div class="main-block.sidebar">
          <p class="small-text">
            Talk Archive
          </p>
          <div class="card">
            <div class="card-image">
              <img class="image-fluid" src="assets/images/card-talk.jpg" />
            </div>
            <h3 class="card-sub-heading">
              Watch talks from our experts
            </h3>
            <p class="body-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="arrow-link" href="#">
              View Our Calendar
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--container-->
    <div class="container">
      <LeadingExperts />
      <WorkWithUs />
    </div>
    <div class="container">
      Footer
    </div>
  </div>
</div>