p a {
  color: var(--color-purple);
}

.btn-primary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.75rem;
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
  border: none;
  border-radius: 0.125rem;
  transition: color ease 0.5s;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  --icon-arrow-margin: 0 0 0 0.5rem;

  &:hover,
  &:focus {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);
  }

  &--large {
    padding: 1.5rem 2.63rem;
    --icon-arrow-margin: 0 0 0 0.75rem;
    --icon-arrow-size: 1.5rem;
    font-size: 2.25rem;

    &:hover,
    &:focus {
      --icon-arrow-transform: translate3d(0.75rem, 0, 0);
    }
  }

  &--purple {
    background-color: var(--color-purple);
  }

  &--aqua {
    background-color: var(--color-aqua);
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-link-primary);
  }

  .icon-arrow {
    display: inline-block;
  }
}

.btn-primary:hover {
  text-decoration: none;
}

.btn-secondary {
  display: flex;
  align-items: center;
  text-decoration: none;
  --icon-arrow-size: 1.5rem;
  --icon-arrow-margin: 0 1.5rem 0 0;
  --icon-arrow-color: var(--color-purple);

  &-text {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);
    text-decoration: none;
    color: var(--color-purple);
  }

  &--reversed {
    --icon-arrow-margin: 0 0 0 1.5rem;
  }

  .icon-arrow {
    display: inline-block;
  }
}

.btn-secondary__text {
  display: inline-flex;
}
