p a {
  color: var(--color-purple);
}

.btn-primary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.75rem;
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.125rem;
  transition: color ease 0.5s;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  .icon-arrow {
    flex-shrink: 0;
  }

  svg {
    transform: translateX(0px) rotate(-90deg);
    height: 1rem;
    width: 1rem;
    color: var(--color-white);
    margin-left: 0.5rem;
    transition: transform 0.5 ease;
  }

  &:hover, &:focus {
    svg {
      transform: translateX(0.5rem) rotate(-90deg);
      transition: transform 0.5 ease;
    }
  }

  &--purple {
    background-color: var(--color-purple);
  }

  &--aqua {
    background-color: var(--color-aqua);
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-link-primary);

    svg {
      color: var(--color-link-primary);
    }
  }
}

.btn-primary:hover {
  text-decoration: none;
}

.btn-secondary {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-text {
    text-decoration: none;
  }

  .icon-arrow {
    flex-shrink: 0;
  }

  svg {
    transform: translateX(0px) rotate(-90deg);
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-purple);
    margin-right: 1.5rem;
    transition: transform 0.5 ease;
  }

  &.previous {
    svg {
      transform: translateX(0px) rotate(90deg);
      margin-right: 1.5rem;
      margin-left: 0;
      transition: transform 0.5 ease;
    }

    &:hover svg, &:focus svg {
      transform: translateX(-0.5rem) rotate(90deg);
    }
  }
}

.btn-secondary:hover, .btn-secondary:focus {
  text-decoration: none;

  svg {
    transform: translateX(0.5rem) rotate(-90deg);
    transition: transform 0.5 ease;
  }

  .btn-secondary-text {
    text-decoration: none;
  }
}

.next {
  svg {
    transform: rotate(-90deg);
    margin-right: 0;
    margin-left: 1.5rem;
  }
}

.videos {
  svg {
    transform: rotate(-90deg);
    margin-right: 0;
    margin-left: 1.5rem;
  }
}

.message {
  cursor: pointer;

  svg {
    transform: rotate(-90deg);
    margin-right: 0;
    margin-left: 1.5rem;
    color: var(--color-white);
  }

  &:hover, &:focus {
    color: var(--color-aqua);
  }
}

a.btn-secondary {
  &:hover,
  &:focus {
    .btn-secondary__text {
      color: var(--color-purple);
    }
  }
}

.btn-secondary__text {
  display: inline-flex;
}
