.cta-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-link-primary);
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.125rem;
  transition: 0.3s color ease;

  &:hover,
  &:focus {
    color: var(--color-link-primary-hover);
  }
}

.cta-link__text {
  position: relative;
  z-index: 1;
}

.cta-link__arrow {
  position: relative;
  flex: 0 0 0.75rem;
  margin-left: 0.5rem;
  z-index: 1;
}
