.cta-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-link-primary);
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    .cta-link__text {
      color: var(--color-link-primary-hover);
    }

    .cta-link__arrow svg {
      color: var(--color-link-primary-hover);
    }
  }
}

.cta-link__text {
  position: relative;
  z-index: 1;
  color: currentColor;
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.0625rem;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.cta-link__arrow {
  position: relative;
  margin-left: 0.25rem;
  z-index: 1;

  svg {
    transform: rotate(-90deg);
    transition: color 0.3s ease;
  }

  &--rotate {
    margin-left: 0;
    margin-right: 0.5rem;

    svg {
      transform: rotate(90deg);
    }
  }
}

.btn-primary {
  display: block;
  padding: 1rem 1.75rem;
  line-height: 1;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.125rem;
  transition: background-color ease 0.3s;

  &--purple {
    background-color: var(--color-purple);

    &:hover {
      background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
        linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
        linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
        linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
        radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
      background-blend-mode: screen, color-dodge, overlay, difference, normal;
      color: var(--color-white);
    }
  }

  &--aqua {
    background-color: var(--color-aqua);

    &:hover {
      background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
        linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
        linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
        linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
        radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
      background-blend-mode: screen, color-dodge, overlay, difference, normal;
      color: var(--color-white);
    }
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-link-primary);

    &:hover {
      background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
        linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
        linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
        linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
        radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
      background-blend-mode: screen, color-dodge, overlay, difference, normal;
      color: var(--color-white);
    }
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-text {
    text-decoration: none;
  }

  svg {
    transform: rotate(-90deg);
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-purple);
    margin-right: 1.5rem;
  }
}

a.btn-secondary {
  &:hover,
  &:focus {
    .btn-secondary__text {
      color: var(--color-purple);
    }
  }
}

.btn-secondary__text {
  display: inline-flex;
}
