pre,
code {
  background-color: var(--color-offwhite);
  color: #5b5b5b;
}

pre {
  width: 100%;
  overflow: auto;
  margin: 2rem 0 3rem;
  border: 1px solid #ddd;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  padding: 0.25rem;
}

pre code {
  display: block;
  padding: 0.5rem 1rem;
}

code {
  .keyword {
    color: #333;
    font-weight: 700;
  }

  .string,
  .property {
    color: #d14;
  }

  .class-name {
    color: #900;
    font-weight: 700;
  }

  .comment {
    color: #998;
    font-style: italic;
  }

  .attribute {
    color: #999;
    font-weight: 700;
  }

  .builtin {
    color: #0086b3;
    font-weight: 400;
  }
}
