.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  &--xl {
    max-width: 75rem;
  }

  &--lg {
    max-width: 58.25rem;
  }

  &--md {
    max-width: 40rem;
  }

  &--sm {
    max-width: 31.25rem;
  }
}
