*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  line-height: 1.5;
  font-family: var(--font-base);
  color: var(--color-body-text);
  background-color: var(--color-bg);
}

html {
  overflow-x: hidden;
}

picture,
img,
svg {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;

  & + & {
    margin-top: 1rem;
  }
}

a {
  color: currentColor;
}
