*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  line-height: 2;
  font-family: var(--font-base);
  font-size: 1rem;
  color: var(--color-body-text);
  background-color: var(--color-bg);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  line-height: 2;

  &.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

picture,
img,
svg {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;

  & + & {
    margin-top: 1rem;
  }
}

a {
  color: currentColor;
  text-underline-offset: 0.125rem;
}

button {
  border-radius: 0;
}

::selection {
  background-color: var(--color-purple);
  color: var(--color-white);

  [data-background-color="purple"] & {
    background-color: var(--color-aqua);
  }
}


@media (min-width: 72em) {
  body {
    line-height: 2;
    font-size: 1.125rem;
  }
}