@keyframes holohover {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25));
    background-blend-mode: screen;
    background-position: cover;
  }
}

@keyframes holoout {
  from {
    opacity: 100%;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .1)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25));
    background-blend-mode: screen;
    background-position: cover;
  }

  to {
    opacity: 0%;
  }
}

@keyframes aquafill {
  from {
    fill: #55e6d8;
  }
  to {
    fill: #fff;
  }
}

@keyframes aquaout {
  from {
    fill: #fff;
  }
  to {
    fill: #55e6d8;
  }
}

@keyframes purplefill {
  from {
    fill: #5600d1;
  }
  to {
    fill: #fff;
  }
}

@keyframes purpleout {
  from {
    fill: #fff;
  }
  to {
    fill: #5600d1;
  }
}

@keyframes blackfill {
  from {
    fill: #2b2b2b;
  }
  to {
    fill: #fff;
  }
}

@keyframes blackout {
  from {
    fill: #fff;
  }
  to {
    fill: #2b2b2b;
  }
}
