@keyframes holohover {
  from {
    opacity: 0%;
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
    linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
    linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
    linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }

  to {
    opacity: 100%;
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
    linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
    linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
    linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
}

@keyframes holoout {
  from {
    opacity: 100%;
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
    linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
    linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
    linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }

  to {
    opacity: 0%;
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
    linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
    linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
    linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
}

@keyframes aquafill {
  from {
    fill: #55E6D8;
  }
  to {
    fill: #fff;
  }
}

@keyframes aquaout {
  from {
    fill: #fff;
  }
  to {
    fill: #55E6D8;
  }
}

@keyframes purplefill {
  from {
    fill: #5600D1;
  }
  to {
    fill: #fff;
  }
}

@keyframes purpleout {
  from {
    fill: #fff;
  }
  to {
    fill: #5600D1;
  }
}

@keyframes blackfill {
  from {
    fill: #2B2B2B;
  }
  to {
    fill: #fff;
  }
}

@keyframes blackout {
  from {
    fill: #fff;
  }
  to {
    fill: #2B2B2B;
  }
}


