@keyframes holohover {
  from {
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    opacity: 0%;

  }

  to {
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    color: var(--color-white);
    opacity: 100%;
  }
}

@keyframes holoout {
  from {
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    opacity: 100%;

  }

  to {
    background-image: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    color: var(--color-white);
    opacity: 0%;
  }
}
