@use "../mixins/rem-calc" as *;

h1,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2.5rem, -0.5rem + 6.25vw, 4rem);
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2.25rem, -0.25rem + 5.2083vw, 3.5rem);
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2rem, 0rem + 4.1667vw, 3rem);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(1.75rem, 1.25rem + 1.0417vw, 2rem);
  line-height: 1.5;
  letter-spacing: 0;
}

h5,
.h5 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: clamp(1rem, 0.75rem + 0.5208vw, 1.125rem);
  line-height: 1.5;
  letter-spacing: 0;
}

body {
  font-size: 1.5rem;
  line-height: 2;
}

.large {
  font-size: clamp(1.5rem, 1rem + 1.0417vw, 1.75rem);
  line-height: 2;
}

.strong {
  font-weight: 700;
}

.medium {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

.small {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
}

.caption {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

.text--accent {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: rem-calc(2);
}

.text--uppercase {
  text-transform: uppercase;
}

h4.medium {
  font-size: clamp(1.3rem, 0.94rem + 0.78vw, 1.5rem);
  font-weight: 700;
  line-height: 1.5; 
}