h1,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2.5rem, -2.5rem + 10.4167vw, 5rem);
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2.5rem, -0.5rem + 6.25vw, 4rem);
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(2rem, -1rem + 6.25vw, 3.5rem);
  line-height: 1.1;
  text-transform: none;
  letter-spacing: 0;
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(1.75rem, 1.25rem + 1.0417vw, 2rem);
  line-height: 1.3;
  letter-spacing: 0;
}

h5,
.h5 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: clamp(1rem, 0.75rem + 0.5208vw, 1.125rem);
  line-height: 1.3;
  letter-spacing: 0;
}

h6,
  .h6 {
    margin: 0;
    font-family: var(--font-base);
    font-size: clamp(1rem, 0.75rem + 0.5208vw, 1.125rem);
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0;
  }


body {
  font-size: 1.4rem;
  line-height: 1.5;
}

.large {
  font-size: clamp(1.4rem, 0.2rem + 2.5vw, 2rem);
  line-height: 1.5;
}

.small {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.7;
}

.caption {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.text--accent {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: rem-calc(2);
}

.text--uppercase {
  text-transform: uppercase;
}
