h1,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(36);
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(36);
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(24);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: rem-calc(24);
  line-height: 1.5;
  letter-spacing: 0;
}

h5,
.h5 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: rem-calc(18);
  line-height: 1.5;
  letter-spacing: 0;
}

@media (min-width: 72em) {
  h1,
  .h1 {
    font-size: rem-calc(64);
    line-height: 1.25;
  }

  h2,
  .h2 {
    font-size: rem-calc(56);
  }

  h3,
  .h3 {
    font-size: rem-calc(44);
  }

  h4,
  .h4 {
    font-size: rem-calc(24);
  }
}

.caption {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
}

.text--accent {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: rem-calc(2);
}

.text--sm {
  font-size: 1rem;
  line-height: 1.7;
}

.text--xs {
  font-size: 0.875rem;
  line-height: 1.7;
}

.text--xxs {
  font-size: 0.75rem;
}

.text--semibold {
  font-weight: 500;
}

.text--bold {
  font-weight: 700;
}

.text--uppercase {
  text-transform: uppercase;
}
