@use "breakpoints" as *;

.screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  position: absolute;
  padding: 0.5rem;
  background-color: var(--color-aqua);
  color: var(--color-white);
  pointer-events: none;
  opacity: 0;
  z-index: 10;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.hidden {
  display: none;
}

.mobile-hidden {
  @media (max-width: $breakpoint-s) {
    display: none;
  }
}

.m {
  &-0 {
    margin: 0;
  }
  &t-0 {
    margin-top: 0;
  }
  &t-015 {
    margin-top: 1.5rem;
  }
  &t-2 {
    margin-top: 2rem;
  }
  &t-25 {
    margin-top: 2.5rem;
  }
  &t-3 {
    margin-top: 3rem;
  }
  &t-4 {
    margin-top: 4rem;
  }
  &t-5 {
    margin-top: 5rem;
  }
  &t-10 {
    margin-top: 5rem;

    @media (min-width: $breakpoint-s) {
      margin-top: 10rem;
    }
  }
  &t-15 {
    margin-top: 5rem;

    @media (min-width: $breakpoint-s) {
      margin-top: 15rem;
    }
  }
  &b-0 {
    margin-bottom: 0;
  }
  &b-015 {
    margin-bottom: 1.5rem;
  }
  &b-2 {
    margin-bottom: 2rem;
  }
  &b-25 {
    margin-bottom: 2.5rem;
  }
  &b-3 {
    margin-bottom: 3rem;
  }
  &b-4 {
    margin-bottom: 4rem;
  }
  &b-5 {
    margin-bottom: 5rem;
  }
  &b-6 {
    margin-bottom: 5rem;

    @media (min-width: $breakpoint-s) {
      margin-bottom: 6rem;
    }
  }
  &b-10 {
    margin-bottom: 5rem;

    @media (min-width: $breakpoint-s) {
      margin-bottom: 10rem;
    }
  }
  &b-15 {
    margin-bottom: 5rem;

    @media (min-width: $breakpoint-s) {
      margin-bottom: 15rem;
    }
  }
  &y-0 {
    margin: 0 auto;
  }
  &y-015 {
    margin: 1.5rem auto;
  }
  &y-2 {
    margin: 2rem auto;
  }
  &y-25 {
    margin: 2.5rem auto;
  }
  &y-3 {
    margin: 3rem auto;
  }
  &y-4 {
    margin: 4rem auto;
  }
  &y-5 {
    margin: 5rem auto;
  }
  &y-10 {
    margin: 5rem auto;

    @media (min-width: $breakpoint-s) {
      margin: 10rem auto;
    }
  }
  &y-15 {
    margin: 5rem auto;

    @media (min-width: $breakpoint-s) {
      margin: 15rem auto;
    }
  }
}

.p {
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-5 {
    padding: 5rem;
  }
  &-s-5 {
    @media (min-width: $breakpoint-s) {
      padding: 5rem;
    }
  }
  &t-3 {
    padding-top: 3rem;
  }
  &t-4 {
    padding-top: 4rem;
  }
  &b-0 {
    padding-bottom: 0;
  }
  &b-3 {
    padding-bottom: 3rem;
  }
  &b-5 {
    padding-bottom: 5rem;
  }
  &b-10 {
    padding-bottom: 5rem;

    @media (min-width: $breakpoint-s) {
      padding-bottom: 10rem;
    }
  }
  &y-10 {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (min-width: $breakpoint-s) {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

body[data-js-enabled="false"] * {
  transition-duration: 0s !important;
}

body[data-js-enabled="false"] .no-js-hidden {
  display: none;
}
