:root {
  --color-black: #000;
  --color-purple: #6200ee;
  --color-yellow: #ffc400;
  --color-aqua: #02ceba;
  --color-blue: #307fee;
  --color-mid-gray: #878787;
  --color-light-gray: #cfcece;
  --color-offwhite: #eeeeee;
  --color-white: #fff;
  --color-red: #E04E39;

  // Globals
  --color-bg: var(--color-white);
  --color-body-text: var(--color-black);
  --color-link-primary: var(--color-purple);
  --color-link-primary-hover: var(--color-aqua);
  --color-link-background: var(--color-yellow);

  --font-base: "Core Sans A", sans-serif;
}
