@block screen from "../../styles/blocks/screen.block.css";
@block card from "../../styles/blocks/card.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: PageCaseDdWrt;
  extends: screen;
}

.shape-decoration-bg {
  background: #007DF6;
}

.shape-left-bg {
  background-color: #007DF6;
  background-image: url('/assets/images/sky.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}
