@block container from "../../styles/blocks/container.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block typography from "../../styles/blocks/typography.block.css";

@export layout from "../../styles/blocks/layout.block.css";
@export offset from "../../styles/blocks/offset.block.css";

:scope {
  block-name: PageCaseDdWrt;
  composes: 'layout';
}

.pull {
  margin-top: -6rem;
}

.push {
  margin-top: 4rem;
}
