@block button from "../../styles/blocks/button.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block list from "../../styles/blocks/list.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block header-content from "../HeaderContent/stylesheet.css";
@block shape-image from "../ShapeImage/stylesheet.css";

:scope {
  block-name: PagePlaybook;
  composes: 'layout';
}

.accent {
  font-size: var(--h1);
  line-height: var(--h1-lh);
  color: var(--color-accent);
}

.first-headline {
  margin-top: 2rem;
}

.header-image {
  height: resolve('header-content.image');
  right: 0;
  height: auto;
  max-width: 40%;
}

.left-bleeded-illustration {
  -webkit-clip-path: resolve("shape-image:scope[align='left']");
  clip-path: resolve("shape-image:scope[align='left']");
  -webkit-clip-path: none;
  clip-path: none;
}

.right-bleeded-illustration {
  -webkit-clip-path: resolve("shape-image:scope[align='right']");
  clip-path: resolve("shape-image:scope[align='right']");
  -webkit-clip-path: none;
  clip-path: none;
}

.illustration {
  width: resolve('fluid-image.image-clipped');
  width: auto;
}

@media (max-width: 887px) {
  .first-headline {
    margin-top: 7rem;
  }

  .header-image {
    width: resolve('header-content.image');
    position: resolve('header-content.image');
    height: resolve('header-content.image');
    width: 100%;
    max-width: 100%;
    position: relative;
    height: auto;
  }
}

@export button;
@export typography;
@export layout;
@export offset;
@export list;
@export fluid-image;
@export header-content;
@export shape-image;
