<div>
  <Header
    @title="Playbook"
    @documentTitle="Digital Products & Team Augmentation & Training and Support | Our Services"
    @description="We turns ideas into products, managing projects from start to end and help tech teams move faster with confidence via Team Augmentation and Tuturing."
  >
    <HeaderContent
      @label="Free Ebook"
      @headline="Digital Product Playbook"
      @attachment="blue-ribbon"
      @srcset="/assets/images/photos/coding@900.jpg 900w, /assets/images/photos/coding@1800.jpg 1800w"
      @sizes="(max-width: 887px) 900px, 1800px"
    >
      <p typography:class="p">
        This book is a guide for developing digital products following a proven procedure as well as running an effective and low overhead product development process. It describes what we do at simplabs and is based on experience we made while working on digital products for international clients in various industries.
      </p>
      <ArrowLink>
        Download our free guide to learn about developing digital products
      </ArrowLink>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-12">
    <h3>
      For anyone developing digital products of any kind
    </h3>
    <p typography:class="p">
      We believe that the techniques and practices we present in this book will prove helpful for anyone developing digital products of any kind in any industry – whether you are a CTO of an established company, a founder looking to set up their own product team, a product manager, designer or developer.
    </p>
  </div>
  <div layout:class="bleed-left" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/sketching-table@600.jpg 600w, /assets/images/photos/sketching-table@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing" offset:class="after-21">
    <h3 offset:class="after-12">
      Key Questions
    </h3>
    <ul list:class="vertical">
      <li list:class="vertical-item">
        What are the key steps to develop digital products?
      </li>
      <li list:class="vertical-item">
        How can I avoid delays and budget overruns?
      </li>
      <li list:class="vertical-item">
        Who should be included in a project team?
      </li>
      <li list:class="vertical-item">
        How much up-front design is needed?
      </li>
      <li list:class="vertical-item">
        When should I gather feeback from users?
      </li>
    </ul>
    <ArrowLink @href="/services/product-design">
      Find the answers in our guide
    </ArrowLink>
  </div>
  <div layout:class="full" offset:class="after-21">
    <h2>
      Lorem Ipsum
    </h2>

    <p typography:class="p">
      Instead of focussing on any precise tasks and tools, we focus on the underlying values and techniques that are independent of any particular tools or organizational structure. Whether you are running a small team of only a few people or a large organization, whichever of the plethora of tools for organizing software teams you are using, you should be able to adopt the techniques presented in this book.
    </p>
  </div>
  <div layout:class="full" offset:class="after-12">
    <h3>
      Organization of this book
    </h3>
  </div>
  <div layout:class="split-leading" offset:class="after-21">
    <h4>
      <div block:class="accent">
        01
      </div>
      Digital Product Projects
    </h4>
    <p typography:class="p">
      Describes how digital products are build effectively and in a targeted manner.
    </p>
  </div>
  <div layout:class="split-trailing" offset:class="after-21">
    <h4>
      <div block:class="accent">
        02
      </div>
      Digital Product Projects
    </h4>
    <p typography:class="p">
      Describes how product teams run an efficient process that enables the team rather than stand in its way
    </p>
  </div>
  <div layout:class="full" offset:class="after-21">
    <ShapeQuoteTrainline />
  </div>
  <div layout:class="split-leading" offset:class="after-21">
    <h2>
      From the book
    </h2>

    <h3>
      On scoping software projects
    </h3>
    <p typography:class="p">
      Software projects are highly dynamic. The bigger the scope and the complexity of a project, the likelier it is to steer off track, resulting in delays and budget overruns.
    </p>
    <ArrowLink @href="/services/team-augmentation/" @leftAlign={{true}}>
      Read More
    </ArrowLink>

    <h3>
      On getting early feedback
    </h3>
    <p typography:class="p">
      Early versions of the product can already be shared with users and be used to acquire valuable feedback which might even result in a shift of focus or project direction.
    </p>
    <ArrowLink @href="/services/team-augmentation/" @leftAlign={{true}}>
      Read More
    </ArrowLink>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/sketching-table@600.jpg 600w, /assets/images/photos/sketching-table@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <div layout:class="full" offset:class="after-21">
    <ShapePlaybook />
  </div>
  <div layout:class="full" offset:class="after-21">
    <h2>
      About simplabs
    </h2>
    <p typography:class="p">
      Simplabs is a full-service digital agency that crafts digital products for clients around the globe. We have our roots in the open source community (we’re leading the Ember community in Europe) and value old-fashioned things like code quality, robustness, dependability and honesty.
    </p>
    <p typography:class="p" offset:class="after-12">
      We build digital products that are stable, and ready to scale.
    </p>
    <ul list:class="logos">
      <li list:class="logo">
        <img src="/assets/images/logos/trainline.svg" alt="Trainline" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/cardstack.svg" alt="Cardstack" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/generali.svg" alt="Generali" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/experteer.svg" alt="Experteer" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/qonto.svg" alt="Qonto" />
      </li>
    </ul>
  </div>
  <WorkWithUs @teamMember="marco" />
  <Footer />
</div>