<div>
  <Header
    @title="Playbook"
    @documentTitle="Our Playbook"
    @description="Our playbook describes methodologies for building sustainable digital products and provides guidance for teams of all sizes, on-site or remote."
  >
    <div header-content:scope header-content:attachment="image">
      <div header-content:class="container">
        <div header-content:class="content">
          <h1 typography:class="display">
            <small typography:class="small">
              Playbook
              <span typography:class="hidden">
                :
              </span>
            </small>
            Build lasting products, systematically
          </h1>
          <p typography:class="lead">
            Our playbook describes methodologies for building sustainable digital products and running an effective,
            collaborative product development process. It is based on experience we made working on projects with
            international clients in various industries for many years.
          </p>
          <ArrowLink @href="#download">
            Download our guide to generating sustainable business value through effective collaboration
          </ArrowLink>
        </div>
        <div header-content:class="sidebar">
          <img
            srcset="/assets/images/playbook/header@600.png 600w, /assets/images/playbook/header@1200.png 1200w"
            sizes="(max-width: 887px) 600px, 1200px"
            header-content:class="image"
            block:class="header-image"
            alt=""
          />
        </div>
      </div>
    </div>
  </Header>
  <div layout:class="full" offset:class="after-12" block:class="first-headline">
    <h3>
      For big and small teams – on-site or remote
    </h3>
    <p typography:class="lead">
      The patterns and practices from our playbook work for teams and companies of all sizes with all kinds of projects
      – whether it is an established company aiming for a modern, remote-friendly process, a founder setting up their
      own product team or an individual product manager, designer or developer looking to make their team more
      effective.
    </p>
  </div>
  <div layout:class="bleed-left" offset:class="after-21">
    <div shape-image:scope shape-image:align="left" block:class="left-bleeded-illustration">
      <img
        srcset="/assets/images/playbook/map@600.png 600w, /assets/images/playbook/map@1200.png 1200w"
        sizes="(max-width: 887px) 600px, 1200px"
        fluid-image:class="image-clipped"
        block:class="illustration"
        alt=""
      />
    </div>
  </div>
  <div layout:class="split-trailing" offset:class="after-21">
    <h3>
      Our Core Values
    </h3>
    <ul list:class="vertical">
      <li list:class="vertical-item">
        Collaborating closely among all stakeholders
      </li>
      <li list:class="vertical-item">
        Iterating in small, functional increments
      </li>
      <li list:class="vertical-item">
        Validating assumptions early and often
      </li>
      <li list:class="vertical-item">
        Supporting remote teams through transparency
      </li>
      <li list:class="vertical-item">
        Delivering products with sustainable foundations
      </li>
    </ul>
    <ArrowLink @href="#download">
      Download the book
    </ArrowLink>
  </div>
  <div layout:class="full" offset:class="after-5">
    <h3>
      Organization of this book
    </h3>
  </div>
  <div layout:scope offset:class="after-16">
    <div layout:class="split-leading" offset:class="after-5">
      <h4>
        <div block:class="accent">
          01
        </div>
        Digital Product Projects
      </h4>
      <p typography:class="p">
        Iterating in small increments and validating assumptions at every step of the process allows addressing business
        needs with digital products effectively.
      </p>
    </div>
    <div layout:class="split-trailing" offset:class="after-5">
      <h4>
        <div block:class="accent">
          02
        </div>
        Development Process
      </h4>
      <p typography:class="p">
        Organizing and preparing work based on the input of all project shareholders maximizes a team's effectiveness
        and output quality.
      </p>
    </div>
  </div>
  <div layout:scope offset:class="after-21">
    <ShapeQuoteTrainline />
  </div>
  <div layout:class="split-leading" offset:class="after-21">
    <h2>
      From the book
    </h2>
    <h3>
      Decomposition
    </h3>
    <p typography:class="p">
      Large tasks become better planable and less risky when decomposed into smaller units. This applies to full
      products that should be broken down into an MVP and subsequent increments but also for finer grained development
      or design tasks.
    </p>
    <ArrowLink @href="#download">
      Read more
    </ArrowLink>

    <h3>
      Transparent Communication
    </h3>
    <p typography:class="p">
      Transparent communication and decision making processes are key for successful projects. Channeling communication
      through tools makes it transparent to all stakeholders and keeps a persistent record of discussions and decisions
      which is critical in particular for remote teams.
    </p>
    <ArrowLink @href="#download">
      Read more
    </ArrowLink>

    <h3>
      Self–Organisation
    </h3>
    <p typography:class="p">
      We believe the classic project manager role is an organisational anti-pattern and advocate for self-organised
      project teams. Close and direct collaboration between all stakeholders fosters alignment towards a common goal and
      is essential to a project's success.
    </p>
    <ArrowLink @href="#download">
      Read more
    </ArrowLink>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <div shape-image:scope shape-image:align="right" block:class="right-bleeded-illustration">
      <img
        srcset="/assets/images/playbook/team@600.png 600w, /assets/images/playbook/team@1200.png 1200w"
        sizes="(max-width: 887px) 600px, 1200px"
        fluid-image:class="image-clipped"
        block:class="illustration"
        alt=""
      />
    </div>
  </div>
  <div layout:scope offset:class="after-21" id="download">
    <ShapePlaybook />
  </div>
  <div layout:class="full">
    <h2>
      About simplabs
    </h2>
    <p typography:class="p">
      simplabs is a digital product agency that crafts products for clients around the globe. We have our roots in the
      open source community (we’re the foremost Ember.js team in Europe) and create digital products for clients that
      value code quality, robustness, dependability and honesty.
    </p>
    <p typography:class="p" offset:class="after-12">
      We build digital products that are stable, and ready to scale.
    </p>
    <ul list:class="logos">
      <li list:class="logo">
        <img src="/assets/images/logos/trainline.svg" alt="Trainline" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/cardstack.svg" alt="Cardstack" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/generali.svg" alt="Generali" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/experteer.svg" alt="Experteer" />
      </li>
      <li list:class="logo">
        <img src="/assets/images/logos/qonto.svg" alt="Qonto" />
      </li>
    </ul>
  </div>
  <WorkWithUs @teamMember="marco" />
  <Footer />
</div>