@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageContact;
  composes: 'layout';
}

.contact {
  margin-bottom: 8rem;
}

.type {
  margin-bottom: 2rem;
}

.value {
  margin-bottom: 3rem;
  font-size: var(--h4);
  line-height: var(--h4-lh);
  color: var(--color-accent);
}

.value-link {
  color: inherit;
  text-decoration: none;
}

.map {
  position: relative;
  margin-bottom: 2rem;
}

.map-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.map-pin {
  display: block;
  width: 7.125rem;
  height: 8.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.vcard {
  font-size: var(--h4);
  line-height: var(--h4-lh);
  color: var(--color-secondary);
}

@export typography;
@export offset;
@export layout;
