<div>
  <Header
    @active="contact"
    @title="Contact"
    @documentTitle="Contact us to discuss how we can help you"
    @description="Whatever you're planning, we'd love to hear more. Send us a message and we will schedule a call to understand your situation and discuss how we can help best."
  >
    <HeaderContent @headline="Contact Us" @label="Work with Us" />
  </Header>
  <div layout:class="main" offset:class="after-21">
    <p typography:class="lead" offset:class="after-12">
      Whatever you're planning, we'd be excited to hear more. We can turn your ideas into successful digital products,
      improve existing ones or increase your team's effectiveness.
    </p>
    <FormContact />
    <h3 offset:class="before-12">
      Next Steps
    </h3>
    <p>
      Following your message, we will schedule a call to understand your situation and discuss the best way we can help.
      We will use this information to prepare a proposal, laying out our process and how it would apply to your
      particular project. We will also define some project milestones and give you an overview of what a timeline could
      look like.
    </p>
  </div>
  <div layout:class="side" offset:class="after-21">
    <dl block:class="contact">
      <dt block:class="type" typography:class="small">
        Call us
      </dt>
      <dd block:class="value">
        <a href="tel:+498945213903‬" block:class="value-link">
          +49 89 452 139 03‬
        </a>
      </dd>
      <dt typography:class="small">
        Email us
      </dt>
      <dd block:class="value">
        <a href="mailto:info@simplabs.com" block:class="value-link">
          info@simplabs.com
        </a>
      </dd>
      <dt typography:class="small">
        Follow us
      </dt>
      <dd block:class="value">
        <a block:class="value-link" href="https://twitter.com/simplabs" target="_blank" rel="noopener">
          @simplabs
        </a>
      </dd>
    </dl>
    <h2 typography:class="small">
      Come by
    </h2>
    <p block:class="map">
      <img
        block:class="map-image"
        src="/assets/images/contact/map.png"
        width="588"
        height="350"
        alt="Map showing simplabs' office location at Hans-Sachs-Str. 12, 80469 München, Germany"
      />
      <svg block:class="map-pin" height="71" viewBox="0 0 57 71" width="57" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m48.5630967 8.62661428c11.2241363 11.57921762 11.2241363 30.10596592.1496551 41.53079392l-20.2034454 20.8425918-20.20344549-20.8425918c-11.07448121-11.424828-11.07448121-29.9515763 0-41.37640435l.14965515-.15438957c11.07448124-11.42482807 28.88344424-11.57921764 40.10758064 0-.1496552-.15438956-.1496552-.15438956 0 0z"
          fill="#fff"
        ></path>
        <g fill="#007df6">
          <path d="m30 32v14c4.7693023-.448706 9.132093-2.8938288 12-6.7259456z"></path>
          <path
            d="m44.2016606 36.5114105c1.1784629-2.3249381 1.7944776-4.8835854 1.7983037-7.4786912.0181744-8.7893319-6.9129473-16.22876-15.8690737-17.0327193v16.1633214zm-31.4416187-14.9106406c-1.1555058 2.308111-1.7581288 4.8433874-1.7600419 7.4132526.0057393 8.765961 6.9196431 16.1745395 15.8499429 16.9859775v-16.023096z"
            fill-rule="nonzero"
          ></path>
          <path d="m27 26v-14c-4.7796139.4506912-9.1468726 2.9059908-12 6.7465438z"></path>
        </g>
      </svg>
    </p>
    <p block:class="vcard">
      Hans-Sachs-Str. 12
      <br />
      80469 München
      <br />
      Germany
    </p>
  </div>
  <ClientsGrid offset:class="after-21" @title="We are trusted by international brands" @only="generali,qonto,timify" />
  <Footer />
</div>