<ShapeFeature @color="#CB3B43" @background="/assets/images/work/timify.jpg">
  <p class="typography.small-text">
    Continue Reading
  </p>
  <h3 class="typography.headline-2">
    Modern online appointment scheduling
  </h3>
  <p class="typography.body-text">
    Enabling long-term success for Timifiy’s engineering team
  </p>
  <ArrowLink @href="#">
    Read Case Study
  </ArrowLink>
</ShapeFeature>