<ShapeFeature
  @color="#CB3B43"
  @background="#304158"
  @srcset="/assets/images/work/timify-left@600.png 600w, /assets/images/work/timify-left@1200.png 1200w"
  @sizes="(max-width: 887px) 600px, 1200px"
  @key="{{this.key}}-feature"
>
  <p class="typography.small">
    Continue Reading
  </p>
  <h3>
    Modern online appointment scheduling
  </h3>
  <p>
    Enabling long-term success for Timifiy’s engineering team
  </p>
  <ArrowLink @href="/cases/timify/">
    Read Case Study
  </ArrowLink>
</ShapeFeature>