<div class="content-section services-teaser">
  <div class="container">
    <div class="row d-flex">
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/engineering/" class="d-flex flex-column justify-content-between">
          <h3 class="d-flex">
            {% include svgs/icons/engineering.svg class="icon" %}
            <span>Full Stack Engineering</span>
          </h3>
          <p>You do the Disrupting, we do the Engineering.</p>
          <p class="more">Learn more</p>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/team-augmentation/" class="d-flex flex-column justify-content-between">
          <h3 class="d-flex">
            {% include svgs/icons/team-augmentation.svg class="icon" %}
            <span>Team Augmentation</span>
          </h3>
          <p>Bring in the experts when you need them.</p>
          <p class="more">Learn more</p>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/training/" class="d-flex flex-column justify-content-between">
          <h3 class="d-flex">
            {% include svgs/icons/training.svg class="icon" %}
            <span>Training</span>
          </h3>
          <p>Raising confidence through teaching.</p>
          <p class="more">Learn more</p>
        </a>
      </div>
    </div>
  </div>
</div>