<div class="content-section services-teaser">
  <div class="background"></div>
  <div class="container">
    <div class="row d-flex align-items-stretch">
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/engineering/" class="d-flex flex-column align-items-center justify-content-beginning">
          {% include svgs/icons/engineering.svg class="icon" alt="icon - Full Stack Engineering" %}
          <h3>Full Stack Engineering</h3>
          <p>You do the <strong>Disrupting</strong>, we do the <strong>Engineering</strong>.</p>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/team-augmentation/" class="d-flex flex-column align-items-center justify-content-beginning">
          {% include svgs/icons/team-augmentation.svg class="icon" alt="icon - Team Augmentation" %}
          <h3>Team Augmentation</h3>
          <p><strong>Bring in the experts</strong> when you need them.</p>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/training/" class="d-flex flex-column align-items-center justify-content-beginning">
          {% include svgs/icons/training.svg class="icon" alt="icon - Training" %}
          <h3>Training</h3>
          <p><strong>Raising confidence</strong> through training, reviews and architecture guidance.</p>
        </a>
      </div>
    </div>
  </div>
</div>