<div class="content-section services-teaser">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 service">
        <a href="/services/engineering/">
          <h3>Full Stack Engineering {% octicon chevron-right height:"20" width:"10" %}</h3>
          <div class="d-flex">
            {% include svgs/icons/engineering.svg class="icon d-sm-none d-lg-block" alt="icon - Full Stack Engineering" %}
            <p>You do the <strong>Disrupting</strong>, we do the <strong>Engineering</strong>.</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/team-augmentation/">
          <h3>Team Augmentation {% octicon chevron-right height:"20" width:"10" %}</h3>
          <div class="d-flex">
            {% include svgs/icons/team-augmentation.svg class="icon d-sm-none d-lg-block" alt="icon - Team Augmentation" %}
            <p><strong>Bring in the experts</strong> when you need them.</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4 d-flex service">
        <a href="/services/training/">
          <h3>Training {% octicon chevron-right height:"20" width:"10" %}</h3>
          <div class="d-flex">
            {% include svgs/icons/training.svg class="icon d-sm-none d-lg-block" alt="icon - Training" %}
            <p><strong>Raising confidence</strong> through training, reviews and architecture guidance.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>