<div>
  <Header
    @title="Level-up your team with Elixir & Phoenix experts"
    @description="Augment your in-house team with Elixir & Phoenix technology experts. Speed up projects and remove long-standing issues – from refactoring to shipping new features."
  >
    <HeaderContent @headline="Elixir & Phoenix: the best of all worlds" @label="Elixir">
      <p typography:class="lead">
        Elixir combines the expressiveness and simplicity of Ruby with the performance and stability of the Erlang VM.
        Phoenix builds on the concepts first introduced by Ruby on Rails, combining them with a number of architectural
        improvements to take the architecture into the future.
      </p>
      <p typography:class="lead">
        Together, Elixir and Phoenix form a modern and capable stack for building ambitious digital products of the
        future, based on an established foundation that has proven itself for decades.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="main" offset:class="after-21">
    <h2>
      Early adoption, long-term commitment
    </h2>
    <p typography:class="lead">
      simplabs was an early adopter of Elixir and Phoenix, offering trainings and leveraging the potential of the stack
      for our clients. We support the Elixir Munich meetup, have been actively involved with conferences like ElixirConf
      and ElixirConf EU and are honored to be a Founding Sponsor of the Erlang Ecosystem Foundation.
    </p>
  </div>
  <aside layout:class="side" offset:class="after-21">
    <Card
      @label="Community"
      @title="Elixir & Erlang Munich"
      @src="/assets/images/card/elixir-munich.png"
      @alt="Elixir & Erlang Munich"
    >
      <p>
        We have founded and support the Elixir & Erlang Munich meetup.
      </p>
      <ArrowLink @href="https://www.meetup.com/Elixir-Munich/">
        Learn more
      </ArrowLink>
    </Card>
  </aside>
  <div layout:class="full" offset:class="after-21">
    <ShapeFeature>
      <ShapeFeatureContent
        @srcset="/assets/images/elixir/eef-sponsor@604.png 604w, /assets/images/elixir/eef-sponsor@1208.png 1208w"
        @sizes="(max-width: 887px) 604px, 1208px"
        @srcAlt="erlang ecosystem foundation logo"
      >
        <h2 typography:class="small">
          News
        </h2>
        <h3>
          simplabs is a Founding Sponsor of the Erlang Ecosystem Foundation.
        </h3>
        <ArrowLink @href="https://erlef.org">
          Learn more
        </ArrowLink>
      </ShapeFeatureContent>
    </ShapeFeature>
  </div>
  <div layout:class="main" offset:class="after-21">
    <h2>
      We share our expertise
    </h2>
    <p typography:class="lead">
      Every new project gives us the opportunity to learn and grow our expertise. We share what we learn with the
      community via talks at conferences, at meetups and on our blog.
    </p>
  </div>
  <div layout:class="side">
    <Card @label="From our Blog" @src="/assets/images/card/elixir.svg" @alt="Elixir" />
    <RecentPostsElixir />
  </div>
  <WorkWithUs @teamMember="chris" />

  <Footer />
</div>