<div>
  <div block:class="top"></div>
  <div block:class="middle">
    <figure block:class="container">
      <figcaption block:class="content">
        <p typography:class="lead" offset:class="after-5">
          Start developing better products now
        </p>
        <a href="/" button:scope block:class="work-with-us">
          Download our Playbook
        </a>
      </figcaption>
      <div block:class="img-wrapper">
        <img
          block:class="img"
          srcset="/assets/images/photos/coding@900.jpg 900w, /assets/images/photos/coding@1800.jpg 1800w"
          sizes="(max-width: 887px) 900px, 1800px"
          alt="simplabs Playbook"
        />
      </div>
    </figure>
  </div>
  <div block:class="bottom"></div>
</div>