<div>
  <ShapeFeature @backgroundVariation="light">
    <figure block:class="container">
      <figcaption block:class="content">
        <p typography:class="lead" offset:class="after-5">
          Increase focus and stability in your products now
        </p>
        <a
          href="https://github.com/simplabs/playbook/releases/download/1.1/simplabs-Playbook.pdf"
          button:scope
          block:class="download"
        >
          Download our Playbook
        </a>
      </figcaption>
      <div block:class="img-wrapper">
        <img
          block:class="img"
          srcset="/assets/images/work/playbook@600.png 600w, /assets/images/work/playbook@1200.png 1200w"
          sizes="(max-width: 887px) 600px, 1200px"
          alt=""
        />
      </div>
    </figure>
  </ShapeFeature>
</div>