:scope {
  block-name: shape;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60rem;
  margin: 8rem 0;
}

.wrap-lg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100rem;
  margin: 8rem 0;
}

.caption {
  display: flex;
  justify-content: flex-end;
}

.caption-large {
  display: flex;
  justify-content: flex-start;
}

.caption-content {
  width: var(--col-2);
}

.caption-content-large {
  width: 60rem;
}

.content-image {
  width: 60rem;
  margin-right: 12rem;
  margin-top: 20rem;
}

.content-text {
  width: var(--col-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 18rem;
  margin-top: -30rem;
  color: #FFF;
}

.sub-heading {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1em;
}

@media (max-width: 599px) {
  .shape-center-content {
    width: 100%;
  }
  .wrap {
    min-height: auto;
  }
}
