@block shape-wrapper from "./shape-wrapper.block.css";

:scope {
  extends: shape-wrapper;

  left: -110rem;
  top: -20rem;
  width: 160rem;
  height: 80rem;
}

.content {
  justify-content: flex-end;
}
