:scope {
  block-name: shape-wrapper;
  transform: rotate(30deg);
  position: absolute;
  overflow: hidden;
}

.background {
  color: #FFF;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content {
  width: 100%;
  transform: scale(0.8);
  display: flex;
}

@media (max-width: 599px) {
  :scope { 
    display: none;
  }
}