@block shape-wrapper from "./shape-wrapper.block.css";

:scope  {
  extends: shape-wrapper;
  left: -55em;
  top: -10em;
  width: 80em;
  height: 40em;
}

.content {
  justify-content: flex-end;
}

.image {
  width: 30em;
  margin-right: 6em;
  margin-top: 10em;
}