@block shape-wrapper from "./shape-wrapper.block.css";

:scope {
  extends: shape-wrapper;
  right: var(--shape-text-position-right);
  left: var(--shape-text-position-left);
  top: -10em;
  width: 80em;
  height: 40em;
}
