@block shape-wrapper from "./shape-wrapper.block.css";

:scope  {
  extends: shape-wrapper;
  right: var(--shape-decoration-position-right);
  left: var(--shape-decoration-position-left);
  top: var(--shape-decoration-position-top);
  width: 80em;
	height: 40em;
}
