@block shape-wrapper from "./shape-wrapper.block.css";

:scope {
  extends: shape-wrapper;
  left: -90rem;
  top: -23rem;
  width: 160rem;
  height: 80rem;
}

.content {
  justify-content: flex-end;
}

.image {
  width: 60rem;
  margin-right: 12rem;
  margin-top: 20rem;
}
