*.gem
*.rbc
.bundle
.config
.jekyll-metadata
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
node_modules
dist
.eslintcache
package-lock.json
.netlify/
/assets

# YARD artifacts
.yardoc
_yardoc
doc/
_site
.DS_Store
.sass-cache
