lib/generate-blog/lib/templates/**/*
lib/generate-resources/lib/templates/**/*
lib/global-css/css/vendor/normalize.css
src/ui/components/Header/template.hbs
src/sitemap.njk

src/feed.njk
src/atom.njk
