lib/generate-blog/lib/templates/**/*
lib/generate-resources/lib/templates/**/*
lib/global-css/css/vendor/normalize.css
src/ui/components/Header/template.hbs
lib/generate-calendar/lib/templates/page/stylesheet.hbs
lib/generate-appearances-archive/lib/templates/page/stylesheet.hbs