---
layout: default
title:
---
<div class="primary-banner main-page">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <h2>Solid engineering<br>for ambitious projects</h2>
        <p>We build <strong>custom web and mobile solutions</strong> for our clients to rely on.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container index" id="main-section">
  <div class="row">
    <div class="col col-lg-10 offset-lg-1">
      <div class="row content-section separated">
        <div class="col">
          <p>Our team of technology experts builds ambitious solutions for clients across the world, from startups to long-established businesses. We specialize in <strong>modern, convention-based tools like Ember.js, Elixir and Phoenix</strong> as well as Ruby on Rails. We like to <strong>move fast without breaking things</strong> and ask our clients to take an active role in the development process.</p>
        </div>
      </div>

      <div class="row content-section separated">
        <div class="col">
          {% include random_quote.html %}
        </div>
      </div>

      <div class="row content-section separated">
        <div class="col-12 col-md-6 content-teaser d-flex flex-column justify-content-between align-items-start">
          <div>
            <h4>EmberConf 2018</h4>
            <p><a href="http://emberconf.com">EmberConf 2018</a> is set for March 13th &amp; 14th in Portland, OR with <strong>simplabs engineers <a href="https://twitter.com/jjordan_dev">@jjordan_dev</a> and <a href="https://twitter.com/tobiasbieniek">@tobiasbieniek</a> among the speakers</strong>.</p>
          </div>
          <a href="http://emberconf.com" class="custom-button">learn more</a>
        </div>
        <div class="col-12 col-md-6 content-teaser d-flex flex-column justify-content-between align-items-start">
          <div>
            <h4>Assert(js) 2018, February 22nd</h4>
            <p><a href="https://twitter.com/jjordan_dev">@jjordan_dev</a> will give a <strong>talk about testing against time in JavaScript applications at Assert(js)</strong>.</p>
          </div>
          <a href="https://www.assertjs.com/" class="custom-button">learn more</a>
        </div>
      </div>

      <div class="row content-section client-logos">
        <a href="/work">Our Clients</a>
        <div class="col-6 col-md-3">
          <i class="generali"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="hopskipdrive"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="robinhood"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="trainline"></i>
        </div>
      </div>
    </div>
  </div>
</div>

{% include contact_banner.html %}
