[[plugins]]
  package = "netlify-plugin-11ty"
  [plugins.inputs]
    cache_img = 'assets/images'

[build]
  environment = { NODE_VERSION = "22.13.0" }
  command = "echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> .npmrc && pnpm install && pnpm build"

# serve 404 simplabs' sitemap
  [[redirects]]
    from = "https://simplabs.com/sitemap.xml"
    to = "/404.html"
    status = 404

# redirect simplabs to Mainmatter
[[redirects]]
  from = "https://simplabs.com/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://www.simplabs.com/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://simplabs.de/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://www.simplabs.de/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://mainmatter.de/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://www.mainmatter.de/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://mainmatter.net/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://www.mainmatter.net/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://mainmatter.eu/*"
  to = "https://mainmatter.com/:splat"
  force = true

[[redirects]]
  from = "https://www.mainmatter.eu/*"
  to = "https://mainmatter.com/:splat"
  force = true

# redirect old workshop pages
[[redirects]]
  from = "https://elixir-phoenix-workshop.simplabs.com/*"
  to = "https://mainmatter.com/expertise/elixir-phoenix/"
  force = true

[[redirects]]
  from = "https://elixir-phoenix-workshops.simplabs.com/*"
  to = "https://mainmatter.com/expertise/elixir-phoenix/"
  force = true

[[redirects]]
  from = "https://elixir-workshops.simplabs.com/*"
  to = "https://mainmatter.com/expertise/elixir-phoenix/"
  force = true

[[redirects]]
  from = "https://phoenix-workshops.simplabs.com/*"
  to = "https://mainmatter.com/expertise/elixir-phoenix/"
  force = true

[[redirects]]
  from = "https://ember-basics-workshop.simplabs.com/*"
  to = "https://mainmatter.com/services/workshops/hands-on-ember/"
  force = true

[[redirects]]
  from = "https://ember-pro-workshop.simplabs.com/*"
  to = "https://mainmatter.com/services/workshops/hands-on-ember/"
  force = true

[[redirects]]
  from = "https://ember-workshop.simplabs.com/*"
  to = "https://mainmatter.com/services/workshops/hands-on-ember/"
  force = true

[[redirects]]
  from = "https://ember-workshops.simplabs.com/*"
  to = "https://mainmatter.com/services/workshops/hands-on-ember/"
  force = true

[[redirects]]
  from = "https://git-workshop.simplabs.com/*"
  to = "https://mainmatter.com/services/workshops/effective-git/"
  force = true

# redirect old simplabs.com URLs
[[redirects]]
  from = "/resources/workshop/digital-product-strategy"
  to = "/services/workshops/digital-product-strategy/"

[[redirects]]
  from = "/resources/workshop/digital-product-strategy"
  to = "/services/workshops/digital-product-strategy/"

[[redirects]]
  from = "/resources/workshop/design-system-kickoff-interface-inventory"
  to = "/services/workshops/design-system-kickoff-interface-inventory/"

[[redirects]]
  from = "/resources/workshop/hands-on-ember"
  to = "/services/workshops/hands-on-ember/"

[[redirects]]
  from = "/resources/workshop/effective-git"
  to = "/services/workshops/hands-on-ember/"

[[redirects]]
  from = "/resources"
  to = "/playbook/"

[[redirects]]
  from = "/calendar"
  to = "/events/"

[[redirects]]
  from = "/talks"
  to = "/events/"

[[redirects]]
  from = "/services"
  to = "/"

[[redirects]]
  from = "/services/digital-products"
  to = "/services/launch-your-idea/"

[[redirects]]
  from = "/services/product-development"
  to = "/services/launch-your-idea/"

[[redirects]]
  from = "/services/product-design"
  to = "/services/launch-your-idea/"

[[redirects]]
  from = "/services/team-augmentation"
  to = "/services/team-reinforcement/"

[[redirects]]
  from = "/services/training"
  to = "/services/workshops/"

[[redirects]]
  from = "/services/team-augmentation-and-training"
  to = "/services/team-reinforcement/"

[[redirects]]
  from = "/services/digital-products-and-design"
  to = "/services/launch-your-idea/"

[[redirects]]
  from = "/why-simplabs"
  to = "/"

[[redirects]]
  from = "/rust"
  to = "/rust-consulting/"

[[redirects]]
  from = "/services/team-augmentation-and-training/"
  to = "/services/team-reinforcement/"

[[redirects]]
  from = "/services/digital-products-and-design/"
  to = "/services/launch-your-idea/"

# redirect Embroider initiative to Ember initiative
[[redirects]]
  from = "/embroider-initiative"
  to = "/ember-initiative/"

# redirect old "Web-based Services in Rust" landing page to regular workshop
[[redirects]]
  from = "https://rust-web-services-workshop.mainmatter.com/*"
  to = "https://mainmatter.com/services/workshops/build-production-ready-apis-in-rust/"
  force = true

# redirect old "Web-based Servides in Rust" workshop to new one
[[redirects]]
  from = "/services/workshops/web-based-services-in-rust"
  to = "/services/workshops/build-production-ready-apis-in-rust/"

# redirect old "Svelte & SvelteKit" landing page to regular workshop
[[redirects]]
  from = "https://svelte-sveltekit-workshop.mainmatter.com/"
  to = "https://mainmatter.com/services/workshops/svelte-and-sveltekit/"
  force = true

# redirect "Telemetry for Rust applications" landing page to regular workshop
[[redirects]]
  from = "https://rust-telemetry-workshop.mainmatter.com/"
  to = "https://mainmatter.com/services/workshops/telemetry-for-rust-apis/"
  force = true

# redirect wrongly published "Global state in svelte 5" post to new post
[[redirects]]
  from = "https://mainmatter.com/blog/2025/02/01/global-state-in-svelte-5/"
  to = "https://mainmatter.com/blog/2025/03/11/global-state-in-svelte-5/"
  force = true

# serve 404 for all paths that don't exist
[[redirects]]
  from = "/*"
  to = "/404/index.html"
  status = 404
