<ShapeFeature>
  <ShapeFeatureContent
    @srcset="/assets/images/photos/tutoring@600.jpg 600w, /assets/images/photos/tutoring@1200.jpg 1200w"
    @sizes="(max-width: 887px) 600px, 1200px"
    @srcAlt="2 people talking about something on a screen"
  >
    <p typography:class="lead">
      We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to
      deliver ambitious software solutions for our clients.
    </p>
    <ArrowLink @href="/playbook/">
      Read our Playbook
    </ArrowLink>
  </ShapeFeatureContent>
</ShapeFeature>