<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="display">
          Calendar
        </h1>
        <p class="lead">
          Explore our calendar to find out the upcoming events, conferences and meetups we will be attending or organizing.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content"></div>
        <div class="main-block.sidebar"></div>
        <!--sidebar-->
      </div>
    </div>
  </div>
  <!--contents-->
</div>