@block offset from "../../styles/blocks/offset.block.css";
@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: ShapeBlog;
  composes: 'layout';

  position: relative;
  width: 100%;
  grid-column: 1/-1;

  --shape-color: var(--color-accent);
}

.bottom,
.top {
  position: absolute;
  left: 50%;
  display: block;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
  pointer-events: none;
}

.bottom {
  bottom: 0;
  transform: translate(-125%, 26rem);
}

.top {
  top: -46rem;
  transform: translate(-1%);
}

.content {
  grid-column: 2/-2;
}

.title {
  padding-bottom: 22rem;
}

@media (max-width: 887px) {
  .content {
    width: 100%;
  }

  .top {
    top: -31rem;
    transform: translate(2%);
  }

  .bottom {
    display: none;
  }
}

@media (min-width: 888px) {
  :scope {
    padding: 0 0 36rem;
  }

  .content {
    grid-column: 2/6;
  }
}
