<Card @label="Playbook" @src="/assets/images/card/how-we-work.jpg" @title="How We Work" @alt="photo of a work meeting">
  <p>
    We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to deliver ambitious software solutions for our clients.
  </p>
  <ArrowLink @href="/playbook/">
    Read our Playbook
  </ArrowLink>
</Card>