<Card @label="Playbook" @src="/assets/images/card/playbook.png" @title="Playbook" @alt="Team on a rowing boat">
  <p>
    We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to
    deliver ambitious software solutions for our clients.
  </p>
  <ArrowLink @href="/playbook/">
    Read our Playbook
  </ArrowLink>
</Card>