---
layout: 'base'
title: Digital Products & Design | Our Services
eleventyNavigation:
  key: Digital Products & Design
  parent: Services
---

{% from "color-hero.njk" import colorHero %}
{% from "text-with-list.njk" import textWithList %}
{% set 'content' = {
  "title": "Bridging the gap between vision and <em>sustainable</em> execution",
  "image": "/assets/images/photos/0010.jpg",
  "alt": "Woman writing on a whiteboard",
  "loading": "eager",
  "titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'aqua', false, content) }}
{% set content = {
  "title": "Our process",
  "subtitle": "Rapid exploration, research and validation",
  "text": "How can you be sure that you understand the needs of your users? We stress-test all assumptions to gather evidence en route to validated product concepts. Strategic clarity enables us to rapidly iterate on ideas that work.",
  "list": ["Market validation", "Idea extraction & strategy workshop", "Validate essential assumptions", "Groom the product roadmap", "Define product principles", "Separate MVP and follow-on improvements"],
  "linkUrl": "/playbook/",
  "linkText": "Download our playbook"
} %}
{{ textWithList(content) }}
{% include 'content/hero-grow-with-us.njk' %}