---
layout: 'base-energy'
title: Workshops | Our Services
description: "We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow"
---

{% from "color-hero-energy.njk" import colorHero %}
{% from "strategy-list.njk" import strategyList %}
{% from "tech-cards.njk" import techCards %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}

{% set 'content' = {
  "title": "We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow"
} %}
{{ colorHero('aqua', content) }}

{% set 'workshop_1' = {
  "eyebrow": "Bookable for teams",
  "title": "Design system kickoff (interface inventory)",
  "logo": "",
  "link": "/services/workshops/design-system-kickoff-interface-inventory/"
} %}

{% set 'workshop_2' = {
  "eyebrow": "Bookable for teams",
  "title": "Digital product strategy workshop",
  "logo": "",
  "link": "/services/workshops/digital-product-strategy/"
} %}

{% set 'workshop_3' = {
  "eyebrow": "Bookable for teams",
  "title": "Effective Git",
  "logo": "",
  "link": "/services/workshops/effective-git/"
} %}

{% set 'workshop_4' = {
  "eyebrow": "Bookable for teams",
  "title": "Svelte & SvelteKit",
  "logo": "svelte-tech",
  "link": "/services/workshops/svelte-and-sveltekit/"
} %}

{% set 'workshop_5' = {
  "eyebrow": "Bookable for teams",
  "title": "Hands-on Ember.js",
  "logo": "ember-tech",
  "link": "/services/workshops/hands-on-ember/"
} %}

{% set 'tworkshop_6' = {
  "eyebrow": "Bookable for teams",
  "title": "Introduction to Rust for Web Developers",
  "logo": "rust-tech",
  "link": "/services/workshops/introduction-to-rust-for-web-developers/"
} %}

{% set 'workshop_7' = {
  "eyebrow": "Bookable for teams",
  "title": "Build production-ready API services in Rust",
  "logo": "rust-tech",
  "link": "/services/workshops/build-production-ready-apis-in-rust/"
} %}

{% set 'workshop_8' = {
  "eyebrow": "Bookable for teams",
  "title": "You can't fix what you can't see: telemetry for Rust APIs",
  "logo": "rust-tech",
  "link": "/services/workshops/telemetry-for-rust-apis/"
} %}

{% set 'workshop_9' = {
  "eyebrow": "Bookable for teams",
  "title": "Testing in Rust: an introduction",
  "logo": "rust-tech",
  "link": "/services/workshops/introduction-to-rust-for-web-developers/"
} %}

{% set 'workshop_10' = {
  "eyebrow": "Bookable for teams",
  "title": "Testing in Rust: going beyond the basics",
  "logo": "rust-tech",
  "link": "/services/workshops/advanced-testing-in-rust/"
} %}

{% set workshops = [workshop_1, workshop_2, workshop_3, workshop_4, workshop_5, workshop_6, workshop_7, workshop_8, workshop_9, workshop_10 ] %}
{{ techCards('workshops', '', '', workshops) }}


{% set 'content' = {
  "title": "Not the right workshop for you?",
  "text": "If you decide to organise a workshop at your company, we are happy to tailor the curriculum to your needs. We can combine multiple workshops, pick and choose modules, as well as develop new content if desired.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('aqua', 'default', content) }}

<section class="mt-10 mb-0">
  {% set imageData = {
    "imgPath": "/assets/images/services/workshops.jpeg",
    "alt": "Server room",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
  } %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

{% set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('purple', 'full', content) }}

