@block button from "../../styles/blocks/button.block.css";
@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block layout from "../../styles/blocks/layout.block.css";

:scope {
  padding: 0;
  margin: 0 0 10rem 0;
  block-name: WorkWithUs;
  grid-column: 1/-1;

  position: relative;
  z-index: 0;
}

.top {
  background: #f8f8fa;
  padding-top: 15%;
  width: 100%;
  -webkit-clip-path: polygon(55% 100%, 100% 40%, 100% 100%, 0 100%, 0 40%);
  clip-path: polygon(55% 100%, 100% 40%, 100% 100%, 0 100%, 0 40%);
}

.bottom {
  background: #ffffff;
  width: 100%;
  padding-top: 10%;
  -webkit-clip-path: polygon(75% 0, 100% 80%, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(75% 0, 100% 80%, 100% 100%, 0 100%, 0 80%);
  margin-top: -8%;
  position: relative;
  z-index: 1;
}

.container {
  background: #f8f8fa;
  padding: 0;
  composes: 'layout';
}

.content {
  grid-column: 2/-2;
  padding: 10rem 0 20rem;
}

.img-wrapper {
  display: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 888px) {
  :scope {
  }

  .content {
    grid-column: 2/5;
    padding: 20rem 0 10rem 0;
  }

  .img-wrapper {
    display: block;
    grid-column: 5/-2;
    display: flex;
  }
}
