@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: work-with-us;
  margin-left: 2em;
  width: 20em;
}

@media (min-width: 768px) {
  :scope {
    margin-left: 4em;
  }
}

@media (min-width: 1024px) {
  :scope {
    margin-left: 10em;
  }
}
