@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";
@block screen from "../../styles/blocks/screen.block.css";

:scope {
  block-name: PageWorkWithUs;
  composes: 'screen.container';
}

.content {
  width: var(--col-3);
}
