@block button from "../../styles/blocks/button.block.css";
@block container from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@export typography from "../../styles/blocks/typography.block.css";

:scope {
  position: relative;
  z-index: 0;
  block-name: WorkWithUs;
  composes: 'offset.after-21';
  grid-column: 2/-2;
}

@media (min-width: 888px) {
  :scope {
    grid-column: 2/5;
  }
}
