@block button from "../../styles/blocks/button.block.css";
@block link from "../../styles/blocks/link.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  position: relative;
  z-index: 0;
  block-name: WorkWithUs;
  composes: 'offset.after-21';
  grid-column: 2/-2;
}

@media (min-width: 888px) {
  :scope {
    grid-column: 2/5;
  }
}

@export link;
@export typography;
@export offset;
@export button;
