<div>
  <div class="content">
    <h3 class="typography.headline-1">
      Work with us
    </h3>
    <p class="typography.lead" state:typography.offset>
      Talk to one of our technology experts to find out how we can help you.
    </p>
    <a class="button.button" href="/contact" data-internal>
      Let's discuss your project
    </a>
  </div>
</div>