<div>
  <div>
    <div class="top"></div>
    <div class="container layout">
      <div class="content">
        <h3 class="typography.h2">
          Work with us
        </h3>
        <p class="typography.lead offset.after-12">
          Talk to one of our experts to find out how we can help you.
        </p>
        <a class="button" href="/contact/" data-internal>
          Let's discuss your project
        </a>
      </div>
    </div>
  </div>
</div>