<div>
  <p class="message">
    This website uses cookies;
    <a href="/privacy/" class="link" date-internal>
      learn more
    </a>
    —
    <button class="accept-button" onclick={{action @onHidden}}>
      OK
    </button>
  </p>
</div>