<div data-cookie-banner>
  <p block:class="message">
    This website uses cookies;
    <a href="/privacy/" block:class="link" link:scope date-internal>
      learn more
    </a>
    —
    <button block:class="accept-button" onclick={{action @onHidden}}>
      Accept
    </button>
  </p>
</div>