<div>
  <div class="contents">
  	
  	<div class="container">
  		<div class="navbar">
  			<div class="navbar-brand">
  				<img class="image-fluid" src="assets/images/neu.svg">
  			</div>
  		</div>
  		
	    <div class="page-header">
		    <h1 class="display">Solid Engineering for Ambitious Projects</h1>
		    <p class="lead">
		    	Our team of technology experts builds ambitious web and mobile solutions for clients across the world. We like to move fast without breaking things and invite our clients to take on an active role in projects.
		    </p>
	    </div><!--page-header-->
	  </div><!--container-->
	  <div class="container">

	    <div class="shape-block">
	    	<div class="shape-left">
	    		<div class="shape-left-bg">
	    			<div class="shape-left-content">
	    				<div class="shape-content-image">
		    				<img class="image-fluid" src="assets/images/trainline-comp.png">
		    			</div>
	    			</div>
	    		</div><!--shape--left-bg-->
	    	</div>

	    	<div class="shape-center">
	    		<p>Featured Case Study</p>
	    		<h3 class="sub-heading">Leveraging Trainline's full market potential</h3>
	    		<a href="#">Learn More</a>
	    	</div>

	    	<div class="shape-right">
	    		<div class="shape-right-bg">
	    		</div>
	    	</div>
	    	
	    </div><!--shape-block-->
	  </div><!--container-->
	  <div class="container">
	  	<div class="logos-block">
	  		<div>LOGO</div>
	  		<div>LOGO</div>
	  		<div>LOGO</div>
	  		<div>LOGO</div>
	  		<div>LOGO</div>
	  		<div>LOGO</div>
	  	</div>
	  </div>
	  <div class="container">
	  	<div class="main-block">
	  		<div class="main-block-content">
	  			<h2 class="heading">Services</h2>
	  			<p class="lead">We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.</p>

	  			<h3 class="sub-heading">Full-Stack Engineering</h3>
	  			<p>We turn our clients' ideas into successful products, working closely with them in short iterations.</p>

	  			<h3 class="sub-heading">Team Augmentation</h3>
	  			<p>We turn our clients' ideas into successful products, working closely with them in short iterations.</p>

	  			<h3 class="sub-heading">Tutoring</h3>
	  			<p>We turn our clients' ideas into successful products, working closely with them in short iterations.</p>
	  		</div>
	  		<div class="main-block-sidebar">
	  			<div class="card">
		  			<p>Upcoming Events</p>
		  			<div class="card-image">
		  				<img class="image-fluid" src="assets/images/card-image.jpg">
		  			</div>
		  			<h3 class="sub-heading">Meet Us at EmberConf 2019</h3>
		  			<a href="#">View Our Calendar</a>
	  			</div>
	  		</div>
		    
		  </div>
    </div><!--container-->

      <div class="container">

        <div class="shape-block-lg">

        	<div class="shape-left-lg">
        		<div class="shape-left-lg-bg">
        			
        		</div><!--shape--left-bg-->
        	</div><!--shape-left-->


        	<div class="shape-right-lg">
        		<div class="shape-right-lg-bg">
        			<div class="shape-right-content">
        				<div class="shape-content-text">
        					<p>Expertise</p>
        					<h3 class="sub-heading">We are Europe’s Leading Ember Experts</h3>
        				</div>
        			</div>
        		</div>
        	</div>
        	
        </div><!--shape-block-->
      </div><!--container-->

      <div class="container">
      	FOOTER
      </div>

  </div>
</div>