@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";

:scope {
  block-name: ShapeAcross;

  position: relative;
  z-index: 0;
  grid-column: 1/-1;

  --shape-color: var(--color-accent);
  transform: rotate(30deg);
  margin-top: 30rem;
  margin-bottom: 90rem;
}

.bottom,
.top {
  position: absolute;
  height: auto;
  width: 225rem;
}

.top {
  fill: var(--shape-color);
  top: -40rem;
}

.bottom {
  width: 120vw;
  transform: rotate(-30deg);
}

.clip {
  position: absolute;
  fill: #FFF;
  right: -100rem;
  bottom: -140rem;
}

.across {
  width: 180vw;
  height: 100rem;
  overflow: hidden;
  position: absolute;
  left: -25%;
}

.img {
  width: 180vw;
  height: 200rem;
  display: block;
  background: 50% 50% no-repeat var(--shape-color);
  background-size: 100%;
  transform: rotate(-30deg);
  position: relative;
  top: -50%;
}

.container {
  composes: 'containerBlock';
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  transform: rotate(-30deg);
}

.content {
  --color-text: var(--color-text-inverted);
  --color-muted: var(--color-muted-inverted);
  --color-link: var(--color-link-inverted);
  color: var(--color-text);
  width: var(--col-2);
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
}

@media (max-width: 887px) {
  :scope {
    margin-bottom: 60rem;
  }

  .top {
    top: -40rem;
    left: -80rem;
  }

  .across {
    left: 0;
    top: 40rem;
    height: 60rem;
  }

  .img {
    height: 100rem;
  }

  .content {
    width: auto;
  }
}

@media (min-width: 888px) {
  :scope {
  }

  .top {
    right: calc(-150rem + var(--col-2));
  }
}

@media (min-width: 1280px) {
  :scope {
  }

  .top {}
}

@media (min-width: 1690px) {
  :scope {
  }

  .top {
    right: calc(-150rem + var(--col-3));
    top: -50rem;
  }
}
