@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";

:scope {
  block-name: ShapeAcross;

  --shape-color: var(--color-accent);

  position: relative;
  z-index: 0;
  grid-column: 1/-1;

  margin-top: -34vw;
  margin-bottom: calc(-17vw + 12rem);
  padding-top: 34vw;
  padding-bottom: 17vw;
  pointer-events: none;
  overflow: hidden;
  transform: translateZ(0);
  will-change: transform;
}

.shapes {
  transform: translate(-21.5%) rotate(30deg);
  width: 173vw;
  height: 100vw;
  margin-top: -34vw;
  margin-bottom: -17vw;
  overflow: hidden;
}

.bottom {
  --shape-color: #222;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.bottom-clip {
  width: 100%;
  height: 99%;
  margin: 0.25% 0;
  overflow: hidden;
}

.bottom-image {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
  transform: rotate(-30deg);
}

.bottom-svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  width: auto;
}

.leading-svg,
.trailing-svg {
  position: absolute;
  fill: var(--shape-color);
}

.leading-svg {
  right: calc(80vw + 65rem);
  bottom: -50rem;
  width: 100vw;
}

.trailing-svg {
  left: calc(100vw + 30rem);
  top: -10rem;
  width: 70vw;
  height: auto;
}

@media (max-width: 887px) {
  :scope {
  }

  .shapes {
    margin-top: 0;
  }

  .trailing-svg {
    left: calc(100vw + 25rem);
  }
}
