@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";

:scope {
  block-name: ShapeAcross;

  --shape-color: var(--color-accent);

  position: relative;
  z-index: 0;
  grid-column: 1/-1;
  overflow: hidden;

  margin-bottom: 12rem;
}

.bottom {
  --shape-color: #222;

  overflow: hidden;
  transform: translate(-25%, 0) rotate(30deg) translate(0, -1vw);
  transform-origin: center;
  width: 200%;
  height: 85vw;
  min-height: 100rem;
}

.bottom-clip {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 98%;
  top: 1%;
}

.bottom-image {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  transform-origin: center;
  height: 103%;
}

.bottom-svg {
  position: absolute;
  height: 101%;
  width: auto;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.top {
  position: absolute;
  top: 10vw;
  left: 50%;
  transform: translate(-50%, 0);
  fill: var(--shape-color);
  width: var(--max-width);
  display: flex;
  justify-content: flex-end;
}

.top-svg {
  position: absolute;
  right: -38%;
  top: 0;
  height: auto;
  width: 120vw;
  min-width: 160rem;
  transform: translate(var(--col-3), -10vw);
}

.top-content {
  --color-text: var(--color-text-inverted);
  --color-muted: var(--color-muted-inverted);
  --color-link: var(--color-link-inverted);
  position: relative;
  width: var(--col-2);
  color: var(--color-text);
}

@media (max-width: 887px) {
  :scope {
  }

  .bottom {
    margin-bottom: 40vw;
  }

  .top {
    justify-content: center;
    top: calc(50vw + 40rem);
  }

  .top-content {
    min-width: 40rem;
    width: var(--col-4);
  }

  .top-svg {
    right: unset;
    min-width: 140rem;
    transform: translate(0, -20vw);
  }
}
