@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";

:scope {
  block-name: ShapeAcross;

  position: relative;
  z-index: 0;
  grid-column: 1/-1;

  --shape-color: var(--color-accent);
  transform: rotate(30deg);
  margin-top: 30rem;
  margin-bottom: 60rem;
}

.top {
  position: absolute;
  right: -55%;
  bottom: -50%;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.bottom {
  position: absolute;
  width: 120vw;
  height: auto;
  transform: rotate(-30deg);
}

.clip {
  position: absolute;
  fill: #FFF;
  right: -50%;
  top: 180%;
}

.across {
  width: 180vw;
  height: 100rem;
  overflow: hidden;
  position: absolute;
  left: -25%;
}

.img {
  width: 180vw;
  height: 200rem;
  display: block;
  background: 50% 50% no-repeat var(--shape-color);
  background-size: 100%;
  transform: rotate(-30deg);
  position: relative;
  top: -50%;
}

.container {
  composes: 'containerBlock';
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  transform: rotate(-30deg);
}

.content {
  --color-text: var(--color-text-inverted);
  --color-muted: var(--color-muted-inverted);
  --color-link: var(--color-link-inverted);
  color: var(--color-text);
  width: var(--col-2);

}

@media (max-width: 887px) {
  :scope {
  }

  .img {}

  .top {
    display: none;
  }

  .across {
    left: -40%;
    height: 80rem;
  }

  .img {
    height: 100rem;
  }

  .clip {
    right: -250%;
    top: 100%;
  }

  .bottom {}

  .content {
    width: auto;
    background: var(--shape-color);
    padding: 5rem;
    box-shadow: 2rem 2rem 0 0 #FFF;
    transform: translate(0, 20rem);
  }
}

@media (min-width: 888px) {
  :scope {}

  .img {}

  .top {}

  .container {}

  .content {}
}
