---
layout: default
title: Expedition
---

<header class="page-expedition">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-expedition">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          an online travel magazine for global citizens
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/expedition/expedition-logo-white.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/expedition/website-preview-1.jpg" />
      </div>
    </div>
  </div>
</header>

<main>
  {% capture intro_content %}
    <p>Expedition is an online travel magazine for global citizens. It lets travellers experience the world's  best destinations through the eyes of a local.</p>
    <p>The team approached simplabs when they needed help laying the <strong>foundation for advanced features</strong> in their Elixir and Phoenix based API as well as making sure their Ember.js based client was following best practices.</p>
  {% endcapture %}
  <div class="container">
    {% include intro.html content=intro_content %}
  </div><!--container-->

  <div class="container container-quote container-quote-expedition">
    <div class="row row-quote">
      <div class="col col-quote">
        <div class="quote">
          <p class="quote-text">simplabs brought wisdom, flexibility, and sane solutions when facing complex problems. They went above and beyond to work with our unique situation - would recommend 1000x.</p>
          <p class="quote-author">Bryan Langslet, Expedition CEO</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">
    <div class="row justify-content-end">
      <div class="col-sm-11">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col-md-5 order-2">
              <img alt="fullstack" class="mx-auto d-block img-2x" src="../images/expedition/website-preview-1.jpg">
            </div>
            <div class="col-md-6 order-1">
              <div class="p-5">
                <h2 class="font-weight-black text-dark mb-4 text-lowercase">Long-term enablement</h2>
                <p class="lead mb-4">simplabs' team built prototype implementations for a number of advanced features in Expedition's system. Leveraging Elixir's and Phoenix's capabilities we were able to implement advanced mechanics with clean and concise code with significantly less effort and complexity compared with more traditional tools.</p>
                <p class="lead">Expedition's in-house team was able to expand on our foundational work, <strong>handed over in an open and well-communicated way</strong>.</p>
              </div>
            </div>
          </div>
        </div><!--container-->
      </div>
    </div>
  </div><!--container-fluid-->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 class="display-4 font-weight-black text-lowercase mb-4">Our Expertise</h2>
        <p class="lead mb-4">We value conventions-based frameworks that result in maintainable and well-defined projects which are easy to take over by our clients once we've left.</p>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        {% capture expertise_card_description--ember %}
          <p>simplabs has been an active member of Ember Ecosystem from the early days.</p>
        {% endcapture %}

        {% include expertise_card.html
          expertise="ember" title="Ember.js"
          description=expertise_card_description--ember
        %}
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        {% capture expertise_card_description--elixir %}
          <p>simplabs was an early adopter of Elixir & Phoenix, organizing meetups and conferences.</p>
        {% endcapture %}
        {% include expertise_card.html
          expertise="elixir" title="Elixir & Phoenix" 
          description=expertise_card_description--elixir
        %}
      </div>
    </div>
  </div><!--container-->

  {% include contact_banner.html %}
</main>