@block screen from "../../styles/blocks/screen.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block card from "../../styles/blocks/card.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: PageTalks;
  extends: screen;
}