<div>
  <Header @title="Talks">
    <p class="typography.lead">
      We strongly believe in the value of sharing our expertise and experience with others. Find a collection of talks that members of our team have given at various conferences all over the world in the past years.
    </p>
  </Header>
  <div class="container">
    <h2 class="typography.headline-1">
      Latest Talks
    </h2>
    <div class="main-block">
      <div class="main-block.content">
        <h3 class="typography.headline-2">
          EmberConf 2019
        </h3>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img class="main-block.image-small" src="/assets/images/card/ember.svg" />
            </div>
          </div>
          <div class="main-block.content-section-item">
            <h4 class="typography.headline-3">
              Accessible Web Comics for everyone
            </h4>
            <p class="typography.body-text">
              Jessica Jordan on how to build web comics that are accessible for everyone with Ember.
            </p>
            <ArrowLink @href="https://youtube.com">
              Watch Video
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar offset-vertical">
        <Card @src="/assets/images/emberfest.png">
          <p class="typography.body-text">
            EmberConf is the main conference for Ember - every year in March in Portland.
          </p>
          <ArrowLink @href="https://emberconf.com">
            Learn more
          </ArrowLink>
        </Card>
      </div>
    </div>
    <div class="main-block">
      <div class="main-block.content">
        <h3 class="typography.headline-2">
          EmberFest 2018
        </h3>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img class="main-block.image-small" src="/assets/images/card/ember.svg" />
            </div>
          </div>
          <div class="main-block.content-section-item">
            <h4 class="typography.headline-3">
              Performance Optimizations
            </h4>
            <p class="typography.body-text">
              Marco Otte-Witte on optimizing performance of Ember apps and things to be aware of.
            </p>
            <ArrowLink @href="https://youtube.com">
              Watch Video
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img class="main-block.image-small" src="/assets/images/card/ember.svg" />
            </div>
          </div>
          <div class="main-block.content-section-item">
            <h4 class="typography.headline-3">
              The Ember Language Server
            </h4>
            <p class="typography.body-text">
              Tobias Bieniek on the status quo of the Ember Language Server and goals for the future.
            </p>
            <ArrowLink @href="https://youtube.com">
              Watch Video
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar offset-vertical">
        <div class="card">
          <div class="card.image">
            <img class="fluid-image.image" src="/assets/images/emberfest.png" />
          </div>
          <p class="card.text">
            EmberFest is the European Community Ember conference - every year in October in a different city in Europe. We are very happy to be co-organizers of EmberFest.
          </p>
          <ArrowLink @href="https://emberfest.com">
            Learn more
          </ArrowLink>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</div>