<ShapeFeature>
  <ShapeFeatureContent
    @srcset="/assets/images/work/trainline@600.jpg 600w, /assets/images/work/trainline@1200.jpg 1200w"
    @sizes="(max-width: 887px) 600px, 1200px"
    @srcAlt="Trainline"
  >
    <p>
      <q typography:class="quote" lang="en">
        We started working with simplabs to build a state-of-the-art mobile web app from the ground up and it was an absolute success! Not only are they web specialists, but their expertise in development practices and agile processes made our collaboration an absolute delight.
      </q>
    </p>
    <p typography:class="small">
      Carl Andersson, General Manager of Trainline international
    </p>
  </ShapeFeatureContent>
</ShapeFeature>