
.container-fluid-not-found {
  height: 50vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .container-not-found {
    height: 100%;
    padding: 0;
    width: 100%;
  }

  .row-not-found,
  .col-not-found {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    width: 100%;

    .not-found-image {
      display: inline-block;
      margin-bottom: 2em;
      max-width: 30.625em;

      @include media-breakpoint-up(md) {
        margin-bottom: 3em;
      }
    }

    .not-found-header {
      color: $headlines;
      font-size: 1em;
      font-weight: $font-weight-black;
      line-height: 1.5em;
      margin-bottom: 2.5em;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 1.25em;
        line-height: 1.6em;
        margin-bottom: 2.4em;
        max-width: 27.2em;
      }
    }

    .not-found-link {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }

  .not-found-background {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;

    @include media-breakpoint-up(md) {
      width: 90em;
    }

    .not-found-background-item {
      background-color: $grey;
      border: none;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;

      &:nth-child(1) {
        height: 4em;
        left: -10%;
        top: 12%;
        width: 4em;

        @include media-breakpoint-up(md) {
          height: 10em;
          left: 8%;
          top: 28%;
          width: 10em;
        }
      }

      &:nth-child(2) {
        display: none;
        height: 13em;
        left: 16%;
        top: 86%;
        width: 13em;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      &:nth-child(3) {
        display: none;
        height: 2em;
        left: 22%;
        top: 56%;
        width: 2em;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      &:nth-child(4) {
        display: none;
        height: 5em;
        left: 26%;
        top: 10%;
        width: 5em;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      &:nth-child(5) {
        height: 6em;
        left: 58%;
        top: 90%;
        width: 6em;

        @include media-breakpoint-up(md) {
          height: 5em;
          left: 62%;
          top: 78%;
          width: 5em;
        }
      }

      &:nth-child(6) {
        display: none;
        height: 4em;
        left: 70%;
        top: 18%;
        width: 4em;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      &:nth-child(7) {
        height: 10em;
        left: 64%;
        top: 24%;
        width: 10em;

        @include media-breakpoint-up(md) {
          height: 15.4375em;
          left: 82%;
          top: 24%;
          width: 15.4375em;
        }
      }
    }
  }
}