
.page-article {
  header {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.container-fluid-article {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;

  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .container-article {
    padding: 0;
  }

  .row-article,
  .col-article {
    margin: 0;
    padding: 0;
  }
}

.article {
  max-width: 46em;
  margin: 0 auto;

  .article-content {
    margin-bottom: 2.5em;
    padding-bottom: 2.5em;

    @include media-breakpoint-up(md) {
      margin-bottom: 2em;
      padding-bottom: 3em;
    }

    .article-section {

    }

    .article-section + .article-section {
      margin-top: 2.5em;

      @include media-breakpoint-up(md) {
        margin-top: 6em;
      }
    }

    .article-header,
    .article-subheader {
      color: $headlines;
      font-weight: $font-weight-black;
    }

    .article-header {
      font-size: 1.5em;
      letter-spacing: 0.0416em;
      line-height: 1.3333em;
      margin-bottom: 1em;

      @include media-breakpoint-up(md) {
        font-size: 3em;
        letter-spacing: 0.0416em;
        line-height: 1.1666em;
        margin-bottom: 0.6666em;
      }
    }

    .article-subheader {
      font-size: 1.25em;
      line-height: 1.4em;
      margin-bottom: 1.2em;

      @include media-breakpoint-up(md) {
        font-size: 2em;
        letter-spacing: 0.0312em;
        line-height: 1.25em;
        margin-bottom: 1em;
      }
    }

    .article-text {
      color: $text;
      font-size: 1em;
      font-weight: $font-weight-normal;
      line-height: 1.5em;

      @include media-breakpoint-up(md) {
        font-size: 1.25em;
        line-height: 1.6em;
      }
    }

    .article-text + .article-text {
      margin-top: 2.5em;
    }

    .article-text-code {
      color: #dc3968;
    }

    .article-code-wrapper {
    }

    ol,
    ul {
      margin: 0;
      margin-bottom: 1.5em;
      margin-top: 1em;
      padding: 0;
      padding-left: 1.5em;

      li {
        font-size: 1em;
        padding: 0;
        margin: 0;
        line-height: 1.5em;

        @include media-breakpoint-up(md) {
          font-size: 1.25em;
          line-height: 1.6em;
        }
      }

      li + li {
        margin-top: 1em;
      }
    }

    pre {
      display: block;
      margin: 0;
      padding: 0;

      code {
        font-size: 1em;
        line-height: 1.5em;
        word-break: normal;

        @include media-breakpoint-up(md) {
          font-size: 1.25em;
          line-height: 1.6em;
        }
      }
    }
  }

  .article-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1.5em;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .article-info-user-picture {
      border: none;
      border-radius: 50%;
      height: 5em;
      margin-bottom: 1em;
      overflow: hidden;
      position: relative;
      width: 5em;

      @include media-breakpoint-up(md) {
        height: 4.5em;
        margin-bottom: 0;
        margin-right: 1em;
        width: 4.5em;
      }

      > img {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .article-info-user-name {
      color: $headlines;
      font-size: 1em;
      font-weight: $font-weight-black;
      line-height: 1.5em;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 1.25em;
        line-height: 1.6em;
        text-align: left;
      }
    }

    .article-info-info {
      margin-bottom: 1.5em;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .article-info-date {
      color: rgba($text, 0.5);
      font-size: 0.875em;
      font-weight: $font-weight-normal;
      line-height: 1.7142em;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 1em;
        line-height: 2em;
        text-align: left;
      }
    }

    .article-info-links {
      margin-left: 0;

      @include media-breakpoint-up(md) {
        align-self: flex-start;
        margin-left: 1em;
        margin-top: 0.25em;
      }

      .article-info-link {
        display: inline-block;
        height: 3em;
        margin: 0 0.5em;
        width: 3em;

        @include media-breakpoint-up(md) {
          height: 2em;
          margin: 0 0.25em;
          width: 2em;
        }
      }
    }
  }
}
