@keyframes arrow-next {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  50% {
    transform: rotate(-45deg) translate(0.25em, 0.25em);
  }

  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes arrow-previous {
  0% {
    transform: rotate(135deg) translate(0, 0);
  }

  50% {
    transform: rotate(135deg) translate(0.25em, 0.25em);
  }

  100% {
    transform: rotate(135deg) translate(0, 0);
  }
}


.blog-posts {
  .blog-post {
    display: block;
    .blog-post-wrapper {
      transform: translateX(0);
      transition: transform 0.3s ease;
    }
  }
}

.blog-post-topic {
  color: $text;
}

.blog-post-elixir {
  .blog-post-topic {
    color: $elixir;
  }
}

.blog-post-ember {
  .blog-post-topic {
    color: $ember;
  }
}

.blog-post-ruby {
  border-left-color: $ruby;

  .blog-post-topic {
    color: $ruby;
  }
}

.blog-post-misc {
  border-left-color: $misc;

  .blog-post-topic {
    color: $misc;
  }
}

.blog-post-javascript {
  border-left-color: $js;

  .blog-post-topic {
    color: $js;
  }
}

.blog-post-rust {
  border-left-color: $rust;

  .blog-post-topic {
    color: $rust;
  }
}

.blog-post-testing {
  border-left-color: $testing;

  .blog-post-testing {
    color: $testing;
  }
}