
@keyframes arrow-next {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  50% {
    transform: rotate(-45deg) translate(0.25em, 0.25em);
  }

  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes arrow-previous {
  0% {
    transform: rotate(135deg) translate(0, 0);
  }

  50% {
    transform: rotate(135deg) translate(0.25em, 0.25em);
  }

  100% {
    transform: rotate(135deg) translate(0, 0);
  }
}

.container-fluid-blog {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 12px;

  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;

  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .container-blog {
    padding: 0;
  }

  .row-blog,
  .col-blog {
    margin: 0;
    padding: 0;
  }
}

.blog {
  .blog-posts {
    .blog-post {
      display: block;
      margin-bottom: 4rem;
      transition: border-left 0.25s ease-in;
      border-left-width: 0;
      border-left-style: solid;

      .blog-post-wrapper {
        transform: translateX(0);
        transition: transform 0.3s ease;
      }

      .blog-post-category {
        color: $text;
        display: inline-block;
        font-size: 0.875em;
        font-weight: $font-weight-bold;
        line-height: 1.1428em;
        margin-bottom: 1.1428em;
      }

      .blog-post-info {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 1.5em;
      }
    }

    .blog-post:hover {
      text-decoration: none;
      border-left-width: .5rem;

      .blog-post-wrapper {
        transform: translateX(1rem);
      }
    }

    .blog-post-elixir {
      border-left-color: $elixir;

      .blog-post-category {
        color: $elixir;
      }
    }

    .blog-post-ember {
      border-left-color: $ember;

      .blog-post-category {
        color: $ember;
      }
    }
  }
}

.blog-blog {
  margin: 0 auto;
  max-width: 46em;
}

.blog-ember,
.blog-elixir {
  max-width: 40em;

  .blog-posts {
    .blog-post {
      .blog-post-header {
        font-size: 1em;
        line-height: 1.5em;

        @include media-breakpoint-up(md) {
          font-size: 1.25em;
          line-height: 1.6em;
        }
      }

      .blog-post-text {
        font-size: 1em;
        line-height: 1.5em;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
          font-size: 1em;
          line-height: 1.5em;
        }
      }
    }
  }
}