$cirle-max-dimensions: 22em; // 352px
$cirle-min-dimensions: 7em; // 112px

.circle {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  height: $cirle-min-dimensions;
  justify-content: center;
  width: $cirle-min-dimensions;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    height: $cirle-max-dimensions;
    width: $cirle-max-dimensions;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
    height: $cirle-max-dimensions;
    width: $cirle-max-dimensions;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
    height: $cirle-max-dimensions;
    width: $cirle-max-dimensions;
  }

  &.circle-grey {
    background-color: $grey;
  }

  &.circle-white {
    background-color: $white;
  }
}

.circle-image {
  max-height: 45%;

  @include media-breakpoint-up(md) {
    max-height: none;
  }
}

.circle-service {
  .circle-image {
    height: 3.5em;

    @include media-breakpoint-up(md) {
      height: 30%;
    }
  }
}