.feature-card {
	.text-arrow {
		margin-left: 0;
		transition: all .75s ease-in-out;
		-moz-transition: all .75s ease-in-out;
		-ms-transition: all .75s ease-in-out;
		-o-transition: all .75s ease-in-out;
		-webkit-transition: all .75s ease-in-out;
		display: block;
		position: relative;
		padding-left: 16px;
		&::before {
		  border: solid $blue;
		  border-width: 0 3px 3px 0;
		  content: "";
		  display: block;
		  height: 8px;
		  width: 8px;
		  left: 0;
		  position: absolute;
		  top: 10px;
		  transform: rotate(-45deg);
		}
	}
}

.feature-card:hover {
	.text-arrow {
		margin-left: 20px;
		&::before {
			border-color: $blue-active-text;
		}
	}
}

