.card-expertise--ember {
	&::before {
  	background-color: $ember;
  	opacity: 1;
  	background-image: url(../../images/ember/ember-icon-white.svg);
	}
}

.card-expertise--elixir {
	&::before {
  	background-color: $elixir;
  	opacity: 1;
  	background-image: url(../../images/elixir/elixir-phoenix-icon-white.svg);
	}
} 