.card-expertise--ember {
  background-color: $ember;
  background-image: url(../../images/card/ember-background-small.png);
}

.card-expertise--elixir {
  background-color: $elixir;
  background-image: url(../../images/card/elixir-phoenix-background-small.png);
}