<svg class="icon-arrow" focusable="false" aria-hidden="true" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M 12 6 10.9425 4.9425 6.75 9.1275 6.75 0 5.25 0 5.25 9.1275 1.065 4.935 0 6 6 12z" fill="currentColor"/>
</svg>
