<svg 
  class="icon-caret"
  focusable="false"
  aria-hidden="true"
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path 
  d="M14.59 6.01L16 7.42L8 15.42L0 7.42L1.42 6L7 11.59L8.01232 12.4906L9 11.59L14.59 6.01Z"
  fill="currentColor"
  />
</svg>