<svg class="icon-close" width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="0.807617" y="17.7781" width="24" height="2" transform="rotate(-45 0.807617 17.7781)" fill="white"/>
  <rect x="17.7782" y="19.1924" width="24" height="2" transform="rotate(-135 17.7782 19.1924)" fill="white"/>
</svg>
