<svg
  width="228px"
  height="228px"
  viewBox="0 0 228 228"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <rect
    id="Rectangle"
    fill="#6200EE"
    transform="translate(114, 114) rotate(45) translate(-114, -114)"
    x="34"
    y="34"
    width="160"
    height="160"
  ></rect>
</svg>
