@block screen from "../../styles/blocks/screen.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block card from "../../styles/blocks/card.block.css";
@block hex-leading from "../../styles/blocks/hex/hex-image-leading.block.css";
@block hex-trailing from "../../styles/blocks/hex/hex-decoration-trailing.block.css";
@block hex-content from "../../styles/blocks/hex/hex-content.block.css";

:scope {
  block-name: Homepage;
  extends: screen;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
