<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          Solid Engineering for Ambitious Projects
        </h1>
        <p class="typography.lead">
          Our team of technology experts builds ambitious web and mobile solutions for clients across the world. We like to move fast without breaking things and invite our clients to take on an active role in projects.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <TrainlineCaseThumb />
    </div>
    <!--container-->
    <div class="container">
      <div class="logos">
        <div>
          <img src="/assets/images/logos/trainline.svg" />
        </div>
        <div>
          <img src="/assets/images/logos/cardstack.svg" />
        </div>
        <div>
          <img src="/assets/images/logos/generali.svg" />
        </div>
        <div>
          <img src="/assets/images/logos/experteer.svg" />
        </div>
        <div>
          <img src="/assets/images/logos/timify.svg" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-heading">
            <h2 class="typography.heading">
              Services
            </h2>
            <p class="typography.lead">
              We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.sub-heading">
                Full-Stack Engineering
              </h3>
              <p class="typography.body-text">
                We turn our clients' ideas into successful products, working closely with them in short iterations.
              </p>
              <a class="typography.arrow-link" href="#">
                Learn More
              </a>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.sub-heading">
                Team Augmentation
              </h3>
              <p class="typography.body-text">
                We turn our clients' ideas into successful products, working closely with them in short iterations.
              </p>
              <a class="typography.arrow-link" href="#">
                Learn More
              </a>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.sub-heading">
                Tutoring
              </h3>
              <p class="typography.body-text">
                We turn our clients' ideas into successful products, working closely with them in short iterations.
              </p>
              <a class="typography.arrow-link" href="#">
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="main-block.sidebar">
          <p class="typography.small-text">
            Upcoming Events
          </p>
          <div class="card">
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/card-image.jpg" />
            </div>
            <h3 class="card.sub-heading">
              Meet Us at EmberConf 2019
            </h3>
            <p class="card.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="typography.arrow-link" href="#">
              View Our Calendar
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--container-->
    <div class="container">
      <LeadingExperts />
      <WorkWithUs />
    </div>
    <!--container-->
    <div class="container">
      <Footer />
    </div>
  </div>
</div>