<div>
  <div layout:class="side" offset:class="after-12-atlarge">
    <blockquote>
      <p>
        “simplabs’ expertise in developing Ember.js based applications helped us to define and develop the new DD-WRT
        NXT user experience. Their work did provide the new foundation for our UI and our in-house development team
        greatly benefitted from their knowhow.”
      </p>
      <p typography:class="small">
        Peter Steinhäuser, embeDD CEO
      </p>
    </blockquote>
    <ArrowLink @href="/work/">
      View Our Work
    </ArrowLink>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/tutoring@900.jpg 900w, /assets/images/photos/tutoring@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="{{this.key}}-across"
  />
</div>