<ShapeAcross @background="#222" @src="/assets/images/photos/team-meeting.jpg" @width="7895" @height="5266">
  <blockquote>
    <p class="typography.body-text">
      “simplabs’ expertise in developing Ember.js based applications helped us significantly to define and develop the new DD-WRT NXT user experience. Their work did provide the new foundation for our UI and our in-house development team greatly benefitted from their know how.”
    </p>
    <p class="typography.small-text">
      Peter Steinhäuser, embeDD CEO
    </p>
  </blockquote>
  <ArrowLink @href="/work">
    View Our Work
  </ArrowLink>
</ShapeAcross>