<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          an online travel magazine for global citizens
        </h1>
        <p class="typography.lead">
          Expedition is an online travel magazine for global citizens. It lets travellers experience the world's best destinations through the eyes of a local.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.sub-heading">
                  Long-term enablement
                </h3>
                <p class="typography.body-text">
                  simplabs' team built prototype implementations for a number of advanced features in Expedition's system. Leveraging Elixir's and Phoenix's capabilities we were able to implement advanced mechanics with clean and concise code with significantly less effort and complexity compared with more traditional tools.
                </p>
                <p class="typography.body-text">
                  Expedition's in-house team was able to expand on our foundational work, handed over in an open and well-communicated way.
                </p>
                <div class="main-block.body-image">
                  <img class="fluid-image.image" src="/assets/images/expedition-comp.jpg" />
                  <p class="main-block.body-image-caption">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <!--body-image-->
              </div>
            </div>
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.sub-heading">
                  A path into the future
                </h3>
                <p class="typography.body-text">
                  Besides working on the core application, simplabs spearheaded several engineering efforts focused around mobile performance, improved load times, server side rendering and localization.
                </p>
                <a class="typography.arrow-link" href="#">
                  Learn More
                </a>
              </div>
              <!--section-item-->
            </div>
            <!--section-->
          </div>
        </div>
        <!--main-block.content-->
        <div class="main-block.sidebar">
          <div class="card">
            <p class="typography.small-text">
              Client
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="assets/images/expedition-card.png" />
            </div>
            <h3 class="card.sub-heading">
              Expedition
            </h3>
            <p class="card.text">
              simplabs brought wisdom, flexibility, and sane solutions when facing complex problems. They went above and beyond to work with our unique situation - would recommend 1000x.
            </p>
          </div>
          <!--card-->
          <div class="card">
            <p class="typography.small-text">
              Our Expertise
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="assets/images/ember-card.png" />
            </div>
            <h3 class="card.sub-heading">
              Ember.js
            </h3>
            <p class="card.text">
              We value conventions-based frameworks that result in maintainable and well-defined projects which are easy to take over by our clients once we've left.
            </p>
            <a class="typography.arrow-link" href="#">
              Learn More
            </a>
          </div>
          <!--card-->
        </div>
        <!--sidebar-->
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <ExpeditionCaseThumb />
    </div>
    <!--container-->
    <div class="container">
      <WorkWithUs />
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
</div>