.author-socials {
  margin: 0.5rem 0 0;
  line-height: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;

  &--mobile-only {
    display: flex;
    visibility: visible;
  }

  &--desktop-only {
    display: none;
    visibility: hidden;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.author-socials__icon {
  color: var(--color-aqua);
  text-decoration: none;
  padding: 0.25rem;
}


@media (min-width: 62em) {
  .author-socials {
    margin: 0 0 0 0.5rem;

    &--desktop-only {
      display: flex;
      visibility: visible;
    }

    &--mobile-only {
      display: none;
      visibility: hidden;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
