.author {
  margin: 2rem auto;
}

.author__headline {
  display: flex;

  &--post {
    margin-top: 0;

    picture {
      margin: 0;
    }
  }
}

.author__image-wrapper {
  flex: 0 0 3.75rem;
  margin-right: 1.5rem;
}

.author__image {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 50%;
}

.author__lead-image {
  border-radius: 50%;
}

.author__name {
  color: var(--color-blue);
}

.author__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.author__twitter {
  color: var(--color-blue);
  text-decoration: none;
}

@media (min-width: 62em) {
  .author--post {
    flex-wrap: wrap;

    .author__image-wrapper {
      flex: 1 0 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
