.author {
  display: flex;
  margin: 2rem auto;
  padding: 0.5rem 0;
  border-top: rem-calc(1) solid currentColor;
  border-bottom: rem-calc(1) solid currentColor;
  font-size: rem-calc(13);

  &--post {
    margin-top: 0;

    picture {
      margin: 0;
    }
  }

  &--workshop {
    padding: 1rem 0;
    font-size: 1rem;
    margin: 0;

    &:not(:first-child) {
      margin-top: rem-calc(-1);
    }

    .author__image-wrapper picture {
      margin: 0;
    }

    .author__name {
      margin: 0;
      color: currentColor;
    }
  }
}

.author__image-wrapper {
  flex: 0 0 3.5rem;
  margin-right: 1.5rem;
}

.author__image {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.author__lead-image {
  border-radius: 50%;
}

.author__name {
  color: var(--color-blue);
}

.author__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.author__twitter {
  color: var(--color-blue);
  text-decoration: none;
}

@media (min-width: 62em) {
  .author--post {
    flex-wrap: wrap;

    .author__image-wrapper {
      flex: 1 0 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
