.author {
  padding: 1.5rem 0 2rem;
  margin: auto;
}

.author__headline {
  display: flex;
  align-items: center;

  &--post {
    margin-top: 0;

    picture {
      margin: 0;
    }
  }
}

.author__image-wrapper {
  flex: 0 0 3.75rem;
  margin-right: 1.5rem;
  line-height: 0;
}

.author__text-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.author__image {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 50%;
}

.author__lead-image {
  border-radius: 50%;
}

.author__title {
  flex-basis: 100%;
}

.author__details {
  margin-top: 1rem;
  max-width: rem-calc(528);
}

.author__name-wrapper {
  display: flex;
}

.author__name {
  margin-left: 0.5rem;
  color: var(--color-aqua);
}

@media (min-width: 62em) {
  .author--post {
    flex-wrap: wrap;

    .author__image-wrapper {
      flex: 1 0 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
