.byline {
  display: flex;
  margin-bottom: var(--spacing);
  padding: 0.5rem 0;
  border-top: 0.0625rem solid currentColor;
  border-bottom: 0.0625rem solid currentColor;
  font-size: rem-calc(13);
}

.byline__author {
  font-weight: 600;
}

.byline__date {
  &::before {
    content: "|";
    margin: 0 1rem;
  }
}
