.case-cards__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 30rem) {
  .case-cards__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60rem) {
  .case-cards__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.case-cards__grid-element {
  color: var(--color-white);
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  min-height: 32rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-decoration: none;
  transition: all 0.3s ease;

  .problem {
    opacity: 1;
    display: block;
  }

  .solution {
    opacity: 0;
    display: none;
  }
}

.case-cards__grid-element:hover {
  background-image: linear-gradient(to right top, #6200ee, #0074ff, #00a0ff, #00c1e8, #03dac5);
  color: var(--color-white);

  .problem {
    opacity: 0;
    display: none;
  }

  .solution {
    opacity: 1;
    display: block;
  }
}

.case-cards__logo svg {
  fill: white;
}

.case-cards__link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: color 0.3s ease;
}

.case-cards__grid-element:nth-child(n) {
  background-color: var(--color-purple);
}

.case-cards__grid-element:nth-child(2n) {
  background-color: var(--color-aqua);
}

.case-cards__grid-element:nth-child(2n + 3) {
  background-color: var(--color-black);
}

.case-cards__link-arrow {
  position: relative;
  margin-left: 0.25rem;
  z-index: 1;
  display: flex;
  justify-content: center;

  svg {
    transform: rotate(-90deg);
    transition: color 0.3s ease;
    @media (min-width: 72rem) {
      width: 24px;
      height: auto;
    }
  }


  &--rotate {
    margin-left: 0;
    margin-right: 0.5rem;

    svg {
      transform: rotate(90deg);
    }
  }
}
