@use "../base/breakpoints" as *;

.case-study {
  a {
    color: var(--color-purple);
  }
}

.case-study__section {
  margin: 5rem 0 0;
}

.case-study__heading {
  margin-bottom: 2rem;
}

.case-study__text {
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  h3 {
    margin: 2rem 0 1rem;
  }
}

.case-study__image-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 3.5rem;
}

.case-study__image-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 3.5rem;

  &.case-study__image-wrapper--small {
    @media (min-width: $breakpoint-s) {
      max-width: 35rem;
    }
  }
}

@media (min-width: $breakpoint-s) {
  .case-study__section {
    margin: 5rem 0 0;
  }
}
