.case-study__section {
  margin: 5rem 0 0;
}

.case-study__heading {
  margin-bottom: 2rem;
}

.case-study__text {
  max-width: 50rem;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.case-study__image-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 3.5rem;
}

@media (min-width: 48em) {
  .case-study__section {
    margin: 5rem 0 0;
  }
}