.case-cards__grid-element {
  &:nth-child(n) {
    --background-color: var(--color-purple);
  }

  &:nth-child(2n) {
    --background-color: var(--color-aqua);
  }

  &:nth-child(2n + 3) {
    --background-color: var(--color-black);
  }
}

.case-cards__headline {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}

.case-cards__problem {
  transform: translate(0px);
  grid-row: 1;
  grid-column: 1;
  transition: transform 1s ease;
}

.case-cards__solution {
  transform: translate(calc(100% + 10rem));
  grid-row: 1;
  grid-column: 1;
  transition: transform 1s ease;
}

@media (hover: hover) {
  .case-cards__grid-element:hover,
  .case-cards__grid-element:focus {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);
    color: var(--color-white);
    cursor: pointer;

    .case-cards__problem {
      transform: translate(calc(-100% - 10rem));
    }

    .case-cards__solution {
      transform: translate(0px);
    }
  }
}
