.client-card {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}

.client-card__image {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 1rem;

  img {
    max-height: 100%;
    width: auto;
    max-width: 15rem;
  }
}

.client-card__link {
  display: flex;
  align-items: center;
}

.client-card__link .icon-arrow {
    margin-left: 0.75rem;
    width: 24px;
    height: auto;
    transform: rotate(-90deg);
}

@media (min-width: 48em) {
  .client-card {
    margin: 0;
  }
}
