.client-card {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}

.client-card__image {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 1rem;

  img {
    max-height: 100%;
    width: auto;
    max-width: 15rem;
  }
}

.client-card__link {
  display: flex;
  align-items: center;
}

.client-card__link {
  flex-shrink: 0;

      svg {
        transform: translateX(0px) rotate(-90deg);
        transition: transform 0.5 ease;
        height: 1.5rem;
        width: 1.5rem;
        color: var(--color-purple);
        margin-left: 0.75rem;
      }

      &:hover {
        svg {
          transform: translateX(0.5rem) rotate(-90deg);
          transition: transform 0.5 ease;
        }
      }
    }


@media (min-width: 48em) {
  .client-card {
    margin: 0;
  }
}
