@use "../base/breakpoints" as *;

.color-hero {
  position: relative;
  aspect-ratio: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-purple);
    --color-link-primary-hover: var(--color-aqua);
    color: var(--color-white);
    --overlay-opacity: 0.9;

    p a {
      color: var(--color-aqua);
    }
  }

  &--aqua {
    background-color: var(--color-aqua);
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-aqua);
    --color-link-primary-hover: var(--color-white);
    color: var(--color-white);
    --overlay-opacity: 0.9;
  }

  &--black {
    background-color: var(--color-black);
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    color: var(--color-white);
    --overlay-opacity: 0.2;
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);
  }
}

.color-hero__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  mix-blend-mode: multiply;
  opacity: var(--overlay-opacity);
}

.color-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.color-hero__container {
  display: flex;
  position: relative;
  padding: 12rem 0 6rem;
}

.color-hero__text {
  max-width: 45rem;
}

.color-hero__eyebrow {
  margin-bottom: 1.5rem;
}

.color-hero__subheading {
  margin-top: 2rem;
}

@media (min-width: $breakpoint-m) {
  .color-hero__container {
    display: flex;
    position: relative;
    width: 100%;
    padding: 25vh 0 10vh;
  }

  .color-hero {
    min-height: 90vh;
  }
}
