.column-list {
  padding: rem-calc(90) 0;
  background-color: var(--color-yellow);

  &--services {
    margin-top: -2.5rem;
    padding: 0 0 5rem;
    background-color: var(--color-bg);
  }

  &--hide-numbers {
    .column-list__item::before {
      display: none;
    }
  }
}

.column-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: column-list;
}

.column-list__item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-bottom: rem-calc(1) solid currentColor;

  &::before {
    counter-increment: column-list;
    content: counter(column-list);
    display: block;
    width: rem-calc(40);
    height: rem-calc(40);
    margin-bottom: 1rem;
    line-height: 2.375rem;
    color: var(--color-purple);
    border: rem-calc(2) solid currentColor;
    border-radius: 50%;
    text-align: center;
  }
}

.column-list__item-heading {
  margin-bottom: 1rem;
}

.column-list__text {
  margin-bottom: 1rem;
}

.column-list__link {
  margin-top: auto;
  margin-bottom: 1rem;
}

@media (min-width: 34em) {
  .column-list {
    padding: 10rem 0;

    &--services {
      margin-top: -3rem;
      padding: 0 0 5rem;
    }
  }

  .column-list__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(rem-calc(280), 1fr));
    gap: 1.5rem;
  }

  .column-list__heading {
    margin-bottom: 1.5rem;
  }

  .column-list__item {
    margin-top: 0;
  }
}

@media (min-width: 48em) {
  .column-list--services {
    margin-top: -3rem;
  }
}
