.color-hero {
  position: relative;
  aspect-ratio: auto;
  overflow: hidden;
  background-repeat: no-repeat;

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-purple);
    --color-link-primary-hover: var(--color-aqua);
    color: var(--color-white);

    &.rust {
      background-image: url(/assets/images/services/rust-tech_purple.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ember {
      background-image: url(/assets/images/services/ember-tech_purple.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.svelte {
      background-image: url(/assets/images/services/svelte-tech_purple.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ruby {
      background-image: url(/assets/images/services/ruby-tech_purple.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.elixir {
      background-image: url(/assets/images/services/elixir-tech_purple.png);
      background-size: 20%;
      background-position: 5% 30%;
    }
  }

  &--aqua {
    background-color: var(--color-aqua);
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-aqua);
    --color-link-primary-hover: var(--color-white);
    color: var(--color-white);

    &.rust {
      background-image: url(/assets/images/services/rust-tech_aqua.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ember {
      background-image: url(/assets/images/services/ember-tech_aqua.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.svelte {
      background-image: url(/assets/images/services/svelte-tech_aqua.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ruby {
      background-image: url(/assets/images/services/ruby-tech_aqua.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.elixir {
      background-image: url(/assets/images/services/elixir-tech_aqua.png);
      background-size: 20%;
      background-position: 5% 30%;
    }
  }

  &--black {
    background-color: var(--color-black);
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    color: var(--color-white);
    --overlay-opacity: 0.2;

    &.rust {
      background-image: url(/assets/images/services/rust-tech_black.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ember {
      background-image: url(/assets/images/services/ember-tech_black.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.svelte {
      background-image: url(/assets/images/services/svelte-tech_black.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.ruby {
      background-image: url(/assets/images/services/ruby-tech_black.png);
      background-size: 20%;
      background-position: 5% 30%;
    }

    &.elixir {
      background-image: url(/assets/images/services/elixir-tech_black.png);
      background-size: 20%;
      background-position: 5% 30%;
    }
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);
  }
}

.color-hero__container {
  display: flex;
  position: relative;
  padding: 16.5rem 0 12.5rem;
}

.color-hero__text {
  max-width: 45rem;
}

.color-hero__eyebrow {
  margin-bottom: 1.5rem;
}

.color-hero__subheading {
  margin-top: 2rem;
}

@media (min-width: 72em) {
}

@media (min-width: 48em) {
}
