.color-hero {
  position: relative;
  aspect-ratio: auto;
  overflow: hidden;

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-aqua);
    color: var(--color-white);
  }

  &--aqua {
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-black);
    color: var(--color-white);
  }

  &--black {
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    color: var(--color-white);
    --overlay-opacity: 0.2;
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);

  }
}

.color-hero__container {
  display: flex;
  position: relative;
  padding: 16.5rem 0 12.5rem;
}

.color-hero__eyebrow {
  margin-bottom: 1.5rem;
}




@media (min-width: 72em) {

}

@media (min-width: 48em) {

}
