body.modal-active {
  position: fixed;
  overflow: hidden;
}

.contact-form {
  max-height: initial;
  aspect-ratio: initial;

  &:first-of-type .color-hero__container {
    padding: 0;
  }
}

.contact-form__social-wrapper {
  margin-top: 4.5rem;
  color: var(--color-white);
}

.contact-form__socials {
  gap: 1rem;
}

.contact-form__methods {
  margin-top: 2rem;
}

.contact-form__method-text {
  display: block;
  margin: 2.5rem 0;
}

.contact-form__main {
  padding: 6.25rem 0 4rem;
}

.contact-form__heading {
  margin-bottom: 1.5rem;
}

.contact-form__container {
  height: 100%;
  transform: none;
}

.contact-form__text {
  margin-top: 2rem;
}

$states: "loading", "success", "error";

.contact-form__form {
  max-width: 48rem;
  margin-top: 3rem;

  @each $state in $states {
    &[data-status="#{$state}"] {
      .contact-form__status {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: auto;
      }

      .contact-form__#{$state} {
        display: block;
        pointer-events: auto;
      }
    }
  }
}

.contact-form__field {
  position: relative;
  margin-bottom: 2rem;
}

.contact-form__label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: .875rem;
  transform: translateY(-0.5rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.contact-form__label-required {
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.contact-form__input {
  color: var(--color-white);
  font-weight: 700;
  display: block;
  padding: 1rem 0;
  border-bottom: rem-calc(1) solid var(--color-white);
  width: 100%;

  &::placeholder {
    color: var(--color-white);
    font-weight: 700;
  }

  &:not(:placeholder-shown) {
    ~ .contact-form__label {
      opacity: 1;
      transform: translateY(-0.75rem);
    }

    ~ .contact-form__label-required {
      opacity: 0;
    }
  }
}

.contact-form__select {
  color: var(--color-white);
  font-weight: 700;
  display: block;
  padding: 1rem 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: rem-calc(1) solid var(--color-white);
  border-radius: 0;
  width: 100%;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;

  &:has(option:not([value=""]):checked) {
    ~ .contact-form__label {
      opacity: 1;
      transform: translateY(-0.75rem);
    }
  }
}

.contact-form__button {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: end;
  color: currentColor;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.contact-form__status {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}



.contact-form__loading {
  display: none;
}

.contact-form__error {
  display: none;
}

.contact-form__success {
  display: none;
}

.contact-form__success-subheading {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

.contact-form__status-wrapper {
  max-width: 38.75rem;
  margin: 0 auto;
  text-align: left;
}

.contact-form__reset {
  color: currentColor;
  margin-top: 1.5rem;
}

.contact-form__close {
  position: fixed;
  height: 100vh;
  max-height: 100%;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  color: currentColor;
  background-color: transparent;
  border: 0;
  width: 2.75rem;
  height: 2.75rem;
  align-self: flex-end;
  text-align: right;
  cursor: pointer;

  svg {
    transition: color 0.3s ease;
  }

  &:hover svg {
    color: var(--color-aqua);
  }
}

@media (min-width: 62em) {
  .contact-form__main {
    padding: 9rem 0 5rem;
  }

  .contact-form__success-subheading {
    margin-top: 0;
  }
}
