.contact-form {
  padding: rem-calc(100) 0;
}

.contact-form__heading {
  margin-bottom: 1.5rem;
}

$states: "loading", "success", "error";

.contact-form__form {
  position: relative;
  margin-top: 1.5rem;

  @each $state in $states {
    &[data-status="#{$state}"] {
      .contact-form__status {
        opacity: 1;
        pointer-events: auto;
      }

      .contact-form__#{$state} {
        display: block;
        pointer-events: auto;
      }
    }
  }
}

.contact-form__input {
  display: block;
  margin-bottom: 1.5rem;
  outline-offset: 0.25rem;
}

.contact-form__input {
  width: 100%;
}

.contact-form__button {
  display: block;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-purple);
}

.contact-form__status {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background-color: var(--color-aqua);
  text-align: center;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.contact-form__loading {
  display: none;
}

.contact-form__error {
  display: none;
}

.contact-form__success {
  display: none;
}

.contact-form__success-heading {
  margin-bottom: 1rem;
}

.contact-form__reset {
  color: currentColor;
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .contact-form__container {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-form__heading {
    width: 100%;
  }

  .contact-form__text {
    flex: 0 0 rem-calc(296);
  }

  .contact-form__form {
    flex: 1 1 auto;
    margin-top: 0;
    margin-left: rem-calc(100);
  }
}
