.cta-banner {
  position: relative;
  z-index: 50;

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-purple);
    --color-link-primary-hover: var(--color-white);
    color: var(--color-white);
  }

  &--aqua {
    background-color: var(--color-aqua);
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-aqua);
    --color-link-primary-hover: var(--color-white);
    color: var(--color-white);
  }

  &--black {
    background-color: var(--color-black);
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-purple);
    color: var(--color-white);
    --overlay-opacity: 0.2;
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);

  }
}

.cta-banner__wrapper {
  display: flex;
  position: relative;
  padding: 2rem;
}


.cta-banner__main {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (min-width: 72rem) {
.cta-banner__wrapper {
  display: flex;
  position: relative;
  padding: 6rem;
}
}

.cta-banner__main {
  max-width: 48rem;
}

.cta-banner__text, .cta-banner__link {
  margin-top: 2.5rem;
}

.cta-banner__eyebrow {
  margin-bottom: 1.5rem;
}
