@use "../base/breakpoints" as *;

.embroider-sponsors {
  background-color: var(--color-purple);
  padding: 2.5rem 0 2rem;
}

.ember-sponsors__image {
  max-width: 90%;
  max-height: 100%;
  object-fit: scale-down;
  filter: grayscale(100%) brightness(0) invert(1);
}

.embroider-sponsors__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;

  .embroider-sponsor__grid-element {
    max-width: 160px;
  }

  @media (min-width: $breakpoint-m) {
    .embroider-sponsor__grid-element {
      max-width: unset;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.tier-one {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      margin-bottom: 4.5rem;
    }

    &.tier-two {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3.5rem;
      margin-bottom: 4.5rem;
    }

    &.tier-three {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 4.5rem;

      .embroider-sponsor__grid-element {
        grid-column: span 2;
      }

      &:has(:nth-last-child(odd)) :nth-last-child(5) {
        grid-column: 2 / span 2;
      }
    }
  }
}
