.event-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5rem;
}

.event-card {
  position: relative;
  display: flex;
  flex-direction: column;

  &--purple {
    background-color: var(--color-purple);
    color: var(--color-white);
    --color-link-primary: var(--color-purple);
    --color-link-primary-hover: var(--color-aqua);
  }

  &--aqua {
    background-color: var(--color-aqua);
    color: var(--color-white);
    --color-link-primary: var(--color-aqua);
    --color-link-primary-hover: var(--color-purple);
  }

  & + & {
    margin-top: 2.5rem;
  }
}

.event-card__content-wrapper {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.event-card__description {
  a {
    color: var(--color-white);
  }
}

.event-card__image {
  display: block;
  width: 100%;
  object-fit: contain;
  margin-bottom: 2.5rem;
}

.event-card__title {
  margin: 0.75rem 0 1.5rem;
}

.event-card__cta {
  margin-top: 2rem;
}

@media (min-width: $breakpoint-m) {
  .event-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 3.25rem;
  }

  .event-card {
    & + & {
      margin-top: 0;
    }
  }

  .event-cards__wrapper {
    width: 90%;
    max-width: 86rem;
    margin: 0 auto;
  }

  .event-card__content-wrapper {
    padding: 5rem;
  }
}
