@use "../base/breakpoints" as *;

.event-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5rem;
}

.event-card {
  --card-padding: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);

  &--purple {
    --background-color: var(--color-purple);
    color: var(--color-white);
    --color-link-primary: var(--color-purple);
    --color-link-primary-hover: var(--color-aqua);
  }

  &--aqua {
    --background-color: var(--color-aqua);
    color: var(--color-white);
    --color-link-primary: var(--color-aqua);
    --color-link-primary-hover: var(--color-purple);
  }

  & + & {
    margin-top: 2.5rem;
  }

  .btn-primary {
    width: fit-content;
  }
}

.event-card__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1;
}

.event-card__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: var(--card-padding);
  padding-bottom: 0;
}

.event-card__body {
  padding: var(--card-padding);
  padding-top: 0;
}

.event-card__description {
  a {
    color: var(--color-white);
  }
}

.event-card__image-wrapper {
  flex: 0 0 auto;
  padding: 1.25rem;
  max-width: 10rem;
}

.event-card__image {
  display: block;
  width: 100%;
  object-fit: contain;
  max-width: 10rem;
}

.event-card__date {
  margin-top: var(--card-padding);
  text-transform: uppercase;
}

.event-card__location {
  margin-top: 0;
}

.event-card__title {
  margin: 0.75rem 0 1.5rem;
}

.event-card__cta {
  margin-top: 2rem;
}

@media (min-width: $breakpoint-m) {
  .event-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 3.25rem;
  }

  .event-card {
    --card-padding: 5rem;
    & + & {
      margin-top: 0;
    }
  }

  .event-card__image-wrapper {
    display: flex;
    aspect-ratio: 4/3;
    margin-bottom: 1.5rem;
    padding: 2.5rem;
    max-width: none;
  }

  .event-cards__wrapper {
    width: 90%;
    max-width: 86rem;
    margin: 0 auto;
  }
}
