.expertise__logo {
  max-width: 20rem;
}

.expertise__image-row {
  margin: 1.5rem 0 3.25rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.expertise__image-ember-1 {
  width: 8.25rem;
}

.expertise__image-ember-2 {
  width: 19rem;
}