.featured-services {
  padding: 2.5rem 0 5rem;
}

.featured-services__list-wrapper {
  margin: 3rem 0;
}

.featured-services__list {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.featured-services__list-item {
  & + & {
    margin-top: 3rem;
  }
}

.featured-services__link:hover {
  text-decoration: none;
}

.icon-arrow {
  flex-shrink: 0;
}

.featured-services__link {
  display: flex;
  align-items: start;
  flex-direction: column;
  text-decoration: none;
  font-weight: 400;

  &-text {
    text-decoration: none;
  }

  .featured-services__link-description {
    font-size: 1rem;
  }

  &:hover {

    .featured-services__link-description {
      color: var(--color-purple);
    }
  }


  svg {
    transform: translateX(0px) rotate(-90deg);
    transition: transform 0.5 ease;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-purple);
    margin-right: 1.5rem;
  }

  &:hover {
    svg {
      transform: translateX(0.5rem) rotate(-90deg);
      transition: transform 0.5 ease;
    }
  }
}

.featured-services__link-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a.featured-services__link {
  &:hover,
  &:focus {
    .featured-services__link-text {
      color: var(--color-purple);
    }
  }
}

.featured-services__link-text {
  display: inline-flex;
  flex-shrink: 2;
}

.featured-services__text {
  max-width: 45rem;
}

@media (min-width: 48em) {
  .featured-services {
    padding: 7rem 0;
  }

  .featured-services__list-wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .featured-services__list {
    margin: 0;
    flex: 0 0 50%;
  }

  .featured-services__list-item {
    & + & {
      margin-top: 2rem;
    }
  }
}
