.featured-case-study {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;

  & + & {
    margin-top: rem-calc(80);
  }

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-aqua);
    color: var(--color-white);

    .featured-case-study__image {
      mix-blend-mode: multiply;
    }

    .featured-case-study--hover {
      animation: shinyout 1s;
      animation-fill-mode: both;
    }

    &:hover {
      .featured-case-study--hover {
        animation: shinyhover-aqua 1s;
        animation-fill-mode: both;
      }
    }
  }

  &--aqua {
    background-color: var(--color-aqua);
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-black);
    color: var(--color-white);

    .featured-case-study--hover {
      animation: shinyout 1s;
      animation-fill-mode: both;
    }

    &:hover {
      .featured-case-study--hover {
        animation: shinyhover 1s;
        animation-fill-mode: both;
      }
    }
  }

  &--black {
    background-color: var(--color-black);
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    color: var(--color-white);
    --overlay-opacity: 0.2;

    .featured-case-study__image {
      opacity: 0.45;
      mix-blend-mode: screen;
    }

    .featured-case-study--hover {
      animation: shinyout 1s;
      animation-fill-mode: both;
    }

    &:hover {
      .featured-case-study--hover {
        animation: shinyhover 1s;
        animation-fill-mode: both;
      }
    }
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);
  }
}



.featured-case-study--hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.featured-case-study__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.featured-case-study__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.featured-case-study__content-wrapper,
.featured-case-study__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featured-case-study__content-wrapper {
  position: relative;
  padding: 1.5rem;
  text-align: left;
  justify-content: center;
  min-height: 400px;
}

.featured-case-study__content {
  justify-content: flex-start;
  align-items: start;
  z-index: 100;
  cursor: pointer;
}

.featured-case-study__cta {
  margin: auto;
  color: var(--color-white);
  cursor: pointer;
  text-decoration: underline 1px var(--color-purple);
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.0625rem;
  transition: color 0.1s ease;
}

.featured-case-study__logo {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  max-width: 6rem;
  max-height: 3.25rem;
  margin-bottom: 1rem;
  z-index: 100;
  cursor: pointer;
}

.featured-case-study__title {
  margin: 1rem 0 0;
}

.featured-case-study__client {
  margin-top: 1.25rem;
}

.featured-case-study__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.featured-case-study__link-wrapper {
  margin: 1.25rem;
  align-self: flex-end;
}

.featured-case-study__tags {
  z-index: 100;
  margin-top: 1.25rem;
}

.featured-case-study__description {
  &--mobile {
    display: block;
    visibility: visible;
  }

  &--desktop {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 48em) {
  .featured-case-study {
    grid-column: span 2 / span 2;

    & + & {
      margin-top: 0;
    }
  }

  .featured-case-studies .featured-case-study {
    grid-column: span 3 / span 3;
  }


  .featured-case-study__content-wrapper {
    justify-content: center;
    align-items: flex-start;
  }

  .featured-case-study__content {
    max-width: initial;
    justify-content: center;
  }

  .featured-case-study__client {
    margin-top: 0;
    color: var(--color-white);
    text-decoration: none;
  }

  .featured-case-study__cta {
    margin: 1.25rem 0 0;
  }

  .featured-case-study__link {
    &:hover {
      & ~ .featured-case-study__image-overlay .cta-link__text,
      & ~ .featured-case-study__image-overlay .cta-link__arrow svg,
      & ~ .cta-link {
        color: var(--color-aqua);
      }
    }
  }

  .featured-case-study__logo {
    margin-bottom: 0;
    max-width: 8.5rem;
    max-height: 3.25rem;
  }

  .featured-case-study__tags {
    align-self: stretch;

  }

  .featured-case-study__client {
    margin-top: 1.25rem;
  }

  .featured-case-study__description {
    &--desktop {
      display: block;
      visibility: visible;
    }

    &--mobile {
      display: none;
      visibility: hidden;
    }
  }

  .featured-case-study__cta {
    align-self: flex-start;
  }
}

@media (min-width: 72em) {
  .featured-case-study__content-wrapper {
    padding: 1.25rem;
  }

  .featured-case-study__content {
    max-width: 48.75rem;
    margin-left: 5rem;
  }
}
