@use "../base/breakpoints" as *;

.featured-services__list-wrapper {
  margin: 3rem 0;
}

.featured-services__list {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.featured-services__list-item {
  & + & {
    margin-top: 3rem;
  }
}

.featured-services__link:hover,
.featured-services__link:focus {
  text-decoration: none;
}

.featured-services__link,
.featured-services__link--inactive {
  --icon-arrow-color: var(--color-purple);
  --icon-arrow-size: 1.5rem;
  --icon-arrow-margin: 0 1.5rem 0 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-decoration: none;
  font-weight: 400;

  &-text {
    text-decoration: none;
  }

  .featured-services__link-description {
    font-size: 1rem;
  }
}

.featured-services__link {
  &:hover,
  &:focus {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);

    .featured-services__link-description {
      color: var(--color-purple);
    }
  }
}

.featured-services__link-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featured-services__link {
  &:hover,
  &:focus {
    .featured-services__link-text {
      color: var(--color-purple);
    }
  }
}

.featured-services__link-text {
  display: inline-flex;
  flex-shrink: 2;
}

.featured-services__text {
  max-width: 45rem;
}

@media (min-width: $breakpoint-s) {
  .featured-services__list-wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .featured-services__list {
    margin: 0;
    flex: 0 0 50%;
  }

  .featured-services__list-item {
    & + & {
      margin-top: 2rem;
    }
  }
}
