.featured-case-study {
  --icon-arrow-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
  grid-column: 1 / -1;

  & + & {
    margin-top: rem-calc(80);
  }

  &:hover,
  &:focus {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);
  }

  &--purple {
    background-color: var(--color-purple);
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-blue);
    --color-overlay: var(--color-purple);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-aqua);
    color: var(--color-white);
    --overlay-opacity: 0.9;

    .featured-case-study__image {
      mix-blend-mode: multiply;
    }

    .featured-case-study--hover {
      transform: translateX(-100%);
      background: var(--color-purple);
      transition: transform 0.5s ease;
    }

    &:hover,
    &:focus {
      .featured-case-study--hover {
        transform: translateX(0px);
        background: var(--color-purple);
        transition: transform 0.5s ease;
      }
    }
  }

  &--aqua {
    background-color: var(--color-aqua);
    --color-animation: var(--color-purple);
    --color-overlay: var(--color-aqua);
    --color-link-primary: var(--color-white);
    --color-link-primary-hover: var(--color-black);
    color: var(--color-white);
  }

  &--black {
    background-color: var(--color-black);
    --color-animation: var(--color-purple);
    --color-link-background: var(--color-aqua);
    --color-overlay: var(--color-black);
    color: var(--color-white);
    --overlay-opacity: 0.2;

    .featured-case-study__image {
      opacity: 0.45;
      mix-blend-mode: screen;
    }

    .featured-case-study--hover {
      transform: translateX(-100%);
      background: var(--color-black);
      transition: transform 0.5s ease;
    }

    &:hover,
    &:focus {
      .featured-case-study--hover {
        transform: translateX(0px);
        background: var(--color-black);
        transition: transform 0.5s ease;
      }
    }
  }

  &--red {
    --color-overlay: var(--color-red);
    color: var(--color-white);
    --overlay-opacity: 0.8;
  }

  &--transparent {
    --color-animation: var(--color-purple);
    color: var(--color-white);
  }
}

.featured-case-study__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;

  &--purple {
    background-color: var(--color-purple);
    opacity: 0.1;
  }

  &--black {
    background-color: var(--color-black);
    opacity: 0.6;
  }
}

.featured-case-study__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.featured-case-study__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.featured-case-study--hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.featured-case-study__content-wrapper,
.featured-case-study__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 10;
}

.featured-case-study__content-wrapper {
  position: relative;
  padding: 1.5rem;
  text-align: left;
  justify-content: center;
  min-height: 400px;
}

.featured-case-study__content {
  position: relative;
  justify-content: flex-start;
  align-items: start;
  cursor: pointer;
}

.featured-case-study__cta {
  margin: auto;
  color: var(--color-white);
  cursor: pointer;
  text-decoration: underline 1px var(--color-purple);
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.0625rem;
  transition: color 0.1s ease;
}

.featured-case-study__logo {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  max-width: 6rem;
  max-height: 3.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.featured-case-study__title {
  margin: 1rem 0 0;
}

.featured-case-study__client {
  margin-top: 1.25rem;
}

.featured-case-study__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.featured-case-study__link-wrapper {
  margin: 1.25rem;
  align-self: flex-end;
  z-index: 10;
}

.featured-case-study__tags {
  margin-top: 1.25rem;

  a {
    position: relative;
    z-index: 100;
  }
}

.featured-case-study__description {
  &--mobile {
    display: block;
    visibility: visible;
  }

  &--desktop {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: $breakpoint-m) {
  .featured-case-study {
    & + & {
      margin-top: 0;
    }
  }

  .featured-case-studies .featured-case-study {
    grid-column: span 3 / span 3;
  }

  .featured-case-study__content-wrapper {
    justify-content: center;
    align-items: flex-start;
  }

  .featured-case-study__content {
    max-width: initial;
    justify-content: center;
  }

  .featured-case-study__client {
    margin-top: 0;
    color: var(--color-white);
    text-decoration: none;
  }

  .featured-case-study__cta {
    margin: 1.25rem 0 0;
  }

  .featured-case-study__logo {
    margin-bottom: 0;
    max-width: 8.5rem;
    max-height: 3.25rem;
  }

  .featured-case-study__tags {
    align-self: stretch;
  }

  .featured-case-study__client {
    margin-top: 1.25rem;
  }

  .featured-case-study__description {
    &--desktop {
      display: block;
      visibility: visible;
    }

    &--mobile {
      display: none;
      visibility: hidden;
    }
  }

  .featured-case-study__cta {
    align-self: flex-start;
  }
}

@media (min-width: $breakpoint-l) {
  .featured-case-study__content-wrapper {
    padding: 1.25rem;
  }

  .featured-case-study__content {
    max-width: 48.75rem;
    margin-left: 5rem;
  }
}
