.footer-menu {
  display: flex;
}

.footer-menu__heading {
  flex: 0 1 7.5rem;
  flex-shrink: 0;
  margin: 0 1rem 0.75rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
}

.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu__item {
  line-height: 1;

  & + & {
    margin-top: 0.75rem;
  }
}

.footer-menu__link {
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer-menu__arrow {
  margin-left: 0.375rem;
  color: var(--color-yellow);
}

@media (min-width: 48em) {
  .footer-menu {
    display: block;
  }

  .footer-menu__item {
    & + & {
      margin-top: 0.75rem;
    }
  }

  .footer-menu__heading {
    text-align: left;
  }
}
