.color-hero {

  &.ais {
    background-image: url(/assets/images/work/qonto.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.aleph-alpha {
    background-image: url(/assets/images/work/aleph-alpha-background-2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.dd-wrt {
    background-image: url(/assets/images/work/ddwrt.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.expedition {
    background-image: url(/assets/images/work/expedition.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.experteer {
    background-image: url(/assets/images/work/experteer.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.mvb {
    background-image: url(/assets/images/work/mvb-background.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.qonto {
    background-image: url(/assets/images/work/qonto.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.rail-europe {
    background-image: url(/assets/images/work/rail-europe.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.timify {
    background-image: url(/assets/images/work/timify.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.trainline {
    background-image: url(/assets/images/work/trainline.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }
}
