.color-hero {


  &.work {
    background-image: url(/assets/images/hero/work.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.rust {
    background-image: url(/assets/images/hero/rust.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }


  &.ember {
    background-image: url(/assets/images/hero/ember.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.svelte {
    background-image: url(/assets/images/hero/svelte.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.ruby {
    background-image: url(/assets/images/hero/ruby.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.elixir {
    background-image: url(/assets/images/hero/phoenix.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.idea-to-release {
    background-image: url(/assets/images/hero/idea-to-release.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.strategic-advice {
    background-image: url(/assets/images/hero/strategic-advice.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.team-reinforcement {
    background-image: url(/assets/images/hero/team-reinforcement.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.tech-modernization {
    background-image: url(/assets/images/hero/tech-modernization.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.workshops {
    background-image: url(/assets/images/hero/workshops.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.startups {
    background-image: url(/assets/images/hero/startups.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.playbook {
    background-image: url(/assets/images/playbook/playbook.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.ais {
    background-image: url(/assets/images/work/qonto.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.aleph-alpha {
    background-image: url(/assets/images/work/aleph-alpha-background-2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.dd-wrt {
    background-image: url(/assets/images/work/ddwrt.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.expedition {
    background-image: url(/assets/images/work/expedition.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.experteer {
    background-image: url(/assets/images/work/experteer.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.mvb {
    background-image: url(/assets/images/work/mvb-background.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.qonto {
    background-image: url(/assets/images/work/qonto.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.rail-europe {
    background-image: url(/assets/images/work/rail-europe.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.timify {
    background-image: url(/assets/images/work/timify.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }

  &.trainline {
    background-image: url(/assets/images/work/trainline.jpg);
    background-size: cover;
    background-blend-mode: multiply;
  }
}
