.icon-arrow {
  flex-shrink: 0;
  height: var(--icon-arrow-size);
  width: var(--icon-arrow-size);
  margin: var(--icon-arrow-margin);
  transform: var(--icon-arrow-transform) rotate(var(--icon-arrow-rotate));
  transition: transform 0.5s ease;
  will-change: transform;
  color: var(--icon-arrow-color, inherit);
}
