.icon-caret {
  display: block;
  flex-shrink: 0;
  height: var(--icon-caret-size);
  width: var(--icon-caret-size);
  margin: var(--icon-caret-margin);
  transform: var(--icon-caret-transform);
  transition: 0;
  will-change: transform;

  path {
    transform: rotate(var(--icon-caret-rotate));
    transform-origin: center;
  }
}
