.image-banner-with-text__heading {
  margin-bottom: 3rem;
}

.image-banner-with-text__content {
  margin: 3rem 0 6.75rem;
}

.image-banner-with-text__text {
  margin: 1.5rem 0 3.5rem;
}

@media (min-width: 48em) {
  .image-banner-with-text__heading {
    margin-bottom: 3.25rem;
  }

  .image-banner-with-text__content {
    margin: 4rem 0 10rem;
  }
}