.image-text {
  margin: rem-calc(72) 0;
}

.image-text__main {
  & > * + * {
    margin-top: 1.5rem;
  }

  &--left {
    margin-bottom: 1.5rem;
  }

  &--right {
    margin-top: 1.5rem;
  }
}

.image-text__image-wrapper {
  position: relative;
  z-index: 2;
}

.image-text__image {
  display: block;
}

@media (min-width: 48em) {
  .image-text__container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .image-text__image-wrapper {
    flex: 0 0 50%;
  }

  .image-text__main {
    margin: 0;
  }
}
