@use "../base/breakpoints" as *;

.image-aspect-ratio-with-button__wrapper {
  position: relative;

  & .image-aspect-ratio-with-button__image {
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
  }

  &:hover {
    & .image-aspect-ratio-with-button__image {
      filter: none;
      transition: all 0.25s ease-out;
    }
  }
}

.image-aspect-ratio-with-button__button {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-44%, -50%);
  z-index: 2;
  scale: 1.5; 
}
