.image-text-stacked {
  margin: rem-calc(72) 0;
}

.image-text-stacked__container {
  &:nth-child(odd) {
    .image-text-stacked__image-wrapper {
      margin-top: 1.5rem;
    }
  }

  &:nth-child(even) {
    margin-top: -2.5rem;

    .image-text-stacked__image-wrapper {
      margin: 0 0 1.5rem auto;

      &:empty {
        margin-top: 4rem;
      }
    }
  }

  &:nth-child(2n+1) {
    margin-top: 2.5rem;
  }
}

.image-text-stacked__main {
  & > * + * {
    margin-top: 1.5rem;
  }
}

.image-text-stacked__image-wrapper {
  width: 80%;
}

.image-text-stacked__image {
  display: block;
}

@media (min-width: 48em) {
  .image-text-stacked {
    margin: 2.5rem 0;
  }

  .image-text-stacked__container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .image-text-stacked__main {
    flex: 0 1 40%;
  }

  .image-text-stacked__image-wrapper {
    flex: 0 0 60%;

    &--small {
      flex: 0 0 40%;
    }
  }

  .image-text-stacked {
    .image-text-stacked__container:nth-child(n) {
      margin-top: 3rem;
    }
  }

  .image-text-stacked--right {
    .image-text-stacked__container {
      &:nth-child(odd) {
        .image-text-stacked__image-wrapper {
          order: -1;
          margin-left: auto;
          margin-right: 0;
        }
      }

      &:nth-child(even) {
        .image-text-stacked__image-wrapper {
          order: 1;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
