@use "../base/breakpoints" as *;

.logo-list {
  --logo-list-gap: 4rem;

  padding: 2.5rem 0;
  position: relative;
  text-align: center;
}

.logo-list__title {
  text-align: center;
  max-width: 48.75rem;
  margin: 0 auto 4.5rem;
  padding: 0 1rem;
}

.logo-list__wrapper {
  overflow-x: hidden;
}

.logo-list__inner {
  display: flex;
  gap: var(--logo-list-gap);
  width: max-content;
  animation: infinite-scroll 36s linear infinite;
  animation-play-state: running;

  &:hover,
  &:focus,
  &--paused,
  &[data-marquee-disable] {
    animation-play-state: paused;
  }
}

.logo-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--logo-list-gap);
  width: max-content;
}

.logo-list__item {
  flex: 0 0 8rem;
}

.logo-list__image {
  text-align: center;

  img,
  svg {
    max-height: 4rem;
    margin: 0 auto;
    display: block;
  }
}

.logo-list__button {
  position: absolute;
  bottom: 1.25rem;
  padding: 0.75rem 0.8rem;
  line-height: 1;
  background-color: var(--color-aqua);
  color: var(--color-white);
  font-weight: 700;
  transform: translateX(-50%);
  left: 50%;
  pointer-events: none;
  opacity: 0;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: $breakpoint-s) {
  .logo-list {
    --logo-list-gap: 6rem;

    padding: 5rem 0;
  }

  .logo-list__item {
    flex-basis: 10rem;
  }

  .logo-list__image {
    img,
    svg {
      max-height: 5rem;
    }
  }
}

@media (min-width: $breakpoint-l) {
  .logo-list {
    --logo-list-gap: 8rem;
  }
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - var(--logo-list-gap) / 2));
  }
}

@media (prefers-reduced-motion: reduce) {
  .logo-list__wrapper {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .logo-list__inner {
    animation: none;
  }

  .logo-list__list--duplicate {
    display: none;
    visibility: hidden;
  }
}
