.mainmatter-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;

  @media (min-width: $breakpoint-s) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $breakpoint-l) {
    grid-template-columns: repeat(6, 1fr);
  }
}
