.mobile-menu,
.mobile-menu__submenu {
  background-color: var(--color-white);
  color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-menu {
  z-index: 1;
}

.mobile-menu__inner,
.mobile-menu__submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__inner {
  height: 100vh;
  overflow-x: hidden;
  padding: 1rem;
}

.mobile-menu__submenu {
  height: 100%;
  z-index: 2;
  overflow-y: auto;
  padding: 1rem;
  transform: translate(-100%);
  visibility: hidden;
  transition: transform 0.3s ease,
  visibility 0.3s ease;
}

.mobile-menu__list {
  flex-shrink: 0;
  margin: 0;
  padding: 4rem 0 6rem;
  list-style: none;
}

.mobile-menu__item {
  & + & {
    margin-top: rem-calc(40);
  }
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;

  svg {
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg);
    margin-right: 2rem;
  }
}

.mobile-menu__actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.mobile-menu__button-close {
  grid-column-start: 2;
  text-align: right;
}

.mobile-menu__button-back {
  text-align: left;
  display: inline-flex;
  align-items: center;

  svg {
    transform: rotate(90deg);
    margin-right: 0.5rem;
  }
}

.mobile-menu__toggle {
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  &[aria-expanded="true"] {
    &+.mobile-menu__submenu {
      transform: translate(0);
      visibility: visible;
    }
  }
}
