.mobile-menu {
  background-color: var(--color-white);
  color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-menu {
  z-index: 1;
}

.mobile-menu__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__inner {
  height: 100%;
  overflow-x: hidden;
}

.mobile-menu__list {
  flex-shrink: 0;
  margin: 0;
  padding: 6rem 1rem;
  list-style: none;

  &--submenu {
    padding: 2.5rem 0 0 2.5rem;
  }
}

.mobile-menu__item {
  & + & {
    margin-top: rem-calc(40);
  }
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;

  svg {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg);
    margin-right: 2rem;
  }
}

.mobile-menu__button-close {
  height: 3rem;
  width: 3rem;
  align-self: flex-end;
}

.mobile-menu__toggle {
  border: 0;
  border-radius: 0;
  padding: 0.75rem;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;
}

body[data-js-enabled="true"] {
  .mobile-menu__inner {
    height: 100vh;
    overflow-x: hidden;
  }
}