.mobile-menu,
.mobile-menu__submenu {
  background-color: var(--color-white);
  color: var(--color-black);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-menu {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  height: 100vh;
  padding: 1rem 1rem 3.75rem;
}

.mobile-menu__inner {
  position: relative;
}

.mobile-menu__submenu {
  transform: translate(100%);
  z-index: 6;
  visibility: hidden;
  transition: transform 0.3s ease, visibility 0.3s ease;
}

.mobile-menu__toggle {
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  &[aria-expanded="true"] {
    &+.mobile-menu__submenu {
      visibility: visible;
      transform: translate(0);
    }
  }
}

.mobile-menu__list {
  flex-shrink: 0;
  overflow: hidden;
  margin: 0;
  padding: 4rem 0 6rem;
  list-style: none;
}

.mobile-menu__item {
  & + & {
    margin-top: rem-calc(48);
  }
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease;

  svg {
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg);
    margin-right: 2rem;
  }
}