.nav {
  display: flex;
  justify-content: space-between;
}

.nav__aside {
  margin-left: 1rem;
}

.nav__main {
  display: flex;
  align-items: center;
}

.nav__brand {
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 0;
}

.nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: inline-block;
  padding: 1.25rem 0.5rem;
  line-height: 1;
}

.nav__cta {
  display: none;
}

.nav__menu-toggle {
  padding: rem-calc(15 12);
  border: none;
  border-radius: 0;
  background-color: var(--color-purple);
  color: var(--color-white);

  svg {
    display: block;
  }
}

@media (min-width: 62em) {
  .nav__list {
    display: block;
  }

  .nav__cta {
    display: block;
    padding: 1.25rem 2rem;
    line-height: 1;
    background-color: var(--color-purple);
    color: var(--color-white);
  }

  .nav__menu-toggle {
    display: none;
  }
}
