
.nav-submenu__wrapper {
  position: relative;
}

.nav-submenu__menu {
  position: absolute;
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}

.nav-submenu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-submenu__toggle {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  &::-webkit-details-marker {
    display: none;
  }

  svg {
    margin-left: 0.25rem;
    transform: rotate(0);
  }

  body[data-js-enabled="false"] .nav-submenu[open] & {
    svg {
      transform: rotate(180deg);
    }
  }
}

.nav-submenu__menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-submenu__menu-close {
  background-color: transparent;
  border: 0;
  width: 2.75rem;
  height: 2.75rem;
  align-self: flex-end;
  text-align: right;

  svg {
    transition: color 0.3s ease;
  }

  &:hover svg {
    color: var(--color-accent);
  }
}

.nav-submenu__link {
  text-decoration: none;
  font-weight: 700;
  outline-offset: -0.125rem;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-accent);

    .nav-submenu__link-text {
      text-decoration-line: underline;
      text-decoration-color: rgba(var(--color-accent), 1);
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
    margin-right: 1rem;
  }
}

.nav-submenu__link-text {
  text-decoration-color: rgba(var(--color-accent), 0);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.0625rem;
  transition: text-decoration-color 0.3s ease;
}

body[data-js-enabled="true"] {
  .nav-submenu__menu {
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    padding: 2rem 2.5rem 0;
    margin-top: 0;
    overflow-y: auto;
  }

  .nav-submenu__list {
    width: 100%;
    max-width: 42rem;
    padding: 2.5rem 0 3.75rem;
    margin: 0 auto;
  }

  .nav-submenu__toggle {
    svg {
      transform: rotate(-90deg);
    }
  }

  .nav-submenu__link {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .nav-submenu[open] .nav-submenu__toggle svg & {
    svg {
      transform: rotate(-90deg);
    }
  }
}