.nav-submenu__toggle {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  border-radius: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  svg {
    transform: rotate(-90deg);
  }

  &[aria-expanded="true"] {
    & + .nav-submenu__menu {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.nav-submenu__menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 2rem 2.5rem 0;
  opacity: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  pointer-events: none;
  z-index: 6;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.3s opacity ease, 0.3s max-height ease-in-out,
    0.3s visibility ease;
}

.nav-submenu__menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-submenu__menu-close {
  background-color: transparent;
  border: 0;
  width: 2.75rem;
  height: 2.75rem;
  align-self: flex-end;
  text-align: right;

  svg {
    transition: color 0.3s ease;
  }

  &:hover svg {
    color: var(--color-accent);
  }
}

.submenu__list-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 0 3.75rem;
}

.nav-submenu__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 42rem;
}

.nav-submenu__link {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  outline-offset: -0.125rem;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-accent);

    .nav-submenu__link-text {
      text-decoration-line: underline;
      text-decoration-color: rgba(var(--color-accent), 1);
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg);
    margin-right: 2rem;
  }
}

.nav-submenu__link-text {
  text-decoration-color: rgba(var(--color-accent), 0);
  text-underline-offset: 0.25rem;
  transition: text-decoration-color 0.3s ease;
}
