.nav-aside {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 1rem 1rem 9rem;
}

.nav-aside__brand {
  max-width: rem-calc(320);
  margin-bottom: 3.75rem;
}

.nav-aside__brand svg {
  color: var(--color-purple);
}

.nav-aside__text {
  margin: 1rem 0 2rem;
}

.nav-aside__cta {
  padding: 0.75rem 0.8rem;
  line-height: 1;
  background-color: var(--color-accent);
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.125rem;
}

.nav-aside__socials {
  height: 100%;
  flex-basis: 100%;
  gap: 1rem;
}


@media (min-width: 62em) {
  .nav-aside {
    padding-bottom: 2rem;
  }

  .nav-aside__brand {
    margin-bottom: 0.25rem;
  }

  .nav-aside__socials {
    flex-basis: auto;
    gap: 0.75rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    .social__item+.social__item {
      margin-left: 0.75rem;
    }
  }
}


@media (hover: hover) {
  .nav-aside__cta {
    transition: background-color ease 0.3s;

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}