.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg);
}

.nav__aside {
  margin-left: 1rem;
}

.nav__main {
  display: flex;
  align-items: center;
}

.nav__brand {
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 0;
}

.nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-purple);
  }
}

.nav__link {
  display: inline-block;
  padding: 1.25rem 0.5rem;
  line-height: 1;
  vertical-align: middle;
}

.nav__cta {
  display: none;
}

.nav__cta-arrow {
  margin-left: 0.25rem;
  vertical-align: text-bottom;
}

.nav__menu-toggle {
  position: relative;
  padding: 0.75rem;
  border: none;
  border-radius: 0;
  background-color: var(--color-purple);
  color: var(--color-white);

  svg {
    transition: opacity 0.4s ease;
  }

  .icon-menu {
    display: block;
  }

  .icon-close {
    position: absolute;
    display: block;
    top: 0.75rem;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
  }

  &[aria-expanded="true"] {
    .icon-close {
      opacity: 1;
    }

    .icon-menu {
      opacity: 0;
    }

    & + .nav__mobile-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav__mobile-menu {
  opacity: 0;
  transition: 0.3s opacity ease, 0.3s visibility ease;
  visibility: hidden;
}

@media (min-width: 62em) {
  .nav__list {
    display: block;
  }

  .nav__cta {
    display: block;
    padding: 1.25rem 2rem;
    line-height: 1;
    background-color: var(--color-purple);
    color: var(--color-white);
  }

  .nav__menu-toggle {
    display: none;

    &[aria-expanded="true"] + .nav__mobile-menu {
      display: none;
    }
  }
}
