
.nav-submenu__wrapper {
  position: relative;
}

.nav-submenu__menu {
  position: absolute;
  color: var(--color-black);
  background-color: var(--color-white);
  z-index: 200;
}

.nav-submenu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-submenu__toggle {
  --icon-arrow-margin: 0 0 0 0.5rem;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  &::-webkit-details-marker {
    display: none;
  }

  body[data-js-enabled="false"] .nav-submenu[open] & {
    --icon-arrow-rotate: 0deg;
  }
}

.nav-submenu__menu-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-submenu__menu-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: 0;
  width: 2.75rem;
  height: 2.75rem;

  &:hover, &:focus  {
    cursor: pointer;
  }

  svg {
    transition: color 0.3s ease;
  }

  &:hover svg, &:focus svg {
    color: var(--color-accent);
  }
}

.nav-submenu__link {
  --icon-arrow-size: 0.75rem;
  --icon-arrow-margin: 0 1rem 0 0;

  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 700;
  outline-offset: -0.125rem;
  transition: color 0.3s ease;

  &:hover, &:focus  {
    --icon-arrow-transform: translate3d(0.5rem, 0, 0);
    color: var(--color-accent);
    text-decoration: none;
  }
}

.nav-submenu__link-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-submenu__link-text {
  text-decoration-color: rgba(var(--color-accent), 0);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.0625rem;
  transition: text-decoration-color 0.3s ease;
}

.nav-submenu__link-description {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

body[data-js-enabled="true"] {
  .nav-submenu__menu {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    margin-top: 0;
    overflow-y: auto;
  }

  .nav-submenu__list {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
  }

  .nav-submenu__toggle {
    &:hover, &:focus  {
      --icon-arrow-transform: translate3d(0.5rem, 0, 0);
    }
  }

  .nav-submenu__link {
    --icon-arrow-size: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: start;
    padding: 0.5rem 0;
  }
}
