.nav-dropdown__toggle {
  margin-left: -1.5rem;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  border-radius: 0;
  background-color: transparent;
  vertical-align: middle;
  color: currentColor;

  svg {
    transform: rotate(-90deg);
  }

  &[aria-expanded="true"] {
    & + .nav-dropdown__dropdown {
      max-height: 10rem;
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.nav-dropdown__dropdown {
  position: absolute;
  padding: 0.5rem 10%;
  left: 0%;
  width: 100%;
  opacity: 0;
  background-color: var(--color-purple);
  pointer-events: none;
  border-top: rem-calc(1) solid var(--color-white);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  max-height: 0;
  z-index: 6;
  visibility: hidden;
  transition: 0.3s opacity ease, 0.3s max-height ease-in-out,
    0.3s visibility ease;
}

.nav-dropdown__list {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &--columns {
    display: inline-block;
    column-count: 2;
    column-gap: 5rem;
  }
}

.nav-dropdown__link {
  display: inline-block;
  padding: 0.5rem;
  color: var(--color-white);
  outline-offset: -0.125rem;
}
