@use "../base/breakpoints" as *;

.opensource-list__list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 8rem;
  margin: 5rem 0;
}

.opensource-list__list-redesigned {
  column-gap: 1.5rem;

  & .opensource-list__project-image {
    height: auto;
  }

  & .btn-secondary__text {
    font-size: 1.5rem;
  }

  & .opensource-list__project-image {
    max-width: 32rem;
  }
}

.opensource-list__project-image {
  height: 4rem;
  width: auto;
}

@media (min-width: $breakpoint-l) {
  .opensource-list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
