.pagination {
  margin: 0;
  padding: 0 0 7.5rem;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, auto);

  &--margin {
    margin-top: 3rem;
  }
}

.pagination__item {
  display: inline-block;
}

.pagination__link {
  padding: 0.75rem 1rem;

  &[aria-current="page"] {
    font-weight: 600;
    color: var(--color-purple);
    text-decoration: none;
  }
}

.pagination__previous,
.pagination__next {
  text-decoration: none;
}

.pagination__previous {
  grid-column: 1 / 2;
  text-align: left;
}

.pagination__next {
  grid-column: 2 / 3;
  justify-self: end;
  text-align: right;
}