.pagination {
  margin: 0 auto;
  margin-top: 4rem;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5rem;

  &--margin {
    margin-top: 3rem;
  }

  & > [class$="reversed"]:only-child {
    margin-left: auto;
  }
}

.next-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  flex-grow: 2;
}

.previous-wrapper {
  --icon-arrow-rotate: 90deg;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  flex-grow: 2;

  a:hover,
  a:focus {
    --icon-arrow-transform: translate3d(-0.5rem, 0, 0);
  }
}
