.post-cards__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 30rem) {
  .post-cards__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60rem) {
  .post-cards__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.post-cards__grid-element {
  position: relative;
  color: var(--color-white);
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  min-height: 32rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-decoration: none;
  transition: all 0.3s ease;
}

.post-cards__grid-element:hover {
  background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
    linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
    linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
    linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  color: var(--color-white);
}

.post-cards__logo svg {
  fill: white;
}

.post-cards__link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: color 0.3s ease;
}

.post-cards__grid-element:nth-child(2n + 1) {
  background-color: var(--color-purple);
}

.post-cards__grid-element:nth-child(2n) {
  background-color: var(--color-black);
}

.post-cards__grid-element:nth-child(5n + 1) {
  background-color: var(--color-aqua);
}

.post-cards__author {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.post-cards__author-image-wrapper {
  line-height: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.post-cards__author-image {
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.post-cards__date-wrapper {
  align-self: end;
}

.post-cards__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
}

.post-cards__link-arrow {
  position: relative;
  margin-left: 0.25rem;
  z-index: 1;
  display: flex;
  justify-content: center;

  svg {
    transform: rotate(-90deg);
    transition: color 0.3s ease;
    @media (min-width: 72rem) {
      width: 24px;
      height: auto;
    }
  }

  &--rotate {
    margin-left: 0;
    margin-right: 0.5rem;

    svg {
      transform: rotate(90deg);
    }
  }
}
