.post-cards__author {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.post-cards__author-image-wrapper {
  line-height: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.post-cards__author-image {
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
