.quote {
  margin: 8.25rem auto 8.75rem;
}

.quote__content {
  max-width: 42.75rem;
  margin: -2rem auto 0;
}

.quote__text {
  margin-bottom: 2rem;
}

@media (min-width: 48em) {
  .quote__source {
    text-align: right;
  }
}
