.recent-posts {
  margin: 6.75rem 0;
}

.recent-posts__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3.25rem;
}

.cta-link .recent-posts__cta {
  margin-top: 5rem;
  text-align: center;
  justify-content: end;
}

.recent-posts__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .recent-posts__cta {
    text-align: left;
  }

  .recent-posts__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .recent-posts__title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 72rem) {
  .recent-posts__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
