.rte {
  h2 {
    margin: 3rem 0 1rem;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 1.5rem 0 0.5rem;
  }

  img,
  picture {
    & + h2,
    & + h3 {
      margin-top: 0;
    }
  }

  img,
  picture {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  figure picture,
  picture img {
    margin-top: 0;
    margin-bottom: 0;
  }

  .image--full {
    position: relative;
    max-width: none;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  iframe[src*="youtube"] {
    aspect-ratio: 16/9;
  }

  video,
  iframe {
    margin: 2rem auto;
    width: 100%;
    height: auto;
  }

  figure {
    margin: 3rem auto;

    img {
      max-width: 100%;
      margin: 0 0 0.5rem;
    }

    figcaption:not([class]) {
      color: var(--color-purple);
    }
  }
}

.rte--small {
  h2,
  .h2 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: rem-calc(24);
    line-height: 1.25;
    text-transform: none;
    letter-spacing: 0;
  }

  h3,
  .h3 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
}
