.section {
  padding: 3.5rem 0 0;
}

.section__introduction {
  margin-bottom: 3.25rem;
}

.section__title {
  margin-bottom: 1.5rem;
}

.section__subtitle {
  margin: 3rem 0 1.5rem;
}
