@use "../base/breakpoints" as *;

.secondary-feature {
  max-width: 16rem;

  .split-content__feature & {
    margin: auto;
  }
}

.secondary-feature__image-wrapper {
  padding: 2.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
}

.ember-consultants {
  display: flex;
  flex-direction: row;
}

.split-content__author img {
  width: 100%;
}

@media (min-width: $breakpoint-s) {
  .ember-consultants {
    display: flex;
    flex-direction: column;
  }
}
