.split-hero {
  --spacing: 1.5rem;
  display: flex;
  flex-direction: column;

  &--purple {
    --color-animation: var(--color-aqua);
    --color-link-primary: var(--color-white);
    --color-link-background: var(--color-blue);
    background-color: var(--color-purple);
    color: var(--color-white);
  }

  &--blue {
    --color-animation: var(--color-yellow);
    --color-link-primary: var(--color-black);
    --color-link-background: var(--color-yellow);
    --color-tag: var(--color-black);
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &--aqua {
    --color-animation: var(--color-blue);
    background-color: var(--color-aqua);
    color: var(--color-black);
  }

  &--yellow {
    --color-animation: var(--color-aqua);
    --color-link-background: var(--color-aqua);
    background-color: var(--color-yellow);
    color: var(--color-black);
  }

  &--post {
    --spacing: 1rem;
  }
}

.split-hero__image-wrapper {
  position: relative;
  order: -1;
  aspect-ratio: 4/3;
}

.split-hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.split-hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 100 / 85;
  padding: rem-calc(60) 0;
}

.split-hero__tags {
  margin-bottom: var(--spacing);
}

.split-hero__title {
  margin-bottom: var(--spacing);
}

.split-hero__text {
  max-width: rem-calc(376);
}

.split-hero__byline {
  color: var(--color-tag);
}

.split-hero__link {
  align-self: flex-start;
  margin-top: var(--spacing);
}

@media (min-width: 48em) {
  .split-hero {
    flex-direction: row;
  }

  .split-hero__image-wrapper {
    flex: 0 0 50%;
    aspect-ratio: 1/1;
  }

  .split-hero__main {
    display: flex;
    flex: 0 0 50%;

    &--left {
      order: -2;
    }
  }

  .split-hero__container {
    width: 80%;
    max-width: rem-calc(500);
  }
}

@media (min-width: 110em) {
  .split-hero__image-wrapper {
    aspect-ratio: 4/3;
  }
}
