.split-hero {
  display: flex;
  flex-direction: column;

  &--purple {
    --animation-color: var(--color-aqua);
    background-color: var(--color-purple);
    color: var(--color-white);

    .split-hero__link {
      color: var(--color-white);
    }
  }

  &--blue {
    --animation-color: var(--color-yellow);
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &--aqua {
    --animation-color: var(--color-blue);
    background-color: var(--color-aqua);
    color: var(--color-black);
  }

  &--yellow {
    --animation-color: var(--color-aqua);
    background-color: var(--color-yellow);
    color: var(--color-black);
  }
}

.split-hero__image-wrapper {
  position: relative;
  order: -1;
  aspect-ratio: 4/3;
}

.split-hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.split-hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 100 / 85;
  padding: rem-calc(60) 0;
}

.split-hero__title {
  margin-bottom: 1.5rem;
}

.split-hero__text {
  max-width: rem-calc(376);
}

.split-hero__link {
  align-self: flex-start;
  margin-top: 1.5rem;
  color: var(--color-purple);
}

@media (min-width: 48em) {
  .split-hero {
    flex-direction: row;
  }

  .split-hero__image-wrapper {
    flex: 0 0 50%;
  }

  .split-hero__main {
    display: flex;
    flex: 0 0 50%;

    &--left {
      order: -2;
    }
  }

  .split-hero__container {
    width: 80%;
    max-width: rem-calc(500);
  }
}
