.success_stories__title {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}

.posts__title {
  margin: 100px 0 58px;
}

.posts__cta-wrapper {
  text-align: right;
  margin: 3.75rem 0;
}

.startups.post-cards {
  padding-bottom: 0;
}
.startups__featured_posts {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: $breakpoint-s) {
  .startups__featured_posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
  }
}
