@use "../base/breakpoints" as *;

.strategy-list__wrapper {
  position: relative;
  margin: 4rem auto;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.strategy-list__number {
  color: var(--color-purple);
}

@media (min-width: $breakpoint-l) {
  .strategy-list__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .strategy-list__number {
    position: absolute;
    transform: translateX(-5rem);
    opacity: 0.25;
  }
}
