@use "../base/breakpoints" as *;

.table-of-contents__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-m) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  color: var(--color-white);

  & .btn-secondary {
    color: var(--color-white);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    font-size: 1.5rem;
    line-height: 2;

    & .icon-arrow {
      --icon-arrow-size: 1.5rem;
      color: var(--color-white);
    }
  }
}
