@use "../base/breakpoints" as *;

.talks__container {
  padding-bottom: 5rem;
}

.talks__list {
  max-width: 100%;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.talks__cta-wrapper {
  text-align: center;
  margin: 5rem 0 0;
}

@media (min-width: $breakpoint-l) {
  .talks__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }

  .talks__cta-wrapper {
    text-align: right;
  }
}
