.talks {
  margin: 2.5rem auto 5rem;
}

.talks__container {
  padding-bottom: 5rem;
}

.talks__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.talks__item {
  &--full-width {
    grid-column: span 3 / span 3;
  }

  &+& {
    margin-top: 3rem;
  }
}

.talks__cta-wrapper {
  text-align: center;
  margin: 5rem 0 0;
}

@media (min-width: 64em) {
  .talks__container {
    width: 90%;
    max-width: 86rem;
    margin: 0 auto;
  }

  .talks__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .talks__item {
    &+& {
      margin-top: 5rem;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 0;
    }
  }

  .talks__cta-wrapper {
    text-align: right;
  }
}
