.tech-cards__intro {
  max-width: 64remp;
}

.tech-cards__logo {
  position: relative;
  max-width: 80%;

  &.rust {
    max-width: 60%;
  }

  &.svelte {
    max-width: 50%;
  }

  &.sprint {
    max-width: 50%;
  }

  &.design {
    max-width: 50%;
  }

  &.ruby {
    max-width: 70%;
  }

  &.strategy {
    max-width: 60%;
  }
}

.tech-cards__grid-element:nth-child(2n + 1) {
  --background-color: var(--color-purple);

  svg g {
    fill: #5600d1;
  }
}

.tech-cards__grid-element:nth-child(2n) {
  --background-color: var(--color-black);

  svg g {
    fill: #2b2b2b;
  }
}

.tech-cards__grid-element:nth-child(5n + 1) {
  --background-color: var(--color-aqua);

  svg g {
    fill: #55e6d8;
  }
}
