.tech-cards__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 30rem) {
  .tech-cards__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60rem) {
  .tech-cards__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tech-cards__grid-element {
  color: var(--color-white);
  padding: 8rem 1.25rem 1.25rem 1.25rem;
  min-height: 32rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  text-decoration: none;
  position: relative;
}

.tech-cards_link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
}

.tech-cards__link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tech-cards__content {
  width: 100%;
}

.tech-cards__grid-element:nth-child(2n + 1) {
  background-color: var(--color-purple);

  & .rust {
    background-image: url(/assets/images/services/rust-tech_purple.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/rust-tech_white.png);
    }
  }

  & .ember {
    background-image: url(/assets/images/services/ember-tech_purple.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/ember-tech_white.png);
    }
  }

  & .svelte {
    background-image: url(/assets/images/services/svelte-tech_purple.png);
    background-size: 50%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/svelte-tech_white.png);
    }
  }

  & .elixir {
    background-image: url(/assets/images/services/elixir-tech_purple.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/elixir-tech_white.png);
    }
  }

  & .ruby {
    background-image: url(/assets/images/services/ruby-tech_purple.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/ruby-tech_white.png);
    }
  }

  & .strategy {
    background-image: url(/assets/images/services/strategy-purple.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/strategy-white.png);
    }
  }

  & .git {
    background-image: url(/assets/images/services/git-purple.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/git-white.png);
    }
  }

  & .sprint {
    background-image: url(/assets/images/services/sprint-purple.png);
    background-size: 40%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/sprint-white.png);
    }
  }



  &:hover {
    background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
}

.tech-cards__grid-element:nth-child(2n) {
  background-color: var(--color-black);

  & .rust {
    background-image: url(/assets/images/services/rust-tech_black.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/rust-tech_white.png);
    }
  }

  & .ember {
    background-image: url(/assets/images/services/ember-tech_black.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/ember-tech_white.png);
    }
  }

  & .svelte {
    background-image: url(/assets/images/services/svelte-tech_black.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/svelte-tech_white.png);
    }
  }

  & .elixir {
    background-image: url(/assets/images/services/elixir-tech_black.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/elixir-tech_white.png);
    }
  }

  & .ruby {
    background-image: url(/assets/images/services/ruby-tech_black.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/ruby-tech_white.png);
    }
  }

  & .strategy {
    background-image: url(/assets/images/services/strategy-black.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/strategy-white.png);
    }
  }

  & .git {
    background-image: url(/assets/images/services/git-black.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/git-white.png);
    }
  }

  & .sprint {
    background-image: url(/assets/images/services/sprint-black.png);
    background-size: 40%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/sprint-white.png);
    }
  }

  &:hover {
    background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
}

.tech-cards__grid-element:nth-child(5n + 1) {
  background-color: var(--color-aqua);

  & .rust {
    background-image: url(/assets/images/services/rust-tech_aqua.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/rust-tech_white.png);
    }
  }

  & .ember {
    background-image: url(/assets/images/services/ember-tech_aqua.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/ember-tech_white.png);
    }
  }

  & .svelte {
    background-image: url(/assets/images/services/svelte-tech_aqua.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/svelte-tech_white.png);
    }
  }

  & .elixir {
    background-image: url(/assets/images/services/elixir-tech_aqua.png);
    background-size: 80%;
    background-position: 5% 20%;

    &:hover {
      background-image: url(/assets/images/services/elixir-tech_white.png);
    }
  }

  & .ruby {
    background-image: url(/assets/images/services/ruby-tech_aqua.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/ruby-tech_white.png);
    }
  }

  & .strategy {
    background-image: url(/assets/images/services/strategy-aqua.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/strategy-white.png);
    }
  }

  & .git {
    background-image: url(/assets/images/services/git-aqua.png);
    background-size: 60%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/git-white.png);
    }
  }

  & .sprint {
    background-image: url(/assets/images/services/sprint-aqua.png);
    background-size: 40%;
    background-position: 5% 5%;

    &:hover {
      background-image: url(/assets/images/services/sprint-white.png);
    }
  }

  &:hover {
    background: radial-gradient(50% 123.47% at 50% 50%, #03dac5 0%, #6200ee 100%),
      linear-gradient(121.28deg, #213100 0%, #ff0000 100%),
      linear-gradient(360deg, #6200ee 0%, #03dac5 100%),
      linear-gradient(114.9deg, #03dac5 0%, #6200ee 100%),
      radial-gradient(100% 148.07% at 0% 0%, #ffffff 0%, #03dac5 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
}

.tech-cards__link-arrow {
  position: relative;
  margin-left: 0.25rem;
  z-index: 1;
  display: flex;
  justify-content: center;

  svg {
    transform: rotate(-90deg);
    transition: color 0.3s ease;
    @media (min-width: 72rem) {
      width: 24px;
      height: auto;
    }
  }

  &--rotate {
    margin-left: 0;
    margin-right: 0.5rem;

    svg {
      transform: rotate(90deg);
    }
  }
}
