.video-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem-calc(215), 1fr));
  gap: rem-calc(26);
  margin: 0;
  padding: 0;
  list-style: none;
}

.video-cards--overflow {
  display: flex;
  margin-left: calc(5% - 1rem);
  padding: 1rem 0;
  gap: 0;
  overflow-x: auto;
  scroll-snap-type: x proximity;

  @media (min-width: 65.75em) {
    margin-left: calc(50% - 30.125rem);
  }
}

.video-card__flow-item {
  align-self: stretch;
  // To accomodate for gap
  flex: 0 0 rem-calc(308);
  padding: 0 rem-calc(13);
  scroll-snap-align: start;
}

.video-card__item {
  align-self: stretch;
}

.video-card {
  --color-tag: var(--color-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  border: rem-calc(1) solid var(--color-light-gray);
}

.video-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline-offset: 0.25rem;

  &:hover {
    & ~ .video-card__cta:before {
      transform: scaleX(1);
    }
  }
}

.video-card__image-wrapper {
  position: relative;
  margin-bottom: 1.5rem;
}

.video-card__image {
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.video-card__duration {
  position: absolute;
  padding: 0.25rem;
  right: rem-calc(7);
  bottom: rem-calc(7);
  background-color: var(--color-bg);
  color: var(--color-body-text);
  font-size: rem-calc(13);
}

.video-card__title {
  margin-top: 0.5rem;
}

.video-card__description {
  margin: 0.5rem 0;
  font-size: rem-calc(13);
}

.video-card__cta {
  align-self: flex-start;
  margin-top: auto;
}
