.workshop-authors {
  margin-bottom: 5rem;
}

.author-socials {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.workshop-authors__image-wrapper {
  margin-right: 3rem;
  width: 6rem;
  height: auto;
  flex-shrink: 0;
}

.workshop-authors__image-wrapper img {
  width: 100%;
  height: 100%;
}

