.workshop-authors {
  margin-bottom: 5rem;
}


.workshop-authors__image-wrapper {
  margin-right: 3rem;
  width: 6rem;
  height: 6rem;
}

.workshop-authors__image-wrapper img {
  width: 100%;
  height: 100%;
}


