.workshop-topics__list {
  margin-top: 3rem;
  padding: 0;
  list-style: none;
  counter-reset: item;
  max-width: rem-calc(520);
}

.workshop-topics__item {
  margin-top: 1.5rem;
  counter-increment: item;
  display: flex;

  &+& {
    margin-top: 2rem;
  }

  &::before {
    height: 2rem;
    min-width: 2.5rem;
    content: counter(item) ".";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-purple);
    line-height: 1.5;
  }

  &--optional::before {
    content: "*";
  }
}

.workshop-topics__icon-wrapper {
  margin-bottom: 1rem;
  margin-right: 1.5rem;

  img {
    margin: 0;
    width: 2rem;
    height: 2rem;
  }
}

.workshop-topics__heading {
  .rte & {
    margin: 6.25rem 0 3rem;
  }
}

.workshop-topics__item-heading {
  .rte & {
    margin: 0 0 1rem;
  }
}

.workshop-topics__text {
  margin-bottom: 1rem;
}


@media (min-width: 62em) {
.workshop-topics__item {
    &+& {
      margin-top: 2.75rem;
    }
  }
}