.workshop-authors {
  margin-bottom: 0 0 10rem 0;
}


.author__wrapper {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  align-items: center;

  @media (min-width: 64em) {
    grid-template-columns: 1fr 1fr;
    
  }
}


.workshop-authors__image-wrapper {
  margin-right: 1.25rem;
  width: 12rem;
  height: 12rem;
}

.workshop-authors__image-wrapper img {
  width: 100%;
  height: 100%;
}

.workshop-socials svg {
  max-height: 20px;
  width: auto;
}

.workshop-socials a {
  padding: 0 0.25rem;
}


.author__name-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post__content--workshop h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3;
}

