@use "../base/breakpoints" as *;

.rust-exercises-feature {
  display: grid;
  overflow: hidden;
  background-color: var(--color-purple);
  color: var(--color-white);
}

.rust-exercises-feature__content,
.rust-exercises-eurorust__content {
  padding: 3rem;
}

.rust-exercises-feature__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}



.rust-exercises-feature__image {
  display: none;

  picture,
  img {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}

.rust-exercises-eurorust__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-image: url("/assets/images/rust/eurorust-2026-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  picture {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

.rust-exercises-eurorust {
  display: grid;
  overflow: hidden;
  background-color: var(--color-black);
  color: var(--color-white);
}

.rust-exercises-eurorust__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 100%;
}

@media (min-width: $breakpoint-m) {
  .rust-exercises-feature,
  .rust-exercises-eurorust {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .rust-exercises-feature__image {
    display: block;
  }

  .rust-exercises-eurorust__content {
    padding-right: max(5vw, calc((100vw - 86rem) / 2));
  }
}
