<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="display">
          Playbook
        </h1>
        <p class="lead">
          We maintain a lean process that supports the team rather than stand in its way. It ensures the right things are being worked on at the right time and provides a reasonable level of short term predictability. At the same time it remains flexible enough to adapt to unexpected events. Our process does not depend on specific tools and works for projects and teams in all environments.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content"></div>
        <div class="main-block.sidebar"></div>
        <!--sidebar-->
      </div>
    </div>
  </div>
  <!--contents-->
</div>