<section layout:class="full" offset:class="after-21">
  <h2>
    {{if @title @title "Our Clients"}}
  </h2>
  <div block:class="grid">
    {{#each this.clients key="id" as |c|}}
      <figure grid:class="item">
        <div grid:class="figure">
          <img grid:class="image" src={{c.src}} alt="{{c.name}}" />
        </div>
        <figcaption>
          <p grid:class="text">
            {{c.text}}
          </p>
        </figcaption>
      </figure>
    {{/each}}
  </div>
</section>