---
layout: default
title:
---
<div class="primary-banner main-page">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <h2>You do the disrupting<br>we do the engineering</h2>
        <p>We build <strong>custom web and mobile solutions</strong> for our clients to rely on.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container index landing-page" id="main-section">
  <div class="row">
    <div class="col col-lg-10 offset-lg-1">
      <div class="row content-section separated">
        <div class="col">
          <p>Disrupting a market is hard enough - <strong>let an experienced partner handle the engineering for you so you can concentrate on your core business</strong>. Our team of technology experts builds ambitious solutions for clients across the world, from startups to long-established businesses.</p>
        </div>
      </div>

      <div class="row content-section">
        <div class="col">
          {% include random_quote.html %}
        </div>
      </div>

      <div class="secondary-banner wide-banner crosslink-banner">
        <div class="container">
          <div class="row content-section statement">
            <div class="col-12 col-lg-10 offset-lg-1">
              <h4>We have helped clients from various industries across the world.</h4>
            </div>
          </div>

          <div class="row content-section split-section">
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1 content-teaser d-flex flex-column justify-content-between align-items-start">
              <div>
                <h4>DD-WRT</h4>
                <p>DD-WRT is a Linux based <strong>firmware for wireless routers</strong>, running on millions of devices worldwide. We helped embeDD &mdash; the company behind DD-WRT &mdash; <strong>migrate the frontend to a modern tech stack</strong>.</p>
              </div>
              <a href="/cases/dd-wrt.html" class="custom-button">learn more</a>
            </div>
            <div class="col-12 col-md-6 col-lg-5 content-teaser d-flex flex-column justify-content-between align-items-start">
              <div>
                <h4>Timify</h4>
                <p>Timify is an <strong>online appointment scheduling calendar</strong> for businesses that connects service providers with clients. We <strong>helped them ship a stable, high quality app</strong> that paved the way for them at an early stage.</p>
              </div>
              <a href="/cases/timify.html" class="custom-button">learn more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row content-section client-logos">
        <a href="/work">Our Clients</a>
        <div class="col-6 col-md-3">
          <i class="generali"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="hopskipdrive"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="robinhood"></i>
        </div>
        <div class="col-6 col-md-3">
          <i class="trainline"></i>
        </div>
      </div>
    </div>
  </div>
</div>

{% include contact_banner.html %}
