---
layout: "base"
title: Rust Workshops
description: "Public and team Rust workshops by Mainmatter."
og:
  image: "/assets/images/workshops/rust-og-image.jpg"
eleventyImport:
  collections: ["workshops"]
---

{% from "color-hero.njk" import colorHero %}
{% from "workshop-card.njk" import workshopCard %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "quote.njk" import quote %}
{% from "logo-list.njk" import logoList %}
{% from "contact-form-LP.njk" import contactFormLP %}
{% from "tech-cards.njk" import techCards %}
{% from "secondary-feature.njk" import secondaryFeature %}
{% from "service-cta.njk" import serviceCta %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}


{% set heroEyebrow %}
  <a class="workshops-page-hero__eyebrow-link" href="/services/workshops/">
    <span class="workshops-page-hero__eyebrow-arrow">{% include 'svg/arrow.njk' %}</span>
    <span class="workshops-page-hero__eyebrow-text">All workshops</span>
  </a>
{% endset %}

{%
  set heroContent = {
  "eyebrow": heroEyebrow,
  "title": "Rust Workshops",
  "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in nisi sed eros eleifend scelerisque a eu nisl. Ut eu sollicitudin magna. Nullam varius neque ante, a pulvinar ipsum luctus id.",
  "image": "/assets/images/hero/rust-workshops.jpg",
  "alt": "Crabs climbing a rock on a beach",
  "loading": "eager",
  "class": "workshops-page-hero",
  "toc": [
    ["Overview", "#overview"],
    ["Workshops", "#workshops"],
    ["Instructor", "#instructor"],
    ["Others Say", "#others-say"]
  ],
  "containerType": "lp"
  }
%}
{{ colorHero('purple', heroContent) }}

{%
  set rustWorkshops = [
    collections.workshops | findByCollectionSlug("learn-rust-starting-from-scratch"),
    collections.workshops | findByCollectionSlug("test-rust-workshop-with-public-dates"),
    collections.workshops | findByCollectionSlug("rust-python-interoperability"),
    collections.workshops | findByCollectionSlug("c-to-rust"),
    collections.workshops | findByCollectionSlug("test-rust-workshop-with-team-and-ticket-options"),
    collections.workshops | findByCollectionSlug("edge-computing-with-webassembly"),
    collections.workshops | findByCollectionSlug("an-introduction-to-testing-in-rust"),
    collections.workshops | findByCollectionSlug("advanced-testing-in-rust"),
    collections.workshops | findByCollectionSlug("telemetry-for-rust-apis"),
    collections.workshops | findByCollectionSlug("foundations-of-embedded-rust"),
    collections.workshops | findByCollectionSlug("introduction-to-rust-for-web-developers"),
    collections.workshops | findByCollectionSlug("build-production-ready-apis-in-rust")
  ]
%}

<div class="workshops-page">
  <section class="container container--xl my-10" id="workshops">
    <div class="workshops-page__intro">
      <div class="workshops-page__intro-text">
        <h2 class="mb-2">Rust Workshops</h2>
        <p>
          We offer a range of workshops bookable for teams that want to grow – on-site or remote.
          We're also happy to prepare custom workshops – <a href="/contact/?service=workshops"
            >get in touch with us</a
          > to talk about what curriculum fits your team best!
        </p>
      </div>
      <div class="workshops-page__certificate-container">
        <span
          >We are <strong class="strong">fully accredited</strong> by the Rust Foundation as
          <strong class="strong">Certified Rust Trainers</strong></span
        >
        <img
          class="workshops-page__certificate"
          src="/assets/images/rust/rust-foundation-certificate.svg"
          alt="Rust Foundation Silver Member"
          loading="lazy"
        />
      </div>
    </div>

    <ul class="workshops-page__list">
      {% for workshop in rustWorkshops %}
        <li>{{ workshopCard(workshop) }}</li>
      {% endfor %}
    </ul>
  </section>

  {%
    set teamCta = {
    "title": "Want to Book a Workshop for Your Team?",
    "text": "We are happy to tailor the curriculum to your needs. We can combine multiple workshops, pick and choose modules, as well as develop new content if desired.",
    "linkUrl": "/contact/",
    "linkText": "Get in touch"
    }
  %}
  {{ ctaBanner('purple', 'medium', teamCta) }}

  {%
    set logoCompanies = [
    'Redis',
    'Robin Hood',
    'Google',
    'AIS',
    'HashiCorp',
    'Faculty',
    'Keyrock',
    'BMW Car IT',
    'CERN'
    ]
  %}
  {{ logoList(logoCompanies, "We Have Trained Teams at", "h2", "h3") }}

  <section class="container container--lg my-10" id="instructor">
    <div class="split-content no-link">
      <div class="split-content__wrapper">
        <div class="split-content__content">
          <h5 class="workshops-page__instructor-eyebrow mb-015">
            <img src="/assets/images/icons/instructor.svg" alt="" loading="lazy" />
            <span>Our Expert Instructor</span>
          </h5>
          <h3 class="mb-2">Luca Palmieri</h3>
          <p>
            Luca Palmieri is a Principal Engineering Consultant at Mainmatter and builds technology
            products for a living. His current focus is on backend development, software
            architecture and the Rust programming language. He is the author of
            <a href="https://zero2prod.com">"Zero to Production in Rust"</a>.
          </p>
        </div>
        <div class="split-content__feature">
          {%
            set instructorImage = {
            "image": "/assets/images/authors/algo_luca.jpg",
            "alt": "Luca Palmieri",
            "loading": "lazy"
            }
          %}
          {{ secondaryFeature(instructorImage, 'split-content__author') }}
        </div>
      </div>
    </div>
  </section>

  <section class="container container--lg my-10" id="others-say">
    <h2 class="mb-4">Our Attendees Say...</h2>
    {%
      set quoteContent = {
      "text": "The work remains mysterious to me, but its importance becomes clearer with every passing day. The structure, guidance, and sense of purpose have exceeded all expectations.",
      "source": "Mark Scout",
      "position": "Department Chief, Macrodata Refinement @Lumon Industries",
      "styling": "redesigned"
      }
    %}
    {{ quote(quoteContent) }}

    {%
      set quoteContent = {
      "text": "Few people have the privilege of participating in work of this magnitude. While its full scope remains mysterious, the value of the mission becomes more apparent with every refinement.",
      "source": "Dylan G.",
      "position": "Macrodata Refiner @Lumon Industries",
      "styling": "redesigned"
      }
    %}
    {{ quote(quoteContent) }}

    {%
      set quoteContent = {
      "text": "Each refinement brings a sense of accomplishment that is difficult to describe. There is comfort in knowing that the work matters, even when its purpose remains beyond view.",
      "source": "Helly R.",
      "position": "Macrodata Refiner @Lumon Industries",
      "styling": "redesigned"
      }
    %}
    {{ quote(quoteContent) }}
  </section>

  {%
    set trainingMaterials = [
    {
      "title": "Rust Handbook",
      "link": "rust-adoption-handbook/",
      "logo": "rust"
    },
    {
      "title": "C to Rust Migration",
      "link": "services/workshops/c-to-rust/",
      "logo": "rust"
    },
    {
      "title": "Edge Computing With WebAssembly",
      "link": "services/workshops/edge-computing-with-webassembly/",
      "logo": "rust"
    }
    ]
  %}

  {{ techCards('workshops-page-materials', 'Explore Our Other Training Materials', '', trainingMaterials) }}

  {{ serviceCta(["rust"]) }}

  {{ contactFormLP("Rust Workshops") }}

  <section>
    {%
      set imageData = {
      "imgPath": "/assets/images/photos/rust-workshops-footer.jpg",
      "alt": "Rust workshop materials",
      "sizes": "100vw",
      "loading": "lazy",
      "sizesArray": [760, 1440, 1920]
      }
    %}
    {{ imageAspectRatio(imageData, "4/1", "35/19") }}
  </section>
</div>
