---
layout: "base"
title: Rust Workshops | Our Services
description: "We offer workshops to enable teams to succeed with Rust – covering a wide range from basics to advanced topics, onsite or remote."
og:
image: "/assets/images/workshops/rust-og-image.jpg"
---

{% from "color-hero.njk" import colorHero %}
{% from "tech-cards.njk" import techCards %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "public-workshops.njk" import publicWorkshops %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "featured-services.njk" import featuredServices %}
{% from "logo-list.njk" import logoList %}
{% from "workshops-list.njk" import workshopsList %}
{%
  set 'content' = {
  "title": "We teach teams like yours how to adopt and succeed with Rust",
  "image": "/assets/images/hero/rust.jpg",
  "alt": "Crabs climbing a rock on a beach",
  "loading": "eager"
  }
%}
{{ colorHero('aqua', content) }}
{%
  set 'workshop_1' = {
  "eyebrow": "Bookable for teams",
  "title": "Learn Rust, starting from scratch",
  "logo": "rust",
  "link": "services/workshops/learn-rust-starting-from-scratch/"
  }
%}
{%
  set 'workshop_2' = {
  "eyebrow": "Bookable for teams",
  "title": "Introduction to Rust for Web Developers",
  "logo": "rust",
  "link": "services/workshops/introduction-to-rust-for-web-developers/"
  }
%}
{%
  set 'workshop_3' = {
  "eyebrow": "Bookable for teams",
  "title": "Build production-ready API services in Rust",
  "logo": "rust",
  "link": "services/workshops/build-production-ready-apis-in-rust/"
  }
%}
{%
  set 'workshop_4' = {
  "eyebrow": "Bookable for teams",
  "title": "You can't fix what you can't see: telemetry for Rust APIs",
  "logo": "rust",
  "link": "services/workshops/telemetry-for-rust-apis/"
  }
%}
{%
  set 'workshop_5' = {
  "eyebrow": "Bookable for teams",
  "title": "Testing in Rust: an introduction",
  "logo": "rust",
  "link": "services/workshops/an-introduction-to-testing-in-rust/"
  }
%}
{%
  set 'workshop_6' = {
  "eyebrow": "Bookable for teams",
  "title": "Testing in Rust: going beyond the basics",
  "logo": "rust",
  "link": "services/workshops/advanced-testing-in-rust/"
  }
%}
{%
  set 'workshop_7' = {
  "eyebrow": "Bookable for teams",
  "title": "Rust-Python Interoperability",
  "logo": "rust",
  "link": "services/workshops/rust-python-interoperability/"
  }
%}
{%
  set 'workshop_8' = {
  "eyebrow": "Bookable for teams",
  "title": "Foundations of Embedded Rust",
  "logo": "rust",
  "link": "services/workshops/foundations-of-embedded-rust/"
  }
%}
{% set workshops = [workshop_1, workshop_2, workshop_3, workshop_4, workshop_5, workshop_6, workshop_7, workshop_8] %}
{{
  workshopsList('Our training offering', 'We teach Rust across a range of use-cases: API services, workers, data pipelines, native extensions, WASM, and more.
  We can walk alongside you on a journey from zero to hero,
  starting from the basics of the language all the way to advanced testing techniques and comprehensive
  telemetry instrumentation.', workshops)
}}
{% set futurePublicWorkshops = publicRustWorkshops.workshops | upcoming %}
{{ publicWorkshops(futurePublicWorkshops) }}

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-4">
      <h3 class="mb-2">Our methodology</h3>
      <p class="body">
        All our workshops are hands-on. We believe that the best way to learn is by doing. Workshop
        attendees spend most of their time writing code, working through exercises with automated
        solution-checking. This structure allows our trainers to spend most of their time in 1:1
        conversations with attendees, providing tailored feedback and guidance.
      </p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2">Logistics</h3>
      <p class="body">
        All our workshops can be held in-person or remotely. If you decide to organise a workshop at
        your company, we are happy to tailor the curriculum to your needs. We can combine multiple
        workshops, pick and choose modules, as well as develop new content if desired.<br />
        <a href="https://calendly.com/luca-palmieri/is-rust-the-right-choice-for-us"
          >Get in touch with us</a
        >
        to discuss further!
      </p>
    </div>
  </div>
</section>

<section class="quotes-list">
  <div class="container container--lg">
    <h2 class="quotes-list__title h2">Listen to our students</h2>
    <ul class="quotes-list__list" style="grid-template-columns: repeat(2, 1fr);">
      <li class="quotes-list__quote">
        <div class="quotes-list__quote-text text--sm">
          <blockquote>
            ”The individual exercises build on each other very well. Direct practice makes it easier
            to understand the topics. I have rarely taken part in such a good practical workshop!”
          </blockquote>
          <figcaption class="quotes-list__quote-source">
            Remote attendee<span class="quotes-list__quote-source--separator"></span>
          </figcaption>
        </div>
      </li>
      <li class="quotes-list__quote">
        <div class="quotes-list__quote-text text--sm">
          <blockquote>
            ”I usually avoid workshops. The pace of more than 3 people is hard to sync: I always
            feel rushed in some bits, slowed down in others. You fixed that with your code-centric
            approach: I was able to fully use the time and the knowledge of the trainer!”
          </blockquote>
          <figcaption class="quotes-list__quote-source">
            Onsite attendee<span class="quotes-list__quote-source--separator"></span>
          </figcaption>
        </div>
      </li>
    </ul>
  </div>
</section>

{%
  set logoCompanies = [
  'BMW Car IT',
  'Faculty',
  'Lego',
  'Canonical',
  'Ystorian',
  'Change Healthcare',
  'Süddeutsche Zeitung',
  'Truelayer'
  ]
%}
{% set title = "We've trained engineers in Rust, from startups to Fortune Global 500 companies." %}
{{ logoList(logoCompanies, title, "h4", "h5") }}

<section class="mb-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/rust/eurorust.jpeg",
    "alt": "Server room",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Rust & Mainmatter</h5>
      <h3 class="mb-2">A unique skillset</h3>
      <p>
        We’re experts - our Rust team is led by Luca Palmieri, author of
        <a href="http://zero2prod.com">"Zero to Production in Rust"</a>, and we have been part of
        the Rust ecosystem for years, helping out the
        <a href="https://crates.io">crates.io</a> project.
      </p>
      <p>
        But we don't stop at Rust – we have developed big web apps and mentored teams on backend,
        frontend, design, as well as process and developer infrastructure for years. We know what it
        takes to connect everything together and deliver a delightful end-to-end experience.
      </p>
    </div>
  </div>
  <div class="split-content">
    <a href="https://foundation.rust-lang.org/" class="split-content__link"></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>Mainmatter is a Silver Member of the Rust Foundation</h4>
        {%
          set link = {
          "label": 'Learn more',
          "url": 'https://foundation.rust-lang.org/'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">{% include 'content/secondary-feature-rust.njk' %}</div>
    </div>
  </div>
</section>

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">EuroRust</h5>
      <h3 class="mb-2">We run EuroRust</h3>
      <p>
        In 2024, EuroRust will be back on October 10th and 11th in Vienna, Austria as well as
        online. We'll have 2 days of talks with a main track as well as a side track for the first
        time this year. Plus, there'll be workshops on the day before the main conference, room for
        people to get together and hack on their favorite projects during the conference, as well as
        an after party on Friday night.
      </p>
    </div>
  </div>
  <div class="split-content">
    <a
      href="https://www.youtube.com/@eurorust"
      class="split-content__link"
    ></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>All the talks from the previous editions are available on YouTube</h4>
        {%
          set link = {
          "label": 'Learn more',
          "url": 'https://www.youtube.com/@eurorust'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-eurorust.njk' %}
      </div>
    </div>
  </div>
</section>

<section class="my-10 container container--lg">
  <div class="split-content no-link">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h2 class="split-content__subheading">Your mentor</h2>
        <p>
          Luca Palmieri is a Principal Engineering Consultant at Mainmatter and builds technology
          products for a living. His current focus is on backend development, software architecture
          and the Rust programming language. He is the author of
          <a href="https://zero2prod.com">"Zero to Production in Rust"</a>.
        </p>
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-rust-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

{% include "global/rust-cta.njk" %}
{% include "global/rust-newsletter-cta.njk" %}
