---
layout: 'base'
title: Rust Workshops | Our Services
description: "We provide a number of workshops to enable teams to succeed with Rust – onsite or remote"
---

{% from "color-hero.njk" import colorHero %}
{% from "scroll-slides.njk" import scrollSlides %}

{% set 'content' = {
  "title": "We teach teams like yours how to adopt and succeed with Rust",
  "image": "/assets/images/photos/mainmatter-team-meeting.jpg",
  "alt": "Man standing at whiteboard presenting to three team members sitting to either side of him",
  "loading": "eager",
  "titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'aqua', content) }}

<section class="split-content">
  <div class="container container--lg">
    <h2 class="h5">Rust & Mainmatter</h2>
    <h3 class="split-content__subheading h2">Our training offering</h3>
    <div class="split-content__content">
      <div class="split-content__text">
        <p>Here at Mainmatter, we specialize on Rust on the backend: API services, workers, data pipelines.</p>
        <p>That focus shapes our training offering.<br>
           We can walk alongside you on a journey from zero to hero,
           starting from the basics of the language all the way to advanced testing techniques and comprehensive
           telemetry instrumentation.</p>
        <p>All our workshops are hands-on. We believe that the best way to learn is by doing. We spend most of the
           time writing code, and we provide a number of exercises to practice what is being taught.</p>
        <p>Click on the links below to learn more about each workshop:</p>
        <ul>
            <li><a href="/services/workshops/introduction-to-rust-for-web-developers/">Introduction to Rust for Web Developers</a></li>
            <li><a href="/services/workshops/build-production-ready-apis-in-rust/">Build production-ready API services in Rust</a></li>
            <li><a href="/services/workshops/telemetry-for-rust-apis/">You can't fix what you can't see: telemetry for Rust APIs</a></li>
            <li><a href="/services/workshops/an-introduction-to-testing-in-rust/">Testing in Rust: an introduction</a></li>
            <li><a href="/services/workshops/advanced-testing-in-rust/">Testing in Rust: going beyond the basics</a></li>
        </ul>
      </div>
    </div>
    <h3 class="split-content__subheading h2">Logistics</h3>
    <div class="split-content__content">
      <div class="split-content__text">
        <p>All our workshops can be held in-person or remotely.</p>
        <p>If you decide to organise a workshop at your company, we are happy to sit together and tailor
          the curriculum to your needs. We can combine multiple workshops, pick and choose modules, as well as
          develop new content if desired. Feel free to
          <a href="https://calendly.com/luca-palmieri/is-rust-the-right-choice-for-us">get in touch with us</a>
          to discuss further!</p>
        <p>From time to time, we also organize public workshops. Public workshops
           are the ideal solution for independent developers and small teams: it's enough to buy a ticket to join!<br>
           The next one will be at [RustNation UK](https://www.rustnationuk.com/) in London, on March 26th 2024—we'll
           be in charge of the Expert workshop.</p>
      </div>
    </div>
  </div>
</section>

{% set 'slide_1' = {
  "color": "white",
  "title": "Introduction to Rust for Web Developers",
  "text": "Two or three days hands-on Rust workshop teaching all the main concepts by developing a simple web application.",
  "linkUrl": "/services/workshops/introduction-to-rust-for-web-developers/",
  "linkText": "Learn more"
} %}

{% set 'slide_2' = {
  "color": "purple",
  "title": "Build production-ready API services in Rust",
  "text": "Rust allows creating web services that are fast, reliable, and cost-effective. However, the main challenge is knowing where to start. This workshop guides you through the process. At the end of the journey, you'll know enough to set up a production-ready HTTP API using the Axum framework.",
  "linkUrl": "/services/workshops/build-production-ready-apis-in-rust/",
  "linkText": "Learn more"
} %}

{% set 'slide_3' = {
  "color": "black",
  "title": "You can't fix what you can't see: telemetry for Rust APIs",
  "text": "Your Rust application has finally been deployed to production! Nice! But is it working? This workshop will introduce you to a comprehensive toolkit to detect, troubleshoot and resolve issues in your Rust APIs.",
  "linkUrl": "/services/workshops/telemetry-for-rust-apis/",
  "linkText": "Learn more"
} %}

{% set 'slide_4' = {
  "color": "white",
  "title": "Testing in Rust: an introduction",
  "text": "Rust's type system is great, but it's not enough on its own to ensure correctness: a solid testing strategy is a requirement for any serious Rust application. By the end of this workshop, you will be well equipped for the testing journey ahead of you!",
  "linkUrl": "/services/workshops/an-introduction-to-testing-in-rust/",
  "linkText": "Learn more"
} %}

{% set 'slide_5' = {
  "color": "purple",
  "title": "Testing in Rust: going beyond the basics",
  "text": "No application is an island: you need to interact with third-party APIs, databases and who knows what else. Testing those interactions is tricky, to say the least! This workshop will focus on expanding your Rust testing toolkit, going beyond the basic techniques you're already familiar with. At the end of the session, you'll have a strategy to test most of the scenarios that are relevant for a complex Rust application.",
  "linkUrl": "/services/workshops/advanced-testing-in-rust/",
  "linkText": "Learn more"
} %}

{% set slides = [slide_1, slide_2, slide_3, slide_4, slide_5] %}
{{ scrollSlides('workshops', slides, page.url) }}

{% include 'content/hero-grow-with-us.njk' %}