<a href="/{{ include.client }}/index.html" class="d-flex align-items-stretch" aria-label="{{ include.title }}">
  <div class="section-client section-client--{{ include.client }} text-white mb-5 bg-hover-animate">
    <div class="row align-items-end">
      <div class="col-md-{% if include.image_url.size > 0 %}6{% else %}12{% endif %}">
        <div class="p-5">
          <div class="section-client-logo my-4 d-flex align-items-center">
            <img alt="Image" class="img-fluid" src="{{ include.logo_url }}"/>
          </div>
          <h5 class="text-uppercase small">Case Study</h5>
          <h3 class="mb-4 mt-2">{{ include.title }}</h3>
          <div class="mb-5" aria-hidden="true">
            {{ include.description }}
          </div>
        </div>
      </div><!--col-->
      {% if include.image_url.size > 0 %}
        <div class="col-md-6">
          <div class="section-client-illustration text-center">
            <img alt="Image" class="{{ include.image_class }}" src="{{ include.image_url }}">
          </div>
        </div><!--col-->
      {% endif %}
    </div><!--row-->
  </div><!--section-client-->
</a>