<div class="container-fluid container-fluid-work-with-us">
  <div class="container container-work-with-us">
    <div class="row row-work-with-us">
      <div class="col col-work-with-us">
        <div class="work-with-us">
          <div class="work-with-us-header-wrapper">
            <p class="work-with-us-header">work with us</p>
          </div>

          <div class="work-with-us-content-wrapper">
            <p class="work-with-us-text">
              Talk to one of our technology experts to find out how we can help
              you.
            </p>

            <div class="work-with-us-image-wrapper">
              <img class="work-with-us-image img-fluid" alt="Contact Us" src="../images/icons/dark/contact.svg" />
            </div>

            <a class="btn btn-contact-us" href="/contact/index.html">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>