<div class="contact-banner">
  <div class="background"></div>
  <a href="/contact/">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-8">
          <h3>Work with us!</h3>
          <p>Talk to one of our technology experts to find out how we can help you.</p>
      	</div>
        <div class="col-sm-3 offset-sm-1 d-none d-sm-block">
          {% include svgs/icons/contact.svg alt="icon - contact" class="icon-contact" %}
        </div>
      </div>
    </div>
  </a>
</div>