<div class="container-fluid cookie-banner" id="cookie-banner">
    <div class="row">
        <div class="col">
            <p>
                This website uses cookies; <a href="/imprint/">learn more</a>
                <a class="btn btn-cookie-banner" id="cookie-button">Ok</a>
            </p>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
        <script>
            Zepto(function ($) {
                var banner = $('#cookie-banner');
                if (document.cookie.includes('cookiesAccepted=true')) {
                    banner.remove();
                }

                var button = $('#cookie-button');
                button.on('click', function () {
                    document.cookie =
                        "cookiesAccepted=true;path=/;expires=Mon, 24 Mar 2319 09:52:10 GMT";
                    banner.remove();
                });
            });
        </script>
    </div>
</div>