<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2 class="display-4 font-weight-black text-lowercase mb-4">Our Expertise</h2>
      <p class="lead mb-4">We are experts in Ember.js and Elixir & Phoenix frameworks.</p>
      <p class="lead mb-4">It allows us to build solid projects and our clients can easily maintain them after we finish our work.</p>
    </div>
    <div class="col-sm-3">
      <div class="card-expertise card-expertise--ember p-5 text-white">
        <h3 class="my-4 font-weight-black">Ember.js</h3>
        <p>simplabs has been an active member of Ember Ecosystem from the early days.</p>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="card-expertise card-expertise--elixir p-5 text-white">
        <h3 class="my-4 font-weight-black">Elixir & Phoenix</h3>
        <p>simplabs was an early adopter of Elixir & Phoenix, organizing meetups and conferences.</p>
      </div>
    </div>
  </div>
</div><!--container-->