<nav id= "footer" class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-left col-md-2 col-xs-12" id="footer-logo">
          <span class="navbar-text">&copy; 2015</span>
          <i></i>
        </div>
        <ul class="nav navbar-nav navbar-right col-md-6 col-xs-12">
          <li class="col-md-2 col-md-offset-4 col-xs-12"><a href="/imprint">Imprint</a></li>
          <li class="col-md-2 col-xs-12"><a href="/contact">Contact</a></li>
          <li class="col-md-2 col-xs-12"><a href="/jobs">Jobs</a></li>
          <li class="col-md-2 col-xs-12"><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>