<nav id="footer" class="navbar navbar-expand-md">
  <div class="container">
    <div class="navbar-collapse justify-content-between align-items-start mt-5 mb-5 flex-wrap">
      <a class="navbar-brand" href="/">
        {% include svgs/logos/simplabs.svg class="logo" alt="logo - simplabs" %}
      </a>

      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a href="/services/" class="section-head">Services</a>
        </li>
        <li class="nav-item">
          <a href="/services/engineering/">Software Engineering</a>
        </li>
        <li class="nav-item">
          <a href="/services/team-augmentation/">Team Augmentation</a>
        </li>
        <li class="nav-item">
          <a href="/services/training/">Training</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <span class="section-head">
            Expertise
          </span>
        </li>
        <li class="nav-item">
          <a href="/services/ember/">Ember.js</a>
        </li>
        <li class="nav-item">
          <a href="/services/elixir-phoenix/">Elixir &amp; Phoenix</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a href="/work/" class="section-head">Work</a>
        </li>
        {% for post in site.categories.cases %}
          <li class="nav-item">
            <a href="{{post.url}}">{{post.title}}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <span class="section-head">
            Connect
          </span>
        </li>
        <li class="nav-item">
          <a href="https://github.com/simplabs">GitHub</a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/simplabs">Twitter</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/imprint/">Imprint</a>
        </li>
      </ul>

      <div class="navbar-text copyright">
        &copy; 2014-2018
      </div>
    </div>
  </div>
</nav>