<footer>
    <div class="container container-footer">
        <div class="row justify-content-between">
            <div class="col-md-auto col-copyright">
                <div class="copyright-container">
                    <a class="copyright-container-logo" href="https://simplabs.com/">
                        <img class="copyright-container-logo-image img-fluid" src="/images/simplabs-logo-blue.svg" />
                    </a>

                    <p class="copyright-container-text">&copy; 2014-2018 simplabs GmbH</p>
                </div>
            </div>

            <div class="col-12 col-sm-auto col-md-auto col-nav">
                <ul class="nav flex-column">
                    <li class="nav-item nav-item-header">
                        <span class="nav-header">Services</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/full-stack-engineering/index.html">Software Engineering</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/team-augmentation/index.html">Team Augmentation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/training/index.html">Training</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-auto col-md-auto col-nav">
                <ul class="nav flex-column">
                    <li class="nav-item nav-item-header">
                        <span class="nav-header">Expertise</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/ember/index.html">Ember.js</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/elixir/index.html">Elixir & Phoenix</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-auto col-md-auto col-nav">
                <ul class="nav flex-column">
                    <li class="nav-item nav-item-header">
                        <span class="nav-header">Work</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/trainline/index.html">Trainline</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/expedition/index.html">Expedition</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/timify/index.html">Timify</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dd-wrt/index.html">DD-WRT NXT</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-auto col-md-auto col-nav">
                <ul class="nav flex-column">
                    <li class="nav-item nav-item-header">
                        <span class="nav-header">Connect</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/simplabs">GitHub</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/simplabs">Twitter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact/index.html">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/imprint/index.html">Imprint</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>