<nav id="main-menu" class="navbar navbar-static-top" role="navigation">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-left"><a class="navbar-brand" href="/index.html">
          <img src="/images/logo.png" srcset="/images/logo.png 2x"></a>
        </li>
        {% for link in site.navigation %}
          {% assign active = nil %}
          {% if page.url == link.file %}
            {% assign active = 'active' %}
          {% endif %}
          <li><a href="{{link.url}}" class="{{link.class}} {{active}}">{{link.title}}</a></li>
        {% endfor %}
        <li class="navbar-right"><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>