<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="simplabs builds solutions for the web and mobile devices"/>
  <meta name="keywords" content="ruby, rails, javascript, ember, software engineering, rest apis, consulting, software architecture, software design, training, ruby on rails training, ember.js training" />
  <meta name="language" content="en"/>
  <meta name="content-language" content="en"/>
  <meta name="publisher" content="simplabs" />
  <title>simplabs{{page.title}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/simplabs.ico?v=2" />
  <link rel="apple-touch-icon" href="/images/apple-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-144.png">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,400">
  <link rel="stylesheet" href="/css/basic-layout.css">
  <link rel="stylesheet" href="/css/syntax.css">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
    {% endfor %}
  {% endif %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>