<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="ruby, rails, javascript, ember, software engineering, rest apis, consulting, software architecture, software design, training, ruby on rails training, ember.js training" />
  <meta name="language" content="en"/>
  <meta name="content-language" content="en"/>
  <meta name="publisher" content="simplabs" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/simplabs.ico?v=2" />
  <link rel="apple-touch-icon" href="/images/apple-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-144.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,400">
  <link rel="stylesheet" href="/css/app.css">
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% seo %}
  {% feed_meta %}
</head>