<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="ruby, rails, javascript, ember, software engineering, rest apis, consulting, software architecture, software design, training, ruby on rails training, ember.js training" />
    <meta name="language" content="en" />
    <meta name="content-language" content="en" />
    <meta name="publisher" content="simplabs" />
    <meta name="twitter:image" content="https://simplabs.com/images/twitter-preview.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/simplabs.ico?v=2" />
    <link rel="apple-touch-icon" href="/images/apple-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-144.png">
    <link href="/stylesheets/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700,700i,900" rel="stylesheet">


    {% seo %}
    {% feed_meta %}
</head>