<nav id="main-menu" class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% include svgs/logos/simplabs.svg class="logo" alt="logo - simplabs" %}
    </a>

    <input type="checkbox" id="navbar-toggle-cbox" class="hidden nav-collapse-state">
    <label for="navbar-toggle-cbox" class="navbar-toggler hidden-md-up" aria-controls="navbar-header">
      {% octicon three-bars %}
    </label>
    
    
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/services/" class="nav-link {% if page.url contains "/services/" %}active{% endif %}"><span>Services</span></a>
          <ul class="nav-hover">
            <li><a href="/services/engineering/" class="nav-link {% if page.url contains "/services/engineering/" %}active{% endif %}"><span>Software Engineering</span></a></li>
            <li><a href="/services/team-augmentation/" class="nav-link {% if page.url contains "/services/team-augmentation/" %}active{% endif %}"><span>Team Augmentation</span></a></li>
            <li><a href="/services/training/" class="nav-link {% if page.url contains "/services/training/" %}active{% endif %}"><span>Training</span></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/work/" class="nav-link {% if page.url contains "/work/" %}active{% endif %}"><span>Work</span></a>
        </li>
        <li class="nav-item">
          <a href="/about/" class="nav-link {% if page.url contains "/about/" %}active{% endif %}"><span>About</span></a>
        </li>
        <li class="nav-item">
          <a href="/blog/" class="nav-link {% if page.url contains "/blog/" %}active{% endif %}"><span>Blog</span></a>
        </li>
        <li class="nav-item">
          <a href="/contact/" class="nav-link contact {% if page.url contains "/contact/" %}active{% endif %}">Work with us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script type="text/javascript">
  Zepto(function($) {
    var lastScrollTop;
    var mainMenu = $('#main-menu');
    var mainMenuHeight = mainMenu.height();
    var win = $(window);

    function setScrolledClass(scrollTop) {
  	  if (scrollTop > mainMenuHeight) {
  	    mainMenu.addClass('scrolled');
  	  } else {
  	    mainMenu.removeClass('scrolled');
  	  }
    };

    win.scroll(function() {
      var scrollTop = win.scrollTop();
      setScrolledClass(scrollTop);

      if (lastScrollTop < scrollTop && scrollTop > mainMenuHeight * 2) {
        mainMenu.addClass('scrollUp');
      } else if (lastScrollTop > scrollTop) {
        mainMenu.removeClass('scrollUp');
      }
      lastScrollTop = scrollTop;
    });

    setScrolledClass(win.scrollTop());
  });
</script>