<input class="toggler" id="toggler" role="button" type="checkbox">

<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="navbar-brand-image" data-proofer-ignore></div>
        </a>

        <label class="navbar-toggler" for="toggler">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </label>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-item-services">
                    <a class="nav-link" href="/services/index.html">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/work/index.html">Work</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about/index.html">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog/index.html">Blog</a>
                </li>
            </ul>

            <a class="btn btn-work-with-us" href="/contact/index.html" role="button">Work with us</a>
        </div>
    </div>
</nav>