<div class="secondary-banner wide-banner crosslink-banner">
  <div class="container">
    <div class="row content-section statement">
      <div class="col-12">
        <h4>We specialize in a powerful stack</h4>
      </div>
    </div>

    <div class="row content-section split-section">
      <div class="col-12 col-md-6 content-teaser d-flex flex-column justify-content-between align-items-start">
        <div>
          <h4>Ember.js</h4>
          <p>In the fast moving and ever changing frontend world, Ember.js is a <strong>stable rock to build ambitious projects on that are meant to last</strong>.</p>
        </div>
        <a href="/services/ember/" class="custom-button">learn more</a>
      </div>
      <div class="col-12 col-md-6 content-teaser d-flex flex-column justify-content-between align-items-start">
        <div>
          <h4>Elixir &amp; Phoenix</h4>
          <p>Elixir and Phoenix combine the <strong>simplicity and expressiveness of Ruby</strong> and the <strong>productivity of Rails</strong> with the <strong>performance and stability of Erlang</strong>.</p>
        </div>
        <a href="/services/elixir-phoenix/" class="custom-button">learn more</a>
      </div>
    </div>
  </div>
</div>