<div>
  <Header @label="Blog" @title="Posts by $author" />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <a class="typography.tag" href="#">
            #topic
          </a>
          <div class="blog-post.excerpt">
            <h3 class="typography.headline-2">
              <a class="typography.title-link" href="{{path}}" data-internal>
                Lorem ipsum dolor sit amet
              </a>
            </h3>
            <p class="typography.body-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti molestiae tenetur corporis eius. Maxime voluptate aut fugiat quos quisquam, voluptatibus, veritatis doloribus iste rem enim recusandae eligendi accusantium modi?
            </p>
            <a class="typography.link" href="#">
              {{author.name}}
            </a>
            <p class="typography.small-text">
              31.02.2019
            </p>
            <ArrowLink @href="#">
              Read post
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-item">
          <a class="typography.tag" href="#">
            #topic
          </a>
          <div class="blog-post.excerpt">
            <h3 class="typography.headline-2">
              <a class="typography.title-link" href="{{path}}" data-internal>
                Lorem ipsum dolor sit amet
              </a>
            </h3>
            <p class="typography.body-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti molestiae tenetur corporis eius. Maxime voluptate aut fugiat quos quisquam, voluptatibus, veritatis doloribus iste rem enim recusandae eligendi accusantium modi?
            </p>
            <a class="typography.link" href="#">
              {{author.name}}
            </a>
            <p class="typography.small-text">
              31.02.2019
            </p>
            <ArrowLink @href="#">
              Read post
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <Card @title="$author" @src="/assets/images/nlong.jpg">
          <p class="typography.body-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <p class="typography.body-text">
            <a href="#" class="typography.link">
              @author
            </a>
          </p>
        </Card>
      </div>
    </div>
  </div>
  <WorkWithUs />
  <Footer />
</div>