<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          We turn ideas into products and help tech teams move faster with confidence
        </h1>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-1">
                Full-Stack Engineering
              </h2>
              <p class="typography.body-text">
                We turn ideas into successful products, working closely with our clients in short iterations. Our solutions are well architected and easy to maintain and extend by our clients once they are ready to take over themselves.
              </p>
              <ArrowLink @href="/services/software-engineering">
                Learn More
              </ArrowLink>
            </div>
          </div>
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-1">
                Team Augmentation
              </h2>
              <p class="typography.body-text">
                Not all engineering teams have the experience or confidence to make big decisions and complete large scale projects on time and budget. Our technology experts step in and merge with our clients' in-house engineering teams, spearhead development initiatives, establish best practices and install a smooth engineering process to get their projects across the finish line.
              </p>
              <ArrowLink @href="/services/team-augmentation">
                Learn More
              </ArrowLink>
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-1">
                Tutoring
              </h2>
              <p class="typography.body-text">
                simplabs offers individual and group training by tutors with extensive experience in the respective technologies.
              </p>
              <p class="typography.body-text">
                From introductory workshops on frameworks like Ember.js or Phoenix to advanced classes on distributed systems design, authentication, deployment or scalability, we set up customized training sessions that suit the needs of our clients and their teams.
              </p>
              <ArrowLink @href="/services/training">
                Learn More
              </ArrowLink>
            </div>
          </div>
          <!--item-->
        </div>
        <!--main-block-->
        <div class="main-block.sidebar">
          <p class="typography.small-text">
            Playbook
          </p>
          <div class="card">
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/how-we-work-card.jpg" />
            </div>
            <h3 class="card.sub-heading">
              How We Work
            </h3>
            <p class="card.text">
              Our process is simple and client-focused. Get an insight on how we work to deliver ambitious software solutions.
            </p>
            <ArrowLink @href="/playbook">
              Read our Playbook
            </ArrowLink>
          </div>
        </div>
        <!--sidebar-->
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <LeadingExperts />
      <WorkWithUs />
    </div>
    <!--container-->
    <div class="container">
      <Footer />
    </div>
  </div>
</div>