@block layout from "../../styles/blocks/layout.block.css";

@export layout from "../../styles/blocks/layout.block.css";
@export offset from "../../styles/blocks/offset.block.css";
@export typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: Page404;
  composes: 'layout';
}

.block {
  display: flex;
  justify-content: space-between;
}

.headline {
  width: var(--col-4);
}

.four-oh-four {
  display: block;
  width: var(--col-2);
  height: auto;
}

.elsewhere {
  margin-left: 0;
  margin-bottom: 3rem;
  list-style: none;
}
