<div>
  <Header @title="Not found">
    <HeaderContent>
      <div block:class="block">
        <h1 typography:class="display" block:class="headline">
          We can't find the page you are looking for.
        </h1>
        <svg
          block:class="four-oh-four"
          width="336"
          height="138"
          viewBox="0 0 336 138"
          preserveAspectRatio="xMinYMin meet"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M107 86.404v26.809H89.263V136h-34.51v-22.787H0V87.17L60.923 1h28.34v85.404H107zM32 86h23V53L32 86zm133.5 52c-16.72 0-29.483-5.933-38.29-17.8C118.403 108.333 114 91.17 114 68.713c0-22.075 4.435-39.046 13.306-50.913C136.176 5.933 148.908 0 165.5 0c16.592 0 29.324 5.933 38.194 17.8C212.564 29.667 217 46.638 217 68.713c0 22.458-4.403 39.62-13.21 51.487-8.807 11.867-21.57 17.8-38.29 17.8zm1-26c6.222 0 10.694-3.326 13.417-9.977C182.639 95.37 184 84.434 184 69.213c0-14.967-1.361-25.744-4.083-32.332C177.194 30.294 172.722 27 166.5 27c-6.222 0-10.694 3.294-13.417 9.881C150.361 43.47 149 54.246 149 69.212c0 15.222 1.361 26.159 4.083 32.81 2.723 6.652 7.195 9.978 13.417 9.978zM336 86.404v26.809h-17.737V136h-34.51v-22.787H229V87.17L289.923 1h28.34v85.404H336zM261 86h23V53l-23 33z"
            fill="#007DF6"
            fill-rule="nonzero"
          ></path>
        </svg>
      </div>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-21">
    <h2 typography:class="h3">
      Here are some helpful links instead:
    </h2>
    <ul typography:class="lead">
      <li block:class="elsewhere">
        <a href="/" data-internal>
          Return to Homepage
        </a>
      </li>
      <li block:class="elsewhere">
        <a href="/about/" data-internal>
          About simplabs
        </a>
      </li>
      <li block:class="elsewhere">
        <a href="/blog/" data-internal>
          simplabs Blog
        </a>
      </li>
      <li block:class="elsewhere">
        <a href="/contact/" data-internal>
          Contact Us
        </a>
      </li>
    </ul>
  </div>
  <Footer />
</div>