<ShapeFeature>
  <ShapeFeatureContent
    @srcset="/assets/images/work/ddwrt@900.png 900w, /assets/images/work/ddwrt@1800.png 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @srcAlt="the DD-WRT NXT app on a Notebook"
  >
    <h2 typography:class="small">
      {{@label}}
    </h2>
    <h3>
      A modern UI for an open-source router firmware
    </h3>
    <p>
      Defining a Frontend Architecture for a modern Configuration UI
    </p>
    <ArrowLink @href="/cases/ddwrt/">
      Read Case Study
    </ArrowLink>
  </ShapeFeatureContent>
</ShapeFeature>