<div>
  <Header
    @active="services"
    @title="Team Augmentation"
    @documentTitle="Boosting teams' effectiveness with Team Augmentation | Our Services"
    @description="We help teams ship and become more effective. Our technology experts merge with your in-house teams to ensure timely and high quality delivery of large-scale projects."
    @backgroundVariation="pointed"
  >
    <HeaderContent
      @label="Team Augmentation"
      @headline="We help teams ship and become more effective"
      @attachment="image"
      @srcset="/assets/images/photos/collaboration@600.jpg 600w, /assets/images/photos/collaboration@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px"
    >
      <p typography:class="lead">
        Our technology experts merge with your in-house product teams to ensure timely delivery of large-scale projects.
        Extra capacity and senior expertise ensures engineering quality, while simultaneously lifting in-house
        productivity.
      </p>
      <p typography:class="lead">
        We leave our clients with additional expertise and confidence to successfully complete their project once we
        step away.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-21">
    <h2>
      Augment your in-house teams
    </h2>
    <p typography:class="lead">
      Whether it’s the completion of a complex project or simply to get up-to-speed on the latest engineering practices,
      teams value the know-how and experience of our senior engineers.
    </p>
  </div>
  <div layout:class="main" offset:class="after-21">
    <h3>
      Deliver large projects on time and on budget
    </h3>
    <p>
      We take part in all engineering conversations with your product teams, pair with engineers on features and bugs,
      and add workforce to overcome technical obstacles
    </p>
    <ArrowLink @href="/cases/trainline/">
      Learn how we helped Trainline
    </ArrowLink>
    <h3>
      Boost team productivity
    </h3>
    <p>
      Alongside your engineers we help solve long-standing impediments to make the development process more efficient,
      and level up the in-house team to make their future work more impactful.
    </p>
    <ArrowLink @href="/playbook/">
      Read about how we work
    </ArrowLink>
    <h3>
      Get an outsider’s perspective
    </h3>
    <p>
      Whether it’s languages and frameworks or architecture and process best practices, a fresh perspective from our
      experienced team can help your teams work more efficiently.
    </p>
    <ArrowLink @href="/blog/">
      Read more on the blog
    </ArrowLink>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/kanban@600.jpg 600w, /assets/images/photos/kanban@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <div layout:scope offset:class="after-21">
    <ShapeQuoteCardstack />
  </div>
  <div layout:class="full" offset:class="after-21">
    <h2>
      What makes simplabs engineers unique?
    </h2>
    <p typography:class="lead">
      We are strongly engaged in open source with several team members on the Ember.js core team and a number of
      libraries that we maintain ourselves. Our experts are internationally known for their work on all parts of the
      software development process, often sharing their knowledge at conferences and events across the globe.
    </p>
    <ArrowLink @href="/ember-consulting/">
      Read more about our involvement with Ember
    </ArrowLink>
  </div>
  <WorkWithUs @teamMember="jessica" />
  <Footer />
</div>