<div>
  <Header
    @active="services"
    @title="Team Augmentation"
    @documentTitle="Boosting teams' effectiveness with Team Augmentation | Services"
    @description="By augmenting our clients’ engineering teams, we grow them both in numbers and capability. We will share our know-how and expertise for sustainable value."
  >
    <HeaderContent @label="Services" @headline="Team Augmentation" />
  </Header>
  <div layout:class="main" offset:class="after-21">
    <h2>
      Bring in the experts when you need them
    </h2>
    <p typography:class="lead">
      We help companies lacking the team or expertise they need to deliver ambitious projects. Our technology experts merge with our clients' in-house teams and ensure timely delivery at cutting edge quality while sharing their know-how and experience along the way.
    </p>
    <p typography:class="lead">
      We will make sure our clients have the expertise and confidence to successfully complete their project once we have left.
    </p>
  </div>
  <div layout:class="side" offset:class="after-21">
    <h3>
      Want to know how simplabs can make your team more effective?
    </h3>
    <p>
      Leave us a message and we'll get back to you to discuss how we can help.
    </p>
    <FormContact />
  </div>
  <ShapeAcrossTeamAugmentationService />
  <div layout:class="main" offset:class="after-21">
    <h2>
      Why Simplabs?
    </h2>
    <p typography:class="lead">
      simplabs has unique expertise and insights into modern web engineering technologies like Ember.js. We are strongly engaged in open source with several team member on the Ember.js core team and a number of libraries that we maintain ourselves. Our experts are internationally known for their work on all parts of the software development process, often sharing their knowledge at conferences and events across the globe.
    </p>
    <h3>
      Sustainably boosting Productivity
    </h3>
    <p>
      We take part in all engineering conversations with the client's team, pair with engineers on features and bugs and often prepare presentations and workshops around concrete problems the team faces. Through this approach, we are able to boost the team’s productivity in three ways; we add workforce to overcome the initial obstacles, we solve long-standing impediments making the development process more efficient, and we level up the in-house engineering team making their future work more impactful.
    </p>
  </div>
  <div layout:class="side" block:class="offset-top">
    <CardPlaybook />
  </div>
  <ClientsGrid
    @title="We have a track record of successful projects for international clients"
    @only="trainline,qonto,cardstack"
  />

  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>