@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: MediaCard;
  position: relative;
}

.duration {
  position: absolute;
  color: resolve('typography.small');
  color: #d8d8d8;
  background-color: #5b5b5b;
  right: 2rem;
  top: 36rem;
  padding: 0.75rem 1rem 0.5rem;
  border-radius: calc(var(--label) * var(--label-lh));
}

.h4 {
  margin-top: 3rem;
}

:scope[shallow='shallow'] .duration {
  top: 15rem;
}

@export typography;
