<div>
  <img src="/assets/images/built-to-last/marco.jpg" block:class="image" />
  <p typography:class="small">
    Masterclass with Marco Otte-Witte
  </p>
  <h3 typography:class="h3" block:class="h3">
    Transitioning your team to a remote setup
  </h3>
  <p typography:class="p">
    Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
  </p>
</div>