<div>
  <img src="/assets/images/built-to-last/marco.jpg" block:class="image" />
  <p typography:class="small">
    {{@label}}
  </p>
  <h3 typography:class="h3" block:class="h3">
    {{@title}}
  </h3>
  <p typography:class="p">
    {{yield}}
  </p>
</div>