<ShapeFeature>
  <ShapeFeatureContent
    @srcset="/assets/images/work/expedition@900.jpg 900w, /assets/images/work/expedition@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @srcAlt="the Expedition website on an iPad"
  >
    <h2 typography:class="small">
      {{@label}}
    </h2>
    <h3>
      An online travel magazine for global citizens
    </h3>
    <p>
      Setting up Expedition's development team for sustainable success
    </p>
    <ArrowLink @href="/cases/expedition/">
      Read Case Study
    </ArrowLink>
  </ShapeFeatureContent>
</ShapeFeature>