<div>
  <Header
    @active="services"
    @title="Training & Support"
    @documentTitle="Leveling up teams' confidence with Training & Support | Our Services"
    @description="We help engineering teams be more effective through Tutoring, Workshops, Code Reviews & Audits. Our engineers are famous for their Ember.js, Ruby on Rails & Elixir/Phoenix expertise."
    @backgroundVariation="pointed"
  >
    <HeaderContent
      @label="Training & Support"
      @headline="Raise confidence and increase productivity"
      @attachment="image"
      @srcset="/assets/images/photos/tutoring@600.jpg 600w, /assets/images/photos/tutoring@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px"
    >
      <p typography:class="lead">
        Approaching new technologies or solving long-standing impediments can be overwhelming at times. We train and
        tutor engineering teams to set them up for long term success.
      </p>
      <p typography:class="lead">
        We share our expertise in a wide range of topics, from languages and frameworks to architecture and process best
        practices—all aimed at making your teams execute more confidently and achieve their goals.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-21">
    <h2>
      Tailor-made trainings and support for engineers
    </h2>
    <p typography:class="lead">
      From introductory workshops on frameworks like Ember.js or Phoenix, to advanced classes on distributed systems
      design, authentication, deployment or scalability, we host tailor-made training courses that suit the needs of
      your individual teams.
    </p>
  </div>
  <div layout:class="main" offset:class="after-21">
    <h3>
      Workshops and in-house masterclasses
    </h3>
    <p>
      We conduct individual or group workshops for our clients to bring their teams up to speed with particular
      technologies quickly and enable them to complete ambitious projects with confidence.
    </p>
    <h3>
      Code reviews & audits
    </h3>
    <p>
      We execute code reviews for various international clients to identify technical problems, provide an explanation,
      and suggest a pragmatic path forward.
    </p>
    <h3>
      Tailor-made solutions
    </h3>
    <p>
      The needs of every team are unique, and so are our tutoring and training solutions. We cover technology stacks
      from Ruby on Rails to Ember.js and Elixir/Phoenix.
    </p>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/tutoring-content@600.jpg 600w, /assets/images/photos/tutoring-content@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <WorkWithUs @teamMember="ricardo" />
  <Footer />
</div>