---
layout: default
title: Elixir
---

<header class="page-elixir">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-elixir">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          the best of all worlds
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/elixir/elixir-logo-white-1.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/elixir/elixir-logo-white-2.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-sm-2 bg-line mx-3">
      </div>
      <div class="col-sm-6 offset-sm-1">
        <p class="lead mb-4">
          Elixir combines the expressiveness and simplicity of Ruby with the performance and stability of the
          Erlang VM. Phoenix builds on the concepts first introduced by Ruby on Rails, combining them with a
          number of architectural improvements.
        </p>
        <p class="lead mb-4">
          Together, they form a <strong>modern and capable stack for building ambitious projects</strong> based
          on an established and battle-proven foundation.
        </p>
      </div>
    </div>   
  </div><!--container-->

  <div class="container">
    <div class="row justify-content-start mb-5">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-6">
            <p class="lead">
              simplabs was an early adopter of Elixir and Phoenix, offering <a href="https://elixir-phoenix-workshop.simplabs.com/">trainings</a>
              and leveraging the potential of the stack for our <a href="/work">clients</a> early on.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="lead">
              We are organizing the <a href="https://www.meetup.com/Elixir-Munich/">Elixir Munich</a> meetup and
              have been actively involved with
              conferences like <a href="http://elixirconf.com">ElixirConf</a> and <a href="https://www.elixirconf.eu/">ElixirConf
                EU</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!--container-->


  <div class="container">

    <a href="/expedition/index.html">
    <div class="section-client section-client--expedition text-white mb-5">
      <div class="row align-items-end">
        <div class="col-sm-6">
          <div class="p-5">
            <div class="client-logo my-4 d-flex">
              <img alt="Image" class="w-25" src="../images/expedition/expedition-logo-white.svg"/>
            </div>
            <h3 class="my-4">An online travel magazine for global citizens</h3>
            <p class="mb-5">
              We spearheaded development efforts for advanced functionality of Expedition’s API that their internal
              team could build upon.
            </p>
          </div>
        </div><!--col-->
        <div class="col-sm-6">
          <div class="section-client-illustration">
            <img alt="Image" class="w-100" src="../images/expedition/website-preview-1.png">
          </div>
        </div><!--col-->
      </div><!--row-->
    </div><!--section-client-->
    </a>
  </div><!--container-->

  <div class="container">
    <div class="bg-light-blue p-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-5">
          <div class="icon-circle-lg bg-white">
            <img alt="fullstack" class="mx-auto d-block img-fluid py-4" src="../images/icons/dark/crowd.svg">
          </div>
        </div>

        <div class="col-sm-5">
          <h2 class="font-weight-black text-dark-blue mb-4 text-lowercase">Community engagement</h2>
          <p class="lead mb-4">
            Elixir and Phoenix are open community projects and <strong>we are an active member of the community</strong>.
            We
            support theElixir Munich meetup and have been sponsors of ElixirConf and
            ElixirConf EU for years.
          </p>
          <div class="d-flex flex-row justify-content-between">
            <a class="d-block p-2" href="https://www.meetup.com/Elixir-Munich/">
              <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-1.png" />
            </a>

            <a class="d-block p-2" href="http://elixirconf.com">
              <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-2.png" />
            </a>

            <a class="d-block p-2" href="https://www.elixirconf.eu/">
              <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-3.png" />
            </a>
          </div>
        </div><!--col-->
        
      </div>
    </div>
  </div><!--container-->




  <div class="container-fluid container-fluid-service container-fluid-service-from-the-blog">
    <div class="container container-service">
      <div class="row row-service">
        <div class="col col-service">
          <div class="service">
            <div class="service-description">
              <p class="service-description-header">
                from the blog
              </p>

              <p class="service-description-text">
                We share our experience with Elixir and Phoenix in our blog.
              </p>
            </div>

            <div class="service-preview">
              <div class="blog blog-elixir">
                <div class="blog-posts">
                  {% assign counter = 0 %}
                  {% for post in site.categories.blog %}
                  {% if post.category == "elixir" and counter < 3 %} {% assign counter=counter | plus:1 %} <a class="blog-post blog-post-elixir"
                    href="{{post.url}}">
                    <div class="blog-post-wrapper">
                      <p class="blog-post-category">
                        {{post.category}}
                      </p>

                      <p class="blog-post-header">
                        {{post.title}}
                      </p>

                      <p class="blog-post-text">
                        {{post.excerpt | strip_html}}
                      </p>
                      <div class="blog-post-info">
                        <div class="blog-post-info-user-picture">
                          <img alt="Image" class="img-fluid" src="/images/authors/{{post.author | split: ' ' | first | downcase}}@2x.jpg" />
                        </div>

                        <div>
                          <p class="blog-post-info-user-name">
                            {{post.author | upcase}}
                          </p>

                          <p class="blog-post-info-date">
                            {{post.date | date: '%B %d, %Y'}}
                          </p>
                        </div>
                      </div>
                    </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include contact_banner.html %}
</main>