---
layout: default
title: Elixir
---

<header class="page-elixir">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-elixir">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          the best of all worlds
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/elixir/elixir-logo-white-1.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/elixir/elixir-logo-white-2.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
    </div>
  </div>
</header>

<main>
  {% capture intro_content %}
    <p>Elixir combines the expressiveness and simplicity of Ruby with the performance and stability of the Erlang VM. Phoenix builds on the concepts first introduced by Ruby on Rails, combining them with a number of architectural improvements.</p>
    <p>Together, they form a <strong>modern and capable stack for building ambitious projects</strong> based on an established and battle-proven foundation.</p>
  {% endcapture %}
  <div class="container">
    {% include intro.html content=intro_content %}
  </div><!--container-->

  <div class="container">
    <div class="row justify-content-start mb-5">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-6">
            <p class="lead">
              simplabs was an early adopter of Elixir and Phoenix, offering <a href="https://elixir-phoenix-workshop.simplabs.com/">trainings</a>
              and leveraging the potential of the stack for our <a href="/work">clients</a> early on.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="lead">
              We are organizing the <a href="https://www.meetup.com/Elixir-Munich/">Elixir Munich</a> meetup and
              have been actively involved with
              conferences like <a href="http://elixirconf.com">ElixirConf</a> and <a href="https://www.elixirconf.eu/">ElixirConf
                EU</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!--container-->


  <div class="container">
    {% capture client_banner_description--expedition %}
      <p>Expedition is an online travel magazine for global citizens. It lets travellers experience the world's best destinations through the eyes of a local.</p>
    {% endcapture %}
    {% include client_banner.html
      client="expedition"
      title="An online travel magazine for global citizens"
      description=client_banner_description--expedition 
      logo_url="../images/expedition/expedition-logo-white.svg"
      image_url="../images/expedition/website-preview-1.png"
      image_class="img-2x"
    %} 
  </div><!--container-->

  <div class="container">
    <div class="bg-light-blue p-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-5">
          <div class="icon-circle-lg bg-white mx-auto my-4">
            <img alt="fullstack" class="d-block img-fluid mx-auto py-4" src="../images/icons/dark/crowd.svg">
          </div>
        </div>

        <div class="col-sm-5">
          <div class="py-5">
            <h2 class="font-weight-black text-dark-blue mb-4 text-lowercase">Community engagement</h2>
            <p class="lead mb-4">Elixir and Phoenix are open community projects and <strong>we are an active member of the community</strong>. We support theElixir Munich meetup and have been sponsors of ElixirConf and ElixirConf EU for years.</p>
            <div class="d-flex flex-row justify-content-between mt-4 align-items-center">
              <a class="d-block p-2" href="https://www.meetup.com/Elixir-Munich/">
                <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-1.png" />
              </a>
              <a class="d-block p-2" href="http://elixirconf.com">
                <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-2.png" />
              </a>
              <a class="d-block p-2" href="https://www.elixirconf.eu/">
                <img alt="Image" class="img-fluid" src="../images/elixir/elixir-logo-colorful-3.png" />
              </a>
            </div>
          </div>
        </div><!--col-->
      </div>
    </div>
  </div><!--container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="text-lowercase font-weight-black mb-4">From the blog</h2>
        <p class="lead">
          We share our experience with Elixir and Phoenix in our blog.
        </p>
      </div><!--col-->
      <div class="col-sm-7 offset-sm-1">
        <div class="blog blog-elixir">

          <div class="blog-posts">
            {% assign counter = 0 %}
            {% for post in site.categories.blog %}
            {% if post.category == "elixir" and counter < 3 %} {% assign counter=counter | plus:1 %} <a class="blog-post blog-post-elixir mb-5 d-block"
              href="{{post.url}}">
              <div class="blog-post-wrapper">
                <div class="blog-post-category font-weight-bold mb-0">
                  {{post.category}}
                </div>
                <div class="text-dark">
                  <h2 class="mb-4 font-weight-black">
                    {{post.title}}
                  </h2>
                  <p>
                    {{post.excerpt | strip_html}}
                  </p>
                </div>

                <div class="d-flex align-items-center mt-4">
                  <div class="img-circle mr-2">
                    <img alt="Image" class="img-fluid" src="/images/authors/{{post.author | split: ' ' | first | downcase}}@2x.jpg" />
                  </div>

                  <div>
                    <div class="font-weight-bold text-dark">
                      {{post.author | upcase}}
                    </div>

                    <div class="small text-muted">
                      {{post.date | date: '%B %d, %Y'}}
                    </div>
                  </div>
                </div><!--blog-post-info-->
              </div>
              </a>
              {% endif %}
              {% endfor %}
          </div>

        </div><!--blog-->
      </div>
    </div>
  </div><!--container-->



  {% include contact_banner.html %}
</main>