---
layout: default
title: Training
redirect_from: "/training/"
---

<div class="primary-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2>Training</h2>
        <p>We offer training workshops on a <strong>variety of tools and technologies</strong>.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container workshops" id="main-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div class="row content-section">
        <div class="col-sm-12">
          <p>Training workshops <strong>give engineering teams a jump start</strong> when approaching a new technology, leading to dramatically improved productivity. We offer a variety of workshops on different tools and technologies that <strong>can be tailored to your needs</strong> to maximise your team's benefit.</p>
        </div>
      </div>
      {% assign sorted_posts = site.categories.training | sort: 'weight' %}
      {% for post in sorted_posts %}
        <div class="row content-section separated">
          <div class="col-sm-3 icon">
            <img src="{{post.image}}" class="img-responsive" alt="Image: {{post.title}}">
          </div>
          <div class="col-sm-9">
            <h4>
              <a href="{{post.url}}.html">{{post.title}}</a>
            </h4>
            {{post.description | markdownify}}
            <a href="{{post.url}}.html" class="custom-button">Learn more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include intercom.html %}
{% include workshop_contact_banner.html %}
