---
layout: default
title: Training
redirect_from: "/training/"
class: services
---

<div class="primary-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 offset-md-1">
        <p>We give teams a jumpstart when approaching new technology and <strong>raise confidence through reviews and architecture guidance</strong>.</p>
    	</div>
      <div class="d-none d-md-block col-md-2">
        {% include svgs/icons/training.svg class="icon" alt="icon - Training" %}
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h3>A jumpstart for tech teams</h3>
        <p>Approaching new technologies can be overwhelming at times. Our technology experts help teams <strong>identify the core concepts and ideas</strong> behind a particular technology, understand them well and <strong>apply them successfully for the long term</strong>. We are experts in a wide range of topics, from languages and frameworks to architecture and process best practices and <strong>share our expertise</strong> so others can grow from it.</p>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h3>Reviews</h3>
        <p>Teams that have existing products and need to ensure they are set up for long-term success can benefit from our <strong>code and architecture reviews</strong>. We will break down the application's architecture, identify bad our outdated patterns and give guidance for the future. We deliver an <strong>extensive report with a list of findings, explanations as well as suggested fixes</strong> and priorisations.</p>
        <p>We have reviewed applications for various clients in the past, covering technology stacks from Ruby on Rails to <a href="/services/ember/">Ember.js</a> and <a href="/services/elixir/">Elixir/Phoenix</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <h3>Guidance</h3>
        <p>Sometimes teams need someone to help <strong>kick-off a project and make sure the right decisions are made early on</strong>. Our technology experts have years of experience with various technology stacks and can help <strong>define architectures, make technology decisions</strong> and setup a stable engineering process to get a project going and ensure its long term integrity.</p>
      </div>
    </div>
  </div>
</div>

<div class="contact-banner">
  <a href="/contact/">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-8">
          <h3>Get trained!</h3>
          <p>Talk to our training experts to schedule a customized workshop.</p>
      	</div>
        <div class="col-sm-3 offset-sm-1 d-none d-sm-block">
          {% include svgs/icons/contact.svg alt="icon - contact" class="icon-contact" %}
        </div>
      </div>
    </div>
  </a>
</div>

{% include intercom.html %}
