@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-image from "../../styles/blocks/shape/shape-image.block.css";
@block shape-decoration from "../../styles/blocks/shape/shape-decoration.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block shape-text from "../../styles/blocks/shape/shape-text.block.css";

:scope {
  block-name: latest-post;
  --shape-decoration-position-right: 0;
  --shape-decoration-position-left: -92em;
  --shape-decoration-position-top: 0;
  --shape-text-position-right: -60em;
}



