<div class="shape.wrap">
  <div class="shape-decoration">
    <div class="shape-decoration.background"></div>
    <!--background-->
  </div>
  <!--shape-image-->
  <div class="shape.caption-large">
    <div class="shape.caption-content-large">
      <p class="typography.small-text">
        Latest Post
      </p>
      <h2 class="typography.heading">
        simplabs at EmberConf 2019
      </h2>
      <p class="typography.lead">
        We mentioned this in our March monthly update but in case you missed it, here’s how we’re involved in EmberConf 2019.
      </p>
    </div>
  </div>
  <!--caption-->
  <div class="shape-text">
    <div class="shape-text.background article-image">
      <div class="shape-text.content"></div>
    </div>
  </div>
  <!--shape-text-->
</div>
<!--shape-wrap-->