<div class="embroider-sponsors__sponsors my-5">
  <div class="embroider-sponsors__grid tier-one">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/ticketsolve.svg', 'ticketsolve', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/intercom.svg', 'Intercom', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/crowdstrike.svg', 'CrowdStrike', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
  <div class="embroider-sponsors__grid tier-two">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/lighthouse.svg', 'lighthouse', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/hashicorp.svg', 'HashiCorp', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/xbe.svg', 'xbe', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/teamtailor.svg', 'teamtailor', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
  <div class="embroider-sponsors__grid tier-three">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/hotdoc.svg', 'HotDoc', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/embercheckup.svg', 'embercheckup', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/solute.svg', 'solute', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/triptyk.svg', 'triptyk', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/adfinis.svg', 'Adfinis', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/isaaclee.svg', 'Isaac Lee', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/redpencil.svg', 'redpencil.io', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/productive.svg', 'Productive', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/skovik.svg', 'Skovik', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/yapplabs.svg', 'yapplabs', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider/emergent-tree.svg', 'Emergent Tree', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
</div>
