<div class="embroider-sponsors__sponsors py-5 my-5">
  <div class="embroider-sponsors__grid tier-one">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/ticketsolve.svg', 'ticketsolve', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/intercom.svg', 'Intercom', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/crowdstrike.svg', 'CrowdStrike', '(min-width:62em) 16rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
  <div class="embroider-sponsors__grid tier-two">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/lighthouse.svg', 'lighthouse', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/hashicorp.svg', 'HashiCorp', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/xbe.svg', 'xbe', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/teamtailor.svg', 'teamtailor', '(min-width:62em) 13rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
  <div class="embroider-sponsors__grid tier-three">
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/hotdoc.svg', 'HotDoc', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/embercheckup.svg', 'embercheckup', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/solute.svg', 'solute', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/triptyk.svg', 'triptyk', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/adfinis.svg', 'Adfinis', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/isaaclee.svg', 'Isaac Lee', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/redpencil.svg', 'redpencil.io', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/productive.svg', 'roductive', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/skovik.svg', 'Skovik', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
    <div class="embroider-sponsor__grid-element">
      {%- image '/assets/images/logos/embroider-sponsors/yapplabs.svg', 'yapplabs', '(min-width:62em) 7rem, 90vw', 'eager', 'ember-sponsors__image', [250, 375, 500, 750] -%}
    </div>
  </div>
</div>
