{% from "color-hero.njk" import colorHero %}

{% set 'content' = {
  "title": "Grow with us",
  "text": "<p>Let's talk about the challenges that you're facing.</p><p>Our experts are ready to guide you through your next big move.</p>",
  "linkUrl": "/contact/",
  "linkText": "Partner with us",
  "image": "/assets/images/photos/0041.jpg",
  "alt": "Close up of hands typing on a laptop",
  "loading": "lazy"
} %}
{{ colorHero('center', 'yellow', content) }}
