{% from "color-hero.njk" import colorHero %}

{% set 'content' = {
  "title": "Work with us",
  "text": "<p>Let's talk about the challenges that you're facing.</p><p>Our experts are ready to guide you through your next big move.</p>",
  "linkUrl": "/contact/",
  "linkText": "Get in touch",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ colorHero('center', 'yellow', content) }}
