{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "Mainmatter is a Silver Member of the Rust Foundation",
  "linkUrl": "https://foundation.rust-lang.org",
  "linkText": "Find out more",
  "image": "/assets/images/logos/monochrome/rust-foundation.svg",
  "alt": "Rust Foundation logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, "secondary-feature-rust") }}