{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "Lorem ipsum dolor sit amet. Vestibulum vitae lorem vitae quam efficitur aliquam.",
  "linkUrl": "https://emberfest.eu/",
  "linkText": "Find out more",
  "image": "/assets/images/logos/ember.svg",
  "alt": "Emberfest logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, "secondary-feature-emberfest") }}