{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set content = {
  "image": "/assets/images/svelte/svelte-summit-logo.jpg",
  "alt": "Svelte Summit Sprint 2025 logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content) }}
