{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "We recently have been recognized as an official sponsor of the Ember.js project along with international brands like LinkedIn and Yahoo.",
  "linkUrl": "/ember-consulting/",
  "linkText": "Find out more",
  "image": "/assets/images/logos/ember.svg",
  "alt": "Ember.js logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content) }}