{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set 'content' = {
  "image": "/assets/images/authors/algo_luca.jpg",
  "alt": "Luca Palmieri",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content, 'split-content__author') }}
