{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "We co-organize EmberFest.",
  "linkUrl": "https://emberfest.eu/",
  "linkText": "Find out more",
  "image": "/assets/images/ember/emberfest-logo-vertical.png",
  "alt": "Emberfest logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, "secondary-feature-emberfest") }}