{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "We are an official sponsor of the Ember.js project.",
  "linkUrl": "https://emberjs.com/sponsors/",
  "linkText": "Find out more",
  "image": "/assets/images/logos/ember.svg",
  "alt": "Ember.js logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content) }}