{% from "secondary-feature.njk" import secondaryFeature %}
<div class="ember-consulting">
{% set 'content' = {
  "image": "/assets/images/authors/paoloricciuti.jpg",
  "alt": "Paolo Ricciuti",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, 'split-content__author') }}
{% set 'content' = {
  "image": "/assets/images/authors/paoloricciuti.jpg",
  "alt": "Paolo Ricciuti",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, 'split-content__author') }}
{% set 'content' = {
  "image": "/assets/images/authors/paoloricciuti.jpg",
  "alt": "Paolo Ricciuti",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, 'split-content__author') }}
</div>
