{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set content = {
  "image": "/assets/images/svelte/svelte-summit-generic.png",
  "alt": "Svelte Society logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content) }}
