{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set content = {
  "image": "/assets/images/rust/eurorust-2025.png",
  "alt": "EuroRust logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content) }}
