{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set 'content' = {
  "image": "/assets/images/team/chris.jpg",
  "alt": "Chris Manson.split-content__author img",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content, 'split-content__author secondary-feature__image-square') }}