{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set content = {
  "image": "/assets/images/rust/rust-foundation.png",
  "alt": "Rust Foundation logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content, "secondary-feature-rust") }}
