{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set 'content' = {
  "image": "/assets/images/team/paolo.jpg",
  "alt": "Paolo Ricciuti",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content, 'split-content__author secondary-feature__image-square') }}
