{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "text": "All the talks from the previous edition are available on YouTube",
  "linkUrl": "https://www.youtube.com/playlist?list=PLH6-VpZ3SvUXLJ2xKnT1z12pTAUSgMAu7",
  "linkText": "Watch them now",
  "image": "/assets/images/rust/eurorust-teaser.png",
  "alt": "EuroRust logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, "secondary-feature-eurorust") }}