{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "image": "/assets/images/rust/eurorust.png",
  "alt": "EuroRust logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content) }}
