{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set 'content' = {
  "image": "/assets/images/ember/ember-event-logos.png",
  "alt": "Ember.js logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content) }}
