{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "image": "/assets/images/logos/monochrome/rust-foundation.svg",
  "alt": "Rust Foundation logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content, "secondary-feature-rust") }}
