{% from "secondary-feature.njk" import secondaryFeature %}
{% set 'content' = {
  "image": "/assets/images/logos/ember.svg",
  "alt": "Ember.js logo",
  "loading": "lazy"
} %}
{{ secondaryFeature(content) }}
