{% from "secondary-feature.njk" import secondaryFeature %}
{%
  set 'content' = {
  "image": "/assets/images/logos/erlang.svg",
  "alt": "Erlang Ecosystem Foundation logo",
  "loading": "lazy"
  }
%}
{{ secondaryFeature(content) }}
