---
layout: default
title: Workshops
---

<div class="primary-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2>Our Workshops</h2>
        <p>We offer a <strong>variety of Workshops</strong> to help teams advance their skills.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container workshops" id="main-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div class="row content-section separated">
        <div class="col-sm-12">
          <p>We offer a variety of Workshops to help teams advance their skills in many frontend and backend topics. <strong>All of the Workshops can be customized to meet your team's specific needs</strong> - <a href="/contact/">contact us</a> to discuss how we can help you best.</p>
          <p><strong>All of simplabs' Workshops are taught by <a href="http://twitter.com/michaellnorth?lang=de">Mike North</a>.</strong> Mike is a global speaker, trainer, Front End Masters instructor and Pluralsight author. He <strong>has taught developers all over the world how to use Phoenix, Elixir and Ember.js</strong>.</p>
        </div>
      </div>

      {% for post in site.categories.workshops %}
        <div class="row content-section separated">
          <div class="col-sm-3 icon">
            <img src="{{post.image}}" class="img-responsive" alt="Image: {{post.title}}">
          </div>
          <div class="col-sm-9">
            <h4>
              <a href="{{post.url}}.html">{{post.title}}</a>
            </h4>
            {{post.description | markdownify}}
            <a href="{{post.url}}.html" class="custom-button">Learn more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include intercom.html %}
{% include contact_banner.html %}
