---
layout: default
title: Workshops
---

<div class="primary-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2>Our Workshops</h2>
        <p>We offer a <strong>variety of Workshops</strong> to help teams advance their skills.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container workshops" id="main-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      {% for post in site.categories.workshops %}
        <div class="row content-section separated">
          <div class="col-sm-3 icon">
            <i class="emberjs-logo"></i>
          </div>
          <div class="col-sm-9">
            <h4>
              <a href="{{post.url}}">{{post.title}}</a>
            </h4>
            {{post.description | markdownify}}
            <a href="{{post.url}}" class="custom-button">Learn more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include contact_banner.html %}
