<div>
  <Header @label="Legal Info" @title="Imprint" />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content-full-width">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2>
              Publisher information according to §6 Teledienstgesetz (TDG)
            </h2>
            <p>
              Responsible according to §6 MDStV:
            </p>
            <address class="typography.p">
              <span class="address-line">
                simplabs GmbH
              </span>
              <span class="address-line">
                +49 89 462 565 03
              </span>
              <span class="address-line">
                Marco Otte-Witte
              </span>
              <span class="address-line">
                Claude-Lorrain-Str. 7
              </span>
              <span class="address-line">
                München, 81543 Germany
              </span>
              <span class="address-line">
                info@simplabs.com
              </span>
              <span class="address-line">
                https://simplabs.com
              </span>
            </address>
            <p>
              Court of Registry: Amtsgericht München, Registration Number: HRB 217887
            </p>
            <p>
              EU VAT ID: DE299706241
            </p>
          </div>
        </div>
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2>
              Exclusion of Liability
            </h2>
            <p>
              We check and update the information on this website constantly. Despite all accurateness, the data can change in the meantime. Liability concerning timeliness, correctness and completeness of the available information can not be assumed. This applies also for all other websites which are referred via hyperlink. I am not responsible for the content of these websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</div>