@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: ShapeBold;
  composes: 'layout';

  grid-column: 1/-1;
  align-items: start;

  --shape-color-a: var(--color-primary);
  --shape-color-b: var(--color-accent);

  --b-offset: calc(calc(200rem + 50vw) * 0.5 - 50rem);
}

.shape-a,
.shape-b {
  position: relative;
}

.shape-a {
  grid-column: 1/-3;
  grid-row: 1;
}

:scope[state|reverse='true'] .shape-a {
  grid-column: -1/3;
  align-self: end;
}

.shape-b {
  padding-top: var(--b-offset);
  grid-column: -3/-1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

:scope[state|reverse='true'] .shape-b {
  padding-top: 0;
  grid-column: 3/1;
  align-self: start;
}

.shape-a-svg,
.shape-b-svg {
  vertical-align: top;
  height: auto;
}

.shape-a-svg {
  position: relative;
  left: 100%;
  width: calc(200rem + 50vw);
  fill: var(--shape-color-a);
  transform: translate(-80%);
}

:scope[state|reverse='true'] .shape-a-svg {
  left: 50%;
  transform: translate(-45%, 0);
}

.shape-b-svg {
  width: 153rem;
  transform: translate(-20%);
  fill: var(--shape-color-b);
}

:scope[state|reverse='true'] .shape-b-svg {
  position: relative;
  left: 100%;
  transform: translate(-120rem, -4rem);
}

.shape-a-figure {
  position: absolute;
  top: 0;
  right: 15%;
  height: 100%;
  display: flex;
  margin: 0;
}

:scope[state|reverse='true'] .shape-a-figure {
  right: -15%;
}

.shape-a-img {
  width: auto;
  height: 85%;
  margin: auto;
}

.shape-b-content {
  position: absolute;
  top: var(--b-offset);
  left: 0;
  min-height: 50rem;
  display: flex;
  flex-flow: nowrap column;
  align-content: center;
  justify-content: center;
  color: var(--color-text-inverted);
}

:scope[state|reverse='true'] .shape-b-content {
  top: 21rem;
  left: unset;
  right: -2rem;
}

.shape-b-logo {
  height: 14rem;
}

.shape-b-logo-img {
  display: block;
  height: 100%;
  width: auto;
  filter: saturate(0%) brightness(100);
}
