@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: ShapeBold;
  composes: 'layout';

  grid-column: 1/-1;
  align-items: start;
  margin-bottom: var(--o-6);

  --shape-color-a: var(--color-primary);
  --shape-color-b: var(--color-accent);
}

.shape-a,
.shape-b {
  position: relative;
}

.shape-a {
  grid-column: 2/7;
  grid-row: 1;
}

:scope[state|reverse='true'] .shape-a {
  grid-column: 3/8;
  align-self: end;
}

.shape-b {
  grid-column: -3/-2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  transform: translate(0, 30%);
}

:scope[state|reverse='true'] .shape-b {
  padding-top: 0;
  grid-column: 3/1;
  align-self: start;
}

.shape-a-svg,
.shape-b-svg {
  vertical-align: top;
  height: auto;
}

.shape-a-svg {
  position: relative;
  width: auto;
  height: var(--col-5);
  fill: var(--shape-color-a);
  transform: translate(calc(var(--col-1) + var(--col-gap)), 0);
  float: right;
}

:scope[state|reverse='true'] .shape-a-svg {
  transform: translate(calc(-1 * var(--col-1) - var(--col-gap)), 0);
  float: none;
}

.shape-b-svg {
  width: auto;
  transform: translate(-20%, -11%);
  fill: var(--shape-color-b);
  height: var(--col-3);
}

:scope[state|reverse='true'] .shape-b-svg {
  position: relative;
  left: 100%;
  transform: translate(-120rem, -4rem);
}

.shape-a-figure {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  margin: 0;
  width: 100%;
}

:scope[state|reverse='true'] .shape-a-figure {
  right: -15%;
}

.shape-a-img {
  width: 90%;
  margin: auto 0;
}

.shape-b-content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: nowrap column;
  align-content: right;
  justify-content: right;
  color: var(--color-text-inverted);
}

:scope[state|reverse='true'] .shape-b-content {
  top: var(--o-7);
  left: unset;
  right: -2rem;
}

.shape-b-logo {
  height: 14rem;
}

.shape-b-logo-img {
  display: block;
  height: 100%;
  width: auto;
  filter: saturate(0%) brightness(100);
}

@media (max-width: 887px) {
  .shape-a {
    grid-column: 3/-1;
  }

  .shape-b {
    grid-column: -5/-1;
  }
}
