<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          We are web and open source enthusiasts
        </h1>
        <p class="typography.lead">
          simplabs was bootstrapped in Munich, Germany in 2013 as a technology consultancy focussed on modern web engineering. Since then, we have built ambitious applications for various international clients, from startups to long-established businesses.
        </p>
        <p class="typography.lead">
          We are an international team of Web and Open Source enthusiasts. We value expertise and a passion for technology higher than location and work for clients across the world.
        </p>
        <p class="typography.lead">
          We have written and reviewed applications for various international clients in the past, covering technology stacks from Ruby on Rails to
          <a href="/expertise/ember" data-navigo>
            Ember.js
          </a>
          and
          <a href="/expertise/elixir-phoenix" data-navigo>
            Elixir/Phoenix
          </a>
          .
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="typography.headline-1">
                Moving fast without breaking things
              </h2>
              <p class="typography.lead">
                We have a passion for technology and value conventions-based tools. We like to move fast without breaking things and leverage extensive testing and constant reviews to ensure we deliver high quality results.
              </p>
            </div>
            <!--heading-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  We ❤️ Open Source
                </h3>
                <p class="typography.body-text">
                  We take an active role in the projects that we leverage for our clients, contributing code and supporting the communities.
                </p>
              </div>
            </div>
            <!--section-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  We value expertise over location
                </h3>
                <p class="typography.body-text">
                  We value expertise and a passion for technology higher than location. Our distributed team of technology experts works from various locations in Europe for clients across the world.
                </p>
                <p class="typography.body-text">
                  Being a remote company doesn't mean everyone needs to be remote at all times though. We have regular company events to connect offline and spend some time together - we even invite our clients to join us!
                </p>
              </div>
            </div>
            <!--section-->
          </div>
        </div>
        <div class="main-block.sidebar">
          <div class="card">
            <p class="typography.small-text">
              Learn More
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/card/talks.jpg" />
            </div>
            <h3 class="card.sub-heading">
              Our Talks
            </h3>
            <p class="card.text">
              We share what we learn with the community via talks at conferences and meetups and on our blog.
            </p>
            <a class="typography.arrow-link" href="/calendar" data-navigo>
              View Talks
            </a>
          </div>
          <!--card-->
          <div class="card">
            <p class="typography.small-text">
              Connect
            </p>
            <h3 class="card.sub-heading">
              Stay up-to-date with our latest news and updates
            </h3>
            <a class="typography.arrow-link" href="https://twitter.com/simplabs">
              Follow simplabs on Twitter
            </a>
          </div>
          <!--card-->
        </div>
        <!--sidebar-->
      </div>
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
  <!--contents-->
</div>