<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="display">
          We are web and open source enthusiasts
        </h1>
        <p class="lead">
          simplabs was bootstrapped in Munich, Germany in 2013 as a technology consultancy focussed on modern web engineering. Since then, we have built ambitious applications for various international clients, from startups to long-established businesses.
        </p>
        <p>
          We are an international team of Web and Open Source enthusiasts. We value expertise and a passion for technology higher than location and work for clients across the world.
        </p>
        <p>
          We have written and reviewed applications for various international clients in the past, covering technology stacks from Ruby on Rails to Ember.js and Elixir/Phoenix.
        </p>
      </div><!--page-header-->
    </div><!--container-->
  </div><!--contents-->
</div>