<div class="shape.wrap-lg">
  <div class="shape-left-lg">
    <div class="shape-left-lg.background background"></div>
  </div>
  <div class="shape-text">
    <div class="shape-text.background caption">
      <div class="shape-text.content">
        <div class="shape.content-text">
          <p class="typography.body-text">
            “simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.”
          </p>
          <p class="typography.small-text">
            Andreas Knürr, Timify CEO
          </p>
          <a class="typography.arrow-link link" href="/work" data-internal>
            View Our Work
          </a>
        </div>
      </div>
    </div>
  </div>
</div>