@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 2rem;
}

.branding {
  min-width: 200px;
  flex-shrink: 0;
}

.logo-wrap {
  display: block;
  width: 200px;
  margin-bottom: 2rem;
}

.menu {
  flex-shrink: 0;
  display: block;
  margin-top: 0.6rem;
}

.menu-title {
  display: block;
  font-weight: bold;
  color: #000;
  margin: 1.5rem 0 3rem;
}

.menu-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 2rem 0;
}
