@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: Footer;

  display: flex;
  flex-flow: row wrap;
  grid-column: 2/-2;
  width: 100%;
  margin-top: var(--o-7);
  justify-content: space-between;
  font-size: var(--fs-footer);
  line-height: var(--lh-footer);
  color: var(--color-muted);
  z-index: 100;
}

.branding {
  min-width: 200px;
  flex-shrink: 0;
}

.logo-wrap {
  display: block;
  width: 200px;
  margin-bottom: 2rem;
}

.legal {
  width: calc(100% + 2rem);
  margin-left: -2rem;
  padding-bottom: 3rem;
}

.legal-link:link,
.legal-link:visited {
  color: #979797;
  text-decoration: none;
  margin-left: 2rem;
}

.legal-link:focus,
.legal-link:hover,
.legal-link:active {
  color: var(--color-link);
}

.nav {
  width: var(--col-4);
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.title {
  grid-row: 1/2;
  font-size: var(--fs-footer);
  line-height: var(--lh-footer);
  font-weight: 700;
  color: inherit;
  margin: 1.5rem 0 2rem;
}

.items {
  grid-row: 2/-1;
  flex: 1 0;
  margin: 0 0 6.5rem;
}

.item {
  padding: 0.5rem 0;
  white-space: nowrap;
}

.link,
.link:link,
.link:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 0;
}

.link:hover {
  color: var(--color-accent);
}

.note {
  padding: 1rem 0;
}

.flag {
  position: relative;
  top: -0.25rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: -0.7rem 0 -0.7rem 0.25rem;
  background: url('/assets/images/eu.svg') center no-repeat;
  overflow: hidden;
  text-indent: -999rem;
  white-space: nowrap;
  background-size: 100%;
  vertical-align: middle;
}

@media (max-width: 887px) {
  .branding {
    width: 100%;
  }

  .nav {
    margin-top: var(--o-3);
    width: auto;
    flex: 1 1 auto;
  }
}

@media (max-width: 509px) {
  .block {
    width: 60%;
  }

  .block:nth-child(even) {
    width: 40%;
  }
}
