<div>
  <div class="branding">
    <a class="logo-wrap" href="/a" data-navigo="">
      <img class="fluid-image.image" src="/assets/images/neu.svg" alt="simplabs" />
    </a>
    © 2014-2018 simplabs GmbH
  </div>
  <nav class="menu">
    <strong class="menu-title">
      Services
    </strong>
    <a href="/services/software-engineering" class="menu-link" data-navigo>
      Software engineering
    </a>
    <a href="/services/team-augmentation" class="menu-link" data-navigo>
      Team Augmentation
    </a>
    <a href="/services/training" class="menu-link" data-navigo>
      Training
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Expertise
    </strong>
    <a href="/expertise/ember" class="menu-link" data-navigo>
      Ember.js
    </a>
    <a href="/expertise/elixir-phoenix" class="menu-link" data-navigo>
      Elixir & Phoenix
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Work
    </strong>
    <a href="/expertise/ember" class="menu-link" data-navigo>
      Trainline
    </a>
    <a href="/expertise/elixir-phoenix" class="menu-link" data-navigo>
      Elixir & Phoenix
    </a>
    <a href="/expertise/timify" class="menu-link" data-navigo>
      Timify
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Connect
    </strong>
    <a href="http://github.com/simplabs/" class="menu-link" target="_blank">
      Github
    </a>
    <a href="https://twitter.com/simplabs/" class="menu-link" target="_blank">
      Twitter
    </a>
    <a href="/expertise/timify" class="menu-link" data-navigo>
      Contact
    </a>
  </nav>
</div>