<footer>
  <div class="branding">
    <a class="logo-wrap" href="/a" data-internal="">
      <img class="fluid-image.image" src="/assets/images/logos/simplabs.svg" alt="simplabs" />
    </a>
    <p class="note">
      © 2014-2018 simplabs GmbH
    </p>
    <p class="note">
      made in 🇪🇺
    </p>
  </div>
  <nav class="nav">
    <h3 class="title">
      Services
    </h3>
    <ul class="items">
      <li class="item">
        <a href="/services/full-stack-engineering" class="link" data-internal>
          Full Stack engineering
        </a>
      </li>
      <li class="item">
        <a href="/services/team-augmentation" class="link" data-internal>
          Team Augmentation
        </a>
      </li>
      <li class="item">
        <a href="/services/tutoring" class="link" data-internal>
          Tutoring
        </a>
      </li>
    </ul>
    <h3 class="title">
      Expertise
    </h3>
    <ul class="items">
      <li class="item">
        <a href="/expertise/ember" class="link" data-internal>
          Ember.js
        </a>
      </li>
      <li class="item">
        <a href="/expertise/elixir-phoenix" class="link" data-internal>
          Elixir & Phoenix
        </a>
      </li>
    </ul>
    <h3 class="title">
      Work
    </h3>
    <ul class="items">
      <li class="item">
        <a href="/cases/trainline" class="link" data-internal>
          Trainline
        </a>
      </li>
      <li class="item">
        <a href="/cases/expedition" class="link" data-internal>
          Expedition
        </a>
      </li>
      <li class="item">
        <a href="/cases/ddwrt" class="link" data-internal>
          DD-WRT NXT
        </a>
      </li>
      <li class="item">
        <a href="/expertise/timify" class="link" data-internal>
          Timify
        </a>
      </li>
    </ul>
    <h3 class="title">
      Connect
    </h3>
    <ul class="items">
      <li class="item">
        <a href="/contact" class="link" data-internal>
          Contact
        </a>
      </li>
      <li class="item">
        <a href="/calendar" class="link" data-internal>
          Calendar
        </a>
      </li>
      <li class="item">
        <a href="/talks" class="link" data-internal>
          Talks
        </a>
      </li>
      <li class="item">
        <a href="http://github.com/simplabs/" class="link" target="_blank">
          Github
        </a>
      </li>
      <li class="item">
        <a href="https://twitter.com/simplabs/" class="link" target="_blank">
          Twitter
        </a>
      </li>
    </ul>
  </nav>
  <p class="legal">
    <a href="/imprint" class="legal-link" data-internal>
      Imprint
    </a>
    <a href="/privacy" class="legal-link" data-internal>
      Privacy Policy
    </a>
  </p>
</footer>