<footer>
  <div block:class="content">
    <div block:class="branding">
      <a block:class="logo-wrap" href="/" data-internal>
        <img fluid-image:class="image" src="/assets/images/logos/simplabs.svg" alt="simplabs" />
      </a>
      <p block:class="note">
        © 2014-2021 simplabs GmbH
      </p>
      <p block:class="note">
        Made in
        <span block:class="flag">
          Europe
        </span>
      </p>
    </div>
    <nav block:class="nav">
      <div block:class="block">
        <h3 block:class="title">
          <a href="/services/" data-internal block:class="title-link">
            Services
          </a>
        </h3>
        <ul block:class="items">
          <li block:class="item">
            <a href="/services/digital-products/" block:class="link" data-internal>
              Digital Products
            </a>
          </li>
          <li block:class="item">
            <a href="/services/team-augmentation/" block:class="link" data-internal>
              Team Augmentation
            </a>
          </li>
          <li block:class="item">
            <a href="/services/training/" block:class="link" data-internal>
              Training & Support
            </a>
          </li>
        </ul>
      </div>
      <div block:class="block">
        <h3 block:class="title">
          Expertise
        </h3>
        <ul block:class="items">
          <li block:class="item">
            <a href="/ember-consulting/" block:class="link" data-internal>
              Ember.js
            </a>
          </li>
          <li block:class="item">
            <a href="/expertise/elixir-phoenix/" block:class="link" data-internal>
              Elixir & Phoenix
            </a>
          </li>
          <li block:class="item">
            <a href="/playbook/" block:class="link" data-internal>
              Our Playbook
              <span block:class="badge">
                New
              </span>
            </a>
          </li>
          <li block:class="item">
            <a href="/resources/" block:class="link" data-internal>
              Resources
            </a>
          </li>
        </ul>
      </div>
      <div block:class="block">
        <h3 block:class="title">
          <a href="/work/" data-internal block:class="title-link">
            Work
          </a>
        </h3>
        <ul block:class="items">
          <li block:class="item">
            <a href="/cases/qonto/" block:class="link" data-internal>
              Qonto
            </a>
          </li>
          <li block:class="item">
            <a href="/cases/trainline/" block:class="link" data-internal>
              Trainline
            </a>
          </li>
          <li block:class="item">
            <a href="/cases/expedition/" block:class="link" data-internal>
              Expedition
            </a>
          </li>
          <li block:class="item">
            <a href="/cases/ddwrt/" block:class="link" data-internal>
              DD-WRT NXT
            </a>
          </li>
          <li block:class="item">
            <a href="/cases/timify/" block:class="link" data-internal>
              Timify
            </a>
          </li>
        </ul>
      </div>
      <div block:class="block">
        <h3 block:class="title">
          Connect
        </h3>
        <ul block:class="items">
          <li block:class="item">
            <a href="/contact/" block:class="link" data-internal>
              Contact
            </a>
          </li>
          <li block:class="item">
            <a href="/calendar/" block:class="link" data-internal>
              Calendar
            </a>
          </li>
          <li block:class="item">
            <a href="/talks/" block:class="link" data-internal>
              Talks
            </a>
          </li>
          <li block:class="item">
            <a href="https://github.com/simplabs/" block:class="link" target="_blank" rel="noopener">
              Github
            </a>
          </li>
          <li block:class="item">
            <a href="https://twitter.com/simplabs/" block:class="link" target="_blank" rel="noopener">
              Twitter
            </a>
          </li>
          <li block:class="item">
            <a href="https://www.linkedin.com/company/simplabs-gmbh" block:class="link" target="_blank" rel="noopener">
              LinkedIn
            </a>
          </li>
          <li block:class="item">
            <a
              href="https://www.youtube.com/channel/UCVl-sKkK7VNcsKD4i2UbgAQ"
              block:class="link"
              target="_blank"
              rel="noopener"
            >
              YouTube
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <p block:class="legal">
      <a href="/imprint/" block:class="legal-link" data-internal>
        Imprint
      </a>
      <a href="/privacy/" block:class="legal-link" data-internal>
        Privacy Policy
      </a>
    </p>
  </div>
</footer>