<div>
  <div class="branding">
    <a class="logo-wrap" href="/a" data-internal="">
      <img class="fluid-image.image" src="/assets/images/neu.svg" alt="simplabs" />
    </a>
    © 2014-2018 simplabs GmbH
  </div>
  <nav class="menu">
    <strong class="menu-title">
      Services
    </strong>
    <a href="/services/software-engineering" class="menu-link" data-internal>
      Software engineering
    </a>
    <a href="/services/team-augmentation" class="menu-link" data-internal>
      Team Augmentation
    </a>
    <a href="/services/training" class="menu-link" data-internal>
      Training
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Expertise
    </strong>
    <a href="/expertise/ember" class="menu-link" data-internal>
      Ember.js
    </a>
    <a href="/expertise/elixir-phoenix" class="menu-link" data-internal>
      Elixir & Phoenix
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Work
    </strong>
    <a href="/cases/trainline" class="menu-link" data-internal>
      Trainline
    </a>
    <a href="/cases/expedition" class="menu-link" data-internal>
      Expedition
    </a>
    <a href="/expertise/elixir-phoenix" class="menu-link" data-internal>
      Elixir & Phoenix
    </a>
    <a href="/expertise/timify" class="menu-link" data-internal>
      Timify
    </a>
  </nav>
  <nav class="menu">
    <strong class="menu-title">
      Connect
    </strong>
    <a href="http://github.com/simplabs/" class="menu-link" target="_blank">
      Github
    </a>
    <a href="https://twitter.com/simplabs/" class="menu-link" target="_blank">
      Twitter
    </a>
    <a href="/expertise/timify" class="menu-link" data-internal>
      Contact
    </a>
  </nav>
</div>