@import "components/color-hero";
@import "components/cta-banner";
@import "base/utility";

nav {
  --color-link-primary: var(--color-white);
}

.lp-section {
  padding: 3rem 0;
}

@media (min-width: 48em) {
  .text-with-list {
    padding: 7.75rem 0;
  }
}

.lp-section-subheading {
  max-width: 48.75rem;
  margin: 0 0 3rem 0;
}

.lp-section + .lp-section {
  padding-top: 0;

  h2 {
    margin-top: 0;
  }
}

.lang-features {
  padding: 7rem 0 5rem;
}

.lang-features__list-wrapper {
  margin: 3rem 0;
}

.lang-features__list {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.lang-features__list-item {
  & + & {
    margin-top: 3rem;
  }
}

.lang-features__feature {
  display: flex;
  align-items: center;
  text-decoration: none;

  svg {
    transform: rotate(-90deg);
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-purple);
    margin-right: 1.5rem;
  }
}

.lang-features__feature-text {
  display: inline-flex;
}

@media (min-width: 48em) {
  .lang-features {
    padding: 7rem 0;
  }

  .lang-features__list-wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .lang-features__list {
    margin: 0;
    flex: 0 0 50%;
  }

  .lang-features__list-item {
    & + & {
      margin-top: 2rem;
    }
  }
}

.intro__link {
  margin-top: 1.5rem;
}

.quote-section {
  padding: 7.25rem 0;
}

.btn-flex {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
}

.tito-widget-button {
  appearance: none;
  border: 0;
  line-height: 1;
}

.tito-btn {
  cursor: pointer;
  appearance: none;
  border: 0;
  display: block;
  padding: 1rem 1.75rem;
  line-height: 1;

  .line {
    display: inline-block;
    margin: 0 0.75rem;
    width: 2px;
    height: 1em;
    background-color: var(--color-link-primary);
  }
  span {
    color: var(--color-link-primary);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }

  .icon-arrow {
    flex-shrink: 0;
    transform: translateX(0px) rotate(-90deg);
    height: 1rem;
    width: 1rem;
    color: var(--color-white);
    margin-left: 0.5rem;
    transition: transform 0.5s ease;
  }

  &.btn-primary--white {
    svg {
      color: var(--color-purple);
    }
  }

  &:hover, &:focus {
    .line {
      background-color: var(--color-white);
    }

    span {
      color: var(--color-white);
      text-decoration: none;
      font-weight: 700;
    }

    .icon-arrow {
      transform: translateX(0.5rem) rotate(-90deg);
      transition: transform 0.5s ease;
      color: var(--color-white);
    }

    &.btn-primary--white {
      .line {
        background-color: var(--color-purple);
      }

      span {
        color: var(--color-purple);
      }

      svg {
        color: var(--color-purple);
      }
    }
  }
}

.price-tag {
  font-weight: 400;
}

.floating-btn {
  opacity: 1;
  position: fixed;
  bottom: 32px;
  right: 5%;
  z-index: 100;
  --color-link-primary: var(--color-white);
  cursor: pointer;
}

.workshop-authors {
  margin: 3rem 0;
}
