---
og:
  image: /assets/images/og-image.jpg
type: page
meta:
  site:
    logo:
      src: /icon-512.png
      width: 512
      height: 512
  language: en-US
  image:
    src: /icon-512.png
---

<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    {%- set pageTitle = config.name -%}
    {%- if title -%}
      {%- set pageTitle = title + ' | ' + config.name -%}
    {%- endif -%}

    <title>{{ pageTitle | safe }}</title>
    {% include "global/fonts.njk" %}
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script src="/assets/js/app.js" defer></script>
    {% block head %}{{ head | safe }}{% endblock %}
    {% include "global/meta.njk" %}
    {% include "global/icons.njk" %}

    <script
      defer
      data-domain="mainmatter.com"
      src="https://plausible.io/js/script.tagged-events.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <link
      rel="feed alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="Mainmatter Blog RSS"
    />
    <link
      rel="feed alternate"
      type="application/atom+xml"
      href="/feed.atom"
      title="Mainmatter Blog Atom"
    />
  </head>
  <body data-js-enabled="false">
    <a class="skip-link" href="#main"> Skip to main content </a>
    {% include "global/nav.njk" %}
    <main id="main">{% block content %}{{ content | safe }}{% endblock content %}</main>
    {% include "global/footer.njk" %}
    <div aria-live="polite" id="live-region" class="screenreader"></div>
    <div hidden>
      <p id="external-new-window-message">Opens external website in a new window.</p>
    </div>
    <script>
      document.querySelector("body").setAttribute("data-js-enabled", "true");

      navigator.serviceWorker?.getRegistrations().then(registrations => {
        for (const registration of registrations) {
          registration.unregister();
        }
      });
    </script>
  </body>
</html>
