---
layout: base
---

{% from "color-hero.njk" import colorHero %}
{% from "cta-banner.njk" import ctaBanner %}
{% from 'case-cards.njk' import caseCards %}
{%- block content -%}
  {%
    set 'hero' = {
    "title": displayTitle,
    "subheading": hero.tags,
    "image": hero.image,
    "alt": hero.imageAlt,
    "loading": "eager"
    }
  %}
  {{ colorHero('purple', hero) }}

  <article class="case-study">
    <div class="container container--lg">{{ content | safe }}</div>
    {% if cta == "gravity" %}
      <div class="case-study__section">
        <div class="case-study__text">{% include "global/gravity-cta.njk" %}</div>
      </div>
      {% elseif cta == "whirlwind" %}
      <div class="case-study__section">
        <div class="case-study__text">{% include "global/whirlwind-cta.njk" %}</div>
      </div>
    {% endif %}
  </article>
  {% set postsFromCollection = collections.caseStudiesFeatured | getMorePosts(page) | limit(3) %}
  {% if postsFromCollection %}
    {{ caseCards('featured', 'Discover more case studies', '', postsFromCollection) }}
  {% endif %}
  {%
    set 'content' = {
    "title": "Team up with us to go further!",
    "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
    "linkUrl": "/contact",
    "linkText": "Get in touch"
    }
  %}
  {{ ctaBanner('aqua', 'full', content) }}
{%- endblock -%}
