---
layout: base
---

{%- block content -%}
  <article class="section container container--md rte rte--small">
    <h1 class="section__title">{{ title }}</h1>
    {{ content | safe }}
  </article>
{%- endblock -%}
