---
layout: "base"
---

{%- block content -%}
  {% from "color-hero.njk" import colorHero %}
  {% set post = collections.twios | getCollectionItem(page) %}
  <article>
    {% set 'hero' = {
      "title": 'This Week in Open Source at Mainmatter #' + post.data.number,
      "eyebrow": page.date | monthDayYear
    } %}
    {{ colorHero('purple', hero) }}r
    <div class="container container--lg post">
      <a href="/this-week-in-open-source/" class="btn-secondary h4 pagination-item previous">
        {% include 'svg/arrow.njk' %}
        <span class="btn-secondary__text">Overview</span>
      </a>
      <p class="prev-next__title">See all Open Source Updates</p>

      <div class="post__content rte">
        {{ content | safe }}
      </div>
    </div>
  </article>
{%- endblock -%}
