---
layout: "base"
---

{% from "author-socials.njk" import authorSocials %}
{% from "color-hero.njk" import colorHero %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "newsletter-cta.njk" import newsletterCta %}
{% from "strategy-list.njk" import strategyList %}

{%- block content -%}
  {%
    set 'hero' = {
    "eyebrow": format,
    "title": title,
    "text": subtext,
    "image": hero.image,
    "alt": hero.imageAlt,
    "loading": "eager"
    }
  %}
  {{ colorHero('purple', hero) }}

  <section class="container container--lg my-10">
    <div class="workshop__content post__content--workshop rte">
      <h2 class="workshop-topics__heading mb-2">Workshop description</h2>
      <div class="post__tagline">
        {% if tagline %}
          {{ tagline | safe }}
          {% elseif introduction %}
          {{ introduction | safe }}
        {% else %}
          {{ description | safe }}
        {% endif %}
      </div>
    </div>
  </section>

  {%
    set 'content' = {
    "title": "Book this workshop",
    "text": "Our mentors look forward to working with your team and unlocking new capabilities.",
    "linkUrl": "#book-workshop",
    "linkText": "Get in touch"
    }
  %}
  {{ ctaBanner('purple', 'default', content) }}

  {{ strategyList('workshop', '', topics) }}

  <section class="workshop-authors container container--lg">
    <div class="workshop__content post__content--workshop">
      <h2 class="workshop-topics__heading">
        Your mentor{%- if (leads | default([])).length > 1 -%}s{%- endif -%}
      </h2>
      {%- for lead in leads -%}
        <div class="author__wrapper">
          <div class="author">
            <div class="workshop-authors__image-wrapper author__image-wrapper">
              {% image lead.image, lead.name, '3.75rem', 'eager', 'author__lead-image', [120] %}
            </div>
            <div class="author__text-wrapper">
              <div class="author__name-wrapper">
                <h4 class="author__name">{{ lead.name }}</h4>
                {% if lead.handle %}
                  {{ authorSocials(lead.handle) }}
                {% endif %}
              </div>

              <p class="author__title large">{{ lead.title }}</p>
            </div>
          </div>
          <div class="author__details mt-3 author__details--full-width">
            <p>{{ lead.bio | safe }}</p>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </section>

  {%- if quotes -%}
    <section class="quotes-list">
      <div class="container container--lg">
        <h2 class="quotes-list__title h2">Listen to our students</h2>
        <ul class="quotes-list__list" style="grid-template-columns: repeat(2, 1fr);">
          {%- for quote in quotes -%}
            <li class="quotes-list__quote">
              <div class="quotes-list__quote-text text--sm">
                <blockquote>”{{ quote.text }}”</blockquote>
                <figcaption class="quotes-list__quote-source">
                  {{ quote.source }}<span class="quotes-list__quote-source--separator"></span>
                </figcaption>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
  {%- endif -%}

  <section
    class="cta-banner cta-banner--purple container container--xl my-10"
    data-background-color="purple"
  >
    <a id="book-workshop"></a>
    <div class="cta-banner__wrapper">
      <div class="cta-banner__main">
        <h2 class="cta-banner__title">Book this workshop</h2>
        <div class="cta-banner__text">
          Our mentors look forward to working with your team and unlocking new capabilities.
        </div>
        <form
          data-contact-form
          class="contact-form__form"
          data-status="initial"
          data-action="https://hooks.zapier.com/hooks/catch/4837956/29yixsv/"
          data-method="get"
          data-goal="Workshop+Contact"
        >
          <input type="hidden" name="workshop" value="{{ title }}" />
          <div data-form-content class="contact-form__field cta__input mb-2 mt-2">
            <input
              class="contact-form__input"
              id="name"
              type="text"
              name="name"
              placeholder="Your name"
              required
            />
            <label class="contact-form__label h4" for="name">
              Your name
              <span class="screenreader">(Required)</span>
            </label>
            <span class="contact-form__label-required" aria-hidden="true">Required</span>
          </div>
          <div class="contact-form__field cta__input mb-2 mt-2">
            <input
              class="contact-form__input"
              id="company"
              type="text"
              name="company"
              placeholder="Your company's name"
            />
            <label class="contact-form__label h4" for="name"> Your company's name </label>
          </div>
          <div class="contact-form__field cta__input mb-2 mt-2">
            <input
              class="contact-form__input"
              id="email"
              type="email"
              name="email"
              placeholder="Your e-mail"
              required
            />
            <label class="contact-form__label h4" for="email">
              Your e-mail
              <span class="screenreader">(Required)</span>
            </label>
            <span class="contact-form__label-required" aria-hidden="true">Required</span>
          </div>
          <div class="contact-form__field">
            <textarea
              class="contact-form__input"
              id="contact-message"
              name="message"
              type="text"
              placeholder="Tell us about your training needs"
              rows="8"
            ></textarea>
            <label class="contact-form__label h4" for="contact-message">
              Tell us about your training needs
            </label>
          </div>
          <button class="btn-primary btn-primary--white" type="submit">
            <span>Get in touch</span>
            {% include 'svg/arrow.njk' %}
          </button>
          <div class="contact-form__status">
            <button class="contact-form__close" data-reset-form>
              {% include 'svg/close.njk' %}
              <span class="screenreader">Close</span>
            </button>
            <div class="contact-form__loading h4" data-form-loading>
              Your message is being sent…
              <div class="loader" aria-hidden="true"></div>
            </div>
            <div class="contact-form__error" tabindex="-1" data-form-error>
              <div class="contact-form__status-wrapper">
                <h2 class="contact-form__success-subheading h3">Unable to send message.</h2>
                <p>
                  Please try again later or contact us at
                  <a href="mailto:info@mainmatter.com">info@mainmatter.com</a>
                </p>
              </div>
            </div>
            <div class="contact-form__success" tabindex="-1" data-form-success>
              <div class="contact-form__status-wrapper">
                <h2 class="contact-form__success-heading h3">Thank you!</h2>
                <p class="contact-form__success-subheading h3">We will be in touch soon.</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  {%
    set 'content' = {
    "title": "Not the right workshop for you?",
    "text": "Take a look at our wide range of workshops to take your team to the next level",
    "linkUrl": "/services/workshops/",
    "linkText": "Our workshops"
    }
  %}
  {{ ctaBanner('aqua', 'default', content) }}
  {{ newsletterCta(tags) }}
{%- endblock -%}
