@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: WorkshopCard;
  display: grid;
  grid-template-columns: 22.5rem repeat(2, 1fr);
  column-gap: var(--col-gap);
  background: linear-gradient(to left, var(--color-light), var(--color-light)) no-repeat 11.25rem 11.25rem;
  padding: 0 var(--col-gap) var(--col-gap) 0;
  position: relative;
}

.label {
  position: absolute;
  top: 0;
  left: calc(22.5rem + var(--col-gap));
  line-height: resolve('typography.small');
  line-height: 1.25;
}

.tag {
  background: var(--color-accent);
  width: 8rem;
  display: block;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  color: white;
  font-size: 5rem;
  margin-top: 7.25rem;
}

.info {
  grid-column: 1;
}

.image {
  width: 100%;
  margin-bottom: var(--col-gap);
  object-fit: cover;
  height: auto;
}

.content {
  grid-column: 2/4;
}

.title {
  margin-top: 3rem;
}

@media (max-width: 887px) {
  :scope {
    grid-template-columns: var(--grid-template-columns);
    background: linear-gradient(to left, var(--color-light), var(--color-light)) no-repeat 0 11.25rem;
    padding: 0;
  }

  .info {
    grid-column: 2/-2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .label {
    position: relative;
    top: unset;
    left: unset;
    min-width: 66%;
    flex-basis: 66%;
    flex-grow: 1;
  }

  .image {
    width: 12.5rem;
    margin-right: var(--col-gap);
  }

  .tag {
    display: none;
  }

  .content {
    grid-column: 2/-2;
  }
}

@export typography;
