@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: WorkshopCard;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEX5+v6pOaOpAAAADUlEQVR42gECAP3/AAAAAgABUyucMAAAAABJRU5ErkJggg==');
  background-position: 11.25rem 11.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.25s ease;
  position: relative;
}

:scope:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEXz9/2ICQmIAAAADUlEQVR42gECAP3/AAAAAgABUyucMAAAAABJRU5ErkJggg==');
  text-decoration: none;
}

.main-link {
  display: grid;
  grid-template-columns: 22.5rem repeat(2, 1fr);
  column-gap: var(--col-gap);
  padding: 0 var(--col-gap) var(--col-gap) 0;
}

.main-link:hover {
  text-decoration: none;
}

.bottom-link {
  padding-left: calc(22.5rem + var(--col-gap));
}

.label {
  position: absolute;
  top: 0;
  left: calc(22.5rem + var(--col-gap));
  line-height: resolve('typography.small');
  line-height: 1.25;
}

.tag {
  background: var(--color-accent);
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 2rem;
  margin-top: 7.25rem;
}

.info {
  grid-column: 1;
}

.image {
  width: 100%;
  margin-bottom: var(--col-gap);
  object-fit: cover;
  height: auto;
}

.content {
  grid-column: 2/4;
}

.title {
  margin-top: 3rem;
}

.p {
  color: #000;
}

@media (min-width: 888px) {
  .label-line {
    display: block;
  }
}

@media (max-width: 887px) {
  :scope {
    background-position: 0 11.25rem;
  }

  .main-link {
    pointer-events: none;
  }

  .main-link,
  .bottom-link {
    grid-template-columns: var(--grid-template-columns);
    padding: 0 0 var(--col-gap) 0;
  }

  .bottom-link {
    display: grid;
    column-gap: var(--col-gap);
  }

  .bottom-link-content {
    grid-column: 2/-2;
  }

  .info {
    grid-column: 2/-2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .label {
    position: relative;
    top: unset;
    left: unset;
    min-width: 66%;
    flex-basis: 66%;
    flex-grow: 1;
  }

  .image {
    width: 12.5rem;
    margin-right: var(--col-gap);
  }

  .tag {
    display: none;
  }

  .content {
    grid-column: 2/-2;
  }
}

@export typography;
