@block container from "../../styles/blocks/container.block.css";
@block o from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: PageTraining;
}

@media (min-width: 888px) {
  .offset-top {
    margin-top: 66rem;
  }
}
