@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: PageTraining;
  extends: screen;
}

@media (min-width: 700px) {
  .offset-top {
    margin-top: 66rem;
  }
}
