@block container from "../../styles/blocks/container.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

@export layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: PageTraining;
  composes: 'layout';
}

@media (min-width: 888px) {
  .offset-top {
    margin-top: 66rem;
  }
}
