<div>
  <Header @label="Services" @title="Tutoring" />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.h2">
              Raising confidence for increased productivity and quality
            </h2>
            <p class="typography.lead">
              Approaching new technologies, overcoming long standing issues that negatively affect productivity or delivering large scale projects on time and budget can be overwhelming at times. We tutor engineering teams to help them overcome these challenges and set them up for long term success.
            </p>
            <p class="typography.lead">
              We are experts in a wide range of topics, from languages and frameworks to architecture and process best practices. We share our expertise so others can grow from it.
            </p>
          </div>
        </div>
        <!--item-->
      </div>
      <!--main-block-content-->
      <div class="main-block.sidebar">
        <h3>
          Want to know how simplabs can level up your team's effectiveness?
        </h3>
        <p>
          Leave us a message and we'll get back to you to explain how we can help.
        </p>
        <FormContact />
      </div>
    </div>
    <!--main-block-->
  </div>
  <!--container-->
  <ShapeAcrossTutoringService />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2>
              Why Simplabs?
            </h2>
            <p class="typography.lead">
              simplabs has unique expertise and insights into modern web engineering technologies like Ember.js. We are strongly engaged in open source with several team member on the Ember.js core team and a number of libraries that we maintain ourselves. Our experts are internationally known for their work on all parts of the software development process, often sharing their knowledge at conferences and events across the globe.
            </p>
          </div>
          <div class="main-block.content-row">
            <div class="main-block.content-col">
              <h3>
                Reviews
              </h3>
              <p>
                We can review our clients' code bases thoroughly and will prepare an extensive document, listing all of the problems we’ve identified. For each problem we provide an explanation and background information, a path forward and a severity assessment that can help with later prioritization. We end the review with a meeting in which we present the findings, discuss questions and together with the client, lay out a plan of action.
              </p>
              <p>
                We have reviewed applications for various international clients in the past, covering technology stacks from Ruby on Rails to Ember.js and Elixir/Phoenix.
              </p>
            </div>
          </div>
          <div class="main-block.content-row">
            <div class="main-block.content-col">
              <h3>
                Workshops
              </h3>
              <p>
                We conduct individual or group workshops for our clients to bring their teams up to speed with particular technologies quickly and enable them to complete ambitious projects with confidence. From introductory workshops on frameworks like Ember.js or Phoenix to advanced classes on distributed systems design, authentication, deployment or scalability, we set up customized training sessions that suit the needs of our clients and their teams.
              </p>
            </div>
          </div>
        </div>
        <!--item-->
      </div>
      <!--main-block-content-->
      <div class="main-block.sidebar offset-top">
        <CardEmberExpertise />
        <Card @src="/assets/images/card/elixir.svg" @alt="Elixir">
          <h3 class="typography.h4">
            <p>
              Elixir is the language of choice for scalable and stable applications.
            </p>
            <ArrowLink @href="/expertise/elixir-phoenix">
              Learn more
            </ArrowLink>
          </h3>
        </Card>
      </div>
    </div>
    <!--main-block-->
  </div>
  <ClientsGrid
    @title="We have a track record of successful projects for international clients"
    @only="generali,clark,neighbourhoodie"
   />

  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>