<div>
  <Header
    @active="services"
    @title="Tutoring"
    @documentTitle="Leveling up teams' confidence with Tutoring | Services"
    @description="We tutor teams that approach new technologies, overcome long standing issues or struggle with delivering large scale projects on time and budget."
  >
    <HeaderContent @label="Training & Tutoring" @headline="Raise confidence and increase productivity" />
    <p class="typography.lead">
      Approaching new technologies or solving long-standing impediments can be overwhelming at times. We train and tutor engineering teams to set them up for long term success.
    </p>
    <p class="typography.lead offset.after-21">
      We share our expertise in a wide range of topics, from languages and frameworks to architecture and process best practices—all aimed at making your teams execute more confidently.
    </p>
  </Header>
  <div class="layout.main offset.after-21">
    <h2 class="typography.h3">
      Tailor-made trainings and support for engineers
    </h2>
    <p>
      Whether it’s the completion of a complex project or simply to get up-to-speed on the latest engineering practices, teams value the know-how and experience of our senior engineers.
    </p>
    <h2 class="typography.h3">
      Code reviews & audits
    </h2>
    <p>
      Designers support the project end-to-end. Close collaboration allows space for early user feedback, reducing risks, and improved outcomes.
    </p>
    <h2 class="typography.h3">
      Tailor-made solutions
    </h2>
    <p>
      The needs of every team are unique, and so are our tutoring and training solutions. We cover covering technology stacks from Ruby on Rails to Ember.js and Elixir/Phoenix.
    </p>
  </div>
  <div class="layout.side offset.after-21">
    <h3>
      Want to know how we can turn your ideas into a successful project?
    </h3>
    <p>
      Leave us a message and we'll get back to you, establishing a plan together.
    </p>
    <FormContact />
  </div>
  <div class="layout.full offset.after-21">
    <h2>
      What makes Simplabs trainings unique?
    </h2>
    <p class="typography.lead">
      We are strongly engaged in open source with several team member on the Ember.js core team and a number of libraries that we maintain ourselves. Our experts are internationally known for their work on all parts of the software development process, often sharing their knowledge at conferences and events across the globe.
    </p>
  </div>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>