.article-section {
    code {
        @extend .article-text-code;
    }

    h4,
    h2 {
        @extend .article-subheader;
    }

    h4:before,
    h2:before {
        content: "\A";
        white-space: pre;
    }

    p {
        @extend .article-text;
    }
}