---
layout: default
title: About
---

<div class="primary-banner">
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <h2>About</h2>
        <p>We are an international team of <strong>Web and Open Source enthusiasts</strong>.</p>
    	</div>
    </div>
  </div>
</div>

<div class="container" id="main-section">
  <div class="row">
    <div class="col col-lg-10 offset-lg-1">
      <div class="row content-section split-section">
        <div class="col-sm-6">
          <h3>Values</h3>
        </div>
        <div class="col-sm-6">
          <p>simplabs is a <strong>technology focused consultancy</strong> with an international team. We help clients across the world by <strong>applying and sharing our expertise</strong>.</p>
          <p>We <i class="love"></i> Open Source and take an <strong>active role in the projects that we leverage for our clients</strong>, contributing code and supporting the communities.</p>
        </div>
      </div>

      <div class="row content-section split-section">
        <div class="col-sm-6">
          <h3>Expertise over Location</h3>
        </div>
        <div class="col-sm-6">
          <p>We value <strong>expertise and a passion for technology higher than location</strong>. Our distributed team of technology experts works for clients across the world.</p>
          <p>Having a remote culture doesn't mean the team needs to be distributed all the time though. We have regular company events to connect offline and spend some time together - we also invite our clients to join us!</p>
          <img src="/images/oktoberfest.jpg" class="img-fluid" alt="🍻">
        </div>
      </div>

      {% include stack_crosslink.html %}
    </div>
  </div>
</div>

{% include contact_banner.html %}
