---
layout: default
title: Elixir &amp; Phoenix
class: elixir
---

<div class="primary-banner d-flex align-items-stretch">
  <div class="container d-flex flex-column justify-content-between">
    <div class="row justify-content-stretch">
      <div class="col-12 col-md-8">
        <h1>A server stack for the future, built on an established foundation.</h1>
    	</div>
      <div class="col-sm-3 offset-md-1 d-none d-md-flex align-items-center">
        {% include svgs/logos/elixir.svg class="icon img-fluid" %}
        {% include svgs/logos/phoenix.svg class="icon img-fluid" %}
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h2>The best of all worlds</h2>
      </div>
      <div class="col-12 col-lg-8">
        <p>Elixir combines the <strong>expressiveness and simplicity of Ruby</strong> with the performance and stability of the <strong>Erlang VM</strong>. Phoenix builds on the concepts first introduced by Ruby on Rails, combining them with a number of architectural improvements. Together, they form a <strong>modern and capable stack for building ambitious projects</strong> based on an established and <strong>battle-proven foundation</strong>.</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-4">
        <p>simplabs was an <strong>early adopter of Elixir and Phoenix</strong>, offering <a href="https://elixir-phoenix-workshop.simplabs.com">trainings</a> and leveraging the potential of the stack for our <a href="/work/">clients</a> early on. We are organizing the <a href="https://www.meetup.com/Elixir-Munich/">Elixir Munich</a> meetup and have been <strong>actively involved with conferences</strong> like <a href="https://elixirconf.com/">ElixirConf</a> and <a href="https://elixirconf.eu/">ElixirConf EU</a>.</p>
        <p>We believe that Elixir and Phoenix have a bright future ahead of them and enable our clients to be a part of that.</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section community-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 offset-lg-6">
        <h2 class="text-center">Community Engagement</h2>
        <p class="text-center">Elixir and Phoenix are open community projects and <strong>we are an active member of that community</strong>. We support the <a href="https://www.meetup.com/Elixir-Munich/">Elixir Munich</a> meetups and have been sponsors of ElixirConf and ElixirConf EU for years.</p>
    	</div>
    </div>
  </div>
</div>

{% include teasers/cases/full/expedition.html %}

<div class="content-section posts">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h2>From the Blog</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          {% assign ember_posts = site.categories.blog | where: "topic", "elixir" %}
          {% for post in ember_posts limit:4 %}
            <div class="col-12 post">
              <h4>{{post.title}}</h4>
              <p>{{post.excerpt | markdownify | strip_html | truncatewords: 25}}</p>
              <a href="{{post.url}}" class="more">{{post.title}}</a>
            </div>
          {%endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include contact_banner.html %}