<div>
  <Header @label="Services" @title="Full-Stack Engineering" />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              You do the disrupting, we do the engineering
            </h2>
            <p class="typography.lead">
              Although software disrupts existing markets and creates new ones, not all businesses need to build up software engineering know-how internally. Poorly architected systems and slow development cycles can have dramatic negative consequences.
            </p>
            <p class="typography.lead">
              Instead, focussing on their own core strengths while getting software engineering help from an experienced partner can make software an enabler for success rather than a liability.
            </p>
          </div>
        </div>
        <!--item-->
      </div>
      <!--main-block-content-->
      <div class="main-block.sidebar">
        <div class="card">
          <h3 class="typography.headline-2">
            Want to know how simplabs can turn your ideas into successful projects?
          </h3>
          <p class="typography.body-text">
            If so, we want to hear from you.
          </p>
          <form class="form">
            <div class="form.group">
              <label class="form.control-label">
                Your Name
              </label>
              <input class="form.control" type="text" name="" />
            </div>
            <div class="form.group">
              <label class="form.control-label">
                Your Email
              </label>
              <input class="form.control" type="text" name="" />
            </div>
            <div class="form.group">
              <label class="form.control-label">
                Tell us about your project
              </label>
              <textarea class="form.textarea"></textarea>
            </div>
            <div class="form.group">
              <button class="button.button">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--main-block-->
  </div>
  <ShapeAcrossFullStackService />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              Why Simplabs?
            </h2>
            <p class="typography.lead">
              By working with simplabs, you gain instant access to a team of proven technology experts. Our unique approach is designed to foster long-term business relationships.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Instant Productivity
              </h3>
              <p class="typography.body-text">
                simplabs has an experienced team of technology experts that have worked together for years. Our clients benefit from the productivity of a smooth-running team from day one, avoiding the delay of ramping up a newfound in-house team over weeks and months.
              </p>
              <p class="typography.body-text">
                Our engineers are experts in the technologies that we use. We actively contribute to the tools and frameworks we build our projects with and thus have in-depth, internal knowledge, resulting in high productivity and quality.
              </p>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Take over once you're ready
              </h3>
              <p class="typography.body-text">
                We value conventions-based frameworks that result in maintainable and well-defined projects which are easy to take over by our clients once we've left, allowing to internalize engineering when the time is right.
              </p>
              <p class="typography.body-text">
                We can also help with building up an internal engineering team and getting that up to speed regarding know-how and process - see our team augmentation and training offerings.
              </p>
            </div>
          </div>
        </div>
        <!--item-->
      </div>
      <!--main-block-content-->
      <div class="main-block.sidebar offset-top">
        <div class="card">
          <p class="typography.small-text">
            Playbook
          </p>
          <div class="card.image">
            <img class="fluid-image.image" src="/assets/images/instant-productivity.jpg" />
          </div>
          <h3 class="card.sub-heading">
            The steps to instant productivity
          </h3>
          <p class="typography.body-text">
            Get an overview on the actions and steps we take to consistently achieve high productivity and quality.
          </p>
          <ArrowLink href="#">
            Read our Playbook
          </ArrowLink>
        </div>
      </div>
    </div>
    <!--main-block-->
  </div>
  <!--container-->
  <div class="container">
    <div class="grid-block">
      <div class="grid-block.heading">
        <h2 class="typography.headline-1">
          We have a track record of successful projects for international clients
        </h2>
      </div>
      <div class="grid-block.section">
        <div class="grid-block.item">
          <div class="grid-block.image-wrapper">
            <img class="grid-block.image" src="/assets/images/logos/trainline.svg" />
          </div>
          <p class="grid-block.text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <!--item-->
        <div class="grid-block.item">
          <div class="grid-block.image-wrapper">
            <img class="grid-block.image" src="/assets/images/logos/timify.svg" />
          </div>
          <p class="grid-block.text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <!--item-->
        <div class="grid-block.item">
          <div class="grid-block.image-wrapper">
            <img class="grid-block.image" src="/assets/images/logos/cardstack.svg" />
          </div>
          <p class="grid-block.text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <!--item-->
      </div>
    </div>
    <!--grid-block-->
  </div>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>