@block screen from "../../styles/blocks/screen.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: PageHomepage;
  extends: screen;
}

.logos {
  composes: 'screen.container';
}

.logos-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.logos-more {
  text-align: center;
}

.logos-logo {
  filter: grayscale(100%) contrast(0%);
  transition: filter 0.1s ease-out;
}
