@block button from "../../styles/blocks/button.block.css";
@block container from "../../styles/blocks/container.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";


:scope {
  block-name: PageHomepage;
  composes: 'layout';
}

.padding-right-1 {
  padding-right: var(--col-1);
}

.logos-list {
  display: flex;
  width: calc(100% + var(--offset-horizontal));
  flex-flow: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 calc(var(--offset-horizontal) / -2) 6rem;
}

.logos-more {
  text-align: center;
}

.logos-logo {
  margin: 0 calc(var(--offset-horizontal) / 2);
  filter: grayscale(100%) contrast(0%);
  transition: filter 0.1s ease-out;
  list-style: none;
}

@media (max-width: 888px) {
  .logos-list {
    justify-content: center;
    flex-flow: wrap;
  }
  .logos-logo {
    padding: 2rem;
  }
  .padding-right-1 {
    padding-right: 0;
  }
}
