<div>
  <Header @headline="Solid Solutions for Ambitious Projects" @title="simplabs" @pageTitle="">
    <p class="typography.lead">
      We deliver ambitious digital products on the web and mobile for our clients to rely on. Our expert team manages projects from idea to release, covering strategy, design and engineering.
    </p>
  </Header>
  <ShapeFeatureTrainline @label="Featured Case Study" />
  <section class="layout.full offset.after-21">
    <ul class="logos-list">
      <li class="logos-logo">
        <img src="/assets/images/logos/trainline.svg" alt="Trainline" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/cardstack.svg" alt="Cardstack" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/generali.svg" alt="Generali" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/experteer.svg" alt="Experteer" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/qonto.svg" alt="Qonto" />
      </li>
    </ul>
    <p class="logos-more">
      <a href="/work" class="button" data-internal>
        Our Work
      </a>
    </p>
  </section>
  <div class="layout.main offset.after-21">
    <h2>
      Services
    </h2>
    <p class="typography.lead offset.after-16">
      We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.
    </p>
    <h3>
      Full-Stack Engineering
    </h3>
    <p>
      We develop successful products to address our clients' business needs, working closely with them in short iterations.
    </p>
    <ArrowLink @href="/services/full-stack-engineering">
      Learn More
    </ArrowLink>
    <h3>
      Team Augmentation
    </h3>
    <p>
      Our technology experts join our clients' in-house engineering teams, increasing productivity and sharing their expertise.
    </p>
    <ArrowLink @href="/services/team-augmentation">
      Learn More
    </ArrowLink>
    <h3>
      Tutoring
    </h3>
    <p>
      We tutor product teams, raising their experience and confidence levels and laying the foundation for long term success.
    </p>
    <ArrowLink @href="/services/tutoring">
      Learn More
    </ArrowLink>
  </div>
  <aside class="layout.side">
    <CardUpcomingEvents />
  </aside>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>