<div>
  <Header @title="Solid Engineering for Ambitious Projects">
    <p class="typography.lead">
      Our team of technology experts builds ambitious web and mobile solutions for clients across the world. We like to move fast without breaking things and invite our clients to take on an active role in projects.
    </p>
  </Header>
  <ShapeFeature @color="#48D5B5" @src="/assets/images/trainline-comp.png" @width="1208" @height="1268">
    <h2 class="typography.small-text">
      Featured Case Study
    </h2>
    <h3 class="typography.headline-2">
      Leveraging Trainline's full market potential
    </h3>
    <ArrowLink @href="/cases/trainline">
      Read Case Study
    </ArrowLink>
  </ShapeFeature>
  <section class="logos">
    <ul class="logos-list">
      <li class="logos-logo">
        <img src="/assets/images/logos/trainline.svg" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/cardstack.svg" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/generali.svg" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/experteer.svg" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/timify.svg" />
      </li>
    </ul>
    <p class="logos-more">
      <a href="/work" class="button.button" data-internal>
        Our Work
      </a>
    </p>
  </section>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2 class="typography.headline-1">
            Services
          </h2>
          <p class="typography.lead">
            We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.
          </p>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Full-Stack Engineering
            </h3>
            <p class="typography.body-text">
              We turn our clients' ideas into successful products, working closely with them in short iterations.
            </p>
            <ArrowLink @href="/services/full-stack-engineering">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Team Augmentation
            </h3>
            <p class="typography.body-text">
              We turn our clients' ideas into successful products, working closely with them in short iterations.
            </p>
            <ArrowLink @href="/services/team-augmentation">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Tutoring
            </h3>
            <p class="typography.body-text">
              We turn our clients' ideas into successful products, working closely with them in short iterations.
            </p>
            <ArrowLink @href="/services/training">
              Learn More
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <p class="typography.small-text">
          Upcoming Events
        </p>
        <div class="card">
          <div class="card.image">
            <img class="fluid-image.image" src="/assets/images/emberfest.png" />
          </div>
          <h3 class="card.sub-heading">
            Meet Us at Emberfest 2019
          </h3>
          <p class="card.text">
            EmberFest is a great opportunity to get in touch with the European Ember Community.
          </p>
          <ArrowLink @href="/calendar">
            View Our Calendar
          </ArrowLink>
        </div>
      </div>
    </div>
  </div>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>