<div>
  <Header
    @title="simplabs – Digital Product Consultancy"
    @description="We are Europe’s leading mobile and web design & development consultancy. Our clients value code quality, dependability and honesty. We are trusted by Generali, Qonto, Trainline, and CLARK."
  >
    <HeaderContent>
      <h1 typography:class="display">
        Guiding projects and teams
        <span typography:class="nowrap">
          to sustainable success
        </span>
      </h1>
      <p typography:class="lead">
        simplabs is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.
      </p>
    </HeaderContent>
  </Header>

  <div layout:scope offset:class="after-21">
    <ShapeFeatureQonto @label="Featured Case Study" />

    <section layout:class="full" offset:class="before-5">
      <h2 typography:class="hidden">
        Selected clients
      </h2>
      <ul list:class="logos">
        <li list:class="logo">
          <img src="/assets/images/logos/qonto.svg" block:class="logo" alt="Qonto" />
        </li>
        <li list:class="logo">
          <img src="/assets/images/logos/trainline.svg" block:class="logo" alt="Trainline" />
        </li>
        <li list:class="logo">
          <img src="/assets/images/logos/timify.svg" block:class="logo" alt="Timify" />
        </li>
        <li list:class="logo">
          <img src="/assets/images/logos/cardstack.svg" block:class="logo" alt="Cardstack" />
        </li>
        <li list:class="logo">
          <img src="/assets/images/logos/generali.svg" block:class="logo" alt="Generali" />
        </li>
        <li list:class="logo">
          <img src="/assets/images/logos/experteer.svg" block:class="logo" alt="Experteer" />
        </li>
      </ul>
    </section>
  </div>

  <div layout:class="full">
    <h2>
      Crafting digital products that are built to last
    </h2>
    <p typography:class="lead" offset:class="after-21">
      Product excellence through digital experiences that are clean, dependable, and architected for scalability and extensibility.
    </p>
  </div>
  <div layout:class="main" offset:class="after-21">
    <h3>
      Digital products
    </h3>
    <p>
      Our team of experts delivers everything from ideation to design and engineering. We can turn any idea sketched on the back of a napkin into a final, shipped product.
    </p>
    <ArrowLink @href="/services/digital-products/" @leftAlign={{true}}>
      Learn More
    </ArrowLink>
    <h3>
      Team Augmentation
    </h3>
    <p>
      Our experts temporarily join your in-house engineering teams to increase code quality and throughput, and help sustainable lift team productivity.
    </p>
    <ArrowLink @href="/services/team-augmentation/" @leftAlign={{true}}>
      Learn More
    </ArrowLink>
    <h3>
      Training & Support
    </h3>
    <p>
      We train and tutor engineering teams to set them up for long term success. Support ranges from tailor-made workshops to code reviews and technical audits.
    </p>
    <ArrowLink @href="/services/training/" @leftAlign={{true}}>
      Learn More
    </ArrowLink>
  </div>
  <aside layout:class="side">
    <CardEmberSponsors />
  </aside>
  <WorkWithUs @teamMember="marco" />
  <Footer />
</div>