<div>
  <Header @title="Solid Solutions for Ambitious Projects">
    <p class="typography.lead">
      We deliver ambitious digital products on the web and mobile for our clients to rely on. Our expert team manages projects from idea to release, covering strategy, design and engineering.
    </p>
  </Header>
  <ShapeFeatureTrainline @label="Featured Case Study" />
  <section class="logos o.after-21">
    <ul class="logos-list">
      <li class="logos-logo">
        <img src="/assets/images/logos/trainline.svg" alt="Trainline" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/cardstack.svg" alt="Cardstack" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/generali.svg" alt="Generali" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/experteer.svg" alt="Experteer" />
      </li>
      <li class="logos-logo">
        <img src="/assets/images/logos/qonto.svg" alt="Qonto" />
      </li>
    </ul>
    <p class="logos-more">
      <a href="/work" class="button.button" data-internal>
        Our Work
      </a>
    </p>
  </section>
  <div class="container o.after-21">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2>
            Services
          </h2>
          <p class="typography.lead">
            We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.
          </p>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <h3>
              Full-Stack Engineering
            </h3>
            <p>
              We develop successful products to address our clients' business needs, working closely with them in short iterations.
            </p>
            <ArrowLink @href="/services/full-stack-engineering">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <h3>
              Team Augmentation
            </h3>
            <p>
              Our technology experts join our clients' in-house engineering teams, increasing productivity and sharing their expertise.
            </p>
            <ArrowLink @href="/services/team-augmentation">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <h3>
              Tutoring
            </h3>
            <p>
              We tutor product teams, raising their experience and confidence levels and laying the foundation for long term success.
            </p>
            <ArrowLink @href="/services/tutoring">
              Learn More
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <CardUpcomingEvents />
      </div>
    </div>
  </div>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>