<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="display">
          We have a track record of successful projects for international clients
        </h1>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content-full-width">
          <div class="main-block.content-item">
            <div class="main-block.content-heading">
              <h2 class="heading">
                Case Studies
              </h2>
              <p class="lead">
                We turn ideas into products and help tech teams move faster with confidence, enabling the long-term success of our clients' businesses.
              </p>
            </div>
            <!--heading-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  Leveraging Trainline's full market potential
                </h3>
                <p class="body-text">
                  Trainline is Europe’s leading independent rail and coach platform. We worked with them to deliver a high-performance mobile web app, along with an improved engineering process, enabling Trainline to achieve their business goals for years to come.
                </p>
                <a href="#" class="arrow-link">
                  Read Case Study
                </a>
                <div class="main-block.body-image">
                  <img class="image-fluid" src="assets/images/trainline-comp.jpg" />
                  <p class="main-block.body-image-caption">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <!--body-image-->
              </div>
            </div>
            <!--section-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  Modern online appointment scheduling
                </h3>
                <p class="body-text">
                  When Timify decided it was time to re-engineer their existing product, they trusted us to bring them into the future. We added engineering capacity and technology expertise to Timify's internal team and helped to build a solid foundation that enabled them to iterate fast and launch on-schedule, without sacrificing quality.
                </p>
                <a href="#" class="arrow-link">
                  Read Case Study
                </a>
                <div class="main-block.body-image">
                  <img class="image-fluid" src="assets/images/trainline-comp.jpg" />
                  <p class="main-block.body-image-caption">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <!--body-image-->
              </div>
            </div>
            <!--section-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  A modern UI for an open-source router firmware
                </h3>
                <a href="#" class="arrow-link">
                  Read Case Study
                </a>
              </div>
            </div>
            <!--section-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  An online travel magazine for global citizens
                </h3>
                <a href="#" class="arrow-link">
                  Read Case Study
                </a>
              </div>
            </div>
            <!--section-->
          </div>
          <!--content-item-->
        </div>
        <!--content-->
      </div>
      <!--main-block-->
      <div class="grid-block">
        <div class="grid-block.grid-heading">
          <h2 class="heading">
            Our Clients
          </h2>
        </div>
        <div class="grid-block.grid-section">
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
          <div class="grid-block.grid-item">
            Client
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--contents-->
</div>