@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: PageServices;
  composes: 'layout';
}

@export typography;
@export layout;
@export offset;
