<div>
  <Header @label="Services" @title="We turn ideas into products and help tech teams move faster with confidence" />
  <!--container-->
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              <a class="typography.title-link" href="/services/full-stack-engineering">
                Full-Stack Engineering
              </a>
            </h2>
            <p class="typography.body-text">
              We turn ideas into successful products, working closely with our clients in short iterations. Our expert team manages projects from idea to release, covering strategy, design and engineering.
            </p>
            <ArrowLink @href="/services/full-stack-engineering">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              <a class="typography.title-link" href="/services/team-augmentation">
                Team Augmentation
              </a>
            </h2>
            <p class="typography.body-text">
              Not all teams will always be able to deliver large scale projects on time and budget. Our experts step in and merge with our clients' in-house engineering teams, sustainably increasing productivity.
            </p>
            <ArrowLink @href="/services/team-augmentation">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              <a class="typography.title-link" href="/services/tutoring">
                Tutoring
              </a>
            </h2>
            <p class="typography.body-text">
              We tutor engineering teams and set them up for long term success by reviewing their code, guiding them through adopting new technologies, setting up a project or conducting workshops on various topics.
            </p>
            <ArrowLink @href="/services/tutoring">
              Learn More
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <CardPlaybook />
      </div>
    </div>
  </div>
  <ShapeAcrossPlaybook />
  <WorkWithUs />
  <Footer />
</div>