<div>
  <Header
    @active="services"
    @title="Services"
    @documentTitle="Full Stack Engineering & Tutoring & Team Augmentation | Our services"
    @description="We turns ideas into products, managing projects from start to end and helps tech teams move faster with confidence via Team Augmentation and Tuturing."
  >
    <HeaderContent
      @label="Services"
      @headline="We turn ideas into products and help tech teams move faster with confidence"
    />
  </Header>
  <section layout:class="main" offset:class="after-21">
    <h2>
      <a href="/services/full-stack-engineering/" link:scope data-internal>
        Full-Stack Engineering
      </a>
    </h2>
    <p>
      We turn ideas into successful products, working closely with our clients in short iterations. Our expert team manages projects from idea to release, covering strategy, design and engineering.
    </p>
    <ArrowLink @href="/services/full-stack-engineering/">
      Learn More
    </ArrowLink>
    <h2>
      <a href="/services/team-augmentation/" link:scope data-internal>
        Team Augmentation
      </a>
    </h2>
    <p>
      Not all teams will always be able to deliver large scale projects on time and budget. Our experts step in and merge with our clients' in-house engineering teams, sustainably increasing productivity.
    </p>
    <ArrowLink @href="/services/team-augmentation/">
      Learn More
    </ArrowLink>
    <h2>
      <a href="/services/tutoring/" link:scope data-internal>
        Tutoring
      </a>
    </h2>
    <p>
      We tutor engineering teams and set them up for long term success by reviewing their code, guiding them through adopting new technologies, setting up a project or conducting workshops on various topics.
    </p>
    <ArrowLink @href="/services/tutoring/">
      Learn More
    </ArrowLink>
  </section>
  <aside layout:class="side" offset:class="after-21">
    <CardPlaybook />
  </aside>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>