@block layout from "../../styles/blocks/layout.block.css";
@block media from "../../styles/blocks/media.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block size from "../../styles/blocks/size.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageEmberExpertise;
  composes: 'layout';
}

.sponsorship-announcement-text {
  display: flex;
  align-items: center;
}

@media (min-width: 888px) {
  .sponsorship-announcement-image {
    order: 1;
  }

  .sponsorship-announcement-text {
    order: 2;
  }
}

.shape-video-container {
  height: 100%;
}

.shape-video {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(80% 0, 100% 5%, 100% 100%, 0 80%, 0 14%);
  clip-path: polygon(80% 0, 100% 5%, 100% 100%, 0 80%, 0 14%);
}

@media (max-width: 887px) {
  .shape-video {
    margin-bottom: 50%;
  }
}

.video {
  object-fit: cover;
}

.service-image {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
}

@media (max-width: 887px) {
  .service {
    width: resolve('size.col-2');
    width: 100%;
  }

  .service-image {
    max-height: none;
  }
}

@export typography;
@export layout;
@export media;
@export offset;
@export size;
