@block layout from "../../styles/blocks/layout.block.css";
@block media from "../../styles/blocks/media.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block size from "../../styles/blocks/size.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageEmberExpertise;
  composes: 'layout';
}

.sponsorship-announcement-text {
  display: flex;
  align-items: center;
}

@media (min-width: 888px) {
  .sponsorship-announcement-image {
    order: 1;
  }

  .sponsorship-announcement-text {
    order: 2;
  }
}

@export typography;
@export layout;
@export media;
@export offset;
@export size;
