<div>
  <Header @title="Europe's leading Ember experts">
    <p class="typography.lead">
      simplabs has unique expertise and insights into Ember.js with a good part of our engineering team being on the Ember.js core team and maintaining widely adopted add-ons.
    </p>
    <p class="typography.lead">
      We help clients around the world getting the most out of Ember by building cutting edge applications for them, levelling up their in-house teams as well as reviewing their code bases and helping to identify and overcome impediments.
    </p>
  </Header>
  <div class="container offset.after-21">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2>
            We love open source
          </h2>
          <p class="typography.lead">
            Besides contributing to Ember.js via our core team engagements, we maintain a number of projects in the ecosystem that are widely adopted throughout the Ember community.
          </p>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-image">
              <img
                class="fluid-image.image"
                src="/assets/images/icons/ember-simple-auth.svg"
                alt="logo of ember-simple-auth"
               />

            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Ember Simple Auth
            </h3>
            <p>
              Authentication management for Ember.js applications.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-simple-auth">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <!--content-section-->
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-image">
              <img
                class="fluid-image.image"
                src="/assets/images/icons/ember-test-selectors.svg"
                alt="logo of ember-test-selectors"
               />

            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Ember Test Selectors
            </h3>
            <p>
              Enabling better element selectors in Ember.js tests.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-test-selectors">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-image">
              <img class="fluid-image.image" src="/assets/images/icons/ember-cookies.svg" alt="logo of ember-cookies" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Ember Cookies
            </h3>
            <p>
              Cookie handling for Ember.js apps - in the browser and FastBoot.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-cookies">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-image">
              <img class="fluid-image.image" src="/assets/images/icons/qunit-dom.svg" alt="logo of qunit-dom" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Qunit DOM
            </h3>
            <p>
              High Level DOM Assertions for QUnit.
            </p>
            <ArrowLink @href="https://github.com/simplabs/qunit-dom">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <CardUpcomingEvents />
      </div>
    </div>
  </div>
  <ShapeFeatureEmberDocumentary />
  <div class="container offset.after-21">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2>
            We share our expertise
          </h2>
          <p class="typography.lead">
            Every new project gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences, at meetups and on our blog.
          </p>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <h3>
              Conference Talks
            </h3>
            <p>
              simplabs engineers have spoken at all major Ember.js conferences and other events in the wider JavaScript community.
            </p>
            <ArrowLink @href="/talks">
              View Talks
            </ArrowLink>
          </div>
          <!--item-->
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <h3>
              Community Engagement
            </h3>
            <p>
              Ember.js is a project built by an open community and we are an active member of the community. We support the
              <a href="https://www.meetup.com/Ember-js-Munich/" rel="noopener">
                Ember.js Munich
              </a>
              and
              <a href="https://www.meetup.com/Ember-js-Berlin/" rel="noopener">
                Ember.js Berlin
              </a>
              meetups and are co-organizers of
              <a href="http://emberfest.eu" rel="noopener">
                EmberFest
              </a>
              , the european Ember Community Conference.
            </p>
            <ArrowLink @href="/calendar">
              View Our Calendar
            </ArrowLink>
          </div>
          <!--item-->
        </div>
      </div>
      <div class="main-block.sidebar">
        <Card @label="From our Blog" @src="/assets/images/card/ember.svg" @alt="Ember.js" />
        <RecentPostsEmber />
      </div>
    </div>
  </div>
  <ClientsGrid @title="We are trusted by companies that bet on Ember" @only="trainline,qonto,cardstack" />
  <div class="container offset.after-21">
    <div class="main-block">
      <div class="main-block.content-full-width">
        <div class="main-block.content-heading">
          <h2>
            We help teams ship and become more effective
          </h2>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-2">
              <img class="fluid-image.image" src="/assets/images/photos/tobi.jpg" alt="team member with laptop photo" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Team Augmentation
            </h3>
            <p>
              Not all teams will always be able to deliver large scale projects on time and budget. Our experts step in and merge with our clients' in-house engineering teams, sustainably increasing productivity.
            </p>
            <ArrowLink @href="/services/team-augmentation">
              Learn More
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-row">
          <div class="main-block.content-col">
            <div class="main-block.content-col-2">
              <img
                class="fluid-image.image"
                src="/assets/images/photos/tutoring-small.jpg"
                alt="tutoring session with laptop photo"
               />

            </div>
          </div>
          <!--item-->
          <div class="main-block.content-col">
            <h3>
              Tutoring
            </h3>
            <p>
              We also tutor engineering teams and set them up for long term success by reviewing their code, guiding them through adopting new technologies, setting up a project or conducting workshops on various topics.
            </p>
            <ArrowLink @href="/services/tutoring">
              Learn More
            </ArrowLink>
          </div>
        </div>
      </div>
    </div>
  </div>
  <WorkWithUs />
  <Footer />
</div>