<div>
  <Header @title="Europe's leading Ember experts">
    <p class="typography.lead">
      simplabs has unique expertise and insights into Ember.js with a good part of our engineering team being on the Ember.js core team and maintaining widely adopted addons.
    </p>
    <p class="typography.lead">
      We help clients around the world getting the most out of Ember by building cutting edge applications for them, levelling up their in-house teams as well as reviewing their code bases and helping to identify and overcome impediments.
    </p>
  </Header>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2 class="typography.headline-1">
            We love open source
          </h2>
          <p class="typography.lead">
            Besides contributing to Ember.js via our core team engagements, we maintain a number of projects in the ecosystem that are widely adopted throughout the Ember community.
          </p>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img src="/assets/images/icons/ember-simple-auth.svg" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Ember Simple Auth
            </h3>
            <p class="typography.body-text">
              Authentication management for Ember.js applications.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-simple-auth">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <!--content-section-->
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img src="/assets/images/icons/ember-test-selectors.svg" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Ember Test Selectors
            </h3>
            <p class="typography.body-text">
              Enabling better element selectors in Ember.js tests.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-test-selectors">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img src="/assets/images/icons/ember-cookies.svg" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Ember Cookies
            </h3>
            <p class="typography.body-text">
              Cookie handling for Ember.js apps - in the browser and FastBoot.
            </p>
            <ArrowLink @href="https://github.com/simplabs/ember-cookies">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <div class="main-block.content-section-image">
              <img src="/assets/images/icons/qunit-dom.svg" />
            </div>
          </div>
          <!--item-->
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Qunit DOM
            </h3>
            <p class="typography.body-text">
              High Level DOM Assertions for QUnit.
            </p>
            <ArrowLink @href="https://github.com/simplabs/qunit-dom">
              View GitHub Project
            </ArrowLink>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar">
        <CardUpcomingEvents />
      </div>
    </div>
  </div>
  <ShapeFeatureEmberDocumentary />
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-heading">
          <h2 class="typography.headline-1">
            We share our expertise
          </h2>
          <p class="typography.lead">
            Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences and meetups and on our blog.
          </p>
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Conference Talks
            </h3>
            <p class="typography.body-text">
              simplabs engineers have spoken at all major Ember.js conferences and other events in the wider JavaScript community.
            </p>
            <ArrowLink @href="/talks">
              View Talks
            </ArrowLink>
          </div>
          <!--item-->
        </div>
        <div class="main-block.content-section">
          <div class="main-block.content-section-item">
            <h3 class="typography.headline-2">
              Community Engagement
            </h3>
            <p class="typography.body-text">
              Ember.js is a project built by an open community and we are an active member of the community. We support the
              <a href="https://www.meetup.com/Ember-js-Munich/" class="typography.link">
                Ember.js Munich
              </a>
              and
              <a href="https://www.meetup.com/Ember-js-Berlin/" class="typography.link">
                Ember.js Berlin
              </a>
              meetups are are co-organizers of
              <a href="http://emberfest.eu" class="typography.link">
                EmberFest
              </a>
              , the european Ember Community Conference.
            </p>
            <ArrowLink @href="#">
              View Our Calendar
            </ArrowLink>
          </div>
          <!--item-->
        </div>
      </div>
      <div class="main-block.sidebar">
        <div class="card">
          <p class="typography.small-text">
            From our Blog
          </p>
          <div class="card.image">
            <img class="fluid-image.image" src="/assets/images/card/ember.svg" />
          </div>
          <RecentPostsEmber />
        </div>
      </div>
    </div>
  </div>
  <ClientsGrid @title="We are trusted by companies that bet on Ember" @only="trainline,qonto,cardstack" />
  <WorkWithUs />
  <Footer />
</div>