<div>
  <Header
    @title="Augment your team with top Ember.js experts"
    @documentTitle="Europe's leading Ember experts | Ember consulting"
    @description="Temporarily extend your team with Europe's leading Ember experts. Speed up projects and remove long-standing issues – from refactoring to shipping new features."
    @backgroundVariation="pointed"
  >
    <HeaderContent
      @headline="Europe's leading Ember experts"
      @label="Ember.js"
      @attachment="image"
      @srcset="/assets/images/photos/marco@600.jpg 600w, /assets/images/photos/marco@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px"
    >
      <p typography:class="lead">
        simplabs has unique expertise and insights into Ember.js with a good part of our engineering team being on the Ember.js core team and maintaining widely adopted add-ons.
      </p>
      <p typography:class="lead" offset:class="after-5">
        By offering Ember consulting and training, we help clients around the world to get the most out of Ember and build cutting-edge applications. We level up and help scale teams and support clients with reviewing codebases as well as identifying and overcoming impediments.
      </p>
    </HeaderContent>
  </Header>

  <div layout:scope>
    <div layout:class="split-trailing" offset:class="after-5" block:class="sponsorship-announcement-text">
      <div>
        <p typography:class="small">
          Project Sponsorship
        </p>
        <p typography:class="lead">
          We recently have been recognized as an official sponsor of the Ember.js project along with international brands like LinkedIn and Yahoo.
        </p>
        <ArrowLink @href="https://emberjs.com/sponsors">
          See all Ember.js sponsors
        </ArrowLink>
      </div>
    </div>
    <div layout:class="bleed-left" offset:class="after-21" block:class="sponsorship-announcement-image">
      <ShapeImage
        @srcset="/assets/images/photos/laptop-detail@600.jpg 600w, /assets/images/photos/laptop-detail@1200.jpg 1200w"
        @sizes="(max-width: 887px) 600px, 1200px)"
        @align="left"
      />
    </div>
  </div>

  <div layout:class="full" offset:class="after-21">
    <h2>
      We love open source
    </h2>
    <p typography:class="lead">
      Besides contributing to Ember.js via our core team engagements, we maintain a number of projects in the ecosystem that are widely adopted throughout the Ember community.
    </p>
  </div>

  <div layout:scope offset:class="after-21">
    <div layout:class="split-leading">
      <div media:scope offset:class="after-12">
        <img media:class="item" src="/assets/images/icons/ember-simple-auth.svg" alt="" />
        <div media:class="body">
          <h3>
            Ember Simple Auth
          </h3>
          <p>
            Authentication management for Ember.js applications.
          </p>
          <ArrowLink @href="https://github.com/simplabs/ember-simple-auth">
            View GitHub Project
          </ArrowLink>
        </div>
      </div>
      <div media:scope offset:class="after-12">
        <img media:class="item" src="/assets/images/icons/ember-cookies.svg" alt="" />
        <div media:class="body">
          <h3>
            Ember Cookies
          </h3>
          <p>
            Cookie handling for Ember.js apps - in the browser and FastBoot.
          </p>
          <ArrowLink @href="https://github.com/simplabs/ember-cookies">
            View GitHub Project
          </ArrowLink>
        </div>
      </div>
    </div>
    <div layout:class="split-trailing">
      <div media:scope offset:class="after-12">
        <img media:class="item" src="/assets/images/icons/ember-test-selectors.svg" alt="" />
        <div media:class="body">
          <h3>
            Ember Test Selectors
          </h3>
          <p>
            Enabling better element selectors in Ember.js tests.
          </p>
          <ArrowLink @href="https://github.com/simplabs/ember-test-selectors">
            View GitHub Project
          </ArrowLink>
        </div>
      </div>

      <div media:scope offset:class="after-12">
        <img media:class="item" src="/assets/images/icons/qunit-dom.svg" alt="" />
        <div media:class="body">
          <h3>
            Qunit DOM
          </h3>
          <p>
            High Level DOM Assertions for QUnit with an expressive API.
          </p>
          <ArrowLink @href="https://github.com/simplabs/qunit-dom">
            View GitHub Project
          </ArrowLink>
        </div>
      </div>
    </div>
  </div>

  <div layout:scope offset:class="after-21">
    <div layout:class="split-leading" offset:class="after-5">
      <div>
        <p typography:class="small">
          Ember.js: The Documentary
        </p>
        <p typography:class="lead">
          Several of your team members appear in the Ember.js documentary. We were pleased to welcome the film crew at our office in Munich and again at EmberFest in Amsterdam for shooting scenes.
        </p>
        <ArrowLink @href="https://youtu.be/Cvz-9ccflKQ">
          Watch the Video
        </ArrowLink>
      </div>
    </div>
    <div layout:class="bleed-right" block:class="shape-video-container">
      <div block:class="shape-video">
        <video
          playsinline
          autoplay
          muted
          loop
          preload
          block:class="video"
          poster="/assets/images/ember/emberdoc-simplabs.poster.jpg"
        >
          <source src="/assets/images/ember/emberdoc-simplabs.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div layout:class="main" offset:class="after-21">
    <h2>
      We share our expertise
    </h2>
    <p typography:class="lead">
      Every new project gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences, at meetups and on our blog.
    </p>
    <h3>
      Conference Talks
    </h3>
    <p>
      simplabs engineers have spoken at all major Ember.js conferences and other events in the wider JavaScript community.
    </p>
    <ArrowLink @href="/talks/">
      View Talks
    </ArrowLink>
    <h3>
      Community Engagement
    </h3>
    <p>
      Ember.js is a project built by an open community and we are an active member of the community. We support the
      <a href="https://www.meetup.com/Ember-js-Munich/" rel="noopener">
        Ember.js Munich
      </a>
      and
      <a href="https://www.meetup.com/Ember-js-Berlin/" rel="noopener">
        Ember.js Berlin
      </a>
      meetups and are co-organizers of
      <a href="http://emberfest.eu" rel="noopener">
        EmberFest
      </a>
      , the european Ember Community Conference.
    </p>
    <ArrowLink @href="/calendar/">
      View Our Calendar
    </ArrowLink>
  </div>
  <div layout:class="side" offset:class="after-21">
    <p typography:class="small">
      Latest from our Blog
    </p>
    <RecentPostsEmber />
  </div>
  <ClientsGrid @title="We are trusted by companies that bet on Ember" @only="generali,qonto,cardstack" />
  <div layout:class="full" offset:class="after-21">
    <h2>
      We help teams ship and become more effective
    </h2>
    <div media:scope offset:class="after-12">
      <figure size:class="col-2" media:class="item" offset:class="after-3" block:class="service">
        <img block:class="service-image" src="/assets/images/photos/tutoring-content@600.jpg" alt="" />
      </figure>

      <div media:class="body">
        <h3>
          Ember Consulting
        </h3>
        <p>
          Not all teams will always be able to deliver large scale projects on time and budget. Our experts step in and merge with our clients' in-house engineering teams, sustainably increasing productivity.
        </p>
        <ArrowLink @href="/services/team-augmentation/">
          Learn More about Ember Consulting
        </ArrowLink>
      </div>
    </div>
    <div media:scope>
      <figure size:class="col-2" media:class="item" offset:class="after-3" block:class="service">
        <img block:class="service-image" src="/assets/images/photos/tutoring@600.jpg" alt="" />
      </figure>

      <div media:class="body">
        <h3>
          Ember Training and Mentoring
        </h3>
        <p>
          We also tutor engineering teams and set them up for long term success by reviewing their code, guiding them through adopting new technologies, setting up a project or conducting workshops on various topics.
        </p>
        <ArrowLink @href="/services/training/">
          Learn More
        </ArrowLink>
      </div>
    </div>
  </div>
  <WorkWithUs @teamMember="ricardo" />

  <Footer />
</div>