<div>
  <Header
    @title="Europe's leading Ember experts | Ember consulting"
    @description="simplabs are Europe's leading Ember experts with unique expertise and insights with a good part of our engineering team being on the Ember.js core team."
  >
    <HeaderContent @headline="Europe's leading Ember experts" @label="Ember.js">
      <p class="typography.lead">
        simplabs has unique expertise and insights into Ember.js with a good part of our engineering team being on the Ember.js core team and maintaining widely adopted add-ons.
      </p>
      <p class="typography.lead">
        We help clients around the world getting the most out of Ember by building cutting edge applications for them, levelling up their in-house teams as well as reviewing their code bases and helping to identify and overcome impediments.
      </p>
    </HeaderContent>
  </Header>
  <div class="layout.main offset.after-7">
    <h2>
      We love open source
    </h2>
    <p class="typography.lead offset.after-6">
      Besides contributing to Ember.js via our core team engagements, we maintain a number of projects in the ecosystem that are widely adopted throughout the Ember community.
    </p>
    <div class="media offset.after-5">
      <img class="media.item" src="/assets/images/icons/ember-simple-auth.svg" alt="" />
      <div class="media.body">
        <h3>
          Ember Simple Auth
        </h3>
        <p>
          Authentication management for Ember.js applications.
        </p>
        <ArrowLink @href="https://github.com/simplabs/ember-simple-auth">
          View GitHub Project
        </ArrowLink>
      </div>
    </div>
    <div class="media offset.after-5">
      <img class="media.item" src="/assets/images/icons/ember-test-selectors.svg" alt="" />
      <div class="media.body">
        <h3>
          Ember Test Selectors
        </h3>
        <p>
          Enabling better element selectors in Ember.js tests.
        </p>
        <ArrowLink @href="https://github.com/simplabs/ember-test-selectors">
          View GitHub Project
        </ArrowLink>
      </div>
    </div>
    <div class="media offset.after-5">
      <img class="media.item" src="/assets/images/icons/ember-cookies.svg" alt="" />
      <div class="media.body">
        <h3>
          Ember Cookies
        </h3>
        <p>
          Cookie handling for Ember.js apps - in the browser and FastBoot.
        </p>
        <ArrowLink @href="https://github.com/simplabs/ember-cookies">
          View GitHub Project
        </ArrowLink>
      </div>
    </div>
    <div class="media offset.after-5">
      <img class="media.item" src="/assets/images/icons/qunit-dom.svg" alt="" />
      <div class="media.body">
        <h3>
          Qunit DOM
        </h3>
        <p>
          High Level DOM Assertions for QUnit.
        </p>
        <ArrowLink @href="https://github.com/simplabs/qunit-dom">
          View GitHub Project
        </ArrowLink>
      </div>
    </div>
  </div>
  <div class="layout.side offset.after-21">
    <CardEmberSponsors />
  </div>
  <ShapeFeatureEmberDocumentary />
  <div class="layout.main offset.after-7">
    <h2>
      We share our expertise
    </h2>
    <p class="typography.lead">
      Every new project gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences, at meetups and on our blog.
    </p>
    <h3>
      Conference Talks
    </h3>
    <p>
      simplabs engineers have spoken at all major Ember.js conferences and other events in the wider JavaScript community.
    </p>
    <ArrowLink @href="/talks/">
      View Talks
    </ArrowLink>
    <h3>
      Community Engagement
    </h3>
    <p>
      Ember.js is a project built by an open community and we are an active member of the community. We support the
      <a href="https://www.meetup.com/Ember-js-Munich/" rel="noopener">
        Ember.js Munich
      </a>
      and
      <a href="https://www.meetup.com/Ember-js-Berlin/" rel="noopener">
        Ember.js Berlin
      </a>
      meetups and are co-organizers of
      <a href="http://emberfest.eu" rel="noopener">
        EmberFest
      </a>
      , the european Ember Community Conference.
    </p>
    <ArrowLink @href="/calendar/">
      View Our Calendar
    </ArrowLink>
  </div>
  <div class="layout.side offset.after-7">
    <Card @label="From our Blog" @src="/assets/images/card/ember.svg" @alt="Ember.js" />
    <RecentPostsEmber />
  </div>
  <ClientsGrid @title="We are trusted by companies that bet on Ember" @only="trainline,qonto,cardstack" />
  <div class="layout.full offset.after-7">
    <h2>
      We help teams ship and become more effective
    </h2>
    <div class="media offset.after-5">
      <img
        class="media.item size.col-2 offset.after-3"
        class="fluid-image.image"
        src="/assets/images/photos/laptop-detail.jpg"
        alt=""
       />

      <div class="media.body">
        <h3>
          Team Augmentation
        </h3>
        <p>
          Not all teams will always be able to deliver large scale projects on time and budget. Our experts step in and merge with our clients' in-house engineering teams, sustainably increasing productivity.
        </p>
        <ArrowLink @href="/services/team-augmentation/">
          Learn More
        </ArrowLink>
      </div>
    </div>
    <div class="media">
      <img class="media.item size.col-2 offset.after-3" src="/assets/images/photos/tutoring-small.jpg" alt="" />
      <div class="media.body">
        <h3>
          Tutoring
        </h3>
        <p>
          We also tutor engineering teams and set them up for long term success by reviewing their code, guiding them through adopting new technologies, setting up a project or conducting workshops on various topics.
        </p>
        <ArrowLink @href="/services/tutoring/">
          Learn More
        </ArrowLink>
      </div>
    </div>
  </div>
  <WorkWithUs />
  <Footer />
</div>