<ShapeFeature>
  <ShapeFeatureContent
    @srcset="/assets/images/work/qonto-alternative@800.jpg 800w, /assets/images/work/qonto-alternative@1600.jpg 1600w"
    @sizes="(max-width: 887px) 800px, 1600px"
    @srcAlt="the Qonto app on a notebook screen"
  >
    <h2 typography:class="small">
      {{@label}}
    </h2>
    <h3>
      Co-Engineering the Future of Banking for SMEs
    </h3>
    <p>
      Empowering Qonto's ambitious engineers to achieve their goals
    </p>
    <ArrowLink @href="/cases/qonto/">
      Read Case Study
    </ArrowLink>
  </ShapeFeatureContent>
</ShapeFeature>