@block figure from "../../styles/blocks/figure.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageCaseStudyQonto;
  composes: 'layout';
}

@media (min-width: 888px) {
  .vertical-offset {
    padding-top: 51rem;
  }

  .padding-bottom-for-shape {
    padding-bottom: 51rem;
  }
}

@export typography;
@export offset;
@export layout;
@export figure;
