@import "custom.variables";
@import "../../../node_modules/bootstrap/scss/variables";

.btn {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.btn-see-our-work {
  background-color: $white;
  border: 2px solid $blue;
  color: $blue;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: #006cd9;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.btn-contact-us {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $blue;
    border: 2px solid $blue;
    color: $white;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.btn-ghost-white {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $blue;
    border: 2px solid $blue;
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.btn-light {
  background-color: $grey;
  border: 2px solid $grey;
  color: $blue;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $blue-active;
    border-color: $blue-active;
    color: $white;
  }

  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

.btn-submit,
.btn-go-back {
  padding: 0.625rem 3.125rem;
}

.btn-cookie-banner {
  border: 2px solid $text;
  padding: .125rem 1rem;
  font-weight: $font-weight-normal;

  &:hover {
    background-color: $black;
    border-color: $black;
    color: $grey !important;
  }
}