h1, .h1 {
  font-size: 2rem; // 32px
  letter-spacing: 3px;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2, .h2 {
  font-size: 1.5rem; // 24px
  letter-spacing: 2px;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3, .h3 {
  font-size: 1.25rem; // 20px
  letter-spacing: 1px;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4, .h4 {
  font-size: 1rem; // 16px

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

h5, .h5 {
  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
  }
}

h6, .h6 {
  font-size: 1rem; // 16px

  @include media-breakpoint-up(md) {
    font-size: $h6-font-size;
  }
}

p {
  margin-bottom: 2em;
}


