<div>
  <Header
    @active="services"
    @title="Full-Stack Engineering"
    @documentTitle="Full-Stack Engineering | Services"
    @description="Our expert team guides clients through the complete project from idea to release, managing everything from concept and design to engineering and operations."
  >
    <HeaderContent @label="Services" @headline="Full-Stack Engineering" />
  </Header>
  <div class="layout.main offset.after-21">
    <h2>
      Ambitious software solutions – From Idea to Release
    </h2>
    <p class="typography.lead">
      Software plays an ever more important role in all kinds of business and companies need to stand out from the competition - be it ensuring maximum effectiveness of internal tools or delivering cutting edge digital experiences to their customers.
    </p>
    <p class="typography.lead">
      simplabs builds cutting edge software solutions for clients around the world. Our team of experts delivers everything from ideation to design and engineering, guiding our clients along the way.
    </p>
  </div>
  <div class="layout.side offset.after-21">
    <h3>
      Want to know how we can turn your idea into a successful digital product?
    </h3>
    <p>
      Leave us a message and we'll get back to you to discuss your project.
    </p>
    <FormContact />
  </div>
  <ShapeAcrossFullStackService />
  <div class="layout.main offset.after-21">
    <h2>
      Why simplabs?
    </h2>
    <p class="typography.lead">
      simplabs has unique expertise and insights into all aspects of building modern edge web applications. Our engineers are highly experienced and internationally known for their work on all parts of the software development process, often sharing their knowledge at conferences and events across the globe.
    </p>
    <h3>
      Instant Productivity
    </h3>
    <p>
      Working with us, our clients get instant access to an experienced team of experts that has worked together for years. We are ready to be productive from day one.
    </p>
    <p>
      We maintain a lean process that we guide our clients through, making sure their needs are met and correctly translated into project requirements. We leverage mechanisms like design sprints and ideation workshops to define the solution that best solves our clients' business problems. We make clients a part of the engineering process, by giving insight into the status and checking in frequently to avoid misunderstandings.
    </p>
    <h3>
      Expert Know-How
    </h3>
    <p>
      simplabs has a proven track record across the entire software development process. Whether it be designing a compelling user interface and user experience, to engineering backend systems that can stand up in the face of global attention, to making the product easily extensible to allow rapid changes in the application: we’ve done it before.
    </p>
  </div>
  <div class="layout.side offset-top">
    <Card
      @label="Playbook"
      @title="The steps to instant productivity"
      @src="/assets/images/card/instant-productivity.jpg"
      @alt=""
    >
      <p>
        We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to deliver ambitious software solutions for our clients.
      </p>
      <ArrowLink @href="/playbook/">
        Read our Playbook
      </ArrowLink>
    </Card>
  </div>
  <ClientsGrid
    @title="We have a track record of successful projects for international clients"
    @only="generali,qonto,clark"
  />

  <div class="layout.split-leading">
    <h2>
      <a href="/cases/timify/" data-internal>
        Modern online appointment scheduling
      </a>
    </h2>
  </div>
  <div class="layout.split-trailing offset.after-5">
    <p class="typography.lead">
      Timify is an online appointment scheduling service that connects service providers with clients. When they decided it was time to re-engineer their existing product, they trusted us to set them up for future success.
    </p>
    <ArrowLink @href="/cases/timify/">
      Read Case Study
    </ArrowLink>
  </div>
  <ShapeBold
    @backgroundA="#2A4058"
    @backgroundB="#CB3B43"
    @srcset="/assets/images/work/timify@600.png 600w, /assets/images/work/timify@1200.png 1200w"
    @sizes="(max-width: 887px) 600px, 1200px"
    @logo="/assets/images/logos/timify.svg"
    @logoAlt="Timify"
    @logoLabel="Web App"
    @reverse="true"
    @key="boldTimify"
  />

  <WorkWithUs
    @srcset="/assets/images/photos/chris@900.png 604w, /assets/images/photos/chris@1800.png 1208w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @srcAlt="Chris"
  />

  <Footer />
</div>