@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: HeaderContent;

  margin-top: var(--o-3);
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 887px) {
  :scope {
    grid-column: 2/-2;
  }
}

@media (min-width: 888px) {
  :scope {
    margin-top: var(--o-7);
    margin-bottom: var(--o-7);
  }
}
