@block typography from "../../styles/blocks/typography.block.css";
@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: HeaderContent;
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
  grid-column: 1/-1;
  --shape-color: var(--color-accent);
}

.container {
  margin-bottom: 0;
  composes: 'layout';
}

.content {
  grid-column: 2/-2;
}

.sidebar {
  grid-column: 5/-2;
  margin-bottom: 12rem;
}

.top {
  width: 100%;
  padding-top: 15%;
  margin-bottom: -1px;
  background: var(--shape-color);

  clip-path: polygon(100% 100%, 100% 20%, 90% 0px, 0 100%);
  -webkit-clip-path: polygon(100% 100%, 100% 20%, 90% 0px, 0 100%);
}

.bottom {
  width: 100%;
  padding-bottom: 12.5%;
  margin-top: -1px;
  background: var(--shape-color);

  clip-path: polygon(-1% 0, 100% 0, 100% 100%);
  -webkit-clip-path: polygon(-1% 0, 100% 0, 100% 100%);
}

.middle {
  background: var(--shape-color);
  padding-bottom: 4rem;
  height: 75%;
}

.background {
  width: calc(2 * var(--col-gap) + 3 * var(--col) - var(--offset-horizontal));
  position: absolute;
  right: 0;
  top: 0;
  bottom: -12rem;
}

.image-wrapper {
  z-index: 1;
  width: 100%;
  position: relative;
}

.image {
  position: absolute;
  height: 100%;
  width: auto;
}

:scope[attachment='blue-ribbon'] .image-wrapper {
  clip-path: polygon(40% 0, 100% 20%, 100% 90%, 60% 98.5%, 0 90%, 0 10%);
  -webkit-clip-path: polygon(40% 0, 100% 20%, 100% 90%, 60% 98.5%, 0 90%, 0 10%);
  padding-bottom: 80%;
}

:scope[attachment='image'] .sidebar {
  grid-column: 5/-1;
}

:scope[attachment='image'] .image-wrapper {
  clip-path: polygon(0 10%, 0 90%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(0 10%, 0 90%, 100% 100%, 100% 0);
  padding-bottom: 120%;
}

@media (max-width: 887px) {
  .sidebar {
    margin-bottom: 0;
  }

  :scope[attachment='blue-ribbon'] .sidebar {
    grid-column: 1/-1;
    position: relative;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    column-gap: var(--col-gap);
  }

  :scope[attachment='image'] .sidebar {
    grid-column: 2/-1;
  }

  :scope[attachment='blue-ribbon'] .image-wrapper {
    grid-column: 2/-2;
  }

  :scope[attachment='image'] .image-wrapper {
    clip-path: polygon(0 14%, 0 86%, 100% 99%, 100% 1%);
    -webkit-clip-path: polygon(0 14%, 0 86%, 100% 99%, 100% 1%);
    padding-bottom: 100%;
  }

  .background {
    width: auto;
    left: calc(var(--col-gap) + 2 * var(--col));
    bottom: -5rem;
    right: 0;
  }
}

@media (min-width: 888px) {
  :scope {
    margin: 10rem 0 0;
  }

  :scope[attachment='image'] .content {
    grid-column: 2/-5;
  }

  :scope[attachment='blue-ribbon'] .content {
    grid-column: 2/-5;
  }

  :scope[attachment='blue-ribbon'] .image-wrapper {
    margin-left: 5rem;
  }
}

@export typography;
