@block button from "../../styles/blocks/button.block.css";
@block form from "../../styles/blocks/form.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: FormContact;
  extends: form;
}

:scope[form='success'] {
  color: inherit;
}

.spinner {
  display: none;
}

.error,
.item-error {
  color: var(--color-error);
  font-size: var(--p);
  line-height: var(--p-lh);

  --color-link: var(--color-error);
}

.error {
  margin: 0 0 4rem;
  padding: 2rem 3rem;
  border: 2px solid var(--color-error);
}

.item-error {
  margin-top: 0.5rem;
}

:scope[form='error'] .error {
  display: block;
}

.label[error] {
  color: var(--color-error);
}

.control[error] {
  border-color: var(--color-error);
  color: var(--color-error);
}

:scope[form='submitting'] .item {
  opacity: 0.35;
}

:scope[form='submitting'] .spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  animation: rotate 0.6s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 887px) {
  .control {
    font-size: var(--label);
    line-height: var(--label-lh);
  }
}

@export typography;
@export button;
