@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: Header;
  z-index: 10;
  position: relative;
  grid-column: 2/-2;
}

.navbar {
  font-size: 2rem;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  --img: var(--color-accent);
  --type: var(--color-primary);
  margin: 0;
}

.logo,
.logo-svg {
  display: block;
}

.logo:focus,
.logo:hover {
  background: none;
}

.logo-type {
  fill: var(--type);
}

.logo-image {
  fill: var(--img);
}

.logo-type,
.logo-image {
  transition: fill 0.2s;
}

.toggler {
  --color: var(--color-accent);

  position: relative;
  display: none;
  width: 3rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  border: 2px solid var(--color);
  outline: 1rem solid var(--color-background);
  background: var(--color-background);
  border-width: 2px 0;
  overflow: hidden;
  text-indent: 999rem;
  white-space: nowrap;
  transition: all 0.275s;
}

.toggler:after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: var(--color);
  content: '';
  transform: translate(0, -1px);
  transition: all 0.275s;
}

.nav {
  margin-left: auto;
  width: 100%;
}

.work-with-us {
  composes: 'button';
}

@media (max-width: 887px) {
  :scope,
  .navbar,
  .wrapper {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: var(--grid-template-columns);
    column-gap: var(--col-gap);
  }

  .brand {
    grid-column: 2/-2;
    padding: 3rem var(--offset-horizontal);
  }

  .toggler {
    display: block;
  }

  .nav {
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
  }

  .nav:before {
    position: absolute;
    bottom: -50vw;
    display: block;
    width: 100%;
    height: 50vw;
    margin-top: -10px;
    background: 50% 0% no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='320' height='148' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23007df6' d='M0 0h320v10L240.5 148 0 10z' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    content: '';
    clear: both;
  }

  .nav-item,
  .work-with-us {
    float: left;
    clear: both;
    left: 50%;
    transform: translate(-50%);
  }

  .nav:after {
    float: none;
    clear: both;
    display: block;
    content: '';
  }

  .nav-item,
  .nav-item:link,
  .nav-item:visited,
  .nav-item:focus,
  .nav-item:hover {
    color: var(--color-link-inverted);
  }

  .nav-item[active],
  .work-with-us[active] {
    box-shadow: 0 calc(2rem + 2px) 0 -2rem var(--color-link-inverted);
  }
}

@media (min-width: 888px) {
  .wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 0 0;
  }

  .nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  .nav-item[active] {
    box-shadow: 0 2px 0 0 var(--color-accent);
  }

  .nav-item,
  .nav-item:link,
  .nav-item:visited {
    color: var(--color-primary);
    margin-left: 4rem;
    text-decoration: none;
  }

  .nav-item:focus,
  .nav-item:hover {
    color: var(--color-link);
  }

  .work-with-us {
    margin-left: auto;
  }
}
