@block button from "../../styles/blocks/button.block.css";
@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: Header;
  position: relative;
  grid-column: 1/-1;
  composes: 'layout';
  margin-bottom: 10rem;
}

.navbar {
  font-size: 2rem;
  grid-column: 2/-2;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  --img: var(--color-accent);
  --type: var(--color-primary);
  margin: 0;
}

.logo,
.logo-svg {
  display: block;
}

.logo:focus,
.logo:hover {
  background: none;
}

.logo-type {
  fill: var(--type);
}

.logo-image {
  fill: var(--img);
}

.logo-type,
.logo-image {
  transition: fill 0.2s;
}

.toggler {
  --color: var(--color-accent);

  position: relative;
  display: none;
  width: 3rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  border: 2px solid var(--color);
  outline: 1rem solid var(--color-background);
  background: var(--color-background);
  border-width: 2px 0;
  overflow: hidden;
  text-indent: 999rem;
  white-space: nowrap;
  transition: all 0.275s;
}

.toggler:after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: var(--color);
  content: '';
  transform: translate(0, -1px);
  transition: all 0.275s;
}

.nav {
  margin-left: auto;
  width: 100%;
}

.work-with-us {
  composes: 'button';
}

.bottom {
  width: 100%;
  padding-bottom: 10%;
  margin-top: -1px;
  grid-column: 1/-1;
}

:scope[backgroundVariation] {
  background-color: var(--color-light);
}

:scope[backgroundVariation] .bottom {
  margin-top: 6rem;
  background-color: var(--color-background);
}

.bottom[backgroundVariation='inclined'] {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.bottom[backgroundVariation='pointed'] {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 100%, 0 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 100%, 0 0);
}

@media (max-width: 887px) {
  :scope,
  .navbar,
  .wrapper {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: var(--grid-template-columns);
    column-gap: var(--col-gap);
  }

  .brand {
    grid-column: 2/-2;
    padding: 3rem var(--offset-horizontal);
  }

  .toggler {
    display: block;
  }

  .nav {
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
  }

  .nav-item,
  .work-with-us {
    float: left;
    clear: both;
    left: 50%;
    transform: translate(-50%);
  }

  .links {
    padding-top: 8rem;
    background: var(--color-accent);
  }

  .links:after {
    float: none;
    clear: both;
    display: block;
    content: '';
  }

  .bottom {
    background: var(--color-accent);
    width: 100%;
    padding-bottom: 50%;
    margin-top: -1px;
    clip-path: polygon(0 12.5%, 77.5% 100%, 100% 22.5%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 12.5%, 77.5% 100%, 100% 22.5%, 100% 0, 0 0);
  }

  .nav-item,
  .nav-item:link,
  .nav-item:visited,
  .nav-item:focus,
  .nav-item:hover {
    color: var(--color-link-inverted);
  }

  .nav-item[active],
  .work-with-us[active] {
    box-shadow: 0 calc(2rem + 2px) 0 -2rem var(--color-link-inverted);
  }
}

@media (min-width: 888px) {
  .wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 0 0;
  }

  .links {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  .nav-item[active] {
    box-shadow: 0 2px 0 0 var(--color-accent);
  }

  .nav-item,
  .nav-item:link,
  .nav-item:visited {
    color: var(--color-primary);
    margin-left: 4rem;
    text-decoration: none;
  }

  .nav-item:focus,
  .nav-item:hover {
    color: var(--color-link);
  }

  .work-with-us {
    margin-left: auto;
  }
}
