:scope {
  block-name: ArrowLink;
  text-align: right;
  pointer-events: none;
}

.link {
  position: relative;
  display: inline-block;
  padding: 1.5rem 7rem 1.5rem 0;
  color: var(--color-link);
  font-size: 3rem;
  line-height: 1.5;
  text-decoration: none;
  pointer-events: all;
}

.link:hover {
  text-decoration: underline;
}

.svg {
  position: absolute;
  top: 50%;
  margin-top: -2.75rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  transition: transform 0.2s;
  transform: translate(0);
  pointer-events: none;
}

:scope:hover .svg {
  transform: translate(0.5rem);
}

.arrow {
  fill: var(--color-link);
}
