:scope {
  block-name: ArrowLink;
  text-align: right;
  pointer-events: none;
}

:scope + :scope {
  margin-top: 0;
}

.link {
  position: relative;
  display: inline-block;
  padding: 1.5rem 7rem 1.5rem 0;
  color: var(--color-link);
  font-size: 3rem;
  line-height: 1.5;
  text-decoration: none;
  pointer-events: all;
}

.link:hover {
  text-decoration: underline;
}

.svg {
  position: absolute;
  top: 50%;
  margin-top: -2.75rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  transition: transform 0.2s;
  transform-origin: bottom left;
  transform: translate(0, 0);
  pointer-events: none;
}

:scope:hover .svg {
  transform: translate(0.5rem, 0);
}

.arrow {
  fill: var(--color-link);
}

:scope[state|reverse='true'] .link {
  padding: 1.5rem 0 1.5rem 7rem;
}

@media (min-width: 888px) {
  :scope[state|reverse='true'] .link {
    margin-left: -7rem;
  }
}

:scope[state|reverse='true'] .svg {
  right: unset;
  left: 0;
  transform: translate(0, 0) scaleX(-1);
  transform-origin: bottom center;
}

:scope[state|reverse='true']:hover .svg {
  transform: translate(-0.5rem, 0) scaleX(-1);
}
