:scope {
  block-name: ArrowLink;
  text-align: right;
  pointer-events: none;
}

:scope + :scope {
  margin-top: 0;
}

.link {
  position: relative;
  display: inline-block;
  padding: 1.5rem 7rem 1.5rem 0;
  color: var(--color-link);
  font-size: var(--lead);
  line-height: var(--lead-lh);
  text-decoration: none;
  pointer-events: all;
}

.link:hover {
  text-decoration: underline;
}

.svg {
  position: absolute;
  top: 50%;
  margin-top: -2.75rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  transition: transform 0.2s;
  transform: translate(0);
  pointer-events: none;
}

:scope:hover .svg {
  transform: translate(0.5rem);
}

.arrow {
  fill: var(--color-link);
}

:scope[leftAlign='true'] {
  text-align: left;
}

:scope[reverse='true'] .link {
  padding: 1.5rem 0 1.5rem 7rem;
}

@media (min-width: 888px) {
  :scope[reverse='true'] .link {
    margin-left: -7rem;
  }
}

:scope[reverse='true'] .svg {
  right: unset;
  left: 0;
  transform: translate(0) scaleX(-1);
}

:scope[reverse='true']:hover .svg {
  transform: translate(-0.5rem) scaleX(-1);
}
