@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: ShapeWork;

  position: relative;
  min-height: 109rem;
  margin-bottom: 21rem;
  padding-bottom: 90rem;

  --shape-color: var(--color-accent);
}

:scope[state|reverse='true'] {
  min-height: 90rem;
  margin-bottom: 0;
}

:scope[state|center='true'] {
  min-height: 68rem;
  padding-bottom: 0;
}

.top,
.bottom {
  position: absolute;
  left: 50%;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.top {
  transform: translate(5.2%, 55.3%);
}

.bottom {
  transform: translate(-71.1%);
}

:scope[state|reverse='true'] .top {
  transform: translate(-105.3%, -55.3%);
}

:scope[state|reverse='true'] .bottom {
  transform: translate(-29%);
}

:scope[state|center='true'] .bottom {
  transform: translate(-88%, -40%);
}

:scope[state|center='true'] .top {
  transform: translate(-11.7%, 15.3%);
}

.bg {
  fill: var(--shape-color);
}

.container {
  composes: 'screen.container-base';
}

:scope[state|center='true'] .container {
  justify-content: flex-end;
  padding-top: 30rem;
  margin-bottom: -10rem;
}

.header {
  padding-bottom: 21rem;
}

:scope[state|reverse='true'] .content {
  padding-bottom: 21rem;
}

:scope[state|center='true'] .content {
  --color-text: var(--color-text-inverted);
  --color-muted: var(--color-text-inverted);
}

@media (min-width: 700px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .header {
    width: var(--col-3);
  }

  .content {
    width: var(--col-3);
  }

  :scope[state|center='true'] .content {
    width: var(--col-2);
  }
}

.logo {
  composes: 'screen.container-base';
  padding-bottom: 2rem;
}

.logo-img {
  display: block;
  height: 12rem;
  width: auto;
}

.tagline-container {
  composes: 'screen.container-base';

  position: relative;
}

.tagline-logo {
  overflow: hidden;
}

.tagline-logo-image {
  display: block;
  height: 8rem;
  width: auto;
  margin-bottom: 1rem;
  filter: saturate(0%) brightness(100);
}

.tagline {
  position: absolute;
  bottom: -110rem;
  right: var(--offset-horizontal);
  z-index: 2;
  width: var(--col-1);
}

.tagline-text {
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-text-inverted);
}

:scope[state|reverse='true'] .tagline {
  right: auto;
  left: var(--offset-horizontal);
  bottom: -14em;
  text-align-last: left;
}
