@block layout from "../../styles/blocks/layout.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block button from "../../styles/blocks/button.block.css";
@block header-content from "../HeaderContent/stylesheet.css";

:scope {
  block-name: PageBuiltToLast;
  composes: 'layout';
}

.video {
  width: 100%;
  height: 100%;
}

.header-content {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}

@media (max-width: 887px) {
  .video {
    width: auto;
    height: auto;
    transform: translateX(-50%);
  }

  .video-header {
    margin-top: resolve('header-content');
    margin-top: 0;
  }
}

.h1,
.h2 {
  text-align: center;
  color: #fff;
}

.h1 {
  line-height: var(--h1-lh);
  font-size: 8.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5rem;
}

.h2 {
  margin-bottom: 0;
  font-size: 4.5rem;
}

.media-card-double {
  display: flex;
  grid-column: 2/6;
}

.media-card,
.workshop-card {
  display: flex;
}

.media-card:first-child {
  grid-column: 2/4;
}

.media-card:nth-child(2) {
  grid-column: 4/6;
}

.media-card:last-child {
  grid-column: 6/8;
}

@media (max-width: 887px) {
  .media-card,
  .media-card:first-child,
  .media-card:last-child,
  .media-card:nth-child(2),
  .media-card-double {
    grid-column: 2/-2;
    margin-bottom: 5rem;
  }

  .media-card:last-child {
    margin-bottom: 0;
  }
}

.cta {
  text-align: center;
}

.cta-small {
  color: var(--color-accent);
}

.cta-small::before {
  content: ' ';
  height: 12rem;
  width: 2px;
  background: var(--color-accent);
  display: block;
  margin: 0 auto 2rem auto;
}

.cta-h2 {
  margin-bottom: resolve('typography.h2');
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.cta-lead {
  margin-bottom: 5rem;
}

.playbook {
  background-color: var(--color-light);
}

.playbook-sidebar {
  position: relative;
  grid-column: 1/-1;
}

.playbook-image-wrapper {
  clip-path: resolve('header-content.image-wrapper');
  -webkit-clip-path: resolve('header-content.image-wrapper');
  clip-path: none;
  -webkit-clip-path: none;
}

@media (min-width: 888px) {
  .playbook-sidebar {
    grid-column: 5/-1;
  }
}

.playbook-image {
  height: resolve('header-content.image');
  left: 0;
  height: auto;
  max-width: 80%;
  z-index: 2;
}

.playbook-background-bottom {
  width: 100%;
  margin-top: -1px;
  grid-column: 1/-1;
  background-color: var(--color-background);
  padding-bottom: 16.5%;
  -webkit-clip-path: polygon(0 0, 0 calc(100% + 1px), 100% calc(100% + 1px));
  clip-path: polygon(0 0, 0 calc(100% + 1px), 100% calc(100% + 1px));
}

.workshop-col-lead {
  grid-column: 2/5;
}

.workshop-col-trail {
  grid-column: -5/-2;
}

.workshop-col-lead:first-child {
  margin-top: 11.25rem;
}

.workshop-card {
  margin-bottom: 21rem;
}

@media (max-width: 887px) {
  .workshop-card {
    margin-bottom: 12rem;
  }

  .workshop-col-lead,
  .workshop-col-trail {
    grid-column: 1/-1;
  }

  .workshop-col-lead:first-child {
    margin-top: 0;
  }
}

.blog-posts-title {
  margin-bottom: resolve("typography.h2");
  margin-bottom: 0;
}

@export header-content;
@export typography;
@export layout;
@export offset;
@export button;
