@block layout from "../../styles/blocks/layout.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block button from "../../styles/blocks/button.block.css";
@block header-content from "../HeaderContent/stylesheet.css";

:scope {
  block-name: PageBuiltToLast;
  composes: 'layout';
}

.video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header-content {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}

.h1,
.h2 {
  text-align: center;
  color: #fff;
}

.h1 {
  line-height: var(--h1-lh);
  font-size: 8.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.h2 {
  margin-bottom: 0;
  font-size: 4.5rem;
}

.media-card-double {
  display: flex;
  grid-column: 2/6;
}

.media-card,
.workshop-card {
  display: flex;
}

.media-card:first-child {
  grid-column: 2/4;
}

.media-card:nth-child(2) {
  grid-column: 4/6;
}

.media-card:last-child {
  grid-column: 6/8;
}

.cta {
  text-align: center;
}

.cta-small {
  color: var(--color-accent);
}

.cta-small::before {
  content: ' ';
  height: 12rem;
  width: 2px;
  background: var(--color-accent);
  display: block;
  margin: 0 auto 2rem auto;
}

.cta-h2 {
  margin-bottom: resolve('typography.h2');
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.cta-lead {
  margin-bottom: 5rem;
}

.workshop-col:first-child {
  margin-top: 11.25rem;
}

.workshop-card {
  margin-bottom: 12rem;
}

@export header-content;
@export typography;
@export layout;
@export offset;
@export button;
