<div>
  <Header @title="Built to Last">
    <div header-content:scope>
        <video
        playsinline
        autoplay
        muted
        preload
        width="1280"
        height="498"
        poster="/assets/images/built-to-last/header-video.poster.jpg"
      >
        <source src="/assets/images/built-to-last/header-video.mp4" type="video/mp4" />
      </video>
      <div block:class="header-content">
        <h1 block:class="h1">Built to last</h1>
        <h2 block:class="h2">A resource hub for innovators and entrepreneurs</h2>
      </div>
      </div>
  </Header>

  <div layout:class="full" offset:class="after-21">
    <h2 typography:class="h2">
      Process tips from simplabs
    </h2>
    <p typography:class="lead">
      Learn real-world process improvements to help your team tap into it's full potential, and set up the infrastructure and practices that are the foundation for sustainable development.
    </p>
  </div>

  <div layout:scope offset:class="after-21">
    <div layout:class="col-2of3">
      <MediaCard />
    </div>
    <div layout:class="col-1of3">
      <MediaCard />
    </div>
  </div>

  <Footer />
</div>