<div>
  <Header @title="Built to Last">
    <div header-content:scope>
      <video
        playsinline
        autoplay
        muted
        preload
        width="1280"
        height="498"
        poster="/assets/images/built-to-last/header-video.poster.jpg"
      >
        <source src="/assets/images/built-to-last/header-video.mp4" type="video/mp4" />
      </video>
      <div block:class="header-content">
        <h1 block:class="h1">
          Built to last
        </h1>
        <h2 block:class="h2">
          A resource hub for innovators and entrepreneurs
        </h2>
      </div>
    </div>
  </Header>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Process tips from simplabs
    </h2>
    <p typography:class="lead">
      Learn real-world process improvements to help your team tap into it's full potential, and set up the infrastructure and practices that are the foundation for sustainable development.
    </p>
  </div>

  <div layout:scope offset:class="after-21">
    <div layout:class="thirds-left-double">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div layout:class="thirds-right">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Founder insights
    </h2>
    <p typography:class="lead">
      Our interview series goes behind-the-scenes into what a successful process looks like from a founder’s perspective.
    </p>
  </div>

  <div layout:scope offset:class="after-5">
    <div layout:class="thirds-left">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div layout:class="thirds-mid">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div layout:class="thirds-right">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>
  <div layout:scope offset:class="after-21">
    <div layout:class="thirds-left">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div layout:class="thirds-mid">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div layout:class="thirds-right">
      <MediaCard @label="Masterclass with Marco Otte-Witte" @title="Transitioning your team to a remote setup">
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>

  <div layout:class="full" offset:class="after-12" block:class="cta">
    <p typography:class="small" block:class="cta-small">
      Join the built to last interview series
    </p>
    <h2 typography:class="h2" block:class="cta-h2">
      Are you a startup founder? Get in touch!
    </h2>
    <p typography:class="lead" block:class="cta-lead">
      Would you like to share product development insights with our community? We would love to hear from you.
    </p>
    <a href="#" button:scope>
      Become a guest
    </a>
  </div>

  <Footer />
</div>