<div>
  <Header @title="Built to Last">
    <div header-content:scope>
      <video
        playsinline
        autoplay
        muted
        preload
        width="1280"
        height="498"
        poster="/assets/images/built-to-last/header-video.poster.jpg"
      >
        <source src="/assets/images/built-to-last/header-video.mp4" type="video/mp4" />
      </video>
      <div block:class="header-content">
        <h1 block:class="h1">
          Built to last
        </h1>
        <h2 block:class="h2">
          A resource hub for innovators and entrepreneurs
        </h2>
      </div>
    </div>
  </Header>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Process tips from simplabs
    </h2>
    <p typography:class="lead">
      Learn real-world process improvements to help your team tap into it's full potential, and set up the infrastructure and practices that are the foundation for sustainable development.
    </p>
  </div>

  <div layout:scope offset:class="after-21">
    <div block:class="media-card-double">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Founder insights
    </h2>
    <p typography:class="lead">
      Our interview series goes behind-the-scenes into what a successful process looks like from a founder’s perspective.
    </p>
  </div>

  <div layout:scope offset:class="after-5">
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>
  <div layout:scope offset:class="after-21">
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="Transitioning your team to a remote setup"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>

  <div layout:class="full" offset:class="after-12" block:class="cta">
    <p typography:class="small" block:class="cta-small">
      Join the built to last interview series
    </p>
    <h2 typography:class="h2" block:class="cta-h2">
      Are you a startup founder? Get in touch!
    </h2>
    <p typography:class="lead" block:class="cta-lead">
      Would you like to share product development insights with our community? We would love to hear from you.
    </p>
    <a href="#" button:scope>
      Become a guest
    </a>
  </div>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Workshops
    </h2>
    <p typography:class="lead">
      Designed to help teams build sustainable products that work well and keep working well.
    </p>
  </div>

  <div layout:scope offset:class="after-21">
    <div layout:class="split-leading" block:class="workshop-col">
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
    </div>
    <div layout:class="split-trailing" block:class="workshop-col">
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
      <div block:class="workshop-card">
        <WorkshopCard
          @authors="marcoow,msmarhigh"
          @label="2 to 3-day Remote workshop with Marco Otte-Witte & Mar High"
          @title="Digital product strategy"
          @description="A clear product strategy is essential to getting as value as possible for your time and investment. In this workshop we will collaborate to formulate a clear product vision, establishing a blueprint for your digital product's development process. This workshop is a great kickoff for an MVP project."
          @tag="@"
        />
      </div>
    </div>
  </div>

  <div layout:scope offset:class="after-21">
    <div block:class="media-card">
      <MediaCard
        @label="Label or Tag"
        @title="Title aliquam erat volutpat in feugiat, purus ac"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Label or Tag"
        @title="Title aliquam erat volutpat in feugiat, purus ac"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
    <div block:class="media-card">
      <MediaCard
        @label="Label or Tag"
        @title="Title aliquam erat volutpat in feugiat, purus ac"
        @image="/assets/images/built-to-last/marco.jpg"
      >
        Maecenas quis accumsan eros, vitae fringilla tellus. Donec tempor est porta augue blandit fringilla. Sed eu feugiat nisl, at euismod velit.
      </MediaCard>
    </div>
  </div>

  <Footer />
</div>