---
layout: default
title: DD-WRT
---

<header class="page-dd-wrt">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-dd-wrt">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          a modern UI for an open-source router firmware
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/dd-wrt/dd-wrt-logo-white.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/dd-wrt/website-preview-1.png" />
      </div>
    </div>
  </div>
</header>

<main>
  {% capture intro_content %}
    <p>DD-WRT is a Linux based firmware for wireless routers. Originally designed for the Linksys WRT54G series, it now runs on a wide variety of models and is <strong>installed on millions of devices worldwide</strong>.</p>
    <p>When embeDD, the company behind DD-WRT, was looking to re-engineer the old web interface and put the project on a stable foundation that would support development efforts for the long term, they reached out to simplabs for guidance.</p>
  {% endcapture %}
  <div class="container">
    {% include intro.html content=intro_content %}
  </div><!--container-->


  <div class="container-fluid px-0">
    <div class="row justify-content-end">
      <div class="col-sm-11">
        <div class="bg-light-blue py-5">
          <div class="container">
              <div class="row justify-content-start align-items-center">
                <div class="col-md-5 order-2">
                  <img class="mx-auto d-block img-2x" alt="DD-WRT UI Screenshot" src="../images/dd-wrt/website-preview-1.png">
                </div>
                <div class="col-md-6 order-1">
                  <div class="p-5">
                    <h2 class="font-weight-black text-dark mb-4">Accommodating a special environment</h2>
                    <p class="lead mb-4">Shipping a single page app bundled with a router firmware is substantially different from serving it via the open web. The first step for us was to understand the characteristic aspects of the environment, like limited hardware capabilities and slow update cycles. We then came up with an approach for the project based on Ember.js that was <strong>tailored to the particular requirements and limitations</strong> of the use case.</p>
                  </div>
                </div>
              </div>
          </div><!--container-->
        </div><!--bg-light-blue-->
      </div>
    </div>
  </div><!--container-fluid-->


  <div class="container-fluid px-0">
    <div class="row justify-content-start">
      <div class="col-sm-11">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col-md-5 order-1">
              <img class="mx-auto d-block img-pull img-2x" alt="DD-WRT UI Screenshot" src="../images/dd-wrt/website-preview-2.png">
            </div>
            <div class="col-md-6 order-2">
              <div class="p-5">
                <h2 class="font-weight-black text-dark mb-4">The Solution</h2>
                <p class="lead mb-4">We completed the prototype implementation of the architecture in just over 6 weeks, defining the structure for the application and establishing good Ember.js patterns. That prototype laid the foundation for subsequent engineering efforts taken on by embeDD's in-house engineering team.</p>
              </div>
            </div>
          </div>
        </div><!--container-->
      </div>
    </div>
  </div><!--container-fluid-->


  <div class="container">
    <div class="bg-light-blue p-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-5">
          <div class="py-5">
            <h2 class="font-weight-black text-dark mb-4 text-lowercase">Enabling long term success</h2>
            <p class="lead mb-4">In order to enable the client to continue the project successfully and ensure it would be a long term success, we <strong>coached embeDD's engineers and reviewed their work</strong> for an extended period of time after handing over the project.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="icon-circle-lg bg-white mx-auto">
            <img alt="educate icon" class="mx-auto d-block" src="../images/icons/dark/educate.svg">
          </div>
        </div>
      </div>
    </div>
  </div><!--container-->

  <div class="container container-quote container-quote-dd-wrt">
    <div class="row row-quote">
      <div class="col col-quote">
        <div class="quote">
          <p class="quote-text">
            simplabs’ expertise in developing Ember.js based applications helped us significantly to define and develop the new DD-WRT NXT user experience. It was impressive to see in what short time such a complex application leveraging a customer backend interface could be implemented. simplabs' work did provide the new foundation for our UI and our in-house development team greatly benefitted from their know how.
          </p>
          <p class="quote-author">
            Peter Steinhäuser, embeDD CEO
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h2 class="display-4 font-weight-black text-lowercase mb-4">Our Expertise</h2>
        <p class="lead mb-4">We develop deep expertise in the tools that we specialize in and take an active role in the communities.</p>
      </div>
      <div class="col-sm-6">
        {% capture expertise_card_description--ember %}
          <p>We are Europe's leading Ember experts withe people involved in Ember.js core teams like Ember CLI and Ember Learning.</p>
          <p>We have been hosting and supporting several Ember.js meetups and co-organize EmberFest, the european Ember community conference.</p>
        {% endcapture %}
        
        {% include expertise_card.html expertise="ember" title="Ember.js" description=expertise_card_description--ember %}
      </div>
    </div>
  </div><!--container-->

  {% include contact_banner.html %}
</main>