---
layout: default
title: Ember
---

<header class="page-ember">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-ember">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          Europe's leading Ember experts
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/ember/ember-logo-white.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    {% include intro.html
      content=
      "<p>
          simplabs has been an active member of the Ember Ecosystem from the early days. We are the leading Ember
          consultancy in Europe and are <strong>involved in Ember.js core teams</strong> like Ember CLI and Ember
          Learning. We also maintain a number of widely adopted addons.
        </p>"
    %}   
  </div><!--container-->


  <div class="container container-quote container-quote-ember">
    <div class="row row-quote">
      <div class="col col-quote">
        <div class="quote">
          <p class="quote-text">
            simplabs’ expertise in developing Ember.js based applications helped us significantly to define and
            develop the new DD-WRT NXT user experience. It was impressive to see in what short time such a complex
            application leveraging a customer backend interface could be implemented. simplabs' work did provide the
            new foundation for our UI and our in-house development team greatly benefitted from their know how.
          </p>

          <p class="quote-author">
            Peter Steinhäuser, embeDD CEO
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="my-4 font-weight-black text-lowercase">We love open source</h2>
        <p class="lead mb-4">
          Our engineers are engaged in Ember.js core teams like Ember CLI and Ember Learning.
        </p>
        <p class="lead">
          Besides that, we maintain a number of popular addons in the ecosystem.
        </p>
      </div><!--col-->
      <div class="col-sm-8">
        <div class="d-flex flex-column flex-md-row justify-content-between section-features">
          <div class="section-features-item w-50">
            <div class="icon-circle-sm bg-timify align-items-center">
              <img alt="faster" class="img-fluid d-block mx-auto w-50" src="../images/ember/we-love-open-source-icon-1.svg" />
            </div>
            <h4 class="p-4">Authentication management for Ember.js applications</h4>
          </div><!--section-features-item-->
          <div class="section-features-item w-50">
            <div class="icon-circle-sm bg-timify align-items-center">
              <img alt="faster" class="img-fluid d-block mx-auto w-75" src="../images/ember/we-love-open-source-icon-2.svg" />
            </div>
            <h4 class="p-4">Enabling better element selectors in Ember.js tests</h4>
          </div><!--section-features-item-->
        </div><!--flex row-->

        <div class="d-flex flex-column flex-md-row justify-content-between section-features">
          <div class="section-features-item w-50">
            <div class="icon-circle-sm bg-timify align-items-center">
              <img alt="faster" class="img-fluid d-block mx-auto w-75" src="../images/ember/we-love-open-source-icon-3.svg" />
            </div>
            <h4 class="p-4">Cookies abstraction for Ember.js with FastBoot support</h4>
          </div><!--section-features-item-->
          <div class="section-features-item w-50">
            <div class="icon-circle-sm bg-timify align-items-center">
              <img alt="faster" class="img-fluid d-block mx-auto w-75" src="../images/ember/we-love-open-source-icon-4.svg" />
            </div>
            <h4 class="p-4">High Level DOM Assertions for QUnit</h4>
          </div><!--section-features-item-->
        </div><!--flex row-->
      </div>
    </div>
  </div><!--container-->


  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-5">
        <img alt="fullstack" class="mx-auto d-block" src="../images/ember/preview-1.png">
      </div>
      <div class="col-sm-5 offset-sm-1">
        <h2 class="font-weight-black text-dark-blue mb-4">Community engagement</h2>
        <p class="lead">
          Ember.js is a project built by an open community and <strong>we are an active member of the community</strong>.
          We support the <a href="https://www.meetup.com/Ember-js-Munich/">Ember.js Munich</a> and
          <a href="https://www.meetup.com/Ember-js-Berlin/">Ember.js Berlin</a> meetups are are
          co-organizers of EmberFest, the
          european Ember Community Conference.
        </p>
        
        <div class="d-flex flex-row justify-content-between align-items-center mt-4">
          <a class="d-block p-2" href="https://www.meetup.com/Ember-js-Munich/">
            <img alt="Image" class="img-fluid" src="../images/ember/ember-logo-colorful-1.png" />
          </a>

          <a class="d-block p-2" href="https://www.meetup.com/Ember-js-Berlin/">
            <img alt="Image" class="img-fluid" src="../images/ember/ember-logo-colorful-2.png" />
          </a>

          <a class="d-block p-2" href="http://emberfest.eu">
            <img alt="Image" class="img-fluid" src="../images/ember/ember-logo-colorful-3.svg" />
          </a>

          <a class="d-block p-2" href="https://emberconf.com">
            <img alt="Image" class="img-fluid" src="../images/ember/ember-logo-colorful-4.svg" />
          </a>
        </div>

      </div>
    </div>
  </div><!--container-->



  <div class="container">
      {% include client_banner.html
        client="trainline"
        title="Leveraging Trainline's full market potential"
        description="<p>Trainline is Europe’s leading independent rail and coach platform. We helped them build their mobile web app to leverage the full potential of the market.</p>"
        logo_url="../images/trainline/trainline-logo-white.svg"
        image_url="../images/trainline/screen-1.png"
        image_class="w-75"
      %}
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="my-4 font-weight-black text-lowercase">We share our expertise</h2>
        <p class="lead mb-4">
          Our engineers are engaged in Ember.js core teams like Ember CLI and Ember Learning.
        </p>
        <p class="lead">
          Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn
          with the community via talks at conferences and meetups and on our blog.
        </p>
      </div><!--col-->
      <div class="col-sm-7 offset-sm-1">
        <div class="d-flex flex-column flex-md-row justify-content-between section-features">

          <a class="card card-we-share-our-expertise" href="https://www.youtube.com/watch?v=h3YtViXranw&t=1s">
            <div class="card-video-wrapper">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/h3YtViXranw?rel=0&amp;controls=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="card-body">
              <p class="card-title">
                Everything they didn’t tell you about...
              </p>

              <p class="card-text">
                Jessica Jordan at EmberConf 2018
              </p>
            </div>
          </a>

          <a class="card card-we-share-our-expertise" href="https://www.youtube.com/watch?v=8D-O4cSteRk">
            <div class="card-video-wrapper">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8D-O4cSteRk?rel=0&amp;controls=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="card-body">
              <p class="card-title">
                The Next Generation of Testing
              </p>

              <p class="card-text">
                Tobias Bieniek at EmberFest 2018
              </p>
            </div>
          </a>

          
        </div><!--flex row-->

        <div class="d-flex flex-column flex-md-row justify-content-between section-features">
          
          <a class="card card-we-share-our-expertise" href="https://www.youtube.com/watch?v=81-jwnlg1pQ">
            <div class="card-video-wrapper">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/81-jwnlg1pQ?rel=0&amp;controls=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="card-body">
              <p class="card-title">
                Better Test Selectors Leveraging the...
              </p>

              <p class="card-text">Marco Otte-Witte at EmberCamp 2017</p>
            </div>
          </a>

          <a class="card card-we-share-our-expertise" href="https://www.youtube.com/watch?v=wFJPIjRTIVU">
            <div class="card-video-wrapper">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wFJPIjRTIVU?rel=0&amp;controls=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="card-body">
              <p class="card-title">
                Animate the Web with Ember.js
              </p>

              <p class="card-text">Jessica Jordan at EmberConf 2017</p>
            </div>
          </a>

        </div><!--flex row-->
      </div>
    </div>
  </div><!--container-->


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="text-lowercase font-weight-black mb-4">From the blog</h2>
        <p class="lead">
          We share our experience with Ember.js in our blog.
        </p>
      </div><!--col-->
      <div class="col-sm-7 offset-sm-1">
        <div class="blog blog-ember">
          <div class="blog-posts">
            {% assign counter = 0 %}
            {% for post in site.categories.blog %}
            {% if post.category == "ember" and counter < 3 %} {% assign counter=counter | plus:1 %} <a class="blog-post blog-post-ember"
              href="{{post.url}}">
              <div class="blog-post-wrapper">
                <p class="blog-post-category">
                  {{post.category}}
                </p>

                <p class="blog-post-header">
                  {{post.title}}
                </p>

                <p class="blog-post-text">
                  {{post.excerpt | strip_html}}
                </p>
                <div class="blog-post-info">
                  <div class="blog-post-info-user-picture">
                    <img alt="Image" class="img-fluid" src="/images/authors/{{post.author | split: ' ' | first | downcase}}@2x.jpg" />
                  </div>

                  <div>
                    <p class="blog-post-info-user-name">
                      {{post.author | upcase}}
                    </p>

                    <p class="blog-post-info-date">
                      {{post.date | date: '%B %d, %Y'}}
                    </p>
                  </div>
                </div>
              </div>
              </a>
              {% endif %}
              {% endfor %}
          </div>
        </div><!--blog-->
      </div>
    </div>
  </div><!--container-->




  {% include contact_banner.html %}
</main>