@export offset from "../../styles/blocks/offset.block.css";
@export typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: ShapeFeatureEmberDocumentary;

  position: relative;
  grid-column: 2/-2;
}

.top {
  position: absolute;
  top: -3rem;
  right: -158%;
  z-index: 1;
  transform: rotate(30deg);
  fill: #e15d44;
  width: 200%;
  height: auto;
}

.bottom {
  position: relative;
  padding-bottom: calc(100% * 9 / 16 * 2);
  margin-bottom: 3rem;
}

.video {
  position: absolute;
  top: 0;
  width: 200%;
  height: auto;
}

@media (max-width: 887px) {
  .video {
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: 888px) {
  :scope {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: var(--grid-template-columns);
    column-gap: var(--col-gap);
  }

  .top {
    top: -20%;
    right: -78%;
    width: 100vw;
  }

  .bottom {
    grid-column: 1/6;
    margin-top: -8rem;
    margin-bottom: 0;
    padding-bottom: calc(100% * 9 / 16 * 1.5);
    height: 0;
    overflow: hidden;
  }

  .down {
    margin-top: 15vw;
  }

  .video {
    left: unset;
    right: var(--col-gap);
    height: 100%;
    width: auto;
  }

  .content {
    grid-column: -4/-2;
    display: flex;
    align-content: center;
    flex-flow: column;
    justify-content: center;
  }
}
