<div offset:class="after-21">
  <svg
    block:class="top"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path
      d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
      transform="rotate(-30 719.885 360.48)"
    ></path>
  </svg>
  <div block:class="bottom">
    <video
      playsinline
      autoplay
      muted
      loop
      preload
      block:class="video"
      width="1280"
      height="720"
      poster="/assets/images/emberdoc-simplabs.poster.jpg"
    >
      <source src="/assets/images/emberdoc-simplabs.mp4" type="video/mp4" />
    </video>
  </div>
  <div block:class="content">
    <p typography:class="small" block:class="down">
      Documentary
    </p>
    <h3 offset:class="before-none">
      simplabs featured on Ember.js: The Documentary
    </h3>
    <ArrowLink @href="https://youtu.be/Cvz-9ccflKQ">
      Watch Video
    </ArrowLink>
  </div>
</div>