<ShapeFeature @video="/assets/images/emberdoc-simplabs.mp4">
  <p class="typography.small-text">
    From the Blog
  </p>
  <h3 class="typography.headline-2">
    simplabs featured on Ember.js: The Documentary
  </h3>
  <ArrowLink @href="https://youtu.be/Cvz-9ccflKQ">
    Watch Video
  </ArrowLink>
</ShapeFeature>