<ShapeFeature
  @color="#E15D44"
  @video="/assets/images/emberdoc-simplabs.mp4"
  @backgroundImage="/assets/images/emberdoc-simplabs.poster.jpg"
  @width="1280"
  @height="720"
>
  <p class="typography.small">
    Documentary
  </p>
  <h3>
    simplabs featured on Ember.js: The Documentary
  </h3>
  <ArrowLink @href="https://youtu.be/Cvz-9ccflKQ">
    Watch Video
  </ArrowLink>
</ShapeFeature>