<div class="shape.wrap-lg">
  <div class="shape-left-lg">
    <div class="shape-left-lg.background background"></div>
  </div>
  <div class="shape-text">
    <div class="shape-text.background caption">
      <div class="shape-text.content">
        <div class="shape.content-text">
          <p class="typography.small-text">
            Playbook
          </p>
          <h3 class="shape.sub-heading">
            Our process enables sustainable solutions
          </h3>
          <Link @arrow="true" @href="#">
            Learn More
          </Link>
        </div>
      </div>
    </div>
  </div>
</div>