<div>
  <Header @label="About" @title="We are web and open source enthusiasts">
    <p class="typography.lead">
      simplabs was bootstrapped in Munich, Germany in 2013 as a technology consultancy focussed on modern web engineering. Since then, we have built ambitious applications for various international clients, from startups to long-established businesses.
    </p>
    <p class="typography.lead">
      We are an international team of Web and Open Source enthusiasts. We value expertise and a passion for technology higher than location and work for clients across the world.
    </p>
    <p class="typography.lead">
      We have written and reviewed applications for various international clients in the past, covering technology stacks from Ruby on Rails to
      <a href="/expertise/ember" class="typography.link" data-internal>
        Ember.js
      </a>
      and
      <a href="/expertise/elixir-phoenix" class="typography.link" data-internal>
        Elixir/Phoenix
      </a>
      .
    </p>
  </Header>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              Moving fast without breaking things
            </h2>
            <p class="typography.lead">
              We have a passion for technology and value conventions-based tools. We like to move fast without breaking things and leverage extensive testing and constant reviews to ensure we deliver high quality results.
            </p>
          </div>
          <!--heading-->
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                We ❤️ Open Source
              </h3>
              <p class="typography.body-text">
                We take an active role in the projects that we leverage for our clients, contributing code and supporting the communities.
              </p>
            </div>
          </div>
          <!--section-->
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                We value expertise over location
              </h3>
              <p class="typography.body-text">
                We value expertise and a passion for technology higher than location. Our distributed team of technology experts works from various locations in Europe for clients across the world.
              </p>
              <p class="typography.body-text">
                Being a remote company doesn't mean everyone needs to be remote at all times though. We have regular company events to connect offline and spend some time together - we even invite our clients to join us!
              </p>
            </div>
          </div>
          <!--section-->
        </div>
      </div>
      <div class="main-block.sidebar">
        <Card @label="Learn More" @src="assets/images/card/talks.jpg" @title="Our Talks">
          <p class="typography.body-text">
            We share what we learn with the community via talks at conferences and meetups and on our blog.
          </p>
          <ArrowLink @href="/talks">
            View Talks
          </ArrowLink>
        </Card>
        <Card @label="Connect" @title="Stay up-to-date with our latest news and updates">
          <ArrowLink @href="https://twitter.com/simplabs">
            Follow simplabs on Twitter
          </ArrowLink>
        </Card>
      </div>
    </div>
    <div class="main-block">
      <div class="main-block.content-full-width">
        <h2 class="typography.headline-1">
          Sharing
        </h2>
        <h3 class="typography.headline-2">
          Something about community and talks
        </h3>
        <p class="typography.body-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ArrowLink @href="/calendar">
          View our calendar
        </ArrowLink>
      </div>
      <div class="main-block.content-full-width">
        TODO: Add image
      </div>
    </div>
    <div class="main-block.content">
      <p class="typography.body-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rerum officia quasi dolore deserunt, natus minima corporis vero sint, voluptatum laborum cum ratione aliquam provident doloribus quos nostrum veritatis iste?
      </p>
    </div>
  </div>
  <ShapeAcrossLeadingExperts />
  <WorkWithUs />
  <Footer />
</div>