.hljs {
  padding: 1em 2em;

  &.ruby {
    .hljs-comment {
      color: #727262;
    }

    .hljs-keyword,
    .hljs-params,
    .hljs-title {
      color: #000000;
    }

    .hljs-string {
      color: #d92222;
    }

    .hljs-symbol {
      color: #77005e;
    }
  }
}