

.popover-map {
  border: none;
  padding: 2rem 4rem;
  z-index: 1000;

  .popover-logo {
    margin-bottom: 1.5rem;
    max-height: 1.5rem;
  }

  .popover-body {
    font-weight: $font-weight-normal;
    padding: 0;

    .popover-address {
      margin-bottom: 1rem;

      span {
        display: block;
      }
    }

    .popover-phone,
    .popover-email,
    .popover-link {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .arrow {
    bottom: -4%;
    height: 1rem;
    right: 10%;
  }

  .arrow::after,
  .arrow::before {
    background: 0;
    border-style: solid;
    border-width: 0 1rem 1rem 0;
    border-color: transparent $white transparent transparent;
    bottom: 0;
    content: "";
    height: 0;
    width: 0;
  }
}