@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left from "../../styles/blocks/shape/shape-left.block.css";
@block shape-right from "../../styles/blocks/shape/shape-right.block.css";
@block screen from "../../styles/blocks/screen.block.css";

:scope {
  block-name: documentary-thumb;
}

.documentary-left-background {
  background-color: resolve("shape-left.background");
  background-color: #E15D44;
}

.documentary-right-background {
  background-color: resolve("shape-right.background");
  background-color: #E15D44;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}
