<div class="shape.wrap">
  <div class="shape-left">
    <div class="shape-left.background documentary-left-background">
      <video playsinline autoplay muted loop poster="placeholder.jpg" class="background-video" width="x" height="y">
        <source src="/assets/images/emberdoc-simplabs.mp4" type="video/mp4" />
      </video>
      <div class="shape-left.content">
        <div class="shape.content-image">
          <img class="fluid-image.image" src="/assets/images/ember-white.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="shape.caption">
    <div class="shape.caption-content">
      <p class="typography.small-text">
        From the Blog
      </p>
      <h3 class="typography.sub-heading">
        simplabs featured on Ember.js: The Documentary
      </h3>
      <a class="typography.arrow-link" href="#">
        Watch Video
      </a>
    </div>
  </div>
  <div class="shape-decoration">
    <div class="shape-decoration.background documentary-right-background"></div>
  </div>
</div>