@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left-lg from "../../styles/blocks/shape/shape-left-lg.block.css";
@block shape-text from "../../styles/blocks/shape/shape-text.block.css";

:scope {
  block-name: leading-experts;
  --shape-text-position-right: -90rem;

  --link-color: #fff;
}

.background {
  background-color: resolve("shape-left-lg.background");
  background-color: #222;
  background-image: url("/assets/images/marco.jpg");
  background-size: 160rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.caption {
  background-color: resolve("shape-text.background");
  background-color: #E15D44;
}
