<div class="shape.wrap-lg">

  <div class="shape-left-lg">
    <div class="shape-left-lg.background marco-background">
    </div>
  </div>

  <div class="shape-right-lg">
    <div class="shape-right-lg.background experts-right">
      <div class="shape-right-lg.content">
        <div class="shape.content-text">
          <p class="typography.small-text">Expertise</p>
          <h3 class="shape.sub-heading">We are Europe’s Leading Ember Experts</h3>
          <a class="screen.block-link" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
