<div class="shape.wrap-lg">
  <div class="shape-left-lg">
    <div class="shape-left-lg.background background"></div>
  </div>
  <div class="shape-text">
    <div class="shape-text.background caption">
      <div class="shape-text.content">
        <div class="shape.content-text">
          <p class="typography.small-text">
            Expertise
          </p>
          <h3 class="shape.sub-heading">
            We are Europe’s Leading Ember Experts
          </h3>
          <a class="typography.arrow-link link" href="/expertise/ember">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>