{%- macro btnTito(event, text, price, color, class) -%}
  <tito-button
    event="mainmatter/{{ event }}"
    class="tito-btn btn-primary--{{ color }} {{ class }} plausible-event-name=Tickets+List"
  >
    <span class="btn-flex"
      >{{ text }}
      {% if price %}
        <div class="line"></div>
        <span class="price-tag">{{ price }}</span>
      {% endif %}
      {% include 'svg/arrow.njk' %}</span
    >
  </tito-button>
{% endmacro %}
