{#
List of case studies as cards

Configuration Options:
list: An array where each item is the slug for the case study.
#}

{%- macro caseStudyList(caseStudies, color, heading) -%}
  <section class="case-studies case-studies--{{ color }}">
    <div class="container container--lg">
      {% if heading %}
        <h2 class="case-studies__heading">{{ heading }}</h2>
      {% endif %}
      <ul class="case-studies__list">
        {% for caseStudyHandle in caseStudies -%}
          {% set caseStudy = caseStudyHandle | findBySlug %}
          {% if caseStudy %}
            <li class="case-study__item">
              <a class="case-study__link" href="{{ caseStudy.url }}"><span class="screenreader">{{ caseStudy.data.displayTitle }}</span></a>
              <p class="case-study__title h3">{{ caseStudy.data.displayTitle }}</p>
              <div class="case-study__text">
                {{ caseStudy.data.description }}
              </div>
              <span class="case-study__cta cta-link text--accent" aria-hidden="true">
                <span class="cta-link__text">Read Case Study</span>
                <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
              </span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
{%- endmacro -%}
