{% from "case-card.njk" import caseCard %}

{% macro caseCards(id, title, intro, clients) %}
  <section class="case-cards my-10">
    <div class="case-cards__container container container--xl">
      {% if title %}
        <h2 class="case-cards__title mb25">{{ title }}</h2>
      {% endif %}
      {% if intro %}
        <p class="case-cards__intro mb-5">{{ intro }}</p>
      {% endif %}
      <ul class="cards__grid">
        {% for clientHandle in clients %}
          {{ caseCard(clientHandle) }}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}
