{%- macro caseCard(clientHandle) -%}
  <li class="case-cards__grid-element card__grid-element">
    {% set caseStudy = clientHandle | findBySlug %}
    <a
      href="{% if caseStudy.url %}{{ caseStudy.url }}{% else %}/work#{{ clientHandle }}{% endif %}"
      class="card__link"
    >
      <h3 class="screenreader">
        {{ caseStudy.data.problem }}
        {{ caseStudy.data.solution }}
      </h3>
    </a>
    <div class="card__logo-wrapper">
      {% set imagePath %}/assets/images/logos/{{ clientHandle }}.svg{% endset %}
      <img src="{{ imagePath }}" alt="{{ company }}" />
    </div>
    <div class="card__content">
      {% if caseStudy.data.problem %}
        <div class="case-cards__headline" aria-hidden="true">
          <p class="case-cards__problem mb-015 h4">{{ caseStudy.data.problem }}</p>
          <p class="case-cards__solution mb-015 h4">{{ caseStudy.data.solution }}</p>
        </div>
      {% endif %}
      <div class="card__link-wrapper">
        <div class="small">
          {% for item in caseStudy.data.tags %}
            {% if loop.index != 1 %}/{% endif %}
            <a href="/services/{{ item | slug }}/"> {{ item }} </a>
          {% endfor %}
        </div>
        <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
      </div>
    </div>
  </li>
{%- endmacro -%}
