{% macro caseStudyCard(clientHandle) %}
  {% set caseStudy = clientHandle | findBySlug %}
  <li class="case-study-card">
    <a class="case-study-card__link featured-case-study__link" href="{{ caseStudy.url }}">
      <span class="screenreader">{{ caseStudy.data.displayTitle }}</span>
    </a>
    <div class="case-study-card__image-overlay">
      {% if caseStudy.data.hero.image %}
        <div class="featured-case-study__image-wrapper">
          {% image caseStudy.data.hero.image, caseStudy.data.hero.imageAlt, '(min-width: 48em) 44rem, 90vw', "lazy", 'featured-case-study__image', [704, 1408] %}
        </div>
        <div class="featured-case-study__overlay featured-case-study__overlay--black"></div>
      {% endif %}
      <div class="case-study-card__content-wrapper featured-case-study__content-wrapper">
        {% set imagePath %}/assets/images/logos/{{ clientHandle }}.svg{% endset %} <img class="featured-case-study__logo" src="{{ imagePath }}" alt="{{ company }}"/>
        <p class="case-study-card__tags caption">{{ caseStudy.data.hero.tags }}</p>
        <span class="case-study-card__cta featured-case-study__cta cta-link" aria-hidden="true">
          <span class="cta-link__text-wrapper">
            <span class="cta-link__text">Read the case study</span>
            <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
          </span>
        </span>
      </div>
    </div>
    <div class="case-study-card__description">
      <p class="case-study-card__client h5">{{ caseStudy.data.company }}</p>
      <h3 class="case-study-card__title h4">{{ caseStudy.data.displayTitle | stripHTML }}</h3>
    </div>
  </li>
{%- endmacro -%}