{#
An image with a color overlay on top

Configuration Options:
color: One of the core brand colors, or 'none'
size: One of 'lg', 'md'
content: A content block with the following options:
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ colorImage('blue', 'lg', content) }}
#}

{%- macro colorImage(color, size, content) -%}
  <div class="color-image color-image--{{ color }} container container--{{ size }}" data-background-color="{{ color }}">
    {%- if size === 'lg' -%}
      {%- set imageSize = '(min-width: 62em) 60rem, 90vw' -%}
    {%- else -%}
      {%- set imageSize = '(min-width: 62em) 40rem, 90vw' -%}
    {%- endif -%}
    {%- image content.image, content.alt, imageSize, content.loading, 'color-image__image', [640, 960, 1440, 1920] -%}
    {%- if color != 'none' -%}
      <div class="color-image__overlay" data-color-hero></div>
    {%- endif -%}
  </div>
{%- endmacro -%}
