{#
A hero banner with a solid color background and an optional logo graphic in the background

Configuration Options:
color: One of the core brand colors

content: A content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  eyebrow: A small headline above the main title
  subheading: A small headline below the main title
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  contentType: Width of the container; normally set to container--lg on all hero sections. 
  Landing page hero sections are indicated via setting ContentType to "lp". 

Example usage:
{% set content = {
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "eyebrow": "Lorem Ipsum",
  "subheading": "lorem Ipsum",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ colorHero('blue', content) }}
#}
{% from "cta-link.njk" import ctaLink %}
{% from "btn-secondary.njk" import btnSecondary %}

{%- macro colorHero(color, content) -%}
  <section
    class="color-hero color-hero--{{ color }} {% if content.class %}{{ content.class }}{% endif %}{% if content.logo %}{{ content.logo }}{% elseif content.background %}{{ content.background }}{% endif %}{% if content.containerType == "lp" %}color-hero__LP{% endif %}"
    data-background-color="{{ color }}"
  >
    {% if content.image %}
      <div class="color-hero__image-wrapper">
        {% image content.image, content.alt, '100vw', content.loading, 'color-hero__image', [760, 1440, 1920, 2048] %}
      </div>
      <div class="color-hero__overlay"></div>
    {% endif %}
    <div
      class=" container container--xl {% if content.containerType == "lp" %}
        color-hero__container__LP container__LP container--lg
      {% else %}
        color-hero__container container--lg
      {% endif %}"
    >
      <div class="color-hero__main">
        {% if content.eyebrow %}
          <p class="color-hero__eyebrow h5">{{ content.eyebrow | safe }}</p>
        {% endif %}
        {% if content.title %}
          <h1 class="color-hero__title">{{ content.title | safe }}</h1>
        {% endif %}
        {% if content.subheading %}
          <p class="color-hero__subheading caption">{{ content.subheading | safe }}</p>
        {% endif %}
        {% if content.text %}
          <div
            class="{% if content.containerType == "lp" %}medium{% else %}color-hero__text{% endif %} mt-2"
          >
            {{ content.text | safe }}
          </div>
        {% endif %}
        {% if content.linkUrl %}
          {{ ctaLink(content.linkUrl, content.linkText, 'color-hero__link') }}
        {% endif %}
        {% if content.toc %}
          <div class="table-of-contents__list container--xl mt-2">
            {% for text, anchor in content.toc %}
              <div>
                {%-
                  set link = {
                  "label": text,
                  "url": anchor
                  }
                -%}
                {{- btnSecondary(link, '', true) -}}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{%- endmacro -%}
