{#
A hero image with a color overlay on top

Configuration Options:
textPosition: One of 'top' 'center' or 'bottom'
textSize: One of 'small' or 'large'
isAnimated: Boolean
color: One of the core brand colors

content: A content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "titleTag": "h2",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ colorHero('center', 'large', 'blue', false, content) }}
#}
{% from "cta-link.njk" import ctaLink %}
{%- macro colorHero(textPosition, textSize, color, isAnimated, content) -%}
  <section class="color-hero color-hero--{{ color }}">
    <div class="color-hero__image-wrapper">
      {% if content.image %}
        {% image content.image, content.alt, '100vw', content.loading, 'color-hero__image', [760, 1440, 1920] %}
      {% endif %}
    </div>
    <div class="color-hero__filter" {% if isAnimated %} data-color-hero {% endif %}></div>
    <div class="color-hero__overlay" {% if isAnimated %} data-color-hero {% endif %}></div>
    <div class="color-hero__container container container--xl color-hero__container--{{ textPosition }}">
      <div class="color-hero__main">
        {% if content.title %}
          <{{ content.titleTag }} class="color-hero__title h1 text-animation">{{ content.title | safe }}</{{ content.titleTag }}>
        {% endif %}
        {% if content.text %}
          <div class="color-hero__text color-hero__text--{{ textSize }}">{{ content.text | safe }}</div>
        {% endif %}
        {% if content.linkUrl %}
          {{ ctaLink(content.linkUrl, content.linkText, 'color-hero__link') }}
        {% endif %}
      </div>
    </div>
  </section>
{%- endmacro -%}