{#
An ordered list with number labels that fall into columns on desktop

Configuration Options:
list: A list where each item is an object with a heading and text property
heading: Optional string heading

Example usage:
{{ columnList(principles.list, 'Our principles') }}
#}

{%- macro columnList(list, heading) -%}
  <section class="column-list">
    <div class="container container--lg">
      {% if heading %}<h2 class="column-list__heading">{{ heading }}</h2>{% endif %}
      <ol class="column-list__list">
        {% for item in list %}
          <li class="column-list__item">
            <h3 class="column-list__item-heading">{{ item.heading }}</h3>
            <p class="column-list__text">{{ item.text }}</p>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{%- endmacro -%}
