{% from "global/invisible-captcha.njk" import invisibleCaptcha %}
{% from "global/li-fat-id.njk" import liFatId %}

<section class="contact-form color-hero color-hero--purple" data-background-color="purple">
  <div class="contact-form__container">
    <div class="contact-form__main container container--lg pt-7 pb-10">
      <h1 class="contact-form__heading" id="contact">Let’s Talk!</h1>
      <p class="medium">
        Let's talk about the challenges you're facing. Our experts are ready to guide you through
        your next big&nbsp;move.
      </p>
      <h4 class="mt-4">Send us a message</h4>
      <form
        class="contact-form__form"
        id="contact-form"
        data-contact-form
        data-status="initial"
        data-action="https://hooks.mainmatter.com/hooks/catch/4837956/ur7n2ox/"
        data-method="POST"
        data-goal="Contact"
      >
        <fieldset data-form-content tabindex="-1" disabled>
          {% if predefinedService %}
            <input type="hidden" name="service" id="service" value="{{ predefinedService }}" />
          {% endif %}
          <div class="contact-form__field">
            <input
              class="contact-form__input"
              id="contact-name"
              type="text"
              name="name"
              placeholder="Name"
              required
            />
            <label class="contact-form__label h4" for="contact-name">
              Name
              <span class="screenreader">(Required)</span>
            </label>
            <span class="contact-form__label-required" aria-hidden="true">Required</span>
          </div>
          <div class="contact-form__field">
            <input
              class="contact-form__input"
              id="contact-company-name"
              type="text"
              name="company"
              placeholder="Company"
            />
            <label class="contact-form__label h4" for="contact-company-name"> Company name </label>
          </div>
          <div class="contact-form__field">
            <input
              class="contact-form__input"
              id="contact-email"
              type="email"
              name="email"
              placeholder="E-mail"
              required
            />
            <label class="contact-form__label h4" for="contact-email">
              E-mail
              <span class="screenreader">(Required)</span>
            </label>
            <span class="contact-form__label-required" aria-hidden="true">Required</span>
          </div>
          <div class="contact-form__field">
            <textarea
              class="contact-form__input"
              id="contact-message"
              name="message"
              type="text"
              placeholder="Tell us about your project"
              rows="8"
            ></textarea>
            <label class="contact-form__label h4" for="contact-message">
              Tell us about your project
            </label>
          </div>
          <button class="contact-form__button cta-link">
            <div class="btn-primary btn-primary--white">
              <span>Send message</span>
              {% include 'svg/arrow.njk' %}
            </div>
          </button>
          <p class="mt-4 medium">
            You can also send us an email at&nbsp;
            <a class="color-white" href="mailto:info@mainmatter.com">info@mainmatter.com </a>
          </p>
        </fieldset>
        <div class="contact-form__status">
          <button class="contact-form__close" data-reset-form>
            {% include 'svg/close.njk' %}
            <span class="screenreader">Close</span>
          </button>
          <div class="contact-form__loading h4" data-form-loading>
            Your message is being sent…
            <div class="loader" aria-hidden="true"></div>
          </div>
          <div class="contact-form__error" tabindex="-1" data-form-error>
            <div class="contact-form__status-wrapper">
              <h2 class="contact-form__success-subheading h3">Unable to send message.</h2>
              <p>
                Please try again later or contact us at
                <a href="mailto:info@mainmatter.com"> info@mainmatter.com </a>
              </p>
            </div>
          </div>
          <div class="contact-form__success" tabindex="-1" data-form-success>
            <div class="contact-form__status-wrapper">
              <h2 class="contact-form__success-heading h3">Thank you!</h2>
              <p class="contact-form__success-subheading h3">We will be in touch soon.</p>
              <p>One of our experts will get back to you shortly.</p>
              <p>
                In the meantime, have a look at our <a href="/playbook/">playbook</a>
                to learn more about how we build ambitious digital products or read about the
                <a href="/work/">other companies we helped in the past.</a>
              </p>
            </div>
          </div>
        </div>
        {{ invisibleCaptcha() }}
        {{ liFatId() }}
      </form>
    </div>
  </div>
</section>
