{% from "social-list.njk" import socialList %}

<section class="contact-info">
  <div class="contact-info__container container container--lg">
    <h1 class="contact-info__heading">Contact Us</h1>
    <p class="contact-info__text">
      Let's talk about the challenges you're facing.
      Our experts are ready to guide you through your next big move.
    </p>
    <div class="contact-info__methods">
      {% for method in contact.contactMethods %}
        <a href="{{ method.link }}" class="contact-info__method-text h4">{{ method.text | safe }}</a>
      {% endfor %}
    </div>
    <div class="contact-info__social-wrapper">
      {{ socialList(socials.socials, 'contact-info__socials')}}
    </div>
  </div>
</section>
