<section class="contact-form">
  <div class="contact-form__container container container--lg">
    <h2 class="contact-form__heading">Send us a message</h2>
    <p class="contact-form__text">
      Following your message, we will schedule a call to understand your situation and discuss the best way we can help. We will use this information to prepare a proposal, laying out our process and how it would apply to your particular project. We will also define some project milestones and give you an overview of what a timeline could look like.
    </p>
    <form class="contact-form__form">
      <label class="contact-form__label h4" for="contact-name">
        Your Name*
      </label>
      <input class="contact-form__input" id="contact-name" type="text" required>
      <label class="contact-form__label h4" for="contact-email">
        Your Email*
      </label>
      <input class="contact-form__input" id="contact-email" type="text" required>
      <label class="contact-form__label h4" for="contact-message">
        Tell us about your project
      </label>
      <textarea class="contact-form__input" id="contact-message" type="text" rows="4"></textarea>
      <button class="contact-form__button cta-link text--accent">
        <span class="cta-link__text">Send</span>
        <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
      </button>
    </div>
  </form>
</section>
