{% from "social-list.njk" import socialList %}

<section class="contact-info">
  <div class="contact-info__container container container--lg">
    <h1 class="contact-info__heading">Contact Us</h1>
    <p class="contact-info__text">
      Let's talk about the challenges you're facing. Our experts are ready to guide you through your next big move. Contact us now to get the ball rolling.
    </p>
    <div class="contact-info__methods contact-methods">
      {% for method in contact.contactMethods %}
        <h2 class="contact-methods__heading h4">
          {{ method.heading }}
        </h2>
        {% if method.link %}
          <a href="{{ method.link }}" class="contact-methods__text">{{ method.text | safe }}</a>
        {% else %}
          <p class="contact-methods__text">{{ method.text | safe  }}</p>
        {% endif %}
      {% endfor %}
    </div>
    <div class="contact-info__social-wrapper">
      <h2 class="contact-info__social-heading h4">Follow Us</h2>
      {{ socialList(socials.socials, 'contact-info__socials')}}
    </div>
  </div>
</section>
