{%- macro ctaLink(link, text, class) -%}
  <a class="cta-link text--accent {{ class }}" href="{{ link }}">
    <span class="cta-link__text">{{ text }}</span>
    {# Todo: Replace with icon #}
    &rarr;
  </a>
{%- endmacro -%}
