{% from "btn-primary.njk" import btnPrimary %}
{% from "cta-link.njk" import ctaLink %}
{%- macro ctaBanner(color, width, content) -%}
  <section
    class="cta-banner cta-banner--{{ color }} {% if content.class %}{{ content.class }}{% endif %} {% if width == 'default' %}
      container container--xl my-10
    {% endif %}"
    id="{% if content.id %}{{ content.id }}{% endif %}"
    data-background-color="{{ color }}"
  >
    <div class="cta-banner__wrapper {% if width == 'full' %}container container--xl{% endif %}">
      <div class="cta-banner__main">
        {% if content.eyebrow %}
          <h6 class="cta-banner__eyebrow">{{ content.eyebrow | safe }}</h6>
        {% endif %}
        {% if content.title %}
          <h2 class="cta-banner__title">{{ content.title | safe }}</h2>
        {% endif %}
        {% if content.subheading %}
          <p class="cta-banner__subheading caption">{{ content.subheading | safe }}</p>
        {% endif %}
        {% if content.text %}
          <div class="cta-banner__text">{{ content.text | safe }}</div>
        {% endif %}
        {% if content.newsletterSignup %}
          <form
            id="newsletter-signup"
            action="{{ content.newsletterSignupAction }}"
            method="post"
            target="_blank"
          >
            <div class="contact-form__field cta__input mb-2 mt-2">
              <input
                class="contact-form__input"
                id="email"
                type="email"
                name="EMAIL"
                placeholder="Your e-mail"
                required
              />
              <label class="contact-form__label h4" for="email">
                Your e-mail
                <span class="screenreader">(Required)</span>
              </label>
              <span class="contact-form__label-required" aria-hidden="true">Required</span>
            </div>
            <button class="btn-primary btn-primary--white {{ class }}" type="submit">
              <span>Subscribe</span>
              {% include 'svg/arrow.njk' %}
            </button>
          </form>
        {% endif %}
        {% if content.linkUrl %}
          {%
            set link = {
            "label": content.linkText,
            "url": content.linkUrl
            }
          %}
          {{ btnPrimary( link, 'white', 'mt-2' ) }}
        {% endif %}
      </div>
    </div>
  </section>
{%- endmacro -%}
