{% from "cta-link.njk" import ctaLink %}
{%- macro ctaBanner(color, width, content) -%}
  <section class="cta-banner cta-banner--{{ color }} {% if width == 'default' %}container container--lg my-10 {% endif %}" data-background-color="{{ color }}">
    <div class="cta-banner__wrapper {% if width == 'full' %}container container--lg mt-4 {% endif %}">
      <div class="cta-banner__main">
        {% if content.eyebrow %}
          <h6 class="cta-banner__eyebrow">{{ content.eyebrow | safe }}</h6>
        {% endif %}
        {% if content.title %}
          <h2 class="cta-banner__title">{{ content.title | safe }}</h2>
        {% endif %}
        {% if content.subheading %}
          <p class="cta-banner__subheading caption">{{ content.subheading | safe }}</p>
        {% endif %}
        {% if content.text %}
          <div class="cta-banner__text">{{ content.text | safe }}</div>
        {% endif %}
        {% if content.linkUrl %}
          {{ ctaLink(content.linkUrl, content.linkText, 'cta-banner__link') }}
        {% endif %}
      </div>
    </div>
  </section>
{%- endmacro -%}
