{#
An individual card for event

Configuration Options:
event: A event object

{{ eventCard(event) }}
#}
{% from "cta-link.njk" import ctaLink %}
{% from "btn-primary.njk" import btnPrimary %}
{%- macro eventCard(event) -%}
  <li
    class="event-card event-card--{{ event.data.color }}"
    data-background-color="{{ event.data.color }}"
    id="{{ event.data.title | slug }}"
  >
    {% if event.data.hero.image %}
      <div class="card__background-wrapper">
        {% image event.data.hero.image, event.data.hero.imageAlt, '(min-width: 48em) 60rem, 90vw', "lazy", 'card__background-image', [760, 1440, 1920] %}
      </div>
    {% endif %}
    <div class="event-card__content-wrapper">
      <div class="event-card__header">
        <div class="event-card__meta">
          <p class="event-card__date small">{{ event.date | monthDayYear }}</p>
          {% if event.data.location %}
            <p class="event-card__location">{{ event.data.location }}</p>
          {% endif %}
        </div>
        <div class="event-card__image-wrapper">
          {% image event.data.image, "", '8rem', 'lazy', 'event-card__image', [264, 420, 500] %}
        </div>
      </div>
      <div class="event-card__body">
        <h3 class="h2 event-card__title">{{ event.data.title }}</h3>
        <div class="event-card__description">{{ event.templateContent | safe }}</div>
        {% if event.data.kind == "Workshop" %}
          {%
            set link = {
            "label": 'Register Now',
            "url": event.data.url
            }
          %}
        {% else %}
          {%
            set link = {
            "label": 'Visit Website',
            "url": event.data.url
            }
          %}
        {% endif %}
        {{ btnPrimary( link, 'white', 'mt-2' ) }}
      </div>
    </div>
  </li>
{%- endmacro -%}
