{#
An individual card for event

Configuration Options:
event: A event object

{{ eventCard(event) }}
#}
{% from "cta-link.njk" import ctaLink %}
{% from "btn-primary.njk" import btnPrimary %}
{%- macro eventCard(event) -%}
  <li class="event-card event-card--{{ event.data.color }}" data-background-color="{{ event.data.color }}">
    <div class="event-card__content-wrapper">
      <div class="event-card__meta">
        <span class="event-card__meta-text">{{ event.date | monthDayYear }}</span>
        {% if event.data.location %}
          <span class="event-card__meta-text">- {{ event.data.location }}</span>
        {% endif %}
      </div>
      <h3 class="event-card__title">
        {{ event.data.title }}
      </h3>
      <div class="event-card__description">
        {{ event.templateContent | safe }}
      </div>

      {% set link = {
            "label": 'Visit Website',
            "url": event.data.url
          }
          %}
          {{ btnPrimary( link, 'white', 'mt-2' )}}
    </div>
  </li>
{%- endmacro -%}
