{%- macro featuredServices(services, content) -%}
  <section class="featured-services container container--lg my-10">
    <div class="featured-services__list-wrapper">
      <div>
        {% if content.title %}
          <h2 class="featured-services__title h5 mb-2">{{ content.title }}</h2>
        {% endif %}
        <h3 class="h2">{{ content.subtitle }}</h3>
      </div>
      <ul class="featured-services__list">
        {%- for service in services -%}
          <li class="featured-services__list-item">
            {% if service.linkUrl %}
              <a href="{{ service.linkUrl }}" class="featured-services__link">
                <div class="featured-services__link-wrap">
                  {% include 'svg/arrow.njk' %}
                  <span class="featured-services__link-text h4">{{ service.heading }}</span>
                </div>
                {% if service.text %}
                  <p class="featured-services__link-description">{{ service.text }}</p>
                {% endif %}
              </a>
            {% else %}
              <div class="featured-services__link--inactive">
                <div class="featured-services__link-wrap">
                  {% include 'svg/arrow.njk' %}
                  <span class="featured-services__link-text h4">{{ service.heading }}</span>
                </div>
                {% if service.text %}
                  <p class="featured-services__link-description">{{ service.text }}</p>
                {% endif %}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if content.text %}
      <p class="featured-services__text">{{ content.text }}</p>
    {% endif %}
  </section>
{% endmacro %}
