{% macro featuredCaseStudy(clientHandle, color, className) %}
  {% set caseStudy = clientHandle | findBySlug %}
  <li class="featured-case-study{% if className %} {{ className }}{% endif %} featured-case-study--{{ color }}" data-background-color="{{ color }}">
    <a class="featured-case-study__link" href="{{ caseStudy.url }}">
      <span class="screenreader">{{ caseStudy.data.displayTitle }}</span>
    </a>

    <div class="featured-case-study__content-wrapper">
      {% set imagePath %}/assets/images/logos/{{ clientHandle }}.svg{% endset %}
      <img class="featured-case-study__logo" src="{{ imagePath }}" alt="{{ company }}"/>
      <div class="featured-case-study__content">
        <div class="featured-case-study__description">
          <p class="featured-case-study__client h5">{{ caseStudy.data.company }}</p>
          <h2 class="featured-case-study__title">{{ caseStudy.data.displayTitle | stripHTML }}</h2>
        </div>
        <p class="featured-case-study__tags caption">
          {% for item in caseStudy.data.tags %}
            {% if loop.index != 1 %} / {% endif %}
              <a href="/services/{{ item | slug }}/"> {{ item }} </a>
            {% endfor %}
        </p>
      </div>
    </div>
  </li>
{%- endmacro -%}
