{#
Section where one half is an image and the other half is a colored text block.

Configuration Options:
desktopTextPosition: 'left' or 'right',
color: One of the core brand colors
post: Blog post object

Example usage:
{{ featuredPost('left', 'purple', post) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro featuredPost(desktopTextPosition, color, post) -%}
  <li class="split-hero split-hero--{{ color }} split-hero--post">
    <div class="split-hero__main split-hero__main--{{ desktopTextPosition }}">
      <div class="split-hero__container container">
        {% if post.data.tags %}
          <div class="split-hero__tags">
            <ul class="tags">
              {% for tag in post.data.tags %}
                <li class="tags__tag-item">
                  <a class="tags__tag tags__tag--link" href="/blog/tag/{{ tag | slug }}">{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <h2 class="split-hero__title h2">{{ post.data.title | safe }}</h2>
        <div class="split-hero__byline byline">
          {% if post.data.authorHandle %}
            {% set author =  post.data.authorHandle | findBySlug %}
            by&nbsp;<a class="byline__author" href="/blog/author/{{ author.data.page.fileSlug }}/">
              {{ author.data.name }}
            </a>
          </a>
          <div class="byline__date">{{ post.date | monthDayYear }}</div>
          {% endif %}
        </div>
        {% if post.data.tagline %}
          <div class="split-hero__text">{{ post.data.tagline | safe }}</div>
        {% endif %}
        {{ ctaLink(post.url, 'Read the post', 'split-hero__link') }}
      </div>
    </div>
    {% if post.data.image %}
      <div class="split-hero__image-wrapper">
        {% image post.data.image, post.data.imageAlt, '(min-width: 48em) 50vw, 100vw', content.loading, 'split-hero__image' %}
      </div>
    {% endif %}
  </li>
{%- endmacro -%}
