{% from "btn-primary.njk" import btnPrimary %}

{%- macro featuredPost(post) -%}
  {% if post.data.tags %}
    {% set tags %}
    <ul class="tags">
      {% for tag in post.data.tags %}
        <li class="tags__tag-item">
          <a class="featured-post__tag tags__tag tags__tag--link" href="/blog/tag/{{ tag | slug }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endset %}
  {% endif %}

  {% if post.data.authorHandle %}
    {% set authorInfo %}
    {% set author = post.data.authorHandle | findBySlug %}
    <div class="author featured-post__author">
      <div class="author__image-wrapper">
        {% set imageUrl = '/assets/images/authors/' + author.data.page.fileSlug + '.jpg' %}
        {% image imageUrl,
        '',
        '2.5rem',
        'eager',
        'author__image',
        [60, 120] %}

      <div class="author__text-wrapper">
        <div class="author__byline text--sm">
            by
            <a class="featured-post__author-name author__name text--bold" href="/blog/author/{{ author.data.page.fileSlug }}">{{ author.data.name }}</a>
        </div>
      </div>

    {% endset %}
  {% endif %}

  <section class="featured-post" data-background-color="purple">
    <a class="featured-post__link" href="{{ post.url }}"></a>
    <div class="container container--lg featured-post__container">
      <h2 class="h1">{{ post.data.title | safe }}</h2>
      <div class="featured-post__content">
        <div class="featured-post__meta-wrapper mt-015 text--sm">
          <span>
            {% for item in post.data.tags %}
              {% if loop.index != 1 %} / {% endif %}
              <a class="" href="/blog/tag/{{ item | slug }}">{{ item }}</a>
            {% endfor %}
          </span>
          <span>{{ post.date | monthDayYear }}</span>
          <span>{{ authorInfo | safe }}</span></p>
      </div>
      {% if post.data.tagline %}
        <div class="featured-post__tagline">{{ post.data.tagline | safe }}</div>
      {% endif %}
      {% set link = {
        "label": "Read more",
        "url": post.url
      }
 %}
      {{ btnPrimary( link, 'white', 'mt-2' )}}
    </div>
  </section>

{%- endmacro -%}
