{#
List of images.

Configuration Options:
images: An array of arrays, where each inner array contains an image name (file name) and the file extension (an image extension such as 'png'/'jpg' or 'svg').
An image should be saved into the directory images/imageList.

Example usage:
{% set images = [['Qonto', 'svg'], ['Trainline', 'png'], ['Timify', 'svg'], ['Cardstack', 'png']] %}
{{ imageList(images) }}
#}

{%- macro listItem(image) -%}
  {% set fileName = image[0] %}
  {% set fileExt = image[1] %}
  {% set imagePath %}/image-list/{{ fileName | slug }}.{{ fileExt }}{% endset %}
  
  <li class="image-list__item">
    <div class="image-list__image" aria-label="{{ fileName | replace('-', ' ') | title }}">
      {% if fileExt == 'svg' %}
        {%
          svg imagePath,
          'img'
        %}
      {% else %}
        <img src="/assets/images{{ imagePath }}" alt="{{ fileName | replace('-', ' ') | title }}">
      {% endif %}
    </div>
  </li>
{%- endmacro -%}

{%- macro imageList(images, title, heading = "h2", headingClass = "h3", animate=true) -%}
  <section class="image-list" id="image-list">
    {% if title %}
      <div class="image-list__title">
        {% if heading == 'h2' %}
          <h2 class="{{ headingClass }}">{{ title }}</h2>
        {% endif %}
        {% if heading == 'h4' %}
          <h4 class="{{ headingClass }}">{{ title }}</h4>
        {% endif %}
      </div>
    {% endif %}
    <div class="image-list__wrapper">
      <div
        class="image-list__inner"
        data-marquee
        {% if not animate %}data-marquee-disable{% endif %}
        style="--marquee-image-count: {{ images | length }};"
      >
        <ul class="image-list__list">
          {% for image in images %}
            {{ listItem(image) }}
          {% endfor %}
        </ul>
        <ul class="image-list__list image-list__list--duplicate" aria-hidden="true">
          {% for image in images %}
            {{ listItem(image) }}
          {% endfor %}
        </ul>
      </div>
    </div>
    <button class="image-list__button" data-marquee-controls>Pause animation</button>
  </section>
{%- endmacro -%}