{#
Multiple images stacked on top of eachother.

Configuration Options:
firstPosition: 'left' or 'right'. Text position on desktop for first block, the others will alternate.
contentBlocks: An array of content blocks. Each content block with the following options:
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img
  small: Boolean, if true, the image will not occupy the full space

Example usage:
{% set 'contentBlocks' = [{
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
},{
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
  "small": true
}] %}
{{ imageStacked('right', contentBlocks) }}
#}

{%- macro imageStacked(firstPosition, contentBlocks) -%}
  <section class="image-stacked image-stacked--{{ firstPosition }} container container--lg">
    {%- for content in contentBlocks -%}
      {%- set animationSpeed = 'md' -%}
      {%- set imageSize = '(min-width:48em) 40rem, 80vw' -%}
      {%- if content.small -%}
        {%- set animationSpeed = 'sm' -%}
        {%- set imageSize = '(min-width:48em) 24rem, 70vw' -%}
      {%- endif -%}
        <div class="image-stacked__image-wrapper {% if content.small %}image-stacked__image-wrapper--small{% endif %}">
          {%- if content.image -%}
            <div data-image-animation="{{ animationSpeed }}">
              {%- image content.image, content.alt, imageSize, content.loading, 'image-stacked__image', [480, 720, 960] -%}
            </div>
          {%- endif -%}
        </div>
    {%- endfor -%}
  </section>
{%- endmacro -%}
