{#
Single image with text to the side. For multiple, use the component in image-with-text-stacked.njk instead

Configuration Options:
textPosition: 'left' or 'right'
content: A content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ colorHero('right', content) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro imageWithText(textPosition, content) -%}
  {% set imageMarkup %}
    <div class="image-text__image-wrapper">
      <div data-image-animation>
        {% if content.image %}
          {% image content.image, content.alt, '(min-width:48em) 30rem, 90vw', content.loading, 'image-text__image', [480, 720, 960] %}
        {% endif %}
      </div>
    </div>
  {% endset %}
  <section class="image-text">
    <div class="image-text__container container container--lg">
      {% if textPosition == 'right' %}
        {{ imageMarkup | safe }}
      {% endif %}
      <div class="image-text__main image-text__main--{{ textPosition }}">
        {% if content.title %}
          <h2 class="image-text__title">{{ content.title | safe }}</h2>
        {% endif %}
        {% if content.text %}
          <div class="image-text__text">{{ content.text | safe }}</div>
        {% endif %}
        {% if content.linkUrl %}
          {{ ctaLink(content.linkUrl, content.linkText, 'image-text__link') }}
        {% endif %}
      </div>
      {% if textPosition == 'left' %}
        {{ imageMarkup | safe }}
      {% endif %}
    </div>
  </section>
{%- endmacro -%}
