{% from "cta-link.njk" import ctaLink %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}

{%- macro imageBannerWithText(content) -%}
  <section class="image-banner-with-text">
    <div class="container container--lg">
      <h2 class="image-banner-with-text__heading h5">{{ content.title }}</h2>
    </div>

    {% if content.image %}
      {% set imageData = {
        "imgPath": content.image,
        "alt": content.alt,
        "sizes": "100vw",
        "loading": "lazy",
        "sizesArray": [760, 1440, 1920]
      } %}
      {{ imageAspectRatio(imageData, "32/13", "35/19") }}
    {% endif %}

    <div class="container container--lg">
      <div class="image-banner-with-text__content">
        {% if content.subtitle %}
          <h3 class="image-banner-with-text__subheading h4">{{ content.subtitle }}</h3>
        {% endif %}
        {% if content.text %}
          <div class="image-banner-with-text__text">{{ content.text | safe }}</div>
        {% endif %}
        {% if content.linkUrl and content.linkText %}
          {{ ctaLink(content.linkUrl, content.linkText, 'image-banner-with-text__link') }}
        {% endif %}
      </div>
    </div>
  </section>
{%- endmacro -%}