{%- macro logoList(logos) -%}
  <section class="logo-list">
    <ul class="logo-list__list">
      {% for logo in logos %}
        <li class="logo-list__item">
          {% set imagePath %}/assets/images/logos/{{ logo | slug }}.svg{% endset %}
          {% image imagePath, logo, '', 'lazy', 'logo-list__image' %}
        </li>
      {% endfor %}
    </ul>
  </section>
{%- endmacro -%}
