{%- macro logoList(logos) -%}
  <section class="logo-list">
    <ul class="logo-list__list">
      {% for logo in logos %}
        <li class="logo-list__item">
          <div class="logo-list__image" aria-label="{{ logo }}">
            {% set imagePath %}/logos/{{ logo | slug }}.svg{% endset %}
            {% svg imagePath, 'img' %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{%- endmacro -%}
