{% from "image-aspect-ratio.njk" import imageAspectRatio %}

<section class="image-banner-with-text my-5">
  <div class="container container--lg">
    <h2 class="image-banner-with-text__heading">Why Mainmatter</h2>
  </div>

  <div class="mainmatter-team">
    {%- for teammate in team.team -%}
      {% set alt %}{{ teammate.name }} looking straight into the camera{% endset %}
      {%-
        set imageData = {
        "imgPath": teammate.imgPath,
        "alt": alt,
        "sizes": "200px, 400px",
        "loading": "lazy",
        "sizesArray": [200, 400]
        }
      -%}
      {{- imageAspectRatio(imageData, "40/32", "40/32") -}}
    {%- endfor -%}
  </div>

  <div class="container container--lg">
    <div class="image-banner-with-text__content">
      <h3 class="image-banner-with-text__subheading h4">
        We are a team of developers, inventors, designers, strategists, artists and storytellers. We
        work remotely from 10 countries in Europe and we believe in recruiting top talents from any
        location.
      </h3>
      <div class="image-banner-with-text__text">
        <p>
          That said, we still value face time. We frequently come together for team events and
          workshops, and invite our clients to join us as well. The team also frequently attends and
          speaks at international conferences and we host a series of conferences and meetups
          ourselves.
        </p>
      </div>
    </div>
  </div>
</section>
