{#
Previous / next pagination for within listing pages
Configuration Options:
previous: page object of the next page, or null.
next: see above
nextLabel: string for Next button label only on first page
#}

{%- macro navPagination(previous, next, nextLabel) -%}
  {% if previous or next %}

    {% if nextLabel %}{% set next_label = nextLabel %}{% else %}{% set next_label = 'Next' %}{% endif %}

    <nav class="pagination" aria-label="Pagination">
      {% if previous %}
        <a class="cta-link pagination__previous" href="{{ previous }}#posts">
          <span class="cta-link__arrow cta-link__arrow--rotate">{% include 'svg/arrow.njk' %}</span>
          <span class="cta-link__text">Previous</span>
        </a>
      {% endif %}
      {% if next %}
        <a class="cta-link pagination__next" href="{{ next }}#posts">
          <span class="cta-link__text">{{ next_label }}</span>
          <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
        </a>
      {% endif %}
    </nav>
  {% endif %}
{%- endmacro -%}
