{#
Previous / next pagination for within listing pages
Configuration Options:
previous: page object of the next page, or null.
next: see above
nextLabel: string for Next button label only on first page
#}

{%- macro navPagination(previous, next, nextLabel) -%}
  {% if previous or next %}

    {% if nextLabel %}{% set next_label = nextLabel %}
    {% else %}{% set next_label = 'Next' %}
    {% endif %}

    <nav class="pagination" aria-label="Pagination">
      {% if previous %}
      <div class="previous-wrapper">
        <a href="{{ previous }}#posts" class="btn-secondary h4 pagination-item previous">
          {% include 'svg/arrow.njk' %}
          <span class="btn-secondary__text">Previous</span>
        </a>
      </div>
      {% endif %}
      {% if next %}
      <div class="next-wrapper">
        <a href="{{ next }}#posts" class="btn-secondary h4 pagination-item next">
          <span class="btn-secondary__text">{{ next_label }}</span>
          {% include 'svg/arrow.njk' %}
        </a>
      </div>
      {% endif %}
    </nav>
  {% endif %}
{%- endmacro -%}
