{% from "global/default-newsletter-cta.njk" import defaultNewsletterCta %}

{%- macro newsletterCta(tags) -%}
  {% if tags %}
    {% if tags | length === 1 and tags[0] === "rust" %}
      {% include "global/rust-newsletter-cta.njk" %}
    {% elif tags | length === 1 and tags[0] === "svelte" %}
      {% include "global/svelte-newsletter-cta.njk" %}
    {% else %}
      {{ defaultNewsletterCta() }}
    {% endif %}
  {% endif %}
{%- endmacro -%}
