{#
An individual card for post

Configuration Options:
post: A post object

{{ postCard(post) }}
#}
{%- macro postCard(post, tag = 'h3') -%}
  <li class="card__grid-element">
    <a href="{{ post.url }}" class="card__link">
      <!-- prettier-ignore-start -->
      <{{tag}} class="screenreader">
        {{ post.data.title }}
      </{{tag}}>
      <!-- prettier-ignore-end -->
    </a>
    <div class="card__logo-wrapper">
      <p class="small">{{ post.date | monthDayYear }}</p>
    </div>

    <div class="card__content">
      <p class="mb-015 h4" aria-hidden="true">{{ post.data.title }}</p>
      {% if post.data.authorHandle %}
        {% set author = post.data.authorHandle | findBySlug %}
        <div class="post-cards__author">
          <div class="post-cards__author-image-wrapper">
            {% set imageUrl = '/assets/images/authors/' + author.data.page.fileSlug + '.jpg' %}
            {%
              image imageUrl,
              '',
              '2.5rem',
              'eager',
              'post-cards__author-image',
              [80]
            %}
          </div>
          <div class="post-cards__author-name">
            <div class="small">
              by
              <a href="/blog/author/{{ author.data.page.fileSlug }}">{{ author.data.name }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="card__link-wrapper">
        <div class="small">
          {% for item in post.data.tags %}
            {% if loop.index != 1 %}/{% endif %}
            <a href="/blog/tag/{{ item | slug }}/">{{- item -}}</a>
          {% endfor %}
        </div>
        <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
      </div>
    </div>
  </li>
{%- endmacro -%}
