{% from "btn-primary.njk" import btnPrimary %}
{% from "cta-link.njk" import ctaLink %}
{%- macro publicWorkshops(workshops) -%}
  <section class="cta-banner cta-banner--purple container container--xl my-10" data-background-color="purple">
    <div class="cta-banner__wrapper">
      <div class="cta-banner__main">
        <h6 class="cta-banner__eyebrow">Public Workshops</h6>
        <h2 class="cta-banner__title">Attend one of our next public workshop</h2>
        <p class="cta-banner__subheading caption">We regularly organize public workshops that everyone can buy tickets for. If a dedicated workshop for your team is not what you're looking for, attending one of those might be a better choice:</p>
        {% for workshop in workshops %}
          <div class="cta-banner__text">
            <strong>{{ workshop.date }}</strong>: {{ workshop.text | safe }}
            {% set link = {
              "label": "Register here",
              "url": workshop.url
            } %}
            {{ btnPrimary( link, 'white', 'mt-2' )}}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{%- endmacro -%}
