{% from "btn-primary.njk" import btnPrimary %}
{% from "cta-link.njk" import ctaLink %}
{%- macro publicWorkshops(workshops) -%}
  {% if workshops.length > 0 %}
    <section class="tech-cards my-10">
      <div class="tech-cards__container container container--xl">
        <h2 class="tech-cards__title">Attend a public workshop</h2>
        <p class="tech-cards__intro mt-25 mb-5">
          From time to time, we also organize public workshops. <br />
          Public workshops are the ideal solution for independent developers and small teams: it's
          enough to buy a ticket to join!
        </p>
        <div class="cards__grid">
          {% for workshop in workshops %}
            <div class="tech-cards__grid-element card__grid-element">
              <a href="{{ workshop.link }}" class="card__link">
                <h3 class="screenreader">{{ workshop.title }}</h3>
              </a>
              <div class="">
                <p class="small">{{ workshop.date }}</p>
              </div>
              <div class="card__content">
                {% if workshop.text %}
                  <p class="h4 mb-015" aria-hidden="true">{{ workshop.text | safe }}</p>
                {% endif %}
                {% if workshop.link %}
                  <div class="card__link-wrapper">
                    <p class="caption ">Register here</p>
                    <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{%- endmacro -%}
