{% from "btn-primary.njk" import btnPrimary %}
{% from "cta-link.njk" import ctaLink %}
{%- macro publicWorkshops(workshops) -%}
  <section class="cta-banner cta-banner--purple container container--xl my-10" data-background-color="purple">
    <div class="cta-banner__wrapper">
      <div class="cta-banner__main">
        <h6 class="cta-banner__eyebrow">Attend a public workshop</h6>
        <p class="cta-banner__subheading caption">From time to time, we also organize public workshops. <br>
           Public workshops are the ideal solution for independent developers and small teams: it's enough to buy a ticket to join!</p>
        {% for workshop in workshops %}
          <div class="cta-banner__text">
            <strong>{{ workshop.date }}</strong>: {{ workshop.text | safe }}
            {% set link = {
              "label": "Register here",
              "url": workshop.url
            } %}
            {{ btnPrimary( link, 'white', 'mt-2' )}}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{%- endmacro -%}
