{% from "cta-link.njk" import ctaLink %}

{% macro scrollSlides(id, slides, pageUrl) %}
  <section class="scroll-slides">
    {% for slide in slides %}
      {% set slideIndex = loop.index %}
      <div id="{{ id }}-slide-{{ loop.index }}" class="scroll-slides__slide scroll-slides__slide--{{ slide.color }}" data-scroll-slide data-background-color="{{ slide.color }}">
        <div class="scroll-slides__container container container--lg">
          <div class="scroll-slides__pagination" aria-hidden="true">
            {% for slide in slides %}
              <span class="scroll-slides__pagination-item">
                <span href="{{ pageUrl }}#{{ id }}-slide-{{ loop.index }}" class="scroll-slides__pagination-button">
                  <span class="screenreader">Slide {{ loop.index }}{% if slideIndex == loop.index %} (Current slide){% endif %}</span>
                  <span class="scroll-slides__pagination-span{% if slideIndex == loop.index %} scroll-slides__pagination-span--active{% endif %}" aria-hidden></span>
                </span>
              </span>
            {% endfor %}
          </div>
          <div class="scroll-slides__content">
            <h2 class="scroll-slides__title">{{ slide.title }}</h2>
            <p class="scroll-slides__text">{{ slide.text }}</p>
            {% if slide.linkUrl and slide.linkText %}
              {{ ctaLink(slide.linkUrl, slide.linkText, '') }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endmacro %}