{% from "cta-link.njk" import ctaLink %}

{% macro scrollSlides(slides, pageUrl) %}
  <section class="scroll-slides" id="scroll-slides">
    {% for slide in slides %}
      {% set slideIndex = loop.index %}
      <div id="slide-{{ loop.index }}" class="scroll-slides__slide scroll-slides__slide--{{ slide.color }}" data-scroll-slide data-background-color="{{ slide.color }}">
        <div class="scroll-slides__container container container--xl">
          <ol class="scroll-slides__pagination" aria-label="Slide pagination">
            {% for slide in slides %}
            <li class="scroll-slides__pagination-item">
              <button class="no-js-hidden scroll-slides__pagination-button" data-pagination="{{ loop.index0 }}">
                <span class="screenreader">Slide {{ loop.index }}{% if slideIndex == loop.index %} (Current slide){% endif %}</span>
                <span class="scroll-slides__pagination-span{% if slideIndex == loop.index %} scroll-slides__pagination-span--active{% endif %}" aria-hidden></span>
              </button>
              <noscript>
                <a href="#slide-{{ loop.index }}" class="scroll-slides__pagination-button">
                  <span class="screenreader">Slide {{ loop.index }}{% if slideIndex == loop.index %} (Current slide){% endif %}</span>
                  <span class="scroll-slides__pagination-span{% if slideIndex == loop.index %} scroll-slides__pagination-span--active{% endif %}" aria-hidden></span>
                </a>
              </noscript>
            </li>
            {% endfor %}
          </ol>
          <div class="scroll-slides__content">
            <h2 class="scroll-slides__title">{{ slide.title }}</h2>
            <p class="scroll-slides__text">{{ slide.text }}</p>
            {% if slide.linkUrl and slide.linkText %}
              {{ ctaLink(slide.linkUrl, slide.linkText, '') }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endmacro %}