{#
Secondary feature content, image with text

Configuration Options:
textPosition: 'left' or 'right'
content: A content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ secondaryFeature('right', content) }}
#}
{% from "cta-link.njk" import ctaLink %}
{%- macro secondaryFeature(content) -%}
  <div class="secondary-feature">
    <div class="secondary-feature__main">
      {%- if content.linkUrl -%}
        {{ ctaLink(content.linkUrl, content.linkText, 'secondary-feature__link') }}
      {%- endif -%}
      {%- if content.text -%}
        <h2 class="secondary-feature__text h5 text--bold">{{ content.text | safe }}</h2>
      {%- endif %}
    </div>
    <div class="secondary-feature__image-wrapper">
      {% if content.image -%}
        {%- image content.image, content.alt, '(min-width:62em) 15rem, 90vw', content.loading, 'secondary-feature__image', [250, 375, 500, 750] -%}
      {%- endif -%}
    </div>
  </div>
{%- endmacro -%}