{#
Secondary feature content, image with text

Configuration Options:

content: A content block with the following options:
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ secondaryFeature(content) }}
#}

{%- macro secondaryFeature(content, className) -%}
  <div class="secondary-feature{% if className %} {{ className }}{% endif %}">
    <div class="secondary-feature__image-wrapper">
      {%- if content.image -%}
        {%- image content.image, content.alt, '(min-width:62em) 15rem, 90vw', content.loading, 'secondary-feature__image', [250, 375, 500, 750] -%}
      {%- endif -%}
    </div>
  </div>
{%- endmacro -%}

