{% from "btn-primary.njk" import btnPrimary %}

{% macro serviceCards(id, title, cards) %}
  <section class="service-cards" id="{{ id }}">
    <div class="service-cards__container container container--lg">
      {% if title %}
        <h1 class="service-cards__title">{{ title }}</h1>
      {% endif %}
      <div class="cards__grid pb-7 service-cards__grid">
        {% for card in cards %}
          <div class="service-cards__grid-element service-card__grid-element">
            <h3 class="screenreader">{{ card.title }}</h3>
            <div class="card__content">
              {% if card.title %}
                <h4 class="mb-2">{{ card.title }}</h4>
              {% endif %}
              {% if card.text %}
                <p class="mb-2 medium">{{ card.text }}</p>
              {% endif %}
            </div>
            {% if card.link %}
              {%
                set link = {
                "label": card.label,
                "url": card.link
                }
              %}
              {{ btnPrimary( link, 'aqua', 'nav__cta service-cards__btn' ) }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}
