{%- macro serviceCta(tags, customCta) -%}
  <div class="service-cta service-cta--blog">
    {% if customCta %}
      {% include customCta %}
    {% elif "rust" in tags %}
      {% include "global/rust-cta.njk" %}
    {% elif "svelte" in tags %}
      {% include "global/svelte-cta.njk" %}
    {% elif "ember" in tags %}
      {% include "global/ember-cta.njk" %}
    {% elif "git" in tags %}
      {% include "global/git-workshop-cta.njk" %}
    {% elif "design" in tags %}
      {% include "global/interface-inventory-workshop-cta.njk" %}
    {% elif "gravity" in tags %}
      {% include "global/gravity-cta.njk" %}
    {% else %}
      {% include "global/default-cta.njk" %}
    {% endif %}
  </div>
{%- endmacro -%}
