{#
Section where one half is an image and the other half is a colored text block.

Configuration Options:
desktopTextPosition: 'left' or 'right',
color: One of the core brand colors
content: A content block with the following options:
  title: String or markup for heading. Text wrapped in <em> will have the text animation applied.
  text: String or markup for body text
  linkUrl: Optional link destination
  linkText: Optional link text
  tags: Optional tag displayed above the header (not linked)
  image: Path to image in the file directory
  alt: Image alt text
  loading: Valid loading attribute for HTML img

Example usage:
{% set 'content' = {
  "title": "Guiding projects and teams to <em>sustainable</em> success",
  "text": "Mainmatter is a digital product consultancy that designs and develops web applications. We realize projects with clients across the globe and teach them how along the way.",
  "tags": ['Ember.js', 'Design']
  "linkUrl": "/services",
  "linkText": "Our Services",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ splitHero('left', 'purple', content) }}
#}
{% from "cta-link.njk" import ctaLink %}

{%- macro splitHero(desktopTextPosition, color, content) -%}
  <section class="split-hero split-hero--{{ color }}">
    <div class="split-hero__main split-hero__main--{{ desktopTextPosition }}">
      <div class="split-hero__container container">
        {% if content.tags %}
          <div class="split-hero__tags">
            <ul class="tags">
              {% for tag in content.tags %}
                <li class="tag">{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if content.title %}
          <h2 class="split-hero__title h1 text-animation">{{ content.title | safe }}</h2>
        {% endif %}
        {% if content.text %}
          <p class="split-hero__text">{{ content.text | safe }}</p>
        {% endif %}
        {% if content.linkUrl %}
          {{ ctaLink(content.linkUrl, content.linkText, 'split-hero__link') }}
        {% endif %}
      </div>
    </div>
    <div class="split-hero__image-wrapper">
      {% if content.image %}
        {% image content.image, content.alt, '(min-width: 48em) 50vw, 100vw', content.loading, 'split-hero__image' %}
      {% endif %}
    </div>
  </section>
{%- endmacro -%}
