{% from "btn-secondary.njk" import btnSecondary %}
{% macro strategyList(id, eyebrow, list) %}
  <section class="strategy-list my-10">
    <div class="strategy-list__container container container--lg">
      {% if eyebrow %}
        <h2 class="strategy-list__eyebrow h5">{{ eyebrow }}</h2>
      {% endif %}
      {% for el in list %}
        {% set listIndex = loop.index %}
        <div id="{{ id }}-list-{{ loop.index }}" class="strategy-list__element">
          <div class="strategy-list__wrapper">
            <span class="strategy-list__number decorative h2" role="presentation"
              >{{ loop.index }}</span
            >
            <div class="strategy-list__content">
              {% if el.eyebrow %}
                <span class="strategy-list__eyebrow mb-015 h5">{{ el.eyebrow }}</span>
              {% endif %}
              {% if el.title %}
                <p class="strategy-list__title h4">{{ el.title | safe }}</p>
              {% endif %}
              {% if el.text %}
                <p class="mt-2">{{ el.text | safe }}</p>
              {% endif %}
              {% if el.linkUrl %}
                {%
                  set link = {
                  "label": el.linkLabel,
                  "url": el.linkUrl
                  }
                %}
                {{ btnSecondary( link, 'mt-2' ) }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}
