{% macro techCards(id, title, intro, cards) %}
  <section class="tech-cards my-10">
    <div class="tech-cards__container container container--xl">
      {% if title %}
        <h2 class="tech-cards__title">{{ title }}</h2>
      {% endif %}
      {% if intro %}
        <p class="tech-cards__intro mt-25 mb-5">{{ intro | safe }}</p>
      {% endif %}
      <div class="cards__grid">
        {% for card in cards %}
          <div class="tech-cards__grid-element card__grid-element">
            <a href="/{{ card.link }}" class="card__link">
              <h3 class="screenreader">{{ card.title }}</h3>
            </a>
            <div class="tech-cards__logo {{ card.logo }}">
              {% set link='svg/'+ card.logo + '.njk' %}
              {% include link %}
            </div>
            <div class="card__content">
              {% if card.title %}
                <p class="tech-cards__title mb-015 h4">{{ card.title }}</p>
              {% endif %}
              {% if card.link %}
                <div class="card__link-wrapper">
                  <p class="caption">Learn more</p>
                  <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}
