{% macro techCards(id, title, intro, cards) %}
  <section class="tech-cards my-10">
    <div class="tech-cards__container container container--lg">
      <h2 class"tech-cards__title">{{ title }}</h2>
      <h6 class="tech-cards__intro mt-25 mb-5">{{ intro }}</h6>
      <div class="tech-cards__grid">
        {% for card in cards %}
          <a href="/{{ card.link }}" class="tech-cards__grid-element tech-cards__bg-{{ card.logo }}">
            {% if type == 'casestudies' %}
              <div class="tech-cards__logo-wrapper">
                <img class="tech-cards__logo" src="">
              </div>
            {% endif %}
            <div class="tech-cards__content">
              {% if card.title %}
                <h4 class="tech-cards__title mb-015">{{ card.title }}</h4>
              {% endif %}
              {% if card.link %}
                <div class="tech-cards__link-wrapper">
                  <p class="caption tech-cards__link-label">Learn more</p>
                  <span class="tech-cards__link-arrow">{% include 'svg/arrow.njk' %}</span>
                </div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </section>
  {% endmacro %}
