{% macro techCards(id, title, intro, cards) %}
  <section class="tech-cards my-10">
    <div class="tech-cards__container container container--xl">
      <h2 class="tech-cards__title">{{ title }}</h2>
      <p class="tech-cards__intro mt-25 mb-5">{{ intro | safe }}</p>
      <div class="tech-cards__grid">
        {% for card in cards %}
          <div class="tech-cards__grid-element">
            <div class="tech-cards--hover"></div>
            <a href="/{{ card.link }}" class="tech-cards_link"></a>
            <div class="tech-cards__logo {{ card.logo }}">
              {% set link='svg/'+ card.logo + '.njk'%}
              {% include link %}
            </div>
            <div class="tech-cards__content">
              {% if card.title %}
                <h4 class="tech-cards__title mb-015">{{ card.title }}</h4>
              {% endif %}
              {% if card.link %}
                <div class="tech-cards__link-wrapper">
                  <p class="caption tech-cards__link-label">Learn more</p>
                  <span class="tech-cards__link-arrow">{% include 'svg/arrow.njk' %}</span>
                </div>
              {% endif %}
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}
