{#
An individual card for video

Configuration Options:
video: A video object

{{ videoCard(video) }}
#}
{% from "cta-link.njk" import ctaLink %}
{%- macro videoCard(video) -%}
  <div class="video-card">
    <a href="{{ video.url}}" class="video-card__link">
      <h3 class="screenreader">{{ video.data.title }}</h3>
    </a>
    <div class="video-card__image-wrapper">
      {% image video.data.image, "", '16.438rem', "lazy", 'video-card__image', [263, 395, 526] %}
      <span class="video-card__duration">{{ video.data.duration }}</span>
    </div>
    <span class="tags__tag">
      {{ video.data.label }}
    </span>
    <p class="video-card__title h3" aria-hidden="true">
      {{ video.data.title }}
    </p>
    <p class="video-card__description">
      {{ video.data.description }}
    </p>
    <span class="video-card__cta cta-link text--accent" aria-hidden="true">
      <span class="cta-link__text">Find out more</span>
      <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
    </span>
  </div>
{%- endmacro -%}
