{#
An individual card for workshop

Configuration Options:
workshop: A workshop object

{{ workshopCard(workshop) }}
#}
{% from "cta-link.njk" import ctaLink %}
{%- macro workshopCard(workshop) -%}
  <li class="workshop-card">
    <a href="{{ workshop.url }}" class="workshop-card__link">
      <h3 class="screenreader">{{ workshop.data.title }}</h3>
    </a>
    <div class="workshop-card__lead-images">
      {% for lead in workshop.data.leads %}
        {% image lead.image, lead.name, '5.438rem', 'lazy', 'workshop-card__lead-image', [87, 131, 174] %}
      {% endfor %}
    </div>
    <p class="workshop-card__title h3" aria-hidden="true">
      {{ workshop.data.title }}
    </p>
    <p class="workshop-card__lead-text">
      with
      {% for lead in workshop.data.leads %}
        {{ lead.name }}{% if loop.last === false %}, {% endif %}
      {% endfor %}
    </p>
    {% if workshop.data.format or workshop.data.duration %}
      <div class="workshop-card__meta">
        {% if workshop.data.duration %}
          <span class="workshop-card__meta-text">{{ workshop.data.duration }}</span>
        {% endif %}
        {% if workshop.data.format %}
          <span class="workshop-card__meta-text">{{ workshop.data.format }}</span>
        {% endif %}
      </div>
    {% endif %}
    <p class="workshop-card__description">
      {{ workshop.data.description }}
    </p>
    <span class="workshop-card__cta cta-link text--accent" aria-hidden="true">
      <span class="cta-link__text">Find out more</span>
      <span class="cta-link__arrow">{% include 'svg/arrow.njk' %}</span>
    </span>
  </li>
{%- endmacro -%}
