{% macro workshopsList(title, intro, workshops) %}
  <section class="tech-cards my-10">
    <div class="tech-cards__container container container--xl">
      <h2 class="tech-cards__title">{{ title }}</h2>
      <p class="tech-cards__intro mt-25 mb-5">{{ intro }}</p>
      <h2 class="tech-cards__title">Workshops Catalog</h2>
      <div class="cards__grid">
        {% for workshop in workshops %}
          <div class="tech-cards__grid-element card__grid-element">
            <a href="/{{ workshop.link }}" class="card__link">
              <h3 class="screenreader">{{ workshop.title }}</h3>
            </a>
            <div class="card__logo tech-cards__logo {{ workshop.logo }}">
              {% set link='svg/'+ workshop.logo + '.njk' %}
              {% include link %}
            </div>
            <div class="card__content">
              {% if workshop.title %}
                <p class="h4 mb-015" aria-hidden="true">{{ workshop.title }}</p>
              {% endif %}
              {% if workshop.link %}
                <div class="card__link-wrapper">
                  <p class="caption">Learn more</p>
                  <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}
