{% from "color-hero.njk" import colorHero %}

{% set title = "Work with us" %}
{% set text = "Talk to one of our experts to find out how we can help you." %}
{{ colorHero('/assets/images/photos/collaboration@1200.jpg', 'alt', 'center', 'yellow', 'lazy', title, text, '/contact/', 'Find out more') }}
