{% macro workshopsList(title, intro, workshops) %}
  <section class="tech-cards my-10">
    <div class="tech-cards__container container container--xl">
      <h2 class="tech-cards__title">{{ title }}</h2>
      <p class="tech-cards__intro mt-25 mb-5">{{ intro | safe }}</p>
      <div class="cards__grid">
        {% for workshop in workshops %}
          <div class="tech-cards__grid-element card__grid-element">
            <a href="/services/workshops/{{ workshop.fileSlug }}" class="card__link">
              <h3 class="screenreader">{{ workshop.data.title }}</h3>
            </a>

            {% set workshop_logo = workshop.data.tags[0] %}
            {% if workshop_logo %}
              <div class="tech-cards__logo {{ workshop_logo }}">
                {% set link='svg/'+ workshop_logo + '.njk' %}
                {% include link %}
              </div>
            {% endif %}
            <div class="card__content">
              <p class="tech-cards__title mb-015 h4">{{ workshop.data.title }}</p>

              <div class="card__link-wrapper">
                <p class="caption">Learn more</p>
                <span class="card__link-arrow">{% include 'svg/arrow.njk' %}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endmacro %}
