<div class="shape.wrap">
  <div class="shape-left">
    <div class="shape-left.background">
      <div class="shape-left.content">
        <div class="shape.content-image">
          <img class="fluid-image.image" src="/assets/images/trainline-comp.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="shape.shape-center">
    <div class="shape.shape-center-content">
      <p class="typography.small-text">
        Featured Case Study
      </p>
      <h3 class="typography.sub-heading">
        Leveraging Trainline's full market potential
      </h3>
      <a class="typography.arrow-link" href="#">
        Learn More
      </a>
    </div>
  </div>
  <div class="shape-right">
    <div class="shape-right.background"></div>
  </div>
</div>