<div class="shape.wrap">
  <div class="shape-image">
    <div class="shape-image.background">
      <div class="shape-image.content">
        <div class="shape-image.image">
          <img class="fluid-image.image" src="/assets/images/trainline-comp.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="shape.caption">
    <div class="shape.caption-content">
      <p class="typography.small-text">
        Featured Case Study
      </p>
      <h3 class="typography.headline-2">
        Leveraging Trainline's full market potential
      </h3>
      <Link @arrow="true" @href="/cases/trainline">
        Read Case Study
      </Link>
    </div>
  </div>
  <div class="shape-decoration">
    <div class="shape-decoration.background"></div>
  </div>
</div>