<div>
  <p typography:class="small" block:class="small">
    {{@label}}
  </p>
  <h2 typography:class="h2" block:class="h2">
    {{@title}}
  </h2>
  <p typography:class="lead" block:class="lead">
    {{#each this.textLines key="id" as |text|}}
      <span block:class="text-line">
        {{text}}
      </span>
    {{/each}}
  </p>
  {{yield}}
</div>