<div>
  <p typography:class="small" block:class="small">
    {{@label}}
  </p>
  <h2 typography:class="h2" block:class="h2">
    {{@title}}
  </h2>
  <p typography:class="lead" block:class="lead">
    {{@text}}
  </p>
  {{yield}}
</div>