@block container from "../../styles/blocks/container.block.css";
@block figure from "../../styles/blocks/figure.block.css";
@block layout from "../../styles/blocks/layout.block.css";

@export figure from "../../styles/blocks/figure.block.css";
@export layout from "../../styles/blocks/layout.block.css";
@export offset from "../../styles/blocks/offset.block.css";
@export typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageCaseStudyTrainline;
  composes: 'layout';
}

.figure {
  composes: 'figure';
}

@media (min-width: 888px) {
  .vertical-offset {
    padding-top: 51rem;
  }
}
