<div>
  <Header @title="A mobile train ticket counter" />
  <div class="container-base">
    <div class="main-block">
      <div class="main-block.content">
        <p class="typography.lead">
          simplabs worked closely with Trainline’s in-house engineering team and built a mobile web app to accompany the existing desktop app. A dedicated site for mobile devices allowed Trainline to better serve customers on the go and leverage the full market potential.
        </p>
      </div>
      <div class="main-block.sidebar">
        <Card @label="Client" @src="/assets/images/card/trainline.svg" @alt="Trainline">
          <p class="typography.body-text">
            Trainline is Europe's leading independent rail and coach platform. They sell tickets to customers worldwide, enabling more than 125,000 journeys every single day in and across 36 countries, covering 150 different carriers.
          </p>
        </Card>
        <Card @label="Our Expertise" @src="/assets/images/card/ember.svg">
          <h3 class="typography.headline-3">
            <p class="typography.body-text">
              We are Europe’s Leading Ember Experts.
            </p>
            <ArrowLink @href="/expertise/ember">
              Learn more
            </ArrowLink>
          </h3>
        </Card>
      </div>
    </div>
  </div>
  <ShapeWork
    @background="#21314D"
    @color="#48D6B6"
    @src="/assets/images/work/trainline.jpg"
    @clip="true"
    @center="true"
  >
    <blockquote>
      <p class="typography.body-text">
        It has been an absolute pleasure to work with simplabs. Their team of experienced JavaScript engineers quickly slotted in to our in-house development teams. Their expertise with modern, agile software development best practices and tools meant they were able to work with our processes to deliver fantastic customer experiences.
      </p>
      <p class="typography.small-text">
        Mark Holt, Trainline CTO
      </p>
    </blockquote>
  </ShapeWork>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <h3 class="typography.headline-2">
            Sustainable added value
          </h3>
          <p class="typography.body-text">
            Working closely with Trainline's engineering and product teams, we were able to deliver the first version of the mobile web app on tima and budget, continuing to extend and improve it afterwards. Our experts also leveled up the team's experience and helped them internalize modern and idiomatic practices for developing web apps via pairing sessions and code reviews.
          </p>
          <p class="typography.body-text">
            In addition to supporting Trainline with engineering resources and expertise, we were able to help improve the engineering process by establishing and solidifying an iterations based approach. This resulted in more efficient prioritization and a better sense of progress by both engineers and management.
          </p>
          <figure class="main-block.body-image">
            <img class="fluid-image.image" src="/assets/images/work/trainline-comp-2.png" />
            <figcaption class="main-block.body-image-caption">
              trainline sells tickets for 150 different carriers across 36 countries via their mobile app.
            </figcaption>
          </figure>
        </div>
        <div class="main-block.content-item">
          <h3 class="typography.headline-2">
            A path into the future
          </h3>
          <p class="typography.body-text">
            Besides working on the core application, simplabs spearheaded several engineering efforts focused around mobile performance, improved load times, server side rendering and localization. We were able to achieve substantial improvements, resulting in a much improved user experience and increased sales.
          </p>
        </div>
      </div>
      <div class="main-block.sidebar vertical-offset">
        <Card @title="Learn about our iterations based approach" @src="/assets/images/card/playbook.svg">
          <p class="typography.body-text">
            We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to deliver ambitious software solutions for our clients.
          </p>
          <ArrowLink @href="/playbook">
            Learn more
          </ArrowLink>
        </Card>
      </div>
    </div>
  </div>
  <ShapeFeatureTimify />
  <WorkWithUs />
  <Footer />
</div>