@block container from "../../styles/blocks/container.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

@export layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: PageCaseStudyExpedition;
  composes: 'layout';
}

.quote-offset {
  margin-top: 10rem;
}

@media (min-width: 888px) {
  .vertical-offset {
    padding-top: 47rem;
  }
}
