<div>
  <Header
    @active="work"
    @title="Expedition Case Study"
    @documentTitle="An architecture based on Elixir and Ember.js for Expedition | Work"
    @description="simplabs helped Expedition to develop a stable and sustainable architecture, getting the most out of their technology stack based on Ember.js and Elixir."
  >
    <HeaderContent @label="Expedition Case Study" @headline="An online travel magazine for global citizens" />
  </Header>
  <div layout:class="bleed-left" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/work/expedition@600.jpg 600w, /assets/images/work/expedition@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing" offset:class="after-12">
    <h2>
      The Challenge
    </h2>
    <p typography:class="lead">
      Expedition approached simplabs when they needed help laying the foundation for advanced features in their Elixir and Phoenix based API as well as making sure their Ember.js web application was following best practices. They wanted to have certainty they followed best practices in building a modern web application and were implementing an architecture that would enable their long-term success rather than turn into an impediment.
    </p>
  </div>

  <div layout:class="split-leading" offset:class="after-12">
    <h2>
      The Solution
    </h2>
    <p typography:class="lead">
      simplabs helped Expedition to develop a system architecture that would set them up for future success, getting the most out of their technology stack. We reviewed Expedition's code base and identified a number of issues that we presented to the in-house development team, together with background information and severity assessments based on potential future impact on productivity and quality for prioritization.
    </p>
    <p typography:class="lead">
      Our experts then continued to build prototype implementations for a range of advanced features in Expedition's system. Leveraging Elixir's and Phoenix's capabilities we were able to implement robust, high-performance mechanics with clean and concise code with significantly less effort and complexity compared with more traditional tools.
    </p>
    <h2>A path into the future</h2>
    <p typography:class="lead">
      Expedition's in-house team was able to expand on our foundational work, which we handed over in an open and well-communicated way. The document generated during the initial review phase, along with background information and strategies for taking on each issue, helped them to address relevant issues before they would turn into impediments, keeping their productivity and output quality high.
    </p>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/work/expedition@600.jpg 600w, /assets/images/work/expedition@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <WorkWithUs @teamMember="ghislaine" />
  <Footer />
</div>