<div>
  <Header @title="An online travel magazine for global citizens" />
  <div class="container-base">
    <div class="main-block">
      <div class="main-block.content">
        <p class="typography.lead">
          Expedition is an online travel magazine for global citizens. It lets travellers experience the world's best destinations through the eyes of a local.
        </p>
        <p class="typography.lead">
          The team approached simplabs when they needed help laying the foundation for advanced features in their Elixir and Phoenix based API as well as making sure their Ember.js based client was following best practices.
        </p>
      </div>
      <div class="main-block.sidebar">
        <Card @label="Client" @src="/assets/images/card/expedition.svg" @alt="Expedition">
          <p class="typography.body-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vitae aperiam vero, expedita libero voluptatem quisquam id voluptas maxime ea optio quaerat quia quod eos nostrum culpa animi aspernatur distinctio.
          </p>
        </Card>
        <Card @label="Our Expertise" @src="/assets/images/card/elixir.svg">
          <h3 class="typography.headline-3">
            <a class="typography.title-link" href="/expertise/elixir-phoenix">
              Elixir & Phoenix
            </a>
          </h3>
        </Card>
      </div>
    </div>
  </div>
  <ShapeWork
    @background="#162441"
    @color="#5843BC"
    @src="/assets/images/work/expedition.jpg"
    @center="true"
    @clip="true"
  >
    <blockquote class="quote-offset">
      <p class="typography.body-text">
        simplabs brought wisdom, flexibility, and sane solutions when facing complex problems. They went above and beyond to work with our unique situation - would recommend 1000x.
      </p>
      <p class="typography.small-text">
        Bryan Langslet, Expedition CEO
      </p>
    </blockquote>
  </ShapeWork>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Long-term enablement
              </h3>
              <p class="typography.body-text">
                simplabs' team built prototype implementations for a number of advanced features in Expedition's system. Leveraging Elixir's and Phoenix's capabilities we were able to implement advanced mechanics with clean and concise code with significantly less effort and complexity compared with more traditional tools.
              </p>
              <p class="typography.body-text">
                Expedition's in-house team was able to expand on our foundational work, handed over in an open and well-communicated way.
              </p>
              <h3 class="typography.headline-2">
                A path into the future
              </h3>
              <p class="typography.body-text">
                Besides working on the core application, simplabs spearheaded several engineering efforts focused around mobile performance, improved load times, server side rendering and localization.
              </p>
              <ArrowLink @href="#">
                Learn More
              </ArrowLink>
            </div>
          </div>
        </div>
      </div>
      <div class="main-block.sidebar vertical-offset">
        <CardPlaybook />
      </div>
    </div>
  </div>
  <ShapeFeatureTrainline />
  <WorkWithUs />
  <Footer />
</div>