<div data-has-ssr-response={{appState.isSSR}}>
  <h1 class="heading">
    Welcome to Glimmer!
  </h1>
  <a href="/" data-navigo>
    home
  </a>
  <a href="/a" data-navigo>
    home
  </a>
  <a href="/b" data-navigo>
    services
  </a>
  <a href="/c" data-navigo>
    service
  </a>
  <a href="/c" data-navigo>
    case
  </a>
  {{#if activeComponent}}
    {{component activeComponent}}
  {{/if}}
</div>