<div data-has-ssr-response={{appState.isSSR}}>
  {{#if this.isLoading}}
    <Loader @progress={{this.loadingProgress}} />
  {{/if}}
  {{#if activeComponent}}
    {{component activeComponent}}
  {{/if}}
</div>