<div>
  <h1 class="heading">Welcome to Glimmer!</h1>
  <a href="/" data-navigo>home</a>
  <a href="/a" data-navigo>a</a>
  <a href="/b" data-navigo>b</a>
  <a href="/c" data-navigo>c</a>
  
  {{#if activeComponent}}
    {{component activeComponent}}
  {{/if}}
</div>
