.section-client {
  background-size: cover;
}

.section-client-illustration {
  overflow: hidden;
  height: 400px;
}

.section-client--trainline {
  background-color: $trainline;
  background-image: url("../../images/trainline/case-study-background-1.jpg");
}

.bg-trainline {
  background-color: $trainline !important;
}

.section-client--ddwrt {
  background-color: $dd-wrt;
  background-image: url("../../images/dd-wrt/case-study-background-1.jpg");
}

.section-client--timify {
  background-color: $timify;
  background-image: url("../../images/timify/case-study-background-1.jpg");
}

.bg-timify {
  background-color: $timify !important;
}

.section-client--expedition {
  background-color: $expedition;
  background-image: url("../../images/expedition/case-study-background-1.jpg");
}

.icon-circle {
  display: flex;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

// REMOVE BELOW

.container-fluid-case-study {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .container-case-study {
    padding: 0;

    .row-case-study,
    .col-case-study {
      margin: 0;
      padding: 0;
    }

    .col-case-study {
      @include media-breakpoint-up(md) {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
      }
    }
  }

  .case-study {
    display: block;
    min-height: 18em;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      min-height: 25em;
    }

    &:hover {
      text-decoration: none;

      .case-study-background {
        transform: scale(1.2);
      }
    }

    .case-study-description {
      @include media-breakpoint-up(md) {
        margin-left: 5em;
        max-width: 24em;
      }

      .case-study-description-image-wrapper {
        text-align: center;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }

      .case-study-description-text {
        color: $white;
        font-size: 1em;
        font-weight: $font-weight-normal;
        line-height: 1.5em;
        padding: 0 1em;
        text-align: center;
        margin: 0 0 2.5rem 0;

        @include media-breakpoint-up(md) {
          font-size: 1.25em;
          line-height: 1.2em;
          padding: 0;
          text-align: left;
        }
      }
    }

    .case-study-preview {
      bottom: 0;
      display: none;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;

      @include media-breakpoint-up(md) {
        display: block;
      }

      .case-study-preview-image {
        position: absolute;
      }
    }

    .case-study-background-wrapper {
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;

      .case-study-background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .75s;
        z-index: -1;
      }
    }
  }

  .case-study-timify {
    @include media-breakpoint-up(md) {
      max-width: 58em;
    }

    .case-study-description {
      padding-top: 1.5em;

      @include media-breakpoint-up(md) {
        padding-top: 5em;
      }

      .case-study-description-image-wrapper {
        margin-bottom: 1.5em;

        @include media-breakpoint-up(md) {
          margin-bottom: 3em;
        }

        .case-study-description-image {
          height: 4em;

          @include media-breakpoint-up(md) {
            height: 6em;
          }
        }
      }
    }

    .case-study-preview {
      .case-study-preview-image {
        max-width: 76%;
        right: -32%;
        top: 14%;
      }
    }

    .case-study-background-wrapper {
      .case-study-background {
        background-color: $timify;
        background-image: url("../../images/timify/case-study-background-1.jpg");
      }
    }
  }

  .case-study-timify.case-study-full-width {
    max-width: none;

    .case-study-description {
      @include media-breakpoint-up(md) {
        max-width: 27em;
      }
    }
  }

  .case-study-trainline {
    @include media-breakpoint-up(md) {
      max-width: 58em;
    }

    .case-study-description {
      padding-top: 2.625em;

      @include media-breakpoint-up(md) {
        padding-top: 5em;
        max-width: 22em;
      }

      .case-study-description-image-wrapper {
        margin-bottom: 2.625em;

        @include media-breakpoint-up(md) {
          margin-bottom: 6em;
        }

        .case-study-description-image {
          @include media-breakpoint-up(md) {
            height: 2.5em;
          }
        }
      }
    }

    .case-study-preview {
      .case-study-preview-image {
        max-width: 32%;
        right: 8%;
        top: 16%;
      }
    }

    .case-study-background-wrapper {
      .case-study-background {
        background-color: $trainline;
        background-image: url("../../images/trainline/case-study-background-1.jpg");
      }
    }
  }

  .case-study-trainline-team-augmentation {
    .case-study-preview {
      .case-study-preview-image {
        max-width: 36%;
      }
    }
  }

  .case-study-trainline.case-study-full-width {
    max-width: none;

    .case-study-description {
      @include media-breakpoint-up(md) {
        max-width: 27em;
      }
    }
  }

  .case-study-expedition {
    @include media-breakpoint-up(md) {
      max-width: 58em;
    }

    .case-study-description {
      padding-top: 2em;

      @include media-breakpoint-up(md) {
        padding-top: 5em;
      }

      .case-study-description-image-wrapper {
        margin-bottom: 2em;

        @include media-breakpoint-up(md) {
          margin-bottom: 3em;
        }
      }
    }

    .case-study-preview {
      .case-study-preview-image {
        max-width: 72%;
        right: -32%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .case-study-background-wrapper {
      .case-study-background {
        background-color: $expedition;
        background-image: url("../../images/expedition/case-study-background-1.jpg");
      }
    }
  }

  .case-study-dd-wrt {
    @include media-breakpoint-up(md) {
      max-width: 58em;
    }

    .case-study-description {
      padding-top: 2em;

      @include media-breakpoint-up(md) {
        padding-top: 7em;
      }

      .case-study-description-image-wrapper {
        margin-bottom: 2em;

        @include media-breakpoint-up(md) {
          margin-bottom: 4em;
        }

        .case-study-description-image {
          height: 1.4375em;
        }
      }
    }

    .case-study-preview {
      .case-study-preview-image {
        max-width: 72%;
        right: -32%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .case-study-background-wrapper {
      .case-study-background {
        background-color: $dd-wrt;
        background-image: url("../../images/dd-wrt/case-study-background-1.jpg");
      }
    }
  }
}

.container-fluid-case-study-multiple-cases {
  margin-bottom: 1.5em;

  @include media-breakpoint-up(md) {
    margin-bottom: 2em;
  }

  .container-case-study-multiple-cases {
    .col-case-study {
      @include media-breakpoint-up(md) {
        justify-content: space-between;
      }
    }
  }

  .case-study {
    @include media-breakpoint-up(md) {
      max-height: 34em;
      width: 50%;
    }

    &:first-child {
      @include media-breakpoint-up(md) {
        margin-right: 1em;
      }
    }

    &:last-child {
      margin-top: 2em;

      @include media-breakpoint-up(md) {
        margin-left: 1em;
        margin-top: 0;
      }
    }

    .case-study-description {
      margin: 0 auto;

      .case-study-description-image-wrapper {
        text-align: center;
      }

      .case-study-description-text {
        text-align: center;
      }
    }
  }
}

.container-fluid-case-study-multiple-cases-work {
  margin-top: 2em !important;
}

.container-fluid-case-study-timify-work {
  margin-top: 2em !important;
}