.section-client-logo {
  height: 5rem;
}

.section-client-illustration {
  overflow: hidden;
  height: 400px;
}

.section-client--trainline {
  background-color: $trainline;
  background-image: url("../../images/trainline/case-study-background-1.jpg");
}

.bg-trainline {
  background-color: $trainline !important;
}

.section-client--dd-wrt {
  background-color: $dd-wrt;
  background-image: url("../../images/dd-wrt/case-study-background-1.jpg");
}

.section-client--timify {
  background-color: $timify;
  background-image: url("../../images/timify/case-study-background-1.jpg");
}

.bg-timify {
  background-color: $timify !important;
}

.section-client--expedition {
  background-color: $expedition;
  background-image: url("../../images/expedition/case-study-background-1.jpg");
}

.bg-hover-animate {
  background-size: auto 100%;
  background-position: center right;
  background-repeat: no-repeat;
  transition: background-size .75s ease-in-out;
  -moz-transition: background-size .75s ease-in-out;
  -ms-transition: background-size .75s ease-in-out;
  -o-transition: background-size .75s ease-in-out;
  -webkit-transition: background-size .75s ease-in-out;
  &:hover {
    background-size: auto 110%;
    
  }
}

@include media-breakpoint-up(md) {
  .section-client-illustration {
    overflow: hidden;
    height: 500px;
  }
}