.section-client {
  background-size: cover;
}

.section-client-illustration {
  overflow: hidden;
  height: 400px;
}

.section-client--trainline {
  background-color: $trainline;
  background-image: url("../../images/trainline/case-study-background-1.jpg");
}

.bg-trainline {
  background-color: $trainline !important;
}

.section-client--dd-wrt {
  background-color: $dd-wrt;
  background-image: url("../../images/dd-wrt/case-study-background-1.jpg");
}

.section-client--timify {
  background-color: $timify;
  background-image: url("../../images/timify/case-study-background-1.jpg");
}

.bg-timify {
  background-color: $timify !important;
}

.section-client--expedition {
  background-color: $expedition;
  background-image: url("../../images/expedition/case-study-background-1.jpg");
}