@import "../custom.variables";
@import "../../../../node_modules/bootstrap/scss/variables";

footer {
  padding-bottom: 2rem;
  padding-top: 2rem; // 32px

  @include media-breakpoint-up(md) {
    border-top: none;
    padding-top: 0;
  }

  .container-footer {
    @include media-breakpoint-up(md) {
      padding: 0;
      padding-top: 3rem; // 48px
    }
  }

  .col-copyright {
    margin-bottom: 2.5rem; // 40px

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .copyright-container {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .copyright-container-logo {
    display: inline-block;
  }

  .copyright-container-logo-image {
    max-height: 1rem; // 16px
  }

  .copyright-container-text {
    color: rgba($text, 0.5);
    font-size: 0.75rem; // 12px
    font-weight: $font-weight-normal;
  }

  .col-nav {
    margin-bottom: 3rem; // 48px

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .copyright-container-logo,
  .nav-item-header {
    margin-bottom: 1rem; // 16px
  }

  .nav-header,
  .nav-link {
    color: $text;
    font-size: 0.875rem; // 14px
  }

  .nav-header {
    font-weight: $font-weight-bold;
  }

  .nav-link {
    padding: 0.25rem 0; // 4px

    &:active {
      color: $blue-active-text;
    }

    &:hover {
      color: $blue;
    }
  }
}