@import "../custom.variables";
@import "../../../../node_modules/bootstrap/scss/variables";

.container-fluid-introduction {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .container-introduction {
    padding: 0;
  }

  .row-introduction,
  .col-introduction {
    margin: 0;
    padding: 0;
  }

  .introduction {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;

    &::before {
      background-image: url("../../images/icons/dark/line.svg");
      content: "";
      display: none;
      height: 0.25rem;
      left: 0;
      position: absolute;
      top: 0.8em;
      width: 10em;

      @include media-breakpoint-up(md) {
        display: inline-block;
        width: 5em;
      }

      @include media-breakpoint-up(lg) {
        width: 10em;
      }
    }

    .introduction-text {
      font-size: 1em;
      line-height: 1.5em;

      @include media-breakpoint-up(md) {
        font-size: 1.25em;
        line-height: 1.6em;
        max-width: 30em;
      }
    }

    .introduction-text + .introduction-text {
      margin-top: 3em;

      @include media-breakpoint-up(md) {
        margin-top: 2.4em;
      }
    }
  }
}