
$quote-height-max: 5.5em;
$quote-height-min: 3em;
$quote-width-max: 4.25em;
$quote-width-min: 2.5em;

.container-quote {
  background-color: $grey;
  font-size: 16px;
  padding: 4em 1em 2.5em 1em;
  position: relative;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    padding: 6em 6em 4em 6em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    height: $quote-height-min;
    left: 1em;
    position: absolute;
    top: $quote-height-min / 1.5 * -1;
    width: $quote-width-min;
    z-index: 1000;

    @include media-breakpoint-up(md) {
      height: $quote-height-max;
      left: 6em;
      position: absolute;
      top: $quote-height-max / 1.5 * -1;
      width: $quote-width-max;
    }
  }

  &::after {
    -webkit-clip-path: polygon(15% 0, 100% 0%, 60% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0%, 60% 100%, 0% 100%);
    left: $quote-width-min + 1em;

    @include media-breakpoint-up(md) {
      left: $quote-width-max + 6em;
    }
  }

  &::before {
    -webkit-clip-path: polygon(15% 0, 100% 0%, 60% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0%, 60% 100%, 0% 100%);
  }

  .quote {
    margin: 0 auto;
    max-width: 58em;

    .quote-text {
      color: $headlines;
      font-size: 1.25em;
      font-weight: $font-weight-bold;
      line-height: 1.4em;
      margin-bottom: 1.2em;

      @include media-breakpoint-up(md) {
        font-size: 2em;
        line-height: 1.5em;
        margin-bottom: 1em;
      }
    }

    .quote-author {
      font-size: 1em;
      position: relative;

      @include media-breakpoint-up(md) {
        font-size: 1.25em;
        padding-left: 2.5rem;
      }

      &::before {
        background-image: url("../../images/icons/dark/line.svg");
        content: "";
        display: none;
        height: 0.25rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
}

.container-quote-timify {
  &::after,
  &::before {
    background-color: $timify;
  }
}

.container-quote-trainline {
  &::after,
  &::before {
    background-color: $trainline;
  }
}

.container-quote-expedition {
  &::after,
  &::before {
    background-color: $expedition;
  }
}

.container-quote-dd-wrt {
  &::after,
  &::before {
    background-color: $dd-wrt;
  }
}

.container-quote-ember {
  &::after,
  &::before {
    background-color: $ember;
  }
}