@import "../custom.variables";
@import "../../../../node_modules/bootstrap/scss/variables";

.container-spearhead {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  .spearhead {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .spearhead-description {
    margin-bottom: 2em;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      max-width: 22em;
    }
  }

  .spearhead-description-header {
    font-size: 1.5em;
    font-weight: $font-weight-black;
    letter-spacing: 1px;
    line-height: 32px;
    margin-bottom: 1em;

    @include media-breakpoint-up(md) {
      font-size: 3em;
      line-height: 56px;
      margin-bottom: 0.6666em;
    }
  }

  .spearhead-description-text {
    font-size: 1em;
    line-height: 1.5em;

    @include media-breakpoint-up(md) {
      font-size: 1.25em;
      line-height: 1.6em;
    }
  }

  .spearhead-feature-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
      width: auto;
    }
  }

  .spearhead-feature {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0.5em 0;

    @include media-breakpoint-up(md) {
      flex-direction: column;
      max-width: 10em;
      padding: 0;
    }
  }

  .spearhead-feature + .spearhead-feature {
    margin-top: 1em;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 5em;
    }
  }

  .spearhead-feature-image-wrapper {
    align-items: center;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 4em;
    width: 4em;

    @include media-breakpoint-up(md) {
      height: 10em;
      margin-bottom: 2em;
      width: 10em;
    }
  }

  .spearhead-feature-image {
    height: 2em;
    width: 2em;

    @include media-breakpoint-up(md) {
      height: 5em;
      width: 5em;
    }
  }

  .spearhead-feature-text {
    font-size: 1em;
    font-weight: $font-weight-black;
    margin-left: 1em;

    @include media-breakpoint-up(md) {
      font-size: 1.25em;
      margin-left: 0;
      text-align: center;
    }
  }
}

.container-spearhead-timify {
  .spearhead-feature-image-wrapper {
    background-color: $timify;
  }
}

.container-spearhead-trainline {
  .spearhead-feature-image-wrapper {
    background-color: $trainline;
  }
}