@import "../custom.variables";
@import "../../../../node_modules/bootstrap/scss/variables";

.container-fluid-work-with-us {
  font-size: 16px;
  padding: 0;

  .container-work-with-us {
    padding: 0;
  }

  .row-work-with-us,
  .col-work-with-us {
    margin: 0;
    padding: 0;
  }

  .work-with-us {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .work-with-us-header-wrapper,
    .work-with-us-content-wrapper {
      @include media-breakpoint-up(md) {
        height: 29em;
      }
    }

    .work-with-us-header-wrapper {
      align-items: center;
      background-color: $blue;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      padding-bottom: 2.5em;
      padding-top: 2.5em;

      @include media-breakpoint-up(md) {
        justify-content: flex-start;
        padding-bottom: 0;
        padding-left: 4em;
        padding-top: 0;
        width: 51.43%;
      }

      .work-with-us-header {
        color: $white;
        font-size: 3em;
        font-weight: $font-weight-black;
        letter-spacing: 0.0375em;
        line-height: 1.1666em;
        max-width: 5em;
        text-align: center;

        @include media-breakpoint-up(md) {
          font-size: 6.25em;
          line-height: 1em;
          max-width: 4em;
          text-align: left;
        }
      }
    }

    .work-with-us-content-wrapper {
      align-items: center;
      background-color: $black;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 3em 1rem;

      @include media-breakpoint-up(md) {
        padding-bottom: 0;
        padding-top: 0;
        width: 48.57%;
      }

      .work-with-us-text {
        color: $white;
        font-size: 1em;
        font-weight: $font-weight-normal;
        line-height: 1.5em;
        text-align: center;
        margin-bottom: 1.5em;
        max-width: 18em;

        @include media-breakpoint-up(md) {
          margin-bottom: 2em;
          max-width: 22em;
        }
      }

      .work-with-us-image-wrapper {
        align-items: center;
        background-color: $white;
        border: none;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 8em;
        justify-content: center;
        margin-bottom: 3em;
        width: 8em;

        @include media-breakpoint-up(md) {
          margin-bottom: 2em;
        }

        .work-with-us-image {
          max-width: 4.6875em;
        }
      }
    }
  }
}