@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeImage;

  position: relative;
  background-color: #ccc;
  width: 100%;
  height: auto;
  padding-bottom: 100%;
}

:scope[align='left'] {
  -webkit-clip-path: polygon(100% 20%, 100% 80%, 30% 100%, 0 95%, 0 0);
  clip-path: polygon(100% 20%, 100% 80%, 30% 100%, 0 95%, 0 0);
}

:scope[align='right'] {
  -webkit-clip-path: polygon(80% 0, 100% 5%, 100% 100%, 0 80%, 0 20%);
  clip-path: polygon(80% 0, 100% 5%, 100% 100%, 0 80%, 0 20%);
}

@export fluid-image;
