@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeImage;

  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 120%;
}

:scope[align='left'] {
  -webkit-clip-path: polygon(100% 14%, 100% 86%, 30% 100%, 0 96%, 0 0);
  clip-path: polygon(100% 14%, 100% 86%, 30% 100%, 0 96%, 0 0);
}

:scope[align='right'] {
  -webkit-clip-path: polygon(80% 0, 100% 4.4%, 100% 100%, 0 86%, 0 18%);
  clip-path: polygon(80% 0, 100% 4.4%, 100% 100%, 0 86%, 0 18%);
}

@media (max-width: 887px) {
  :scope[variant='mobile-flat'] {
    padding-bottom: 50%;
  }

  :scope[variant='mobile-flat'][align='left'] {
    -webkit-clip-path: polygon(100% 21%, 100% 85%, 30% 100%, 0 96%, 0 0);
    clip-path: polygon(100% 21%, 100% 85%, 30% 100%, 0 96%, 0 0);
  }

  :scope[variant='mobile-flat'][align='right'] {
    -webkit-clip-path: polygon(80% 0, 100% 4.4%, 100% 100%, 0 78%, 0 18%);
    clip-path: polygon(80% 0, 100% 4.4%, 100% 100%, 0 78%, 0 18%);
  }
}

@export fluid-image;
