<div block:scope block:align={{@align}}>
  <img
    fluid-image:class="image-clipped"
    srcset="/assets/images/photos/sketching@600.jpg 600w, /assets/images/photos/sketching@1200.jpg 1200w"
    sizes="(max-width: 887px) 600px, 1200px)"
    alt=""
  />
</div>