<ShapeFeature @backgroundImage="/assets/images/sky.jpg">
  <p class="typography.small-text">
    Keep Reading
  </p>
  <h3 class="typography.headline-2">
    Air quality data for locations around the world
  </h3>
  <ArrowLink @href="#">
    Read Case Study
  </ArrowLink>
</ShapeFeature>