@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: blog-post;
  --accent-color: #007df6;
  --shape-decoration-position-right: -92em;
  --shape-decoration-position-top: -20em;

  composes: 'layout';
}

.logo {
  max-width: 20rem;
  padding: 1em 0;
  display: block;
}

.tweet {
}

.badge {
  width: var(--col-1);
  flex-shrink: 0;
}

.badge-image {
  border-radius: 50%;
  border: 3px solid var(--color-accent);
  overflow: hidden;
  width: 15rem;
  height: 15rem;
}

.badge-content {
  font-size: 1.75rem;
  width: 15rem;
  margin-top: 1rem;
  text-align: right;
}

.video {
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-post {
  width: var(--col-5);
  padding-left: var(--col-1);
}

.sidebar-post {
  width: var(--col-1);
}

.excerpt {
  margin-bottom: 3rem;
}

@media (max-width: 887px) {
  .badge {
    display: none;
  }

  .content-post {
    width: 100%;
    padding-left: 0;
  }
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class,
.hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-function,
.hljs-params,
.hljs-template-tag,
.hljs-selector-class,
.xml,
.actionscript,
.undefined /* this seems wrong 🤔*/ {
}

.waapi-demo {

}

.waapi-demo-panel {
  height: 300px;
  border: 2px solid #999;
  overflow: hidden;
}

.waapi-demo-sparkle {
  transform: rotate(0deg);
  font-size: 32px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

.waapi-demo-sparkle:nth-child(0) {
  left: 200;
  top: 50px;
  font-size: 54px;
  transform: rotate(-9deg);
}

.waapi-demo-sparkle:nth-child(1) {
  left: 0;
  top: 0;
  font-size: 32px;
  transform: rotate(5deg);
}

.waapi-demo-sparkle:nth-child(2) {
  left: 30px;
  top: 30px;
  font-size: 42px;
  transform: rotate(-10deg);
}

.waapi-demo-sparkle:nth-child(3) {
  left: 70px;
  top: 90px;
  font-size: 12px;
  transform: rotate(-5deg);
}

.waapi-demo-sparkle:nth-child(4) {
  left: 100px;
  top: 120px;
  font-size: 48px;
  transform: rotate(15deg);
}

.waapi-demo-sparkle:nth-child(5) {
  left: 150px;
  top: 80px;
  font-size: 30px;
  transform: rotate(0deg);
}
