@block layout from "layout.block.css";
@block figure from "figure.block.css";
@block typography from "typography.block.css";

:scope {
  block-name: blog-post;
  composes: 'layout';

  --accent-color: #007df6;
  --shape-decoration-position-right: -92em;
  --shape-decoration-position-top: -20em;
  --negative-offset: calc(var(--col-1) + var(--col-gap));
}

.header {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--col-gap);
  grid-auto-flow: dense;
  margin-bottom: -4rem;
}

/* Duplicating Header.content here as CSS Blocks is not capable
   of parsing grid-column if compose is used.
   See https://github.com/linkedin/css-blocks/issues/273
*/
.headline {
  grid-column: 1/-1;
}

.badge {
  grid-column: 1/-1;
  margin-bottom: 5rem;
}

.excerpt {
  grid-column: 1/-1;
  margin-bottom: 3rem;
}

.badge-image {
  border-radius: 50%;
  border: 3px solid var(--color-accent);
  overflow: hidden;
  width: 8em;
  height: 8rem;
  flex: 0 0 8rem;
}

.badge-content {
  font-size: var(--label);
  line-height: var(--label-lh);
  margin-top: 1rem;
}

.tweet {
  /* Intentionally left blank */
}

.video {
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-post {
  width: var(--col-5);
  padding-left: var(--col-1);
}

.sidebar-post {
  width: var(--col-1);
}

.figure,
.figure-plain {
  composes: 'figure';
  margin: 2rem 0;
  padding: 0;
}

.figure {
  background: #f5f5f5;
}

.image {
  float: left;
  margin: 0 3rem 2rem 0;
  max-width: var(--col-2);
  height: auto;
}

.embedd {
  position: relative;
  margin: 2rem 0;
  padding: 0 0 56.25%;
  background: #f5f5f5;
}

.embedd-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.quote {
  display: flex;
  padding-left: 16px;
  border-left: 4px solid #5b5b5b;
}

.quote::before {
  content: '“';
  font-size: 12rem;
  line-height: 1rem;
  margin-right: 2rem;
  margin-top: 4rem;
}

.quote-paragraph {
  flex: 1;
}

.quote-author {
  margin-top: 2rem;
  margin-bottom: resolve('typography.small');
  margin-bottom: 0;
  display: block;
}

.quote-author::before {
  content: '-';
  margin-right: 2px;
}

@media (min-width: 888px) {
  .header {
    margin-top: 21rem;
  }

  .headline {
    grid-column: 2/-2;
  }

  .badge {
    margin-top: 2rem;
    grid-column: 1/2;
  }

  .excerpt {
    grid-column: 2/-2;
  }

  .badge-image {
    float: right;
    width: 15rem;
    height: 15rem;
  }

  .badge-content {
    padding-top: 3rem;
    padding-right: 1rem;
    clear: right;
    text-align: right;
  }

  .figure {
    margin: 2rem calc(-1 * var(--negative-offset));
    padding: 3rem;
  }

  .embedd {
    margin: 2rem calc(-1 * var(--negative-offset));
    padding: 3rem 3rem calc(3rem + 56.25% + 1.125 * var(--negative-offset));
  }

  .embedd-iframe {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    top: 3rem;
    left: 3rem;
  }
}

@media (max-width: 887px) {
  .header {
    margin-bottom: 0;
  }

  .badge {
    display: flex;
  }

  .badge-content {
    margin-left: 2rem;
  }

  .content-post {
    width: 100%;
    padding-left: 0;
  }
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-template-tag,
.hljs-function,
.hljs-params,
.hljs-selector-class,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-selector-attr,
.xml,
.javascript {
}
