@block layout from "layout.block.css";

:scope {
  block-name: blog-author;
  composes: 'layout';
}

.tweet {
  /* Intentionally left blank */
}

.main {
  grid-column: 2/-2;
}

@media (min-width: 888px) {
  .main {
    grid-column: 3/-3;
  }
}
