:scope {
  block-name: button;
}

.button {
  display: inline-block;
  padding: calc(1rem - 2px) calc(3rem - 2px);
  flex-shrink: 0;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  font-size: 3rem;
  line-height: 5rem;
  text-decoration: none;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23007DF6' d='M0 60V0h100v120z' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: 0 90%;
  transition: background-position 0.28s ease-in-out, color 0.1s 0.13s ease-in-out;
}

.button:focus,
.button:hover {
  background-position: 0% 10%;
  color: var(--color-text-inverted);
}

.button:disabled {
  background-position: 0 90%;
  color: var(--color-accent);
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
