:scope {
  block-name: button;
}

.button {
  color: #007DF6;
  border: 2px solid #007DF6;
  font-size: 1em;
  padding: 0.5rem 1rem;
  display: inline-block;
  flex-shrink: 0;
  text-decoration: none;
}

