:scope {
  block-name: button;
}

.button {
  display: inline-block;
  padding: calc(1rem - 2px) calc(3rem - 2px);
  flex-shrink: 0;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  font-size: 3rem;
  line-height: 5rem;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background: var(--color-accent);
  color: var(--color-text-inverted);
}
