:scope {
  block-name: button;

  --text: 2.625rem;
  --text-lh: 1.667;

  display: inline-block;
  padding: calc(1rem - 2px) calc(3rem - 2px);
  flex-shrink: 0;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  font-size: var(--text);
  line-height: var(--text-lh);
  text-decoration: none;
  background-color: var(--color-background);
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23007DF6' d='M0 60V0h100v120z' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: 50% 90%;
  transition: background-position 0.28s ease-in-out, color 0.1s 0.13s ease-in-out;
}

:scope:focus,
:scope:hover {
  background-position: 50% 10%;
  color: var(--color-text-inverted);
  outline: 0;
  text-decoration: none;
}

:scope:disabled {
  background-position: 0 90%;
  color: var(--color-accent);
}

@media (prefers-reduced-motion: reduce) {
  :scope {
    transition: none;
  }
}

@media (max-width: 887px) {
  :scope {
    --text: 2.25rem;
  }
}
