@block typography from "typography.block.css";

:scope {
  block-name: card;
  margin-bottom: 6rem;
}

.sub-heading {
  composes: 'typography.headline-3-plain';
  margin-bottom: 2rem;
}

.text {
  composes: 'typography.body-text';
}

.image {
  margin-bottom: 2rem;
  overflow: hidden;
  height: 12em;
  object-fit: contain;
}
