:scope {
  position: relative;
  min-height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 10em;
}

.shape-large {
  transform: rotate(30deg);
  overflow: hidden;
  width: 80em;
  height: 40em;
  left: -52em;
  top: -10em;
  position: absolute;
}

.shape-large-background {
  color: #FFF;
  background: #48D5B5;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.shape-large-content {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  justify-content: flex-end;
}

.content-image {
  width: 30em;
  margin-right: 8em;
  margin-top: 10em;
}

.shape-small {
  transform: rotate(30deg);
  overflow: hidden;
  width: 80em;
  height: 40em;
  right: -80em;
  top: -20em;
  position: absolute;
}

.shape-small-background {
  color: #FFF;
  background: #48D5B5;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape-small-content {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  justify-content: flex-start;
}

.content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.content {
  width: 20em;
}

.sub-heading {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1em;
}

.image {
  width: 100%;
}


