:scope {
  block-name: fluid-image;
}

.image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clipped-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
