:scope {
  block-name: Form;
}

.fieldset {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
}

.legend {
  position: absolute;
  height: 0;
  overflow: hidden;
  display: block;
}

.item,
.group {
  margin-bottom: 3rem;
}

.required {
}

.label,
.control-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--p);
  line-height: var(--p-lh);
  color: #5b5b5b;
}

.control {
  width: 100%;
  padding: calc(1.5rem - 2px) calc(1.5rem - 2px);
  border: 2px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  font-size: var(--p);
  line-height: calc(var(--p-lh) * 2);
  -webkit-appearance: none;
}

.control:focus {
  outline: 0;
  border-color: var(--color-accent);
}
