@block screen from "./screen.block.css";

:scope {
  block-name: grid;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--col-gap);
}

.item {
  margin: 0 0 var(--o-3);
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  margin: 0 0 2rem;
  background: rgba(0, 0, 0, 0.02);
}

.image {
  display: block;
  flex: 0 0 auto;
  max-height: var(--o-6);
  width: auto;
  margin: auto;
}

.text {
  font-size: 2rem;
  line-height: 1.5;
}

@media (min-width: 888px) {
  :scope {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1020px) {
  :scope {
    grid-template-columns: repeat(3, 1fr);
  }
}
