:scope {
  margin: 0 var(--horizontal-spacing);
  padding-bottom: 6rem;
}

.heading {
  margin-bottom: var(--vertical-spacing);
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.5rem var(--vertical-spacing) -0.5rem;
}

.item {
  width: 19em;
  height: 15em;
  margin: 0 0.5rem 2rem 0.5rem;
  box-sizing: border-box;
}

.image-wrapper {
  background: #FFF;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  flex-grow: 0;
  flex-shrink: none;
  max-height: 4em;
}

.text {
  margin-top: auto;
}