:scope {
  margin: 0 var(--horizontal-spacing);
}

.grid-heading {
  margin-bottom: var(--vertical-spacing);
}

.grid-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--vertical-spacing);
}

.grid-item {
  background-color: #CCC;
  border: 1px solid yellow;
  width: 20em;
  height: 10em;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
