@block container from "./container.block.css";

:scope {
  position: relative;
  block-name: Layout;
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  column-gap: var(--col-gap);
  grid-column: 1/-1;
}

.full,
.main,
.side,
.content {
  position: relative;
  z-index: 1;
}

.full,
.main,
.side,
.content,
.split-leading,
.split-trailing {
  grid-column: 2/-2;
}

@media (min-width: 888px) {
  .main {
    grid-column: 2/5;
  }

  .side {
    grid-column: -4/-2;
  }

  .content {
    grid-column: 3/-3;
  }

  .split-leading {
    grid-column: 2/5;
  }

  .split-trailing {
    grid-column: -5/-2;
  }
}
