:scope {
  position: relative;
  block-name: Layout;
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  column-gap: var(--col-gap);
  grid-column: 1/-1;
}

.full,
.main,
.side,
.content {
  position: relative;
  z-index: 1;
}

.full,
.main,
.side,
.content,
.split-leading,
.split-trailing,
.content-right {
  grid-column: 2/-2;
}

.bleed-right {
  grid-column: 2/-1;
}

.bleed-left {
  grid-column: 1/-2;
}

@media (min-width: 888px) {
  .main {
    grid-column: 2/5;
  }

  .side {
    grid-column: -4/-2;
  }

  .content-right {
    grid-column: -6/-2;
  }

  .content-left {
    grid-column: 2/-4;
  }

  .bleed-right {
    grid-column: -4/-1;
  }

  .bleed-left {
    grid-column: 1/-6;
  }

  .bleed-left,
  .bleed-right {
    display: flex;
    align-items: center;
  }

  .content {
    grid-column: 3/-3;
  }

  .split-leading {
    grid-column: 2/5;
  }

  .split-trailing {
    grid-column: -5/-2;
  }
}
