@block container from "./container.block.css";

:scope {
  position: relative;
  z-index: 0;
  block-name: Layout;
  display: grid;
  grid-template-columns:
    minmax(var(--offset-horizontal), auto)
    repeat(2, minmax(var(--col), var(--col-max)))
    minmax(var(--offset-horizontal), auto);
  column-gap: var(--col-gap);
}

.full,
.main,
.side,
.content {
  position: relative;
  z-index: 0;
}

.full,
.main,
.side,
.content {
  grid-column: 2/-2;
}

@media (min-width: 888px) {
  :scope {
    grid-template-columns:
      minmax(var(--offset-horizontal), auto)
      repeat(6, minmax(var(--col), var(--col-max)))
      minmax(var(--offset-horizontal), auto);
  }

  .main {
    grid-column: 2/5;
  }

  .side {
    grid-column: -4/-2;
  }

  .content {
    grid-column: 3/-3;
  }
}
