:scope {
  block-name: list;
  list-style-position: inside;
  padding-left: 3rem;
}

.vertical {
  list-style: none;
}

.vertical-item {
  padding-bottom: 1rem;
}

.vertical-item:last-child {
  padding-bottom: initial;
}

.vertical-item ~ .vertical-item {
  padding-top: 1.5rem;
  border-top: 1px solid rgb(201, 202, 208);
}

.vertical-item {
  margin-left: 0;
}

.logos {
  display: flex;
  width: calc(100% + var(--offset-horizontal));
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  margin: 0 calc(var(--offset-horizontal) / -2) 6rem;
}

.logo {
  margin: 0 calc(var(--offset-horizontal) / 2);
  filter: grayscale(100%) contrast(0%);
  transition: filter 0.1s ease-out;
  list-style: none;
}

@media (max-width: 888px) {
  .logo {
    padding: 2rem;
  }
}
