:scope {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.content {
  width: var(--col-3);
  margin-right: var(--offset-horizontal);
}

.content-full-width {
  width: auto;
}

.sidebar {
  width: var(--col-2);
}

.content-heading {
  margin-bottom: var(--spacing-medium);
}

.content-item {
  margin-bottom: var(--spacing-large);
}

.content-row {
  margin: 0 -2rem 12rem;
  display: flex;
  align-content: stretch;
  justify-content: flex-start;
}

.content-col {
  padding: 0 2rem;
}

.content-col:last-child {
  flex-grow: 1;
}

.content-col-image {
  width: 8rem;
}

.content-col-1 {
  width: var(--col-1);
}

.content-col-2 {
  width: var(--col-2);
  background: red;
}

.body-image {
  margin: 3rem 0;
}

.image-centered {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.body-image-caption {
  color: #666;
  margin-top: 0.5rem;
}

.image-medium {
  width: 20rem;
}

.image-small {
  width: 10rem;
}

.spacer {
  padding-top: 3rem;
}

.code {
  margin: 3rem 0;
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-family: monospace;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

@media (max-width: 887px) {
  :scope {
    display: block;
  }
  .content-row {
    flex-direction: column;
  }
  .content-col {
    margin-bottom: 4rem;
  }
  .content-col-1 {
  width: auto;
}

.content-col-2 {
  width: auto;
}
  .content-item,
  .content-row {
    margin-bottom: 8rem;
  }

  .content,
  .sidebar {
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 888px) {
  .content-heading {
    margin-bottom: 16rem;
  }
}
