:scope {
  display: flex;
  justify-content: space-between;
  margin: 0 10em;
}

.content {
  width: 30em;
}

.sidebar {
  width: 20em;
}

.content-item {
  margin-bottom: 5rem;
}

.content-section {
  margin:  0 -1rem 3rem;
  display: flex;
  align-items: stretch;
}

.content-section-item {
  padding: 0 1rem;
}

.content-heading {
  margin-bottom: 4rem;
}

.content-section-image {
  height: 100%;
}