:scope {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--horizontal-spacing);
}

.content {
  width: 30em;
}

.content-full-width {
  width: auto;
}

.sidebar {
  width: 20em;
}

.content-item {
  margin-bottom: 6rem;
}

.content-section {
  margin:  0 -1rem 3rem;
  display: flex;
  align-items: stretch;
}

.content-section-item {
  padding: 0 1rem;
}

.content-heading {
  margin-bottom: 6rem;
}

.content-section-image {
  height: 100%;
}

.body-image {
  margin: 3rem 0;
}

.image-centered {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.body-image-caption {
  color: #666;
  margin-top: 0.5rem;
}

.image-medium {
  width: 20rem;
}

.image-small {
  width: 10rem;
}

.spacer {
  padding-top: 3rem;
}

.list {
  margin-bottom: 2rem;
}

.list-item {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.5rem;
}

.code {
  margin: 3rem 0;
  background: #f4f4f4;
  border: 1px solid #ddd;
  page-break-inside: avoid;
  font-family: monospace;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  display: block;
  word-wrap: break-word;
}

@media (max-width: 599px) {
  :scope {
    display: block;
  }
  .content {
    width: 100%;
  }
}

