.list {
  display: flex;
  flex-wrap: wrap;
}

.single,
.double {
  display: flex;
  margin-bottom: 12rem;
}

.double {
  width: calc(100% / 3 * 2 - var(--col-gap));
  margin-right: calc(2 * var(--col-gap));
}

.double-single,
.single {
  width: calc(100% / 3 - var(--col-gap) * 1.5);
  margin-right: calc(2 * var(--col-gap));
}

.double-single,
.single:nth-child(3n + 3) {
  margin-right: 0;
}

@media (max-width: 887px) {
  .single,
  .double,
  .double-single {
    width: 100%;
    margin-bottom: 5rem;
    margin-right: 0;
  }
}
