:scope {
  block-name: Offset;
}

.none {
  margin: 0;
}

.horizonal-none {
  margin-left: 0;
  margin-right: 0;
}

.vertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.leading-none {
  margin-left: 0;
}

.trailing-none {
  margin-right: 0;
}

.before-none {
  margin-top: 0;
}

.before-5 {
  margin-top: 5rem;
}

.before-12 {
  margin-top: 12rem;
}

.before-16 {
  margin-top: 16rem;
}

.after-none {
  margin-bottom: 0;
}

.after-3 {
  margin-bottom: 3rem;
}

.after-5 {
  margin-bottom: 5rem;
}

.after-12 {
  margin-bottom: 12rem;
}

.after-16 {
  margin-bottom: 16rem;
}

.after-21 {
  margin-bottom: 21rem;
}

@media (max-width: 887px) {
  .before-5-atmobile {
    margin-top: 5rem;
  }

  .before-16 {
    margin-bottom: 12rem;
  }

  .after-12 {
    margin-bottom: 8rem;
  }

  .after-16 {
    margin-bottom: 12rem;
  }

  .after-21 {
    margin-bottom: 16rem;
  }
}

@media (min-width: 888px) {
  .before-5-atlarge {
    margin-top: 5rem;
  }

  .after-12-atlarge {
    margin-bottom: 12rem;
  }
}
