:scope {
  block-name: Offset;
}

.none {
  margin: 0;
}

.horizonal-none {
  margin-left: 0;
  margin-right: 0;
}

.vertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.leading-none {
  margin-left: 0;
}

.trailing-none {
  margin-right: 0;
}

.before-none {
  margin-top: 0;
}

.before-5 {
  margin-top: var(--o-5);
}

.before-6 {
  margin-top: var(--o-6);
}

.after-none {
  margin-bottom: 0;
}

.after-2 {
  margin-bottom: var(--o-2);
}
.after-3 {
  margin-bottom: var(--o-3);
}

.after-5 {
  margin-bottom: var(--o-5);
}

.after-6 {
  margin-bottom: var(--o-6);
}

.after-7 {
  margin-bottom: var(--o-7);
}

@media (min-width: 888px) {
  .after-5-lg {
    margin-bottom: var(--o-5);
  }
}
