:scope {
  block-name: screen;
	--first-color: #222222;
	--second-color: #5b5b5b;
  --link-color: #007DF6;
	--large-spacing: 5rem;
	font-size: 12px;
  line-height: 1.6;
}


@media (max-width: 599px) {
  :scope {

  }
}

@media (min-width: 768px) {
  :scope {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  :scope {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  :scope {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  :scope {
    font-size: 22px;
  }
}

@media (min-width: 2560px) {
  :scope {
    font-size: 28px;
  }
}



.contents {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--second-color);
  overflow: hidden;
}

.container {
	max-width: 80em;
	margin: 0 auto;
	padding: 5em 0;
}


/* TYPOGRAPHY */

.display {
  color: var(--first-color);
  font-size: 5em;
  font-weight: 300;
  margin-bottom: 6rem;
  line-height: 1.1em;
}

.heading {
  color: var(--first-color);
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.1em;
}

.sub-heading {
  color: var(--first-color);
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1em;
}

.lead {
  color: var(--second-color);
  font-size: 1.6em;
  line-height: 1.3em;
  margin-bottom: 2rem;
}

.body-text {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.small-text {
  font-size: 0.8em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.arrow-link {
  text-decoration: none;
  display: inline-block;
  color: var(--link-color);
  background: url('/assets/images/long-arrow-right.svg') no-repeat center right;
  background-size: 2em;
  padding-right: 2.5em;
}

/* LOGO */

.logos-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 0 10em;
}

.block-link {
  display: block;
}

.card {
  margin-bottom: 3rem;
}

.card-sub-heading {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1rem 0;
  line-height: 1em;
  color: var(--first-color);
}

.card-text {
  margin-bottom: 1rem;
}

.card-image {
  margin-bottom: 2rem;
}

.card-form {
}

.card-quote {

}

.card-quote-text {
  font-style: italic;
}

.card-quote-author {
  margin-top: 1rem;
  font-size: 0.8em;
}

/* FORM */
.form {

}

.form-group {
  margin-bottom: 1rem;
}

.form-control-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border: 1px solid #CCC;
  box-sizing: border-box;
}

.form-textarea {
  width: 100%;
  height: 4rem;
  border: 1px solid #CCC;
}

/* MAIN BLOCK */

.button {
  background: #007DF6;
  color: #FFF;
  border-radius: 4px;
  padding: 1rem;
  text-decoration: none;
}

.bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}
