:scope {
  block-name: screen;

  font-family: 'Nunito Sans', sans-serif;
  font-display: swap;
  color: var(--color-muted);
  overflow: hidden;
}

@media (max-width: 887px) {
  :scope {
    --offset-horizontal: 2.5rem;
  }
}

.container-base,
.container {
  position: relative;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--offset-horizontal);
  padding-right: var(--offset-horizontal);
}

.container {
  padding-top: 0;
  padding-bottom: var(--o-7);
}

@media (max-width: 887px) {
  .container {
    padding-bottom: var(--o-5);
  }
}
