:scope {
	--first-color: #000000;
	--second-color: #5b5b5b;
	--large-spacing: 5em;
	font-size: 18px;
}

.contents {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--second-color);
  overflow: hidden;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 5em 0;	
  overflow: hidden;
}

.navbar {
	height: 180px;
  margin: 0 180px;
}

.navbar-brand {
  width: 180px;
}

.section {
	padding: 5em 0;
}

.page-header {
	margin: 0 180px 180px;
}

.shape-block {
	margin: var(--large-spacing) 0;
	position: relative;
	min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shape-left {
	transform: rotate(30deg);
	overflow: hidden;
	width: 1440px;
	height: 720px;
	left: -720px;
	top: -180px;
	position: absolute;
}

.shape-left-bg {
	color: #FFF;
	background: #48D5B5;
	width: 100%;
	height: 100%;
	transform: scale(1.25) rotate(-30deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shape-content {
	width: 100%;
  display: flex;
  justify-content: flex-end;
}

.shape-content-image {
  width: 540px;
  margin-right: 180px;
}

.shape-center {
	width: 360px;
	margin-left: 900px;
}

.shape-right {
	transform: rotate(30deg);
	overflow: hidden;
	width: 1440px;
	height: 720px;
	right: -1260px;
	top: -360px;
	position: absolute;
}

.shape-right-bg {
	color: #FFF;
	background: #48D5B5;
	width: 100%;
	height: 100%;
	transform: scale(1.25) rotate(-30deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logos-block {
	background: #CCC;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-block {
  display: flex;
  justify-content: space-between;
  margin: 0 180px;
}

.main-block-content {
  width: 540px;
}

.main-block-sidebar {
  width: 360px;
}

.card {

}

.card-image {

}


/* TYPOGRAPHY */

.display {
	color: var(--first-color);
	font-size: 5em;
	font-weight: 300;
	margin-bottom: 1em;
}

.heading {
	color: var(--first-color);
	font-size: 4em;
	font-weight: 300;
	margin-bottom: 0.5em;
}

.sub-heading {
	color: var(--first-color);
	font-size: 2.5em;
	font-weight: 300;
	margin: 0.5em 0 0.5em 0;
}

.lead {
	color: var(--second-color);
	font-size: 1.5em;
}

.image-fluid {
  width: 100%;
}
