:scope {
	--first-color: #000000;
	--second-color: #5b5b5b;
	--large-spacing: 5rem;
	font-size: 12px;
  line-height: 1.5;
}


@media (max-width: 599px) {
  :scope {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  :scope {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  :scope {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  :scope {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  :scope {
    font-size: 22px;
  }
}

@media (min-width: 2560px) {
  :scope {
    font-size: 28px;
  }
}



.contents {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--second-color);
  overflow: hidden;
}

.container {
	max-width: 80em;
	margin: 0 auto;
	padding: 5em 0;	
}

.page-header {
	margin: 0 10em;
}

/* TYPOGRAPHY */

.display {
  color: var(--first-color);
  font-size: 5em;
  font-weight: 300;
  margin-bottom: 6rem;
  line-height: 1.1em;
}

.heading {
  color: var(--first-color);
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.1em;
}

.sub-heading {
  color: var(--first-color);
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1em;
}

.lead {
  color: var(--second-color);
  font-size: 1.6em;
  line-height: 1.3em;
  margin-bottom: 2rem;
}

.body-text {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.small-text {
  font-size: 0.8em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* NAVBAR */
.navbar {
  margin: 0 10em 10em 10em;
  display: flex;
  align-items: center;
}

.navbar-brand {
  width: 10rem;
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
  width: 100%;
}

.navbar-nav-item {
}

/* SHAPES */

.shape-block {
	position: relative;
	min-height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 10em;
}

.shape-left {
	transform: rotate(30deg);
	overflow: hidden;
	width: 80em;
	height: 40em;
	left: -52em;
	top: -10em;
	position: absolute;
}

.shape-left-bg {
	color: #FFF;
	background: #48D5B5;
	width: 100%;
	height: 100%;
	transform: scale(1.25) rotate(-30deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  overflow: hidden;
}

.shape-right {
  transform: rotate(30deg);
  overflow: hidden;
  width: 80em;
  height: 40em;
  right: -80em;
  top: -20em;
  position: absolute;
}

.shape-right-bg {
  color: #FFF;
  background: #48D5B5;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape-right-content {
	width: 100%;
  transform: scale(0.8);
  display: flex;
  justify-content: flex-start;
}

.shape-left-content {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  justify-content: flex-end;
}

.shape-content-image {
  width: 30em;
  margin-right: 8em;
  margin-top: 10em;
}

.shape-content-text {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
  margin-top: -15em;
  color: #FFF;
}

.shape-center {
  display: flex;
  justify-content: flex-end;
}

.shape-center-content {
  width: 20em;
}

.shape-sub-heading {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1em;
}

/*FOOTER SHAPE*/

.shape-block-lg {
  position: relative;
  min-height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
}

.shape-right-lg {
  transform: rotate(30deg);
  overflow: hidden;
  width: 80em;
  height: 40em;
  right: -40em;
  top: -10em;
  position: absolute;
}

.shape-right-lg-bg {
  color: #FFF;
  background: #E15D44;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.shape-left-lg {
  transform: rotate(30deg);
  overflow: hidden;
  width: 160em;
  height: 50em;
  left: -40em;
  top: 0;
  position: absolute;
}

.shape-left-lg-bg {
  color: #FFF;
  background-image: url("assets/images/marco.jpg");
  background-color: #222;
  background-size: 80em;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape-block-md {
  position: relative;
  display: flex;
  min-height: 25rem;
  flex-direction: column;
  margin: 0 0 0 10em;
  justify-content: center;
}

.shape-left-md {
  transform: rotate(30deg);
  overflow: hidden;
  width: 80em;
  height: 40em;
  left: -90em;
  top: 0;
  position: absolute;
}

.shape-left-md-bg {
  color: #FFF;
  background: #007DF6;
  width: 100%;
  height: 100%;
  transform: scale(1.25) rotate(-30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* LOGO */

.logos-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 0 10em;
}

/* MAIN BLOCK */

.main-block {
  display: flex;
  justify-content: space-between;
  margin: 0 10em;
}

.main-block-content {
  width: 30em;
}

.main-block-sidebar {
  width: 20em;
}

.main-block-content-item {
  margin-bottom: 5rem;
}

.main-block-content-section {
  margin-bottom: 4rem;
}

.main-block-content-heading {
  margin-bottom: 4rem;
}

.block-link {
  display: block;
}

.card {
}

.card-sub-heading {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1rem 0;
  line-height: 1em;
  color: var(--first-color);
}

.card-image {
  margin-bottom: 2rem;
}

.card-form {
  background: red;
}

.image-fluid {
  width: 100%;
  vertical-align: top;
}

/* MAIN BLOCK */

.button {
  background: #007DF6;
  color: #FFF;
  border-radius: 4px;
  padding: 1rem;
  text-decoration: none;
}

.bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
}



