:scope {
  block-name: screen;
	--first-color: #222222;
	--second-color: #5b5b5b;
  --link-color: #007DF6;
  --vertical-spacing: 4em;
  --horizontal-spacing: 2em;
	font-size: 12px;
  line-height: 1.6;
}


@media (max-width: 599px) {
  :scope {

  }
}

@media (min-width: 768px) {
  :scope {
    font-size: 12px;
    --horizontal-spacing: 4em;
  }
}

@media (min-width: 1024px) {
  :scope {
    font-size: 14px;
    --horizontal-spacing: 10em;
  }
}

@media (min-width: 1440px) {
  :scope {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  :scope {
    font-size: 22px;
  }
}

@media (min-width: 2560px) {
  :scope {
    font-size: 28px;
  }
}

.contents {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--second-color);
  overflow: hidden;
}

.container {
	max-width: 80em;
	margin: 0 auto;
	padding: var(--vertical-spacing) 0;
}
