:scope {
  block-name: Size;
}

.col-1 {
  width: var(--col-1);
}

.col-2 {
  width: var(--col-2);
}

.col-3 {
  width: var(--col-3);
}

.col-4 {
  width: var(--col-4);
}

.col-5 {
  width: var(--col-5);
}

.col-6 {
  width: var(--col-6);
}

.w-10 {
  width: 10rem;
}
