:scope {
  block-name: Source;

  margin: 3rem 0;
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  max-width: 100%;
  overflow: auto;
  padding: 1.5rem 2rem;
  display: block;
  white-space: pre;
  text-align: justify;
  font-size: var(--p);
  line-height: var(--p-lh);
}
