:scope {
  block-name: table;
  margin: 3rem 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
}

.cell {
  padding: 0.5em 1em;
}

.header {
  border-bottom: 2px solid #ddd;
  padding: 0.5em 1em;
}
