:scope {
  block-name: typography;
}

.display {
  margin-bottom: 6rem;
  color: var(--color-1);
  font-size: 5em;
  font-weight: 300;
  line-height: 1.1em;
}

.headline-1 {
  margin-bottom: 6rem;
  color: var(--color-1);
  font-size: 8rem;
  font-weight: 300;
  line-height: 10rem;
}

.headline-2 {
  margin-bottom: 3rem;
  color: var(--color-1);
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 400;
}

.headline-3 {
  margin-bottom: 5rem;
  color: var(--color-1);
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
}

.lead {
  color: var(--color-2);
  font-size: 4rem;
  font-weight: 300;
  line-height: 6rem;
}

.lead + .lead {
  margin-top: 5rem;
}

.body-text {
  font-size: 3rem;
  line-height: 5rem;
}

.body-text + .body-text {
  margin-top: 5rem;
}

.small-text {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.arrow-link {
  display: inline-block;
  padding: 1rem 7rem 1rem 0;
  color: var(--link-color);
  background: no-repeat center right;
  background-image: url('assets/images/long-arrow-right.svg');
  background-size: 5rem;
  font-size: 3rem;
  line-height: 5rem;
  text-decoration: none;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.title-link {
  color: var(--first-color);
  text-decoration: none;
}

.title-link:hover {
  color: var(--link-color);
  text-decoration: none;
}
