:scope {
  block-name: typography;
}

.display,
.display-plain {
  color: var(--color-text);
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.2;
}

.display {
  margin-bottom: 6rem;
}

.h2 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.25;
}

.h3 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
}

.h3 {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
}

.h4 {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
}

@media (max-width: 887px) {
  .display,
  .display-plain {
    font-size: 8rem;
    font-weight: 300;
    line-height: 1.25;
  }

  .h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 400;
  }
}

.small {
  color: var(--color-muted);
  display: block;
  margin: 0 0 2rem;
  font-size: 1.75rem;
  line-height: 1.142857143;
  text-transform: uppercase;
}

.lead {
  color: var(--color-muted);
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
}

.lead + .lead {
  margin-top: 5rem;
}

.p {
  font-size: 2.5rem;
  line-height: 1.6;
}

.tag {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  color: var(--color-link);
}
