:scope {
  block-name: typography;
}

.display {
  margin-bottom: 6rem;
  color: var(--color-text);
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.2;
}

.headline-1 {
  margin-bottom: 6rem;
  color: var(--color-text);
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.25;
}

.headline-2 {
  margin-bottom: 3rem;
  color: var(--color-text);
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
}

.headline-3 {
  margin-bottom: 5rem;
  color: var(--color-text);
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
}

.headline-4 {
  margin-bottom: 1rem;
  color: var(--color-text);
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 600;
}

.small-text {
  color: var(--color-muted);
  display: block;
  margin: 0 0 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.lead {
  color: var(--color-muted);
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
}

.lead + .lead {
  margin-top: 5rem;
}

.lead[state|offset] {
  margin-bottom: 12rem;
}

.body-text {
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title-link {
  color: var(--color-text);
  text-decoration: none;
}

.title-link:hover {
  color: var(--link-color);
  text-decoration: none;
}

.tag {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  color: var(--link-color);
}
