:scope {
  block-name: typography;
}

.display,
.display-plain,
.h1 {
  color: var(--color-text);
  font-size: var(--h1);
  font-weight: 300;
  line-height: var(--h1-lh);
}

.display {
  margin-bottom: 6rem;
}

.h2 {
  font-size: var(--h2);
  font-weight: 300;
  line-height: var(--h2-lh);
}

.h3 {
  font-size: var(--h3);
  line-height: var(--h3-lh);
  font-weight: 400;
}

.h4 {
  font-size: var(--h4);
  line-height: var(--h4-lh);
  font-weight: 400;
}

.small {
  color: var(--color-muted);
  display: block;
  margin-bottom: 2rem;
  font-size: var(--label);
  line-height: var(--label-lh);
  text-transform: uppercase;
}

.lead {
  color: var(--color-muted);
  font-size: var(--lead);
  font-weight: 300;
  line-height: var(--lead-lh);
}

.lead + .lead {
  margin-top: 5rem;
}

.p {
  font-size: 2.5rem;
  line-height: 1.6;
}

.quote {
  font-style: italic;
}

.tag {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  color: var(--color-link);
}

.hidden {
  position: absolute;
  display: inline-block;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.table {
  overflow: auto;
  margin: 3rem auto;
}

@media (max-width: 887px) {
  .display,
  .h1 {
    margin-bottom: 3rem;
  }

  .h2 {
    margin-bottom: 3rem;
  }

  .small {
    color: var(--color-text);
  }
}

@media (min-width: 888px) {
  .nowrap {
    white-space: nowrap;
  }
}
