:scope {
  block-name: typography;
}

.display {
  margin-bottom: 6rem;
  color: var(--first-color);
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.2;
}

.headline-1 {
  margin-bottom: 6rem;
  color: var(--first-color);
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.25;
}

.headline-2 {
  margin-bottom: 3rem;
  color: var(--first-color);
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
}

.headline-3 {
  margin-bottom: 5rem;
  color: var(--first-color);
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 400;
}

.small-text {
  display: block;
  margin: 0 0 2rem;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.lead {
  color: var(--second-color);
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
}

.lead + .lead {
  margin-top: 5rem;
}

.lead[state|offset] {
  margin-bottom: 12rem;
}

.body-text {
  font-size: 2.5rem;
  line-height: 1.6;
}

.body-text + .body-text {
  margin-top: 5rem;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.title-link {
  color: var(--first-color);
  text-decoration: none;
}

.title-link:hover {
  color: var(--link-color);
  text-decoration: none;
}
