.text-animation {
  em {
    font-style: normal;
  }
}

@media (prefers-reduced-motion: no-preference) {
  body[data-js-enabled="true"] {
    .text-animation {
      em {
        display: inline-block;
        position: relative;
      }
    }

    .text-animation__cover {
      display: block;
      position: absolute;
      top: -0.0625rem;
      left: -0.0625rem;
      right: -0.0625rem;
      bottom: -0.0625rem;
      background-color: var(--color-animation);
      transform-origin: center left;
    }
  }
}
