<Card
  @label="Upcoming Events"
  @title="Meet Us at Emberfest 2019"
  @src="/assets/images/card/emberfest-2019.png"
  @alt="EmberFest 2019 logo"
>
  <p class="typography.body-text">
    EmberFest is a great opportunity to get in touch with the European Ember Community.
  </p>
  <ArrowLink @href="/calendar">
    View Our Calendar
  </ArrowLink>
</Card>