<ShapeFeature
  @color="#48D5B5"
  @src="/assets/images/work/trainline-comp.png"
  @width="1208"
  @height="1268"
  @logo="/assets/images/logos/trainline.svg"
  @tagline="Mobile Web App"
>
  <h2 class="typography.small-text">
    {{@label}}
  </h2>
  <h3 class="typography.headline-2">
    Leveraging Trainline's full market potential
  </h3>
  <ArrowLink @href="/cases/trainline">
    Read Case Study
  </ArrowLink>
</ShapeFeature>