<ShapeFeature @color="#48D6B6" @background="/assets/images/work/trainline.jpg">
  <p class="typography.small-text">
    Continue Reading
  </p>
  <h3 class="typography.headline-2">
    Mobile Web App for tickets
  </h3>
  <p class="typography.body-text">
    Leveraging Trainline's full market potential
  </p>
  <ArrowLink @href="#">
    Read Case Study
  </ArrowLink>
</ShapeFeature>