<ShapeFeature
  @color="#48D5B5"
  @src="/assets/images/work/trainline-comp.png"
  @srcAlt="montage of 3 screenshots of the trailine app on phones"
  @logo="/assets/images/logos/trainline.svg"
  @logoAlt="Trainline"
  @tagline="Mobile Web App"
>
  <h2 class="typography.small-text">
    {{@label}}
  </h2>
  <h3 class="typography.headline-2">
    A mobile train ticket counter
  </h3>
  <p class="typography.body-text">
    Leveraging Trainline's full market potential
  </p>
  <ArrowLink @href="/cases/trainline">
    Read Case Study
  </ArrowLink>
</ShapeFeature>