<ShapeFeature
  @color="#48D5B5"
  @src="/assets/images/work/trainline-comp.png"
  @logo="/assets/images/logos/trainline.svg"
  @tagline="Mobile Web App"
>
  <h2 class="typography.small-text">
    Featured Case Study
  </h2>
  <h3 class="typography.headline-2">
    Leveraging Trainline's full market potential
  </h3>
  <p class="typography.body-text">
    We turn our clients' ideas into successful products, working closely with them in short iterations.
  </p>
  <ArrowLink @href="/cases/trainline">
    Read Case Study
  </ArrowLink>
</ShapeFeature>