@block button from "../../styles/blocks/button.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: navigation;
  margin: 0 10em 10em 10em;
  display: flex;
  align-items: center;
}

.navbar-brand {
  width: 15rem;
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
  width: 100%;
}

.nav-item {
  color: #000000;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1em;
}


