@block button from "../../styles/blocks/button.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: navigation;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: 10em;
  margin-right: 2rem;
  flex-shrink: 0;
}

.navbar-nav {
  margin-left: auto;
  width: 100%;
}

.nav-item {
  color: #000000;
  margin-left: 4rem;
  text-decoration: none;
}

@media (max-width: 599px) {
  .navbar-nav {
    display: none;
  }
}
