@block button from "../../styles/blocks/button.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: navigation;
  margin: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  width: 10em;
  margin-right: 1rem;
  flex-shrink: 0;
}

.navbar-nav {
  margin-left: auto;
  width: 100%;
}

.nav-item {
  color: #000000;
  margin-left: 2rem;
  text-decoration: none;
}

@media (max-width: 599px) {
  .navbar-nav {
    display: none;
  }
  
}

@media (min-width: 768px) {
  :scope {
    margin: 0 4em;
  }
}

@media (min-width: 1024px) {
  :scope {
    margin: 0 10em;
  }
}




