<div>
  <div class="navbar-brand">
    <a href="/a" data-navigo>
      <img class="screen.image-fluid" src="assets/images/neu.svg" alt="simplabs" />
    </a>
  </div>
  <nav class="navbar-nav">
    <a href="/b" class="nav-item" data-navigo>
      Services
    </a>
    <a href="/work" class="nav-item" data-navigo>
      Work
    </a>
    <a href="/about" class="nav-item" data-navigo>
      About
    </a>
    <a href="/blog" class="nav-item" data-navigo>
      Blog
    </a>
  </nav>
</div>
