@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeFeature;
  position: relative;
  margin: 20rem 0;
  padding: 0;
  grid-column: 1/-1;
  --shape-color: var(--color-accent);
  transform: rotate(30deg);
}

.container {
  transform: rotate(-30deg);
}

.bottom,
.top {
  position: absolute;
  display: block;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.content {
  font-size: inherit;
  line-height: inherit;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.bottom-svg {
  display: block;
  position: relative;
  width: 230rem;
  height: auto;
  margin: -4rem;
}

.bottom-content {
  position: absolute;
  background: var(--shape-color) 90% 100% no-repeat;
  background-size: 123rem auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  transform: rotate(-30deg);
}

:scope[state|hasVideo] .bottom-content {
  background-position: center;
  background-size: cover;
}

@media (max-width: 887px) {
  :scope {
    margin: 0;
  }
  :scope[state|hasImage] {
    padding-top: 0;
  }

  :scope[state|hasVideo] .video {
    display: none;
  }

  .top {
    display: none;
  }

  .bottom {
    top: 0;
    transform: translate(-50%, -10rem);
  }

  :scope[state|hasImage] .top {
    display: block;
  }

  :scope[state|hasImage] .bottom {
    display: block;
    top: 0;
    transform: translate(-50%, 10rem);
  }

  .bottom-content {
    background-position: center;
  }

  .img-wrapper {
    height: 80rem;
    transform: translate(0);
  }

  .img {
    display: block;
    width: auto;
    height: 100%;
  }

  .tagline {
    display: none;
  }

  .content {
    margin-top: 4rem;
    background: #FFF;
    padding: 5rem;
    box-shadow: 2rem 2rem 0 0 var(--shape-color);
  }
}

@media (min-width: 888px) {
  :scope {
    min-height: 80rem;
  }
  .top {
    top: calc(-200% + 20vw);
    left: calc(40% + 20vw);
  }

  .bottom {
    top: 20rem;
    left: 50%;
    transform: translate(-90%);
    width: 225rem;
  }

  .container {
    composes: 'containerBlock';
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }

  :scope[state|hasImage] .container {
    justify-content: space-between;
  }

  .img-wrapper {
    max-width: var(--col-4);
    margin-top: -10rem;
  }

  .content {
    width: var(--col-2);
  }

  .video {
    width: 100%;
    height: auto;
  }

  .tagline {
    bottom: 0;
    z-index: 2;
    width: var(--col-2);
  }
}

@media (min-width: 1280px) {
  .top {
    left: calc(30% + 20vw);
  }
}

@media (min-width: 1690px) {
  :scope {
    margin-top: 30rem;
  }
}
