@block layout from "../../styles/blocks/layout.block.css";

:scope {
  padding: 0;
  margin: 0;
  --color-muted: var(--color-text-inverted);
  --color-text: var(--color-text-inverted);
  --color-link: var(--color-text-inverted);
  --shape-color: var(--color-accent);
  block-name: ShapeFeature;
  grid-column: 1/-1;
  z-index: 100;
}

.container {
  display: grid;
  column-gap: var(--col-gap);
  grid-column: 1/-1;
}

.content {
  display: flex;
  flex-direction: column;

  font-size: inherit;
  line-height: inherit;

  color: var(--color-text-inverted);

  grid-column: 2/-2;
  justify-content: flex-end;
}

.img-wrapper {
  display: block;
  margin-top: -20rem;
  margin-bottom: 5rem;

  clip-path: polygon(31% 0, 100% 20%, 100% 92%, 60% 100%, 0 90%, 0 7%);
  -webkit-clip-path: polygon(31% 0, 100% 20%, 100% 92%, 60% 100%, 0 90%, 0 7%);
  grid-column: 2/-2;
}

.bottom,
.top {
  display: block;

  fill: var(--shape-color);
}

.top {
  width: 100%;
  padding-top: 15%;
  margin-bottom: -1px;
  background: var(--shape-color);

  clip-path: polygon(40% 0%, 100% calc(100% - 1px), 100% 100%, 0 100%, 0 calc(50% - 1px));
  -webkit-clip-path: polygon(40% 0%, 100% calc(100% - 1px), 100% 100%, 0 100%, 0 calc(50% - 1px));
}

.bottom {
  width: 100%;
  padding-bottom: 8%;
  margin-top: -1px;
  background: var(--shape-color);

  clip-path: polygon(100% 0, 100% 1px, 57% 100%, 0 1px, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 1px, 57% 100%, 0 1px, 0 0);
}

.middle {
  background: var(--shape-color);
  padding-bottom: 4rem;
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 887px) {
  .img-wrapper {
    grid-column: 2/-2;
    margin-left: 0;
    clip-path: polygon(31% 0, 100% 30%, 100% 88%, 60% 100%, 0 87%, 0 10%);
    -webkit-clip-path: polygon(31% 0, 100% 30%, 100% 88%, 60% 100%, 0 87%, 0 10%);
  }

  .container {
    grid-template-columns: var(--grid-template-columns);
  }
}

@media (min-width: 888px) {
  :scope {
    margin: 4rem 0;
    grid-column: 2/-2;
  }

  .container {
    grid-template-columns: var(--grid-content-columns);
  }

  .top {
  }

  .bottom {
  }

  .img-wrapper {
    margin-left: -4rem;
    grid-column: 1/4;
  }

  .content {
    grid-column: 4/-1;
    padding: 5rem 5rem 0 5rem;
  }

  .tagline {
  }
}

@export layout;
