@block layout from "../../styles/blocks/layout.block.css";

:scope {
  padding: 0;
  margin: 2rem 0 0 0;
  --color-muted: var(--color-text-inverted);
  --color-text: var(--color-text-inverted);
  --color-link: var(--color-text-inverted);
  --shape-color: var(--color-accent);
  block-name: ShapeFeature;
  grid-column: 1/-1;
}

:scope[backgroundVariation='light'] {
  --shape-color: var(--color-light-accent);
}

.top {
  width: 100%;
  padding-top: 14.5%;
  margin-bottom: -1px;
  background: var(--shape-color);

  clip-path: polygon(40% 0%, 100% calc(100% - 1px), 100% 100%, 0 100%, 0 calc(65% - 1px));
  -webkit-clip-path: polygon(40% 0%, 100% calc(100% - 1px), 100% 100%, 0 100%, 0 calc(65% - 1px));
}

.bottom {
  width: 100%;
  padding-bottom: 10%;
  margin-top: -1px;
  background: var(--shape-color);

  clip-path: polygon(100% 0, 100% 4%, 60% 100%, 0 1px, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 4%, 60% 100%, 0 1px, 0 0);
}

.middle {
  background: var(--shape-color);
}

@media (max-width: 887px) {
  :scope {
    margin: 11rem 0 0 0;
  }

  .middle {
    padding-bottom: 4rem;
  }
}

@media (min-width: 888px) {
  :scope {
    grid-column: 2/-2;
  }
}

@export layout;
