@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeFeature;
  position: relative;
  margin: 30rem 0;
  padding: 0;
  grid-column: 1/-1;
  --shape-color: var(--color-accent);
  transform: rotate(30deg);
}

.container {
  composes: 'containerBlock';
  transform: rotate(-30deg);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom,
.top {
  position: absolute;
  display: block;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.content {
  font-size: inherit;
  line-height: inherit;
}

.img {
  display: block;
  width: 95%;
  height: auto;
  margin: auto;
  transform: translate(-12%);
}

.bottom {
  top: 3rem;
  left: calc(50% - 90rem);
  transform: translate(-50%);
}

.bottom-svg {
  display: block;
  position: relative;
  width: 230rem;
  height: auto;
  margin: -4rem;
}

.bottom-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottom-content {
  background: var(--shape-color) 90% 100% no-repeat;
  background-size: 123rem auto;
  width: 100%;
  height: 100%;
  transform: rotate(-30deg);
}

.bottom-image {
  width: 46.5%;
  height: 90%;
  transform-origin: center;
  transform: translate(100%, 0%);
  background: var(--shape-color) 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 887px) {
  :scope {
    margin: 10rem 0 30rem;
    min-height: 80rem;
  }

  .container {
    flex-direction: column;
  }

  .top {
    bottom: 60rem;
    right: -168rem;
  }

  .bottom {
    left: -110rem;
    top: 35rem;
    transform: scale(0.6);
  }

  :scope[state|hasImage] .bottom {
    top: 45rem;
  }

  .bottom-svg {
    transform: translate(8vw, 0);
  }

  .bottom-content {
    background-position: center;
  }

  .img-wrapper {
    height: 50rem;
    transform: translate(0);
    order: 2;
  }

  .img {
    display: block;
    width: auto;
    height: 100%;
    transform: scale(0.9);
  }

  .tagline {
    display: none;
  }

  .content {
    order: 1;
    width: 70%;
  }
}

@media (min-width: 888px) {
  :scope {
  }

  .top {
    bottom: 63rem;
    right: -150rem;
  }

  .img-wrapper {
    max-width: var(--col-4);
    margin-top: -30%;
  }

  .content {
    width: var(--col-2);
  }

  .tagline {
    bottom: 0;
    z-index: 2;
    width: var(--col-2);
  }
}
