@block screen from "../../styles/blocks/screen.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeFeature;

  position: relative;
  margin: 0 0 16rem;
  padding: 0;

  --shape-color: var(--color-accent);
}

.bottom,
.top {
  position: absolute;
  left: 50%;
  display: block;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.tagline-logo {
  overflow: hidden;
}

.tagline-logo-image {
  display: block;
  height: 11rem;
  width: auto;
  filter: saturate(0%) brightness(100);
}

.tagline-container {
  composes: 'screen.container-base';

  position: relative;
}

.tagline {
  position: absolute;
  z-index: 2;
}

.tagline-text {
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-text-inverted);
}

@media (max-width: 699px) {
  .top {
    left: 50%;
    transform: translate(-50%);
  }

  .bottom {
    display: none;
  }

  .img {
    width: 130vw;
    height: 108.5rem;
    padding-top: 4rem;
    transform: translate(-15vw);
  }

  .tagline {
    top: 88rem;
    right: var(--offset-horizontal);
  }

  .content {
    margin-top: 8rem;
  }
}

@media (min-width: 700px) {
  :scope {
    min-height: 58rem;
    margin: 0;
    padding: 28rem 0 14rem;
  }

  .top {
    transform: translate(20%, -60rem);
  }

  .bottom {
    top: -26rem;
    left: 50%;
    transform: translate(-90%);
    width: 225rem;
  }

  .bottom-svg {
    display: block;
    position: relative;
    width: 230rem;
    height: auto;
    margin: -4rem;
  }

  .bottom-content {
    position: absolute;
    background: var(--shape-color) 90% 100% no-repeat;
    background-size: 123rem auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container {
    composes: 'screen.container-base';

    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  .img {
    margin-top: -28rem;
    max-width: var(--col-3);
  }

  .content {
    width: var(--col-2);
  }

  .video {
    width: 100%;
    height: auto;
  }

  .tagline {
    top: 36rem;
    z-index: 2;
    width: var(--col-2);
  }
}
