$elixir-foreground-color: #483159;
$elixir-secondary-background-color: #483159;
$elixir-secondary-foreground-color: #fff;

body.elixir {
  @include custom-color-scheme(
    $elixir-foreground-color,
    $primary-background-color,
    $elixir-secondary-foreground-color,
    $elixir-secondary-background-color,
    $elixir-foreground-color
  );

  a {
    color: $elixir-foreground-color;
  }

  .primary-banner {
    p {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .icon {
      width: unset;
      height: 5rem;
      vertical-align: middle;
    }
  }

  .content-section {
    &.services {
      .service {
        text-align: center;

        h3 {
          transition: all ease-in-out .15s;
          font-size: 1rem;
        }

        a {
          text-decoration: none;
          color: $primary-text-color;
          display: block;

          &:hover {
            h3 {
              color: $elixir-foreground-color;
            }

            .icon {
              transform: translateY(-.15rem);

              * {
                fill: $elixir-foreground-color !important;
              }
            }
          }
        }

        .icon {
         height: 5rem;
         margin-bottom: .5rem;
         transition: all ease-in-out .15s;

          * {
            transition: all ease-in-out .15s;
            fill: $primary-text-color !important;
          }
        }
      }
    }
  }

  .contact-banner {
    .container {
      background-color: $elixir-secondary-background-color;
      color: $elixir-secondary-foreground-color;
    }

    a {
      color: $elixir-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $elixir-secondary-foreground-color;
    }
  }

  #footer {
    .section-head {
      color: $elixir-foreground-color;
    }

    .simplabs-logo {
      .ball {
        fill: $elixir-foreground-color;
      }
    }
  }
}

.tech-teaser-small.elixir {
  background: url("/images/icons/elixir-phoenix.svg") $elixir-secondary-background-color right 2rem bottom 2rem no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  background-size: 25%;
  padding: 2rem;
  width: 100%;
  border-radius: .15rem;
  transition: all ease-in-out .15s;
  min-height: 15rem;

  &:hover {
    transform: translateY(-.1rem);
    background-color: darken($elixir-secondary-background-color, 5%);
  }

  h4 {
    font-size: 2rem;
  }

  a {
    color: $elixir-secondary-foreground-color;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 50%;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color !important;
    }
  }

  p {
    width: 50%;
  }
}

