$elixir-foreground-color: #483159;
$elixir-secondary-background-color: #483159;
$elixir-secondary-foreground-color: #fff;
$elixir-ternary-highlight-color: #f8511e;

body.elixir {
  @include custom-color-scheme(
    $secondary-text-color,
    transparent,
    $secondary-text-color,
    transparent,
    $elixir-foreground-color
  );

  a {
    color: $elixir-foreground-color;
  }

  .primary-banner {
    position: relative;
    transition: all ease-out .25s;
    color: $primary-text-color;
    padding: calc(55px + 8rem) 0 4rem 0;

    p {
      font-size: 1.8rem;
      font-weight: 400;
    }

    .icon {
      transition: all ease-out .25s;
      width: unset;
      height: 5rem;
      vertical-align: middle;
    }

    .background {
      position: absolute;
      top: -10rem;
      right: 0;
      left: 0;
      bottom: 15rem;
      transform: skew(0, -1deg);
      background: linear-gradient(135deg, $elixir-secondary-background-color, $elixir-ternary-highlight-color);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
      transition: all ease-out .25s;
    }

    &.scrolled {
      color: $secondary-text-color;

      .icon {
        transition: all ease-out .25s;

        * {
          fill: $secondary-text-color !important;
        }
      }

      .background {
        bottom: 0;
        transform: skew(0, 2deg);
      }
    }
  }

  .content-section {
    h2 {
      color: $elixir-foreground-color;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0;
      font-weight: 600;
    }

    &.services {
      .service {
        text-align: center;

        h3 {
          transition: all ease-in-out .15s;
          font-size: 1rem;
        }

        a {
          text-decoration: none;
          color: $primary-text-color;
          display: block;

          &:hover {
            h3 {
              color: $elixir-foreground-color;
            }

            .icon {
              transform: translateY(-.15rem);

              * {
                fill: $elixir-foreground-color !important;
              }
            }
          }
        }

        .icon {
         height: 5rem;
         margin-bottom: .5rem;
         transition: all ease-in-out .15s;

          * {
            transition: all ease-in-out .15s;
            fill: $primary-text-color !important;
          }
        }
      }
    }

    //TODO: move this elsewhere later:

    &.case-teaser.expedition {
      margin-bottom: 0;
    }
  }

  .contact-banner {
    .background {
      background: linear-gradient(135deg, $elixir-secondary-background-color, $elixir-ternary-highlight-color);
      background-size: auto 200%;
      background-position: 0 100%;
      color: $elixir-secondary-foreground-color;
    }

    a {
      color: $elixir-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $elixir-secondary-foreground-color;
    }

    &:hover {
      .background {
        background-position: 0 0;
      }
    }
  }

  #footer {
    .section-head {
      color: $elixir-foreground-color;
    }

    .simplabs-logo {
      .ball {
        fill: $elixir-foreground-color;
      }
    }
  }
}

.tech-teaser-small.elixir {
  background: url("/images/icons/elixir-phoenix.svg") $elixir-secondary-background-color right bottom 2rem no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  background-size: 25%;
  width: 100%;
  border-radius: .15rem;
  transition: all ease-in-out .15s;
  min-height: 15rem;

  &:hover {
    transform: translateY(-.1rem);
    background-color: darken($elixir-secondary-background-color, 5%);
  }

  h4 {
    font-size: 2rem;
  }

  a {
    color: $elixir-secondary-foreground-color;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 4rem 2rem;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 50%;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color !important;
    }
  }

  p {
    width: 50%;
  }
}

.content-section {
  &.services-teaser {
    .service {
      a {
        text-decoration: none;
        color: $primary-text-color;
        display: block;

        &:hover {
          h3 {
            color: $primary-highlight-color;

            .octicon {
              transform: translateX(.15rem);

              * {
                fill: $primary-highlight-color !important;
              }
            }
          }

          .icon {
            * {
              fill: $primary-highlight-color !important;
            }
          }
        }
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        transition: all ease-out .15s;

        .octicon {
          vertical-align: middle;
          transition: all ease-out .15s;

          * {
            transition: all ease-out .15s;
          }
        }
      }

      .icon {
        height: 4rem;
        margin-right: 1rem;

        * {
          transition: all ease-out .15s;
          fill: $primary-text-color !important;
        }
      }
    }
  }
}
