$ember-foreground-color: #f53d2b;
$ember-secondary-background-color: #f53d2b;
$ember-secondary-foreground-color: #fff;

body.ember {
  @include custom-color-scheme(
    $ember-secondary-foreground-color,
    $ember-secondary-background-color,
    $ember-secondary-foreground-color,
    $ember-secondary-background-color,
    $ember-foreground-color
  );

  a {
    border-bottom-color: $ember-foreground-color;

    &:hover {
      color: $ember-foreground-color;
    }
  }

  .primary-banner {
    h1 {
      color: $ember-foreground-color;
    }

    .icon {
      width: 100%;
    }
  }

  .content-section {
    &.open-source {
      h2 {
        margin-bottom: 2rem;

        .octicon {
          vertical-align: middle;
        }

        .more {
          color: $primary-text-color;
        }
      }
    }

    &.talks {
      padding-bottom: 2rem;

      .teaser {
        margin-bottom: 1rem;

        .teaser-image {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
          width: 100%;
        }

        h5 {
          font-size: .8rem;
          font-weight: bold;
          padding: .5rem 1rem;
          margin-top: 0;

          .speaker {
            font-weight: lighter;
            font-style: italic;
          }
        }

        a {
          border-bottom: none;

          .more {
            display: inline-block;
            transition: all ease-in-out .15s;
          }

          &:hover {
            color: $primary-text-color;
            transform: translateY(-.15rem);

            .more {
              transform: translateX(.15rem);
              color: $ember-foreground-color;
            }
          }
        }
      }
    }

    &.posts {
      padding-top: 0;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
      }

      h4 {
        transition: all ease-in-out .15s;
        font-size: 1rem;
      }

      p {
        font-size: .8rem;
      }

      code {
        color: $primary-text-color;
      }

      .col-sm-6 {
        margin-bottom: 2.5rem;
      }

      .post {
        margin-bottom: 2rem;

        p {
          margin-bottom: .5rem;
        }
      }
    }

    
    &.quote {
      blockquote:before {
        color: $ember-foreground-color;
      }
    }

    &.case-teaser {
      a {
        color: $primary-text-color;
      }
    }
  }

  .project-teaser {
    @include teaser-box;
    width: 100%;
    border: 1px solid $quaternary-background-color;
    border-bottom: 5px solid $quaternary-background-color;
    margin: 0 0 2rem 0;

    .more {
      display: inline-block;
    }

    &:hover {
      .more {
        transform: translatex(.15rem);
      }
    }

    .logo {
      width: 8rem;
      margin-right: 2rem;
    }

    .more {
      transition: transform ease-in-out .15s;
    }

    &.ember-simple-auth {
      border-bottom-color: #eb4831;

      &:hover {
        a {
          color: #eb4831;
        }
      }
    }

    &.ember-test-selectors {
      border-bottom-color: #a0fdcd;

      &:hover {
        a {
          color: #a0fdcd;
        }
      }
    }

    &.ember-cookies {
      border-bottom-color: #fb9906;

      &:hover {
        a {
          color: #fb9906;
        }
      }
    }

    &.qunit-dom {
      border-bottom-color: #fa245c;

      &:hover {
        a {
          color: #fa245c;
        }
      }
    }
  }

  .community-banner {
    .container {
      background: url("/images/ember-community/tomster.jpg") left center no-repeat;
      background-size: 50% 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
      padding: 2rem;
    }

    h2 {
      margin-left: 1rem;

      &:after {
        display: none;
      }
    }

    p {
      margin-left: 1rem;
    }

    @include media-breakpoint-down(md) {
      .container {
        background: url("/images/ember-community/tomster.jpg") top center no-repeat;
        background-size: 100% 50%;
        padding: 50% 2rem 2rem 2rem;
      }

      h2, p {
        margin-left: 0;
      }
    }
  }

  #footer {
    .section-head {
      color: $ember-foreground-color;
    }

    .simplabs-logo {
      .ball {
        fill: $ember-foreground-color;
      }
    }
  }
}

.tech-teaser-small.ember {
  background: url("/images/icons/hamster.svg") $ember-secondary-background-color right 2rem bottom 2rem no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  background-size: 35%;
  width: 100%;
  border-radius: .15rem;
  transition: all ease-in-out .15s;
  min-height: 15rem;

  &:hover {
    transform: translateY(-.1rem);
    background-color: darken($ember-secondary-background-color, 5%);
  }

  h4 {
    font-size: 2rem;
  }

  a {
    color: $ember-secondary-foreground-color;
    display: block;
    width: 100%;
    padding: 4rem 2rem;
    border-bottom: none;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 50%;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color !important;
    }
  }

  p {
    width: 50%;
  }
}
