$ember-foreground-color: #f53d2b;
$ember-secondary-background-color: #f53d2b;
$ember-secondary-foreground-color: #fff;

body.ember {
  @include custom-color-scheme(
    $ember-secondary-foreground-color,
    $ember-secondary-background-color,
    $ember-secondary-foreground-color,
    $ember-secondary-background-color,
    $ember-foreground-color
  );

  a {
    color: $ember-foreground-color;
  }

  .primary-banner {
    position: relative;
    padding: calc(55px + 8rem) 0 4rem 0;
    transition: all ease-out .25s;
    color: $primary-text-color;
    padding: calc(55px + 10rem) 0 4rem 0;

    p {
      font-size: 1.8rem;
      font-weight: 400;
    }

    .icon {
      transition: all ease-out .25s;
      width: unset;
    }

    .background {
      position: absolute;
      top: -10rem;
      right: 0;
      left: 0;
      bottom: 15rem;
      transform: skew(0, -1deg);
      background-color: $ember-secondary-background-color;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
      transition: all ease-out .25s;
    }

    &.scrolled {
      color: $secondary-text-color;

      .icon {
        transition: all ease-out .25s;

        * {
          fill: $secondary-text-color !important;
        }
      }

      .background {
        bottom: 0;
        transform: skew(0, 2deg);
      }
    }
  }

  .content-section {
    &.open-source {
      h2 {
        margin-bottom: 2rem;

        .octicon {
          height: 2rem;
          width: 2rem;
          vertical-align: text-bottom;

          * {
            fill: $primary-text-color;
          }
        }
      }

      .teaser {
        .teaser-image {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
        }
      }
    }

    &.talks {
      .teaser {
        transition: all ease-in-out .15s;
        margin-bottom: 1rem;

        .teaser-image {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
        }

        h5 {
          font-size: .8rem;
          font-weight: bold;
          padding: .5rem 1rem;

          .speaker {
            font-weight: lighter;
            font-style: italic;
          }
        }

        &:hover {
          transform: translateY(-.1rem);
        }
      }
    }

    &.posts {
      padding-top: 0;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
      }

      a {
        text-decoration: none;
        color: $primary-text-color;
        display: block;
        transition: all ease-in-out .15s;

        &:hover {
          transform: translateX(.1rem);
          h4 {
            color: $ember-foreground-color;
          }
        }
      }

      h4 {
        transition: all ease-in-out .15s;
        font-size: 1rem;
      }

      p {
        font-size: .8rem;
      }

      code {
        color: $primary-text-color;
      }

      .col-sm-6 {
        margin-bottom: 2.5rem;
      }

      .post {
        margin-bottom: 2rem;
      }
    }

    
    &.quote {
      blockquote:before {
        color: $ember-foreground-color;
      }
    }
  }

  .case-teaser-small {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    padding: 0;
    width: 100%;
    border-radius: .15rem;
    transition: all ease-in-out .15s;
    border: 1px solid $quaternary-background-color;
    border-bottom: 5px solid $quaternary-background-color;

    &:hover {
      transform: translateY(-.15rem);

      .octicon {
        transform: translatex(.15rem);
      }
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
      display: block;
      padding: 2rem;
    }

    .logo {
      width: 6rem;
      margin-bottom: .5rem;
    }

    .octicon {
      transition: all ease-in-out .15s;
      vertical-align: middle;

      * {
        transition: all ease-in-out .15s;
      }
    }

    &.ember-simple-auth {
      border-bottom-color: #eb4831;

      &:hover {
        .octicon {
          * {
            fill: #eb4831 !important;
          }
        }
      }
    }

    &.ember-test-selectors {
      border-bottom-color: #a0fdcd;

      &:hover {
        .octicon {
          * {
            fill: #a0fdcd !important;
          }
        }
      }
    }

    &.ember-cookies {
      border-bottom-color: #F4ED20;

      &:hover {
        .octicon {
          * {
            fill: #F4ED20 !important;
          }
        }
      }
    }

    &.qunit-dom {
      border-bottom-color: #fa245c;

      &:hover {
        .octicon {
          * {
            fill: #fa245c !important;
          }
        }
      }
    }
  }

  .community-banner {
    position: relative;
    transition: all ease-out .15s;
    padding: 2rem;
    margin-bottom: -2rem;
    z-index: 99;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: skew(0, -1deg);
      background: url("/images/ember-community/emberconf.jpg") left center no-repeat, url("/images/ember-community/tomster.jpg") center center no-repeat, url("/images/ember-community/workshop.jpg") right center no-repeat;
      background-size: contain;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    }

    &:hover {
      transform: translateY(-.1rem);
    }
  }

  .contact-banner {
    .background {
      background-color: $ember-secondary-background-color;
      color: $ember-secondary-foreground-color;
    }

    &:hover {
      .background {
        background-color: darken($ember-secondary-background-color, 5%);
      }
    }

    a {
      color: $ember-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $ember-secondary-foreground-color;
    }
  }

  #footer {
    .section-head {
      color: $ember-foreground-color;
    }

    .simplabs-logo {
      .ball {
        fill: $ember-foreground-color;
      }
    }
  }
}

.tech-teaser-small.ember {
  background: url("/images/icons/hamster.svg") $ember-secondary-background-color right 2rem bottom 2rem no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
  background-size: 35%;
  width: 100%;
  border-radius: .15rem;
  transition: all ease-in-out .15s;
  min-height: 15rem;

  &:hover {
    transform: translateY(-.1rem);
    background-color: darken($ember-secondary-background-color, 5%);
  }

  h4 {
    font-size: 2rem;
  }

  a {
    color: $ember-secondary-foreground-color;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 4rem 2rem;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 50%;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color !important;
    }
  }

  p {
    width: 50%;
  }
}
