body.index {
  .primary-banner {
    height: 80vH;

    .logo {
      height: 12rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  body.index {
    .primary-banner {
      height: 50vH;
    }
  }
}
