body.index {
  @include custom-header(
    $primary-highlight-color,
    $secondary-highlight-color,
    $primary-background-color,
    $ternary-highlight-color,
    $secondary-background-color
  );

  .primary-banner {
    height: calc(100vH - #{$top-spacing} - 2.5rem);
    min-height: 500px;
    background-color: $primary-background-color;
    color: $primary-highlight-color;

    .logo {
      height: 12rem;
      opacity: 0;
      transform: rotate(330deg);
      transition: transform ease-in-out .5s, opacity ease-in-out .5s;

      &.animate {
        opacity: 1;
        transform: rotate(360deg);
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .clients {
    .logo {
      height: 5rem;
      max-width: 12rem;

      * {
        fill: $quaternary-highlight-color;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .primary-banner {
      height: 50vH;
    }
  }
}
