body.index {
  .primary-banner {
    padding: calc(#{$top-spacing} + 6rem) 0 6rem 0;

    .logo {
      height: 12rem;
      opacity: 0;
      transform: rotate(330deg);
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;

      &.animate {
        opacity: 1;
        transform: rotate(360deg);
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .cases {
    h2 {
      a {
        color: $primary-text-color;
      }
    }
  }

  .clients {
    .logo {
      height: 5rem;
      max-width: 12rem;

      * {
        fill: $quaternary-highlight-color;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .clients {
      div:nth-child(1), div:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
}
