body.services {
  .primary-banner {
    background-color: $primary-background-color;

    h1 {
      color: $primary-highlight-color;
    }

    strong {
      background-color: $ternary-background-color;
    }

    .icon path {
      fill: $primary-highlight-color;
    }
  }

  .content-section {
    h2 {
      color: $primary-highlight-color;
    }

    &.highlight {
      background-color: $secondary-background-color;
      color: $secondary-text-color;
    }

    &.service {
      a {
        text-decoration: none;

        p {
          color: $primary-text-color;
        }
      }

      .icon {
        transition: all ease-in-out .15s;

        * {
          fill: $primary-text-color !important;
          transition: all ease-in-out .15s;
        }
      }

      &:hover {
        .icon {
          transform: translateY(-.15rem);

          * {
            fill: $primary-highlight-color !important;
          }
        }
      }
    }
  }

  a.ember {
    color: #fa3a1e;
  }

  a.elixir {
    color: #92369b;
  }
}
