body.services {
  @include custom-color-scheme(
    $secondary-text-color,
    transparent,
    $secondary-text-color,
    $primary-highlight-color,
    $primary-highlight-color
  );

  .primary-banner {
    position: relative;
    background-color: $primary-background-color;
    transition: all ease-out .25s;
    color: $primary-text-color;
    padding: calc(55px + 4rem) 0 4rem 0;

    h1 {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0;
      color: $primary-text-color;

      &:after {
        content: '';
        display: block;
        width: 2rem;
        border-bottom: .25rem solid $primary-highlight-color;
        margin-top: .5rem;
      }
    }

    .icon {
      transition: all ease-out .25s;
      width: unset;

      * {
        fill: $primary-text-color !important;
      }
    }

    .background {
      position: absolute;
      top: -10rem;
      right: 0;
      left: 0;
      bottom: 15rem;
      transform: skew(0, -1deg);
      background-color: $primary-highlight-color;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
      transition: all ease-out .25s;
    }

    &.scrolled {
      color: $secondary-text-color;

      .icon {transition: all ease-out .25s;
        * {
          fill: $secondary-text-color !important;
        }
      }

      .background {
        bottom: 0;
        transform: skew(0, 2deg);
      }
    }
  }

  .content-section {
    h3 {
      font-size: 1.5rem;
    }

    &.service {
      a {
        border-bottom: .15rem solid $primary-highlight-color;
        transition: all ease-in-out .15s;
        font-weight: 400;
        display: inline-block;

        span {
          display: inline-block;
          transition: transform ease-in-out .15s;
        }

        &:hover {
          color: $primary-highlight-color;
          transform: translateY(-.15rem);

          span {
            transform: translateX(.15rem);
          }
        }
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.25rem;
      margin: 0 0 1.5rem 0;
      font-weight: 800;
    }

    a {
      p {
        color: $primary-text-color;
      }

      h2 {
        transition: all ease-in-out .15s;
      }

      .octicon {
        transition: all ease-in-out .15s;

        * {
          transition: all ease-in-out .15s;
        }
      }

      &:hover {
        h2 {
          color: $primary-highlight-color;

          .octicon {
            transform: translateX(.15rem);

            * {
              fill: $primary-highlight-color;
            }
          }
        }
      }
    }

    .icon {
      width: 75%;

      * {
        fill: $primary-text-color !important;
      }
    }

    @include media-breakpoint-down(sm) {
      h2 {
        color: $primary-highlight-color;

        .octicon {
          * {
            fill: $primary-highlight-color;
          }
        }
      }
    }

    &.tech-teasers {
      position: relative;
      padding: 0;
      margin: 4rem 0 0 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: skew(0, -1deg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);

        .background-ember {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 50%;
          background-color: #f53d2b;

          @include media-breakpoint-down(sm) {
            right: 0;
            bottom: 50%;
          }

          &:hover, &.hover {
            background-color: darken(#f53d2b, 5%);
          }
        }

        .background-elixir {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          right: 0;
          background-color: #483159;

          @include media-breakpoint-down(sm) {
            left: 0;
            top: 50%;
          }

          &:hover, &.hover {
            background-color: darken(#483159, 5%);
          }
        }
      }

      .tech-teaser-small {
        box-shadow: none;
        background-color: transparent;

        a {
          color: $secondary-text-color;
        }
      }
    }

    &.case-teaser.timify, &.case-teaser.trainline {
      margin: 6rem 0 4rem 0;
    }
  }
}
