body.services {
  $primary-background-color: $quaternary-background-color;
  $primary-foreground-color: #fff;
  $primary-highlight-color: #007df6;
  $secondary-background-color: #007df6;
  $secondard-foreground-color: #fff;
  $ternary-background-color: #000;

  @include custom-header(
    $primary-foreground-color,
    $primary-background-color,
    $secondard-foreground-color,
    $secondary-background-color
  );

  .primary-banner {
    background-color: $primary-background-color;

    h1 {
      color: $primary-highlight-color;
    }

    strong {
      background-color: $ternary-background-color;
    }

    .icon path {
      fill: $primary-highlight-color;
    }
  }

  .content-section {
    h2 {
      color: $primary-highlight-color;
    }

    &.highlight {
      background-color: $secondary-background-color;
      color: $secondard-foreground-color;
    }

    // TODO: this does not belong here actually!
    &.case.timify {
      background-color: #da2b36;
      color: #fff;
      padding: 2rem 0;

      .logo path {
        fill: $ternary-highlight-color;
      }

      a {
        color: #fff;
      }
    }
  }

  a.ember {
    color: #fa3a1e;
  }

  a.elixir {
    color: #92369b;
  }
}
