body.work {
  .clients {
    .logo {
      height: 5rem;
      max-width: 12rem;
    }
  }

  .content-section.case-teaser.expedition {
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }
}
