body.work {
  @include custom-color-scheme(
    $secondary-text-color,
    transparent,
    $secondary-text-color,
    $primary-highlight-color,
    $primary-highlight-color
  );

  .primary-banner {
    position: relative;
    background-color: $primary-background-color;
    padding: calc(55px + 8rem) 0 4rem 0;
    transition: all ease-out .25s;
    color: $primary-text-color;
    padding: calc(55px + 10rem) 0 4rem 0;

    p {
      font-size: 1.8rem;
      font-weight: 400;
    }

    .icon {
      transition: all ease-out .25s;
      width: unset;

      * {
        fill: $primary-text-color !important;
      }
    }

    .background {
      position: absolute;
      top: -10rem;
      right: 0;
      left: 0;
      bottom: 15rem;
      transform: skew(0, -1deg);
      background-color: $primary-highlight-color;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
      transition: all ease-out .25s;
    }

    &.scrolled {
      color: $secondary-text-color;

      .icon {transition: all ease-out .25s;
        * {
          fill: $secondary-text-color !important;
        }
      }

      .background {
        bottom: 0;
      }
    }
  }

  .clients {
    .logo {
      height: 5rem;
      max-width: 12rem;
    }
  }

  .content-section {
    &.case-teaser {
      margin: 0;
      margin-bottom: -.1rem;
    }
  }
}
