@block layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: ShapeFeatureContent;
  display: grid;
  column-gap: var(--col-gap);
  grid-column: 1/-1;
}

.container {
  display: grid;
  column-gap: var(--col-gap);
  grid-column: 1/-1;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;

  font-size: inherit;
  line-height: inherit;

  color: var(--color-text-inverted);

  grid-column: 2/-2;
  justify-content: flex-end;
}

.img-wrapper {
  display: block;
  margin-top: -20rem;
  margin-bottom: 5rem;
  padding-top: 80%;
  position: relative;

  clip-path: polygon(40% 0, 100% 19%, 100% 87.5%, 60% 100%, 0 87.5%, 0 12.5%);
  -webkit-clip-path: polygon(40% 0, 100% 19%, 100% 87.5%, 60% 100%, 0 87.5%, 0 12.5%);
  grid-column: 2/-2;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  object-fit: cover;
}

@media (max-width: 887px) {
  :scope {
    grid-template-columns: var(--grid-template-columns);
  }

  .container {
    grid-template-columns: var(--grid-template-columns);
  }

  .img-wrapper {
    grid-column: 2/-2;
    margin-left: 0;
    padding-top: 60%;
    clip-path: polygon(40% 0, 100% 25%, 100% 84.5%, 60% 100%, 0 84.5%, 0 16%);
    -webkit-clip-path: polygon(40% 0, 100% 25%, 100% 84.5%, 60% 100%, 0 84.5%, 0 16%);
  }
}

@media (min-width: 888px) {
  :scope {
    grid-column: 2/-2;
    grid-template-columns: var(--grid-content-columns);
  }

  .container {
    grid-template-columns: var(--grid-content-columns);
  }

  .img-wrapper {
    margin-left: -4rem;
    grid-column: 1/4;
  }

  .content {
    grid-column: 4/-1;
    padding: 0 5rem;
  }

  .tagline {
  }
}

@export layout;
