@block containerBlock from "../../styles/blocks/container.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: ShapeDecorative;
  position: relative;
  margin: 0 0 20rem;
  padding: 0;
  grid-column: 1/-1;
  --shape-color: var(--color-accent);
  transform: rotate(30deg);
  min-height: 60rem;
}

:scope[state|hasImage] {}

.container {
  composes: 'containerBlock';
  transform: rotate(-30deg);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom,
.top {
  position: absolute;
  display: block;
  width: 225rem;
  height: auto;
  fill: var(--shape-color);
}

.top-overlay {
  position: absolute;
  right: 0;
  top: 20rem;
}

.content {
  font-size: inherit;
  line-height: inherit;
}

.img {
  display: block;
  width: 95%;
  height: auto;
  margin: auto;
}

.img-wrapper {
}

.top-svg {
  display: block;
  position: relative;
  width: 230rem;
  height: auto;
  margin: -4rem;
}

.bottom-svg {
  display: block;
  position: relative;
  width: 230rem;
  height: auto;
  margin: -4rem;
}

.top-content {
  position: absolute;
  background: var(--shape-color) 90% 100% no-repeat;
  background-size: 123rem auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottom-content {
  position: absolute;
  background: var(--shape-color) 90% 100% no-repeat;
  background-size: 123rem auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-image {
  width: 50%;
  height: 90%;
  margin-left: 50%;
  transform-origin: center;
  background: var(--shape-color) 50% 50% no-repeat;
  background-size: cover;
}

.bottom-image {
  width: 46.5%;
  height: 90%;
  transform-origin: center;
  background: var(--shape-color) 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 887px) {
  :scope {}

  .top {
    left: -155rem;
    top: 0;
  }

  .bottom {
    left: 50rem;
    top: -35rem;
  }
}

@media (min-width: 888px) {
  :scope {}

  .top {
    left: -130rem;
    top: 0;
  }

  .bottom {
    right: -190rem;
    top: 0;
  }
}
