<div>
  <div class="layout.side offset.after-12">
    <blockquote>
      <p>
        “simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.”
      </p>
      <p class="typography.small">
        Andreas Knürr, Timify CEO
      </p>
    </blockquote>
    <ArrowLink @href="/work/">
      View Our Work
    </ArrowLink>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/coding@900.jpg 900w, /assets/images/photos/coding@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="{{this.key}}-across"
  />
</div>