<ShapeAcross @background="#222" @src="/assets/images/team-meeting.jpg" @width="7895" @height="5266">
  <blockquote>
    <p class="typography.body-text">
      “simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.”
    </p>
    <p class="typography.small-text">
      Andreas Knürr, Timify CEO
    </p>
  </blockquote>
  <ArrowLink @href="/work">
    View Our Work
  </ArrowLink>
</ShapeAcross>