<div>
  <Header
    @active="about"
    @title="Why simplabs"
    @documentTitle="Why simplabs – Europe's Leading Web Experts"
    @description="We are known for digital experiences that are clean, dependable, and architected for scale. Our open-source contributions are relied upon by firms like LinkedIn, Heroku, Twitch & more."
  >
    <HeaderContent @label="Why simplabs" @headline="Cutting edge solutions – From Idea to Release">
      <p typography:class="lead">
        We build cutting edge web apps for clients around the world. Our team of experts delivers everything from
        ideation to design and engineering, guiding our clients along the way.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="main" offset:class="after-21">
    <h2>
      Top level expertise
    </h2>
    <p typography:class="lead">
      We deliver all aspects of our clients' projects from strategy to design and engineering. Our cohesive team
      consists of experts in their respective fields that have worked together for years and delivered solutions for
      clients from startups to long-established businesses.
    </p>
    <p typography:class="lead">
      Valuing experience and expertise over location allows us to gather international top talent that will deliver the
      best possible results for our clients. Our distributed team works from locations across Europe for clients around
      the world.
    </p>
    <h3>
      Moving fast without breaking things
    </h3>
    <p>
      We have a passion for technology and value a stable process and tools. We like to move fast without breaking
      things and leverage extensive testing and constant reviews to ensure we deliver high quality results.
    </p>
    <p>
      Our clients are encouraged to take on an active role in projects and we guide them along the way, making sure
      their expectations are met and business requirements are addressed in the most effective way for maximum value.
    </p>
  </div>
  <div layout:class="side" offset:class="after-21">
    <CardTalks />
    <Card @label="Connect" @title="Stay up-to-date with our latest news and updates">
      <ArrowLink @href="https://twitter.com/simplabs">
        Follow simplabs on Twitter
      </ArrowLink>
    </Card>
  </div>
  <div layout:class="side" offset:class="after-16">
    <h3>
      Driving technology forward
    </h3>
    <p>
      We take an active role in the open source projects that we leverage for our clients. Our strong engagement with
      Open Source provides us with first hand knowledge and insights that our clients benefit from.
    </p>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/tutoring@900.jpg 900w, /assets/images/photos/tutoring@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="acrossTutoring"
  />

  <div layout:class="main" offset:class="after-21">
    <h2>
      Sharing
    </h2>
    <h3>
      Keeping the Conversation going
    </h3>
    <p typography:class="lead">
      We strongly believe in the value of sharing our expertise and experience with others and are engaged with various
      conferences and meetups as organizers, speakers and sponsors. Sharing what we do is not only a great learning
      opportunity for ourselves but allows us to stay up to date with the web community's needs and challenges as well.
    </p>
  </div>
  <div layout:class="side" block:class="offset-vertical" offset:class="after-21">
    <Card @label="Conferences" @alt="EmberFest" @src="/assets/images/card/emberfest.svg">
      <p>
        We co-organize EmberFest, the European Community Ember Conference.
      </p>
    </Card>
  </div>
  <div layout:class="side" offset:class="after-21">
    <h3>
      Distributed together
    </h3>
    <p>
      A distributed team allows gathering top talent regardless of location but face to face time is still invaluable.
      We frequently come together for team events and workshops and invite our clients to those as well.
    </p>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/oktoberfest@900.jpg 900w, /assets/images/photos/oktoberfest@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="acrossOktoberfest"
  />

  <WorkWithUs @teamMember="ricardo" />

  <Footer />
</div>