---
layout: default
title: Timify
---

<header class="page-timify">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-timify">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          modern online appointment scheduling
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/timify/timify-logo-white.svg" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/timify/website-preview-1.png" />
      </div>
    </div>
  </div>
</header>

<main>
  {% capture intro_content %}
    <p>Timify is an online appointment scheduling service that connects service providers with clients.</p><p>They have <strong>helped over 17.000 businesses worldwide</strong> make their online appointment scheduling easier and more accessible, allowing them to improve their customer service and spur revenue.</p>
  {% endcapture %}
  <div class="container">
    {% include intro.html content=intro_content %}
  </div><!--container-->

  <div class="container-fluid px-0">
    <div class="row justify-content-end">
      <div class="col-sm-11">
        <div class="bg-light-blue">
          <div class="container">
              <div class="row justify-content-start align-items-center">
                <div class="col-md-5 order-2">
                  <img alt="fullstack" class="mx-auto d-block img-2x" src="../images/timify/website-preview-2.png">
                </div>
                <div class="col-md-6 order-1">
                  <div class="p-5">
                    <h2 class="font-weight-black text-dark-blue mb-4 text-lowercase">Laying a solid foundation</h2>
                    <p class="lead mb-4">
                      After Timify had validated their business model with a prototype built in-house, as the business was growing it became clear the prototype wouldn't be a solid foundation for the future. They needed to re-engineer the entire system, making sure it was based on a solid foundation that would <strong>enable them to iterate fast without sacrificing quality</strong>.
                    </p>
                  </div>
                </div>
              </div>
          </div><!--container-->
        </div><!--bg-light-blue-->
      </div>
    </div>
  </div><!--container-fluid-->

  <div class="container-fluid px-0">
    <div class="row justify-content-start">
      <div class="col-sm-11">
        <div class="bg-light-blue py-5">
          <div class="container">
              <div class="row justify-content-start align-items-center">
                <div class="col-md-5 order-1">
                  <img alt="fullstack" class="mx-auto d-block img-pull img-2x" src="../images/timify/website-preview-3.png">
                </div>
                <div class="col-md-6 order-2">
                  <div class="p-5">
                    <h2 class="font-weight-black text-dark-blue mb-4 text-lowercase">Delivering high quality in time</h2>
                    <p class="lead mb-4">
                      We built the first release version of the application for Timify in 4 months, allowing them to meet
                      their internal deadlines. After the initial release, we joined forces with Timify's in-house
                      engineering team, <strong>teaching best practices</strong> and ensuring modern and idiomatic Ember.js
                      patterns were followed. This way, we were able to ensure long-term success for Timify's in-house
                      team, based on the foundation we had laid.
                    </p>
                  </div>
                </div>
              </div>
          </div><!--container-->
        </div><!--bg-light-blue-->
      </div>
    </div>
  </div><!--container-fluid-->




  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="my-4 font-weight-black text-lowercase">A path into the future</h2>
        <p class="lead mb-4">
          Our technology experts also spearheaded several engineering efforts focused around premium subscriptions
          along with payment system integration, localization of the application in 15 languages and support for
          time zones.
        </p>
      </div><!--col-->
      <div class="col-sm-8">
        <div class="row">

          <div class="col-md-4">
            <div class="flex-column d-flex text-center">
              <div class="icon-circle-sm bg-trainline align-items-center mx-auto">
                <img alt="faster" class="img-fluid d-block mx-auto w-50" src="../images/spearhead/premium-subscriptions.svg"/>
              </div>
              <h4 class="py-4 text-dark">Premium Subscriptions</h4>
            </div><!--section-features-item-->
          </div><!--col-->

          <div class="col-md-4">
            <div class="flex-column d-flex text-center">
              <div class="icon-circle-sm bg-trainline align-items-center mx-auto">
                <img alt="faster" class="img-fluid d-block mx-auto w-50" src="../images/spearhead/payment-integration.svg"/>
              </div>
              <h4 class="py-4 text-dark">Payment Integration</h4>
            </div><!--section-features-item-->
          </div><!--col-->

          <div class="col-md-4">
            <div class="flex-column d-flex text-center">
              <div class="icon-circle-sm bg-trainline align-items-center mx-auto">
                <img alt="faster" class="img-fluid d-block mx-auto w-50" src="../images/spearhead/application-localization.svg"/>
              </div>
              <h4 class="py-4 text-dark">Application Localization</h4>
            </div><!--section-features-item-->
          </div><!--col-->

        </div><!--row-->


      </div><!--col-->
    </div><!--row-->
  </div><!--container-->


  <div class="container container-quote container-quote-timify">
    <div class="row row-quote">
      <div class="col col-quote">
        <div class="quote">
          <p class="quote-text">
            simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.
          </p>

          <p class="quote-author">
            Andreas Knürr, Timify CEO
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-start mb-5">
      <div class="col-sm-10">
        <h2 class="display-4 font-weight-black text-lowercase mb-4">Building on a modern stack</h2>
        <div class="row">
          <div class="col-sm-6">
            <p class="lead">
              Ember.js proved to be the right technology choice for an ambitious application like Timify that was built to last for years. The baked in conventions enable larger teams and applications to <strong>move fast without breaking things</strong>.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="lead">
              Leveraging modern web technologies like SVG for the main calendar view, we were able to achieve decent runtime performance even for large data sets. The JSON API based server API allowed us to implement the client and server side of a feature concurrently.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!--container-->


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h2 class="display-4 font-weight-black text-lowercase mb-4">Our Expertise</h2>
        <p class="lead mb-4">We develop deep expertise in the tools that we specialize in and take an active role in the communities.</p>
      </div>
      <div class="col-sm-6">
        {% capture expertise_card_description--ember %}
          <p>We are Europe's leading Ember experts withe people involved in Ember.js core teams like Ember CLI and Ember Learning.</p><p>We have been hosting and supporting several Ember.js meetups and co-organize EmberFest, the european Ember community conference.</p>
        {% endcapture %}

        {% include expertise_card.html
          expertise="ember" title="Ember.js" description=expertise_card_description--ember
        %}
      </div>
    </div>
  </div><!--container-->

  {% include contact_banner.html %}
</main>

<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./../node_modules/jquery-match-height/dist/jquery.matchHeight-min.js"></script>

<script type="text/javascript">
  $(function() {
    $('.card-expertise').matchHeight();
  });
</script>