<div>
  <div layout:class="side" offset:class="after-12-atlarge">
    <p typography:class="small">
      Expertise
    </p>
    <h3 offset:class="before-none">
      We are Europe’s Leading Ember Experts
    </h3>
    <ArrowLink @href="/expertise/ember/">
      Learn More
    </ArrowLink>
  </div>
  <ShapeAcross
    @color="#E15D44"
    @background="#222"
    @srcset="/assets/images/photos/marco@900.jpg 900w, /assets/images/photos/marco@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="{{this.key}}-across"
  />
</div>