<div>
  <div class="layout.side offset.after-12-atlarge">
    <p class="typography.small">
      Expertise
    </p>
    <h3 class="offset.before-none">
      We are Europe’s Leading Ember Experts
    </h3>
    <ArrowLink @href="/expertise/ember/">
      Learn More
    </ArrowLink>
  </div>
  <ShapeAcross @color="#E15D44" @background="#222" @src="/assets/images/photos/marco.jpg" />
</div>