<div>
  <div header-content:scope header-content:attachment="image">
    <div header-content:class="container">
      <div header-content:class="content">
        <h1 typography:class="display">
          <small typography:class="small">
            The simplabs playbook
            <span typography:class="hidden">
              :
            </span>
          </small>
          Let's talk about the sustainable approach for your team
        </h1>
        <p typography:class="lead" offset:class="after-5">
          Sustainable growth can seem complex or reserved for the exceptional, but we believe it is for everyone. Our
          Playbook shares practical and actionable insights to help you build digital products while running an
          effective, collaborative product development process.
        </p>
        <a href="/playbook" button:scope data-internal offset:class="after-5">
          Read the Playbook
        </a>
      </div>
      <div block:class="sidebar">
        <div header-content:class="image-wrapper" block:class="image-wrapper">
          <img src="/assets/images/resources/map.svg" header-content:class="image" block:class="image" alt="" />
        </div>
        <div header-content:class="background">
          <div header-content:class="top"></div>
          <div header-content:class="middle"></div>
          <div header-content:class="bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <div block:class="background-bottom"></div>
</div>