@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left from "../../styles/blocks/shape/shape-left.block.css";
@block shape-decoration from "../../styles/blocks/shape/shape-decoration.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: breethe-thumb;
}

.breethe-left-background {
  background-color: resolve("shape-left.background");
  background-color: #007DF6;
  background-image: url("/assets/images/sky.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;  
  background-blend-mode: soft-light;
}

.breethe-right-background {
  background-color: resolve("shape-decoration.background");
  background-color: #007DF6;
}
