<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          a modern UI for an open-source router firmware
        </h1>
        <p class="typography.lead">
          simplabs’ expertise in developing Ember.js based applications helped us significantly to define and develop
          the new DD-WRT NXT user experience. It was impressive to see in what short time such a complex application
          leveraging a customer backend interface could be implemented. simplabs' work did provide the new foundation
          for our UI and our in-house development team greatly benefitted from their know how.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  Accommodating a special environment
                </h3>
                <p class="typography.body-text">
                  Shipping a single page app bundled with a router firmware is substantially different from serving it
                  via the open web.
                </p>
                <p class="typography.body-text">
                  The first step for us was to understand the characteristic aspects of the
                  environment, like limited hardware capabilities and slow update cycles. We then came up with an
                  approach for the project based on Ember.js that was tailored to the particular requirements and
                  limitations of the use case.
                </p>
                <div class="main-block.body-image">
                  <img class="fluid-image.image" src="/assets/images/trainline-comp.jpg" />
                  <p class="main-block.body-image-caption">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>
                <!--body-image-->
              </div>
            </div>
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  The Solution
                </h3>
                <p class="typography.body-text">
                  We completed the prototype implementation of the architecture in just over 6 weeks, defining the
                  structure for the application and establishing good Ember.js patterns. That prototype laid the
                  foundation for subsequent engineering efforts taken on by embeDD's in-house engineering team.
                </p>
                <a class="typography.arrow-link" href="#" data-internal>
                  Learn More
                </a>
              </div>
              <!--section-item-->
            </div>
            <!--section-->
          </div>
        </div>
        <!--main-block.content-->
        <div class="main-block.sidebar">
          <div class="card">
            <p class="typography.small-text">
              Client
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/trainline-card.png" />
            </div>
            <h3 class="card.sub-heading">
              Trainline
            </h3>
            <p class="card.text">
              Trainline is Europe's leading independent rail and coach platform. They sell tickets to customers
              worldwide, enabling more than 125,000 journeys every single day in and across 36 countries, covering 150
              different carriers.
            </p>
          </div>
          <!--card-->
          <div class="card">
            <p class="typography.small-text">
              Our Expertise
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/ember-card.png" />
            </div>
            <h3 class="card.sub-heading">
              Ember.js
            </h3>
            <p class="card.text">
              We value conventions-based frameworks that result in maintainable and well-defined projects which are easy
              to take over by our clients once we've left.
            </p>
            <a class="typography.arrow-link" href="#" data-internal>
              Learn More
            </a>
          </div>
          <!--card-->
        </div>
        <!--sidebar-->
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <BreetheCaseThumb />
    </div>
    <!--container-->
    <div class="container">
      <WorkWithUs />
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
</div>