@block hex from "./hex.block.css";

:scope {
	block-name: hex-decoration-trailing;
	extends: hex;

	position: absolute;
	top: -12rem;
	right: 0;
	left: 0;
	background: rgba(255,0,0,0.1);
}

.shape {
	transform: translate(25%);
}

.inner {
	justify-content: flex-start;
}
