<form action="{{@action}}" method="post" target="_blank">
  <input
    block:class="input"
    type="email"
    value=""
    name="EMAIL"
    id="mce-EMAIL"
    placeholder="Email"
    autocomplete="email"
    required
  />
  <button button:scope block:class="button" type="submit">
    {{@submit}}
  </button>
</form>