<div>
  <div class="contents">
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">
          <img class="image-fluid" src="assets/images/neu.svg" />
        </div>
        <div class="navbar-nav">
          <div class="navbar-nav-item">
            <a href="#">
              Services
            </a>
          </div>
        </div>
      </div>
      <!--navbar-->
      <div class="header-block">
        <h1 class="display">
          A mobile train ticket counter
        </h1>
        <p class="lead">
          simplabs worked closely with Trainline’s in-house engineering team and built a mobile web app to accompany the existing desktop app. A dedicated site for mobile devices allowed Trainline to better serve customers on the go and leverage the full market potential.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  Sustainable added value
                </h3>
                <p class="body-text">
                  We established modern and idiomatic practices for developing mobile apps and helped Trainline's in-house engineering team internalize those through code reviews.
                </p>
                <p class="body-text">
                  In addition to supporting Trainline with engineering resources and expertise, we were able to help improve the engineering process by establishing and solidifying a sprint based approach. This resulted in more efficient prioritization and a better sense of progress by both engineers and management.
                </p>
              </div>
            </div>
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="sub-heading">
                  A path into the future
                </h3>
                <p class="body-text">
                  Besides working on the core application, simplabs spearheaded several engineering efforts focused around mobile performance, improved load times, server side rendering and localization.
                </p>
                <a class="block-link" href="#">
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--main-block.content-->
        <div class="main-block.sidebar">
          <p class="small-text">
            Client
          </p>
          <div class="card">
            <div class="card-image">
              <img class="image-fluid" src="assets/images/trainline-card.png" />
            </div>
            <h3 class="card-sub-heading">
              Trainline
            </h3>
            <p class="body-text">
              Trainline is Europe's leading independent rail and coach platform. They sell tickets to customers worldwide, enabling more than 125,000 journeys every single day in and across 36 countries, covering 150 different carriers.
            </p>
          </div>
        </div>
      </div>
      <!--main-block-->
    </div>
    <!--container-->
    <div class="container">
      <div class="shape-block">
        <div class="shape-left">
          <div class="shape-left-bg">
            <div class="shape-left-content">
              <div class="shape-content-image">
                <img class="image-fluid" src="assets/images/breethe-comp.png" />
              </div>
            </div>
          </div>
          <!--shape--left-bg-->
        </div>
        <div class="shape-center">
          <div class="shape-center-content">
            <p class="small-text">
              Keep Reading
            </p>
            <h3 class="sub-heading">
              Air quality data for locations around the world
            </h3>
            <a class="block-link" href="#">
              Read Case Study
            </a>
          </div>
        </div>
        <div class="shape-right">
          <div class="shape-right-bg"></div>
        </div>
      </div>
      <!--shape-block-->
    </div>
    <!--container-->
    <div class="container">
      <WorkWithUs />
    </div>
    <div class="container">
      Footer
    </div>
  </div>
</div>
