<div>
  <Header
    @active="services"
    @title="Services"
    @documentTitle="Digital Product Delivery | Our Services"
    @description="Our team of experts delivers everything from ideation to design and engineering. We can turn any idea sketched on the back of a napkin into a stable, shipped product."
    @backgroundVariation="inclined"
  >
    <HeaderContent
      @label="Digital Products"
      @headline="Turning your visionary ideas into shipped products"
      @attachment="blue-ribbon"
      @srcset="/assets/images/photos/trainline-comp@604.jpg 604w, /assets/images/photos/trainline-comp@1208.jpg 1208w"
      @sizes="(max-width: 887px) 604px, 1208px"
    >
      <p typography:class="lead">
        Today, the influence of software and technology on our everyday lives is bigger than ever. Whether it’s a
        corporate venture or an ambitious founder, modern companies need true excellence in developing state-of-the-art
        digital experiences, to deliver on their ambitions.
      </p>
      <p typography:class="lead" offset:class="after-3">
        simplabs is a reliable partner to transform ideas from a rough outline into a final, shipped product.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-12">
    <h3 typography:class="h3">
      <small typography:class="small">
        Product Strategy
      </small>
      Rapid explorations, research and validation
    </h3>
    <p typography:class="lead" offset:class="after-5">
      Great products are born out of a deep understanding of user needs and market demands. Product strategy sprints
      turn assumptions into evidence and visionary ideas into focused, validated product concepts. Strategic clarity
      leads to building best-in-class products.
    </p>
  </div>
  <div layout:class="bleed-left" offset:class="after-16">
    <ShapeImage
      @srcset="/assets/images/photos/sketching@600.jpg 600w, /assets/images/photos/sketching@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing" offset:class="after-21">
    <ul list:class="vertical">
      <li list:class="vertical-item">
        Market validation
      </li>
      <li list:class="vertical-item">
        Idea extraction & strategy
      </li>
      <li list:class="vertical-item">
        Validate essential assumptions
      </li>
      <li list:class="vertical-item">
        Groom the product roadmap
      </li>
      <li list:class="vertical-item">
        Define product principles
      </li>
      <li list:class="vertical-item">
        Separate MVPs and follow-on improvements
      </li>
    </ul>
    <ArrowLink @href="/playbook/">
      Learn how we work
    </ArrowLink>
  </div>
  <div layout:class="full" offset:class="after-12">
    <h3 typography:class="h3">
      <small typography:class="small">
        Product Design
      </small>
      Design experiences that users love
    </h3>
    <p typography:class="lead" offset:class="after-5">
      Great product design combined with outspoken aesthetic elements will make your new digital product remarkable and
      unique, as well as drive activation and engagement. Great user experiences can position your product uniquely in
      the market, and win both raving fans and loyal audiences.
    </p>
  </div>
  <div layout:class="split-leading" offset:class="after-16">
    <ul list:class="vertical">
      <li list:class="vertical-item">
        Wireframing & prototyping
      </li>
      <li list:class="vertical-item">
        Delight users with great UX
      </li>
      <li list:class="vertical-item">
        Clean aesthetics
      </li>
      <li list:class="vertical-item">
        Overcome complex design problems
      </li>
      <li list:class="vertical-item">
        Develop a consistent design system
      </li>
      <li list:class="vertical-item">
        Extreme attention to detail
      </li>
    </ul>
    <ArrowLink @href="/services/product-design/">
      Explore our design process
    </ArrowLink>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/ui-sketching@600.jpg 600w, /assets/images/photos/ui-sketching@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <div layout:class="full" offset:class="after-12">
    <h3 typography:class="h3">
      <small typography:class="small">
        Product Development
      </small>
      Engineered to impeccable standards
    </h3>
    <p typography:class="lead" offset:class="after-5">
      Involve our senior engineers to quickly establish all required functionalities for your app. Engineering is our
      true passion, and unmistakable in every product we deliver.
    </p>
  </div>
  <div layout:class="bleed-left" offset:class="after-16">
    <ShapeImage
      @srcset="/assets/images/photos/team-coding@600.jpg 600w, /assets/images/photos/team-coding@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing" offset:class="after-21">
    <ul list:class="vertical">
      <li list:class="vertical-item">
        Full-stack development
      </li>
      <li list:class="vertical-item">
        World-class engineering quality
      </li>
      <li list:class="vertical-item">
        Robust, reliable, secure code
      </li>
      <li list:class="vertical-item">
        Architected for the future
      </li>
      <li list:class="vertical-item">
        Modern process best practices
      </li>
      <li list:class="vertical-item">
        Our promise of excellence
      </li>
    </ul>
    <ArrowLink @href="/services/product-development/">
      Learn about bespoke development
    </ArrowLink>
  </div>
  <WorkWithUs @teamMember="florian" />
  <Footer />
</div>