<div>
  <Header
    @active="services"
    @title="Services"
    @documentTitle="Digital Products"
    @description="Our team of experts delivers everything from ideation to design and engineering. We can turn any idea sketched on the back of a napkin into a final, shipped product."
  >
    <HeaderContent @label="Digital Products" @headline="Turning your visionary ideas into a shipped products">
      <p class="typography.lead">
        Today, the influence of software and technology on our everyday lives is bigger that ever. Whether it’s a corporate venture or an ambitious founder, modern companies need true excellence in developing state-of-the-art digital experiences, to deliver on their ambitions.
      </p>
      <p class="typography.lead">
        simplabs is a reliable partner to transform ideas from a rough outline into a final, shipped product.
      </p>
    </HeaderContent>
  </Header>
  <div class="layout.full offset.after-12">
    <h3 class="typography.h3">
      <small class="typography.small">
        Product Strategy
      </small>
      Rapid explorations, research and validation
    </h3>
    <p class="typography.lead offset.after-5">
      Great products are born out of a deep understanding of user needs and market demands. Product strategy sprints turn assumptions into evidence and visionary ideas into focused, validated product concepts. Strategic clarity lead to building best-in-class products.
    </p>
    <ul>
      <li>
        Wireframing & prototyping
      </li>
      <li>
        Delight users with great UX
      </li>
      <li>
        Clean aesthetics
      </li>
      <li>
        Overcome complex design problems
      </li>
      <li>
        Develop a consistent design system
      </li>
      <li>
        Extreme attention to detail
      </li>
    </ul>
  </div>
  <div class="layout.full offset.after-12">
    <h3 class="typography.h3">
      <small class="typography.small">
        Product Design
      </small>
      Design experiences that users love
    </h3>
    <p class="typography.lead offset.after-5">
      Great product design combined with outspoken aesthetic elements will make your new digital product remarkable and unique, as well as drive activation and engagement. Great user experiences can position your product uniquely in the market, and win both raving fans and loyal audiences.
    </p>
    <ul>
      <li>
        Wireframing & prototyping
      </li>
      <li>
        Delight users with great UX
      </li>
      <li>
        Clean aesthetics
      </li>
      <li>
        Overcome complex design problems
      </li>
      <li>
        Develop a consistent design system
      </li>
      <li>
        Extreme attention to detail
      </li>
    </ul>
    {{! TODO: fix link once target page exists! }}
    <ArrowLink @href="/">
      Explore our design process
    </ArrowLink>
  </div>
  <div class="layout.full offset.after-12">
    <h3 class="typography.h3">
      <small class="typography.small">
        Product Development
      </small>
      Engineered to impeccable standards
    </h3>
    <p class="typography.lead offset.after-5">
      Involve our senior engineers to quickly establish all required functionalities for your app. Engineering is our true passion, and unmistakable in every product we deliver.
    </p>
    <ul>
      <li>
        Full-stack development
      </li>
      <li>
        World-class engineering quality
      </li>
      <li>
        Robust, reliable, secure code
      </li>
      <li>
        Architected for the future
      </li>
      <li>
        Modern process best practices
      </li>
      <li>
        Our promise of excellence
      </li>
    </ul>
    {{! TODO: fix link once target page exists! }}
    <ArrowLink @href="/">
      Learn about bespoke development
    </ArrowLink>
  </div>
  <WorkWithUs />
  <Footer />
</div>