@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block header-block from "../../styles/blocks/header-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block card from "../../styles/blocks/card.block.css";
@block table from "../../styles/blocks/table.block.css";

:scope {
  block-name: Article;
  extends: screen;
}

.author-image {

}

.logo {
  max-width: 10rem;
  padding: 1em 0;
  display: block;
}
