<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    {% include nav.html %}

    <div id="main-content">
      <div class="top-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2>simplabs Blog</h2>
              <p>TODO</p>
          	</div>
          </div>
        </div>
      </div>

      <div class="container article" id="main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row content-section separated">
              <div class="col-md-12">
                <h3>{{page.title}}</h3>
                {{page.content}}
                <p class="article-meta">
                  <span class="date">{{page.date | date: '%B %d, %Y'}}</span>
                  <span class="author pull-right">
                    {{page.author | upcase}}

                    {% if page.github-handle %}
                      <a href="http://github.com/{{page.github-handle}}">
                        <i class="fa fa-github"></i>
                      </a>
                    {% endif %}

                    {% if page.twitter-handle %}
                      <a href="http://twitter.com/{{page.twitter-handle}}">
                        <i class="fa fa-twitter"></i>
                      </a>
                    {% endif %}
                  </span>
                </p>
              </div>
            </div>
            <div class="row content-section">
              <div class="col-md-12">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  var disqus_shortname = 'simplabscom-log';
                  (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      {% include contact_banner.html %}
    </div>

   {% include footer.html %}

   {% include analytics.html %}
	</body>
</html>