<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="page-article">
  {% include nav.html %}
  <header>
    <div class="jumbotron jumbotron-fluid jumbotron-fluid-article">
      <div class="container container-jumbotron">
        <div class="jumbotron-header-wrapper">
          <h1 class="jumbotron-header">
            {{page.title}}
          </h1>
        </div>
      </div>

      <div class="jumbotron-background">
        <div class="jumbotron-background-item jumbotron-background-item-primary">
          <img alt="Image" class="img-fluid jumbotron-background-item-image" src="/images/jumbotron/jumbotron-background-item.png" />
        </div>
        <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
        <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
        <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="article">
            <div class="article-content">

              <div class="article-section mb-4">
                {{page.content}}
              </div>

              <div class="d-flex align-items-center mt-4">
                <div class="img-circle-lg mr-2">
                  <img alt="Image" class="{{page.author | split: ' ' | first | downcase}} img-fluid" src="/images/authors/{{page.author | split: ' ' | first | downcase}}@2x.jpg" />
                </div>

                <div class="ml-2">
                  <div class="font-weight-bold text-dark h4 align-middle d-flex align-items-center">
                    <div class="mr-2">{{page.author | upcase}}</div>
                    <div class="text-nowrap">
                      {% if page.twitter-handle %}
                      <a class="article-info-link" href="http://twitter.com/{{page.twitter-handle}}">
                        <img alt="Twitter Icon" src="/images/icons/twitter.svg" />
                      </a>
                      {% endif %}

                      {% if page.github-handle %}
                      <a class="article-info-link" href="http://github.com/{{page.github-handle}}">
                        <img alt="GitHub Icon" src="/images/icons/github.svg" />
                      </a>
                      {% endif %}
                    </div>

                  </div>

                  <div class="small text-muted">
                    {{page.date | date: '%B %d, %Y'}}
                  </div>
                </div>

              </div><!--article-info-->
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

{% include footer.html %}

{% include analytics.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

</html>