<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    {% include nav.html %}

    <div id="main-content">
      {% include blog_header.html %}

      <div class="container" id="main-section">
        <div class="row">
          <div class="col col-lg-10 offset-lg-1">
            <div class="row content-section separated article">
              <div class="col">
                <div class="article-meta">
                  <span class="date">{{page.date | date: '%B %d, %Y'}}</span>
                </div>
                <h3>{{page.title}}</h3>
                {{page.content}}
              </div>
            </div>
            <div class="row content-section separated">
              <div class="col">
                <p class="author">
                  <i class="{{page.author | split: ' ' | first | downcase}} rounded-circle author"></i>
                  <span class="author">
                    {{page.author | upcase}}
                  </span>

                  {% if page.github-handle %}
                    <a href="http://github.com/{{page.github-handle}}">
                      <i class="fa fa-github"></i>
                    </a>
                  {% endif %}

                  {% if page.twitter-handle %}
                    <a href="http://twitter.com/{{page.twitter-handle}}">
                      <i class="fa fa-twitter"></i>
                    </a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="comment-section">
        <div class="row">
          <div class="col col-lg-10 offset-lg-1">
            <div class="row content-section">
              <div class="col-sm-10 offset-sm-1 col-xs-12">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  var disqus_shortname = 'simplabscom-log';
                  (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      {% include contact_banner.html %}
    </div>

    {% include footer.html %}

    {% include analytics.html %}
      
	</body>
</html>
