<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    {% include nav.html %}

    <div class="primary-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <h2>{{page.title}}</h2>
            <p><strong>{{page.excerpt}}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content">
      <div class="container" id="main-section">
        <div class="row">
          <div class="col-sm-12 case">
            {{page.content}}
          </div>
        </div>
      </div>
    </div>

    {% include contact_banner.html %}

    {% include footer.html %}

    {% include analytics.html %}
	</body>
</html>