<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="simplabs builds solutions for the web and mobile devices"/>
  	<meta name="keywords" content="ruby, rails, javascript, ember, software engineering, rest apis, consulting, software architecture, software design, training, ruby on rails training, ember.js training" />
		<meta name="language" content="en"/>
		<meta name="content-language" content="en"/>
		<meta name="publisher" content="simplabs" />
    <title>simplabs{{page.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/simplabs.ico?v=2" />
    <link rel="apple-touch-icon" href="/images/apple-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-144.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,400">
    <link rel="stylesheet" href="/css/basic_layout.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	<body>
    <nav id="main-menu" class="navbar navbar-static-top" role="navigation">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>    
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-left"><a class="navbar-brand" href="index">
              <img src="/images/logo.png" srcset="/images/logo.png 2x"></a>
            </li>
            <li class ="active"><a href="/services">Services</a></li>
            <li><a href="/process">Process</a></li>
            <li><a href="/cases">Cases</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="navbar-right"><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
    </div>
    </nav>

    <div id="main-content">
      {{content}}
    </div>

   <nav id= "footer" class="navbar" role="navigation">
      <div>
        <div class="container">
          <div class="navbar-left" id="footer-logo">
            <p class="navbar-text">&copy; 2015</p>
            <i></i>
          </div>
          <ul class="nav navbar-nav nav-justified navbar-right">
            <li><a href="https://simplabs.de">deutsch</a></li>
            <li><a href="/imprint">Imprint</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="http://log.simplabs.com">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53237918-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
	</body>
</html>
