<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>simplabs.com</title>
    <meta name="viewport" content="width=device-width">
		<meta name="description" content="Software Engineering with Ruby on Rails, iOS, JavaScript and HTML5."/>
  	<meta name="keywords" content="ruby, rails, javascript, software engineering, consulting, software architecture, software design, freelancer, consultant, freiberufler, nosql" />
		<meta name="language" content="en"/>
		<meta name="content-language" content="en"/>
		<meta name="publisher" content="Marco Otte-Witte" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/simplabs.ico" />
	</head>
	<body>
    <div id="main">
      <div id="content">
        <div id="content-head">
          <h2><span>simple web Engineering</span></h2>
        </div>
        <div id="content-body">
          <div class="logo">
            <a href="/" title="simplabs.com - home"><img src="/images/header-logo.png" alt="Logo simplabs.com" title="Simplabs" /></a>
            <div class="blocker">&nbsp;</div>
          </div>
          <ul class="menu">
            <li><a href="#about" id="menu-about">About</a></li>
            <li><a href="#open-source" id="menu-open-source">Open Source</a></li>
            <li><a href="#clients" id="menu-clients">Clients</a></li>
            <li><a href="#contact" id="menu-contact">Contact</a></li>
            <li><a href="http://log.simplabs.com">Blog</a></li>
          </ul>
          <div id="main-content">
            <div class="sections">
              {{ content }}
            </div>
          </div>
          <div class="blocker">&nbsp;</div>
        </div>
      </div>
      <div id="footer">
        <a href="#imprint" title="Imprint" id="imprint-link">Imprint</a>
        <div id="imprint" style="display: none;">
          <h3>Publisher information according to §6 Teledienstgesetz (TDG)</h3>
          <p>
            <strong>Responsible according to §6 MDStV: Marco Otte-Witte</strong>
          </p>
          <address class="adr">Marco Otte-Witte, <span class="street-address">Fraunhoferstr. 9</span>, <span class="postal-code">80469</span> <span class="locality">München</span>, <span class="country-name">Germany</span></address>
          <h4>Exclusion of Liability</h4>
          <p>
            I check and update the information on this website constantly. Despite all accurateness, the data can change in the meantime. <strong>Liability concerning timeliness, correctness and completeness of the available information can not be assumed</strong>. This applies also for all other websites which are referred via hyperlink. I am not responsible for the content of these websites.
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51f3a340613f5d4e64000084');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
	</body>
</html>
