<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
		<meta name="description" content="Web Development with Ruby on Rails, NoSQL, JavaScript and HTML5."/>
  	<meta name="keywords" content=".net, c#, ruby, rails, javascript, software engineering, consulting, software architecture, software design, freelancer, consultant, freiberufler" />
		<meta name="language" content="en"/>
		<meta name="content-language" content="en"/>
		<meta name="publisher" content="Marco Otte-Witte" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/simplabs.ico" />
	</head>
	<body>
    <div id="main">
      <div id="head">
        <h1>simplabs.com</h1>
      </div>
      <div id="content">
        <div id="contentHead">
          <h2><span>simple web Engineering</span></h2>
        </div>
        <div id="contentBody">
          <div class="logo">
            <a href="/" title="simplabs.com - home"><img src="/images/header-logo.png" alt="Logo simplabs.com" title="Simplabs" /></a>
            <div class="blocker">&nbsp;</div>
          </div>
          <ul class="menu">
            <li><a href="#about" id="menu-about">About</a></li>
            <li><a href="#open-source" id="menu-open-source">Open Source</a></li>
            <li><a href="#talks" id="menu-talks">Talks</a></li>
            <li><a href="#clients" id="menu-clients">Clients</a></li>
            <li><a href="#contact" id="menu-contact">Contact</a></li>
          </ul>
          <div id="mainContent">
            <div class="sections">
              <div id="about" class="section">
                <div>
                  <h2>About</h2>
                  <h3>Web Developer</h3>
                  <p>
                    I'm a software engineer with a focus on <strong>web development with Ruby on Rails</strong>. I also work with <strong>NoSQL</strong> datastores and client technologies like <strong>JavaScript and HTML5</strong>.
                  </p>
                  <h3>Entrepreneur</h3>
                  <p>
                    I'm always open for new ideas to start something fresh on the web. So <strong>if you have a great idea</strong> and need an experienced partner to get it started, <a href="#contact" title="Contact">let me know</a>!
                  </p>
                  <h3>Open Source</h3>
                  <p>
                    At times I'm working on <strong>open source projects</strong> like <a href="http://simplabs.github.com/highlight" title="Highlight at github">Highlight</a>, <a href="http://github.com/saulabs/reportable" title="Reportable at github">Reportable</a> or <a href="http://simplabs.github.com/excellent" title="Excellent">Excellent</a>. <a href="#open-source" title="Open Source">Go check them out</a>.
                  </p>
                </div>
              </div>
              <div id="open-source" class="section">
                <div>
                  <h2>Open Source</h2>
                  <h3>
                    Highlight
                    <a class="get" href="http://github.com/simplabs/highlight" title="Highlight source on github">Source</a>
                    <a class="bugs" href="http://github.com/simplabs/highlight/issues" title="Report issues for Highlight at github!">Issues</a>
                  </h3>
                  <p>
                    Highlight is a plugin for Ruby on Rails that <strong>provides syntax highlighting for source code in more than 30 languages</strong>.
                  </p>
                  <h3>
                    Excellent
                    <a class="get" href="http://github.com/simplabs/excellent" title="Excellent source on github">Source</a>
                    <a class="bugs" href="http://github.com/simplabs/excellent/issues" title="Report issues for Excellent at github!">Issues</a>
                  </h3>
                  <p>
                    Excellent is a <strong>source code analysis gem for Ruby</strong> that combines <a href="http://github.com/martinjandrews/roodi" title="roodi at github">roodi</a>, <a href="http://github.com/kevinrutherford/reek" title="reek at github">reek</a> and <a href="http://github.com/seattlerb/flog" title="flog at github">flog</a> and also adds some <strong><a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a> specific checks</strong>.
                  </p>
                  <h3>
                    Reportable
                    <a class="get" href="http://github.com/saulabs/reportable" title="Reportable source on github">Source</a>
                    <a class="bugs" href="http://github.com/saulabs/reportable/issues" title="Report issues for Reportable at github!">Issues</a>
                  </h3>
                  <p>
                    Reportable is a plugin for Ruby on Rails that enables you to <strong>generate reports and sparklines from your models</strong> with just one line of code.
                  </p>
                  <h3>
                    Melbourne
                    <a class="get" href="http://github.com/simplabs/melbourne" title="Melbourne source on github">Source</a>
                    <a class="bugs" href="http://github.com/simplabs/melbourne/issues" title="Report issues for Melbourne at github!">Issues</a>
                  </h3>
                  <p>
                    Melbourne is an extraction of <a href="http://rubini.us/" title="Rubinius - Use Ruby">Rubinius'</a> parser component into a standalone gem. It can be user to <strong>generate Abstract Syntax Trees</strong> from arbitrary Ruby code.
                  </p>
                  <h3>
                    Glider
                    <a class="get" href="http://github.com/simplabs/glider" title="Glider source on github">Source</a>
                    <a class="bugs" href="http://github.com/simplabs/glider/issues" title="Report issues for Glider at github!">Issues</a>
                  </h3>
                  <p>
                    Glider is a <strong>simple Javascript content glider</strong> based on <a href="http://www.prototypejs.org/" title="prototype JavaScript framework">prototype</a> and <a href="http://script.aculo.us/" title="script.aculo.us - web 2.0 javascript">script.aculo.us</a>. You can see it in action on simplabs.com (<a href="#about" title="Glider example">just click here or in the top menu</a>).
                  </p>
                </div>
              </div>
              <div id="talks" class="section">
                <div>
                  <h2>Talks</h2>
                  <h3>
                    Rails is not just Ruby
                    <a class="slides" href="http://www.slideshare.net/marcoow/rails-is-not-just-ruby" title="The slides on slideshare.net">Slides</a>
                    <a class="demo" href="http://github.com/marcoow/js-and-rails" title="The Demo Project at github">Demo Project</a>
                  </h3>
                  <p>
                    A talk on Rails and JavaScript and how JavaScript should be written, structured, separated from the HTML etc.
                  </p>
                  <h3>
                    RSpec
                    <a class="slides" href="http://www.slideshare.net/marcoow/rspec" title="The slides on slideshare.net">Slides</a>
                    <a class="video" href="http://vimeo.com/9016194" title="Video of the RSpec talk on Vimeo (german)">Video</a>
                  </h3>
                  <p>
                    A general talk about <a href="http://rspec.info/" title="RSpec">RSpec</a> and <a href="http://cukes.info/" title="Cucumber">Cucumber</a> I gave at the <a href="http://munich-on-rails.com" title="Munich on Rails">Munich on Rails</a> meeting in 2009 (german only).
                  </p>
                  <h3>
                    Excellent gem
                    <a class="slides" href="http://www.slideshare.net/marcoow/excellent-2173489" title="The slides on slideshare.net">Slides</a>
                  </h3>
                  <p>
                    A short introductory talk on my <a href="http://simplabs.github.com/excellent/" title="Excellent at github">Ruby source code analysis gem Excellent</a> I gave at a <a href="http://munich-on-rails.com" title="Munich on Rails">Munich on Rails</a> meeting in 2009.
                  </p>
                </div>
              </div>
              <div id="clients" class="section">
                <div>
                  <h2>Clients</h2>
                  <h3>Clients</h3>
                  <ul class="clients">
                    <li><a href="http://www.skatstube.de" title="Skatstube GmbH" class="veryImportant">Skatstube</a></li>
                    <li><a href="http://vanteno.de" title="Vanteno GmbH">Vanteno</a></li>
                    <li><a href="http://www.businesslive.de" title="BusinessLive GmbH" class="veryImportant">BusinessLive</a></li>
                    <li><a href="http://www.munichre.com"  title="Munich Re AG" class="important">Munich Re</a></li>
                    <li><a href="http://pointoo.de" title="pointoo GmbH" class="important">pointoo</a></li>
                    <li><a href="http://medikompass.de"  title="Medikompass GmbH" class="veryImportant">Medikompass</a></li>
                    <li><a href="http://tubeexpert.de"  title="TubeExpert Ltd.">TubeExpert</a></li>
                    <li><a href="http://experteer.de" title="Experteer" class="important">Experteer</a></li>
                    <li><a href="http://mondaysonly.com" title="MondaysOnly" class="veryImportant">MondaysOnly</a></li>
                    <li><a href="http://bokowsky.net" title="Bokowsky + Laymann GmbH">Bokowsky + Laymann</a></li>
                    <li><a href="http://www.sauspiel.de"  title="Sauspiel GmbH" class="veryImportant">Sauspiel</a></li>
                    <li><a href="http://www.steria-mummert.de"  title="Steria Mummert AG" class="important">Steria Mummert</a></li>
                    <li><a href="http://globago.com" title="Globago">Globago</a></li>
                    <li><a href="http://scoreloop.com" title="Scoreloop" class="veryImportant">Scoreloop</a></li>
                    <li><a href="http://sidoplex.net"  title="Sidoplex GbR">Sidoplex</a></li>
                  </ul>
                  <div class="blocker">&nbsp;</div>
                </div>
              </div>
              <div id="contact" class="section">
                <div>
                  <h2>Contact</h2>
                  <h3>Contact</h3>
                  <ul class="contact-options">
                    <li><a href="mailto:marco.otte-witte@simplabs.com?subject=Hi!" title="Email me!">marco.otte-witte@simplabs.com</a></li>
                    <li><a href="http://github.com/simplabs" title="The simplabs github Organization">github.com/simplabs</a></li>
                    <li><a href="http://github.com/marcoow" title="my github Profile">github.com/marcoow</a></li>
                    <li><a href="de.linkedin.com/pub/marco-otte-witte/3/888/893/" title="my LinkedIn Profile">LinkedIn</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="blocker">&nbsp;</div>
        </div>
      </div>
      <div id="footer">
        <a href="#imprint" title="Imprint" id="imprintLink">Imprint</a>
        <div id="imprint" style="display: none;">
          <h3>Publisher information according to §6 Teledienstgesetz (TDG)</h3>
          <p>
            <strong>Responsible according to §6 MDStV: Marco Otte-Witte</strong>
          </p>
          <address class="adr">Marco Otte-Witte, <span class="street-address">Fraunhoferstr. 9</span>, <span class="postal-code">80469</span> <span class="locality">München</span>, <span class="country-name">Germany</span></address>
          <h4>Exclusion of Liability</h4>
          <p>
            I check and update the information on this website constantly. Despite all accurateness, the data can change in the meantime. <strong>Liability concerning timeliness, correctness and completeness of the available information can not be assumed</strong>. This applies also for all other websites which are referred via hyperlink. I am not responsible for the content of these websites.
          </p>
        </div>
      </div>
    </div>
    <a href="http://log.simplabs.com" title="simplabs.com - log"><img src="/images/log-logo.png" alt="log.simplabs.com" title="log.simplabs.com - the simplabs Blog" id="logLogo" /></a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/app.js"></script>
	</body>
</html>
