<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main-content">
      {% include workshop_header.html %}

      <div class="container" id="main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="row content-section workshop">
              <div class="col-sm-12">
                <div class="workshop-meta">
                  <span class="category">{{page.category}}</span>
                </div>
                <h3>{{page.title}}</h3>
                <div class="description">
                  {{page.description | markdownify}}
                </div>
              </div>
            </div>
            <div class="row content-section workshop">
              <div class="col-sm-12">
                {% for stage in page.stages %}
                  <div class="row stage">
                    <div class="col-sm-2 number">
                      <div>
                        <div class="icon">
                          <span>{{forloop.index}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <div class="stage-meta">
                        <span class="module">Module {{forloop.index}}</span>
                        <span class="duration pull-right">Duration: {{stage.duration}} minutes</span>
                      </div>
                      <h4>
                        <span class="number">{{forloop.index}} &mdash; </span>{{stage.title}}
                      </h4>
                      {{stage.description | markdownify}}

                      {% unless stage.agenda_items == empty %}
                        <a class="custom-button" data-toggle-agenda-items="#agenda-items-{{forloop.index}}" data-alternative-text="Close Agenda">Agenda</a>
                      {% endunless %}
                    </div>
                  </div>
                  <div class="row agenda-items" id="agenda-items-{{forloop.index}}">
                    {% for item in stage.agenda_items %}
                      <div class="agenda-item">
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <div class="item-meta">
                              <span class="state">{{stage.title}}</span>
                              <span class="duration pull-right">Duration: {{item.duration}} minutes</span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-2 start-time">
                            {{item.start_time}}
                          </div>
                          <div class="col-sm-8">
                            <h5>
                              {{item.title}}
                            </h5>
                            {{item.description | markdownify}}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include workshop_contact_banner.html %}
    </div>

    {% include footer.html %}

    {% include analytics.html %}

    {% include intercom.html %}

    <script>
      Zepto(function($) {
        $('[data-toggle-agenda-items]').each(function(i, elem) {
          var toggle = $(elem);
          toggle.on('click', function(e) {
            e.preventDefault();
      
            var currentText = toggle.text();
            toggle.text(toggle.data('alternative-text'));
            toggle.data('alternative-text', currentText);
      
            var items = $(toggle.data('toggle-agenda-items'));
            if (parseInt(items.css('max-height')) > 0) {
              items.css('max-height', 0);
            } else {
              items.css('max-height', items[0].scrollHeight);
            }
          });
        });
      });
    </script>
  </body>
</html>