<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    {% include nav.html %}

    <div id="main-content">
      {% include workshop_header.html %}

      <div class="container" id="main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="row content-section separated workshop">
              <div class="col-sm-12">
                <div class="workshop-meta">
                  <span class="category">{{page.category}}</span>
                </div>
                <h3>{{page.title}}</h3>
                {{page.description | markdownify}}
                {% for stage in page.stages %}
                  <div class="row content-section separated workshop">
                    <div class="col-sm-3 icon">
                      <i class="emberjs-logo"></i>
                    </div>
                    <div class="col-sm-9">
                      <div class="stage-meta">
                        <span class="module">MODULE {{forloop.index}}</span>
                        <span class="module-duration pull-right">DURATION: {{stage.duration}} MINUTES</span>
                      </div>
                      <h4>
                        {{stage.title}}
                      </h4>
                      {{stage.description | markdownify}}
                      <a href="" class="custom-button">AGENDA</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include contact_banner.html %}
    </div>

   {% include footer.html %}

   {% include analytics.html %}
	</body>
</html>