<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    {% include nav.html %}

    <div id="main-content">
      {% include workshop_header.html %}

      <div class="container" id="main-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="row content-section separated workshop">
              <div class="col-sm-12">
                <div class="workshop-meta">
                  <span class="category">{{page.category}}</span>
                </div>
                <h3>{{page.title}}</h3>
                {{page.description | markdownify}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include contact_banner.html %}
    </div>

   {% include footer.html %}

   {% include analytics.html %}
	</body>
</html>