@block container from "../../styles/blocks/container.block.css";
@block figure from "../../styles/blocks/figure.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageCaseStudyTimify;
  composes: 'layout';
}

.quote-offset {
  margin-top: var(--o-3);
}

@media (min-width: 888px) {
  .vertical-offset {
    padding-top: 41rem;
  }
}
