<div>
  <Header @title="Modern online appointment scheduling" />
  <div class="container-base">
    <div class="main-block">
      <div class="main-block.content">
        <p class="typography.lead">
          Timify is an online appointment scheduling service that connects service providers with clients.
        </p>
        <p class="typography.lead">
          They have helped over 17.000 businesses worldwide make their online appointment scheduling easier and more accessible, allowing them to improve their customer service and spur revenue.
        </p>
      </div>
      <div class="main-block.sidebar">
        <Card @label="Client" @src="/assets/images/card/timify.svg" @alt="Timify">
          <p class="typography.body-text">
            TIMIFY is a free, cloud-based appointment scheduling system suitable for all types' service providers including: healthcare providers, hair and beauty salon, tutors, mechanics, general contractors, sports and fitness trainers, and more.
          </p>
        </Card>
        <Card @label="Our Expertise" @src="/assets/images/card/ember.svg">
          <h3 class="typography.headline-3">
            <a class="typography.title-link" href="/expertise/ember">
              Ember.js
            </a>
          </h3>
        </Card>
      </div>
    </div>
  </div>
  <ShapeWork @background="#304158" @color="#CB3B43" @center="true" @src="/assets/images/work/timify.jpg" @clip="true">
    <blockquote class="quote-offset">
      <p class="typography.body-text">
        simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure.
      </p>
      <p class="typography.small-text">
        Andreas Knürr, Timify CEO
      </p>
    </blockquote>
  </ShapeWork>
  <div class="container">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          <h3 class="typography.headline-2">
            Delivering high quality in time
          </h3>
          <p class="typography.body-text">
            We built the first release version of the application for Timify in 4 months, allowing them to meet their internal deadlines. After the initial release, we joined forces with Timify's in-house engineering team, teaching best practices and ensuring modern and idiomatic Ember.js patterns were followed. This way, we were able to ensure long-term success for Timify's in-house team, based on the foundation we had laid.
          </p>
        </div>
        <div class="main-block.content-item">
          <h3 class="typography.headline-2">
            A path into the future
          </h3>
          <p class="typography.body-text">
            Our technology experts also spearheaded several engineering efforts focused around premium subscriptions along with payment system integration, localization of the application in 15 languages and support for time zones.
          </p>
        </div>
        <div class="main-block.content-item">
          <h3 class="typography.headline-2">
            Building on a modern stack
          </h3>
          <p class="typography.body-text">
            Ember.js proved to be the right technology choice for an ambitious application like Timify that was built to last for years. The baked in conventions enable larger teams and applications to move fast without breaking things.
          </p>
          <p class="typography.body-text">
            Leveraging modern web technologies like SVG for the main calendar view, we were able to achieve decent runtime performance even for large data sets. The json:api based server API allowed us to implement the client and server side of a feature concurrently.
          </p>
        </div>
      </div>
      <div class="main-block.sidebar vertical-offset">
        <Card @title="Learn about our sprint based approach" @src="/assets/images/playbook.svg">
          <p class="typography.body-text">
            We maintain a simple and client-focussed process. Find out more about how we work to deliver ambitious software solutions for our clients.
          </p>
          <ArrowLink @href="/playbook">
            Learn more
          </ArrowLink>
        </Card>
      </div>
    </div>
  </div>
  <ShapeFeatureTrainline />
  <WorkWithUs />
  <Footer />
</div>