<div>
  <Header
    @active="work"
    @title="Timify Case Study"
    @documentTitle="Rebuilding an MVP for long term success for Timify | Work"
    @description="We rebuilt Timify's MVP into a well-architected system that would be the foundation for future evolution, setting them up for sustainable long-term success."
  >
    <HeaderContent @label="Timify Case Study" @headline="Modern online appointment scheduling" />
  </Header>
  <div layout:class="main">
    <p typography:class="lead">
      Timify is an online appointment scheduling service that connects service providers with clients.
    </p>
    <p typography:class="lead">
      They have helped over 50.000 businesses worldwide make their online appointment scheduling easier and more
      accessible, allowing them to improve their customer service and spur revenue.
    </p>
  </div>
  <div layout:class="side" offset:class="before-5-atmobile">
    <Card @label="Client" @src="/assets/images/card/timify.svg" @alt="Timify">
      <p>
        Timify is a cloud-based appointment scheduling and shift planning system for all kinds of businesses including:
        healthcare providers, hair and beauty salons, tutors, mechanics, general contractors, sports and fitness
        trainers, and more.
      </p>
    </Card>
    <CardEmberExpertise />
  </div>
  <ShapeWork
    @background="#304158"
    @color="#CB3B43"
    @center="true"
    @src="/assets/images/work/timify-right@1800.jpg"
    @clip="true"
  >
    <blockquote block:class="quote-offset">
      <p>
        simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also
        helped us establish best practices and a lean process internally. Working with them was a pleasure.
      </p>
      <p typography:class="small">
        Andreas Knürr, Timify CEO
      </p>
    </blockquote>
  </ShapeWork>
  <div layout:class="main" offset:class="after-21">
    <h3>
      Laying the foundation for future success
    </h3>
    <p>
      Timify had validated their business model with a prototype they had built in-house. As the business was growing
      though, it became clear the prototype wouldn't be a solid foundation for the future. They needed to re-engineer
      the entire system, making sure it allowed them to continue iterating fast without sacrificing quality.
    </p>
    <figure figure:scope>
      <img
        figure:class="content"
        src="/assets/images/work/timify-comp.jpg"
        alt="screenshot of the Timify app, showing the schedule"
      />

      <figcaption>
        Timify allows businesses in 29 countries to manage appointments and plan shifts more effectively
      </figcaption>
    </figure>
    <h3>
      Delivering high quality in time
    </h3>
    <p>
      We built the first release version of the new application for Timify in just over 4 months, allowing them to meet
      their internal deadlines. After the initial release, we joined forces with the client's in-house engineering team,
      teaching best practices and ensuring modern and idiomatic Ember.js patterns were followed. This way, we were able
      to ensure long-term success for Timify's in-house team, based on the foundation we had laid.
    </p>
    <h3>
      A path into the future
    </h3>
    <p>
      Our technology experts spearheaded several engineering efforts focused around premium subscriptions along with
      payment system integration, localization of the application in 15 languages and support for time zones. Timify's
      in-house team was able to take over these initiatives, iterate on the foundations we had laid and maintain the
      features over time.
    </p>
    <h3>
      Building on a modern stack
    </h3>
    <p>
      Ember.js proved to be the right technology choice for an ambitious application like Timify that was built to last
      for years. The baked in conventions enable larger teams and applications to move fast without breaking things.
      Leveraging modern web technologies like SVG, we were able to achieve excellent runtime performance even for large
      data sets. The json:api based server API allowed us to implement the client and server side of a feature
      concurrently.
    </p>
  </div>
  <div layout:class="side" block:class="vertical-offset" offset:class="after-21">
    <CardPlaybook />
  </div>
  <ShapeFeatureQonto @label="Continue Reading" />
  <WorkWithUs @teamMember="florian" />

  <Footer />
</div>