---
layout: base
title: "About Mainmatter "
description: Mainmatter's experts join your team to accelerate your efforts and minimize execution risk. We focus on C-to-Rust migrations, backends, and training.
eleventyNavigation:
  key: blog
  order: 8
  title: About us
permalink: /about-us/
og:
  image: /assets/images/about-us/og-image.png
---

{% from "image-banner-with-text.njk" import imageBannerWithText %}
{% from "service-cards.njk" import serviceCards %}
{% from "recent-posts.njk" import recentPosts %}
{% from "logo-list.njk" import logoList %}
{% from "cta-link.njk" import ctaLink %}
{% from "color-hero.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "image-aspect-ratio-with-button.njk" import imageAspectRatioWithButton %}
{% from "quote.njk" import quote %}
{% from "contact-form-LP.njk" import contactFormLP %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}

{%
  set toc = {
    'What Sets Us Apart': '#team-stats',
    'How We Work': '#how-we-work',
    'Open Positions': '#hiring',
    'Let’s Talk': '#contact'
  }
%}
{%
  set 'content' = {
  "title": "About Mainmatter",
  "text": "We are a team of developers, inventors, designers, strategists, artists and storytellers. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et diam quis nulla malesuada pulvinar. Nam ac odio sapien. Nam consequat ex convallis eros placerat cursus. Morbi et vulputate metus. Aenean sagittis ultrices nibh, quis aliquam dui porttitor non. Proin sit amet consectetur neque, sed aliquet turpis. Duis placerat neque accumsan ipsum viverra, ac varius massa dapibus. Sed tempus aliquet molestie. Pellentesque id diam vel odio tempor commodo et nec turpis. Vestibulum eget nibh risus.",
  "image": "/assets/images/about-us/hero.webp",
  "alt": "Writing utencils",
  "loading": "eager",
    "containerType": "lp",
  "toc": toc
  }
%}
{{ colorHero('purple', content) }}

<section class="py-7 background-aqua">
  <h1 class="container container--lg mb-2 color-white" id="team-stats">What Sets Us Apart</h1>
  <div class="container container--lg p-2 p-3 background-white">
      <div class="stats-grid">
        <div class="stats-grid__wrapper">
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">26</h2>
            <p class="stats-grid__explanation medium">engineers, designers, and strategists</p>
          </div>
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">172</h2>
            <p class="stats-grid__explanation medium">clients served since 2005</p>
          </div>
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">250</h2>
            <p class="stats-grid__explanation medium">projects delivered</p>
          </div>
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">10<span class="stats-grid__addnl-text"> years</span></h2>
            <p class="stats-grid__explanation medium">longest client relationship</p>
          </div>
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">3.4<span class="stats-grid__addnl-text"> years</span></h2>
            <p class="stats-grid__explanation medium">average client retention</p>
          </div>
          <div class="stats-grid__content">
            <h2 class="stats-grid__stat">100%</h2>
            <p class="stats-grid__explanation medium">US-based team</p>
          </div>
      </div>
      <p class="medium">
        Paragraph on how we work.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et diam quis nulla malesuada pulvinar. Nam ac odio sapien. Nam consequat ex convallis eros placerat cursus. Morbi et vulputate metus. Aenean sagittis ultrices nibh, quis aliquam dui porttitor non. Proin sit amet consectetur neque, sed aliquet turpis. Duis placerat neque accumsan ipsum viverra, ac varius massa dapibus. Sed tempus aliquet molestie. Pellentesque id diam vel odio tempor commodo et nec turpis. Vestibulum eget nibh risus.
      </p>
      {%
        set link = {
        "label": 'View our work',
        "url": '/work/'
        }
      %}
      {{ btnSecondary( link, 'mt-2' ) }}
    </div>
  </div>
</section>

<section class="mobile-hidden">
  {%
    set 'content' = {
      "imgPath": "/assets/images/photos/balloons-top.jpeg",
      "alt": "Colorful crab",
      "sizes": "100vw",
      "loading": "lazy",
      "sizesArray": [760, 1440, 1920],
      "aspectRatioDesktop": "32/6",
      "linkUrl": "#contact",
      "linkText": "Have a Project for Us?"
    }
  %}
  {{ imageAspectRatioWithButton(content) }}
</section>

<section class="pt-7" id="how-we-work">
  <div class="container container--lg">
    <div class="photo-grid">
      <img class="photo-grid__img-1" src="/assets/images/about-us/team.webp" alt="Team photo">
      <img class="photo-grid__img-2" src="/assets/images/about-us/workshop.webp" alt="Team workshop">
      <img class="photo-grid__img-3" src="/assets/images/about-us/venice.webp" alt="A boat in a Venice canal">
      <img class="photo-grid__img-4" src="/assets/images/about-us/hike.webp" alt="A group photo of the team on a hike, next to some goats">
      <img class="photo-grid__img-5" src="/assets/images/about-us/bowling.jpg" alt="Team member bowling">
    </div>
    <h1 class="mb-2 mt-2">How We Work</h1>
    <p class="medium">
      Paragraph on how we work.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et diam quis nulla malesuada pulvinar. Nam ac odio sapien. Nam consequat ex convallis eros placerat cursus. Morbi et vulputate metus. Aenean sagittis ultrices nibh, quis aliquam dui porttitor non. Proin sit amet consectetur neque, sed aliquet turpis. Duis placerat neque accumsan ipsum viverra, ac varius massa dapibus. Sed tempus aliquet molestie. Pellentesque id diam vel odio tempor commodo et nec turpis. Vestibulum eget nibh risus.
    </p>
  </div>
</section>

<section class="mt-7 mb-5" id="hiring">
  <div class="container container--lg mb-6">
    <h1>Join Our Team</h1>
    {%
      set 'content' = {
      "text": "Working with Mainmatter's experts has been a great experience. They helped us develop a state-of-the-art data pipeline, mentored our internal team and introduced several improvements around our Rust code and infrastructure along the way.”",
      "source": "Andreas Hartel",
      "position": "Senior Engineer at Aleph Alpha",
      "styling": "redesigned"
      }
    %}
    {{ quote(content) }}
  </div>
  <div class="container container--lg mb-6">
    {%
      set link = {
      "label": 'See open positions',
      "url": ''
      }
    %}
    {{ btnSecondary( link, 'mt-2' ) }}

    {%
      set link = {
      "label": 'Submit a speculative application',
      "url": ''
      }
    %}
    {{ btnSecondary( link, 'mt-2' ) }}
</section>

{{ contactFormLP(null) }}

{% include "global/default-newsletter-cta.njk" %}

<section>
  {%
    set imageData = {
    "imgPath": "/assets/images/services/launch-your-idea.jpeg",
    "alt": "Map of Europe highlighting locations Mainmatter team members work",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "3/2", "1/1") }}
</section>
