---
permalink: "feed.atom"
eleventyExcludeFromCollections: true
layout: ""
metadata:
  title: "Mainmatter"
  subtitle: "We know the code, tools, and practices that go into successful development. We partner with our clients to solve their toughest tech challenges by sharing our skills and expertise as teammates."
  language: "en"
  url: "https://mainmatter.com/"
  author:
    name: "Mainmatter GmbH"
    email: "info@mainmatter.com"
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts | limit(12) | reverse -%}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) -%}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="{{ metadata.language }}" type="html"
        >{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
      >
    </entry>
  {%- endfor -%}
</feed>
