---
layout: base
eleventyComputed:
  title: "All posts by {{ paged.author.data.name }}{% if paged.number > 1 %}
    - Page {{ paged.number }}
  {% endif %}"
description: "Frontend and JavaScript, Svelte and Ember, Rust and WASM, Elixir and Phoenix, Product and Design: Stay on top of what's happening."
pagination:
  data: collections.authorsPostsPaged
  size: 1
  alias: paged
permalink: "/blog/author/{{ paged.author.fileSlug }}/{% if paged.number > 1 %}/page/{{ paged.number }}/{% endif %}"
---

{% from "post-card.njk" import postCard %}
{% from "author-socials.njk" import authorSocials %}
{% from "nav-pagination.njk" import navPagination %}
{% from "cta-banner.njk" import ctaBanner %}

<div class="collection-header">
  <div class="container container--xl">
    <div class="author-header__wrapper">
      <div class="author-header__image-wrapper">
        {% set imageUrl = '/assets/images/authors/' + paged.author.fileSlug + '.jpg' %}
        {%
          image imageUrl,
          '',
          '6.75rem',
          'eager',
          'author__image',
          [108]
        %}
      </div>

      <div class="author-header__text-wrapper">
        <h1 class="h3">All posts by {{ paged.author.data.name }}</h1>
        <h2 class="author-header__subheading">{{ paged.author.data.bio }}</h2>
        <div class="author-header__socials-wrapper">
          {{ authorSocials(paged.author.fileSlug, 'author-header__socials') }}
          <p class="h5">
            {{ paged.postTotal }}
            {% if paged.postTotal === 1 %}post{% else %}posts{% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container--xl mb-10">
  <div class="post-cards__grid">
    {%- for post in paged.posts -%}
      {{ postCard(post) }}
    {%- endfor -%}
  </div>
  {% if paged.first != true %}
    {%- set previous -%}/blog/author/{{ paged.author.fileSlug }}/{% if paged.number > 2 %}page/{{ paged.number - 1 }}/{% endif %}{%- endset -%}
  {% endif %}
  {% if paged.last != true %}
    {%- set next -%}/blog/author/{{ paged.author.fileSlug }}/page/{{ paged.number + 1 }}/{%- endset -%}
  {% endif %}

  {{ navPagination(previous, next) }}
</div>

{%
  set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('aqua', 'full', content) }}
