---
layout: base
title: Europe's leading Ember experts | Ember consulting
description: Temporarily extend your team with Europe's leading Ember experts. Speed up projects and remove long-standing issues – from refactoring to shipping new features.
permalink: /ember-consulting/
---

{% from "color-hero.njk" import colorHero %}
{% from "text-with-list.njk" import textWithList %}
{% from "logo-list.njk" import logoList %}
{% from "recent-posts.njk" import recentPosts %}
{% from "cta-link.njk" import ctaLink %}

<section class="color-hero color-hero--red">
  <div class="color-hero__image-wrapper">
    {% image '/assets/images/ember/ember.jpg', 'Audience facing a presentation at a conference', '100vw', 'eager', 'color-hero__image', [760, 1440, 1920] %}
  </div>
  <div class="color-hero__filter"></div>
  <div class="color-hero__overlay"></div>
  <div class="color-hero__container container container--lg color-hero__container--center">
    <div class="color-hero__main">
      {% set imagePath %}/assets/images/logos/ember-white.svg{% endset %}
      <img class="expertise__logo" src="{{ imagePath }}" alt="Ember logo" />
      <h1 class="color-hero__title color-hero__title--full ">is our expertise</h1>
      <div class="color-hero__text color-hero__text--large">We have been recognized as an official sponsor of the Ember.js project along with international brands like LinkedIn and
      Yahoo.</div>
    </div>
  </div>
</section>

{% set content = {
"title": "We love open source",
"subtitle": "We maintain a number of projects in the ecosystem that are widely adopted in the Ember community."
} %}
{{ textWithList(content, "white") }}

{% set 'slide_1' = {
"color": "white",
"title": "Ember simple auth",
"text": "Authentication management for Ember.js applications.",
"icon": "/assets/images/ember/ember-simple-auth.svg",
"linkUrl": "https://github.com/simplabs/ember-simple-auth",
"linkText": "View on github"
} %}

{% set 'slide_2' = {
"color": "purple",
"title": "Ember test selectors",
"text": "Enabling better element selectors in Ember.js tests.",
"icon": "/assets/images/ember/ember-test-selectors.svg",
"linkUrl": "https://github.com/simplabs/ember-test-selectors",
"linkText": "View on github"
} %}

{% set 'slide_3' = {
"color": "black",
"title": "Ember cookies",
"text": "Cookie handling for Ember.js apps - in the browser and FastBoot.",
"icon": "/assets/images/ember/ember-cookies.svg",
"linkUrl": "https://github.com/simplabs/ember-cookies",
"linkText": "View on github"
} %}

{% set 'slide_4' = {
"color": "white",
"title": "Qunit DOM",
"text": "High Level DOM Assertions for QUnit with an expressive API.",
"icon": "/assets/images/ember/qunit-dom.svg",
"linkUrl": "https://github.com/simplabs/qunit-dom",
"linkText": "View on github"
} %}

{% set slides = [slide_1, slide_2, slide_3, slide_4] %}

<section class="scroll-slides" id="scroll-slides">
  {% for slide in slides %}
    {% set slideIndex = loop.index %}
    <div id="slide-{{ loop.index }}" class="scroll-slides__slide scroll-slides__slide--{{ slide.color }}"
      data-scroll-slide>
      <div class="scroll-slides__container container container--xl">
        <ol class="scroll-slides__pagination" aria-label="Slide pagination">
          {% for slide in slides %}
          <li class="scroll-slides__pagination-item">
            <button class="scroll-slides__pagination-button" data-pagination="{{ loop.index0 }}">
              <span class="screenreader">Slide {{ loop.index }}{% if slideIndex == loop.index %} (Current slide){% endif
                %}</span>
              <span
                class="scroll-slides__pagination-span{% if slideIndex == loop.index %} scroll-slides__pagination-span--active{% endif %}"
                aria-hidden></span>
              </button>
          </li>
          {% endfor %}
        </ol>
        <div class="scroll-slides__icon" aria-hidden="true">
          <img class="" src="{{ slide.icon }}" alt="" />
        </div>
        <div class="scroll-slides__content">
          <h2 class="scroll-slides__title">{{ slide.title }}</h2>
          <p class="scroll-slides__text">{{ slide.text }}</p>
          {% if slide.linkUrl and slide.linkText %}
          {{ ctaLink(slide.linkUrl, slide.linkText, '') }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% set 'content' = {
  "title": "Ember.js: The Documentary",
  "text": "Several of our team members appear in the Ember.js documentary. We were pleased to welcome the film crew at our office in Munich and again at EmberFest in Amsterdam.",
  "linkText": "Watch Video",
  "linkUrl": "https://www.youtube.com/watch?v=Cvz-9ccflKQ",
  "image": "/assets/images/ember/ember-js-documentary.jpg",
  "alt": "Still of Ember.js documentary showing two people looking at a laptop",
  "loading": "lazy"
} %}
{{ colorHero('center', 'small', 'aqua', false, content) }}

{{ recentPosts("Latest from our blog on the topic", collections["ember"]) }}

{% set 'content' = {
"title": "Conferences and talks",
"subtitle": "Mainmatter engineers have spoken at all major Ember.js conferences and other events in the wider JavaScript community.",
"text": "Ember.js is a project built by an open community, and we are an active member of that community. We run the Ember.js Europe Meetup with our partner Intercom and co-organize EmberFest , the European Ember Community Conference.",
"linkUrl": "/events/",
"linkText": "View our talks and check out our calendar for the next events",
"image": "/assets/images/ember/ember-banner.jpg",
"alt": "Collage of team members speaking at conferences",
"loading": "lazy"
} %}

<section class="image-banner-with-text">
  <div class="container container--lg">
    <h2 class="image-banner-with-text__heading h5">{{ content.title }}</h2>
  </div>
  {% image content.image, content.alt, '100vw', content.loading, 'image-banner-with-text__image', [760, 1440, 1920] %}
  <div class="container container--lg">
    <div class="image-banner-with-text__content">
      {% if content.subtitle %}
      <h3 class="image-banner-with-text__subheading h4">{{ content.subtitle }}</h3>
      {% endif %}
      {% if content.text %}
        <p class="image-banner-with-text__text">{{ content.text }}</p>
      {% endif %}
      <div class="expertise__image-row">
        {% image '/assets/images/ember/ember-europe-mascot.jpg', 'Ember.js mascot with EU flags', '8.25rem', 'lazy', 'expertise__image-ember-1', [264] %}
        {% image '/assets/images/ember/emberfest-logo.jpg', 'Emberfest logo', '19rem', 'lazy', 'expertise__image-ember-2', [608] %}
      </div>
      {% if content.linkUrl and content.linkText %}
        {{ ctaLink(content.linkUrl, content.linkText, 'image-banner-with-text__link') }}
      {% endif %}
    </div>
  </div>
</section>

{% set logoCompanies = ['Qonto', 'Trainline', 'Cardstack', 'Timify', 'Experteer', 'Robin Hood', 'Dim3' ] %}
{% set title = 'We are trusted by international companies that bet on Ember.js' %}
{{ logoList(logoCompanies, title) }}

{% include 'content/hero-grow-with-us.njk' %}