---
layout: base
title: "Team Up With Us for Ember! | Ember consulting"
description: Temporarily extend your team with Europe's leading Ember experts. Speed up projects and remove long-standing issues – from refactoring to shipping new features.
permalink: /ember-consulting/
og:
  image: /assets/images/ember/og-image.png
---

{% from "text-with-list.njk" import textWithList %}
{% from "logo-list.njk" import logoList %}
{% from "recent-posts.njk" import recentPosts %}
{% from "image-banner-with-text.njk" import imageBannerWithText %}
{% from "color-hero.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "quote.njk" import quote %}
{%
  set 'content' = {
  "eyebrow": "Our Expertise: Ember",
  "title": "Team Up With Us for Ember!",
  "text": "We are long-time Ember experts and active contributors to the ecosystem. Our team of community leaders makes Mainmatter the foremost Ember consultancy.",
  "image": "/assets/images/hero/ember.jpg",
  "alt": "A hamster sitting in the straw",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Ember & Mainmatter</h5>
      <h3 class="mb-2">Europe's Leading Ember Team</h3>
      <p>
        Mainmatter has been an active member of the Ember community since the early days of the
        framework. Our veteran team has contributed substantially – both to Ember itself on various
        core teams as well as by creating and maintaining widely adopted packages. If you're working
        on an Ember application, you're already relying on code our team wrote and patterns we
        helped establish. We have worked with countless international clients over the years and
        helped them to succeed with Ember.
      </p>
    </div>
  </div>
  <div class="split-content">
    <a href="https://emberjs.com/sponsors/" class="split-content__link"></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>We are an official sponsor of the Ember.js project.</h4>
        {%
          set link = {
          "label": 'Learn more',
          "url": 'https://emberjs.com/sponsors/'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">{% include 'content/secondary-feature-ember.njk' %}</div>
    </div>
  </div>
</section>

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">EmberFest & Ember Europe</h5>
      <h3 class="mb-2">Fostering the Community</h3>
      <p>
        Mainmatter believes open source communities are valuable and we strive for being active
        community members. Our team regularly speaks at all of the relevant Ember conferences but
        also other conferences at which we pitch Ember to audiences from the wider frontend world.
        We've also been co-organizing EmberFest, the European Ember Community Conference for many
        years and run Ember Europe, a hybrid meetup series, together with our friends from Intercom.
      </p>
    </div>
  </div>
  <div class="split-content">
    <a href="https://emberfest.eu/" class="split-content__link"></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>We co-organize EmberFest, the European Community Ember Conference.</h4>
        {%
          set link = {
          "label": 'Learn more',
          "url": 'https://emberfest.eu/'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-emberfest.njk' %}
      </div>
    </div>
  </div>
</section>

{%
  set logoCompanies = [
  'Qonto',
  'Trainline',
  'Cardstack',
  'Sage',
  'Auditboard',
  'Timify',
  'Robin Hood',
  'Terminal49',
  'MVB',
  'Generali',
  'Medify',
  'CLARK',
  'Phorest',
  'WePlan'
  ]
%}
{% set title = 'We are trusted by international companies that bet on Ember.js' %}
{{ logoList(logoCompanies, title) }}

<section class="mb-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/ember/ember-consulting.jpeg",
    "alt": "A group of hamsters",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section>
  <div class="embroider-sponsors__intro container container--xl">
    <h2 class="mb-2">The Ember Initiative</h2>
    <p class="large">
      Mainmatter, together with a group of sponsors, is working on the Ember initiative – a
      permanent effort to advance the Ember ecosystem and secury its members' investments in
      Ember.js.
    </p>
    {%
      set link = {
      "label": 'Join the Ember initiative ',
      "url": '/ember-initiative/'
      }
    %}
    {{ btnSecondary( link, 'mt-3' ) }}
  </div>
</section>

<section class="my-10 container container--lg">
  <div class="split-content no-link">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h5>We're here to help</h5>
        <h3 class="split-content__subheading h2">Facing Challenges with Ember?</h3>
        <p>
          Ember famously enforces a rigid structure and liberates engineers through constraints so
          they can remain focussed on delivering value for users. Yet, sometimes you get stuck and
          it can be hard to see the path forwards – be it upgrading an old codebase to modern Ember,
          adopting Embroider or architecting a new feature. If your team is in a situation like that
          or you have any other question, reach and one of our ember experts will come back to you.
        </p>
        {%
          set link = {
          "label": 'Contact us',
          "url": '/contact/'
          }
        %}
        {{ btnSecondary( link, 'mt-2') }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-ember-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-10">
      <h3 class="mb-2">Custom Development</h3>
      <p class="body">
        We develop complete apps with Ember so your team can focus on other initiatives. We are
        Ember experts and in fact have written and establishes important pieces of the Ember
        ecosystem ourselves. Our team delivers high quality codebases as well as the tooling and
        infrastructure needed for sustainable maintenance.
      </p>
      {%
        set link = {
        "label": 'Work with us!',
        "url": '/contact/'
        }
      %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Ember+Contact' ) }}
    </div>
    <div class="mb-10">
      <h3 class="mb-2">Training and Support</h3>
      <p class="body">
        Ember is getting easier and easier to adopt but it can appear a bit unfamiliar to people
        with backgrounds in other frontend technologies. Our trainers are world-class experts who
        have helped many international companies to build and scale up Ember teams.
      </p>
      {%
        set link = {
        "label": 'Check out our workshops!',
        "url": '/services/workshops/hands-on-ember/'
        }
      %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Ember+Workshops' ) }}
    </div>
    <div class="mb-10">
      <h3 class="mb-2">Team reinforcement</h3>
      <p class="body">
        Our experts can merge with your in-house frontend team to ensure the timely delivery of
        mission-critical projects – be it delivering new initiatives or modernizing codebase without
        interrupting feature delivery. We’re more than hired hands – we mentor your team throughout
        the process to help lift productivity long after our collaboration ends.
      </p>
      {%
        set link = {
        "label": 'Work with us!',
        "url": '/contact/'
        }
      %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Ember+Contact' ) }}
    </div>
  </div>
</section>

<section class="mb-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/ember/ember-events.jpeg",
    "alt": "People attending EmberFest",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="container container--xl opensource-list">
  <div class="">
    <h2 class="opensource-list__title h2">We love Open Source</h2>
    <ul class="opensource-list__list">
      <li class="opensource-list__project">
        <div class="opensource-list__project-image">
          <img src="/assets/images/ember/ember-simple-auth-mono.svg" alt="Ember Simple Auth logo" />
        </div>
        <div class="opensource-list__project-text">
          <h4 class="mb-015">Ember Simple Auth</h4>
          <p>Authentication management for Ember.js applications.</p>
          {%
            set link = {
            "label": 'View on GitHub',
            "url": 'http://github.com/mainmatter/ember-simple-auth'
            }
          %}
          {{ btnSecondary( link, 'mt-2' ) }}
        </div>
      </li>
      <li class="opensource-list__project">
        <div class="opensource-list__project-image">
          <img src="/assets/images/ember/ember-cookies-mono.svg" alt="Ember Cookies logo" />
        </div>
        <div class="opensource-list__project-text">
          <h4 class="mb-015">Ember Cookies</h4>
          <p>Cookie handling for Ember.js apps - in the browser and FastBoot.</p>
          {%
            set link = {
            "label": 'View on GitHub',
            "url": 'http://github.com/mainmatter/ember-cookies'
            }
          %}
          {{ btnSecondary( link, 'mt-2' ) }}
        </div>
      </li>
      <li class="opensource-list__project">
        <div class="opensource-list__project-image">
          <img
            src="/assets/images/ember/ember-test-selectors-mono.svg"
            alt="Ember Test Selectors logo"
          />
        </div>
        <div class="opensource-list__project-text">
          <h4 class="mb-015">Ember Test Selectors</h4>
          <p>Enabling better element selectors in Ember.js tests.</p>
          {%
            set link = {
            "label": 'View on GitHub',
            "url": 'http://github.com/mainmatter/ember-test-selectors'
            }
          %}
          {{ btnSecondary( link, 'mt-2' ) }}
        </div>
      </li>
      <li class="opensource-list__project">
        <div class="opensource-list__project-image">
          <img src="/assets/images/ember/qunit-dom-mono.svg" alt="Qunit Dom logo" />
        </div>
        <div class="opensource-list__project-text">
          <h4 class="mb-015">Qunit Dom</h4>
          <p>High Level DOM Assertions for QUnit with an expressive API.</p>
          {%
            set link = {
            "label": 'View on GitHub',
            "url": 'http://github.com/mainmatter/qunit-dom'
            }
          %}
          {{ btnSecondary( link, 'mt-2' ) }}
        </div>
      </li>
      <li class="opensource-list__project">
        <div class="opensource-list__project-image">
          <img
            src="/assets/images/ember/ember-promise-modals.svg"
            alt="Ember Promise Modals logo"
          />
        </div>
        <div class="opensource-list__project-text">
          <h4 class="mb-015">Ember Promise Modals</h4>
          <p>The easy solution for rendering and handling modals in Ember.js apps. Promised.</p>
          {%
            set link = {
            "label": 'View on GitHub',
            "url": 'https://github.com/mainmatter/ember-promise-modals'
            }
          %}
          {{ btnSecondary( link, 'mt-2' ) }}
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="video">
  <div>
    <video
      class=""
      playsinline=""
      autoplay=""
      muted=""
      preload=""
      loop=""
      poster="/assets/images/ember/emberdoc-simplabs.poster.jpg"
    >
      <source src="/assets/images/ember/emberdoc-simplabs.mp4" type="video/mp4" />
    </video>
  </div>
</section>

{%
  set 'content' = {
  "title": "Ember.js: The Documentary",
  "text": "Several of our team members appear in the Ember.js documentary. We were pleased to welcome the film crew at our office in Munich and again at EmberFest in Amsterdam.",
  "linkUrl": "https://www.youtube.com/watch?v=Cvz-9ccflKQ",
  "linkText": "Watch Video"
  }
%}
{{ ctaBanner('purple', 'default', content) }}

<section class="my-10">
  <h2 class="quotes-list__title h2">Our customers say about us</h2>
  <div class="container container--lg">
    {%
      set 'content' = {
      "text": "Mainmatter are well known as the Ember.js experts and they absolutely live up to the expectations. They had an immediate as well as significant positive impact on both our velocity and quality of output.”",
      "source": "Marc-Antoine Lacroix, Qonto CPO"
      }
    %}
    {{ quote(content) }}
    {%
      set 'content' = {
      "text": "”I've had the opportunity to work alongside the Mainmatter team on both their client-facing work for Cardstack and their open source contributions. They are experts in Ember and they are a team that takes good software-development practice seriously.”",
      "source": "Ed Faulkner, Cardstack Lead Developer and member of the Ember.js Steering Committee"
      }
    %}
    {{ quote(content, alignment='right') }}
    {%
      set 'content' = {
      "text": "”Mainmatter’s team is highly experienced and professional. They not only helped us develop the product but also mentored our internal team and introduced a number of improvements around infrastructure and processes along the way.”",
      "source": "Ronald Schild, Managing Director of MVB"
      }
    %}
    {{ quote(content) }}
  </div>
</section>

{{ recentPosts("Latest from our blog on the topic", collections.emberPosts) }}

<section class="my-10 container container--lg">
  <div class="split-content">
    <a
      href="https://www.youtube.com/playlist?list=PLdAi-nB9AYuuaWFjl_zwkrIvScJjnBYdZ"
      class="split-content__link"
    ></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>
          Check out our Ember.js videos on YouTube – including talks at EmberFest, Ember Europe, and
          more.
        </h4>
        {%
          set link = {
          "label": 'Watch videos',
          "url": 'https://www.youtube.com/playlist?list=PLdAi-nB9AYuuaWFjl_zwkrIvScJjnBYdZ'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-youtube.njk' %}
      </div>
    </div>
  </div>
</section>

{% include "global/ember-newsletter-cta.njk" %}
{%
  set 'content' = {
  "title": "Team up with us for Ember!",
  "text": "Our Ember experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
