---
layout: base
title: "Expert Ember Support for Your Team, On Demand"
description: "Unlimited PR reviews, architecture help, and direct access to world-leading Ember experts — for a fixed monthly price."
permalink: /ember-subscription/
noindex: true
og:
  image: /assets/images/ember-subscription/og-image.jpg
---

{% from "logo-list.njk" import logoList %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "color-hero.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "quote.njk" import quote %}
{% from 'featured-case-study.njk' import featuredCaseStudy %}
{% from "featured-services.njk" import featuredServices %}
{% from "subscription-signup-form.njk" import subscriptionSignupForm %}
{%
  set 'content' = {
  "title": "Expert Ember Support for Your Team, On Demand",
  "text": "Unlimited PR reviews, architecture help, and direct access to world-leading Ember experts — for a fixed monthly price.",
  "image": "/assets/images/ember/ember-consulting.jpeg",
  "alt": "A group of hamsters",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10 container container--lg">
  <div class="split-content no-link">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h3 class="split-content__subheading h2">Ship Better Ember Code, Faster</h3>
        <p>
          Our Ember experts, including
          <a href="https://github.com/mansona">Chris Manson</a> and the rest of the team behind the
          <a href="/ember-initiative/">Ember Initiative</a>, review all of your Ember PRs and are
          only a Slack message away to answer any question your team runs into. We enable teams to
          ship faster, with higher quality, resolve blockers, level up juniors, and avoid dead-ends.
        </p>
        {%
          set link = {
          "label": 'Sign up today for 1.500€ per month, cancel anytime',
          "url": '#signup-subscription'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-ember-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

{%
  set 'content' = {
  "subtitle": "Build on Ember With Confidence"
  }
%}
{%
  set 'features' = [{
  "heading": "Unlimited PR Reviews",
  "text": "Ensure code quality, avoid pitfalls, and level up"
  },{
  "heading": "Private Slack Access",
  "text": "A direct line to Ember experts, 24h response time"
  },{
  "heading": "Weekly Dedicated Time",
  "text": "1h per week for pairing, whiteboard sessions or hiring support"
  },{
  "heading": "Optional Addons",
  "text": "On-demand trainings, hands-on delivery support, audits, and more"
  }]
%}
{{ featuredServices(features, content) }}
{%
  set 'content' = {
  "title": "Signup for Ember Expert Support",
  "text": "Sing up today for <strong class=\"strong\">1.500€ per seat per month*</strong>, with no long-term commitment—<strong class=\"strong\">cancel anytime.</strong><br><small class=\"small\">*20% discount for 10+ seats</small>",
  "kind": "ember"
  }
%}
{{ subscriptionSignupForm(content) }}

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Mainmatter & Ember</h5>
      <h3 class="mb-2">Deeply Committed to Ember</h3>
      <p>
        We are long-time Ember experts and active contributors to the ecosystem. Our team of
        community leaders makes Mainmatter the foremost Ember consultancy. We co-organize EmberFest,
        maintain a number of widely used packages, have taught hundreds of developers to use Ember
        and ran the Embroider and <a href="/ember-initiative/">Ember initiatives</a>.
      </p>
      {%
        set link = {
        "label": 'Learn more about our work with Ember',
        "url": '/ember-consulting/'
        }
      %}
      {{ btnSecondary( link, 'mt-2' ) }}
    </div>
  </div>
</section>

<section class="my-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/ember/ember-events.jpeg",
    "alt": "People attending EmberFest",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10">
  <h2 class="quotes-list__title h2">Our customers say about us</h2>
  <div class="container container--lg">
    {%
      set 'content' = {
      "text": "”Mainmatter are well known as the Ember.js experts and they absolutely live up to the expectations. They had an immediate as well as significant positive impact on both our velocity and quality of output.”",
      "source": "Marc-Antoine Lacroix, Qonto CPO"
      }
    %}
    {{ quote(content) }}
    {%
      set 'content' = {
      "text": "”I've had the opportunity to work alongside the Mainmatter team on both their client-facing work for Cardstack and their open source contributions. They are experts in Ember and they are a team that takes good software-development practice seriously.”",
      "source": "Ed Faulkner, Cardstack Lead Developer and member of the Ember.js Steering Committee"
      }
    %}
    {{ quote(content) }}
  </div>
</section>

<div class="work container container--xl">
  <ul class="work__list">
    {{ featuredCaseStudy('qonto', 'purple', 'work__featured-case-study') }}
  </ul>
</div>

{%
  set 'content' = {
  "title": "Sign up",
  "text": "Sign up today for 1.500€ per month, cancel anytime.",
  "linkUrl": "#signup-subscription",
  "linkText": "Sign up"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
