---
layout: base
title: Ember Initiative
description: "Mainmatter, together with a group of sponsors, is working on the Ember initiative – a permanent effort to advance the Ember ecosystem and secury its members' investments in Ember.js."
permalink: /ember-initiative/
og:
  image: /assets/images/ember-initiative/og-image.jpeg
---

{% from "color-hero.njk" import colorHero %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "logo-list.njk" import logoList %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "featured-services.njk" import featuredServices %}
{%
  set 'content' = {
  "title": "The Ember Initiative",
  "text": "Mainmatter, together with a group of sponsors, is working on the Ember initiative – a permanent effort to
  advance the Ember ecosystem and secure its members' investments in Ember.js. We build on top of the success of the Embroider initiative.",
  "image": "/assets/images/ember/ember-consulting.jpeg",
  "alt": "A group of hamsters",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}
{%
  set 'content' = {
  "title": "The Initiative’s Goals",
  "subtitle": "Advancing the Ember ecosystem",
  "text": "Mainmatter assigns a team to work on Ember full time indefinitely. They work on topics that are critical for the Ember ecosystem and every company that builds on Ember. Initiative sponsors get a say in deciding on the team's priorities and quarterly roadmaps to ensure they get the most out of their investment."
  }
%}
{{ featuredServices(emberInitiative['ember'], content) }}

{%
  set 'content' = {
  "title": "Join the Ember Initiative!",
  "text": "Sponsor the Ember Initiative, allowing our team to work on Ember full time, and secure the future of Ember and your investment in it.",
  "linkUrl": "/contact/?service=ember+initiative",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('purple', 'default', content) }}

<section class="mt-5">
  {%
    set imageData = {
    "imgPath": "/assets/images/ember-initiative/ember-initiative-sponsors-visual.jpg",
    "alt": "Ember initiative sponsor logos",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="text-section">
  <div class="container container--lg">
    <h2 class="h2">Why Sponsor?</h2>
    <p class="text-section__text">
      Companies that have invested into Ember depend on the healthiness and longevity of the
      ecosystem. They cannot risk Ember becoming legacy technology, requiring expensive rewrites in
      the worst case. Supporting the Ember initiative for them means securing much larger
      investments they have made in the technology. Depending on the sponsorship tier, sponsors
      further benefit from regular office hours and pairing sessions, as well as being able to
      contribute to the initiative's quarterly roadmap.
      <a href="/contact/?service=ember+initiative">Contact us</a> to get on board!
    </p>
  </div>
</section>

{% set logoCompanies = ['ticketsolve', 'intercom', 'lighthouse', 'auditboard', 'crowdstrike', 'hashicorp', 'xbe', 'teamtailor', 'hotdoc', 'isaac-lee', 'solute', 'triptyk', 'ember-checkup', 'redpencil', 'productive', 'skovik', 'yapplabs', 'adfinis', 'emergent-tree'] %}
{% set title = 'The Ember and Embroider initiatives are supported by a large group of individuals and companies that build on Ember' %}
{{ logoList(logoCompanies, title) }}
{%
  set 'content' = {
  "title": "Join the Ember Initiative!",
  "text": "Sponsor the Ember Initiative, allowing our team to work on Ember full time, and secure the future of Ember and your investment in it.",
  "linkUrl": "/contact/?service=ember+initiative",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
