---
layout: base
title: Ember Initiative
description: "Mainmatter's Ember Initiative moves the ecosystem and our members' apps forward."
permalink: /ember-initiative/
og:
  image: /assets/images/ember-initiative/og-image.jpg
---

{% from "color-hero.njk" import colorHero %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "logo-list.njk" import logoList %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "featured-services.njk" import featuredServices %}
{%
  set 'content' = {
  "title": "The Ember Initiative",
  "text": "Mainmatter’s Ember Initiative advances the Ember ecosystem to protect our members' investments in the framework. We drive critical projects and support members through modernizing their apps. We build on top of the success of the Embroider initiative.",
  "image": "/assets/images/ember/ember-consulting.jpeg",
  "alt": "A group of hamsters",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}
{%
  set 'content' = {
  "title": "Membership Benefits",
  "subtitle": "Advancing the Ember ecosystem",
  "text": "Mainmatter's team works on Ember topics that are critical for the Ember ecosystem and every company that has built on Ember. Initiative members invest in Ember's future as well as the healthiness of their own codebases."
  }
%}
{{ featuredServices(emberInitiative['ember'], content) }}

{%
  set 'content' = {
  "title": "Join the Ember Initiative!",
  "text": "Invest in Ember's future and future-proof your codebase.",
  "linkUrl": "/contact/?service=ember+initiative",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('aqua', 'default', content) }}

<section class="mt-5">
  {%
    set imageData = {
    "imgPath": "/assets/images/ember-initiative/ember-initiative-sponsors.jpg",
    "alt": "Ember initiative sponsor logos",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="text-section">
  <div class="container container--lg">
    <h2 class="h2">Why Invest?</h2>
    <p class="text-section__text">
      Companies that rely on Ember need the framework to stay healthy and future-proof. Letting
      Ember slip into legacy status would risk costly rewrites. By joining the Ember Initiative, you
      protect the larger investments you’ve already made and gain our team’s support to modernize
      your apps and overcome blockers.
      <a href="/contact/?service=ember+initiative">Get in touch</a> to join!
    </p>
  </div>
</section>

{% set logoCompanies = ['ticketsolve', 'intercom', 'lighthouse', 'auditboard', 'crowdstrike', 'hashicorp', 'xbe', 'teamtailor', 'hotdoc', 'isaac-lee', 'solute', 'triptyk', 'ember-checkup', 'redpencil', 'productive', 'skovik', 'yapplabs', 'adfinis', 'emergent-tree'] %}
{% set title = 'Companies that build on Ember join the Ember and Embroider initiatives' %}
{{ logoList(logoCompanies, title) }}
{%
  set 'content' = {
  "title": "Join the Ember Initiative!",
  "text": "Invest in Ember's future and future-proof your codebase.",
  "linkUrl": "/contact/?service=ember+initiative",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('aqua', 'full', content) }}
