---
layout: base
title: We upgrade Ember apps to Embroider and Vite
description: Mainmatter upgrades clients' apps to Embroider and Vite – while the client's team stays focused on delivering value to their users.
permalink: /embroider-vite-upgrade/
og:
  image: /assets/images/embroider-initiative/og-image.jpg
---

{% from "color-hero.njk" import colorHero %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "logo-list.njk" import logoList %}
{% from "strategy-list.njk" import strategyList %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "featured-services.njk" import featuredServices %}
{%
  set 'content' = {
  "title": "We switch Ember apps to <nobr>Vite ⚡</nobr>️",
  "subheading": "We are the team behind the <a href=\"/embroider-initiative/\">Embroider initiative</a>",
  "text": "Mainmatter upgrades Ember apps to Embroider and Vite, reducing rebuild times from several seconds to instant. We plan and execute the roadmap to Vite step-by-step, ensuring the work doesn't interfere with your team's feature delivery.",
  "image": "/assets/images/hero/yarns.jpg",
  "alt": "Multiple yarns arranged so that a heart shape remains in the middle",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-4">
      <h3 class="mb-2">Gain without pain</h3>
      <p class="body">
        Following the successful Embroider initative, a path was opened to build Ember apps with
        Vite. This allows for instant rebuilds where teams are currently struggling from build times
        of multiple seconds that are affecting efficiency and velocity.
      </p>
      [TODO: add image on how much faster Vite is]
      <p class="body">
        Yet, switching to Vite may be challenging due to outdated Ember versions, addons, or
        patterns. Also, assigning teams to prioritize such upgrades, at the expense of slowing down
        feature work, is a tough sell at most companies, often leading to these tasks being
        neglected. Mainmatter is uniquely positioned to take on projects like that, with years of
        Ember experience and numerous upgrade projects under our belt. As the team being the
        <a href="/embroider-initiative">Embroider initiative</a>, we understand the necessary
        changes, how to implement them for minimal disruption, and how to avoid potential issues.
      </p>
    </div>
  </div>
</section>

{%
  set 'list_1' = {
  "title": "Assess the status quo of your codebase and develop a roadmap towards Embroider, and eventually Vite."
  }
%}
{%
  set 'list_2' = {
  "title": "Implement the roadmap in small increments to avoid disrupting your team's workflow."
  }
%}
{%
  set 'list_3' = {
  "title": "As we introduce new patterns and dependencies, we will mentor your team to ensure they follow these changes."
  }
%}
{% set elements = [list_1, list_2, list_3] %}
{{ strategyList('team-reinforcement', 'We’ll work with you to:', elements) }}
{%
  set 'content' = {
  "title": "Get your app on Vite!",
  "text": "Benefit from instant rebuilds while your teams stays focused on delivering business value.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('aqua', 'full', content) }}
