---
layout: base-energy
title: Embroider Initiative
description: Mainmatter, together with a group of sponsors, is working on an initiative to ship Embroider and secure the ecosystem’s investment in Ember.js.
permalink: /embroider-initiative/
og:
  image: /assets/images/embroider-initiative/og-image.png
---

{% from "color-hero-energy.njk" import colorHero %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "logo-list.njk" import logoList %}
{% from "btn-secondary.njk" import btnSecondary %}

{% set 'content' = {
  "title": "The Embroider Initiative",
  "text": "Mainmatter, together with a group of sponsors, is working on an initiative to ship Embroider and secure the ecosystem’s investment in Ember.js."
} %}
{{ colorHero('purple', content) }}

<section class="featured-services container container--lg">
  <h2 class="featured-services__title h5">The Initiative’s Goals</h2>
  <div class="featured-services__list-wrapper">
    <h3 class="h2">Shipping Embroider & making it mainstream</h3>
    <ul class="featured-services__list">
      <li class="featured-services__list-item">
        <p class="featured-services__link h4">
          {% include 'svg/arrow.njk' %}
          <span class="featured-services__link-text">Completing Embroider itself</span>
        </p>
      </li>
      <li class="featured-services__list-item">
        <p class="featured-services__link h4">
          {% include 'svg/arrow.njk' %}
          <span class="featured-services__link-text">Making Embroider the default for new apps and addons</span>
        </p>
      </li>
      <li class="featured-services__list-item">
        <p class="featured-services__link h4">
          {% include 'svg/arrow.njk' %}
          <span class="featured-services__link-text">Kickstarting development of an Ember plugin for Vite</span>
        </p>
      </li>
    </ul>
  </div>
  <p class="featured-services__text">Mainmatter assigns a team of 2 people to work on Embroider full time with guidance and support from Ed Faulkner. Join the initiative to help us extend that timeline and with that the scope of what the initiative will achieve.</p>
</section>

<section class="embroider-sponsors my-10">
  <div class="container container--xl">
    <div class="embroider-sponsors__intro">
      <h2 class="mb-2">The Embroider Initiative</h2>
      <p class="large">
      Mainmatter, together with a group of sponsors, is working on an initiative to ship Embroider and secure the ecosystem’s investment in Ember.js.
    </p>
      {% set link = {
        "label": 'Join the Embroider initiative ',
        "url": '/embroider-initiative/'
      }
    %}
      {{ btnSecondary( link, 'mt-3' )}}
    </div>
    {% include 'content/embroider-sponsors.njk' %}
  </div>
</section>

<section class="text-section">
  <div class="container container--lg">
    <h2 class="h2">The Importance of Embroider</h2>
    <p class="text-section__text">Embroider is of crucial importance for the future of Ember. It will enable new capabilities planned for Polaris, allow decreasing bundle sizes, and open a path towards to benefitting from modern build tooling like Vite. Embroider remaining unshipped represents a substantial risk for the entire Ember ecosystem and for the investments that companies have made that build on Ember.</p>
  </div>
</section>

{% set logoCompanies = ['ticketsolve', 'intercom', 'lighthouse', 'hashicorp', 'xbe', 'hotdoc', 'isaac-lee', 'solute', 'triptyk', 'ember-checkup', 'redpencil', 'productive', 'skovik', 'yapplabs', 'adfinis' ] %}
{% set title = 'Companies and individuals that build on Ember support the initiative to secure the future of their investments.' %}
{{ logoList(logoCompanies, title) }}

{% set 'content' = {
"title": "Join the Embroider Initiative!",
"text": "Sponsor the Embroider Initiative, help us ship Embroider, and secure the future of Ember and your investment in it.",
"linkUrl": "/contact/",
"linkText": "Get in touch",
"image": "/assets/images/photos/laptop-detail.jpg",
"alt": "The back of a notebook with a bavarian Ember Tomster sticker on it, wearning Lederhosn",
"loading": "lazy"
} %}
{{ colorHero('center', 'small', 'aqua', content, true) }}
