---
layout: base
title: Embroider Initiative
description: Mainmatter, together with a group of sponsors, is working on an initiative to ship Embroider and secure the ecosystem’s investment in Ember.js.
permalink: /embroider-initiative/
og:
  image: /assets/images/embroider-initiative/og-image.jpg
---

{% from "color-hero.njk" import colorHero %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "logo-list.njk" import logoList %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "featured-services.njk" import featuredServices %}
{%
  set 'content' = {
  "title": "The Embroider Initiative",
  "text": "Mainmatter, together with a group of sponsors, is working on an initiative to ship Embroider and secure the ecosystem’s investment in Ember.js.",
  "image": "/assets/images/hero/embroider.jpeg",
  "alt": "Different thread bobbins for embroidery",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}
{%
  set 'content' = {
  "title": "The Initiative’s Goals",
  "subtitle": "Shipping Embroider & making it mainstream",
  "text": "Mainmatter assigns a team of 2 people to work on Embroider full time with guidance and support from Ed Faulkner. Join the initiative to help us extend that timeline and with that the scope of what the initiative will achieve."
  }
%}
{{ featuredServices(embroider['embroider'], content) }}

<section class="embroider-sponsors my-10">
  <div class="container container--xl">{% include 'content/embroider-sponsors.njk' %}</div>
</section>

<section class="text-section">
  <div class="container container--lg">
    <h2 class="h2">The Importance of Embroider</h2>
    <p class="text-section__text">
      Embroider is of crucial importance for the future of Ember. It will enable new capabilities
      planned for Polaris, allow decreasing bundle sizes, and open a path towards to benefitting
      from modern build tooling like Vite. Embroider remaining unshipped represents a substantial
      risk for the entire Ember ecosystem and for the investments that companies have made that
      build on Ember.
    </p>
  </div>
</section>

{% set logoCompanies = ['ticketsolve', 'intercom', 'lighthouse', 'auditboard', 'crowdstrike', 'hashicorp', 'xbe', 'teamtailor', 'hotdoc', 'isaac-lee', 'solute', 'triptyk', 'ember-checkup', 'redpencil', 'productive', 'skovik', 'yapplabs', 'adfinis', 'emergent-tree'] %}
{% set title = 'Companies and individuals that build on Ember support the initiative to secure the future of their investments.' %}
{{ logoList(logoCompanies, title) }}
{%
  set 'content' = {
  "title": "Get your Ember app on <nobr>Vite ⚡</nobr>️",
  "text": "We upgrades clients' apps to Embroider and Vite – get instant rebuilds while your team stays focused on shipping business value!",
  "linkUrl": "/embroider-vite-upgrade/",
  "linkText": "Give your team an efficiency boost!"
  }
%}
{{ ctaBanner('aqua', 'full', content) }}
{%
  set 'content' = {
  "title": "Join the Embroider Initiative!",
  "text": "Sponsor the Embroider Initiative, help us ship Embroider, and secure the future of Ember and your investment in it.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
