---
layout: 'base-energy'
title: Events
description: Find out about upcoming events, conferences and meetups we will be attending or organizing.
---

{% from "color-hero-energy.njk" import colorHero %}
{% from "event-card.njk" import eventCard %}
{% from "talk-banner.njk" import talkBanner %}
{% from "talk-card.njk" import talkCard %}
{% from "cta-link.njk" import ctaLink %}
{% from "btn-primary.njk" import btnPrimary %}
{% from "cta-banner.njk" import ctaBanner %}

{% set 'content' = {
  "title": "Guidance from our team of trusted industry experts"
} %}
{{ colorHero('black', content) }}

<div class="section container container--lg">
  <div class="section__introduction">
    <h2 class="section__title h4">Mainmatter's guiding principles of collaboration and knowledge transfer extend well beyond our client
      work.</h2>
    <p>Find out about upcoming events, conferences and meetups we will be attending or organizing.</p>
  </div>
</div>

{% if collections.calendar.length > 0 %}
  <section class="section">
    <div class="container container--xl">
      <h2 class="section__introduction h5">Upcoming events</h2>
    </div>
    <div class="event-cards__wrapper">
      <ul class="event-cards">
        {% for event in collections.calendar %}
        {{ eventCard(event) }}
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

<section class="section">
  <div class="container container--xl">
    <h2 class="section__introduction h5">Browse our past talks</h2>
  </div>
  <div class="talks__container">
    <ol class="talks__list">
      {% for appearance in collections.appearances %}
        {% if loop.index === 1 %}
          <li class="talks__item talks__item--full-width">
            {{ talkBanner(appearance, "black") }}
          </li>
        {% elif loop.index < 6 %}
          <li class="talks__item">
            {{ talkCard(appearance, "black") }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    {% if collections.appearances.length > 7 %}
    <div class="talks_pagination">
      <a href="/talks/#more-talks" class="btn-secondary h4 videos">
          <span class="btn-secondary__text">Load more videos</span>
          {% include 'svg/arrow.njk' %}
        </a>
    </div>
    {% endif %}

  </div>
</section>

{% set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('aqua', 'full', content) }}
