---
layout: base
title: Expert Insights
description: Our interview series goes behind the scenes to uncover the path to successful product development from an insider's perspective.
permalink: /resources/expert-insights/
eleventyNavigation:
  key: Expert Insights
  parent: Resources
---
{% from "video-card.njk" import videoCard %}
{% from "split-hero.njk" import splitHero %}

<section class="section container container--lg">
  <div class="section__introduction container--xs">
    <h2 class="section__title">Expert Insights</h2>
    <p>Our interview series goes behind the scenes to uncover the path to successful product development from an insider's perspective.</p>
  </div>
  <ul class="video-cards">
    {% set videos = collections.videos | filterByAttribute('kind', 'built-to-last') %}
    {%- for video in videos -%}
      {%- if video.data.kind == 'built-to-last' -%}
        <li class="video-card__item">
          {{ videoCard(video) }}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>

{% set 'content' = {
  "title": "Are you a startup founder? Get in touch!",
  "text": "We are always looking for startup founders to learn from. Let's talk.",
  "linkUrl": "https://docs.google.com/forms/d/e/1FAIpQLSeqUUG0-9BrLTUKomEbTbLef3H00iq8oUWmwR_dqeaqV7Ny6Q/viewform",
  "linkText": "Become a guest",
  "image": "/assets/images/photos/0028-1.jpg",
  "alt": "Two sets of people having a conversation",
  "loading": "lazy"
} %}
{{ splitHero('left', 'purple', content) }}

{% include 'content/hero-playbook.njk' %}
