---
layout: base
title: Imprint
permalink: /imprint/
---

<div class="policy">
  <div class="container container--lg rte">
    <h1 class="policy__title">Imprint</h1>
    <h2 class="policy__subtitle">
      Publisher information according to §6 Teledienstgesetz (TDG)
    </h2>
    <p>
      Responsible according to §6 MDStV:<br>
    </p>
    <br>
    <address class="policy__address">
      simplabs GmbH
      <br />
      +49 89 452 139 03
      <br />
      Marco Otte-Witte
      <br />
      Hans-Sachs-Str. 12
      <br />
      München, 80469 Germany
      <br />
      info@simplabs.com
    </address>
    <p>
      Court of Registry: Amtsgericht München
      <br />
      Registration Number: HRB 217887
    </p>
    <p>
      EU VAT ID: DE299706241
    </p>
    <br>
    <h2 class="policy__subtitle h4">
      Exclusion of Liability
    </h2>
    <p>
      We check and update the information on this website constantly. Despite all accurateness, the data can change in the
      meantime. Liability concerning timeliness, correctness and completeness of the available information can not be assumed.
      This applies also for all other websites which are referred via hyperlink. I am not responsible for the content of these
      websites.
    </p>
  </div>
</div>