---
layout: 'base-energy'
title: null
---

{% from "color-hero-energy.njk" import colorHero %}
{% from "featured-services.njk" import featuredServices %}
{% from "logo-list.njk" import logoList %}
{% from "featured-case-studies.njk" import featuredCaseStudies %}
{% from "image-banner-with-text.njk" import imageBannerWithText %}
{% from "cta-banner.njk" import ctaBanner %}

{% set 'content' = {
  "title": "Your expert guides for the journey ahead",
  "text": "It takes brains to develop a no-brainer. At Mainmatter we teach, cross-pollinate and collaborate with our clients to develop digital products and practices they can build on."
} %}
{{ colorHero('purple', content) }}
{% set 'content' = {
  "title": "Discover our services",
  "subtitle": "Transform bold ideas into shipped products",
  "text": "Our team of experts delivers everything from ideation to design and engineering. We can turn any idea sketched on the back of a napkin into a production-ready application."
} %}
{{ featuredServices(services['services-list-energy'], content) }}
{% set logoCompanies = ['Qonto', 'Trainline', 'Aleph Alpha', 'Timify', 'Experteer', 'Robin Hood', 'Rail Europe' ] %}
{{ logoList(logoCompanies) }}
{% set clients = ['qonto', 'experteer', 'trainline', 'mvb'] %}
{{ featuredCaseStudies(clients, 'Browse our work') }}
{% set 'content' = {
  "title": "Why mainmatter",
  "subtitle": "We are a team of developers, inventors, designers, strategists, artists and storytellers. We work remotely from 9 countries in Europe and we believe in recruiting top talents from any location.",
  "text": "<p>That said, we still value face time. We frequently come together for team events and workshops, and invite our clients to join us as well.</p>",
  "linkUrl": "/playbook",
  "linkText": "Learn about our technologies expertise",
  "image": "/assets/images/photos/mainmatter-team.jpg",
  "alt": "Group photo of mainmatter team",
  "loading": "lazy"
} %}
{{ imageBannerWithText(content) }}

{% set 'content' = {
  "title": "Download our playbook",
  "text": "We can walk alongside you on a journey from zero to hero, starting from the basics of the language all the way to advanced testing techniques and comprehensive telemetry instrumentation.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('purple', 'default', content) }}

{% set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('aqua', 'full', content) }}

