---
layout: base
title: Our Playbook
description: Our playbook describes methodologies for building sustainable digital products and provides guidance for teams of all sizes, on-site or remote.
permalink: /playbook/
---

{% from "color-hero.njk" import colorHero %}
{% from "text-with-list.njk" import textWithList %}

{% set 'content' = {
"title": "Build <em>lasting</em> products systematically",
"titleTag": "h1",
"image": "/assets/images/playbook/playbook.jpg",
"alt": "Close-up of multicolor constructor blocks",
"loading": "eager"
} %}
{{ colorHero('center', 'large', 'black', false, content) }}

{% set content = {
"title": "Our playbook",
"subtitle": "For big and small teams — on-site or remote",
"text": "The patterns and practices in our playbook work for teams and companies of all sizes and all kinds of projects: whether
it’s an established company aiming for a remote-friendly process, a founder setting up their own product team or
individuals looking to make their team more effective.",
"listType": "unordered",
"list": ["Collaborating closely among all stakeholders", "Iterating in small, functional increments", "Validating assumptions early and often",
"Supporting remote teams through transparency", "Delivering products with sustainable foundations"],
"linkUrl": "https://github.com/simplabs/playbook/releases/download/1.1/simplabs-Playbook.pdf",
"linkText": "Download our playbook"
} %}
{{ textWithList(content) }}

{% set 'content' = {
"title": "Grow <em>your business</em> with us",
"text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
"linkUrl": "/contact/",
"linkText": "Get in touch",
"image": "/assets/images/photos/grow-with-us-playbook.jpg",
"alt": "Hands gesturing in front of laptop",
"loading": "lazy"
} %}
{{ colorHero('center', 'small', 'purple', true, content) }}
