---
layout: base
title: Our Playbook
description: Our playbook describes methodologies for building sustainable digital products and provides guidance for teams of all sizes, on-site or remote.
permalink: /playbook/
---

{% from "color-hero.njk" import colorHero %}
{% from "text-with-list.njk" import textWithList %}
{% from "cta-link.njk" import ctaLink %}

{% set 'content' = {
"title": "Build <em>lasting</em> products systematically",
"titleTag": "h1",
"image": "/assets/images/playbook/playbook.jpg",
"alt": "Close-up of multicolor constructor blocks",
"loading": "eager"
} %}
{{ colorHero('center', 'large', 'black', content) }}

{% set content = {
"title": "Our playbook",
"subtitle": "For big and small teams — on-site or remote",
"text": "The patterns and practices in our playbook work for teams and companies of all sizes and all kinds of projects: whether
it’s an established company aiming for a remote-friendly process, a founder setting up their own product team or
individuals looking to make their team more effective.",
"listType": "unordered",
"list": ["Collaborating closely among all stakeholders", "Iterating in small, functional increments", "Validating assumptions early and often",
"Supporting remote teams through transparency", "Delivering products with sustainable foundations"],
"linkUrl": "https://github.com/simplabs/playbook/releases/download/1.1/simplabs-Playbook.pdf",
"linkText": "Download our playbook"
} %}
{{ textWithList(content) }}

{% set 'slide_1' = {
"color": "purple",
"tagline": "Organization of this book",
"title": "1. Digital product projects",
"text": "Iterating in small increments and validating assumptions at every step of the process allows addressing business needs
with digital products effectively.",
"linkUrl": "https://github.com/simplabs/playbook/releases/download/1.1/simplabs-Playbook.pdf",
"linkText": "Download the playbook"
} %}

{% set 'slide_2' = {
"color": "black",
"tagline": "Organization of this book",
"title": "2. Development Process",
"text": "Organizing and preparing work based on the input of all project shareholders maximizes a team's effectiveness and output
quality.",
"linkUrl": "https://github.com/simplabs/playbook/releases/download/1.1/simplabs-Playbook.pdf",
"linkText": "Download the playbook"
} %}

{% set slides = [slide_1, slide_2] %}

<section class="scroll-slides" id="scroll-slides">
  {% for slide in slides %}
  {% set slideIndex = loop.index %}
  <div id="playbook-slide-{{ loop.index }}" class="scroll-slides__slide scroll-slides__slide--{{ slide.color }}"
    data-scroll-slide data-background-color="{{ slide.color }}">
    <div class="scroll-slides__container container container--xl">
      <div class="scroll-slides__pagination" aria-hidden="true">
        {% for slide in slides %}
        <span class="scroll-slides__pagination-item">
          <span href="{{ pageUrl }}#{{ id }}-slide-{{ loop.index }}" class="scroll-slides__pagination-button">
            <span class="screenreader">Slide {{ loop.index }}{% if slideIndex == loop.index %} (Current slide){% endif
              %}</span>
            <span
              class="scroll-slides__pagination-span{% if slideIndex == loop.index %} scroll-slides__pagination-span--active{% endif %}"
              aria-hidden></span>
          </span>
        </span>
        {% endfor %}
      </div>
      <div class="scroll-slides__content">
        <p class="scroll-slides__tagline h5">{{ slide.tagline }}</p>
        <h2 class="scroll-slides__title">{{ slide.title }}</h2>
        <p class="scroll-slides__text">{{ slide.text }}</p>
        {% if slide.linkUrl and slide.linkText %}
        {{ ctaLink(slide.linkUrl, slide.linkText, '') }}
        {% endif %}
      </div>
      <div class="scroll-slides__image-wrapper">
        {% image '/assets/images/playbook/playbook-cover.jpg', 'Mainmatter Playbook cover', '20rem', 'lazy', 'scroll-slides__image', [640] %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>

{% set 'content' = {
"title": "Grow <em>your business</em> with us",
"text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
"linkUrl": "/contact/",
"linkText": "Get in touch",
"image": "/assets/images/photos/grow-with-us-playbook.jpg",
"alt": "Hands gesturing in front of laptop",
"loading": "lazy"
} %}
{{ colorHero('center', 'small', 'purple', content) }}
