---
layout: 'base'
title: Talks, Workshops &amp; Podcasts
eleventyNavigation:
  key: Resources
  order: 40
---
{% from "split-hero.njk" import splitHero %}
{% from "video-card.njk" import videoCard %}
{% from "workshop-card.njk" import workshopCard %}

{% set 'content' = {
  "title": "Real-world tips from <em>simplabs</em>",
  "text": "Learn practical improvements to help your team tap into its full potential, and set up the infrastructure and practices that are the foundation for sustainable development.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ splitHero('left', 'yellow', content) }}

<section class="section container container--lg">
  <div class="section__introduction container--xs">
    <h2 class="section__title">Expert Insights</h2>
    <p>Our interview series goes behind-the-scenes into what successful product development practices look like from tech and startup insiders’ perspectives.</p>
  </div>
  <ul class="video-cards">
    {% set videos = collections.videos | filterByAttribute('kind', 'built-to-last') | limit(3) %}
    {%- for video in videos -%}
      {%- if video.data.kind == 'built-to-last' -%}
        {{ videoCard(video) }}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>

{% set talk = '2020-12-10-the-three-pillars-of-successful-digital-product-development' | findBySlug %}
{% set 'content' = {
  "title": talk.data.title,
  "text": talk.data.teaser,
  "image": talk.data.image,
  "alt": talk.data.imageAlt,
  "loading": "lazy",
  "tags": talk.data.tags,
  "linkUrl": talk.url,
  "linkText": "Find out more"
} %}
{{ splitHero('left', 'blue', content) }}

<section class="section container container--lg">
  <div class="section__introduction container--xs">
    <h2 class="section__title">Workshops</h2>
    <p>Designed to help teams build sustainable products that work well and keep working well.</p>
  </div>
  <ul class="workshop-cards">
    {% set workshops = collections.workshops  | limit(3) %}
    {%- for workshop in workshops -%}
      {{ workshopCard(workshop) }}
    {%- endfor -%}
  </ul>
</section>

{% include 'content/hero-playbook.njk' %}
