---
layout: base
title: We're veteran Ruby and Ruby on Rails consultants
description: Mainmatter works with teams that build on Ruby and Ruby on Rails. We help pushing through bottlenecks, provide a fresh perspective, and modernize tech stacks.
permalink: /ruby-rails-consulting/
og:
  image: /assets/images/ruby/lp-ruby-consulting-og-image.jpg
---

{% from "image-banner-with-text.njk" import imageBannerWithText %}
{% from "recent-posts.njk" import recentPosts %}
{% from "logo-list.njk" import logoList %}
{% from "cta-link.njk" import ctaLink %}
{% from "scroll-slides.njk" import scrollSlides %}
{% from "client-cards.njk" import clientCards %}
{% from "quote.njk" import quote %}

<section class="color-hero color-hero--purple" data-background-color="purple">
  <div class="color-hero__image-wrapper">
    {%
      image '/assets/images/photos/notebook-on-table.jpg', 'Notebook on a table, seen from the side', '100vw', 'eager',
      'color-hero__image', [760, 1440, 1920]
    %}
  </div>
  <div class="color-hero__overlay"></div>
  <div class="color-hero__container container container--lg color-hero__container--center">
    <div class="color-hero__main">
      {% set imagePath %}/assets/images/logos/ruby.svg{% endset %}
      <img class="expertise__logo" src="{{ imagePath }}" alt="Ruby logo" />
      <h1 class="color-hero__title color-hero__title--full ">
        We're veteran Ruby and Ruby on Rails experts
      </h1>
      <div class="color-hero__text color-hero__text--large">
        <p>
          The Mainmatter team has been an active part of the Ruby and Rails communities since the
          early days – from the first "whoops" to the latest release.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="split-content">
  <div class="container container--lg">
    <h2 class="h5">Ruby, Rails & Mainmatter</h2>
    <h3 class="split-content__subheading h2">Decades of experience</h3>
    <div class="split-content__content">
      <div class="split-content__text">
        <p>
          Rails famously scales from Hello World to IPO and we've partnered with many companies at
          all stages on that scaling journey over the past decades. Whatever challenges might lie
          along the way, we've seen and supported countless teams to overcome them.
        </p>
        <p>
          We also deeply understand the technical foundations and are an active member of the open
          source ecosystem – contributing to open source, sharing our expertise in writing as well
          as speaking and organizing international events. We're not just mere users of technology –
          our ambition is to contribute to shaping them.
        </p>
      </div>
    </div>
  </div>
</section>

{%
  set logoCompanies = [
  'clark',
  'erdil',
  'experteer',
  'hop-skip-drive',
  'medify',
  'phorest',
  'qonto',
  'rail-europe',
  'robin-hood',
  'sutori',
  'terminal49',
  'trainline',
  'xbav'
  ]
%}
{% set title = 'We are trusted by international companies that build on Ruby and Ruby on Rails' %}
{{ logoList(logoCompanies, title, "h4", "h5") }}
{%
  set 'slide_1' = {
  "color": "purple",
  "title": "Team Augmentation",
  "text": "Hiring senior Ruby talent can be a challenge. We help getting through bottlenecks – our experts merge with your in-house engineering teams to ensure the timely delivery of mission-critical projects. We’re more than hired hands – we'll assess and challenge the status quo, identify problems in code and architecture and support your team overcoming challenges, e.g. around maintainability or scalability.",
  "linkUrl": "/contact/",
  "linkClass": "plausible-event-name=Ruby+Contact",
  "linkText": "Work with us!"
  }
%}
{%
  set 'slide_2' = {
  "color": "white",
  "title": "Tech Stack Modernization",
  "text": "Updating your  codebase shouldn’t stop your development in its tracks. We help you upgrade legacy code and leave technical debt behind – all while your team stays focussed on the roadmap. Our experts can take on the whole upgrade from the reviewing, planning and implementation – at a cost advantage over a complete rewrite later down the line. And we only call it a job well done when we leave your team with the know-how to keep up with future versions.",
  "linkUrl": "/contact/",
  "linkClass": "plausible-event-name=Ruby+Contact",
  "linkText": "Work with us!"
  }
%}
{%
  set 'slide_3' = {
  "color": "aqua",
  "title": "Custom Development",
  "text": "We design and develop complete web apps with Ruby on Rails so your team can focus on other initiatives. We are experts in building large and complex web apps and have proven our capabilities in many successful projects with international clients. Our team delivers high quality codebases as well as the tooling and infrastructure needed for sustainable maintenance.",
  "linkUrl": "/contact/",
  "linkClass": "plausible-event-name=Ruby+Contact",
  "linkText": "Work with us!"
  }
%}
{% set slides = [slide_1, slide_2, slide_3] %}
{{ scrollSlides('ruby', slides, page.url) }}

<div class="container container--lg quote-section">
  {%
    set 'content' = {
    "text": "We started working with Mainmatter to build a state-of-the-art mobile web app from the ground up and it was an absolute success! Not only are they web specialists, but their expertise in development practices and agile processes made our collaboration an absolute delight.",
    "source": "Carl Anderson, General Manager at Trainline Europe",
    "image": "/assets/images/photos/carl-anderson.jpg",
    "alt": "Carl Anderson, looking at the camera wearing a checkered blue/grey shirt and white T-shirt",
    "loading": "lazy"
    }
  %}
  {{ quote(content) }}
</div>

<section class="ruby-work">
  <div class="work container container--xl">
    <ul class="work__list">
      {{ clientCards(['xbav', 'hop-skip-drive', 'robin-hood']) }}
    </ul>
  </div>
</section>

<section>{% include 'content/hero-grow-with-us.njk' %}</section>
