---
title: "Workshop: You can't fix what you can't see: telemetry for Rust applications"
description: "Your Rust application has finally been deployed to production! Nice! But is
  it working? This workshop will introduce you to a comprehensive toolkit to
  detect, troubleshoot and resolve issues in your Rust applications. This workshop
  is designed for developers who are operating Rust services in production-like
  environments, or are preparing to do so. Take part - in two afternoons from 13 to 14 december"
layout: false
og:
  image: /assets/images/rust-telemetry-workshop/rust-telemetry-og-image.png
---

{% from "color-hero.njk" import colorHero %}
{% from "author-socials.njk" import authorSocials %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "scroll-slides.njk" import scrollSlides %}
{% from "quote.njk" import quote %}
{% from "cta-banner.njk" import ctaBanner %}

<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>{{ title }}</title>
    {% include "global/fonts.njk" %}
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <link rel="stylesheet" href="/assets/css/workshop-lp.css"/>
    <script src="/assets/js/app.js" defer></script>
    {% block head %}
      {{ head | safe }}
    {% endblock %}
    {% include "global/meta.njk" %}
    {% include "global/icons.njk" %}

    <script src="https://js.tito.io/v2/" async></script>
    <script
      defer
      data-domain="rust-telemetry-workshop.mainmatter.com"
      src="https://plausible.io/js/script.tagged-events.outbound-links.js"
    ></script>
    <script>
      window.plausible = window.plausible || function () {
        (window.plausible.q = window.plausible.q || []).push(arguments)
      }
    </script>
  </head>
  <body data-js-enabled="false">
    <a class="skip-link" href="#main"> Skip to main content </a>

    <nav class="nav nav--accent-aqua" id="nav">
      <div class="nav__wrapper container container--xl">
        <div class="nav__logo">
          <a href="/">
            <h1 class="nav__brand">
              {% include 'svg/logo.njk' %}
              <span class="screenreader">Mainmatter</span>
            </h1>
          </a>
        </div>
        <div class="nav__aside">

        </div>
      </div>
    </nav>

    <main id="main">
      {% set 'hero' = {
        "eyebrow": 'Remote Workshop',
        "title": 'Telemetry for Rust applications',
        "text": '<div><a href="https://everytimezone.com/s/03cf783a">December 12th–13th, 2023 – 14:00 to 18:00 CET</a></div>
                <div>Take your Rust skills to the next level <strong>for 300€</strong>
                </div>'
      } %}
      {{ colorHero('purple', hero) }}

      {% set 'content' = {
      "title": "This workshop has already taken place",
      "text": "Take a look at our wide range of workshops to take your team to the next level",
      "linkUrl": "/services/workshops/",
      "linkText": "Our workshops"
      } %}
      {{ ctaBanner('aqua', 'default', content) }}

      {% set 'content' = {
        "title": "Grow your business with us",
        "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
        "linkUrl": "/contact",
        "linkText": "Get in touch"
      } %}
      {{ ctaBanner('purple', 'full', content) }}

    </main>
    {% include "global/footer.njk" %}
    <div aria-live="polite" id="live-region" class="screenreader"></div>
    <div hidden>
      <p id="external-new-window-message">Opens external website in a new window.</p>
    </div>
    <script>
      document
        .querySelector('body')
        .setAttribute('data-js-enabled', 'true');
    </script>
  </body>
</html>

