---
layout: base
title: "Expert Rust Support for Your Team, On Demand"
description: "Unlimited PR reviews, architecture help, and direct access to world-leading Rust experts — for a fixed monthly price."
permalink: /rust-subscription/
og:
  image: /assets/images/rust-subscription/og-image.jpg
---

{% from "logo-list.njk" import logoList %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "color-hero.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "quote.njk" import quote %}
{% from "featured-case-studies.njk" import featuredCaseStudies %}
{% from "featured-services.njk" import featuredServices %}
{% from "subscription-signup-form.njk" import subscriptionSignupForm %}
{%
  set 'content' = {
  "title": "Expert Rust Support for Your Team, On Demand",
  "text": "Unlimited PR reviews, architecture help, and direct access to world-leading Rust experts—for a fixed monthly price.",
  "image": "/assets/images/hero/rust-subscribe.jpg",
  "alt": "Crabs arranged in a pattern",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10 container container--lg">
  <div class="split-content no-link">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h5>Build on Rust with Confidence</h5>
        <h3 class="split-content__subheading h2">Rust Expertise on a Monthly Subscription</h3>
        <p>
          Our Rust experts, led by
          <a href="https://github.com/LukeMathWalker">Luca Palmieri</a>, review all of your Rust PRs
          and are only a Slack message away to answer any question your team runs into. We enable
          teams to ship faster, with higher quality, resolve blockers, level up juniors, and avoid
          dead-ends.
        </p>
        {%
          set link = {
          "label": 'Sign up today for 2.000€ per seat/month, cancel anytime',
          "url": '#signup-subscription'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-rust-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

{%
  set 'content' = {
  "subtitle": "Scale Your Rust Team Without Hiring"
  }
%}
{%
  set 'features' = [{
  "heading": "Unlimited PR Reviews",
  "text": "Ensure code quality, avoid pitfalls, and level up"
  },{
  "heading": "Private Slack Access",
  "text": "A direct line to Rust experts, 24h response time"
  },{
  "heading": "Weekly Dedicated Time",
  "text": "1h per week for pairing, whiteboard sessions or hiring support"
  },{
  "heading": "Optional Addons",
  "text": "On-demand trainings, hands-on delivery support, audits, and more"
  }]
%}
{{ featuredServices(features, content) }}
{%
  set 'content' = {
  "title": "Sign up for Rust Expert Support",
  "text": "Sign up today for <strong class=\"strong\">2.000€ per seat per month<sup>*</sup></strong>, with no long-term commitment—<strong class=\"strong\">cancel anytime.</strong><br><small class=\"small\"><sup>*</sup>20% discount for 10+ seats</small>",
  "kind": "rust"
  }
%}
{{ subscriptionSignupForm(content) }}

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Mainmatter & Rust</h5>
      <h3 class="mb-2">Deeply Committed to Rust</h3>
      <p>
        We’re not just Rust experts—we’re actively shaping the ecosystem. We are a member of the
        Rust Foundation, we organize EuroRust, speak at international conferences, published a Rust
        book, and contribute to open-source.
      </p>
      {%
        set link = {
        "label": 'Learn more about our work with Rust',
        "url": '/rust-consulting/'
        }
      %}
      {{ btnSecondary( link, 'mt-2' ) }}
    </div>
  </div>
</section>

{%
  set logoCompanies = [
  'Aleph Alpha',
  'KISTERS',
  'BMW Car IT',
  'Faculty',
  'Otto',
  'Redis'
  ]
%}
{% set title = 'We are trusted by international companies that bet on Rust' %}
{{ logoList(logoCompanies, title, "h4", "h5") }}

<section class="mb-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/rust/eurorust-crab.jpg",
    "alt": "People standing together in groups at EuroRust in conversations, a big, ca. 3min tall, inflatable Ferris in the background",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10">
  <h2 class="quotes-list__title h2">Our customers say about us</h2>
  <div class="container container--lg">
    {%
      set 'content' = {
      "text": "”Working with Mainmatter's experts has been a great experience. They helped us develop a state-of-the-art data pipeline, mentored our internal team and introduced several improvements around our Rust code and infrastructure along the way. I've learned so much, especially during our pairing sessions—it allowed me to improve my technical skills and grow as an engineer.”",
      "source": "Andreas Hartel, Senior Engineer at aleph alpha"
      }
    %}
    {{ quote(content) }}
    {%
      set 'content' = {
      "text": "”Working with Mainmatter's experts has always been a good experience. We can really feel that they have mastery on many topics, and knowledge about complex technical problems. I’ve learned so much, especially during our pairing sessions, and it allows me to improve my technical skills and growth as an engineer.”",
      "source": "Alexandre Monjol, Engineer at Qonto"
      }
    %}
    {{ quote(content, alignment='right') }}
    {%
      set 'content' = {
      "text": "”We started working with simplabs to build a state-of-the-art mobile web app from the ground up and it was an absolute success! Not only are they web specialists, but their expertise in development practices and agile processes made our collaboration an absolute delight.”",
      "source": "Carl Anderson, General Manager at Trainline Europe"
      }
    %}
    {{ quote(content) }}
  </div>
</section>

{% set clients = ['aleph-alpha', 'kisters', 'bmw-car-it', 'anondb'] %}
{{ featuredCaseStudies(clients, 'Browse our work') }}
{%
  set 'content' = {
  "title": "Sign up",
  "text": "Sign up today for 2.000€ per seat per month, cancel anytime.",
  "linkUrl": "#signup-subscription",
  "linkText": "Sign up"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
