---
layout: base-energy
title: Enable your team to leverage Rust
description: Mainmatter enables teams to adopt Rust in their web projects and increase performance, efficiency, and maintainability.
permalink: /rust-consulting/
og:
  image: /assets/images/rust/lp-rust-consulting-og-image.jpg
---

{% from "image-banner-with-text.njk" import imageBannerWithText %}
{% from "recent-posts.njk" import recentPosts %}
{% from "logo-list.njk" import logoList %}
{% from "cta-link.njk" import ctaLink %}
{% from "color-hero-energy.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "quote.njk" import quote %}
{% from 'featured-case-study.njk' import featuredCaseStudy %}


{% set 'content' = {
  "eyebrow": "Our Expertise: Rust",
  "title": "Rust is a competitive advantage",
  "text": "Rust checks all the boxes – performance, efficiency, maintainability, and great developer experience. Mainmatter is here to empower your team to fully realize those benefits in your web and backend projects.",
  "image": "/assets/images/hero/rust.jpg",
  "alt": "Crabs climbing a rock on a beach",
  "loading": "eager"
} %}
{{ colorHero('purple', content) }}

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Rust & Mainmatter</h5>
      <h3 class="mb-2">A unique skillset</h3>
      <p>We’re experts - our Rust team is led by Luca Palmieri, author of <a href="http://zero2prod.com">"Zero to Production in Rust"</a>, and we have been part of the Rust ecosystem for years, helping out the <a href="https://crates.io">crates.io</a> project.</p>
      <p>But we don't stop at Rust – we have developed big web apps and mentored teams on backend, frontend, design, as well as process and developer infrastructure for years. We know what it takes to connect everything together and deliver a delightful end-to-end experience.</p>
    </div>
  </div>
  <div class="split-content">
    <a href="https://foundation.rust-lang.org/" class="split-content__link"></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>Mainmatter is a Silver Member of the Rust Foundation</h4>
        {% set link = {
            "label": 'Learn more',
            "url": 'https://foundation.rust-lang.org/'
          }
          %}
        {{ btnSecondary( link, 'mt-2' )}}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-rust.njk' %}
      </div>
    </div>

  </div>
</section>

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">EuroRust</h5>
      <h3 class="mb-2">We run EuroRust</h3>
      <p>EuroRust 2023 was a big success - again: bigger venue, more speakers, onsite workshops, an after-party, and many opportunities to exchange with fellow Rustaceans.</p>
      <p>EuroRust 2024 is already in the planning. It will take place on the 10th and 11th of October 2024, host city tba.</p>
    </div>
  </div>
  <div class="split-content">
    <a href="https://www.youtube.com/playlist?list=PLh5-VpZ3SvUXLJ2xKnT1z12pTAUSgMAu7" class="split-content__link"></a>
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h4>All the talks from the previous editions are available on YouTube</h4>
        {% set link = {
            "label": 'Learn more',
            "url": 'https://www.youtube.com/playlist?list=PLh5-VpZ3SvUXLJ2xKnT1z12pTAUSgMAu7'
          }
          %}
        {{ btnSecondary( link, 'mt-2' )}}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-eurorust.njk' %}
      </div>
    </div>
  </div>
</section>

{% set logoCompanies = [
  'Rust Foundation',
  'arm',
  'Huawei',
  'Ferrocene',
  'Sentry',
  'Jetbrains',
  'Aleph Alpha',
  'Google',
  'Realm'
] %}
{% set title = 'Our EuroRust partners are betting on Rust' %}
{{ logoList(logoCompanies, title, "h4", "h5") }}

<section class="mb-10">
  {% set imageData = {
    "imgPath": "/assets/images/rust/eurorust.jpeg",
    "alt": "Server room",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
  } %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10 container container--lg">
  <div class="split-content">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h5>Book a free call</h5>
        <h3 class="split-content__subheading h2">Is Rust the right choice for us?</h3>
        <p>Every new technology brings its own risks - Rust is no exception. Luca Palmieri, the author of <a href="https://zero2prod.com">Zero to Production in Rust</a> and our in-house Rust expert, is here to help your team. You walk him through your company's usecase and your requirements and he’ll do his best to suggest the best course of action. Sometimes Rust is not the answer, but if it is, he’ll make sure you are on the right track.</p>
        {% set link = {
            "label": 'Book a 1:1 call with Luca',
            "url": 'https://calendly.com/luca-palmieri/is-rust-the-right-choice-for-us'
          }
          %}
        {{ btnSecondary( link, 'mt-2' )}}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-rust-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-10">
      <h3 class="mb-2">Custom Development</h3>
      <p class="body">
        We develop complete web and cloud apps with Rust so your team can focus on other initiatives. We have experience with all relevant crates like actix, axum, tokio, hyper, and more – and in fact teach others how to use those. Our team delivers high quality codebases as well as the tooling and infrastructure needed for sustainable maintenance.
      </p>
      {% set link = {
        "label": 'Work with us!',
        "url": '/contact/'
      }
 %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Rust+Contact' )}}
    </div>
    <div class="mb-10">
      <h3 class="mb-2">Training and Support</h3>
      <p class="body">
        There is excellent material out there for learning Rust on your own. But you might not have the luxury of time, or the in-house expertise, to upskill your entire team or overcome obstacles on your own. Our trainers are world-class experts and can design a learning path that best fits your needs.
      </p>
      {% set link = {
        "label": 'Check out our workshops!',
        "url": '/services/workshops/rust/'
      }
 %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Rust+Workshops' )}}
    </div>
    <div class="mb-10">
      <h3 class="mb-2">Team Reinforcement</h3>
      <p class="body">
        Rust is a young technology – hiring Senior talent can be a challenge.
        Our experts can merge with your in-house product teams to ensure the timely delivery of mission-critical projects. We’re more than hired hands – we mentor your team throughout the process to help lift productivity long after our collaboration ends.
      </p>
      {% set link = {
        "label": 'Work with us!',
        "url": '/contact/'
      }
 %}
      {{ btnSecondary( link, 'mt-2 plausible-event-name=Rust+Contact' )}}
    </div>

  </div>
</section>

<section class="mb-10">
  {% set imageData = {
    "imgPath": "/assets/images/rust/eurorust-2.jpeg",
    "alt": "Server room",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
  } %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10">
  <h2 class="quotes-list__title h2">Listen to our customers</h2>
  <div class="container container--lg">
    {% set 'content' = {
      "text": "”Working with Mainmatter's experts has been a great experience. They helped us develop a state-of-the-art data pipeline, mentored our internal team and introduced several improvements around our Rust code and infrastructure along the way. I've learned so much, especially during our pairing sessions—it allowed me to improve my technical skills and grow as an engineer.”",
      "source": "Andreas Hartel, Senior Engineer at aleph alpha"
    } %}
    {{ quote(content) }}

    {% set 'content' = {
      "text": "”Working with Mainmatter's experts has always been a good experience. We can really feel that they have mastery on many topics, and knowledge about complex technical problems. I’ve learned so much, especially during our pairing sessions, and it allows me to improve my technical skills and growth as an engineer.”",
      "source": "Alexandre Monjol, Engineer at Qonto"
    } %}
    {{ quote(content, alignment='right') }}

    {% set 'content' = {
      "text": "”We started working with simplabs to build a state-of-the-art mobile web app from the ground up and it was an absolute success! Not only are they web specialists, but their expertise in development practices and agile processes made our collaboration an absolute delight.”",
      "source": "Carl Anderson, General Manager at Trainline Europe"
    } %}
    {{ quote(content) }}

  </div>
</section>

<div class="work container container--xl">
  <ul class="work__list">
    {{ featuredCaseStudy('aleph-alpha', 'black', 'work__featured-case-study') }}
  </ul>
</div>

{{ recentPosts("Latest from our blog on the topic", collections.rustPosts) }}

{% set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('purple', 'full', content) }}
