---
layout: 'base'
title: Our Services - Build Better Products
permalink: /services/
eleventyNavigation:
  key: Services
  order: 10
---
{% from "split-hero.njk" import splitHero %}
{% from "image-with-text.njk" import imageWithText %}
{% from "column-list.njk" import columnList %}
{% from "color-hero.njk" import colorHero %}
{% from "image-with-text-stacked.njk" import imageWithTextStacked %}
{% from "quote.njk" import quote %}

{% set 'content' = {
  "title": "Your <em>expert</em> guides for the journey ahead",
  "text": "Our team of digital product experts has been down this road before. We can help you reach the future you envision.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ splitHero('left', 'aqua', content) }}

{% set 'content' = {
  "title": "What we do",
  "text": "Our team of digital product experts has been down this road before. We can help you reach the future you envision.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ imageWithText('right', content) }}

{{ columnList(principles.list, 'Principles') }}


{% set 'contentBlocks' = [{
  "title": "Product Strategy",
  "text": "We transform assumptions into knowledge through the careful implementation of structured methods. Both new and existing products stand to benefit from the clarification of concepts and goals.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
  "small": true
},{
  "title": "Product Design",
  "text": "Great product design is what converts casual users into enthusiastic fans. Complex functionality can still be approachable and delightful. We turn your vision into remarkable experiences through research, testing, and prototyping.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
},{
  "title": "Product Development",
  "text": "Fruitful collaboration requires trust. You will work with a dedicated team of experienced engineers and designers from start to finish.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
  "small": true
}] %}
{{ imageWithTextStacked('right', contentBlocks) }}


{% set 'content' = {
  "title": "Team augmentation",
  "text": "Our experts temporarily join your in-house engineering teams to increase code quality and throughput, and help to sustainably lift team productivity.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ splitHero('right', 'purple', content) }}

{% set 'content' = {
  "title": "Tailor-made training",
  "text": "We train and tutor engineering teams to set them up for long-term success. Support ranges from tailor-made workshops to code reviews and technical audits.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ splitHero('left', 'blue', content) }}

{% include 'content/hero-work-with-us.njk' %}
