---
layout: 'base'
title: Our Services - Build Better Products
permalink: /services/
eleventyNavigation:
  key: Services
  order: 10
---
{% from "split-hero.njk" import splitHero %}
{% from "image-with-text.njk" import imageWithText %}
{% from "column-list.njk" import columnList %}
{% from "color-hero.njk" import colorHero %}
{% from "image-with-text-stacked.njk" import imageWithTextStacked %}
{% from "quote.njk" import quote %}

{% set 'content' = {
  "title": "Developing web <em>applications</em> that are built to last",
  "text": "Product excellence through digital experiences that are clean, dependable, and architected for scale.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ splitHero('left', 'aqua', content) }}

{% set 'content' = {
  "title": "What we do",
  "text": "simplabs is a digital product consultancy that designs and develops mobile and web applications for clients around the globe. We have our roots in the open source community (we’re the foremost Ember.js team in Europe) and create digital products for clients that value code quality, robustness, dependability and honesty.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ imageWithText('right', content) }}

{{ columnList(principles.list, 'Our principles') }}

{% set 'content' = {
  "title": "Transform bold ideas into shipped products",
  "text": "Our team of experts delivers everything from ideation to design and engineering. We can turn any idea sketched on the back of a napkin into a final, shipped mobile or web application.",
  "linkUrl": "/services/",
  "linkText": "Find out more",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ colorHero('center', 'blue', content) }}

{% set 'contentBlocks' = [{
  "title": "Product Design",
  "text": "Great product design is what makes digital products tick. Research, rapid prototyping and testing turn your vision into remarkable experiences.",
  "linkUrl": "/services",
  "linkText": "Find out more",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
},{
  "title": "Product Development",
  "text": "From start to finish you work with the same team of experienced product experts, engineers and designers to bring your product to life.",
  "linkUrl": "/services/",
  "linkText": "Find out more",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
  "small": true
}] %}
{{ imageWithTextStacked('right', contentBlocks) }}


{% set text = "simplabs' experienced engineers delivered a solid and well architected foundation for our web app. They also helped us establish best practices and a lean process internally. Working with them was a pleasure." %}
{% set source = "Andreas Knürr, Timify CEO" %}
{{ quote('aqua', text, source, true) }}

{% set 'contentBlocks' = [{
  "title": "Team Augmentation",
  "text": "Our experts temporarily join your in-house engineering teams to increase code quality and throughput, and help sustainable lift team productivity.",
  "linkUrl": "/services",
  "linkText": "Find out more",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy",
  "small": true
},{
  "title": "Training & Support",
  "text": "We train and tutor engineering teams to set them up for long term success. Support ranges from tailor-made workshops to code reviews and technical audits.",
  "linkUrl": "/services",
  "linkText": "Find out more",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
}] %}
{{ imageWithTextStacked('right', contentBlocks) }}

{% set text = "simplabs are well known as the Ember.js experts and they absolutely live up to the expectations. They had an immediate as well as significant positive impact on both our velocity and quality of output." %}
{% set source = "Marc-Antoine Lacroix, Qonto CEO" %}
{{ quote('purple', text, source, true) }}

{% include 'content/hero-work-with-us.njk' %}
