---js
{
  title: "Startups",
  description: "Find out how can we help you grow your business.",
  layout: "base.njk",
  pagination: {
    data: "collections.posts",
    size: 3,
    alias: "posts",
    before: function(data) { return data.slice(1); }
  },
}
---

{% from "color-hero.njk" import colorHero %}
{% from "featured-services.njk" import featuredServices %}
{% from "logo-list.njk" import logoList %}
{% from "scroll-slides.njk" import scrollSlides %}
{% from "post-card.njk" import postCard %}
{% from "nav-pagination.njk" import navPagination %}


{% set 'content' = {
  "title": "Burst through your scale-up bottleneck. We'll be your <em>expert</em> guides.",
  "image": "/assets/images/photos/ship-containers.jpg",
  "text": "No business has “make or break” moments like a startup. At Mainmatter, we can instantly scale-up your team to develop digital products.
   Our experts teach, cross-pollinate and collaborate with our clients for results that go beyond the scope of the project.",
  "alt": "Ever Given, one of the largest container ship, in the Suez Canal",
  "loading": "eager",
  "titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'purple', content) }}

{% set 'content' = {
  "title": "Our Startup Ecosystem",
  "subtitle": "We support growth.",
  "text": "We teach, we mentor, we do. Our team of experts can help you strategically push through the next series of growth hurdles - from ideation to design to engineering."
} %}
{{ featuredServices(services['scaleup-services-list'], content) }}

{% set 'content' = {
  "title": "Instantly add years of <em>expertise</em> to your team to make your ideas happen faster.",
  "text": "We are a team of engineers, inventors, designers, strategists, artists and storytellers, but our titles don’t define how we work. Our processes are focused on helping you get the results you need. We partner with our clients to mentor, develop and grow - whether it's your product, your base, your team, or your bottom line.",
  "linkUrl": "/contact/",
  "linkText": "Get started with us today",
  "image": "/assets/images/photos/mainmatter-team-smiles-blur.jpg",
  "alt": "Team member leaning against wall taking notes while talking to three other team members",
  "loading": "lazy"
} %}
{{ colorHero('center', 'large', 'black', content) }}

<h3 class="success_stories__title">Discover our success stories</h3>
{% set logoCompanies = ['Qonto', 'Trainline', 'Cardstack', 'Timify', 'Experteer', 'Robin Hood', 'Dim3' ] %}
{{ logoList(logoCompanies) }}

{% set 'slide_1' = {
  "subtitle": "Team Augmentation & Growth",
  "color": "black",
  "title": "The team you needed yesterday, today.",
  "text": "Scale your team instantly and sustainably. We’ll work with your existing team to develop products, productivity, or best practices so you can keep growing, even after our collaboration ends.",
  "linkUrl": "/services/team-augmentation-and-training/",
  "linkText": "Get started with us today"
} %}

{% set 'slide_2' = {
  "subtitle": "Digital Product Development Support",
  "color": "white",
  "title": "The shortcut on your roadmap",
  "text": "We’ve got a proven track record as digital product developers. We collaborate with our clients from the strategy phases to validation to MVP and beyond. Our experienced team will get you to market.",
  "linkUrl": "/services/digital-products-and-design/",
  "linkText": "Learn more"
} %}

{% set 'slide_3' = {
  "subtitle": "Skills-focused workshops",
  "color": "purple",
  "title": "The future-proof, know-how investment",
  "text": "From engineering know-how to strategies that develop lasting success, our workshops will equip your team with the skills they need to make things happen.",
  "linkUrl": "/services/workshops/",
  "linkText": "Learn more"
} %}

{% set slides = [slide_1, slide_2, slide_3] %}
{{ scrollSlides('workshops', slides, page.url) }}

{% set 'content' = {
  "title": "Grow <em>your</em> business with us.",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact/",
  "linkText": "Get in touch",
  "image": "/assets/images/photos/planting.jpg",
  "alt": "Two people arranging plants in rounded transparent pot placed in a table surronded by other smaller pots with  plants.",
  "loading": "lazy"
} %}
{{ colorHero('center', 'large', 'black', content) }}

<div id="posts" class="container container--xl">
  <h5 class="posts__title h5">Read more about our work</h5>
  <ol class="post-cards">
    {%- for post in pagination.items -%}
      <li class="post-cards__item">
        {{ postCard(post) }}
      </li>
    {%- endfor -%}
  </ol>
</div>