---
layout: 'base'
title: Startups
description: Find out how can we help you grow your business. 
---

{% from "color-hero.njk" import colorHero %}
{% from "featured-services.njk" import featuredServices %}

{% set 'content' = {
  "title": "Burst through your scale-up bottleneck. We'll be your <em>expert</em> guides.",
  "image": "/assets/images/photos/ship-containers.jpg",
  "text": "No business has “make or break” moments like a startup. At Mainmatter, we can instantly scale-up your team to develop digital products.
   Our experts teach, cross-pollinate and collaborate with our clients for results that go beyond the scope of the project.",
  "alt": "A massive vessel packed with cargo containers navigating in a water channel",
  "loading": "eager",
  "titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'purple', content) }}

{% set 'content' = {
  "title": "Our Startup Ecosystem",
  "subtitle": "We support growth.",
  "text": "We teach, we mentor, we do. Our team of experts can help you strategically push through the next series of growth hurdles - from ideation to design to engineering."
} %}
{{ featuredServices(services['scaleup-services-list'], content) }}

{% set 'content' = {
  "title": "Instantly add years of <em>expertise</em> to your team to make your ideas happen faster.",
  "text": "We are a team of engineers, inventors, designers, strategists, artists and storytellers, but our titles don’t define how we work. Our processes are focused on helping you get the results you need. We partner with our clients to mentor, develop and grow - whether it's your product, your base, your team, or your bottom line.",
  "linkUrl": "/contact/",
  "linkText": "Get started with us today",
  "image": "/assets/images/photos/mainmatter-team-smiles-blur.jpg",
  "alt": "Team member leaning against wall taking notes while talking to three other team members",
  "loading": "lazy"
} %}
{{ colorHero('center', 'large', 'black', content) }}