---
layout: base
title: "Expert Svelte Support for Your Team, On Demand"
description: "Unlimited PR reviews, architecture help, and direct access to world-leading Svelte experts — for a fixed monthly price."
permalink: /svelte-subscription/
og:
  image: /assets/images/svelte-subscription/og-image.jpg
---

{% from "logo-list.njk" import logoList %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "color-hero.njk" import colorHero %}
{% from "btn-secondary.njk" import btnSecondary %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "quote.njk" import quote %}
{% from 'featured-case-study.njk' import featuredCaseStudy %}
{% from "featured-services.njk" import featuredServices %}
{% from "subscription-signup-form.njk" import subscriptionSignupForm %}
{%
  set 'content' = {
  "title": "Expert Svelte Support for Your Team, On Demand",
  "text": "Unlimited PR reviews, architecture help, and direct access to world-leading Svelte experts—for a fixed monthly price.",
  "image": "/assets/images/hero/svelte-subscribe.jpg",
  "alt": "Lifebuoys in a pool",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10 container container--lg">
  <div class="split-content no-link">
    <div class="split-content__wrapper">
      <div class="split-content__content">
        <h3 class="split-content__subheading h2">Ship Better Svelte Code, Faster</h3>
        <p>
          Our Svelte experts, led by Svelte maintainer
          <a href="https://github.com/paoloricciuti">Paolo Ricciuti</a>, review all of your Svelte
          PRs and are only a Slack message away to answer any question your team runs into. We
          enable teams to ship faster, with higher quality, resolve blockers, level up juniors, and
          avoid dead-ends.
        </p>
        {%
          set link = {
          "label": 'Sign up today for 1.500€ per seat/month, cancel anytime',
          "url": '#signup-subscription'
          }
        %}
        {{ btnSecondary( link, 'mt-2' ) }}
      </div>
      <div class="split-content__feature">
        {% include 'content/secondary-feature-svelte-consulting.njk' %}
      </div>
    </div>
  </div>
</section>

{%
  set 'content' = {
  "subtitle": "Scale Your Svelte Team Without Hiring"
  }
%}
{%
  set 'features' = [{
  "heading": "Unlimited PR Reviews",
  "text": "Ensure code quality, avoid pitfalls, and level up"
  },{
  "heading": "Private Slack Access",
  "text": "A direct line to Svelte experts, 24h response time"
  },{
  "heading": "Weekly Dedicated Time",
  "text": "1h per week for pairing, whiteboard sessions or hiring support"
  },{
  "heading": "Optional Addons",
  "text": "On-demand trainings, hands-on delivery support, audits, and more"
  }]
%}
{{ featuredServices(features, content) }}
{%
  set 'content' = {
  "title": "Sign up for Svelte Expert Support",
  "text": "Sign up today for <strong class=\"strong\">1.500€ per seat per month<sup>*</sup></strong>, with no long-term commitment—<strong class=\"strong\">cancel anytime.</strong><br><small class=\"small\"><sup>*</sup>20% discount for 10+ seats</small>",
  "kind": "svelte"
  }
%}
{{ subscriptionSignupForm(content) }}

<section class="my-10 container container--lg">
  <div class="">
    <div class="mb-4">
      <h5 class="mb-015">Mainmatter & Svelte</h5>
      <h3 class="mb-2">Deeply Committed to Svelte</h3>
      <p>
        We’re not just Svelte experts—we’re actively shaping the ecosystem. We co-organize Svelte
        Summit, speak at international conferences, run Svelte workshops, contribute to Svelte
        itself and our own open-source projects in the ecosystem.
      </p>
      {%
        set link = {
        "label": 'Learn more about our work with Svelte',
        "url": '/svelte-consulting/'
        }
      %}
      {{ btnSecondary( link, 'mt-2' ) }}
    </div>
  </div>
</section>

<section class="my-10">
  {%
    set imageData = {
    "imgPath": "/assets/images/svelte/konfetti.jpg",
    "alt": "photo of colorful konfetti in front of a blue wall",
    "sizes": "100vw",
    "loading": "lazy",
    "sizesArray": [760, 1440, 1920]
    }
  %}
  {{ imageAspectRatio(imageData, "32/13", "35/19") }}
</section>

<section class="my-10">
  <h2 class="quotes-list__title h2">Our customers say about us</h2>
  <div class="container container--lg">
    {%
      set 'content' = {
      "text": "”Mainmatter enabled us to take our Product Development Organization to the next level. They work closely with our team and help us establish new practices while simultaneously delivering on our day to day product initiatives. Their technical and organizational expertise and fresh views allow us to set up the foundation for future success.”",
      "source": "Jürgen Witte, CPO at Rail Europe"
      }
    %}
    {{ quote(content) }}
  </div>
</section>

<div class="work container container--xl">
  <ul class="work__list">
    {{ featuredCaseStudy('rail-europe', 'purple', 'work__featured-case-study') }}
  </ul>
</div>

{%
  set 'content' = {
  "title": "Sign up",
  "text": "Sign up today for 1.500€ per seat per month, cancel anytime.",
  "linkUrl": "#signup-subscription",
  "linkText": "Sign up"
  }
%}
{{ ctaBanner('purple', 'full', content) }}
