---
eleventyComputed:
  title: "Tagged with “{{ paged.tag }}” {% if paged.number > 1 %}- Page {{ paged.number }}{% endif %}"
description: "Frontend and JavaScript, Svelte and Ember, Rust and WASM, Elixir and Phoenix, Product and Design: Stay on top of what's happening."
layout: base-energy
pagination:
  data: collections.tagsPostsPaged
  size: 1
  alias: paged
permalink: "/blog/tag/{{ paged.tag | slug }}/{% if paged.number > 1 %}/page/{{ paged.number }}/{% endif %}"

---

{% from "color-hero-energy.njk" import colorHero %}
{% from "post-card.njk" import postCard %}
{% from "nav-pagination.njk" import navPagination %}
{% from "cta-banner.njk" import ctaBanner %}

<div class="collection-header">
  <div class="container container--xl">
    <h1>
      <span class="collection-header__heading h4">Tagged with</span>
      <span class="collection-header__heading h3 text--uppercase">#{{ paged.tag }}</span>
    </h1>
    <p class="collection-header__subheading">{{ paged.postTotal }} {% if paged.postTotal === 1 %}post {% else %}posts{% endif %}</p>
  </div>
</div>
<div id="posts" class="container container--xl mb-10">
  {% include 'global/tag-filter.njk' %}
  <div class="post-cards__grid">
    {%- for post in paged.posts -%}
      {{ postCard(post) }}
    {%- endfor -%}
  </div>

  {% if paged.first != true %}
    {%- set previous -%}/blog/tag/{{ paged.tag | slug }}/{% if paged.number > 2 %}page/{{ paged.number -1 }}/{% endif %}{%- endset -%}
  {% endif %}
  {% if paged.last != true %}
    {%- set next -%}/blog/tag/{{ paged.tag | slug }}/page/{{ paged.number + 1}}/{%- endset -%}
  {% endif %}

  {{ navPagination(previous, next) }}

</div>

{% set 'content' = {
  "title": "Grow your business with us",
  "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
  "linkUrl": "/contact",
  "linkText": "Get in touch"
} %}
{{ ctaBanner('aqua', 'full', content) }}
