---
renderData:
  title: Tagged with “{{ paged.tag }}”
layout: base
pagination:
  data: collections.tagsPostsPaged
  size: 1
  alias: paged
permalink: "/blog/tag/{{ paged.tag | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}"
---
<div class="tag-page page container container--lg">
  <h1 class="tag-page__title">{{ paged.tag }}</h1>
  <ol class="post-list">
    {%- for post in paged.posts -%}
      <li class="post-list__item">
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </li>
    {%- endfor -%}
  </ol>
  {% if (paged.first != true) or (paged.last != true) %}
    {% include "pagination.njk" %}
  {% endif %}
</div>
