---
layout: 'base'
title: Talks, Workshops & Podcasts
description: 'We value sharing our expertise. Watch 30+ videos. From Product Design to Engineering. Global events include: JSConf, EmberFest, ReactiveConf, and many more.'
eleventyNavigation:
  key: Talks
  parent: Resources
---

{% from "color-hero.njk" import colorHero %}
{% from "talk-banner.njk" import talkBanner %}
{% from "talk-card.njk" import talkCard %}

{% set 'content' = {
"title": "Guidance from our team of <em>trusted</em> industry experts",
"image": "/assets/images/photos/events.jpg",
"alt": "Mainmatter team member seen from the back presenting to an audience",
"loading": "eager",
"titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'black', content) }}

<div class="talks section">
  <div class="section__introduction container container--xl">
    <h2 class="section__title h5">Browse our past talks</h2>
  </div>
  <div class="talks__container">
    <ol class="talks__list">
      {% for appearance in collections.appearances | reverse %}
        {% if loop.index === 1 %}
          <li class="talks__item talks__item--full-width">
            {{ talkBanner(appearance, "black") }}
          </li>
        {% else %}
          <li class="talks__item"{% if loop.index === 11 %} id="more-talks"{% endif %}>
            {{ talkCard(appearance, "black") }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</div>

{% include 'content/hero-grow-with-us.njk' %}