---
layout: 'base'
title: Talks, Workshops &amp; Podcasts
eleventyNavigation:
  key: Talks
  parent: Resources
---
{% from "channel-card.njk" import channelCard %}
{% from "talk-card.njk" import talkCard %}
<div class="container container--lg talks">
  <div class="section__introduction container--xs">
    <h1 class="section__title">Our talks</h1>
    <p>We strongly believe in the value of sharing our expertise and experience with others. Here are a collection of conference talks and other appearances that members of our team made at various events all over the world in the past years.</p>
  </div>
  <h2 class="section__subtitle">Latest Talks</h2>

  <ol class="talks__channel-list">
    {%- for channel in collections.channelsAppearances -%}
      <li class="talks__channel-grid">
        {{ channelCard(channel) }}
        {% for appearance in channel.appearances %}
          {{ talkCard(appearance) }}
        {% endfor %}
      </li>
    {%- endfor -%}
  </ol>
</div>

{% include 'content/hero-playbook.njk' %}
