---
layout: "base"
title: "Travel - We modernize the travel industry"
description: "We transform travel companies holistically, building modern organizations along with industry-leading products."
---

{% from "color-hero.njk" import colorHero %}
{% from "strategy-list.njk" import strategyList %}
{% from "quote.njk" import quote %}
{% from "featured-case-studies.njk" import featuredCaseStudies %}
{% from "recent-posts.njk" import recentPosts %}
{% from "featured-services.njk" import featuredServices %}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "We modernize the travel industry",
  "text": "We transform companies in the digital travel, transport and mobility industries holistically, building modern organizations along with industry-leading products.",
  "image": "/assets/images/photos/travel-hero.jpg",
  "alt": "Lego city scape",
  "loading": "eager"
  }
%}
{{ colorHero('purple', content) }}

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-4">
      <p class="body">
        We know the products and practices of the leading players in the travel industry and
        elsewhere - in fact, we’ve been involved with shaping them. We can transform your company to
        match these standards. We will assess the status quo, create a roadmap towards your future
        shape, and guide you throughout the journey.
      </p>
    </div>
  </div>
</section>

{%
  set list =  [{
    "title": "Assess the status quo via a thorough analysis of code, architecture, infrastructure, and processes, as well as interviews with stakeholders."
  },{
    "title": "Prepare a roadmap for transforming the product as well as the development organization behind it."
  },{
    "title": "Guide your team through the transformation phase."
  }]
%}

{{ strategyList('launch-your-idea', 'We’ll work with you to:', list) }}

{# TODO: put in download URL once we have the PDF! #}
{%
  set 'content' = {
  "title": "The Travel Transformation Whitepaper",
  "text": "Download our whitepaper for an in-depth analysis of the challenges the digital travel, transport, and mobility industries are facing. Discover what there is to learn from leading tech teams to modernize your company and boost competitiveness.",
  "linkUrl": "#",
  "linkText": "Download Whitepaper"
  }
%}
{{ ctaBanner('aqua', 'default', content) }}

<section class="my-10">
  <div class="container container--lg">
    <div class="mb-4">
      <h2 class="mb-3">Team up with Mainmatter to overcome challenges together</h2>
      <p class="body">
        The travel industry is under rising pressure as user expectations grow, entry barriers
        decrease, gatekeepers like Booking become ever more powerful, and disruptive newcomers enter
        the market. To maintain or expand their market share, established companies must innovate
        quickly, deliver impressive results, and adapt flexibly to a changing landscape. We partner
        with companies in the travel industry to overcome those challenges.
      </p>
    </div>
  </div>
</section>

{% set clients = ['rail-europe'] %}
{{ featuredCaseStudies(clients) }}

<div class="container container--lg quote-section">
  {%
    set 'content' = {
    "text": "Mainmatter enabled us to take our Product Development Organization to the next level. They work closely with our team and help us establish new practices while simultaneously delivering on our day to day product initiatives. Their technical and organizational expertise and fresh views allow us to set up the foundation for future success.",
    "source": "Jürgen Witte, CPO @ Rail Europe",
    "image": "/assets/images/photos/juergen-witte.png",
    "alt": "Jürgen Witte",
    "loading": "lazy"
    }
  %}
  {{ quote(content) }}
</div>

{% set clients = ['trainline', 'hop-skip-drive', 'terminal49', 'aleph-alpha'] %}
{{ featuredCaseStudies(clients) }}

{{ recentPosts("Latest from our blog", collections.travelPosts) }}
{%
  set 'content' = {
  "subtitle": "Discover our services"
  }
%}

<section class="cta-banner cta-banner--purple" data-background-color="purple">
  <div class="cta-banner__wrapper container container--xl">
    <div class="cta-banner__main">
      <h2 class="cta-banner__title">Team up with us!</h2>
      <div class="cta-banner__text">
        We are your partner to modernize your company and boost competitiveness.
      </div>
      <form id="contact-form" class="contact-form__form" data-status="initial">
        <input type="hidden" name="service" id="service" value="Travel" />
        <input type="hidden" name="message" id="message" value="Travel" />
        <div data-form-content class="contact-form__field cta__input mb-2 mt-2">
          <input
            class="contact-form__input"
            id="name"
            type="text"
            name="name"
            placeholder="Your name"
            required
          />
          <label class="contact-form__label h4" for="name">
            Your name
            <span class="screenreader">(Required)</span>
          </label>
          <span class="contact-form__label-required" aria-hidden="true">Required</span>
        </div>
        <div class="contact-form__field cta__input mb-2 mt-2">
          <input
            class="contact-form__input"
            id="company"
            type="text"
            name="company"
            placeholder="Your company's name"
          />
          <label class="contact-form__label h4" for="name"> Your company's name </label>
        </div>
        <div class="contact-form__field cta__input mb-2 mt-2">
          <input
            class="contact-form__input"
            id="email"
            type="email"
            name="EMAIL"
            placeholder="Your e-mail"
            required
          />
          <label class="contact-form__label h4" for="email">
            Your e-mail
            <span class="screenreader">(Required)</span>
          </label>
          <span class="contact-form__label-required" aria-hidden="true">Required</span>
        </div>
        <button class="btn-primary btn-primary--white" type="submit">
          <span>Submit</span>
          {% include 'svg/arrow.njk' %}
        </button>
        <div class="contact-form__status">
          <button class="contact-form__close" data-reset-form>
            {% include 'svg/close.njk' %}
            <span class="screenreader">Close</span>
          </button>
          <div class="contact-form__loading h4" data-form-loading>
            Your message is being sent…
            <div class="loader" aria-hidden="true"></div>
          </div>
          <div class="contact-form__error" tabindex="-1" data-form-error>
            <div class="contact-form__status-wrapper">
              <h2 class="contact-form__success-subheading h3">Unable to send message.</h2>
              <p>
                Please try again later or contact us at
                <a href="mailto:travel@mainmatter.com">travel@mainmatter.com</a>
              </p>
            </div>
          </div>
          <div class="contact-form__success" tabindex="-1" data-form-success>
            <div class="contact-form__status-wrapper">
              <h2 class="contact-form__success-heading h3">Thank you!</h2>
              <p class="contact-form__success-subheading h3">We will be in touch soon.</p>
              <p>One of our experts will get back to you shortly.</p>
              <p>
                In the meantime, have a look at our <a href="/work/">work</a>
                to learn more about how we helped other companies in the past.
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
