---
title: "Workshop: Web-based Services in Rust"
description: "Three half-days workshop with Stefan Baumgartner that teaches developing web applications and web services in Rust."
layout: false
og:
  image: /assets/images/web-based-services-in-rust-workshop/og-image.jpg
---

{% from "author-socials.njk" import authorSocials %}
{% from "image-aspect-ratio.njk" import imageAspectRatio %}
{% from "scroll-slides.njk" import scrollSlides %}
{% from "quote.njk" import quote %}
{% from "color-hero.njk" import colorHero %}
{% from "strategy-list.njk" import strategyList %}
{% from "cta-banner.njk" import ctaBanner %}
{% from "btn-tito.njk" import btnTito %}

<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <title>{{ title }}</title>
    {% include "global/fonts.njk" %}
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/workshop-lp.css" />
    <script src="/assets/js/app.js" defer></script>
    {% block head %}{{ head | safe }}{% endblock %}
    {% include "global/meta.njk" %}
    {% include "global/icons.njk" %}

    <script src="https://js.tito.io/v2/" async></script>
    <script
      defer
      data-domain="rust-web-services-workshop.mainmatter.com"
      src="https://plausible.io/js/script.tagged-events.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body data-js-enabled="false">
    <a class="skip-link" href="#main"> Skip to main content </a>

    <nav class="nav nav--accent-aqua" id="nav">
      <div class="nav__wrapper container container--xl">
        <div class="nav__logo">
          <h1 class="nav__brand">
            {% include 'svg/logo.njk' %}
            <span class="screenreader">Mainmatter</span>
          </h1>
        </div>
        <div class="nav__aside"></div>
      </div>
    </nav>

    <main id="main">
      {%
        set 'hero' = {
        "eyebrow": 'Remote Workshop',
        "title": 'Web-based Services in Rust',
        "text": '<div>11.-13. (14:00 - 18:00 CEST) July 2023</div>
        <div>11.-13. (14:00 - 18:00 CEST) July 2023
        </div>'
        }
      %}
      {{ colorHero('purple', hero) }}
      {%
        set 'content' = {
        "title": "This workshop has already taken place",
        "text": "Take a look at our wide range of workshops to take your team to the next level",
        "linkUrl": "/services/workshops/",
        "linkText": "Our workshops"
        }
      %}
      {{ ctaBanner('aqua', 'default', content) }}
      {%
        set 'content' = {
        "title": "Grow your business with us",
        "text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
        "linkUrl": "/contact",
        "linkText": "Get in touch"
        }
      %}
      {{ ctaBanner('purple', 'full', content) }}
    </main>
    {% include "global/footer.njk" %}
    <div aria-live="polite" id="live-region" class="screenreader"></div>
    <div hidden>
      <p id="external-new-window-message">Opens external website in a new window.</p>
    </div>
    <script>
      document.querySelector("body").setAttribute("data-js-enabled", "true");
    </script>
  </body>
</html>
