---
layout: 'base'
title: Why Mainmatter
eleventyNavigation:
  key: Why Mainmatter
  order: 30
---
{% from "split-hero.njk" import splitHero %}
{% from "color-hero.njk" import colorHero %}
{% from "image-with-text.njk" import imageWithText %}
{% from "image-with-text-stacked.njk" import imageWithTextStacked %}

{% set 'content' = {
  "title": "Your partner in <em>sustainable</em> digital product development",
  "text": "It takes brains to develop a no-brainer. At Mainmatter, we teach, cross-pollinate, and collaborate with our clients to develop digital products and practices they can build on.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ splitHero('left', 'yellow', content) }}

{% set 'content' = {
  "title": "Let’s get to the heart of the matter",
  "text": "<p>We don’t care for trends or theory if the results are impractical, so we strive for effective and pragmatic solutions for complex problems. </p><p>Through guidance and knowledge transfer, we take a long-term view, rather than chasing a short-term high, enabling our clients to shape the future of their digital products.</p>",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ colorHero('bottom', 'purple', content) }}

{% set 'contentBlocks' = [{
  "title": "Moving fast without breaking things",
  "text": "<p>Speed and quality don’t have to be mutually exclusive. We like to move fast without breaking things. This requires a solid foundation and extensive testing.</p><p>Our clients are encouraged to take on an active role in projects. You’ll know that the product meets your needs and expectations, because you’ll be right there with us.</p>"
},{
  "title": "Driving technology forward",
  "text": "We take an active role in the open source projects that we leverage for our clients. Our strong engagement with Open Source provides us with first hand knowledge and insights that our clients benefit from.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
}] %}
{{ imageWithTextStacked('left', contentBlocks) }}

{% set 'content' = {
  "title": "Our Talks",
  "text": "We share our expertise and experience with others at conferences around the world",
  "linkUrl": "/talks/",
  "linkText": "See Our Talks",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ splitHero('left', 'blue', content) }}

{% set 'content' = {
  "title": "Keeping the Conversation going",
  "text": "We strongly believe in the value of sharing our expertise with others. Catch us at a conference near you and we may just be there as organizers, speakers, or sponsors. This is how we keep our fingers on the pulse of the web community, and give back to the people who’ve given so much to us along the way.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ imageWithText('right', content) }}

{% set 'content' = {
  "title": "Conferences",
  "text": "We co-organize EmberFest, the European Community Ember Conference.",
  "linkUrl": "/talks/",
  "linkText": "See Conferences",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "lazy"
} %}
{{ splitHero('right', 'aqua', content) }}

{% set 'content' = {
  "title": "Distributed together",
  "text": "As a fully remote team—currently distributed over 9 countries across Europe—we believe in recruiting top talent from any location. That said, we still value face time. We frequently come together for team events and workshops, and invite our clients to join us as well.",
  "image": "/assets/images/photos/collaboration@1200.jpg",
  "alt": "Alt text",
  "loading": "eager"
} %}
{{ imageWithText('left', content) }}

{% include 'content/hero-grow-with-us.njk' %}
