---
layout: base
title: Workshops
permalink: /resources/workshops/
eleventyNavigation:
  key: Workshops
  parent: Resources
---
{% from "workshop-card.njk" import workshopCard %}

<section class="section container container--lg">
  <div class="section__introduction container--xs">
    <h2 class="section__title">Workshops</h2>
    <p>We teach teams like yours how to build sustainable products that work well today and keep working well tomorrow.</p>
  </div>
  <ul class="workshop-cards">
    {% set workshops = collections.workshops %}
    {%- for workshop in workshops -%}
      {{ workshopCard(workshop) }}
    {%- endfor -%}
  </ul>
</section>

{% include 'content/hero-playbook.njk' %}
