---
layout: 'base'
title: Our Work
description: A proven track record of building mobile and web apps for Europe's fastest growing start-ups and big enterprises – covering everything from design to code.
eleventyNavigation:
  key: Work
  order: 20
---

{% from "color-hero.njk" import colorHero %}
{% from 'featured-case-study.njk' import featuredCaseStudy %}
{% from "client-cards.njk" import clientCards %}
{% set 'content' = {
  "title": "A proven track record of <em>successful</em> projects for international clients",
  "image": "/assets/images/photos/mainmatter-work-hero.jpg",
  "alt": "Man standing at whiteboard presenting to three team members sitting to either side of him",
  "loading": "eager",
  "titleTag": "h1"
} %}
{{ colorHero('center', 'large', 'aqua', false, content) }}
<div class="work container container--xl">
  <h2 class="work__title h5">Meet our clients</h2>
  <ul class="work__list">
    {{ featuredCaseStudy('qonto', 'purple', 'work__featured-case-study') }}
    {{ clientCards(['qonto', 'cardstack', 'generali']) }}
    {{ featuredCaseStudy('trainline', 'black', 'work__featured-case-study') }}
    {{ clientCards(['mvb', 'camilyo', 'hop-skip-drive']) }}
    {{ featuredCaseStudy('timify', 'purple', 'work__featured-case-study') }}
    {{ clientCards(['trainline', 'ringler', 'neighbourhoodie', 'poellath', 'dim3', 'loconet']) }}
    {{ featuredCaseStudy('ddwrt', 'black', 'work__featured-case-study') }}
    {{ clientCards(['robin-hood', 'timify', 'erdil', 'clark', 'embedd', 'sutori']) }}
    {{ featuredCaseStudy('expedition', 'purple', 'work__featured-case-study') }}
    {{ clientCards(['xbav', 'medify', 'asimilia', 'experteer', 'expedition']) }}
  </ul>
</div>

{% set 'content' = {
"title": "Grow <em>your business</em> with us",
"text": "Our experts are ready to guide you through your next big move. Let us know how we can help.",
"linkUrl": "/contact/",
"linkText": "Get in touch",
"image": "/assets/images/photos/grow-with-us-playbook.jpg",
"alt": "Hands gesturing in front of laptop",
"loading": "lazy"
} %}
{{ colorHero('center', 'small', 'purple', true, content) }}
