@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left from "../../styles/blocks/shape/shape-left.block.css";
@block shape-decoration from "../../styles/blocks/shape/shape-decoration.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: related-article;
  --accent-color: #000;
  --shape-decoration-position-right: -92em;
  --shape-decoration-position-top: -20em;
}

.background {
  background: linear-gradient(to bottom right, #e05c43, #f4ba80);
}


