<div class="shape.wrap">
  <div class="shape-left">
    <div class="shape-left.background background">
      <div class="shape-left.content">
        <div class="shape.content-image">
          <img class="fluid-image.image" src="/assets/images/emberconf-2019-logo.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="shape.caption">
    <div class="shape.caption-content">
      <p class="typography.small-text">
        Keep Reading
      </p>
      <h3 class="typography.sub-heading">
        simplabs at EmberConf 2019
      </h3>
      <a class="typography.arrow-link" href="#">
        Read Case Study
      </a>
    </div>
  </div>
  <div class="shape-decoration">
    <div class="shape-decoration.background background"></div>
  </div>
</div>