<Card
  @label="Ember.js"
  @src="/assets/images/card/simplabs-sponsoring-ember.png"
  @title="Official Ember.js Sponsor"
  @alt="simplabs :heart: ember"
>
  <p>
    We recently have been recognized as an official
    <a href="https://emberjs.com/sponsors">
      sponsor
    </a>
    of the Ember.js project along with international brands like LinkedIn and Yahoo.
  </p>
  <ArrowLink @href="/ember-consulting/">
    Learn why we care about Ember.js
  </ArrowLink>
</Card>