$timify-primary-background-color: #da2b36;
$timify-primary-highlight-color: #fff;
$timify-secondary-highlight-color: #d15052;

body.timify-case {
  @include custom-header(
    $timify-primary-highlight-color,
    $timify-primary-background-color,
    $timify-primary-highlight-color,
    $timify-primary-background-color
  );

  #main-menu {
    .logo * {
      fill: $ternary-highlight-color;
    }
  }

  .primary-banner {
    background-color: $timify-primary-background-color;
  }

  .content-section {
    h2 {
      color: $timify-secondary-highlight-color;
    }

    a {
      color: $timify-secondary-highlight-color;
    }

    &.quote {
      blockquote:before {
        color: $timify-secondary-highlight-color;
      }
    }
  }
}

.content-section.case-teaser.timify {
  background-color: $timify-primary-background-color;
  color: #fff;
  padding: 2rem 0;

  .logo {
    width: 40rem;
    margin-right: 1rem;

    * {
      fill: $ternary-highlight-color;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    .logo {
      width: 30%;
      display: block;
      margin: 0 auto 1rem auto;
    }
  }
}
