$timify-primary-menu-background-color: transparent;
$timify-highlight-color: #d6303b;
$timify-secondary-background-color: #d6303b;
$timify-secondary-foreground-color: #fff;

body.timify-case {
  @include custom-header(
    $secondary-text-color,
    $timify-primary-menu-background-color,
    $timify-secondary-foreground-color,
    $timify-secondary-background-color
  );

  #main-menu {
    .logo * {
      fill: $ternary-highlight-color;
    }
  }

  .primary-banner {
    background: url("/images/cases/timify/header-background.jpg") $timify-primary-menu-background-color no-repeat;
    background-size: cover;

    h1 {
      color: $secondary-text-color;
    }
  }

  .content-section {
    h2 {
      color: $timify-highlight-color;
    }

    a {
      color: $timify-highlight-color;
    }

    &.highlight {
      background-color: $timify-secondary-background-color;
      color: $timify-secondary-foreground-color;
    }

    &.banner {
      background: url("/images/cases/timify/banner-background.jpg") $timify-secondary-background-color center right no-repeat;
      background-size: cover;
      color: $timify-secondary-foreground-color;

      h3, h4 {
        font-family: helvetica neue;
      }

      h3 {
        font-size: 1.5rem;
      }

      h4 {
        font-size: 2rem;
        margin-top: 1rem;
        font-weight: lighter;
        line-height: 1.4em;
      }
    }
  }

  .contact-banner {
    .container {
      background-color: $timify-secondary-background-color;
      color: $timify-secondary-foreground-color;
    }

    a {
      color: $timify-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $timify-secondary-foreground-color;
    }
  }

  #footer {
    .section-head {
      color: $timify-highlight-color;
    }

    .simplabs-logo {
      .ball {
        fill: $timify-highlight-color;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .primary-banner {
      padding: #{$top-spacing} 0 10rem 0;
    }

    .content-section {
      &.intro {
        padding-top: 0;
        margin-top: -100px;

        p:first-of-type {
          margin-top: 100px;
        }
      }
    }
  }
}

.content-section.case-teaser.timify {
  background-color: $timify-secondary-background-color;
  color: #fff;
  padding: 2rem 0;
 
  .logo {
    width: 40rem;
    margin-right: 1rem;
 
    * {
      fill: $ternary-highlight-color;
     }
   }
 
  a {
    color: #fff;
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    .logo {
      width: 20rem;
      margin: 0 1rem 0 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .logo {
      width: 30%;
      display: block;
      margin: 0 auto 1rem auto;
    }
  }
}

.case-teaser-small.timify {
  background: url("/images/cases/timify/daily-view.png") $timify-secondary-background-color right 10% top 20% no-repeat;
  background-size: 40%;
  color: $timify-secondary-foreground-color;
  box-shadow: 0px 0px 20px #bbb;
  padding: 2rem;
  width: 100%;

  a {
    color: $timify-secondary-foreground-color;
    text-decoration: none;
    display: block;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 25%;
    margin-bottom: 1rem;

    * {
      fill: $timify-secondary-foreground-color;
    }
  }
}
