body.trainline-case {
  $trainline-primary-menu-background-color: transparent;
  $trainline-highlight-color: #02f3c1;
  $trainline-secondary-background-color: #02f3c1;
  $trainline-secondary-foreground-color: #fff;

  @include custom-header(
    $secondary-text-color,
    $trainline-primary-menu-background-color,
    $trainline-secondary-foreground-color,
    $trainline-secondary-background-color
  );

  #main-menu {
    .logo * {
      fill: $ternary-highlight-color;
    }
  }

  .primary-banner {
    background: url("/images/cases/trainline/header-background.jpg") $trainline-primary-menu-background-color no-repeat;
    background-size: cover;

    h1 {
      color: $secondary-text-color;
    }
  }

  .content-section {
    h2 {
      color: $trainline-highlight-color;
    }

    a {
      color: $trainline-highlight-color;
    }

    &.quote {
      blockquote:before {
        color: $trainline-highlight-color;
      }
    }
  }

  .contact-banner {
    .container {
      background-color: $trainline-secondary-background-color;
      color: $trainline-secondary-foreground-color;
    }

    a {
      color: $trainline-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $trainline-secondary-foreground-color;
    }
  }

  #footer {
    .section-head {
      color: $trainline-highlight-color;
    }

    .simplabs-logo {
      .ball {
        fill: $trainline-highlight-color;
      }
    }
  }
}
