$trainline-primary-menu-background-color: transparent;
$trainline-highlight-color: #53dbc2;
$trainline-secondary-background-color: #53dbc2;
$trainline-secondary-foreground-color: #fff;

body.trainline-case {
  @include custom-header(
    $secondary-text-color,
    $trainline-primary-menu-background-color,
    $trainline-secondary-foreground-color,
    $trainline-secondary-background-color
  );

  #main-menu {
    .logo * {
      fill: $ternary-highlight-color;
    }
  }

  .primary-banner {
    background: url("/images/cases/trainline/header-background.jpg") $trainline-primary-menu-background-color no-repeat;
    background-size: cover;

    .logo {
      width: 20rem;
      margin: 4rem 0;
    }
  }

  .content-section {
    h2 {
      color: $trainline-highlight-color;
    }

    a {
      color: $trainline-highlight-color;
    }

    &.highlight {
      background-color: $trainline-secondary-background-color;
      color: $trainline-secondary-foreground-color;
    }
  }

  .contact-banner {
    .container {
      background-color: $trainline-secondary-background-color;
      color: $trainline-secondary-foreground-color;
    }

    a {
      color: $trainline-secondary-foreground-color;
    }

    .icon-contact * {
      fill: $trainline-secondary-foreground-color;
    }
  }

  #footer {
    .section-head {
      color: $trainline-highlight-color;
    }

    .simplabs-logo {
      .ball {
        fill: $trainline-highlight-color;
      }
    }
  }

  @media screen and (min-width: 767px) {
    .primary-banner {
      padding: #{$top-spacing} 0 10rem 0;
    }

    .content-section {
      &.intro {
        padding-top: 0;
        margin-top: -160px;

        p:first-of-type {
          margin-top: 160px;
        }
      }
    }
  }
}

.content-section.case-teaser.trainline {
  background: url("/images/cases/trainline/teaser-background.jpg") $trainline-highlight-color center right no-repeat;
  background-size: cover;
  color: #fff;
  padding: 2rem 0;
  margin-top: 6rem;

  .logo {
    width: 10rem;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color;
    }
  }

  .teaser-image {
    margin-top: -6rem;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
    background: $trainline-highlight-color;
  }
}

.case-teaser-small.trainline {
  background: url("/images/cases/trainline/mobile.png") $trainline-secondary-background-color right 10% top -80% no-repeat;
  background-size: 30%;
  color: $trainline-secondary-foreground-color;
  box-shadow: 0px 0px 20px #bbb;
  padding: 2rem;
  width: 100%;

  a {
    color: $trainline-secondary-foreground-color;
    text-decoration: none;
    display: block;
  }

  strong {
    background-color: $ternary-background-color;
    color: $secondary-text-color;
    font-weight: normal;
  }

  .logo {
    width: 50%;
    margin-bottom: 1rem;

    * {
      fill: $ternary-highlight-color;
    }
  }

  p {
    width: 50%;
  }
}
