body.trainline-case {
  $trainline-primary-menu-background-color: transparent;
  $trainline-primary-menu-scrolled-background-color: #02f3c1;
  $trainline-primary-header-background-color: #00c6a6;
  $trainline-primary-highlight-color: #fff;
  $trainline-secondary-highlight-color: #00c6a6;

  @include custom-header(
    $trainline-primary-highlight-color,
    $trainline-primary-menu-background-color,
    $trainline-primary-highlight-color,
    $trainline-primary-menu-scrolled-background-color
  );

  #main-menu {
    .logo * {
      fill: $ternary-highlight-color;
    }
  }

  .primary-banner {
    background: url("/images/cases/trainline/header-background.jpg") $trainline-primary-header-background-color no-repeat;
    background-size: cover;
  }

  .content-section {
    h2 {
      color: $trainline-secondary-highlight-color;
    }

    a {
      color: $trainline-secondary-highlight-color;
    }

    &.quote {
      blockquote:before {
        color: $trainline-secondary-highlight-color;
      }
    }
  }
}
