@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: PageWork;
  extends: screen;
}

.content {
  composes: 'main-block.content';
}

.more {
  margin-bottom: 8rem;
}

.more-headline {
  margin-bottom: 3rem;
}
