@block layout from "../../styles/blocks/layout.block.css";
@block link from "../../styles/blocks/link.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageWork;
  composes: 'layout';
}

.more {
  margin-bottom: 8rem;
  margin-left: 0;
  list-style: none;
}

.more-headline {
  margin-bottom: 3rem;
}

@export link;
@export typography;
@export layout;
@export offset;
