@block container from "../../styles/blocks/container.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageWork;
  composes: 'layout';
}

.more {
  margin-bottom: 8rem;
  list-style: none;
}

.more-headline {
  margin-bottom: 3rem;
}
