@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageWork;
  composes: 'layout';
}

@media (max-width: 887px) {
  .trainline-screenshot-desktop,
  .timify-screenshot-desktop {
    display: none;
  }
}

@media (min-width: 888px) {
  .trainline-screenshot-mobile {
    display: resolve('layout.bleed-right');
    display: none;
  }

  .timify-screenshot-mobile {
    display: resolve('layout.bleed-left');
    display: none;
  }
}

.trainline-shape-desktop,
.timify-shape-desktop {
  background-image: url(/assets/images/photos/trainline-comp@1208.jpg);
  padding-bottom: 50%;
  background-size: cover;
  clip-path: polygon(0 81%, 57% 100%, 100% 79%, 100% 29%, 40% 0, 0 19.5%);
  -webkit-clip-path: polygon(0 81%, 57% 100%, 100% 79%, 100% 29%, 40% 0, 0 19.5%);
}

@media (min-width: 888px) {
  .trainline-shape-desktop {
    margin-top: -10rem;
  }
}

.trainline-shape-desktop {
  background-image: url(/assets/images/photos/trainline-comp@1208.jpg);
}

@media (max-width: 887px) {
  .trainline-shape-desktop {
    background-image: url(/assets/images/photos/trainline-comp@604.jpg);
  }
}

.timify-shape-desktop {
  background-image: url(/assets/images/photos/timify-desktop@1200.jpg);
}

@media (max-width: 887px) {
  .timify-shape-desktop {
    background-image: url(/assets/images/photos/timify-desktop@600.jpg);
  }
}

@media (min-width: 888px) {
  .timify-text {
    order: 1;
  }

  .timify-logo {
    order: 2;
  }

  .timify-screenshot-desktop {
    order: 3;
  }
}

@export typography;
@export layout;
@export offset;
