<div>
  <Header
    @active="work"
    @title="Work"
    @documentTitle="Successful projects for international clients | Work"
    @description="simplabs has a proven track record of successful projects for international clients. We have worked with companies from small startups to big enterprises."
  >
    <HeaderContent @label="Work" @headline="A proven track record of successful projects for international clients." />
  </Header>
  <div layout:class="split-leading">
    <h2>
      <a href="/cases/trainline/" data-internal>
        Leveraging Trainline's full market potential
      </a>
    </h2>
  </div>
  <div layout:class="split-trailing">
    <p typography:class="lead">
      Trainline is Europe’s leading independent rail and coach platform. We worked with them to deliver a high-performance mobile web app, along with an improved engineering process, enabling Trainline to achieve their business goals for years to come.
    </p>
    <ArrowLink @href="/cases/trainline/">
      Read Case Study
    </ArrowLink>
  </div>
  <ShapeBold
    @backgroundA="#21314D"
    @backgroundB="#48D6B6"
    @srcset="/assets/images/work/trainline-comp@604.png 604w, /assets/images/work/trainline-comp@1208.png 1208w"
    @sizes="(max-width: 887px) 604px, 1208px"
    @logo="/assets/images/logos/trainline.svg"
    @logoAlt="Trainline"
    @logoLabel="Mobile Web App"
    @key="boldTrainline"
  />

  <ClientsGrid @title="Meet our clients" />
  <div layout:class="split-leading">
    <h2>
      <a href="/cases/timify/" data-internal>
        Modern online appointment scheduling
      </a>
    </h2>
  </div>
  <div layout:class="split-trailing" offset:class="after-5">
    <p typography:class="lead">
      Timify is an online appointment scheduling service that connects service providers with clients. When they decided it was time to re-engineer their existing product, they trusted us to set them up for future success.
    </p>
    <ArrowLink @href="/cases/timify/">
      Read Case Study
    </ArrowLink>
  </div>
  <ShapeBold
    @backgroundA="#2A4058"
    @backgroundB="#CB3B43"
    @srcset="/assets/images/work/timify@600.png 600w, /assets/images/work/timify@1200.png 1200w"
    @sizes="(max-width: 887px) 600px, 1200px"
    @logo="/assets/images/logos/timify.svg"
    @logoAlt="Timify"
    @logoLabel="Web App"
    @reverse="true"
    @key="boldTimify"
  />

  <div layout:class="main" offset:class="after-21">
    <h2>
      More Case Studies
    </h2>
    <ul>
      <li block:class="more">
        <h3 typography:class="h4">
          A modern UI for an open-source router firmware
        </h3>
        <ArrowLink @href="/cases/ddwrt/">
          Read Case Study
        </ArrowLink>
      </li>
      <li block:class="more">
        <h3 block:class="more-headline" typography:class="h4">
          An online travel magazine for global citizens
        </h3>
        <ArrowLink @href="/cases/expedition/">
          Read Case Study
        </ArrowLink>
      </li>
    </ul>
  </div>
  <ShapeAcrossPlaybook />
  <WorkWithUs />
  <Footer />
</div>