<div>
  <Header
    @active="work"
    @title="Work"
    @documentTitle="Successful projects for international clients | Work"
    @description="simplabs has a proven track record of successful projects for international clients. We have worked with companies from small startups to big enterprises."
  >
    <HeaderContent @label="Work" @headline="A proven track record of successful projects for international clients." />
  </Header>
  <div layout:class="bleed-left">
    <ShapeImage
      @srcset="/assets/images/work/trainline.svg"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing">
    <h2>
      <p typography:class="small">
        Featured Case Study
        <span typography:class="hidden">
          :
        </span>
      </p>
      Leveraging Trainline's full market potential
    </h2>
    <p typography:class="lead">
      Trainline is Europe’s leading independent rail and coach platform. We worked with them to deliver a high-performance mobile web app, along with an improved engineering process, enabling Trainline to achieve their business goals for years to come.
    </p>
    <ArrowLink @href="/cases/trainline/">
      Read Case Study
    </ArrowLink>
  </div>

  <ClientsGrid @title="Meet our clients" />
  <div layout:class="split-leading">
    <h2>
      <a href="/cases/timify/" data-internal>
        Modern online appointment scheduling
      </a>
    </h2>
  </div>
  <div layout:class="split-trailing" offset:class="after-5">
    <p typography:class="lead">
      Timify is an online appointment scheduling service that connects service providers with clients. When they decided it was time to re-engineer their existing product, they trusted us to set them up for future success.
    </p>
    <ArrowLink @href="/cases/timify/">
      Read Case Study
    </ArrowLink>
  </div>
  <ShapeBold
    @backgroundA="#2A4058"
    @backgroundB="#CB3B43"
    @srcset="/assets/images/work/timify@600.png 600w, /assets/images/work/timify@1200.png 1200w"
    @sizes="(max-width: 887px) 600px, 1200px"
    @logo="/assets/images/logos/timify.svg"
    @logoAlt="Timify"
    @logoLabel="Web App"
    @reverse="true"
    @key="boldTimify"
  />

  <div layout:class="full">
    <h2>
      More Case Studies
    </h2>
  </div>
  <div layout:scope offset:class="after-21">
    <div layout:class="split-leading">
      <h3 typography:class="h4">
        A modern UI for an open-source router firmware
      </h3>
      <ArrowLink @href="/cases/ddwrt/">
        Read Case Study
      </ArrowLink>
    </div>
    <div layout:class="split-trailing">
      <h3 typography:class="h4">
        An online travel magazine for global citizens
      </h3>
      <ArrowLink @href="/cases/expedition/">
        Read Case Study
      </ArrowLink>
    </div>
  </div>

  <ShapeFeaturePlaybook />

  <WorkWithUs @teamMember="ghislaine" />
  <Footer />
</div>