<div>
  <Header
    @active="work"
    @title="Work"
    @documentTitle="Our Work – How we helped ship world-class web & nobile apps"
    @description="A proven track record of building mobile and web apps for Europe's fastest growing start-ups and big enterprises – covering everything from design to code."
  >
    <HeaderContent @label="Work" @headline="A proven track record of successful projects for international clients." />
  </Header>

  <div layout:class="bleed-left" offset:class="after-5">
    <ShapeImage @srcset="/assets/images/work/qonto.svg" @align="left" @variant="mobile-flat" />
  </div>
  <div layout:class="split-trailing" offset:class="after-5">
    <h2>
      <p typography:class="small">
        Featured Case Study
        <span typography:class="hidden">
          :
        </span>
      </p>
      Co-Engineering the Future of Banking for SMEs
    </h2>
    <p typography:class="lead">
      Qonto is a B2B Neobank that offers bank accounts as well as credit cards to more than 75000 freelancers and SMEs in Europe. We worked closely
      with their in-house engineers, enabling them to sustainably move at a faster pace, delivering higher quality at the same time.
    </p>
    <ArrowLink @href="/cases/qonto/">
      Read Case Study
    </ArrowLink>
  </div>
  <div layout:class="full" offset:class="after-21" block:class="qonto-screenshot-desktop">
    <div block:class="qonto-shape-desktop">
    </div>
  </div>
  <div layout:class="bleed-right" offset:class="after-21" block:class="qonto-screenshot-mobile">
    <ShapeImage
      @srcset="/assets/images/work/qonto-alternative@800.jpg 800w, /assets/images/work/qonto-alternative@1600.jpg 1600w"
      @sizes="(max-width: 887px) 800px, 1600px"
      @align="right"
    />
  </div>

  <ClientsGrid @title="Meet our clients" @only="qonto,cardstack,generali,poellath,robinhood,clark,xbav,experteer,mvb" />

  <div layout:scope>
    <div layout:class="bleed-right" offset:class="after-5" block:class="trainline-logo">
      <ShapeImage @srcset="/assets/images/work/trainline.svg" @align="right" @variant="mobile-flat" />
    </div>
    <div layout:class="split-leading" offset:class="after-12" block:class="trainline-text">
      <h2>
        <p typography:class="small">
          Featured Case Study
          <span typography:class="hidden">
            :
          </span>
        </p>
        Leveraging Trainline's full market potential
      </h2>
      <p typography:class="lead">
        Trainline is Europe’s leading independent rail and coach platform. We worked with them to deliver a high-performance mobile web app, along with an improved engineering process, enabling Trainline to achieve their business goals for years to come.
      </p>
      <ArrowLink @href="/cases/trainline/">
        Read Case Study
      </ArrowLink>
    </div>
    <div layout:class="full" offset:class="after-21" block:class="trainline-screenshot-desktop">
      <div block:class="trainline-shape-desktop">
      </div>
    </div>
    <div layout:class="bleed-left" offset:class="after-21" block:class="trainline-screenshot-mobile">
      <ShapeImage
        @srcset="/assets/images/photos/trainline-comp@604.jpg 604w, /assets/images/photos/trainline-comp@1208.jpg 1208w"
        @sizes="(max-width: 887px) 604px, 1208px"
        @align="left"
      />
    </div>
  </div>

  <ClientsGrid
    @only="camilyo,hopskipdrive,dim3,timify,embedd,medify,expedition,trainline,ringler,neighbourhoodie,loconet,erdil,sutori"
  />

  <div layout:class="bleed-left" offset:class="after-5">
    <ShapeImage @srcset="/assets/images/work/timify.svg" @align="left" @variant="mobile-flat" />
  </div>
  <div layout:class="split-trailing" offset:class="after-5">
    <h2>
      <p typography:class="small">
        Featured Case Study
        <span typography:class="hidden">
          :
        </span>
      </p>
      Modern online appointment scheduling
    </h2>
    <p typography:class="lead">
      Timify is an online appointment scheduling service that connects service providers with clients. When they decided it was time to re-engineer their existing product, they trusted us to set them up for future success.
    </p>
    <ArrowLink @href="/cases/timify/">
      Read Case Study
    </ArrowLink>
  </div>
  <div layout:class="full" offset:class="after-21" block:class="timify-screenshot-desktop">
    <div block:class="timify-shape-desktop">
    </div>
  </div>
  <div layout:class="bleed-right" offset:class="after-21" block:class="timify-screenshot-mobile">
    <ShapeImage
      @srcset="/assets/images/photos/timify-desktop@600.jpg 600w, /assets/images/photos/timify-desktop@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px"
      @align="right"
    />
  </div>

  <div layout:class="full">
    <h2>
      More Case Studies
    </h2>
  </div>
  <div layout:scope offset:class="after-21">
    <div layout:class="split-leading">
      <h3 typography:class="h4">
        A modern UI for an open-source router firmware
      </h3>
      <ArrowLink @href="/cases/ddwrt/">
        Read Case Study
      </ArrowLink>
    </div>
    <div layout:class="split-trailing">
      <h3 typography:class="h4">
        An online travel magazine for global citizens
      </h3>
      <ArrowLink @href="/cases/expedition/">
        Read Case Study
      </ArrowLink>
    </div>
  </div>

  <ShapeFeaturePlaybook />

  <WorkWithUs @teamMember="ghislaine" />
  <Footer />
</div>