<div>
  <div class="contents">
    <Header @label="Work" @title="We have a track record of successful projects for international clients" />
    <ShapeCenter
      @background="#90E9D4"
      @src="/assets/images/trainline-comp.png"
      @width="1208"
      @height="1268"
      @logo="/assets/images/logos/trainline.svg"
    >
      <ArrowLink @href="/cases/trainline">
        Read about Trainline
      </ArrowLink>
    </ShapeCenter>
    <div class="container">
      <h2 class="typography.small-text">
        Our latest Case Study
      </h2>
      <h3 class="typography.headline-2">
        Leveraging Trainline's full market potential
      </h3>
      <p class="typography.body-text">
        Trainline is Europe’s leading independent rail and coach platform. We worked with them to deliver a high-performance mobile web app, along with an improved engineering process, enabling Trainline to achieve their business goals for years to come.
      </p>
      <ArrowLink @href="/cases/trainline">
        Read Case Study
      </ArrowLink>
    </div>
    <div class="container">
      <div class="grid-block">
        <div class="grid-block.heading">
          <h2 class="typography.headline-1">
            Our Clients
          </h2>
        </div>
        <div class="grid-block.section">
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/trainline.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/timify.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="grid-block.item">
            <div class="grid-block.image-wrapper">
              <img class="grid-block.image" src="/assets/images/logos/cardstack.svg" />
            </div>
            <p class="grid-block.text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <ShapeCenter
      @src="/assets/images/trainline-comp.png"
      @width="1208"
      @height="1268"
      @logo="/assets/images/logos/trainline.svg"
    >
      <ArrowLink @href="#">
        Read about Timify
      </ArrowLink>
    </ShapeCenter>
    <div class="container">
      <h3 class="typography.headline-2">
        Modern online appointment scheduling
      </h3>
      <p class="typography.body-text">
        When Timify decided it was time to re-engineer their existing product, they trusted us to bring them into the future. We added engineering capacity and technology expertise to Timify's internal team and helped to build a solid foundation that enabled them to iterate fast and launch on-schedule, without sacrificing quality.
      </p>
      <ArrowLink @href="#">
        Read Case Study
      </ArrowLink>
    </div>
    <div class="container">
      <h2 class="typography.headline-1">
        More Case Studies
      </h2>
      <div class="main-block">
        <div class="main-block.content-full-width">
          <div class="main-block.content-item">
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  A modern UI for an open-source router firmware
                </h3>
                <ArrowLink @href="#">
                  Read Case Study
                </ArrowLink>
              </div>
            </div>
            <!--section-->
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                <h3 class="typography.headline-2">
                  An online travel magazine for global citizens
                </h3>
                <ArrowLink @href="#">
                  Read Case Study
                </ArrowLink>
              </div>
            </div>
            <!--section-->
          </div>
          <!--content-item-->
        </div>
        <!--content-->
      </div>
      <!--main-block-->
      <!--grid-block-->
    </div>
    <Footer />
  </div>
  <!--contents-->
</div>