@block typography from "../../styles/blocks/typography.block.css";
@block shape from "../../styles/blocks/shape/base.block.css";
@block shape-left from "../../styles/blocks/shape/shape-left.block.css";
@block shape-right from "../../styles/blocks/shape/shape-right.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";

:scope {
  block-name: breethe-thumb;
}

.breethe-left-background {
  background-color: resolve("shape-left.background");
  background-color: #6f42c1;
  background-image: url("/assets/images/sky.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}

.breethe-right-background {
  background-color: resolve("shape-right.background");
  background-color: #6f42c1;
}