<div class="shape.wrap">
  <div class="shape-left">
    <div class="shape-left.background breethe-left-background">
      <div class="shape-left.content">
        <div class="shape.content-image">
          <img class="fluid-image.image" src="/assets/images/trainline-comp.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="shape.caption">
    <div class="shape.caption-content">
      <p class="typography.small-text">
        Keep Reading
      </p>
      <h3 class="typography.headline-2">
        Air quality data for locations around the world
      </h3>
      <a class="typography.arrow-link" href="#" data-navigo>
        Read Case Study
      </a>
    </div>
  </div>
  <div class="shape-decoration">
    <div class="shape-decoration.background breethe-right-background"></div>
  </div>
</div>