@block screen from "../../styles/blocks/screen.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block main-block from "../../styles/blocks/main-block.block.css";
@block list from "../../styles/blocks/list.block.css";

:scope {
  block-name: PageLegalPrivacy;
  extends: screen;
}

.address-line {
  display: block;
}
