@block layout from "../../styles/blocks/layout.block.css";
@block list from "../../styles/blocks/list.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

:scope {
  block-name: PageLegalPrivacy;
  composes: 'layout';
}

.address-line {
  display: block;
}

@export typography;
@export layout;
@export offset;
@export list;
