<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <h1 class="typography.display">
          Europe's leading Ember experts
        </h1>
        <p class="typography.lead">
          simplabs has been an active member of the Ember Ecosystem from the early days. We are the leading Ember consultancy in Europe and are involved in Ember.js core teams like Ember CLI and Ember Learning. We also maintain a number of widely adopted addons.
        </p>
      </div>
      <!--page-header-->
    </div>
    <!--container-->
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              We love open source
            </h2>
            <p class="typography.lead">
              We have a passion for technology and value conventions-based tools. We like to move fast without breaking things and leverage extensive testing and constant reviews to ensure we deliver high quality results.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="/assets/images/icons/ember-auth-icon.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Ember Simple Auth
              </h3>
              <p class="typography.body-text">
                Authentication management for Ember.js applications.
              </p>
              <ArrowLink @href="https://github.com/simplabs/ember-simple-auth">
                View GitHub Project
              </ArrowLink>
            </div>
          </div>
          <!--content-section-->
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="/assets/images/icons/ember-test-selectors.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Ember Test Selectors
              </h3>
              <p class="typography.body-text">
                Authentication management for Ember.js applications.
              </p>
              <ArrowLink @href="https://github.com/simplabs/ember-test-selectors">
                View GitHub Project
              </ArrowLink>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="/assets/images/icons/ember-cookies.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Ember Cookies
              </h3>
              <p class="typography.body-text">
                Authentication management for Ember.js applications.
              </p>
              <ArrowLink @href="https://github.com/simplabs/ember-cookies">
                View GitHub Project
              </ArrowLink>
            </div>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <div class="main-block.content-section-image">
                <img src="/assets/images/icons/ember-qunit-dom.svg" />
              </div>
            </div>
            <!--item-->
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Qunit DOM
              </h3>
              <p class="typography.body-text">
                Authentication management for Ember.js applications.
              </p>
              <ArrowLink @href="https://github.com/simplabs/qunit-dom">
                View GitHub Project
              </ArrowLink>
            </div>
          </div>
        </div>
        <div class="main-block.sidebar">
          <div class="card">
            <p class="typography.small-text">
              Upcoming Events
            </p>
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/emberfest.png" />
            </div>
            <h3 class="card.sub-heading">
              Meet Us at Emberfest 2019
            </h3>
            <p class="card.text">
              EmberFest is a great opportunity to get in touch with the European Ember Community.
            </p>
            <ArrowLink @href="/calendar">
              View Our Calendar
            </ArrowLink>
          </div>
          <!--card-->
        </div>
      </div>
    </div>
    <div class="container">
      <EmberDocumentaryThumb />
    </div>
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-heading">
            <h2 class="typography.headline-1">
              We share our expertise
            </h2>
            <p class="typography.lead">
              Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences and meetups and on our blog.
            </p>
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Conference Talks
              </h3>
              <p class="typography.body-text">
                Every new projects gives us the opportunity to learn and grow our expertise. We share what we learn with the community via talks at conferences and meetups and on our blog.
              </p>
              <ArrowLink @href="/talks">
                View Talks
              </ArrowLink>
            </div>
            <!--item-->
          </div>
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              <h3 class="typography.headline-2">
                Our Blog
              </h3>
              <p class="typography.body-text">
                We share our experience with Ember.js in our blog.
              </p>
              <ArrowLink @href="/blog">
                Read Our Blog
              </ArrowLink>
            </div>
            <!--item-->
          </div>
        </div>
        <div class="main-block.sidebar">
          <p class="typography.small-text">
            Talk Archive
          </p>
          <div class="card">
            <div class="card.image">
              <img class="fluid-image.image" src="/assets/images/card/ember-community.jpg" />
            </div>
            <h3 class="card.sub-heading">
              Community Engagement
            </h3>
            <p class="typography.body-text">
              Ember.js is a project built by an open community and we are an active member of the community. We support the Ember.js Munich and Ember.js Berlin meetups are are co-organizers of EmberFest, the european Ember Community Conference.
            </p>
            <ArrowLink @href="#">
              View Our Calendar
            </ArrowLink>
          </div>
        </div>
      </div>
    </div>
    <!--container-->
    <div class="container">
      <WorkWithUs />
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
</div>