@block layout from "../../styles/blocks/layout.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block button from "../../styles/blocks/button.block.css";
@block header-content from "../HeaderContent/stylesheet.css";
@block media-card from "../../styles/blocks/media-card.block.css";

:scope {
  block-name: PageResources;
  composes: 'layout';
}

.video {
  width: 100%;
  height: 100%;
}

.header-content {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}

@media (max-width: 887px) {
  .video {
    width: auto;
    height: 64rem;
    transform: translateX(calc(-60% + 50vw));
  }

  .video-header {
    margin-top: resolve('header-content');
    margin-top: 0;
  }

  .mobile-after-0 {
    margin-bottom: resolve('offset.after-12');
    margin-bottom: 0;
  }
}

.h1,
.h2 {
  text-align: center;
  color: #fff;
}

.h1 {
  line-height: var(--h1-lh);
  font-size: 8.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5rem;
}

.h2 {
  margin-bottom: 0;
  font-size: 4.5rem;
}

.workshop-card {
  display: flex;
}

.workshop-col-lead {
  grid-column: 2/5;
}

.workshop-col-trail {
  grid-column: -5/-2;
}

.workshop-col-lead:first-child {
  margin-top: 11.25rem;
}

.workshop-card {
  margin-bottom: 21rem;
}

@media (max-width: 887px) {
  .workshops {
    margin-bottom: 4rem;
  }

  .workshop-card {
    margin-bottom: 12rem;
    display: block;
  }

  .workshop-col-lead,
  .workshop-col-trail {
    grid-column: 1/-1;
  }

  .workshop-col-lead:first-child {
    margin-top: 0;
  }
}

.blog-posts-title {
  margin-bottom: resolve('typography.h2');
  margin-bottom: 0;
}

@export header-content;
@export typography;
@export layout;
@export offset;
@export button;
@export media-card;
