@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";

@export layout from "../../styles/blocks/layout.block.css";

:scope {
  block-name: ShapeAcrossFullStackService;
  composes: 'layout';

  grid-column: 1/-1;
}
