<ShapeAcross @background="#222" @src="/assets/images/team-meeting.jpg" @width="7895" @height="5266">
  <h3 class="typography.small-text offset-vertical">
    Playbook
  </h3>
  <p class="typography.body-text">
    We maintain a simple and client-focussed process. Find out more about how we work to deliver ambitious software solutions for our clients.
  </p>
  <ArrowLink @href="/playbook">
    Learn More
  </ArrowLink>
</ShapeAcross>