<div>
  <div class="layout.side offset.after-12-atlarge">
    <h3 class="typography.small">
      Playbook
    </h3>
    <p>
      We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to deliver ambitious software solutions for our clients.
    </p>
    <ArrowLink @href="/playbook/">
      Learn More
    </ArrowLink>
  </div>
  <ShapeAcross
    @background="#222"
    @srcset="/assets/images/photos/coding@900.jpg 900w, /assets/images/photos/coding@1800.jpg 1800w"
    @sizes="(max-width: 887px) 900px, 1800px"
    @key="{{this.key}}-across"
   />

</div>