<ShapeAcross @background="#222" @src="/assets/images/photos/team-meeting.jpg" @width="2636" @height="1938">
  <h3 class="typography.small">
    Playbook
  </h3>
  <p>
    We maintain a lean process that supports the team rather than stand in its way. Find out more about how we work to deliver ambitious software solutions for our clients.
  </p>
  <ArrowLink @href="/playbook">
    Learn More
  </ArrowLink>
</ShapeAcross>