---
layout: default
title: Team Augmentation
---

<header class="page-team-augmentation">
  <div class="jumbotron jumbotron-fluid jumbotron-fluid-team-augmentation">
    <div class="container container-jumbotron">
      <div class="jumbotron-header-wrapper">
        <h1 class="jumbotron-header">
          bring in the experts when you need them
        </h1>
      </div>
    </div>

    <div class="jumbotron-background">
      <div class="jumbotron-background-item jumbotron-background-item-primary">
        <img alt="Image" class="img-fluid jumbotron-background-item-image" src="../images/jumbotron/jumbotron-background-item.png" />
      </div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
      <div class="jumbotron-background-item jumbotron-background-item-secondary"></div>
    </div>
  </div>
</header>

<main>

  <div class="container">
    {% include intro.html
      content=
      "<p>Our technology experts can merge with our client's in-house engineering teams and share their know how. We will spearhead development initiatives, establish best practices and a smooth process as well as train in-house engineers on the job via reviews and pairing sessions.</p>
      <p>We will make sure our clients' in-house engineering team has the <strong>expertise and confidence</strong> to successfully run their project once we have left.</p>"
    %}  
  </div><!--container-->

  <div class="container">
    <div class="row justify-content-start mb-5">
      <div class="col-sm-10">
        <h2 class="display-4 font-weight-black text-lowercase mb-4">Boost Productivity</h2>
        <div class="row">
          <div class="col-sm-6">
            <p class="lead">
              Bringing in experienced engineers can <strong>boost productivity significantly</strong>, ensuring
                  critical milestones are reached on time without sacrificing quality. simplabs' team is
                  well-established, has been working together for years and will make a positive impact on our
                  clients' projects instantly.
            </p>
          </div>
          <div class="col-sm-6">
            <p class="lead">
              Our engineers are technology experts. In fact, we actively contribute to the tools and frameworks
                  we build projects on and chances are you're already running code that our team wrote.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-10">
        {% include client_banner.html
          client="trainline"
          title="Leveraging Trainline's full market potential"
          description="<p>Trainline is Europe’s leading independent rail and coach platform. We helped them build their mobile web app to leverage the full potential of the market.</p>"
          logo_url="../images/trainline/trainline-logo-white.svg"
          image_url="../images/trainline/screen-1.png"
          image_class="w-75"
        %}
      </div>
    </div>
  </div>

  {% include expertise_section.html %}
  {% include contact_banner.html %}
</main>

<script type="text/javascript" src="./../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./../node_modules/jquery-match-height/dist/jquery.matchHeight-min.js"></script>

<script type="text/javascript">
  $(function() {
    $('.card-expertise').matchHeight();
  });
</script>