@block container from "../../styles/blocks/container.block.css";
@block fluid-image from "../../styles/blocks/fluid-image.block.css";
@block layout from "../../styles/blocks/layout.block.css";
@block offset from "../../styles/blocks/offset.block.css";
@block typography from "../../styles/blocks/typography.block.css";
@block button from "../../styles/blocks/button.block.css";

:scope {
  block-name: PageProductDesign;
  composes: 'layout';
}

@export layout;
@export offset;
@export typography;