<div>
  <Header
    @active="services"
    @title="Product Design"
    @documentTitle="Product Design | Our Services"
    @description="Great product design is what makes digital products tick. Research, rapid prototyping and testing turn a vision into remarkable experiences for mobile and web."
    @backgroundVariation="inclined"
  >
    <HeaderContent
      @label="Product Design"
      @headline="Design digital products that users love"
      @attachment="blue-ribbon"
      @srcset="/assets/images/photos/ember-design-system@600.jpg 600w, /assets/images/photos/ember-design-system@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px"
    >
      <p typography:class="lead">
        The greatest product designs are almost invisible—the experience is so simple and fluid, you can barely imagine
        how you'd do things without the product. The process to create such experiences is one of fast iterations, rapid
        prototyping and experimenting our way forward. It's the safest path to practical, elegant and profoundly useful
        digital products.
      </p>
      <p typography:class="lead" offset:class="after-3">
        We cover all aspects of the design process. Our designers and product experts help you at every stage to develop
        your vision into unique experiences.
      </p>
    </HeaderContent>
  </Header>
  <div layout:class="full" offset:class="after-12">
    <h2>
      What we believe about design
    </h2>
    <p typography:class="lead">
      A strong design process allows experimentation and rapid iterations to uncover the true essence of a product. We
      hold a design philosophy that’s about creating digital experiences that are clean, functional and focused.
    </p>
  </div>
  <div layout:class="main" offset:class="after-21">
    <h4>
      Easy is delightful
    </h4>
    <p>
      More than “making it pretty”, design is about providing users functional, effective tools to get the job done with
      confidence, speed and ease.
    </p>
    <ArrowLink @href="/blog/">
      Read more on the blog
    </ArrowLink>
    <h4>
      Every interaction matters
    </h4>
    <p>
      To craft products that users love means hearing every stakeholder, considering all edge cases, and paying
      attention to every corner of the design.
    </p>
    <ArrowLink @href="/playbook/">
      We like doing things “the right way”
    </ArrowLink>
    <h4>
      Clean, functional aesthetics
    </h4>
    <p>
      Modern interfaces should be aesthetic, clean and focused, so that even complicated functionalities can become
      places of joy and delight.
    </p>
    <ArrowLink @href="/contact/">
      Book a call with a designer
    </ArrowLink>
  </div>
  <div layout:class="bleed-right" offset:class="after-21">
    <ShapeImage
      @srcset="/assets/images/photos/wireframe@600.jpg 600w, /assets/images/photos/wireframe@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="right"
    />
  </div>
  <div layout:class="full" offset:class="after-12">
    <h2>
      Your design partner, from “start” to “shipped”
    </h2>
    <p typography:class="lead">
      simplabs provides product design expertise throughout the entire product creation process—from rough concept
      sketches to tested, final implementation.
    </p>
  </div>
  <div layout:class="bleed-left" offset:class="after-16">
    <ShapeImage
      @srcset="/assets/images/photos/whiteboard@600.jpg 600w, /assets/images/photos/whiteboard@1200.jpg 1200w"
      @sizes="(max-width: 887px) 600px, 1200px)"
      @align="left"
    />
  </div>
  <div layout:class="split-trailing" offset:class="after-12">
    <ul list:class="vertical">
      <li list:class="vertical-item">
        Multi-stakeholder design research
      </li>
      <li list:class="vertical-item">
        Ideation across the entire user journey
      </li>
      <li list:class="vertical-item">
        Rapid prototyping & concept development
      </li>
      <li list:class="vertical-item">
        Wireframing & mocks
      </li>
      <li list:class="vertical-item">
        User delight & striking details
      </li>
      <li list:class="vertical-item">
        Adaptive, iterative design process
      </li>
    </ul>
    <ArrowLink @href="/playbook/">
      Learn how we work
    </ArrowLink>
  </div>
  <WorkWithUs @teamMember="ghislaine" />
  <Footer />
</div>