name: CI

on:
  push:
    branches:
      - master
  pull_request: {}
  schedule:
    - cron:  '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: lint
        run: pnpm lint

  visual-regressions:
    name: 'Visual Regressions'
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: build
        run: pnpm percy:build

      - name: snapshots
        env:
          PERCY_TARGET_BRANCH: ${{ github.base_ref }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: pnpm percy dist

  performance:
    name: 'Performance'
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: build
        run: pnpm build

      - name: lighthouse
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        run: pnpm lhci autorun --collect.staticDistDir=./dist --collect.url=http://localhost/ --collect.url=http://localhost/blog/ --collect.url=http://localhost/services/team-reinforcement/ --collect.url=http://localhost/ember-consulting/ --collect.url=http://localhost/playbook/ --collect.url=http://localhost/contact/ --collect.url=http://localhost/services/workshops/hands-on-ember/ --collect.url=http://localhost/blog/2022/09/18/simplabs-becomes-mainmatter/ --upload.target=temporary-public-storage

  crawl:
    name: 'Crawl Links'
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: build
        run: pnpm build

      - name: crawl
        run: pnpm crawl dist

  gravity:
    name: 'Gravity'
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: build
        run: pnpm build

      - name: Run Gravity
        run: pnpm dlx @gravityci/cli "dist/**/!(*.js.map)"
        env:
          GRAVITY_TOKEN: ${{ secrets.GRAVITY_TOKEN }}

  sitemap:
    name: 'Validate sitemap'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get -y install libxml2-utils

      - uses: pnpm/action-setup@v4
        name: Install pnpm
    
      - name: install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    
      - name: build
        run: pnpm build
    
      - name: Validate sitemap
        run: xmllint --noout dist/sitemap.xml
