{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
  "title": "If you're looking to adopt Agentic Engineering and need guidance along the way, reach out!",
  "text": "We can help with <a href='/services/agentic-engineering/' class='plausible-event-name=Agentic+Engineering+Consulting'>adopting Agentic Engineering efficiently, responsibly, and sustainably</a>.",
  "linkUrl": "/contact/",
  "linkText": "Contact us"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
