{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
  "id": "newsletter",
  "title": "Sign up for updates",
  "text": "New chapters are on the way. Subscribe to our newsletter to be the first to find out.",
  "newsletterSignupAction": "//mainmatter.us13.list-manage.com/subscribe?u=50bd3378ab1da4988aa174d0b&id=44c25eef8c",
  "newsletterSignup": true,
  "buttonText": "Sign up"
  }
%}
{{ ctaBanner('purple', 'medium', content) }}
