{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
  "title": "Stay up to date!",
  "text": "Subscribe to our newsletter and stay up to date about the latest events, workshops, and other news around our work.",
  "newsletterSignupAction": "//mainmatter.us13.list-manage.com/subscribe?u=50bd3378ab1da4988aa174d0b&id=be6246b386",
  "newsletterSignup": true
  }
%}
{{ ctaBanner('purple', 'full', content) }}
