{% from "cta-banner.njk" import ctaBanner %}
{% set content = {
  "title": "Stay up to date on Ember",
  "text": "Subscribe to our newsletter to stay informed about the latest events we organise, workshops we hold and blog posts about Ember.",
  "linkUrl": "http://eepurl.com/iPrX5k",
  "linkText": "Subscribe!"
} %}
{{ ctaBanner('aqua', 'full', content) }}