{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
  "title": "If you're facing challenges with Ember and need a helping hand, reach out!",
  "text": "We can help with <a href='/ember-consulting/' class='plausible-event-name=Ember+Consulting'>migrating to Vite, future-proofing your codebase, and multi-framework architectures</a>.",
  "linkUrl": "/contact",
  "linkText": "Contact us today"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
