{#
A call-to-action meant to be displayed at the bottom of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
    "title": "Get Started with Gravity today",
    "subheading": "Gravity is free, so why not give it a try? Head over to Gravity.ci to get started right away.",
    "linkUrl": "https://gravity.ci",
    "linkText": "Start today!"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
