{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}

{% from "cta-banner.njk" import ctaBanner %}

{% set content = {
  "title": "Looking to move towards a design system?",
  "text": "We help teams create an interface inventory and start their journey towards a design system with our design system kickoff workshop.",
  "linkUrl": "/services/workshops/design-system-kickoff-interface-inventory/",
  "linkText": "Book workshop!"
} %}
{{ ctaBanner('purple', 'default', content) }}
