{%- set pageTitle = config.name -%}
{%- set pageDesc = config.description -%}
{%- set pageUrl = "https://mainmatter.com" ~ page.url -%}
{%- set siteTitle = config.name -%}

{%- if title -%}
  {%- set pageTitle = title + ' - ' + config.name -%}
{%- endif -%}

{%- if description -%}
  {%- set pageDesc = description -%}
{%- endif -%}

{%- if canonical -%}
  {%- set pageUrl = canonical -%}
  <link rel="canonical" href="{{ canonical }}" />
{%- endif -%}

{%- if noindex -%}
  <meta name="robots" content="noindex" />
{%- endif -%}

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ pageUrl }}" />

{%- if config.authorHandle -%}
  <meta name="twitter:creator" content="@{{ config.authorHandle | replace('@', '') }}" />
{%- endif -%}

{%- if pageDesc -%}
  <meta name="description" content="{{ pageDesc | striptags(true) | escape | nl2br }}" />
  <meta name="twitter:description" content="{{ pageDesc | striptags(true) | escape | nl2br }}" />
  <meta property="og:description" content="{{ pageDesc | striptags(true) | escape | nl2br }}" />
{%- endif -%}

<meta name="fediverse:creator" content="@mainmatter@fosstodon.org" />

{%- if autoOg and eleventy.env.runMode === "build" -%}
  {% set author = authorHandle | findBySlug %}
  {% setAsync "ogImageUrl" -%}
    {% ogImage "./og-image.og.njk", { title: title, author: author.data, authorHandle: authorHandle } %}
  {%- endsetAsync %}
{%- else -%}
  {% set ogImageUrl=og.image %}
{%- endif -%}

{%- if ogImageUrl -%}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ pageTitle }}" />
  <meta name="twitter:site" content="@mainmatter" />
  <meta property="og:image" content="{{ config.url }}{{ ogImageUrl }}" />
  <meta name="twitter:image" content="{{ config.url }}{{ ogImageUrl }}" />
  <meta property="og:image:alt" content="{{ featured_image_caption }}" />
  <meta name="twitter:image:alt" content="{{ featured_image_caption }}" />
{%- endif -%}

{%- if config.paymentPointer -%}
  <meta name="monetization" content="{{ config.paymentPointer }}" />
{%- endif -%}

{%
  set schemaMeta = {
    "site": {
      "name": "Mainmatter",
      "url": "https://mainmatter.com",
      "logo": {
        "src": meta.site.logo.src,
        "width": meta.site.logo.width,
        "height": meta.site.logo.height
      }
    },
    "language": meta.language,
    "image": {
      "src": meta.image.src
    },
    "url": pageUrl,
    "title": pageTitle,
    "description": pageDesc,
    "organization": meta.organization
  }
%}
{% jsonLdScript schemaMeta, type, tags %}
