<div class="nav__mobile-menu mobile-menu" data-modal data-modal-mobile>
  <div class="mobile-menu__inner" data-modal-mobile-content>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <span class="mobile-menu__link h4">
          {% include 'svg/arrow.njk' %}
          Services
        </span>
        <ul class="mobile-menu__list mobile-menu__list--submenu">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link h4" {% if '/services/team-reinforcement/'==page.url %} aria-current="page" {%
              endif %} href="/services/team-reinforcement/">
              {% include 'svg/arrow.njk' %}
              Team Reinforcement
            </a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link h4" {% if '/services/launch-your-idea/'== page.url %} aria-current="page" {% endif %} href="/serviceslaunch-your-ideae/">
              {% include 'svg/arrow.njk' %}
              Launch your idea
            </a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link h4" {% if '/services/tech-modernization/'== page.url %} aria-current="page" {% endif %} href="/services/tech-modernization/">
              {% include 'svg/arrow.njk' %}
              Tech Modernization
            </a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link h4" {% if '/services/strategic-advice/'== page.url %} aria-current="page" {% endif %} href="/services/strategic-advice/">
              {% include 'svg/arrow.njk' %}
              Strategic Advice
            </a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link h4" {% if '/services/workshops/'==page.url %} aria-current="page" {% endif %}
              href="/services/workshops/">
              {% include 'svg/arrow.njk' %}
              Workshops
            </a>
          </li>
        </ul>
      </li>

      {%- for entry in navPages %}
        <li class="mobile-menu__item">
          <a class="mobile-menu__link h4" {% if entry.url == page.url %} aria-current="page" {% endif %} href="{{ entry.url | url }}">
            {% include 'svg/arrow.njk' %}
            {{ entry.title }}
          </a>
          {% if entry.children.length > 0 %}
            <ul class="mobile-menu__list mobile-menu__list--submenu">
              {% for childEntry in entry.children %}
                <li class="mobile-menu__item">
                  <a class="mobile-menu__link h4" {% if childEntry.url == page.url %} aria-current="page" {% endif %} href="{{ childEntry.url | url }}">
                    {% include 'svg/arrow.njk' %}
                    {{ childEntry.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {%- endfor %}
    </ul>
  </div>
</div>
