<aside class="nav-aside">
  <div class="nav-aside__brand">
    {% include 'svg/logo.njk' %}
    <p class="nav-aside__text caption">
      Let's talk about the challenges you're facing. Our experts are ready to guide you through your next big move.
    </p>
    <a class="nav-aside__cta text--sm" href="/contact/">
      Get in touch
    </a>
  </div>
  {{ socialList(socials.socials, 'nav-aside__socials') }}
</aside>