{% from "social-list.njk" import socialList %}
{% set navPages = collections.all | eleventyNavigation %}
<nav class="nav" id="nav">
  <div class="nav__wrapper container container--xl">
    <div class="nav__logo">
      {% set tag = 'a' %}
      {% if page.url == '/' %}
        {% set tag = 'h1' %}
      {% endif %}
      <{{ tag }} class="nav__brand" {% if tag == 'a' %} href="/" {% endif %}>
        {% include 'svg/logo.njk' %}
        <span class="screenreader">Mainmatter</span>
      </{{ tag }}>
    </div>
    <ul class="nav__list">
      {%- for entry in navPages %}
        <li class="nav__item nav-submenu" {% if entry.children.length > 0 %} data-has-submenu {% endif %}>
          {% if entry.children.length > 0 %}
            <button
              class="nav-submenu__toggle nav__link{% if entry.url == page.url %} {% endif %}"
              aria-expanded="false"
              data-menu-toggle>
              <span class="nav__link-text">{{ entry.title }}</span>
              {% include 'svg/arrow.njk' %}
            </button>
            <div class="nav-submenu__menu" aria-modal="true">
              <div class="nav-submenu__menu-inner">
                <button class="nav-submenu__menu-close" data-menu-close>
                  {% include 'svg/close.njk' %}
                  <span class="screenreader">Close Menu</span>
                </button>
                <div class="submenu__list-wrapper">
                  <ul class="nav-submenu__list">
                    {% for childEntry in entry.children %}
                      <li class="nav-submenu__item">
                        <a class="nav-submenu__link" {% if childEntry.url == page.url %} aria-current="page" {% endif %} href="{{ childEntry.url | url }}">
                          {% include 'svg/arrow.njk' %}
                          <span class="nav-submenu__link-text">{{ childEntry.title }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <aside class="nav-submenu__aside">
                  <div class="nav-submenu__brand">
                    {% include 'svg/logo.njk' %}
                    <p class="nav-submenu__text caption">
                      Let's talk about the challenges you're facing. Our experts are ready to guide you through your next big move.
                    </p>
                    <a class="submenu__cta text--sm" href="/contact/">
                      Get in touch
                    </a>
                  </div>
                  {{ socialList(socials.socials, 'nav-submenu__socials') }}
                </aside>
              </div>
            </div>
          {% else %}
            <a class="nav__link nav__link-text" {% if entry.url == page.url %} aria-current="page" {% endif %} href="{{ entry.url | url }}">
              {{ entry.title }}
            </a>
          {% endif %}
        </li>
      {%- endfor %}
    </ul>
    <div class="nav__aside">
      <a class="nav__cta text--sm" href="/contact/">
        Contact us
      </a>
      <button class="nav__menu-toggle" data-menu-toggle aria-expanded="false">
        {% include 'svg/menu.njk' %}
        {% include 'svg/close.njk' %}
        <span class="screenreader">Toggle Menu</span>
      </button>
      {% include 'global/mobile-menu.njk' %}
    </div>
  </div>
</nav>