{% from "social-list.njk" import socialList %}
{% from "btn-primary.njk" import btnPrimary %}
{% set navPages = collections.all | eleventyNavigation %}

{% if page.url == '/services/workshops/rust/' or page.url == '/playbook/' %}
  {% set ctaColor = 'purple' %}
{% else %}
  {% set ctaColor = 'aqua' %}
{% endif %}

<nav class="nav nav--accent-{{ ctaColor }}" id="nav">
  <div class="nav__wrapper container container--xl">
    <div class="nav__logo">
      {% if page.url == '/' %}
        <h1 class="nav__brand">
          {% include 'svg/logo.njk' %}
          <span class="screenreader">Mainmatter</span>
        </h1>
      {% else %}
        <a class="nav__brand" href="/">
          {% include 'svg/logo.njk' %}
          <span class="screenreader">Mainmatter</span>
        </a>
      {% endif %}
    </div>
    <ul class="nav__list" role="list">
      <li class="nav__item">
        <details class="nav-submenu" data-has-submenu>
          <summary class="nav-submenu__toggle nav__link" data-menu-toggle>
            <span
              class="nav__link-text{% if page.url and '/services/' in page.url %}nav__link-text--active{% endif %}"
              >Services</span
            >
            <span class="nav__link-arrow">{% include 'svg/arrow.njk' %}</span>
          </summary>
          <div
            class="nav-submenu__menu"
            data-modal
            data-modal-desktop
            aria-label="Services submenu"
          >
            <div class="nav-submenu__menu-inner">
              <button class="nav-submenu__menu-close no-js-hidden" data-menu-close>
                {% include 'svg/close.njk' %}
                <span class="screenreader">Close Services submenu</span>
              </button>
              <div class="nav-submenu__list">
                <li class="nav-submenu__list-item mb-2">
                  <a href="/services/team-reinforcement/" class="nav-submenu__link">
                    <div class="nav-submenu__link-wrap">
                      {% include 'svg/arrow.njk' %}
                      <h4 class="nav-submenu__link-text">Team reinforcement</h4>
                    </div>
                    <p class="nav-submenu__link-description">
                      Accelerate delivery and overcome challenges
                    </p>
                  </a>
                </li>
                <li class="nav-submenu__list-item mb-2">
                  <a href="/services/launch-your-idea/" class="nav-submenu__link">
                    <div class="nav-submenu__link-wrap">
                      {% include 'svg/arrow.njk' %}
                      <h4 class="nav-submenu__link-text">Launch your idea</h4>
                    </div>
                    <p class="nav-submenu__link-description">From Concept to MVP</p>
                  </a>
                </li>
                <li class="nav-submenu__list-item mb-2">
                  <a href="/services/tech-modernization/" class="nav-submenu__link">
                    <div class="nav-submenu__link-wrap">
                      {% include 'svg/arrow.njk' %}
                      <h4 class="nav-submenu__link-text">Modernize your tech stack</h4>
                    </div>
                    <p class="nav-submenu__link-description">Upgrades instead of rewrites</p>
                  </a>
                </li>
                <li class="nav-submenu__list-item mb-2">
                  <a href="/services/strategic-advice/" class="nav-submenu__link">
                    <div class="nav-submenu__link-wrap">
                      {% include 'svg/arrow.njk' %}
                      <h4 class="nav-submenu__link-text">Get strategic advice</h4>
                    </div>
                    <p class="nav-submenu__link-description">
                      Assessments, transformation and scaling
                    </p>
                  </a>
                </li>
                <li class="nav-submenu__list-item">
                  <a href="/services/workshops/" class="nav-submenu__link">
                    <div class="nav-submenu__link-wrap">
                      {% include 'svg/arrow.njk' %}
                      <h4 class="nav-submenu__link-text">Tailored Workshops</h4>
                    </div>
                  </a>
                </li>
              </div>
            </div>
          </div>
        </details>
      </li>

      {%- for entry in navPages -%}
        <li class="nav__item" {% if entry.children.length > 0 %}data-has-modal{% endif %}>
          {% if entry.url == '/work/' %}
            {% set parentChildCompare = '/cases/' %}
          {% else %}
            {% set parentChildCompare = entry.url %}
          {% endif %}
          <a
            class="nav__link nav__link-text{% if entry.url == page.url or (page.url and parentChildCompare in page.url) %}nav__link-text--active{% endif %}"
            {% if entry.url == page.url %}aria-current="page"{% endif %}
            href="{{ entry.url | url }}"
          >
            {{ entry.title }}
          </a>
        </li>
      {%- endfor -%}
    </ul>

    <div class="nav__aside">
      {%
        set link = {
        "label": "Contact us",
        "url": "/contact/"
        }
      %}
      {{ btnPrimary( link, ctaColor, 'nav__cta' ) }}
      <details class="nav__mobile-menu-wrapper" data-has-submenu>
        <summary class="nav__menu-toggle" data-menu-toggle data-menu-mobile-close-toggle>
          {% include 'svg/menu.njk' %}
          {% include 'svg/close.njk' %}
          <span class="screenreader">Toggle Menu</span>
        </summary>
        {% include 'global/mobile-menu.njk' %}
      </details>
    </div>
  </div>
</nav>
