<aside class="rebranding-teaser">
  <div class="rebranding-teaser__wrapper container container--lg">
    <div class="rebranding-teaser__text">
      <p class="rebranding-teaser__header"><span class="rebranding-teaser__header-simplabs">simplabs</span> is <span class="rebranding-teaser__header-mainmatter">Mainmatter</span> now!</p>
      <p class="rebranding-teaser__side-text">Read more about our recent rebranding</p>
    </div>
    <a href="/blog/2022/09/18/simplabs-becomes-mainmatter/" class="rebranding-teaser__button">More Info</a>
  </div>
</aside>