{% from "cta-banner.njk" import ctaBanner %}
{%
  set content = {
  "id": "newsletter",
  "title": "Stay up to date on Rust",
  "text": "Subscribe to our newsletter and stay up to date about the latest events, workshops, and other news around Rust.",
  "newsletterSignupAction": "//mainmatter.us13.list-manage.com/subscribe?u=50bd3378ab1da4988aa174d0b&id=f4b3a4ff26",
  "newsletterSignup": true
  }
%}
{{ ctaBanner('aqua', 'full', content) }}
