{% from "cta-link.njk" import ctaLink %}

{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
<div class="blog-cta" data-background-color="purple">
  <h4 class="h4">
    If need expert support for a Rust project, reach out!
  </h4>
  <p>
    We can help with <a href="/rust-consulting/" class="plausible-event-name=Rust+Consulting">mentoring, training, team augmentation, and custom development</a>.</p>
  </p>
  {{ ctaLink("/contact/", "Contact us!", "contact-us plausible-event-name=Rust+Contact") }}
</div>