{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "If you're facing challenges with Rust and need a helping hand, reach out!",
  "text": "We can help with <a href='/rust-consulting/' class='plausible-event-name=Rust+Consulting'>complex C-to-Rust migrations</a>, <a href='/rust-consulting/' class='plausible-event-name=Rust+Consulting'>reliability issues</a>, and <a href='/rust-consulting/' class='plausible-event-name=Rust+Consulting'>skill gaps</a>.",
  "linkUrl": "/contact",
  "linkText": "Contact us"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
