{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "Rust Support Subscription",
  "text": "Open up a direct line to Mainmatter's Rust experts, led by Luca Palmieri.",
  "linkUrl": "/rust-subscription/",
  "linkText": "Learn more"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
