{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "We are hosting Svelte Week on July 21–24...four days of full-day Svelte workshops!",
  "text": "Learn how to build fullstack apps with Svelte: auth, testing, migrating to runes and how to introduce Svelte in your non Svelte project.",
  "linkUrl": "/events/?utm_source=blog&utm_medium=social&utm_campaign=25-06-25-how-to-build-web-components-with-svelte#svelte-5-and-runes",
  "linkText": "Get your ticket now!",
  "class": "cta-banner__svelteWorkshops"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
