{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner-workshops.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "Join our remote workshops in September",
  "workshopTitle1": "September 1–2: Svelte 5 & Runes",
  "workshopDesc1": "This workshop serves as an introduction to Svelte 5's new concepts, as well as a hands-on guide to migrating from old patterns to Svelte 5 and runes.",
  "linkUrl1": "https://ti.to/mainmatter/svelte-5-runes-sept-2025",
  "linkText1": "Sign up for €476",
  "workshopTitle2": "September 3–4: Testing Svelte and SvelteKit Applications",
  "workshopDesc2": "This workshop covers both guidance on what to test and how, as well as concrete techniques for writing tests that are fast, stable, and easy to maintain.",
  "linkUrl2": "https://ti.to/mainmatter/testing-svelte-sept-2025",
  "linkText2": "Sign up for €476",
  "workshopTitle3": "September 15–18: Practical TypeScript",
  "workshopDesc3": " Whether you're new to TypeScript or looking to deepen your understanding of advanced features like generics, conditional types, and branded types, this workshop provides comprehensive coverage with practical, hands-on exercises.",
  "linkUrl3": "https://ti.to/mainmatter/typescript-sept-2025",
  "linkText3": "Sign up for €952",
  "class": "cta-banner__svelteWorkshops"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
