{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "We are hosting Svelte Week on September 1–4...four days of full-day Svelte workshops!",
  "text": "Learn about new concepts introduced in Svelte 5 during our first workshop. Our second workshop will teach you what to test and how to write fast, stable, and maintainable tests.",
  "linkUrl": "https://ti.to/mainmatter/svelte-5-runes-sept-2025",
  "linkText": "Svelte 5 & Runes",
  "linkUrl2": https://ti.to/mainmatter/testing-svelte-sept-2025",
  "linkText2": "Testing Svelte & SvelteKit applications",
  "class": "cta-banner__svelteWorkshops"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
