{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}
{% from "cta-banner.njk" import ctaBanner %}
{%
  set 'content' = {
  "title": "If you're facing challenges with Svelte and need a helping hand, reach out!",
  "text": "We can help with <a href='/svelte-consulting/' class='plausible-event-name=Svelte+Consulting'>Svelte training</a>, <a href='/svelte-consulting/' class='plausible-event-name=Svelte+Consulting'>Svelte 5 migrations</a>, <a href='/svelte-consulting/' class='plausible-event-name=Svelte+Consulting'>testing</a>, and more.",
  "linkUrl": "/contact/",
  "linkText": "Contact us"
  }
%}
{{ ctaBanner('purple', 'default', content) }}
