{#
A call-to-action meant to be displayed at the beginning of a blog post.
#}

{% from "cta-banner.njk" import ctaBanner %}

{% set 'content' = {
  "title": "If you're looking to adopt Svelte and SvelteKit and need guidance along the way,
    reach out!",
  "text": "We can help with <a href='/svelte-consulting/' class='plausible-event-name=Svelte+Consulting'>mentoring, training, Team reinforcement, and custom development</a>.",
  "linkUrl": "/contact/",
  "linkText": "Contact us!"
} %}
{{ ctaBanner('purple', 'default', content) }}
