<div class="tag-filter">
  <h1 class="h5">Blog posts</h1>
  <div class="tag-filter__select-wrapper">
    <label class="tag-filter__label h5" for="tag-select">Filter by:</label>
    <select class="tag-filter__select" name="tag-filter" id="tag-select" data-select>
      <option value="/blog/" {% if paged.tag == false %} selected{% endif %}>All tags</option>
      {% set allTags = collections.tags | getCollectionKeys() %}
      {% for tag in allTags %}
        {% set targetUrl = "/blog/tag/" + tag + "/" %}
        {% set isCurrentPage = targetUrl == page.url %}
        <option value="{{ targetUrl }}" {% if isCurrentPage %} selected{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
</div>