---
layout: default
title: Leading Ember Expertise
class: ember
---

<div class="primary-banner d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-8 offset-sm-2">
        <h1 class="text-center">Ember.js</h1>
        <p class="text-center">A framework for creating <strong>ambitious web applications</strong>.</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <h2>Leading Ember Expertise</h2>
        <p>simplabs has been an <strong>active member of the Ember Ecosystem</strong> from the early days. We are the <strong>leading Ember consultancy in Europe</strong> with a team that's involved in several core teams like Ember CLI, Ember Data and Ember Learning .</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section highlight">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <h2>Stability without Stagnation</h2>
        <p>In the fast moving and ever changing frontend world, <strong>Ember.js is a stable rock to build on</strong>. While being a solid foundation, it values stability and backwards-compatibility. All of these characteristics make it the <strong>perfect choice for ambitious projects that are built for the long term</strong>.</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section open-source">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">We {% octicon heart %} Open Source</h2>
      </div>
      <div class="col-12 col-sm-4 teaser">
        <a href="https://ember-simple-auth.com" class="teaser-link">
          <img src="/images/ember-simple-auth-teaser.png" class="img-fluid teaser-image" alt="logo - ember-simple-auth">
        </a>
      </div>
      <div class="col-12 col-sm-4 teaser">
        <a href="https://ember-test-selectors.com" class="teaser-link">
          <img src="/images/ember-test-selectors-teaser.png" class="img-fluid teaser-image" alt="logo - ember-test-selectors">
        </a>
      </div>
      <!-- TODO: add once we have the logos!
      <div class="col-12 col-sm-4 teaser">
        <a href="https://github.com/simplabs/qunit-dom" class="teaser-link">
          <img src="/images/qunit-dom-teaser.png" class="img-fluid teaser-image" alt="logo - qunit-dom">
        </a>
      </div>
      -->
    </div>
  </div>
</div>

<div class="content-section community">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">
        <h2 class="text-center">Community Engagement</h2>
        <p class="text-center">Ember.js is a project built by an open community and <strong>simplabs is an active member of that community</strong>. We support the <a href="https://www.meetup.com/Ember-js-Munich/">Ember.js Munich</a> and <a href="https://www.meetup.com/Ember-js-Berlin/">Ember.js Berlin</a> meetups as well as <a href="https://emberfest.eu">EmberFest</a>, the european Ember Community Conference.</p>
    	</div>
    </div>
  </div>
</div>

<div class="content-section talks">
  <div class="container">
    <div class="row talks">
      <div class="col-12">
        <h2 class="text-center">We share our expertise</h2>
      </div>
      <div class="col-12 col-sm-4 d-flex flex-column justify-content-between teaser">
        <div>
          <a href="https://www.youtube.com/watch?v=wFJPIjRTIVU"><img src="/images/talks/animate-the-web-with-ember.jpg" alt="Animate the Web with Ember.js" class="img-fluid teaser-image"></a>
          <h5>Animate the Web with Ember.js <span class="speaker">&mdash; Jessica Jordan at EmberConf 2017</span></h5>
        </div>
      </div>
      <div class="col-12 col-sm-4 d-flex flex-column justify-content-between teaser">
        <div>
          <a href="https://pusher.com/sessions/meetup/emberfest/high-level-abstractions"><img src="/images/talks/high-level-assertions.jpg" alt="High Level Assertions" class="img-fluid teaser-image"></a>
          <h5>High Level Assertions <span class="speaker">&mdash; Tobias Bieniek at EmberFest 2017</span></h5>
        </div>
      </div>
      <div class="col-12 col-sm-4 d-flex flex-column justify-content-between teaser">
        <div>
          <a href="https://www.youtube.com/watch?v=81-jwnlg1pQ"><img src="/images/talks/better-test-selectors-leveraging-the-complete-ember-toolbelt.jpg" alt="Better Test Selectors Leveraging the Complete Ember Toolbelt" class="img-fluid teaser-image"></a>
          <h5>Better Test Selectors Leveraging the Complete Ember Toolbelt <span class="speaker">&mdash; Marco Otte-Witte at EmberCamp 2017</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section posts">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">From the Blog</h3>
      </div>
      {% assign ember_posts = site.categories.blog | where: "topic", "ember" %}
      {% for post in ember_posts limit:4 %}
        <div class="col-12 col-sm-6">
          <div>
            <h4>{{post.title}}</h4>
            {{post.excerpt | markdownify}}
          </div>
        </div>
      {%endfor %}
    </div>
  </div>
</div>

{% include contact_banner.html %}