<Card @label="Our Expertise" @src="/assets/images/card/ember.svg">
  <h3 class="typography.headline-3">
    <p class="typography.body-text">
      We are Europe’s Leading Ember Experts.
    </p>
    <ArrowLink @href="/expertise/ember">
      Learn more
    </ArrowLink>
  </h3>
</Card>